<template>
  <div :class="['pdf-container', { active: presentationMode }]">
    <!-- <select v-model="src" style="width: 30em">
			<option v-for="(item, index) in pdfList" :key="index" :value="item" v-text="item"></option>
		</select> -->
    <div v-if="loading">
      <center>
        <d-loader />
      </center>
    </div>
    <div v-if="error" class="pdf-err">
      Нет PDF файла.
    </div>
    <div v-show="!loading && !error" style="height: 100%;">
      <div :class="['pdf-container__wrapper', { 'more-elements': numPages > 1 }]">
        <!-- <div v-if="loadedRatio > 0 && loadedRatio < 1" :style="{ width: loadedRatio * 100 + '%' }"> -->
        <!-- {{ Math.floor(loadedRatio * 100) }} -->
        <!-- </div> -->
        <pdf
          ref="pdf"
          :src="docUrl"
          :page="page"
          @loaded="loading = false"
          @error="errorMsg"
          @num-pages="numPages = $event"
          :key="presentationMode"
        ></pdf>
        <div v-show="!loading && numPages > 1">
          <pdf ref="pdf" :src="docUrl" :page="page + 1" @error="errorMsg" @num-pages="numPages = $event" :key="!presentationMode"></pdf>
        </div>
      </div>
      <div class="pdf-container__bottom-toolbar">
        <div>
          <d-btn class=" pdf-download-btn icon-btn" @click="downloadPDF">
            <d-icon icon="download-reader" class="m-0" />
            {{$t('teacherOffice.download')}}
          </d-btn>
        </div>
        <div>
          <d-btn class=" pdf-arrow icon-btn p-0" @click="prevPage">
            <d-icon icon="left-arrow" />
          </d-btn>

          <!-- {{page}} стр. / {{numPages}} -->
          <input v-model.number="page" type="number" style="width: 5em" /> /
          {{ numPages }}
          <!-- <button @click="rotate += 90">&#x27F3;</button>
                    <button @click="rotate -= 90">&#x27F2;</button> -->
          <!-- <button @click="$refs.pdf.print()">print</button> -->
          <d-btn class=" pdf-arrow icon-btn p-0" @click="nextPage">
            <d-icon icon="angle-right(black)2" />
          </d-btn>
        </div>
        <div>
          <d-btn class=" presentation-btn icon-btn p-0" @click="presentationMode = !presentationMode">
            <d-icon icon="extend-reader" class="m-0" />
          </d-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import pdf from "vue-pdf"

// let loadingTask = pdf.createLoadingTask('');

export default {
  props: {
    document: {
      type: String
    }
  },
  components: {
    pdf,
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-btn": () => import("@/components/buttons/loaderButton"),
    "d-loader": () => import("@/components/loaders/spinner")
  },
  data() {
    return {
      loading: true,
      presentationMode: false,
      page: 1,
      numPages: 0,
      rotate: 0,
      error: false
    }
  },
  computed: {
    docUrl() {
      if (this.document.includes("https")) {
        return this.document
      }
      return this.document.slice().replace("http", "https")
    }
  },
  mounted() {
    // console.log("experiment", this.$refs.pdf);
    document.addEventListener("keydown", this.logKey)
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.unlogKey)
  },
  methods: {
    logKey(e) {
      if (e.key == "Escape") {
        this.presentationMode = false
      }
    },
    unlogKey() {
      this.presentationMode = false
    },
    documentIsLoaded() {
      this.loading = false
    },
    errorMsg() {
      //
      this.loading = false
      this.error = true
      //
      // console.log(err)
      // if (err && err.name == "InvalidPDFException") {
      //   this.loading = false
      //   this.error = true
      // }
    },
    nextPage() {
      if (this.page < this.numPages) this.page = this.page + 1
    },
    prevPage() {
      if (this.page > 1) this.page = this.page - 1
    },
    downloadPDF() {
      let link = document.createElement("a")
      link.download = "name.pdf"
      link.href = this.document
      link.target = "_blank"
      // document.body.appendChild(link)
      // link.click()
      // document.body.removeChild(link)

      let evt = new MouseEvent("click", {
        view: window,
        bubbles: true,
        cancelable: false
      })
      link.dispatchEvent(evt)
      ;(window.URL || window.webkitURL).revokeObjectURL(link.href)
    }
  }
}
</script>

<style lang="scss">
.pdf-container {
  .pdf-err {
    padding-bottom: 20px;
  }

  &.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    z-index: 100;
    background-color: #e6e9ef;

    .pdf-container__wrapper {
      & > span {
        display: unset;
        height: 100%;
        & > canvas {
          max-width: 800px;
        }
      }

      &.more-elements {
        & > div {
          & > span {
            & > canvas {
              // max-height: 600px;
              max-width: 800px;
            }
          }
        }
      }
    }

    .pdf-container__bottom-toolbar {
      position: fixed;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    background-color: #e6e9ef;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;

    &.more-elements {
      & > span {
        display: unset !important;
        margin-right: 20px;
        &:first-child {
          & > canvas {
            float: right;
          }
        }

        & > canvas {
          // max-height: 600px;
          max-width: 500px;
        }
      }
      & > div {
        flex: 1;
        height: 100%;

        & > span {
          height: 100%;
          & > canvas {
            // max-height: 600px;
            max-width: 500px;
          }
        }
      }
    }

    & > span {
      flex: 1;
      display: flex !important;
      align-items: center;
      justify-content: center;

      & > canvas {
        max-width: 500px;
        height: 100%;
      }
    }
  }

  &__bottom-toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: rgba($color: #4a4646, $alpha: 0.8);
    padding: 0 40px;

    & > div {
      flex: 1;
      display: flex;
      color: white;

      &:nth-child(2) {
        align-items: center;
        justify-content: center;

        & > input {
          margin-right: 5px;
        }
      }

      &:last-child {
        align-items: center;
        justify-content: flex-end;
      }
    }

    .pdf-download-btn {
      background-color: #7e7e7e;
      padding: 0 10px;
      height: 36px;
      color: white;
      border-radius: 4px;
      display: flex;
      align-items: center;

      svg {
        height: 20px;
        padding-right: 10px;
      }
    }

    .presentation-btn {
      background-color: #7e7e7e;
      width: 36px;
      height: 36px;
      justify-self: flex-end;
      svg {
        height: 20px;
      }
    }

    .pdf-arrow {
      background-color: transparent;
      height: fit-content;
      outline: none;
      svg {
        fill: white;
        stroke: white;
        height: 12px;
      }

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }
  }
}
</style>
