<template>
  <div class="video">
    <div class="video__header">
      <d-tabs :tab-list="tabList" class="video__header__tabs" />
      <d-btn :loading="false" :text="$t('teacherOffice.uploadVideo')" class="video__header__btn" rounded color="blue" />
    </div>
    <div class="video__list">
      <d-video v-for="(item, index) in videos" :key="index" :galery-item="item" />
    </div>
  </div>
</template>
<script>
import Tabs from "@/components/Tabs"
import loaderButton from "@/components/buttons/loaderButton"
import GaleryBlock from "@/components/GaleryBlock"

export default {
  components: {
    "d-tabs": Tabs,
    "d-btn": loaderButton,
    "d-video": GaleryBlock
  },
  data() {
    return {
      tabList: [
        {
          title: this.$t('teacherOffice.yourVideos'),
          tab: 1
        },
        {
          title: this.$t('teacherOffice.allVideos'),
          link: 2
        }
      ],
      videos: [
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        }
      ]
    }
  }
}
</script>
