<template>
  <div class="connection-detail new-feedback-design">
    <div class="connection-detail__fixed">
      <div class="connection-detail-header title-row custom-card">
        <d-select
          :placeholder="$t('studyDepartment.select')"
          :options="moduleList"
          rounded
          label="name"
          ml
          class="grey rounded is-block mb-5 connection-detail__header__select"
          v-model="moduleId"
        />
        <div class="connection-detail-header__total">
          {{$t('teacherOffice.numberOfRespondents')}}:
          <span>{{ interviewed }}</span>
        </div>
        <!--        <div>-->
        <!--          <router-link :to="{ name: 'cabinetLearningConnectionIdComments' }">-->
        <!--            <d-button-->
        <!--              class="add-group-modal&#45;&#45;btn"-->
        <!--              @click="openModal = !openModal"-->
        <!--              rounded-->
        <!--              color="blue"-->
        <!--              text="Все комментарии"-->
        <!--            >-->
        <!--            </d-button>-->
        <!--          </router-link>-->
        <!--        </div>-->
      </div>
      <div class="connection-detail-stickers custom-card">
        <div class="connection-detail__tbtitle">
          <div class="connection-detail__tbtitle__number">№</div>
          <div class="connection-detail__tbtitle__question question">
            {{$t('teacherOffice.question')}}
          </div>
          <div
            class="connection-detail__tbtitle__variants "
            v-dragscroll
            ref="variants"
            @scroll="scrollVariants"
            @mouseover="changeOnStatisticsScroll"
          >
            <div
              class="connection-detail-stickers__percent answer"
              v-for="(_, index) in variantsCount"
              :key="index"
              :style="`width: calc(100% / ${variantsCount}`"
            >
              Ответ {{ String.fromCharCode(65 + index) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" pt-0 connection-detail__stbox new-feedback">
      <d-line-progress v-if="loading" />
      <div class="connection-detail__stbox__scrollbox" v-else-if="!loading">
        <div class="connection-detail-item custom-card connection-detail-item__block " v-for="(item, index) in detail" :key="item.id">
          <div class="connection-detail-item__number">
            <div class="connection-detail-item__number__circle">
              {{ index + 1 }}
            </div>
          </div>
          <div class="connection-detail-item__bborder ">
            <div class="connection-detail-item__question question">
              {{ $nt(item.text) || "Не заполненно" }}
            </div>
            <div
              v-dragscroll
              class="connection-detail-item__statistics"
              @mouseover="offOnStatisticsScroll(index)"
              @scroll="scrollStatistics(index)"
              ref="statistics"
            >
              <div class="answer" v-for="(el, i) in item.answers" :key="i" :style="`width: calc(100% / ${variantsCount}`">
                <div class="connection-detail-item__percent" v-if="el.id">
                  <d-progress :displayPercent="true" :percent="el.percentage"></d-progress>
                  <div class="connection-detail-item__percent--complexity">
                    {{ $nt(el.text) || "Не заполненно" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import { dragscroll } from "vue-dragscroll"
import select from "@/components/inputs/select"
export default {
  components: {
    // "d-button": () => import("@/components/buttons/loaderButton"),
    "d-line-progress": () => import("@/components/Loading-progress"),
    "d-progress": () => import("@/components/RoundProgressBar"),
    "d-select": select
  },
  directives: {
    dragscroll
  },
  data: () => ({
    loading: false,
    detail: {},
    start_count: null,
    openModal: false,
    moduleId: null,
    onStatisticsScroll: true,
    variantsCount: [],
    interviewed: null,
    moduleList: []
  }),
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    },
    moduleId: {
      handler(val) {
        this.getStatisticsList(val).then(res => {
          this.loading = true
          this.detail = res.results
          console.log(res)
          this.interviewed = res.feedback_count
          this.detail.forEach(item => {
            if (this.variantsCount < item.answers.length) {
              this.variantsCount = item.answers.length
            }
          })
          this.detail.forEach(item => {
            for (let i = item.answers.length; i <= this.variantsCount - 1; i++) {
              item.answers.push({})
            }
          })
          this.loading = false
        })
      }
    }
  },
  methods: {
    ...mapActions("teacherConnection", ["getModules", "getStatisticsList"]),
    fetchData() {
      this.loading = true
      this.getModules().then(response => {
        this.moduleList = response.data.results
        this.moduleId = this.moduleList[0].id
      })
    },
    scrollVariants(e) {
      if (this.onStatisticsScroll) {
        this.$refs.statistics.forEach(item => {
          item.scrollLeft = e.target.scrollLeft
        })
      }
    },
    scrollStatistics(index) {
      this.$refs.variants.scrollLeft = this.$refs.statistics[index].scrollLeft
    },
    changeOnStatisticsScroll() {
      this.onStatisticsScroll = true
    },

    offOnStatisticsScroll(index) {
      this.$refs.variants.scrollLeft = this.$refs.statistics[index].scrollLeft
      this.onStatisticsScroll = false
    }
  }
}
</script>

<style lang="scss" scoped>
.new-feedback-design {
  .connection-detail-header.custom-card {
    justify-content: space-between;
  }
}
.connection-detail-item {
  &__block {
    margin-bottom: 15px !important;
    padding-left: 30px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
.connection-detail__stbox {
  padding: 0 !important;
}
.connection-detail__header {
  //&__total {
  //  width: fit-content !important;
  //}
  &__select {
    width: 304px;
    margin-bottom: 0 !important;
    .vs__dropdown-toggle {
      border: 1px solid $lightgrey;
      background-color: unset;
    }
    .select-title {
      display: none;
    }
    input {
      cursor: pointer;
    }
    .vs__actions {
      padding-top: 0;
      display: flex;
      align-items: center;
    }
  }
}
.new-feedback {
  margin-top: 20px;
  position: relative;

  .connection-detail-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    overflow: hidden;
    margin: 0;

    .border-est {
      border-bottom: 1px dashed #e2e3e5;
    }

    &__question {
      padding-left: 10px;
      border: none;
    }

    &__number {
      flex: none;
      width: 60px;
      line-height: 2;
      //padding: 10px 0;
      position: relative;
      color: $blue;
      //margin-right: 20px;
      @mixin dashedLine {
        position: absolute;
        content: "";
        bottom: calc(100% + 2px);
        display: block;
        height: 100px;
        border: 1px dashed $lightgrey;
      }
      &__circle {
        position: relative;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 2px solid $dashedBorder;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
</style>
