<template>
  <div class="videoconf__block videoconf__block_small">
    <div v-show="participants.length" class="videoconf__participants">
      <h3 class="videoconf__participants__title">Участники ({{ participants.length }})</h3>
      <div
        class="videoconf__participants__avalist"
        :class="{
          videoconf__participants__avalist_few: participants.length < 5
        }"
        ref="ava"
      >
        <div class="videoconf__participants__status" v-for="participant in visibleParticipants" :key="participant.id">
          <div class="videoconf__participants__ava">
            <img :src="participant.profile_image ? participant.profile_image : defAva" alt="Ava" />
          </div>
        </div>
        <div class="videoconf__participants__ava videoconf__participants__ava_more" v-if="participants.length > 6">
          <d-dropdown down>
            <template #body>
              <d-icon icon="more" class="videoconf__participants__icon" />
            </template>
            <template #dropdown-menu>
              <div class="videoconf__participants__others">
                <div class="videoconf__participants__user" v-for="participant in participants" :key="participant.id">
                  <div class="videoconf__participants__status">
                    <div class="videoconf__participants__ava">
                      <img :src="participant.profile_image ? participant.profile_image : defAva" alt="Ava" />
                    </div>
                  </div>
                  <div class="videoconf__participants__name">
                    <!--                      {{ name(participant) }}-->
                  </div>
                </div>
              </div>
            </template>
          </d-dropdown>
        </div>
      </div>
    </div>
    <div v-show="participants.length" class="videoconf__chats">
      <div class="videoconf__chats__box" :style="`height: calc(100% - 55px - ${height}px)`">
        <div class="videoconf__chats__title">Чат</div>
        <div class="videoconf__chats__messages" ref="messagesScroll" @mouseover="scrollMessages" @mouseout="unscrollMessages">
          <div
            class="videoconf__chats__message"
            :class="{
              videoconf__chats__message_own: message.idUser == profile.user_id
            }"
            v-for="message in messages"
            :key="message.id"
          >
            <div class="videoconf__participants__status">
              <div class="videoconf__participants__ava">
                <img :src="message.image || defAva" alt="Ava" />
              </div>
            </div>
            <div class="videoconf__chats__text">
              <div v-html="message.text" />
              <div class="videoconf__chats__status">
                <template v-if="message.idUser == profile.user_id">
                  <d-loader v-if="!message.received" />
                  <d-icon icon="seen-sent" class="videoconf__chats__sent videoconf__chats__sent_seen" v-else-if="participants.length > 1" />
                  <d-icon icon="sent" class="videoconf__chats__sent" v-else />
                </template>
                <span>
                  {{ $moment(message.created_at).format("HH:mm") }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="videoconf__chats__limit"
        :class="{
          videoconf__chats__limit_red: limitSymbol === currentCountSymbol
        }"
      >
        {{ limitSymbol }}/{{ currentCountSymbol }}
      </div>
      <div class="videoconf__chats__write" :style="`height:${height}px`">
        <d-textarea
          placeholder="Сообщение"
          rows="1"
          class="grey"
          rounded
          fixed
          ref="inputMes"
          v-model="textareaText"
          :maxlength="limitSymbol"
          @keydown="pressedCtrl"
          @keyup="writeMessage"
          @keydown.enter.prevent
        />
        <div class="videoconf__chats__sendbtn" @click="sendMessage()">
          <d-icon icon="vtelegram" class="videoconf__chats__icon" />
        </div>
      </div>
    </div>
    <d-loader v-show="!participants.length" class="videoconf__block__spinner" />
  </div>
</template>
<script>
import textarea from "@/components/inputs/textarea"
import Dropdown from "@/components/Dropdown"
import spinner from "@/components/loaders/spinner"
import iconWrapper from "@/components/icons/iconWrapper"
import { mapState } from "vuex"

export default {
  components: {
    "d-textarea": textarea,
    "d-dropdown": Dropdown,
    "d-loader": spinner,
    "d-icon": iconWrapper
  },
  data() {
    return {
      height: 42,
      textareaText: "",
      limitSymbol: 1000,
      currentCountSymbol: 0,
      ctrl: false,
      enter: false,
      scroll: true,
      textarea: null,
      defAva: require("@/assets/images/def_ava.png"),
      chatSocket: null,
      participants: [],
      messages: [],
      visibleParticipants: [],
      loading: true
    }
  },
  computed: {
    ...mapState({
      profile: state => state.profile.fields,
      token: state => state.auth.access
    }),
    name() {
      return function(participant) {
        if (participant && !participant.first_name && !participant.last_name && !participant.middle_name) {
          return "Не заполнено"
        }

        return `${participant.first_name} ${participant.last_name} ${participant.middle_name}`
      }
    }
  },
  watch: {
    participants: {
      handler() {
        this.visibleParticipants = this.participants.slice(0, 5)
      },
      immediate: true
    }
  },
  methods: {
    scrollMessages() {
      let msScroll = this.$refs.messagesScroll
      if (msScroll.scrollHeight > msScroll.clientHeight) {
        msScroll.style.overflowY = "scroll"
        msScroll.style.paddingRight = "5px"

        if (this.messages.length <= 1) {
          msScroll.children[0].style.marginTop = "auto"
        }
      }
    },
    unscrollMessages() {
      let msScroll = this.$refs.messagesScroll
      msScroll.style.overflowY = "hidden"
      msScroll.style.paddingRight = "12px"
      // msScroll.style.justifyContent = "flex-end";
    },

    pressedCtrl(e) {
      if (e.key == "Control" && this.ctrl == false) {
        this.ctrl = true
      }
    },
    writeMessage(e) {
      try {
        this.currentCountSymbol = this.textarea.value.length
        if (this.ctrl && e.key == "Enter") {
          let caret = e.target.selectionStart
          e.target.setRangeText("\n", caret, caret, "end")
          this.textareaText = e.target.value
          this.textarea.scrollTop = this.textarea.scrollHeight - this.textarea.clientHeight
          this.ctrl = false
          return
        }
        this.ctrl = false
        if (e.target.value.length > 1 && e.key == "Enter") {
          this.sendMessage()
          e.target.value = ""
          this.currentCountSymbol = 0
          this.height = 42
          return
        }

        if (this.textarea.scrollTop > 0 && this.height < 112) {
          this.height = this.textarea.scrollHeight + 16
          if (this.height > 112) {
            this.height = 112
          }
        } else if (this.textarea.scrollTop == 0) {
          this.height = 42
        }
      } catch (error) {
        console.error(error)
      }
    },
    sendMessage() {
      let idMes = Math.random()
        .toString()
        .slice(2)
      this.messages.push({
        id: idMes,
        idUser: this.profile.user_id,
        image: this.profile.profile_image,
        text: this.textareaText.replace(/(?:\r\n|\r|\n)/g, "<br>"),
        created_at: new Date(),
        received: false
      })
      setTimeout(() => {
        let msScroll = this.$refs.messagesScroll
        msScroll.scrollTop = msScroll.scrollHeight - msScroll.clientHeight
      }, 150)
      this.chatSocket.send(
        JSON.stringify({
          method: "broadcastMessage",
          transaction: idMes + "",
          params: {
            msg: this.textareaText
          }
        })
      )
      this.textareaText = ""
    },
    addMessageToStack(msg, sender) {
      if (this.profile.user_id !== sender.id) {
        this.messages.push({
          id: Math.random()
            .toString()
            .slice(2),
          idUser: sender.id,
          image: sender.profile_image,
          text: msg.replace(/(?:\r\n|\r|\n)/g, "<br>"),
          created_at: new Date()
        })
        setTimeout(() => {
          let msScroll = this.$refs.messagesScroll
          msScroll.scrollTop = msScroll.scrollHeight - msScroll.clientHeight
        }, 150)
      }
    }
  },
  mounted() {
    this.textarea = this.$refs.inputMes.$el.children[0].children[0]
    let msScroll = this.$refs.messagesScroll
    msScroll.scrollTop = msScroll.scrollHeight - msScroll.clientHeight
    console.log("***** token bitch *****", this.token)
    this.chatSocket = new WebSocket(`wss://edu.sudya.uz/api/ws/${this.$route.query.roomId}/?token=${this.token}`)

    // this.chatSocket.onclose = () => console.log("**** closed ****")

    const getUsersListTransaction = "getUsersList"
    this.chatSocket.onmessage = evt => {
      const msg = JSON.parse(evt.data)

      if (msg.type === "event") {
        // event
        switch (msg.event) {
          case "msg":
            console.log("**** message ****", evt)

            this.addMessageToStack(msg.data.msg, msg.data.sender)

            break
          case "joined":
          case "left":
            // update users list
            console.log("СПИСОК УЧАСТНИКОВ", msg.data)
            this.participants = msg.data
            this.loading = false
            break
        }
      }
      if (msg.type === "response") {
        const t = this.messages.find(message => +message.id === +msg.transaction)
        if (t) {
          t.received = true
        }
        if (msg.transaction === getUsersListTransaction) {
          console.log("***** list of clients *****", msg.data)
          this.participants = msg.data
        }
      }
    }

    this.chatSocket.onopen = () => {
      console.log("**** connected to chat service ****")
      setInterval(() => {
        this.chatSocket.send(
          JSON.stringify({
            method: "keepAlive",
            transaction: "keepAlive"
          })
        )
      }, 30000)
      this.chatSocket.send(
        JSON.stringify({
          method: "listClients",
          transaction: getUsersListTransaction
        })
      )
    }
  },
  beforeDestroy() {
    this.chatSocket.close()
  }
}
</script>
