<template>
  <div class="videoconf__player" :class="{ videoconf__player_fullscreen: fullscreen }">
    <div class="videoconf__player__nolive" v-show="!videoValue">
      Вы вышли из трансляции
    </div>
    <div class="videoconf__player__live" v-if="videoValue">
      <span class="videoconf__player__round"></span>
      <div class="videoconf__player__text">Прямая трансляция</div>
    </div>
    <video v-show="roomId" class="videoconf__player__video" ref="videoPlayer" autoplay></video>

    <br />
    <div class="videoconf__player__controls">
      <div class="videoconf__player__block">
        <d-btn
          class="videoconf__player__start videoconf__player__start_text"
          :class="{ videoconf__player__start_end: videoValue }"
          :loading="loading"
          @click="switchSession()"
        >
          {{ !videoValue ? "Присоединиться к трансляции" : "Выйти из трансляции" }}
        </d-btn>
      </div>
      <div class="videoconf__player__block" v-if="videoValue">
        <button class="videoconf__player__start videoconf__player__start_ml" @click="changeVolume(true)">
          <d-icon v-show="volume" icon="volumeon" class="videoconf__player__icon" />
          <d-icon v-show="!volume" icon="volumeoff" class="videoconf__player__icon" />
        </button>
        <input type="range" ref="range" @input="changeVolume" class="videoconf__player__volume" />
        <button v-if="roomId && browser" class="videoconf__player__start videoconf__player__start_ml" @click="pictureInPicture">
          <d-icon icon="pic-in-pic" class="videoconf__player__icon_picinpic" />
        </button>
        <button class="videoconf__player__start" v-if="roomId" @click="openFullscreen">
          <d-icon icon="video-expand" class="videoconf__player__icon" />
        </button>
      </div>
    </div>
    <d-modal @closemodal="modalSeen = false" v-show="modalSeen" size="small" class="videoconf__end__modal">
      <div class="videoconf__end__mdbox">
        <div class="videoconf__end__mdtitle">
          Вы хотите закончить конференцию?
        </div>
        <div class="videoconf__end__btns">
          <d-btn text="Отмена" rounded color="grey" />
          <d-btn text="Завершить" rounded color="blue" @click="endStream" />
        </div>
      </div>
    </d-modal>
  </div>
</template>
<script>
import iconWrapper from "@/components/icons/iconWrapper"
import loaderButton from "@/components/buttons/loaderButton"
import Modal from "@/components/Modal"

export default {
  components: {
    "d-icon": iconWrapper,
    "d-btn": loaderButton,
    "d-modal": Modal
  },
  data() {
    return {
      fullscreen: false,
      browser: false,
      modalSeen: false,
      loading: false,
      CONFIG: {
        audio: true,
        video: true,
        iceServers: [
          // {urls: "stun:stun.l.google.com:19302"},
          // {urls: "stun:numb.viagenie.ca:3478", username: "dils.matchanov@gmail.com", credential: "2920064d."},
          // {urls: "turn:numb.viagenie.ca:3478", username: "dils.matchanov@gmail.com", credential: "2920064d."},
          {
            urls: "stun:yuz.uz:3478",
            username: "test",
            credential: "test123"
          },
          {
            urls: "turn:yuz.uz:3478",
            username: "test",
            credential: "test123"
          }
        ]
      },
      sessionID: null,
      handleID: null,
      socket: null,
      volume: true,
      volumeValue: null,
      videoValue: null,
      createSessionTransaction: "createSession",
      attachPluginTransaction: "attachPlugin",
      joinSubscriberTransaction: "joinSubscriber",
      joinRoomTransaction: "joinRoom",
      getStreamIDsTransaction: "getStreamIDs",
      peerConnection: null,
      roomId: null,
      feedId: null,
      picInPic: true,
      gotFirstTrack: false,
      isPlaying: false,
      intervalInstance: null
    }
  },
  watch: {
    $route: {
      handler() {
        this.switchSession()
      }
    }
  },
  methods: {
    endStream() {
      if (this.socket) {
        this.socket.close()
        this.$refs.videoPlayer.srcObject = null
        this.videoValue = false
        this.roomId = null
        this.roomId = null
        this.modalSeen = false
      }
    },
    switchSession() {
      if (!this.videoValue) {
        this.loading = true
        this.socket = new WebSocket("wss://qabul.iiv.uz/janus/janus", "janus-protocol")
        this.socket.onopen = () => {
          console.log("Socket successfully connected!")
          this.createSession()
        }
        this.socket.onmessage = evt => {
          let msg = JSON.parse(evt.data)
          console.log(`[janus-event] ${msg.transaction} - ${msg.janus}`)
          console.log(msg)

          if (msg.janus == "ack") {
            return
          }

          switch (msg.transaction) {
            case this.createSessionTransaction:
              this.sessionID = msg.data.id
              this.attachPlugin()
              break
            case this.attachPluginTransaction:
              this.handleID = msg.data.id
              this.getStreamIDs()
              break
            case this.getStreamIDsTransaction:
              // eslint-disable-next-line no-case-declarations
              let publisher = msg.plugindata.data.participants.filter(item => item.publisher)

              if (publisher.length == 0) {
                console.log("Стрим не начался", publisher)
                break
              }

              this.feedId = publisher[0].id
              console.log("**** feed id ****", typeof this.feedId)

              this.joinRoomAsSubscriber()
              break
            case this.joinSubscriberTransaction:
              // joinRoomAsViewer(msg.payload);
              console.log("**** jsep! ****")
              console.log(msg)
              this.joinBroadcast(msg.jsep)
              break
            case this.joinRoomTransaction:
              break
          }
        }
      } else {
        this.modalSeen = true
      }
    },
    pictureInPicture() {
      if (this.picInPic) {
        this.$refs.videoPlayer.requestPictureInPicture()
        this.fullscreen = false
        this.picInPic = false
      } else {
        document.exitPictureInPicture()
        this.picInPic = true
      }
    },

    openFullscreen() {
      this.fullscreen = !this.fullscreen
      // if (this.$refs.player.requestFullscreen) {
      //   this.$refs.player.requestFullscreen();
      // } else if (this.$refs.player.webkitRequestFullscreen) {
      //   /* Safari */
      //   this.$refs.player.webkitRequestFullscreen();
      // } else if (this.$refs.player.msRequestFullscreen) {
      //   /* IE11 */
      //   this.$refs.player.msRequestFullscreen();
      // }
    },
    createSession() {
      this.socket.send(
        JSON.stringify({
          janus: "create",
          transaction: this.createSessionTransaction
        })
      )

      this.intervalInstance = setInterval(() => {
        if (this.socket.readyState === WebSocket.OPEN) {
          this.socket.send(
            JSON.stringify({
              janus: "keepalive",
              transaction: "keepalive",
              session_id: this.sessionID
            })
          )
        }
      }, 30000) // 30 sec
    },
    attachPlugin() {
      this.socket.send(
        JSON.stringify({
          janus: "attach",
          transaction: this.attachPluginTransaction,
          plugin: "janus.plugin.videoroom",
          session_id: this.sessionID
        })
      )
    },

    getStreamIDs() {
      this.socket.send(
        JSON.stringify({
          janus: "message",
          transaction: this.getStreamIDsTransaction,
          session_id: this.sessionID,
          handle_id: this.handleID,
          body: {
            request: "listparticipants",
            room: +this.$route.query.roomId
          }
        })
      )
    },

    joinRoomAsSubscriber() {
      this.roomId = +this.$route.query.roomId
      // this.feedId = +this.$route.query.feedId;
      // this.$refs.room.value = this.$route.query.roomId;
      // this.$refs.feed.value = this.$route.query.feedId;

      console.log("**************")
      console.log("feed id: ", this.feedId, typeof this.feedId)
      console.log("**************")

      console.log("-------------------------------")
      console.log(` - Room ID:    ${this.roomId}`)
      console.log(` - Feed ID:    ${this.feedId}`)
      console.log(` - Session ID: ${this.sessionID}`)
      console.log(` - Handle ID:  ${this.handleID}`)
      console.log("-------------------------------")

      this.peerConnection = new RTCPeerConnection(this.CONFIG)
      this.peerConnection.onicecandidate = this.onicecandidate
      this.peerConnection.ontrack = async evt => {
        this.$refs.videoPlayer.srcObject = evt.streams[0]
        if (this.$refs.videoPlayer.srcObject) {
          this.videoValue = true
          this.loading = false
        }
        this.$refs.videoPlayer.play().catch(() => {})
      }

      const body = {
        janus: "message",
        transaction: this.joinSubscriberTransaction,
        body: {
          request: "join",
          ptype: "subscriber",
          room: this.roomId,
          feed: this.feedId
        },
        session_id: this.sessionID,
        handle_id: this.handleID
      }

      console.log(body)

      this.socket.send(JSON.stringify(body))
    },
    joinBroadcast(jsep) {
      this.peerConnection.setRemoteDescription(new RTCSessionDescription(jsep))
      this.peerConnection.createAnswer().then(answer => {
        this.peerConnection.setLocalDescription(answer)
        this.socket.send(
          JSON.stringify({
            janus: "message",
            transaction: "blah",
            body: { request: "start" },
            jsep: answer,
            session_id: this.sessionID,
            handle_id: this.handleID
          })
        )
      })
    },
    onicecandidate(evt) {
      console.log("*** some ice on me ***")
      console.log(evt)

      if (evt.candidate) {
        this.socket.send(
          JSON.stringify({
            janus: "trickle",
            transaction: "candidate",
            candidate: evt.candidate,
            session_id: this.sessionID,
            handle_id: this.handleID
          })
        )
      } else {
        this.socket.send(
          JSON.stringify({
            janus: "trickle",
            transaction: "nomorecandidates",
            candidate: {
              completed: true
            },
            session_id: this.sessionID,
            handle_id: this.handleID
          })
        )
      }
    },
    changeVolume(click) {
      if (click == true) {
        if (this.volume) {
          this.$refs.videoPlayer.volume = 0
          this.$refs.range.value = 0
          this.volume = false
        } else {
          this.$refs.videoPlayer.volume = this.volumeValue || 1
          this.$refs.range.value = this.volumeValue * 100 || 100
          this.volume = true
        }
        return
      }
      this.volumeValue = this.$refs.range.value / 100
      this.$refs.videoPlayer.volume = this.volumeValue
    }
  },
  updated() {
    this.$refs.videoPlayer.addEventListener("leavepictureinpicture", () => {
      this.picInPic = true
    })
  },

  mounted() {
    let userAgent = navigator.userAgent.toLowerCase()
    this.browser = /chrome/.test(userAgent)
    this.$router.push(
      {
        query: { roomId: this.$route.query.roomId }
      },
      () => {}
    )

    this.$refs.videoPlayer.onplay = () => (this.isPlaying = true)
    this.$refs.videoPlayer.onpause = () => (this.isPlaying = false)
    this.switchSession()
  },
  beforeDestroy() {
    this.$refs.videoPlayer.removeEventListener("leavepictureinpicture", () => {
      this.picInPic = true
    })
    // this.socket.close();
    // this.$refs.player.srcObject = null;

    clearInterval(this.intervalInstance)
  }
}
</script>
