<template>
  <div class="videoconf__player" :class="{ videoconf__player_fullscreen: fullscreen }">
    <div class="videoconf__player__nolive" v-show="!roomID">
      Нет активных трансляций
    </div>
    <div class="videoconf__player__live" v-if="videoSender != null">
      <span class="videoconf__player__round"></span>
      <div class="videoconf__player__text">Прямая трансляция</div>
    </div>
    <video v-show="roomID" class="videoconf__player__video" ref="videoPlayer" muted autoplay></video>
    <div class="videoconf__player__controls">
      <div class="videoconf__player__block">
        <d-btn
          class="videoconf__player__start videoconf__player__start_text"
          :class="{ videoconf__player__start_end: videoSender != null }"
          :loading="loading"
          @click="switchSession()"
        >
          {{ videoSender == null ? "Начать трансляцию" : "Завершить трансляцию" }}
        </d-btn>
      </div>
      <div class="videoconf__player__block" v-if="videoValue">
        <!--        <button-->
        <!--          class="videoconf__player__start videoconf__player__start_ml"-->
        <!--          @click="changeVolume(true)"-->
        <!--        >-->
        <!--          <d-icon-->
        <!--            v-show="volume"-->
        <!--            icon="volumeon"-->
        <!--            class="videoconf__player__icon"-->
        <!--          />-->
        <!--          <d-icon-->
        <!--            v-show="!volume"-->
        <!--            icon="volumeoff"-->
        <!--            class="videoconf__player__icon"-->
        <!--          />-->
        <!--        </button>-->
        <!--        <input-->
        <!--          type="range"-->
        <!--          ref="range"-->
        <!--          @input="changeVolume"-->
        <!--          class="videoconf__player__volume"-->
        <!--        />-->
        <button v-if="roomID && browser" class="videoconf__player__start videoconf__player__start_ml" @click="switchMedia">
          <d-icon icon="computer-screen" class="videoconf__player__icon_picinpic" v-show="!streamingDisplay" />
          <d-icon icon="video-film" class="videoconf__player__icon_picinpic" v-show="streamingDisplay" />
        </button>
        <button v-if="roomID && browser" class="videoconf__player__start videoconf__player__start_ml" @click="pictureInPicture">
          <d-icon icon="pic-in-pic" class="videoconf__player__icon_picinpic" />
        </button>
        <button v-if="roomID" class="videoconf__player__start" @click="openFullscreen">
          <d-icon icon="video-expand" class="videoconf__player__icon" />
        </button>
      </div>
    </div>
    <d-modal @closemodal="modalSeen = false" v-show="modalSeen" size="small" class="videoconf__end__modal">
      <div class="videoconf__end__mdbox">
        <div class="videoconf__end__mdtitle">
          Вы хотите закончить конференцию?
        </div>
        <div class="videoconf__end__btns">
          <d-btn text="Отмена" rounded color="grey" />
          <d-btn text="Завершить" rounded color="blue" @click="endStream" />
        </div>
      </div>
    </d-modal>
  </div>
</template>
<script>
import iconWrapper from "@/components/icons/iconWrapper"
import loaderButton from "@/components/buttons/loaderButton"
import Modal from "@/components/Modal"
export default {
  components: {
    "d-icon": iconWrapper,
    "d-btn": loaderButton,
    "d-modal": Modal
  },
  data() {
    return {
      fullscreen: false,
      browser: false,
      player: null,
      loading: false,
      modalSeen: false,
      CONFIG: {
        audio: true,
        video: {
          mandatory: {
            width: { min: 320 },
            height: { min: 180 }
          }
        },
        iceServers: [
          // {urls: "stun:stun.l.google.com:19302"},
          // {urls: "stun:numb.viagenie.ca:3478", username: "dils.matchanov@gmail.com", credential: "2920064d."},
          // {urls: "turn:numb.viagenie.ca:3478", username: "dils.matchanov@gmail.com", credential: "2920064d."},
          {
            urls: "stun:yuz.uz:3478",
            username: "test",
            credential: "test123"
          },
          {
            urls: "turn:yuz.uz:3478",
            username: "test",
            credential: "test123"
          }
        ]
      },
      sessionID: null,
      handleID: null,
      roomID: null,
      feedID: null,
      socket: null,
      volume: true,
      volumeValue: null,
      videoValue: null,
      createSessionTransaction: "createSession",
      attachPluginTransaction: "attachPlugin",
      makeRoomTransaction: "makeRoom",
      joinPublisherTransaction: "joinPublisher",
      publishTransaction: "publish",
      joinSubscriberTransaction: "joinSubscriber",
      peerConnection: null,
      picInPic: true,
      videoSender: null,
      audioSender: null,
      streamingDisplay: false,
      intervalInstance: null,
      stream: null
    }
  },
  methods: {
    endStream() {
      if (this.socket) {
        this.socket.close()
        this.peerConnection.close()
        // this.videoSender.getTracks().forEach(t => t.stop());
        // this.audioSender.getAudioTracks().forEach(t => t.stop());
        this.stream.getTracks().forEach(t => t.stop())
        this.videoSender = null
        this.$refs.videoPlayer.srcObject = null
        this.videoValue = null
        this.stream = null
        console.log("Сессия закончена успешно")
      }
      this.modalSeen = false
    },
    switchSession() {
      if (!this.videoValue) {
        this.loading = true
        this.socket = new WebSocket("wss://qabul.iiv.uz/janus/janus", "janus-protocol")
        this.socket.onopen = () => {
          console.log("Socket successfully connected!")
          this.createSession()
        }
        this.socket.onmessage = evt => {
          let msg = JSON.parse(evt.data)
          console.log(`[janus-event] ${msg.transaction} - ${msg.janus}`)
          console.log(msg)

          if (msg.janus == "ack") {
            return
          }

          switch (msg.transaction) {
            case this.createSessionTransaction:
              this.sessionID = msg.data.id
              this.attachPlugin()
              break
            case this.attachPluginTransaction:
              this.handleID = msg.data.id
              this.makeRoom()
              break
            case this.makeRoomTransaction:
              // this.roomID = msg.plugindata.data.room;
              this.joinRoom()
              break
            case this.joinPublisherTransaction:
              this.feedID = msg.plugindata.data.id
              this.startBroadcast()
              break
            case this.publishTransaction:
              this.publish(msg.jsep)
              break
          }
        }
      } else {
        this.modalSeen = true
      }
    },
    async switchMedia() {
      if (this.videoSender == null) {
        return
      }
      const config = { audio: false, video: true }
      let stream = this.streamingDisplay ? await navigator.mediaDevices.getUserMedia(config) : await navigator.mediaDevices.getDisplayMedia(config)

      const track = stream.getVideoTracks()[0]
      console.log("**** stream bitch ****", track)

      track.label.startsWith("screen") || track.label.startsWith("window") || track.label.startsWith("web-contents-media-stream")
        ? (this.streamingDisplay = false)
        : (this.streamingDisplay = true)
      // let devices = await navigator.mediaDevices.enumerateDevices();
      // devices.forEach(device => console.log(device));

      this.videoSender.replaceTrack(track)
      this.$refs.videoPlayer.srcObject = stream
      this.streamingDisplay = !this.streamingDisplay
    },
    pictureInPicture() {
      if (this.picInPic) {
        this.$refs.videoPlayer.requestPictureInPicture()
        this.fullscreen = false
        this.picInPic = false
      } else {
        document.exitPictureInPicture()
        this.picInPic = true
      }
    },
    openFullscreen() {
      this.fullscreen = !this.fullscreen
      // if (this.$refs.videoPlayer.requestFullscreen) {
      //   this.$refs.videoPlayer.requestFullscreen();
      // } else if (this.$refs.videoPlayer.webkitRequestFullscreen) {
      //   /* Safari */
      //   this.$refs.videoPlayer.webkitRequestFullscreen();
      // } else if (this.$refs.videoPlayer.msRequestFullscreen) {
      //   /* IE11 */
      //   this.$refs.videoPlayer.msRequestFullscreen();
      // }
    },
    createSession() {
      this.socket.send(
        JSON.stringify({
          janus: "create",
          transaction: this.createSessionTransaction
        })
      )

      this.intervalInstance = setInterval(() => {
        if (this.socket.readyState !== WebSocket.CLOSED) {
          this.socket.send(
            JSON.stringify({
              janus: "keepalive",
              transaction: "keepalive",
              session_id: this.sessionID
            })
          )
        }
      }, 30000) // 30 sec
    },
    attachPlugin() {
      this.socket.send(
        JSON.stringify({
          janus: "attach",
          transaction: this.attachPluginTransaction,
          plugin: "janus.plugin.videoroom",
          session_id: this.sessionID
        })
      )
    },
    makeRoom() {
      this.socket.send(
        JSON.stringify({
          janus: "message",
          transaction: this.makeRoomTransaction,
          body: { request: "create", room: this.roomID },
          session_id: this.sessionID,
          handle_id: this.handleID
        })
      )
    },
    joinRoom() {
      this.socket.send(
        JSON.stringify({
          janus: "message",
          transaction: this.joinPublisherTransaction,
          body: {
            request: "join",
            ptype: "publisher",
            room: this.roomID
          },
          session_id: this.sessionID,
          handle_id: this.handleID
        })
      )
    },
    async startBroadcast() {
      console.log("**** Starting a broadcast ****")
      this.peerConnection = new RTCPeerConnection(this.CONFIG)
      this.peerConnection.onicecandidate = this.onicecandidate
      this.peerConnection.ontrack = this.ontrack

      const mediaConf = { audio: true, video: true }

      const stream = await navigator.mediaDevices.getUserMedia(mediaConf)
      this.$refs.videoPlayer.srcObject = stream
      if (stream) {
        this.videoValue = true
      }
      this.loading = false
      const videoTrack = stream.getVideoTracks()[0]
      const audioTrack = stream.getAudioTracks()[0]

      this.videoSender = this.peerConnection.addTrack(videoTrack, stream)
      this.audioSender = this.peerConnection.addTrack(audioTrack, stream)
      // this.peerConnection.addStream(stream);

      this.stream = stream

      const offer = await this.peerConnection.createOffer()
      await this.peerConnection.setLocalDescription(offer)
      this.peerConnection.oniceconnectionstatechange = evt => {
        console.log("ICE connection state change: ", evt)
      }

      this.socket.send(
        JSON.stringify({
          janus: "message",
          transaction: this.publishTransaction,
          body: { request: "publish" },
          jsep: offer,
          session_id: this.sessionID,
          handle_id: this.handleID
        })
      )

      // this.$refs.room.innerHTML = this.roomID;
      // this.$refs.feed.innerHTML = this.feedID;
      console.log("------------------------------------")
      console.log(` - Room ID:    ${this.roomID}`)
      console.log(` - Feed ID:    ${this.feedID}`)
      console.log(` - Handle ID:  ${this.handleID}`)
      console.log(` - Session ID: ${this.roomID}`)
      console.log("------------------------------------")
    },
    publish(jsep) {
      this.peerConnection.setRemoteDescription(new RTCSessionDescription(jsep))
    },
    onicecandidate(evt) {
      console.log("*** I got ice on me ***")
      console.log(evt)

      if (evt.candidate) {
        this.socket.send(
          JSON.stringify({
            janus: "trickle",
            transaction: "candidate",
            candidate: evt.candidate,
            session_id: this.sessionID,
            handle_id: this.handleID
          })
        )
      } else {
        this.socket.send(
          JSON.stringify({
            janus: "trickle",
            transaction: "nomorecandidates",
            candidate: {
              completed: true
            },
            session_id: this.sessionID,
            handle_id: this.handleID
          })
        )
      }
    },
    ontrack() {
      this.socket.send(
        JSON.stringify({
          janus: "keepalive",
          transaction: "keepalive",
          session_id: this.sessionID
        })
      )
    }
    // changeVolume(click) {
    //   if (click == true) {
    //     if (this.volume) {
    //       this.$refs.videoPlayer.volume = 0;
    //       this.$refs.range.value = 0;
    //       this.volume = false;
    //     } else {
    //       this.$refs.videoPlayer.volume = this.volumeValue || 1;
    //       this.$refs.range.value = this.volumeValue * 100 || 100;
    //       this.volume = true;
    //     }
    //
    //     return;
    //   }
    //   this.volumeValue = this.$refs.range.value / 100;
    //   this.$refs.videoPlayer.volume = this.volumeValue;
    // }
  },
  updated() {
    this.$refs.videoPlayer.addEventListener("leavepictureinpicture", () => {
      this.picInPic = true
    })
  },
  mounted() {
    let userAgent = navigator.userAgent.toLowerCase();
    this.browser = /chrome/.test(userAgent);
    // this.$router.push(
    //   {
    //     query: { roomId: "7843592437630291" }
    //   },
    //   () => {}
    // );
    this.roomID = +this.$route.query.roomId;
  },
  beforeDestroy() {
    this.$refs.videoPlayer.removeEventListener("leavepictureinpicture", () => {
      this.picInPic = true
    })
    if (this.socket) {
      this.socket.close()
    }
    this.$refs.videoPlayer.srcObject = null
    clearInterval(this.intervalInstance)
  }
}
</script>
