<template>
  <div class="page-section">
    <div class="admitted">
      <div class="admitted__header">
        <div class="admitted__title">Поступившие</div>
        <div class="admitted__search right">
          <d-button class="mr-4 px-5 dgrey" size="is-small">Печать</d-button>
          <!-- <a :href="$API_URL + '/admission_board/excel_export/'" download="download" class="admitted__downdload__btn mr-4 px-5">Экспорт</a> -->
          <div @click="downloadFile" class="admitted__downdload__btn mr-4 px-5 c_p">Экспорт</div>
          <d-input
            icon="search"
            :placeholder="$t('studyDepartment.search')"
            size="small"
            type="text"
            alignIcon="right"
            class="width-260 mr-2"
            v-model="searchInput"
            @input="researchApplicantListAction"
          />
        </div>
      </div>
      <!-- <div class="admitted__body">
        <d-lists :len="list && list.length" :loading="loading">
          <template #header>
            <div class="columns">
              <div class="column is-7"><span>Ф.И.О.</span></div>
              <div class="column is-3"><span>Баллы</span></div>
              <div class="column right">
                <d-btn class="blue add-btn icon-btn">
                  <d-icon icon="accordion_plus" class="m-0" />
                </d-btn>
              </div>
            </div>
          </template>
          <template #content>
            <div class="columns" v-for="item in list" :key="item.id">
              <div class="column is-7 vertical-center">
                <div class="vertical-center">
                  <div class="addmitted__lists__img">
                    <img :src="item.image" alt="Ava" />
                  </div>
                  {{ item.first_name }} {{ item.last_name }}
                  {{ item.second_name }}
                </div>
              </div>
              <div class="column is-3 vertical-center">
                <span v-if="item.exam_results.first_exam_points && item.exam_results.second_exam_points">
                  {{
                    item.exam_results.first_exam_points && item.exam_results.second_exam_points
                      ? Math.round(item.exam_results.first_exam_points * pointLimit) + Math.round(item.exam_results.second_exam_points * pointLimit)
                      : 0
                  }}/{{ pointLimit * 2 }}
                </span>
              </div>
              <div class="column right vertical-center">
                <d-dropdown up>
                  <dropdown types
      1) default -> dropdown
      2) props "up" -> dropup
       
                   <template #body>
                    <d-icon icon="more" style="width: 30px" class="custom-dropdown__trigger mr-4" @click="open = !open" />
                  </template>
                  <template #dropdown-menu>
                    <li class="p-2" @click="removeItem(item.id)">
                      <d-icon icon="bin" class="is-blue size-1 ml-2 mr-2" />
                      Удалить
                    </li>
                  </template>
                </d-dropdown>
              </div>
            </div>
          </template>
        </d-lists>
      </div> -->

      <div class="education-groups__body2">
        <d-lists :len="list && list.length" :loading="loading" dashed-header>
          <template #header>
            <div class="columns">
              <div class="column is-6">
                <span>Ф.И.О</span>
              </div>
              <div class="column is-3">
                <span>Баллы</span>
              </div>
              <div class="column is-3">
                <span>Баллы за письменный экзамен</span>
              </div>
            </div>
          </template>

          <template #content>
            <div v-for="item in list" :key="item.id">
              <div class="columns education-groups__body2__lists">
                <div class="column is-6">
                  <div class="education-groups__body2__img">
                    <img :src="item.image" alt="Ava" />
                  </div>
                  <div class="education-groups__body2__name">
                    {{ item.first_name }}
                    {{ item.last_name }}
                    {{ item.second_name }}
                  </div>
                </div>
                <div class="column is-3">
                  <div class="education-groups__body2__average">
                    <!-- {{ Math.round(item.first_exam_points * pointLimit) }} -->
                    {{ Math.round(item.exam_results.first_exam_points) }}
                  </div>
                  <div class="education-groups__body2__all">из 150</div>
                </div>
                <div class="column is-3">
                  <div class="education-groups__body2__average">
                    <!-- {{ Math.round(item.second_exam_points * pointLimit) }} -->
                    {{ Math.round(item.exam_results.second_exam_points) }}
                  </div>
                  <div class="education-groups__body2__all">из 150</div>
                </div>
              </div>
            </div>
          </template>
        </d-lists>
      </div>

      <div class="admitted__footer">
        <div class="columns">
          <div class="column vertical-center">
            <small class="text-grey pl-4">Количество: {{ count }}</small>
          </div>
          <div class="column right">
            <d-pagination-input @change="fetch()" v-model="pagination.page" :total="count" :limit="pagination.limit" />
          </div>
        </div>
      </div>
    </div>
    <div class="right-aside">
      <div class="composition">
        <div class="composition__title">Состав приемной комиссии</div>
        <div class="composition-items" v-if="reviewers.reviews">
          <div class="composition-item" v-for="item in reviewers.reviews" :key="item.id">
            <div class="addmitted__lists__img mr-1">
              <img v-if="item.user.profile_image" :src="item.user.profile_image" alt="Ava" />
            </div>
            <div class="composition-item__info">
              <div class="composition-item__info--name">
                {{ item.user.first_name }} {{ item.user.last_name }}
                {{ item.user.middle_name }}
                <div class="composition-item__info--status text-grey">
                  <small>
                    <d-icon :icon="item.positive ? 'check' : !item.positive ? 'help-question2' : null" class="size-1 ml-0 mr-1" />
                    <span>
                      {{ item.positive ? "Утвердил" : !item.positive ? "Отклонил" : null }}
                    </span>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5" v-else>
          <center>Список пуст</center>
        </div>
        <div class="composition__footer pb-3">
          <d-button class="blue" @click="approveResultListAction">Утвердить</d-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import loaderButton from "@/components/buttons/loaderButton"

import { mapActions, mapState } from "vuex"

export default {
  components: {
    "d-input": () => import("@/components/inputs/input"),
    "d-lists": () => import("@/components/Lists"),
    "d-pagination-input": () => import("@/components/PaginationInput"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-button": () => import("@/components/buttons/loaderButton")
    // "d-dropdown": () => import("@/components/Dropdown"),
    // "d-btn": loaderButton
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10
      },
      loading: false,
      searchInput: null,
      pointLimit: 150,
      open: false,
      id: 1,
      options: [
        {
          title: this.$t("teacherOffice.allAreas"),
          id: 1
        },
        {
          title: "Курс 1",
          id: 2
        },
        {
          title: "Курс 2",
          id: 3
        },
        {
          title: "Курс 3",
          id: 4
        }
      ],
      export: null
    }
  },
  computed: {
    ...mapState({
      list: (state) => state.commissionAdmitted.results,
      reviewers: (state) => state.commissionAdmitted.admitted || {},
      count: (state) => state.commissionAdmitted.count,
      resultListId: (state) => state.commissionAdmitted.admitted.id
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("commissionAdmitted", ["getApplicantList", "getDetailResultsList", "approveResultList", "removeApplicant"]),
    async researchApplicantListAction() {
      if (this.searchInput && this.resultListId) {
        try {
          await this.getApplicantList({
            id: this.resultListId,
            params: {
              search: this.searchInput,
              offset: this.offsetComputed,
              limit: this.pagination.limit
            }
          })
        } catch (err) {
          console.error(err)
          return
        }
      } else {
        this.fetch()
      }
    },
    async approveResultListAction() {
      if (this.reviewers && this.reviewers.id) {
        try {
          await this.approveResultList(this.reviewers.id)
          await this.getDetailResultsList()
        } catch (err) {
          console.error(err)
          return
        }
      }
      return
    },
    async removeItem(applicant_id) {
      try {
        await this.removeApplicant({ id: this.resultListId, applicant_id })
      } catch (err) {
        console.error(err)
        return
      }
    },
    async fetch() {
      try {
        await this.getDetailResultsList()
        await this.getApplicantList({
          id: this.resultListId,
          params: {
            offset: this.offsetComputed,
            limit: this.pagination.limit
          }
        })
      } catch (err) {
        console.error(err)
        return
      }
    },
    downloadFile() {
      // this.$axios({
      //   method: "get",
      //   url: this.$API_URL + "/admission_board/excel_export/",
      //   responseType: "blob"
      // }).then(res => {
      //   console.log(res)
      // })

      this.$axios
        .get(this.$API_URL + "/admission_board/excel_export/", {
          // If you forget this, your download will be corrupt.
          responseType: "blob"
        })
        .then((response) => {
          // Let's create a link in the document that we'll
          // programmatically 'click'.
          const link = document.createElement("a")

          // Tell the browser to associate the response data to
          // the URL of the link we created above.
          link.href = window.URL.createObjectURL(new Blob([response.data]))

          // Tell the browser to download, not render, the file.
          link.setAttribute("download", "report.xlsx")

          // Place the link in the DOM.
          document.body.appendChild(link)

          // Make the magic happen!
          link.click()
        })
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>

<style lang="scss" scoped>
@import "~@/assets/scss/base/_mixins.scss";
.text-grey {
  color: #9aa6bb;
}

.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.admitted__title {
  flex: 1;
  color: #1761aa;
  font-size: 18px;
  padding-left: 5px;
  font-weight: 600;
}

.page-section {
  flex-direction: row !important;
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  .addmitted__lists__img {
    width: 41px;
    min-width: 41px;
    height: 41px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .admitted {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    &__header {
      height: 50px;
      display: flex;
      align-items: center;

      .admitted__search {
        flex: 1;
        display: flex;
        &__btn {
          height: 30px;
          border-radius: 4px;
          background-color: $grey;
          color: $white;
          font-size: 16px;
          font-weight: 400;
          margin-right: 15px;
          &_right {
            margin-right: 20px;
          }
        }
      }
    }
    .admitted__downdload__btn {
      display: flex;
      justify-content: center;
      background-color: #9aa6bb !important;
      color: #fff !important;
      padding: 7px 24px 4px 25px;
      height: 2.4em;
      white-space: nowrap;
      border-color: #dbdbdb;
      border-width: 1px;
      border-radius: 2px;
      font-size: 0.75rem;
      &:active {
        border-color: #4a4a4a;
      }
      &:focus {
        box-shadow: 0 0 0 0.125em rgba(23, 97, 170, 0.25);
        border-color: #1761aa !important;
      }
    }

    &__footer {
      margin-top: auto !important;
    }
  }
  .right-aside {
    padding: 0 0 0 30px;
    flex: 1.2;
    display: flex;
    flex-direction: column;
    .composition {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 4px;
      padding: 20px 30px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      flex: 1;
      &__title {
        color: #1761aa;
        font-size: 18px;
        font-weight: 600;
      }
      &-items {
        margin-top: 20px;
        .composition-item {
          margin-bottom: 10px;
          display: flex;
          &__img {
            width: 32px;
            height: 32px;
            flex: 1;
          }
          &__info {
            flex: 8;
            padding-left: 10px;
            &--name {
              font-size: 14px;
            }
            &--status {
              svg {
                margin-bottom: -3px;
                margin-left: 5px;
              }
            }
          }
        }
      }
      &__footer {
        margin-top: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.education-groups {
  display: flex;
  flex-direction: column !important;
  &__btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 12px;
    &__title {
      margin-right: 17px;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid #bdc7d8;
      height: 32px !important;
      margin-right: 15px;
      color: $grey;
      font-size: 17px;
      font-weight: 300;
      line-height: normal;
      &_blue {
        border-color: $blue;
      }
    }
  }
  .lists-wrapper-content {
    padding-top: 10px !important;
  }

  .text-grey {
    color: #9aa6bb;
  }

  .vertical-center {
    display: flex;
    align-items: center;
  }
  .education-groups__body2 {
    height: auto;
  }
  .admitted__footer {
    margin-top: auto !important;
  }
  &__body2 {
    &__lists {
      .column {
        display: flex;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
    &__img {
      width: 41px;
      min-width: 41px;
      height: 41px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;
      img {
        @include img;
      }
    }
    &__average {
      color: #565a61;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      padding: 5px 20px;
      border-radius: 18px;
      background-color: #f4f5f8;
      margin-right: 10px;
      min-width: 62px;
      text-align: center;
    }
    &__all {
      color: $activeTab;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.c_p {
  cursor: pointer;
}
</style>
