<template>
  <div class="columns m-0 is-multiline burden">
    <div class="column is-full burden__header">
      <div class="columns">
        <div class="column is-2">
          <h2 class="burden__title">Нагрузка</h2>
        </div>
        <div class="column is-10">
          <div class="burden__filter">
            <d-select class="rounded" :options="filterOptions" label="title" v-model="id" :reduce="item => item.id" @change="initFilter" />
          </div>
        </div>
      </div>
      <div class="columns" v-if="filterSeen">
        <div class="column pr-5">
          <div class="mb-3">От:</div>
          <d-date-selector v-model="filterDate.from" grey class="modal-variant-1" />
        </div>
        <div class="column">
          <div class="mb-3">{{$t('studyDepartment.before')}}:</div>
          <d-date-selector v-model="filterDate.till" grey class="modal-variant-1" />
        </div>
        <div class="column is-1 pl-4">
          <div class="mb-3"></div>
          <d-button @click="fetchFilterPeriod" :loading="false" rounded color="grey mt-5 mr-4">
            {{$t('teacherOffice.search')}}
          </d-button>
        </div>
      </div>
      <div class="table mt-5 column">
        <div class="table-header columns">
          <div class="column b-right is-4">Ф.И.О</div>
          <div class="column b-right">
            <center>{{ $t("studyDepartment.plannedLoad") }}</center>
          </div>
          <div class="column b-right"><center>Нагрузка</center></div>
          <div class="column">
            <center>{{ $t("studyDepartment.freeTime") }}</center>
          </div>
        </div>
        <div class="pt-4" v-if="list && list.length == 0">
          <center>
            <h4>{{ $t("studyDepartment.empty") }}</h4>
          </center>
        </div>
        <div class="table-body columns" v-else v-for="item in list" :key="item.id">
          <div class="column y-centered b-right is-4">
            <d-avatar :item="{ src: item.image }" width="41" height="41" cover class="mr-2"></d-avatar>
            {{ item.first_name }} {{ item.middle_name }}
            {{ item.last_name }}
          </div>
          <div class="column x-centered y-centered b-right">
            <center>{{ item.plan_hours }}</center>
          </div>
          <div class="column x-centered y-centered b-right">
            <center>{{ item.done_hours }}</center>
          </div>
          <div class="column x-centered y-centered">
            <center>{{ item.left_hours }}</center>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Select from "@/components/inputs/select"
import loaderButton from "@/components/buttons/loaderButton"

import { mapActions } from "vuex"

export default {
  components: {
    "d-select": Select,
    "d-button": loaderButton,
    "d-date-selector": () => import("@/components/inputs/date-selector"),
    "d-avatar": () => import("@/components/Avatar")
  },
  data() {
    return {
      filterDate: {
        from: "",
        till: ""
      },
      id: 1,
      filterSeen: false,
      filterOptions: [
        { id: 1, title: this.$t("studyDepartment.today") },
        { id: 2, title: this.$t("studyDepartment.isTheMonth") },
        { id: 3, title: this.$t("studyDepartment.period") }
      ],
      list: []
    }
  },
  methods: {
    ...mapActions("learningLoad", ["getLoadListToday", "getLoadListMonth", "getLoadListPeriod"]),
    fetchFilterPeriod() {
      this.getLoadListPeriod({
        date_start: this.filterDate.from,
        date_end: this.filterDate.till
      }).then(res => (this.list = res))
    },
    fetch() {
      this.getLoadListToday().then(res => (this.list = res))
    },
    initFilter() {
      if (this.id == 3) {
        this.filterSeen = true
      } else if (this.id == 2) {
        this.getLoadListMonth().then(res => (this.list = res))
        this.filterSeen = false
      } else {
        this.filterSeen = false
      }
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>
<style lang="scss">
.y-centered {
  display: flex;
  align-items: center;
}

.x-centered {
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  font-size: 16px;
  &-header {
    color: #9da8bd;
    border: 1px dashed #cfcfcf;
  }
  &-body {
    border: 1px dashed #cfcfcf;
    border-top: 0 none;
  }
}

.b-right {
  border-right: 1px dashed #cfcfcf;
}

.burden {
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 18px;
  width: 100%;
  &__header {
    height: 100px;
  }

  .rounded {
    max-height: 34px;
    width: 140px;
  }
  .vs__selected {
    color: $grey;
    font-size: 16px;
    font-weight: 400;
  }
  &__filter {
    display: flex;
    justify-content: flex-end;
  }
  &__title {
    color: $blue !important;
    font-size: 19px !important;
    margin-bottom: 0 !important;
  }

  &__btn {
    margin-left: 30px;
    color: white;
  }
  .tburden {
    td,
    th {
      border: 1.5px dashed #c7c7c7 !important;
      color: $text-color;
      height: 45px;
    }

    &__header {
      &__th {
        height: 45px;
        text-align: center !important;
        color: $grey !important;
        font-size: 16px;
        font-weight: 400;
        &:first-child {
          text-align: left !important;
        }
      }
    }
    &__body {
      &__fio {
        display: flex;
        align-items: center;
      }
      &__img {
        width: 41px;
        min-width: 41px;
        height: 41px;
        margin-right: 20px;
        img {
          //@include img;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &__name,
      &__numb {
        color: $text-color;
        font-size: 17px;
        font-weight: 300;
      }

      &__td {
        vertical-align: middle;
      }
      &__numb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }
  .select-title {
    margin: 0;
  }
  .vs__clear {
    display: none;
  }
}
</style>
