<template>
  <div class="control">
    <div class="control__header">
      <div class="title-row">
        <div class="main-title">
          Ведомость
        </div>
      </div>
    </div>
    <div class="control__table">
      <!--      <d-reg-table />-->
      <d-list-wrapper :loading="loading" :len="list.length">
        <d-bill-table :control-list="list" />
      </d-list-wrapper>
    </div>
  </div>
</template>
<script>
import BillTable from "@/components/tables/BillTable"
// import loaderButton from "@/components/buttons/loaderButton";
// import ContTable from "@/components/tables/ContTable";

export default {
  components: {
    "d-bill-table": BillTable,
    // "d-reg-table": ContTable,
    // "d-btn": loaderButton,
    "d-list-wrapper": () => import("@/components/loaders/spinnerWrapper")
  },
  data() {
    return {
      list: [],
      teacher: {},
      loading: false
    }
  },
  computed: {
    imageHolder() {
      return this.teacher && this.teacher.image ? `https://edu.sudya.uz${this.teacher.image}` : ""
    }
  },
  mounted() {
    this.getList()
  },
  methods: {
    getList() {
      this.loading = true
      this.$store
        .dispatch("teacherRegister/getModuleControl", this.$route.params.id)
        .then(data => {
          if (data && data.results) this.list = data.results
          this.loading = false
        })
        .catch(err => {
          console.log("err", err)
          this.loading = false
        })
    }
  }
}
</script>
<style lang="scss">
@import "~@/assets/scss/base/_mixins.scss";
.control {
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(249, 249, 249, 0.14);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 26px;
    padding: 16px 25px;
    &__title {
      color: $blue !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      letter-spacing: normal;
      line-height: normal !important;
      margin-bottom: 13px;
    }
    &__info {
      display: flex;
      align-items: center;
    }
    &__img {
      width: 41px;
      min-width: 41px;
      height: 41px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 14px;
      img {
        @include img;
      }
    }
    &__name {
      color: $grey;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: normal;
    }
  }
  &__table {
    padding: 35px 25px;
    box-shadow: 0 3px 10px rgba(249, 249, 249, 0.14);
    border-radius: 8px;
    background-color: #ffffff;
  }
}
</style>
