<template>
  <div class="tasks">
    <div class="tasks__header">
      <div class="tasks__header__length">
        Кадры
      </div>
      <div class="filter_btn">
        <!-- Filter -->
        <div class="filter">
          <d-select
            :placeholder="$t('studyDepartment.select')"
            :options="filter_roleList"
            rounded
            clearable
            label="name"
            class="grey-2 rounded is-block mb-3 width_100"
            v-model="filter_role"
            @change="fetchList('filter')"
            :reduce="item => item.id"
          />
        </div>
        <d-btn :text="$t('studyDepartment.add')" color="blue" class="tasks__header__btn" @click="modalSeen = !modalSeen" />
      </div>
      <d-modal title="Рассылка" @closemodal="modalSeen = false" v-show="modalSeen" size="small" class="tasks__modal">
        <d-select
          :title="$t('studyDepartment.groups')"
          :placeholder="$t('studyDepartment.select')"
          :options="roleList"
          rounded
          label="name"
          class="grey-2 rounded is-block mb-3"
          v-model="role"
          @change="form.kadr_id = null"
          :reduce="item => item.id"
        />
        <d-pagination-select
          :disabled="!role"
          title="Кадр"
          class="grey-2 rounded is-block mb-3"
          :placeholder="$t('studyDepartment.select')"
          multi-name
          :reduce="item => item"
          ml
          label="name"
          module="adminPersonnel/getPersonnelList"
          v-model="form.kadr_id"
        >
          <template #selected-option="props">
            {{ $nt(props.name) }}
          </template>

          <template #option="props">
            {{ $nt(props.name) }}
          </template>
        </d-pagination-select>
        <input placeholder="логин" style="display: none" />
        <input type="password" style="display: none" />
        <d-input title="Логин" class="grey rounded mb-3" rounded placeholder="Введите логин" v-model="form.username"></d-input>
        <d-input title="Пароль" class="grey rounded" rounded placeholder="Пароль" type="password" v-model="form.password"></d-input>
        <center class="mt-5">
          <div class="tasks__modal__btns">
            <d-btn :text="$t('studyDepartment.cancel')" :disabled="pending" @click="modalSeen = false" rounded class="grey" />
            <d-btn :text="$t('studyDepartment.save')" :disabled="!fieldsFilled || pending" @click="createPers" rounded class="blue" />
          </div>
        </center>
      </d-modal>
    </div>
    <div class="page-section tasks-prog">
      <div class="tasks-prog__body">
        <d-lists dashedHeader :len="list.length" :loading="loading">
          <template #header>
            <div class="columns">
              <div class="avatar-column_header"><span>Ф.И.О.</span></div>
              <!-- <div class="column is-7"></div> -->
              <div class="column">
                <span>Роль</span>
              </div>
            </div>
          </template>

          <template #content>
            <div class="columns" v-for="(item, index) in list" :key="index" @click="getItemById(item.id)">
              <div class="avatar-column">
                <d-avatar
                  :item="{
                    src: item.image || require('@/assets/images/person.png')
                  }"
                  width="38"
                  height="38"
                  cover
                ></d-avatar>
              </div>
              <div class="column is-7">
                <div class="tasks-prog__item__link">
                  <span>{{ name(item) }} </span>
                </div>
              </div>
              <div class="column">
                {{ findRole(item.role) }}
              </div>
            </div>
          </template>
        </d-lists>
      </div>
      <d-modal v-show="emp_modalSeen" title="Кадр" @closemodal="emp_modalSeen = false">
        <div class="columns is-gapless is-multiline teachers__detail mb-3">
          <div class="column is-full teachers__detail__ava">
            <div class="teachers__detail__img">
              <img :src="selectedEmployee.img || require('@/assets/images/person.png')" alt="Ava" />
            </div>
            <div class="teachers__detail__name">
              {{ (selectedEmployee && selectedEmployee.first_name) || "" }} {{ (selectedEmployee && selectedEmployee.last_name) || "" }}
              {{ (selectedEmployee && selectedEmployee.middle_name) || "" }}
            </div>
          </div>
          <div class="column is-full teachers__detail__info">
            <div class="columns">
              <div class="column is-7">{{ $t("studyDepartment.passportID") }}:</div>
              <div class="column is-5">{{ selectedEmployee.passport || "-" }}</div>
            </div>
            <div class="columns">
              <div class="column is-7">{{ $t("studyDepartment.position") }}:</div>
              <div class="column is-5 is-capitalized">
                {{ selectedEmployee.position || "-" }}
              </div>
            </div>
            <div class="columns">
              <div class="column is-7">{{ $t("studyDepartment.phoneNumber") }}:</div>
              <div class="column is-5">{{ selectedEmployee.phone || "-" }}</div>
            </div>
            <div class="columns">
              <div class="column is-7">{{ $t("studyDepartment.emailAdress") }}:</div>
              <div class="column is-5">{{ selectedEmployee.email || "-" }}</div>
            </div>
            <!-- can check -->
            <!-- <div class="columns">
              <div class="column is-7">{{ $t("studyDepartment.youCanCheckTheTest") }}:</div>
              <div class="column is-3">
                <div v-if="!check">{{ (checking && checking.name && checking.name[$i18n.locale]) || "-" }}</div>
                <d-select
                  v-if="check"
                  class="grey-2 height-min input-height"
                  :placeholder="$t('studyDepartment.select')"
                  label="name"
                  :options="canCheckList"
                  mil
                  @change="selectChange('check')"
                  v-model="checking"
                  :reduce="el => el"
                />
              </div>
              <span @click="changeOrder('check')" v-if="!check" :title="$t('studyDepartment.change')" style="cursor: pointer" class="column is-2">
                <d-icon icon="teacher-pen" color="blue" class="is-blue size-05 mr-2" />
              </span>
              <div class="column is-2">
                <d-btn class="mt-1" v-if="check" size="is-small" text="OK" @click="changeOrder('check')" />
              </div>
            </div> -->
            <!-- can create -->
            <!-- <div class="columns">
              <div class="column is-7">{{ $t("studyDepartment.canCreateTest") }}:</div>
              <div class="column is-3">
                <div v-if="!create">{{ (creating && creating.name && creating.name[$i18n.locale]) || "-" }}</div>
                <d-select
                  v-if="create"
                  class="grey-2 height-min input-height"
                  :placeholder="$t('studyDepartment.select')"
                  label="name"
                  :options="canCreateList"
                  mil
                  @change="selectChange('create')"
                  v-model="creating"
                  :reduce="el => el"
                />
              </div>
              <span @click="changeOrder('create')" v-if="!create" :title="$t('studyDepartment.change')" style="cursor: pointer" class="column is-2">
                <d-icon icon="teacher-pen" color="blue" class="is-blue size-05 mr-2" />
              </span>
              <div class="column is-2">
                <d-btn class="mt-1" v-if="create" size="is-small" text="OK" @click="changeOrder('create')" />
              </div>
            </div> -->
            <!-- <div class="columns">
              <div class="column is-7">{{ $t("studyDepartment.modulesInWhichHeTeaches") }}:</div>
              <div class="column is-5">
                <span v-if="!disciplineSelect">
                  <span v-for="item in teacherDetail.disciplines" :key="item.id">
                    {{ item.name[$i18n.locale] + ", " }}
                  </span>
                  <span @click="addDiscipline" :title="$t('studyDepartment.change')" style="cursor: pointer">
                    <d-icon icon="teacher-pen" color="blue" class="is-blue size-05 mr-2" />
                  </span>
                </span>
                <span v-else>
                  <div class="columns">
                    <div class="column is-9 pt-3">
                      <d-select
                        class="grey-2 height-min input-height"
                        placeholder="Выберите дисциплину"
                        label="name"
                        :options="disciplineList"
                        title="Дисциплины"
                        multiple
                        ml
                        v-model="disciplineArr"
                        :reduce="el => el.id"
                      />
                    </div>
                    <div class="column p-0 pt-5">
                      <d-btn class="mt-4" :loading="disciplineLoading" size="is-small" text="OK" @click="sendDisciplineAction" />
                    </div>
                  </div>
                </span>
              </div>
            </div> -->
          </div>
        </div>
      </d-modal>
      <!-- <d-modal title="Кадр" @closemodal="emp_modalSeen = false" v-show="emp_modalSeen" size="small" class="tasks__modal">
        <div class="modal_items">
          <d-input title="Имя" class="grey rounded ml-4" disabled rounded v-model="selectedEmployee.first_name"></d-input>
          <d-input title="Фамилия" class="grey rounded ml-4" disabled rounded v-model="selectedEmployee.last_name"></d-input>
          <d-input title="Кадр" class="grey rounded ml-4" disabled rounded v-model="selectedEmployee.type"></d-input>
          <d-input title="Гпуппа" class="grey rounded mb-3 ml-4" disabled rounded v-model="selectedEmployee.group"></d-input>
        </div>
      </d-modal> -->
      <div class="tasks-prog__footer right">
        <d-pagination @change="fetchList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
      </div>
    </div>
  </div>
</template>

<script>
import loaderButton from "@/components/buttons/loaderButton"
import Modal from "@/components/Modal"
import select from "@/components/inputs/select"

export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/Pagination"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-btn": loaderButton,
    "d-modal": Modal,
    "d-select": select,
    "d-pagination-select": () => import("@/components/inputs/pagination-select"),
    "d-input": () => import("@/components/inputs/input"),
    "d-avatar": () => import("@/components/Avatar")
  },
  data() {
    return {
      modalSeen: false,
      emp_modalSeen: false,
      selectedEmployee: {},
      pagination: {
        page: 1,
        limit: 20
      },
      roleList: [
        { name: "Студент", id: "student" },
        { name: this.$t("studyDepartment.teacher"), id: "teacher" }
      ],
      filter_roleList: [
        { name: "Студент", id: "student" },
        { name: this.$t("studyDepartment.teacher"), id: "teacher" }
      ],
      filter_role: "",

      form: {
        kadr_id: null,
        username: "",
        password: ""
      },
      loading: false,
      pending: false,
      role: "",
      count: null,
      list: [],
      role_teacher: {
        ru: "Учитель",
        en: "Teacher",
        uz: `O'qituvchi`
      },
      role_student: {
        ru: "Ученик",
        en: "Student",
        uz: `O'quvchi`
      }
    }
  },
  watch: {
    modalSeen(newValue) {
      if (!newValue) this.clearForm()
    }
  },
  mounted() {
    this.fetchList()
  },
  computed: {
    name() {
      return function(item) {
        let name = ""
        if (item.first_name || item.second_name || item.last_name) {
          name = `${item.first_name} ${item.second_name} ${item.last_name}`
        }
        return name || "Не заполнено"
      }
    },
    fieldsFilled() {
      //   for(let key in this.form) {
      //     if(!this.form[key]) return false
      //   }
      //   return true
      return !Object.keys(this.form).some(key => !this.form[key])
    },
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },

  methods: {
    clearForm() {
      this.role = null
      this.form = {
        kadr_id: null,
        username: "",
        password: ""
      }
    },
    findRole(role) {
      let newRole = this.roleList.find(item => item.id == role)
      return (newRole && newRole.name) || "нет роли"
    },
    createPers() {
      this.pending = true

      let newForm = JSON.parse(JSON.stringify(this.form))

      newForm.kadr_id = newForm.kadr_id.id

      this.$store
        .dispatch("adminPersonnel/create", {
          key: this.role,
          payload: newForm
        })
        .then(res => {
          if (res?.data) {
            this.modalSeen = false
            this.fetchList()
          }
          this.pending = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.pending = false
        })
    },
    fetchList(type) {
      if (type == "filter") {
        this.pagination.page = 1
      }
      this.loading = true
      this.$store
        .dispatch("adminPersonnel/getEmployeeList", {
          offset: this.offsetComputed,
          limit: this.pagination.limit,
          type: this.filter_role
        })
        .then(res => {
          if (res && res.results) {
            this.list = res.results
            this.count = res.count
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })
    },
    getItemById(id) {
      this.$store.dispatch("adminPersonnel/getEmployeeById", id).then(res => {
        console.log(res)
        this.selectedEmployee.first_name = res.first_name
        this.selectedEmployee.last_name = res.last_name
        this.selectedEmployee.email = res.email
        this.selectedEmployee.img = res.image
        this.selectedEmployee.phone = res.phone
        this.selectedEmployee.position = res.role == "teacher" ? this.role_teacher[this.$i18n.locale] : this.role_student[this.$i18n.locale]
        this.selectedEmployee.passport = res.passport_number
        this.emp_modalSeen = true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.avatar-column_header {
  width: calc(58.3% + 50px);
  padding: 0.75rem;
}
.tasks {
  width: 100%;
  .date-selector {
    margin-bottom: 14px;
  }
  .modal-window__body {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
  }
  .modal-header__title {
    color: #3d6ab7 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-left: 5px;
  }
  .v-select {
    margin-bottom: 28px !important;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .select-title {
    color: $text-color;
    font-size: 17px;
    font-weight: 400;
  }
  &__modal {
    &__date {
      margin-bottom: 9px !important;
      color: $text-color !important;
      font-size: 17px !important;
      font-weight: 400 !important;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      button {
        height: 34px;
        padding: 3px 23px;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 25px;
    &__btn {
      height: 32px;
      padding-left: 18px !important;
      padding-right: 18px !important;
    }
    &__length {
      color: $blue;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.tasks-prog {
  height: calc(100% - 115px);
  .lists-wrapper-header {
    color: $blue;
    flex: 1;
    font-size: 18px;
    & > div {
      border: none;
    }
    .column:first-child {
      padding-left: 7px;
    }
  }
  .custom-dropdown__trigger {
    //transform: rotate(90deg);
    fill: #9aa6bb;
    width: 23px !important;
    position: relative;
    //right: -10px;
  }

  svg.size-1 {
    margin: 2px;
  }

  .button.is-small {
    border-radius: 5px;
  }

  .column.right {
    button.button {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .lists-wrapper-content {
    .right svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  span.icon.is-right {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .plus-btn {
    position: relative;
    top: -5px;
    fill: #fff;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    .tasks-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .tasks-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  .custom-dropdown {
    display: flex !important;
    align-items: center;
    svg {
      margin-right: 0 !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
      span:last-child {
        color: $text-color;
        font-size: 16px;
        font-weight: 300;
      }
      .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        min-width: 15px;
        height: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #224e92;
        margin-right: 16px;
        //.checkicon {
        //  width: 9px;
        //  min-width: 9px;
        //  height: 7px;
        //  fill: #224e92;
        //  path {
        //    stroke-width: 2;
        //  }
        //}
      }
    }
    &__icon {
      fill: $blue;
      height: 15px !important;
      margin-right: 16px;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__descr {
    padding: 15px;
  }
  &__body {
    margin-bottom: 15px;
  }
}
.width_100 {
  width: 200px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.filter_btn {
  display: flex;
  align-items: center;
}
.filter {
  padding-top: 8px;
  box-sizing: border-box;
}
</style>
