<template>
  <div class="page-section page-section_pnone">
    <div class="register">
      <div class="register__header">
        <div class="register__title">
          {{$t('studyDepartment.module')}}
        </div>
        <div class="register__search right">
          <!-- <d-input
            icon="search"
            placeholder="Поиск"
            size="small"
            type="text"
            alignIcon="right"
          /> -->
        </div>
      </div>
      <div class="register__body">
        <d-lists dashed-header :loading="loading" :len="list.length">
          <template #header>
            <div class="columns">
              <div class="column is-7">
                <div class="register__theader__title">
                  <div class="register__theader__numb">
                    №
                  </div>
                  <div class="register__theader__text">
                    {{$t('studyDepartment.module')}}
                  </div>
                </div>
              </div>
              <div class="column is-5">
                <div class="register__theader__title">
                  {{$t('studyDepartment.teacher')}}
                </div>
              </div>
            </div>
          </template>
          <template #content>
            <router-link
              tag="div"
              class="columns"
              v-for="(item, index) in list"
              :key="item.id"
              :to="{
                name: 'cabinetLearningRegisterIdSubId',
                params: { subId: item.id }
              }"
            >
              <div class="column is-7 register__content__teacher">
                <div class="register__content__groupname">
                  <div class="register__content__numb">{{ index + 1 }}</div>
                  <div class="register__content__text">
                    {{ item.module_course && item.module_course.name[currLang] }}
                  </div>
                </div>
              </div>
              <div class="column is-5 register__content__teacher" v-if="item.teacher.length">
                <div class="register__content__img">
                  <img :src="imageWithUrl(item.teacher[0].image)" alt="Ava" />
                </div>
                <div class="register__content__text">
                  {{ item.teacher[0].last_name }} {{ item.teacher[0].first_name }} {{ item.teacher[0].middle_name }}
                </div>
              </div>
              <div class="column is-5 register__content__teacher" v-else>
                нет данных
              </div>
            </router-link>
          </template>
        </d-lists>
      </div>
      <div class="register__footer right">
        <d-pagination @change="getList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    // "d-input": () => import("@/components/inputs/input"),
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/Pagination")
    // "d-list-wrapper": () => import("@/components/loaders/spinnerWrapper"),
    // "d-calendar-widget": () => import("@/components/calendar/calendar2"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
    // "d-dropdown": () => import("@/components/Dropdown"),
    // "d-modal": () => import("@/components/Modal"),
  },
  data() {
    return {
      loading: false,
      currLang: "ru",
      pagination: {
        page: 1,
        limit: 10
      },
      count: null,
      list: []
    }
  },
  mounted() {
    this.getList()
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    imageWithUrl(src) {
      return src.includes("http") ? src : `https://edu.sudya.uz${src}`
    },
    getList() {
      this.loading = true
      this.$store
        .dispatch("learningRegister/getGroupDetail", {
          id: this.$route.params.id,
          params: {
            offset: this.offsetComputed,
            limit: this.pagination.limit
          }
        })
        .then(data => {
          if (data && data.results) {
            this.list = data.results
            this.count = data.count
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err", err)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~@/assets/scss/base/_mixins.scss";
.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  &_pnone {
    flex-direction: row !important;
  }
  .register {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    &__header {
      height: 50px;
      display: flex;
      align-items: center;
      .register__title {
        flex: 1;
        color: #1761aa;
        font-size: 18px;
        padding-left: 5px;
      }
      .register__search {
        flex: 1;
        display: flex;
      }
    }
    &__footer {
      margin-top: auto !important;
    }
    &__theader {
      &__title {
        display: flex;
      }
      &__numb {
        margin-right: 18px;
        margin-left: 10px;
      }
    }
    &__content {
      &__teacher {
        display: flex;
        align-items: center;
      }
      &__groupname {
        display: flex;
      }
      &__numb {
        margin-right: 28px;
        margin-left: 10px;
      }
      &__img {
        width: 32px;
        min-width: 32px;
        height: 32px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 19px;
        img {
          @include img;
        }
      }
    }
  }
  .right-aside {
    padding: 0 0 0 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .aside-calendar {
      height: 290px;
      flex: 1;
    }
  }
}
</style>
