
.custom-card {
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
}
.gmember-create {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 150px);

    &_header {
        &.custom-card {
            padding: 10px 30px;
        }

        .main-title {
            font-size: 18px;
        }

        .save-btn {
            background-color: $blue;
            height: 36px;
            padding: 0 20px;
            float: right;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 16px;
        }

    }

    &_body {
        display: flex;
        height: calc(100% - 76px);
        margin-top: 20px;

        &__left {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            height: 100%;
            width: calc(70% - 20px);

            &-top {
                width: 100%;

                .search-card {
                    border-radius: 16px;
                    overflow: visible;
                    padding: 20px 30px 20px 40px;
                }
            }

            &-bottom {
                height: 100%;
                width: 100%;
                padding-right: 60px;
                padding-bottom: 40px;

                & > button.custom-btn-info {
                    margin-left: 10px;
                    svg {
                        height: 11px;
                        fill: white;
                        stroke: white;
                        margin-left: 10px;
                    }
                }

                .columns {
                    padding: 0 8px;
                }

                .lists-wrapper {
                    height: 100%;
                    margin-top: 20px;
                    
                    &-content {
                        height: calc(100% - 130px);
                        margin: 20px -37px 0 0;
                        overflow-y: scroll;
                        padding-right: 30px;
                    }
                }

                .chech-all {
                    display: flex;
                    align-items: center;
                }

                .is-checkradio[type=checkbox] + label, .is-checkradio[type=radio] + label {
                    padding: 0.05rem 1.25rem .25rem 0;
                }
            }
        }

        &__right {
            height: 100%;
            width: 30%;
            padding: 15px 15px 40px;

            &--title {
                padding-left: 10px;
            }

            &--content {
                height: calc(100% - 30px);
                overflow-y: scroll;
                overflow-x: hidden;
                padding-right: 10px;

                &-item {
                    &:hover {
                        background-color: $hovergrey;
                    }
                    .field {
                        margin-left: 10px;
                    }
                    .is-checkradio[type=checkbox] + label, .is-checkradio[type=radio] + label {
                        padding: 0.05rem 1.25rem .25rem 0;
                    }
                }
            }
        }
    }
}