@import "../../../base/mixins";
.group-members {
  padding: 25px 30px 30px 20px !important;
  overflow: hidden;

  &__header {
    margin-bottom: 10px;
    padding: 0 10px 0 12px;

    &--search {
      display: flex;
      align-items: center;

      .field {
        margin-bottom: 0;
        margin-right: 20px !important;

        .control.has-icons-right {
          input {
            padding-left: 10px;
          }
        }

        span.icon {
          width: 40px !important;
          padding-right: 5px;
        }
      }
    }
  }

  &__body {
    height: calc(100% - 30px);

    &--number {
      width: 3%;
      flex: none;
      font-size: 20px;
      color: $grey;
    }

    &--avatar {
      width: 6%;
      min-width: 65px;
      flex: none;
      display: flex;
    }
    &__delete {
      height: 11px;
    }
    @include deleteModal;
    &--more {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg.custom-dropdown__trigger {
        transform: rotate(90deg);
        width: 20px;
        float: right;
        fill: $grey;
        cursor: pointer;
      }

      // .dropdown-menu {
      //   svg {
      //   }
      // }
    }

    .columns {
      padding: 0 10px;
    }

    .lists-wrapper-header .columns,
    .lists-wrapper-content .columns {
      align-items: center;
    }
  }

  &__footer {
    margin-top: auto;

    .d-pagination {
      margin-right: 10px;
    }
  }
}
