@import "../../../base/mixins";
.right {
  display: flex;
  justify-content: flex-end;
}

.page-section {
  display: flex;
  flex-direction: column;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-title {
    color: $blue;
    font-size: 19px;
  }

  .main-title2 {
    color: $blue;
    font-size: 18px;
  }
}
.add-btn {
  background-color: $blue;
  width: auto;
  height: 30px;
  float: right;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  svg {
    width: 11px;
    fill: white;
    margin-right: 5px;
  }
  span {
    color: #fff;
    font-size: 17px;
  }
  @media (max-width: 1540px) {
    width: 30px;
    padding: 0 0;
    span {
      display: none;
    }
    svg {
      margin: 0;
    }
  }
}

.delete-btn {
  width: 30px;
  height: 30px;
  background: none;
  float: right;
  cursor: pointer;
  svg {
    transform: scale(1.6);
    width: 22px;
    fill: #c7c7c7;
    // transform: scale(1.7);
  }
}
.icon-btn {
  outline: none;
  border: none;
}
.education-groups {
  background-color: white;
  flex: 1;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  padding: 20px 30px 20px 20px;
  overflow: hidden;

  .d-pagination {
    justify-content: flex-end;
  }

  &__header {
    padding: 0 10px 0 12px;

    &--search {
      input {
        padding-left: 15px !important;
        padding-right: 40px !important;
      }

      span.icon {
        width: 40px !important;
        padding-right: 10px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
    .d-pagination {
      margin-top: auto;
    }
    a {
      color: $text-color;
    }
    @include deleteModal;
    .columns {
      padding: 0 10px;
    }

    .lists-wrapper-header .columns,
    .lists-wrapper-content .columns {
      align-items: center;
    }

    .lists-wrapper-header {
      .add-btn {
        margin-right: 8px;
      }
    }

    .lists-wrapper-content {
      .delete-btn {
        margin-right: 8px;

        svg {
          height: 11px;
        }
      }
    }
  }

  .add-group-modal {
    &--btn {
      display: block;
      margin: 50px auto 20px;
    }
  }
}
.custom-title {
  margin: 30px 0 10px;
}
