<template>
  <div class="card column">
    <div id="external-events">
      <p>
        <strong>Draggable Events</strong>
      </p>

      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 1</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 2</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 3</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 4</div>
      </div>
      <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
        <div class="fc-event-main">My Event 5</div>
      </div>

      <p>
        <input type="checkbox" id="drop-remove" />
        <label for="drop-remove">remove after drop</label>
      </p>
    </div>

    <FullCalendar ref="refFullCalendar" :options="calendar.options" />
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue"
import dayGridPlugin from "@fullcalendar/daygrid"
import timeGridPlugin from "@fullcalendar/timegrid"
import interactionPlugin, { Draggable } from "@fullcalendar/interaction"

export default {
  components: {
    FullCalendar
  },

  data() {
    return {
      calendar: {
        options: {
          plugins: [dayGridPlugin, timeGridPlugin, interactionPlugin],
          headerToolbar: {
            left: "",
            center: "",
            right: "dayGridMonth,timeGridWeek,timeGridDay"
          },
          initialView: "dayGridMonth",
          editable: true,
          droppable: false,

          drop(info) {
            console.log("drop", info)
          },

          events: [],

          eventTimeFormat: {
            // like '14:30:00'
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
            hour12: false,
            meridiem: false
          },

          slotLabelFormat: [
            {
              hour: "numeric",
              minute: "numeric",
              meridiem: false,
              hour12: false
            }, // top level of text
            { weekday: "short" } // lower level of text
          ],

          views: {
            dayGridMonth: {
              // name of view
              titleFormat: {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
                hour12: false,
                meridiem: false
              }
              // other view-specific options here
            },

            dayGrid: {
              // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
              hour12: false,
              meridiem: false
            },
            timeGrid: {
              // options apply to timeGridWeek and timeGridDay views
              hour12: false,
              meridiem: false
            },
            week: {
              // options apply to dayGridWeek and timeGridWeek views
              hour12: false,
              meridiem: false
            },
            day: {
              // options apply to dayGridDay and timeGridDay views
              hour12: false,
              meridiem: false
            }
          },

          timeFormat: "H(:mm)",

          eventsSet: this.handleEvents
        }
      },

      currentEvents: []
    }
  },

  mounted() {
    this.$nextTick(() => {
      let draggableEl = document.getElementById("external-events")
      new Draggable(draggableEl, {
        itemSelector: ".fc-event",
        eventData(eventEl) {
          console.log("eventDate", eventEl)
          return {
            title: eventEl.innerText
          }
        }
      })
    })
  },

  methods: {
    handleEvents(events) {
      console.log("handleEvents", events)
      this.currentEvents = events
    }
  }
}
</script>
