<template>
  <div class="page-section schedule">
    <div class="schedule__header">
      <div class="mr-4">
        <div class="title is-5 has-text-primary">Расписание</div>
        <!-- <router-link :to="{ name: 'cabinetLearningScheduleCr' }">
          Конструктор
        </router-link> -->
      </div>
      <div class="schedule__inputs ml-auto">
        <div>
          <d-select
            class="whitout_close grey-border height-min h-32"
            :options="courseList"
            label="name"
            :value="+$route.params.course_id || +searchInputs.course_id || -1"
            mil
            :reduce="item => item.id"
            @change="searchInputs.course_id = +arguments[0]"
            @input="setRouteQuery('course_id', $event)"
          />
        </div>
        <div>
          <d-input
            class="h-32"
            icon="search"
            :placeholder="$t('studyDepartment.search')"
            size="small"
            type="text"
            alignIcon="right"
            :value="$route.params.q || searchInputs.q || ''"
            @input="setRouteQuery('q', $event)"
          />
        </div>
      </div>
    </div>

    <div class="schedule__body">
      <d-lists dashedHeader :loading="loading" :len="results.length">
        <template #header>
          <div class="columns">
            <div class="column is-5"><span>{{$t('teacherOffice.title')}}</span></div>
            <div class="column is-4"><span>Курс</span></div>
            <div class="column is-2">
              <span>{{ $t("studyDepartment.formOfEducation") }}</span>
            </div>
            <div class="column right"></div>
          </div>
        </template>

        <template #content>
          <router-link
            class="columns is-vcentered"
            :to="{
              name: 'cabinetLearningScheduleId',
              params: { id: item.id }
            }"
            tag="div"
            :class="[!item.course ? 'grey-text not-clicked' : null]"
            v-for="item in results"
            :key="item.id"
          >
            <!-- Название -->
            <div class="column is-5">
              <span class="icon-container">
                <d-icon icon="check" class="custom-icon size-1" v-if="item.course && item.course.name" />
              </span>
              Группа №{{ item.id }} ({{ item.name }})
            </div>

            <!-- Курс -->
            <div class="column is-4" :class="[item.course && !item.course.name ? 'grey-text' : null]" @click="item.checked = !item.checked">
              {{ $nt($$(item, "course", "name")) }}
            </div>

            <!-- Форма обучения -->
            <div class="column is-2" :class="[item.course && !item.course.name ? 'grey-text' : null]">
              {{ item.course && $nt(item.course.type) }}
            </div>

            <d-dropdown up class="ml-auto pointer-events-all">
              <template #body>
                <d-icon
                  icon="more"
                  :class="['custom-dropdown__trigger', item.course && !item.course.name ? 'not-clicked' : null]"
                  style="margin-top: 8px"
                />
              </template>
              <template #dropdown-menu>
                <li v-if="!$$(item, 'course', 'name')">
                  <router-link
                    :to="{
                      name: 'cabinetLearningScheduleIdForm',
                      params: { id: item.id }
                    }"
                  >
                    <d-icon icon="student-dashbord" class="is-blue size-1" />
                    {{ $t("studyDepartment.course") }}
                  </router-link>
                </li>
                <li v-if="$$(item, 'course', 'name')">
                  <router-link
                    :to="{
                      name: 'cabinetLearningScheduleIdForm',
                      params: { id: item.id },
                      query: { name: 'set-teacher-to-module' }
                    }"
                  >
                    <d-icon icon="user" class="is-blue size-1" />
                    {{$t('teacherOffice.teachers')}}
                  </router-link>
                </li>
                <li>
                  <router-link
                    :to="{
                      name: 'cabinetLearningScheduleId',
                      params: { id: item.id }
                    }"
                  >
                    <d-icon icon="teacher-pen" class="is-blue size-1" />
                    {{$t('studyDepartment.edit')}}
                  </router-link>
                </li>
              </template>
            </d-dropdown>
          </router-link>
        </template>
      </d-lists>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import paginationMixin from "@/mixins/pagination"
import debounce from "lodash/debounce"

export default {
  components: {
    "d-select": () => import("@/components/inputs/select"),
    "d-input": () => import("@/components/inputs/input"),
    "d-lists": () => import("@/components/Lists"),
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-icon": () => import("@/components/icons/iconWrapper")
  },

  mixins: [paginationMixin],

  watch: {
    $route: {
      async handler() {
        this.loading = true
        try {
          Object.keys(this.$route.query).forEach(key => {
            if (key in this.searchInputs) {
              this.searchInputs[key] = this.$route.query[key] || null
            }
          })

          await this.fetchGroups({
            course: this.$route.query.course_id,
            search: this.$route.query.q
          }).then(res => {
            this.results = res?.data?.results || []
            this.count = res?.data?.count || 0
          })
        } catch (error) {
          console.error(error)
        }

        this.loading = false
      },
      immediate: true
    }
  },

  data() {
    return {
      checkSeen: [],
      // open: false,
      modalSeen: false,

      tabList: [
        {
          title: this.$t("studyDepartment.groups"),
          tab: 1,
          selected: true
        },
        {
          title: this.$t('teacherOffice.teachers'),
          tab: 2,
          selected: true
        }
      ],
      searchInputs: {
        course_id: null,
        q: ""
      },
      date: null,
      courseList: [],

      loading: false,
      open: false
    }
  },

  methods: {
    ...mapActions("scheduleGroups", ["fetchGroups"]),
    ...mapActions("scheduleCourse", {
      fetchCourses: "fetchList"
    }),
    closemodal() {
      this.modalSeen = false
    },

    setRouteQuery: debounce(function(key, e) {
      const t = {}
      this.searchInputs[key] = (isNaN(e) && e) || +e || null
      const s = JSON.parse(JSON.stringify(this.searchInputs))

      Object.keys(s)
        .filter(item => ![null, -1, ""].includes(s[item]))
        .forEach(key => {
          t[key] = s[key]
        })

      // console.log(e, "setRouteQuery", t);

      this.$router.push(
        {
          query: {
            ...t
          }
        },
        () => {}
      )
    }, 600)
    // onDateChange(date, varData) {
    //   this[varData] = date;
    //
    //   console.log(this[varData]);
    // }
  },

  mounted() {
    // this.setRouteQuery()
    this.fetchCourses().then(res => {
      const t = res || []
      this.courseList = [
        {
          id: -1,
          name: {
            ru: "Все курсы",
            uz: "Barcha kurslar",
            en: "All courses"
          }
        },
        ...t
      ]
    })
  }
}
</script>

<style lang="scss" scoped>
.modal-buttons {
  display: flex;
  & > div {
    flex: 1;
  }
}

.calendar-button {
  transform: scale(0.9);
  position: relative;
  top: -5px !important;
}

.grey-text {
  color: #a3aec1;
}

.not-clicked {
  pointer-events: none;
}

.icon-container {
  width: 15px;
  display: inline-block;
  padding-right: 18px;
}

.custom-icon {
  margin-right: 12px;
  margin-bottom: -3px;
}

.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: 20px;
}
.schedule {
  &__header {
    display: flex;
    .schedule__tabs {
      flex: 1;
    }
    .schedule__inputs {
      flex: 0.55;
      display: flex;
      div {
        &:nth-child(1) {
          position: relative;
          top: -5px;
          margin-right: 20px;
          flex: 1;
        }
        &:nth-child(2) {
          position: relative;
          top: 5px;
          flex: 1.2;
        }
      }
    }
  }
  //   &__body {
  //   }
}
</style>
