@import "base/variables";

// Bulma extetions
// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "bulma";
@import "~bulma-switch";
@import "~bulma-checkradio";
@import "vue-select/src/scss/vue-select.scss";

// Utils

// Base

@import "base/mixins";
@import "base/layouts";

* {
  font-family: "Proxima Nova";
}

select,
option {
  font-family: "Proxima Nova";
}
// Components
@import "components/header";
@import "components/sidebar";
@import "components/fullcalendar";

//Otabek components
@import "components/accordion";
@import "components/tables/table";
@import "components/tables/regtable";
@import "components/tables/attendTable";
@import "components/videoconf";

//Jamshid components
@import "components/task_cards";
@import "components/subject_block";
@import "components/count_cards";
@import "components/notify_block";
@import "components/avatar";
@import "components/week_tabs";
@import "components/breadcrumbs";
@import "components/tabs";
@import "components/galery_block";

// Jamshids views
@import "components/ed/groups/index";
@import "components/ed/groups/id";
@import "components/ed/groups/create";
@import "components/ed/connection/index";
@import "components/ed/connection/id";

/* Ziko's components */
@import "components/pagination";

// Pages
@import "pages/teachers";
@import "pages/videolib";
@import "pages/statements";
@import "pages/tlibrary";
@import "pages/schmodal";
@import "pages/exam";
@import "pages/calendar-inner";
@import "pages/addtheme";
@import "pages/intermediate";
@import "pages/addgroup";
@import "pages/links";

@import "base/transitions";

.status-icon {
  flex: none;
  margin-right: 8px;
}

.badge {
  width: 25px;
  height: 25px;
  border-radius: 4px;

  &__round {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.status-text {
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #ffca83;
}

.red {
  color: #fc5f74;
}

.green-bg {
  background-color: #42b874;
}

.yellow-bg {
  background-color: #ffcb85;
}

.red-bg {
  background-color: #ff7285;
}

.text-bold {
  font-weight: 600;
}

html {
  overflow: auto;

  body {
    overflow: hidden;
  }
}

* {
  font-family: "Proxima Nova";
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {
  position: relative;
  background-color: $bodycolor;
}

.content {
  padding-left: 300px;
  padding-top: 70px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  &.anime_content {
    padding-left: 100px;
  }

  &-main {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 40px 50px;
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adbcd4;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue;
}

.no-max-width {
  max-width: unset;
}

.no-width {
  width: auto;
}
.justify-content {
  &-start {
    justify-content: flex-start;
  }

  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
}

.fl-1,
.flex-1 {
  flex: 1;
}

.fl-2,
.flex-2 {
  flex: 2;
}

.ml-auto {
  margin-left: auto;
}

.m {
  &-auto {
    margin: auto;
  }
}
pre.fixed {
  position: fixed;
  right: 0;
  // top: var(--header-height);
  top: 62%;
  bottom: 0;
  width: 600px;
  min-width: 400px;
  max-width: 80%;
  z-index: 111111;
  overflow: auto;
  margin: 0 !important;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.06);
  transition: opacity 0.3s;

  &.left {
    right: unset;
    left: 0;
  }

  &.center:not(.full-width) {
    left: 50%;
    right: unset;
    transform: translateX(-50%);
  }

  &.full-width {
    left: 0;
    right: 0;
    width: 100%;
    max-width: unset;
  }

  // &:hover {
  //   opacity: 0;
  // pointer-events: none;
  // transition-delay: 0.6s;
  // }
}

.pointer-events-all {
  pointer-events: all;
}

.vs__selected {
  margin-top: 0;
  padding: 0;
}

.w-100,
.full-width {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.no-h,
.h-0 {
  height: unset;
}

.svg-bgblue-color {
  fill: $bgblue;
}

.flex-wrap {
  flex-wrap: wrap;
}

select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}

.h-32 .vs__selected {
  min-height: 32px;
}

.h-32 .vs__dropdown-toggle,
.h-32 {
  min-height: 32px;
}

.h-32 input {
  min-height: 32px;
}

.position {
  &-absolute {
    position: absolute;
  }
}

.perspective {
  &-800 {
    perspective: 800px;
  }
}

.fixed.draggable.resizable.vdr {
  z-index: 1111 !important;
  border: 1px solid rgba(10, 10, 10, 0.1);

  pre {
    padding: 0.2em 0.3em;
    font-size: 13px;
  }
}

// input.vs__search {
//   display: none
// }

.vs--open {
  input.vs__search {
    display: block
  }
}