<template>
  <div class="page-section">
    <div class="check-task">
      <div class="check-task__header">
        <div class="check-task__title">{{ $t("studyDepartment.modules") }}</div>
        <!-- <div class="check-task__search right">
          
        </div> -->
      </div>
      <div class="check-task__body">
        <d-tabs-underline class="flex-1" v-model="selectedTab">
          <d-tabs-underline-item name="1" :tab="$t('teacherOffice.tasks')" class="section__list">
            <d-lists :loading="loading" :len="list.length">
              <template #content>
                <router-link
                  :to="{
                    name: 'cabinetTeachersCheckTasksId',
                    params: { id: item.id },
                    query: { type: 'task' }
                  }"
                  tag="div"
                  class="columns"
                  v-for="item in list"
                  :key="item.id"
                >
                  <div class="column is-12">
                    {{ $nt(item.name) }}
                  </div>
                  <!-- <div class="column is-1 right">
                <div class="check-task__badge">+54</div>
              </div> -->
                </router-link>
              </template>
            </d-lists>
          </d-tabs-underline-item>
          <d-tabs-underline-item name="2" :tab="$t('teacherOffice.houseTasks')" class="section__list">
            <d-lists :loading="loading" :len="list.length">
              <template #content>
                <router-link
                  :to="{
                    name: 'cabinetTeachersCheckTasksId',
                    params: { id: item.id },
                    query: { type: 'hometask' }
                  }"
                  tag="div"
                  class="columns"
                  v-for="item in list"
                  :key="item.id"
                >
                  <div class="column is-12">
                    {{ $nt(item.name) }}
                  </div>
                  <!-- <div class="column is-1 right">
                <div class="check-task__badge">+54</div>
              </div> -->
                </router-link>
              </template>
            </d-lists>
          </d-tabs-underline-item>
        </d-tabs-underline>
      </div>
      <div class="check-task__footer right">
        <d-pagination v-model="pagination.page" @change="fetch" :total="pagination.count" :limit="pagination.limit" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  components: {
    // "d-select": () => import("@/components/inputs/select"),
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/PaginationInput"),

    DTabsUnderline: () => import("@/components/tabsUnderline"),
    DTabsUnderlineItem: () => import("@/components/tabsUnderline/item")
    // "d-calendar-widget": () => import("@/components/calendar/calendar2"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
    // "d-dropdown": () => import("@/components/Dropdown"),
    // "d-modal": () => import("@/components/Modal"),
  },
  data() {
    return {
      loading: false,
      list: [],
      pagination: {
        page: 1,
        total: 10,
        count: 1
      },

      selectedTab: {
        name: "1"
      }
    }
  },
  watch: {
    selectedTab() {
      this.fetch(this.selectedTab.name)
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("teacherTaskCheck", ["getTaskModules", "getHomeTaskAnswerList"]),
    fetch(type) {
      this.loading = true

      if (type == 1) {
        this.getTaskModules({
          offset: this.offsetComputed,
          limit: this.pagination.limit
        }).then(res => {
          this.pagination.count = res.count
          this.list = res.results
        })
      }

      if (type == 2) {
        this.getHomeTaskAnswerList({
          offset: this.offsetComputed,
          limit: this.pagination.limit
        }).then(res => {
          this.pagination.count = res.count
          this.list = res.results
        })
      }

      this.loading = false
    }
  },
  mounted() {
    this.fetch(this.selectedTab.name)
  }
}
</script>

<style lang="scss" scoped>
.page-section {
  flex-direction: row !important;
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  .check-task {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    &__badge {
      background-color: #d4efdf;
      border-radius: 4px;
      font-size: 14px;
      padding: 0 7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__header {
      height: 50px;
      display: flex;
      align-items: center;
      .check-task__title {
        flex: 1;
        color: #1761aa;
        font-size: 18px;
        padding-left: 10px;
      }
      .check-task__search {
        flex: 1;
        display: flex;
      }
    }
    &__footer {
      margin-top: auto !important;
    }
  }
}
</style>
