<template>
  <div>
    <d-lists>
      <template #header>
        <div class="columns">
          <div class="column is-4">{{ $t("teacherOffice.title") }}</div>
          <div class="column is-3">Язык</div>
          <div class="column is-3">Область</div>
          <div class="column pr-0 is-2 has-text-centered flex-row justify-content-end">
            <button class="add-btn icon-btn" @click="onCreateClick">
              <d-icon icon="accordion_plus" />
              <span>
                {{ $t("studyDepartment.add") }}
              </span>
            </button>
          </div>
        </div>
      </template>
      <template #content>
        <div v-for="(item, index) in list" :key="index" class="directory__list--item">
          <div class="columns">
            <div class="column is-4">{{ (item && item.name[mainLang]) || "Нет названия" }}</div>
            <div class="column is-3">{{ mainLang || "Нет данных" }}</div>
            <div class="column is-3">{{ (item.city && item.city.name[mainLang]) || "Нет названия" }}</div>
            <div class="column is-2 directory__list--item__icons">
              <div>
                <d-icon icon="teacher-pen" @click.native.prevent="onEditClick(item)" />
              </div>
              <div>
                <d-icon icon="bin" @click.native.prevent="onDeleteClick(item)" />
              </div>
            </div>
          </div>
        </div>
      </template>
    </d-lists>
    <d-modal :seen="openModal" size="small" :title="`${$t('studyDepartment.add')} ${title}`" @closemodal=";(openModal = false), (isEditing = false)">
      <div class="add-group-modal">
        <d-input class="grey rounded" :placeholder="$t('teacherOffice.enterTheText')" v-model="form.name[currLang]"></d-input>
        <div class="lang-row">
          <div class="lang-row__item" v-for="(item, index) in langOptions" :key="item.code" @click="onLangClick(item)">
            <div class="lang-row__item__circle" v-if="item.code != currLang">
              {{ index + 1 }}
            </div>
            <d-icon v-else icon="check" />
            <div class="lang-row__item__code">
              {{ item.code }}
            </div>
          </div>
        </div>
        <div>
          <div class="custom-title mt-0">Область</div>
          <d-select
            class="grey-2"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="cityOptionsLang"
            label="name"
            no-title
            v-model="form.city_id"
            :reduce="(item) => item.id"
          ></d-select>
        </div>
        <d-button class="directory__modal-btn" @click="createOrUpdate" color="blue" :disabled="requesting" rounded :text="$t('studyDepartment.save')">
        </d-button>
      </div>
    </d-modal>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      type: Array
    },
    title: {
      type: String
    },
    createResponse: {
      type: [Object, Array]
    }
  },
  watch: {
    "$parent.openModal": {
      handler(newVal) {
        if (!newVal) {
          if (this.isEditing) {
            this.isEditing = false
          }

          this.openModal = false
        }
      }
    },
    "$parent.requesting": {
      handler(newVal) {
        if (!newVal) this.requesting = false
      }
    },
    "form.language_id": {
      handler(newVal, oldVal) {
        console.log("asdasdasdas", newVal, oldVal)
      }
    },
    openModal: {
      handler(newVal) {
        if (!newVal) {
          this.form = {}
          this.form = {
            name: {},
            city_id: null,
            id: null
          }
          this.getLists()
        }
      }
    }
  },
  mounted() {
    this.getLists()
  },
  data() {
    return {
      currLang: "",
      mainLang: "",

      defaultLangCityId: null,
      // selectedObjList: [],
      // isCreating: false,
      isEditing: false,
      openModal: false,
      // fetching: false,
      requesting: false,
      form: {
        name: {},
        city_id: null,
        id: null
      },
      langOptions: [],
      cityOptions: []
    }
  },
  computed: {
    cityOptionsLang() {
      return this.cityOptions.map((item) => {
        let newItem = {
          ...item,
          name: item.name[this.currLang] ? item.name[this.currLang] : item.name[Object.keys(item.name).find((key) => item.name[key] != "")]
        }
        return { ...item, name: newItem.name }
      })
    }
  },
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-input": () => import("@/components/inputs/input"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-modal": () => import("@/components/Modal"),
    "d-select": () => import("@/components/inputs/select")
    // "d-loader": () => import("@/components/loaders/spinner"),
  },
  methods: {
    onCreateClick() {
      if (!this.langOptions.length) {
        this.$emit("enterLang")
        return
      }
      this.isCreating = true
      this.openModal = true
    },
    onLangClick(langItem) {
      this.currLang = langItem.code
      //merged master
    },
    onDeleteClick(item) {
      this.$emit("deleteItem", item.id)
    },
    createOrUpdate() {
      let newForm = {}
      for (let item in this.form) {
        console.log("object", item, this.form[item])
        if (this.form[item]) newForm[item] = this.form[item]
      }
      this.$emit("createOrUpdate", newForm)
    },
    getLists() {
      this.$store.dispatch(`catalog/get`, "language").then((res) => {
        if (res.results && res.results.length) {
          this.langOptions = res.results
          this.currLang = this.langOptions[0].code
          this.mainLang = this.langOptions[0].code
          for (let item of this.langOptions) {
            this.form.name = {
              ...this.form.name,
              [item.code]: ""
            }
          }
        }
      })
      this.$store.dispatch(`catalog/get`, "city").then((res) => {
        if (res.results && res.results.length) {
          this.cityOptions = res.results
        }
      })
    },
    onEditClick(item) {
      this.openModal = true

      this.isEditing = true
      // this.fetching = true

      // console.log('langs', this.langOptions);

      const langPrefixes = this.langOptions.map((item2) => item2.code)

      // console.log('langPrefixes', langPrefixes);

      for (let elem in this.form) {
        this.form[elem] = elem == "city_id" ? item.city && item.city.id : JSON.parse(JSON.stringify(item[elem])) || null
      }

      langPrefixes.forEach((lang) => {
        if (!(lang in this.form.name)) {
          this.form.name[lang] = ""
        }
      })

      // this.openModal = true
      // this.isEditing = true
      // this.isCreating = false
      // this.requesting = true
      // this.fetching = true

      // this.$axios.get(`/catalog/district/list/?language_group_id=${item.language_group_id}`)
      //     .then(res => {
      //         if (res && res.data && res.data.results) {
      //             this.selectedObjList = res.data.results
      //             let firstItem = res.data.results.find(item2 => item2.language.id == this.form.language_id)
      //             let engCity = this.selectedObjList.find(item => item.language.id == 3)
      //             for(let elem in this.form) {
      //                 this.form[elem] =  elem == 'language_id'
      //                     ? firstItem.language && firstItem.language.id
      //                     : (elem == 'city_id' ? engCity.city && engCity.city.id : JSON.parse(JSON.stringify(firstItem[elem])) || '')

      //                 if(engCity && engCity.city && engCity.city.language)
      //                     this.defaultLangCityId = engCity.city.language.id
      //             }

      //         }
      //         this.requesting = false
      //         this.fetching = false
      //     })
      //     .catch(err => {
      //         console.log(err);
      //         this.fetching = false
      //         this.requesting = false
      //     })
    }
  }
}
</script>

<style lang="scss"></style>
