<template>
  <div class="columns materials-detail m-0">
    <div class="column is-9">
      <div class="custom-card materials-detail__left">
        <div class="title-row">
          <div class="main-title">
            <span>{{ $route.query.theme }}</span>
          </div>
        </div>
        <d-lists :loading="loading" :len="list.length" dashed-header no-list-hover>
          <template #header>
            <div class="columns">
              <div class="column is-1"><span>№</span></div>
              <div class="column is-11"><span>Вопрос</span></div>
            </div>
          </template>

          <template #content>
            <div class="dashed-list" v-for="(item, index) in list[0].questions" :key="index">
              <div class="columns">
                <div class="column is-1" style="color: #1761aa">
                  <b v-if="list[0].questions[index].answers.length">
                    {{ index + 1 }}
                  </b>
                </div>
                <div class="column is-11">
                  <b>{{ $nt(item.question) }}</b>
                  <div class="mt-2">
                    <div v-for="(el, i) in item.answers" :key="i">
                      <span class="answer-idicator"> <span :class="{ 'anwer-indicator__right': el.is_correct }"></span> </span
                      >{{ $nt(el.answer) }}
                    </div>
                  </div>
                </div>
                <div class="column is-5"></div>
              </div>
            </div>
          </template>
        </d-lists>
      </div>
    </div>
    <div class="column is-3">
      <div class="custom-card materials-detail__right">
        <div class="title-row">
          <div class="main-title">
            <span>{{$t('studentOffice.materials')}}</span>
          </div>
          <router-link
            tag="button"
            :to="{
              name: 'cabinetTeachersMaterialsCreate',
              query: { id: $route.params.id }
            }"
            class="add-btn icon-btn"
            @click="openModal = !openModal"
          >
            <d-icon icon="accordion_plus" class="mr-0" />
          </router-link>
        </div>
        <template v-if="!material_list.length">
          <center>
            <p class="mt-3">{{ $t("studyDepartment.empty") }}</p>
          </center>
        </template>
        <template v-else>
          <div class="columns py-2 mx-0 mt-2 profile-detail padding-sm-x is-vcentered" v-for="item in material_list" :key="item.id">
            <div class="icon-container">
              <img :src="require('@/assets/images/word.png')" alt="file" />
            </div>
            <div class="column py-0">
              <div class="file-title">
                <router-link
                  :to="{
                    name: 'cabinetTeachersMaterialsCreate',
                    query: { id: $route.params.id, item_id: item.id }
                  }"
                >
                  {{ item.title }}</router-link
                >
              </div>
              <div class="text-gray time-div">
                <d-icon icon="time" class="icon-clock" />
                {{ item.created_at }} |
                <a :href="item.file" class="download-link mr-2" download="download">
                  {{$t('teacherOffice.download')}}
                  <d-icon icon="download" />
                </a>
                |
                <span @click="remove(item.id)" class="pointer">
                  <d-icon icon="bin" class="is-blue size-1 ml-2" />
                </span>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-icon": () => import("@/components/icons/iconWrapper")
    // "d-radio": () => import("@/components/inputs/radio"),
    // 'd-input': Input,
    // "d-modal": () => import("@/components/Modal"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
    // "d-select": () => import("@/components/inputs/select"),
  },
  data() {
    return {
      check: "",
      material_list: [],
      list: [],
      loading: false
    }
  },
  watch: {
    $route: {
      handler: "fetch",
      immediate: true
    }
  },
  methods: {
    ...mapActions("teacherMaterials", ["getLessonMaterialsList", "getMaterialQuestionList", "removeMaterial"]),
    fetch() {
      this.getMaterialQuestionList({
        lesson_event: this.$route.params.id
      }).then(res => (this.list = res.results || []))
      this.getLessonMaterialsList({
        lesson_event: this.$route.params.id
      }).then(res => (this.material_list = res))
    },
    remove(id) {
      this.removeMaterial(id).then(res => (res.status == 200 || res.status == 204 ? this.fetch() : alert("Что-то пошло не так")))
    }
  }
}
</script>

<style lang="scss">
.pointer {
  cursor: pointer;
}

.answer-idicator {
  width: 12px;
  height: 12px;
  border: 1px solid #9aa6bb;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  position: relative;
  bottom: -2px;
  span {
    display: none;
  }
  .anwer-indicator__right {
    width: 8px;
    height: 8px;
    background: #1761aa 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: inline-block;
  }
}

.icon-clock {
  width: 13px;
  margin-right: 5px;
}

.materials-detail {
  width: 100%;

  &__left,
  &__right {
    height: 100%;
  }

  &__left {
    .dashed-list {
      &:not(:first-child) {
        border-top: 1px dashed $grey;
      }

      .control + .control {
        margin-top: 15px;
      }
    }
  }

  &__right {
    .profile-detail {
      border-radius: 8px;

      &:first-child {
        margin-top: 20px;
      }
      .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .icon-container {
        height: 50px;
        width: 50px;
        background-color: #2a56991a;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 48px;

        img {
          width: 25px;
        }
      }

      .file-title {
        line-height: 1;
      }

      .time-div {
        display: flex;
        font-size: 14px;
        color: $grey;
        fill: $grey;
        margin-top: 5px;

        .icon-clock {
          width: 13px;
          margin-right: 5px;
        }

        .download-link {
          color: $blue;
          padding-left: 5px;
          svg {
            width: 12px;
            fill: $blue;
          }
        }
      }
    }
  }
}
</style>
