<template>
  <div class="page-section">
    <div class="create-program">
      <div class="create-program__header">
        <div class="create-program__title">{{ $route.query.item_id ? this.$t("studyDepartment.change") : "Добавить" }} материал</div>
      </div>
      <div class="create-program__body pt-5">
        <div class="columns">
          <div class="column pl-5 pr-5">
            <div class="my-4">
              <d-badge-tabs class="mt-5" v-model="langName" :options="$langPrefixes" />
            </div>
            <div class="mb-5">
              <d-input
                :title="$t('teacherOffice.title')"
                :placeholder="$t('teacherOffice.enterTheText')"
                rounded
                v-model="form.title"
                class="grey"
                style="padding: 0"
              />
            </div>

            <div class="mb-5">
              <p class="mb-2">{{ $t("teacherOffice.file") }}:</p>
              <label for="file" class="tmodal__upload">
                <span>{{
                  $route.query.item_id ? form.file && form.file.substr(0, 40) + "..." : form.file != null ? form.file.name : "Добавить файл"
                }}</span>
                <d-icon icon="paper-clip" />
              </label>
              <input type="file" id="file" @change="fileHandler" />
            </div>
            <div class="mb-5">
              <p class="mb-2">{{ $t("teacherOffice.teachers") }}:</p>
              <d-select
                class="add-group__filter__select rounded grey-2"
                :placeholder="$t('studyDepartment.select')"
                :options="teachers_list"
                label="name"
                multiple
                v-model="form.teacher"
                :reduce="(item) => item.id"
              />
            </div>
            <div class="mb-5">
              <p class="mb-2">{{ $t("teacherOffice.students") }}:</p>
              <d-select
                class="add-group__filter__select rounded grey-2"
                :placeholder="$t('studyDepartment.select')"
                :options="student_list"
                label="name"
                multiple
                v-model="form.student"
                :reduce="(item) => item.id"
              />
            </div>
            <div class="mb-5">
              <p class="mb-2">{{ $t("studyDepartment.groups") }}:</p>

              <d-select
                class="add-group__filter__select rounded grey-2"
                :placeholder="$t('studyDepartment.select')"
                :options="group_list"
                label="name"
                multiple
                v-model="form.student_group"
                :reduce="(item) => item.id"
              />
            </div>
          </div>
          <div class="column pr-5 pl-5"></div>
        </div>
      </div>
      <div class="create-program__footer">
        <div class="create-program-buttons columns px-3">
          <div class="create-program-buttons__cancel column">
            <router-link
              :to="{
                name: 'cabinetTeachersMaterialsId',
                params: { id: $route.query.id }
              }"
            >
              <d-button :text="$t('studyDepartment.cancel')" class="grey" rounded />
            </router-link>
          </div>
          <div class="create-program-buttons__save column right">
            <d-button :text="$t('studyDepartment.save')" @click="send" class="blue" rounded />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  components: {
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-input": () => import("@/components/inputs/input"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-badge-tabs": () => import("@/components/BadgeTabs"),
    "d-select": () => import("@/components/inputs/select")
  },
  data: () => ({
    langName: "",
    form: {
      title: "",
      file: null,
      teacher: [],
      student: [],
      student_group: []
    },
    teachers_list: [],
    group_list: [],
    student_list: []
  }),
  watch: {
    $route: {
      handler: "fetch",
      immediate: true
    }
  },
  methods: {
    ...mapActions("teacherMaterials", ["getLessonMaterialsDetail", "getTeacherList", "getStudentGroupList", "getStudentList", "sendOrUpdate"]),
    fetch() {
      this.langName = this.$i18n.locale || "ru"

      this.form.lesson_event = this.$route.query.id

      if (this.$route.query.item_id) {
        this.form.id = this.$route.query.item_id
        this.getLessonMaterialsDetail(this.$route.query.item_id).then((res) => (this.form = res))
      }

      this.getTeacherList().then((res) => (this.teachers_list = res || []))
      this.getStudentGroupList().then((res) => (this.group_list = res || []))
      this.getStudentList().then((res) => (this.student_list = res || []))
    },
    send() {
      this.sendOrUpdate(this.form).then((res) => {
        res.status == 200 || res.status == 201
          ? this.$router.push({
              name: "cabinetTeachersMaterialsId",
              params: { id: this.$route.query.id }
            })
          : alert("Что-то пошло не так!")
      })
    },
    fileHandler(e) {
      console.log(e.target.files)
      if (e.target.files && e.target.files.length) {
        this.form.file = e.target.files[0]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.create-program {
  display: flex;
  flex: 1;
  flex-direction: column;
  &__header {
    color: $blue;
    font-size: 18px;
  }
  &__footer {
    margin-top: auto;
  }
}
</style>
