<template>
  <div class="materials">
    <div class="title-row materials-header px-0">
      <div class="main-title">
        <span>{{$t('studentOffice.materials')}}</span>
      </div>
      <div class="materials-header__selects">
        {{ $t("studyDepartment.course") }}:
        <d-select
          class="rounded white"
          :placeholder="$t('teacherOffice.enterTheText')"
          :options="course_list"
          label="name"
          clearable
          ml
          no-title
          v-model="course_id"
          :reduce="item => item.id"
        ></d-select>
        {{$t('studyDepartment.module')}}:
        <d-select
          :class="['rounded white', { 'white-disabled': !courseSelected }]"
          :placeholder="$t('teacherOffice.enterTheText')"
          :options="module_list"
          label="module_name"
          clearable
          ml
          no-title
          v-model="module_id"
          @change="fetch"
          :disabled="!courseSelected"
          :reduce="item => item.id"
        ></d-select>
      </div>
    </div>

    <div class="materials-body">
      <center v-if="!list.length">
        <h3 class="mt-5">{{ $t("studyDepartment.empty") }}</h3>
      </center>

      <div class="columns is-multiline" v-else>
        <d-task-card v-for="(item, index) in list" :key="index + 8" :item="item">
          <template>
            <router-link
              class="button is-rounded custom-btn-grey btn-more"
              :to="{
                name: 'cabinetTeachersMaterialsId',
                params: { id: item.id },
                query: { theme: $nt(item.theme) }
              }"
            >
              <span> {{$t('teacherOffice.detailed')}} </span>
              <span class="icon">
                <d-icon icon="angle-right" />
              </span>
            </router-link>
          </template>
        </d-task-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

import DTaskCard from "@/components/TaskCard"
import DIcon from "@/components/icons/iconWrapper"
export default {
  components: {
    "d-select": () => import("@/components/inputs/select"),
    DTaskCard,
    DIcon
  },
  data() {
    return {
      course_id: null,
      module_id: null,
      courseSelected: false,
      list: [],
      course_list: [],
      module_list: [],
      loading: false
    }
  },
  watch: {
    course_id() {
      this.course_id != null ? (this.courseSelected = true) : ((this.courseSelected = false), (this.module_id = null))
    },
    module_id() {
      if (this.module_id == null) (this.module_list = []), this.fetch()
    },
    courseSelected() {
      this.courseSelected ? this.getModuleList({ course: this.course_id }).then(res => (this.module_list = res || [])) : (this.course_id = null)
    }
  },
  methods: {
    ...mapActions("teacherMaterials", ["getMaterialsLessonsList", "getCourseList", "getModuleList"]),
    fetch() {
      this.loading = true
      this.getMaterialsLessonsList(this.module_id != null ? { module_id: this.module_id } : false).then(res => (this.list = res || []))
      this.getCourseList().then(res => (this.course_list = res) || [])
      this.loading = false
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>

<style lang="scss">
.materials {
  width: 100%;

  &-header {
    .main-title {
      font-size: 19px !important;
      font-weight: 600;
    }

    &__selects {
      display: flex;
      align-items: center;

      & > span {
        margin-left: 10px;

        &:first-child {
          margin-right: 40px;
        }
      }

      .v-select {
        min-width: 200px;
      }
    }
  }

  &-body {
    margin-top: 40px;
  }
}
</style>
