<template>
  <div class="feedback-questions-edit">
    <d-tabs :value="tab" :tab-list="tabList" @item="onTabChange" new-tabs>
      <template #content>
        <div class="feedback-questions-edit__body custom-card" v-if="moduleReview || tab == 1">
          <div class="mb-4">
            <d-badge-tabs v-model="langName" :options="$langPrefixes" />
          </div>
          <div class="feedback-questions-edit__body__question" v-for="(item, index) in list" :key="index">
            <div>
              <div class="feedback-questions-edit__body__question_number">
                {{ index + 1 }}
              </div>
            </div>
            <div>
              <div class="feedback-questions-edit__body__question_question w-50">
                <div class="columns">
                  <div class="column is-11">
                    <d-input
                      :title="$t('teacherOffice.question')"
                      :placeholder="$t('teacherOffice.enterTheText')"
                      rounded
                      class="grey"
                      v-model="item.text[langName]"
                    />
                    <div class="invalid_item" v-if="invalidQuestion || invalidAnswers">
                      {{ invalidQuestion ? "Вопрос не может быть пустым" : "У вопроса должны быть не менее 2 вариантов ответа" }}
                    </div>
                  </div>
                  <div class="column pt-5 delete-btn pl-0" @click="removeAction(item.id, index)">
                    <div class="pt-2">
                      <d-icon icon="bin" class="size-1 mt-5" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="feedback-questions-edit__body__question_variant w-50" v-for="(variant, varKey) in item.answers" :key="varKey">
                <div class="columns">
                  <div class="column is-11">
                    <d-input
                      :title="`Ответ ${String.fromCharCode(65 + varKey)})`"
                      :placeholder="$t('teacherOffice.enterTheText')"
                      rounded
                      class="grey"
                      v-model="variant.text[langName]"
                    />
                    <div class="invalid_item" v-if="variant.invalid">Вариант ответа не может быть пустым</div>
                  </div>
                  <div class="column pt-5 delete-btn pl-0" @click="removeAnswerAction(index, varKey)">
                    <div class="pt-2">
                      <d-icon icon="bin" class="size-1 mt-5" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="feedback-questions-edit__body__question_rightanswer">
                <d-btn :loading="loading" rounded :text="$t('teacherOffice.textAddAnswer')" color="grey" class="mr-4" @click="addAnswer(index)" />
                <d-btn :loading="loading" rounded :text="$t('studyDepartment.save')" @click="sendAction(index, item)" color="blue" />
              </div>
            </div>
          </div>
          <hr />
          <div class="pl-5 pt-5 mt-2 ml-3">
            <d-btn :loading="loading" @click="addQuestion" class="ml-5" rounded text="Добавить вопрос" color="blue2" />
          </div>
        </div>

        <div class="feedback-questions-edit__body custom-card" v-if="tab == 2 && !moduleReview">
          <span v-if="!moduleReview">
            <div class="teachers__header__title mb-3 pl-3">{{ $t("studyDepartment.modules") }}</div>
            <d-list :loading="moduleLoading" :len="moduleList && moduleList.length">
              <template #content>
                <div v-for="item in moduleList" :key="item.id">
                  <div class="columns" @click="openModule(item.id)">
                    <div class="column">
                      {{ $nt(item.name) }}
                    </div>
                  </div>
                </div>
              </template>
            </d-list>
          </span>
        </div>
      </template>
    </d-tabs>
    <!-- <pre class="fixed left">
      {{ list }}
    </pre> -->
  </div>
</template>

<script>
import DTabs from "@/components/Tabs"
// import DMultipleChoice from "@/components/MultipleChoiceQuestions";
import DBtn from "@/components/buttons/loaderButton"
import DInput from "@/components/inputs/input"
import DIcon from "@/components/icons/iconWrapper"

import { mapActions } from "vuex"

export default {
  components: {
    DTabs,
    DBtn,
    DIcon,
    // DMultipleChoice,
    DInput,
    "d-list": () => import("@/components/Lists"),
    "d-badge-tabs": () => import("@/components/BadgeTabs")
  },
  data() {
    return {
      loading: false,
      moduleLoading: false,
      moduleReview: false,

      langName: "",
      newAnswer: {
        ru: "",
        en: "",
        uz: ""
      },
      newQuestion: {
        ru: "",
        en: "",
        uz: ""
      },
      tabList: [
        {
          title: "Обратная связь по курсу",
          tab: 1
        },
        {
          title: "Обратная связь по дисциплинам",
          tab: 2
        }
      ],
      list: [],
      moduleList: [],
      topics: {},
      tab: 1,
      invalidQuestion: false,
      invalidAnswers: false
    }
  },
  watch: {
    $route: {
      handler() {
        if (this.$route.query.tab) {
          this.onTabChange(this.$route.query, true)
        }
        if (this.$route.query.module && this.$route.query.tab != 1) {
          this.openModule(this.$route.query.module)
        }
        this.fetchData()
      },
      immediate: true
    }
  },
  computed: {
    courseOrModule() {
      return this.moduleReview ? "module" : "course"
    }
  },
  methods: {
    ...mapActions("learningConnection", [
      "getCourseQuestions",
      "createOrUpdateFeedbackQuestion",
      "deleteFeedbackQuestion",
      "getModules",
      "getTopics"
    ]),
    fetchData() {
      this.langName = this.$i18n.locale || "ru" || "en" || "uz"

      this.loading = true
      if (!this.moduleReview) {
        this.getCourseQuestions(this.$route.params.id).then((res) => {
          this.list = res
          this.loading = false
        })
      } else {
        this.openModule(this.$route.query.module)
      }

      this.moduleLoading = true

      this.getModules(this.$route.params.id).then((res) => {
        this.moduleList = res && res.data && res.data.results
        this.moduleLoading = false
      })
    },
    addAnswer(id) {
      this.list[id].answers.push({
        text: {
          [this.langName]: this.newAnswer[this.langName]
        }
      })
    },
    addQuestion() {
      let courseOrModule = this.moduleReview ? "module_course" : "course"
      this.list.push({
        text: {
          [this.langName]: this.newQuestion[this.langName]
        },
        [courseOrModule]: this.moduleReview ? this.$route.query.module : this.$route.params.id,
        answers: []
      })
    },
    sendAction(index, item) {
      if (!item.text[this.langName]) {
        this.invalidQuestion = true
        return
      }
      this.invalidQuestion = false
      if (item.answers.length < 2) {
        this.invalidAnswers = true
        return
      }
      this.invalidAnswers = false
      if (item.answers.some((item) => item.text[this.langName] == "")) {
        item.answers.forEach((answer) => {
          if (!answer.text[this.langName]) {
            this.$set(answer, "invalid", true)
          } else {
            answer.invalid = false
            this.$delete(answer, "invalid")
          }
        })
        return
      }

      this.loading = true
      this.createOrUpdateFeedbackQuestion({
        form: this.list[index],
        courseOrModule: this.courseOrModule
      }).then((res) => {
        if (res.status >= 200 && res.status < 204) {
          this.$store.dispatch("snackbar/changeToasts", {
            text: `Вопрос успешно ${res.status == 201 ? "создан" : "обновлен"}!`,
            color: "success"
          })
        }

        this.fetchData()
      })
    },
    openModule(id) {
      this.getTopics(id).then((res) => {
        if (this.$route.query.module != id) {
          this.$router.push({
            query: { ...this.$route.query, module: id }
          })
        }
        this.list = res.results
        this.loading = false
      })
    },
    removeAction(id, index) {
      this.loading = true
      if (id) {
        this.fetchData()
      } else {
        this.list.splice(index, 1)
        this.loading = false
      }
    },

    removeAnswerAction(index, id) {
      this.list[index].answers.splice(id, 1)
    },
    onTabChange(item, concatQuery = false) {
      if (item.tab) {
        this.tab = item.tab
        const queryProps = concatQuery ? { ...this.$route.query, tab: item.tab } : { tab: item.tab }
        this.$router.push({ query: queryProps }, () => {})
        this.moduleReview = this.$route.query.module ? true : false
      }
    }
  }
}
</script>

<style lang="scss">
.w-50 {
  width: 44% !important;
}

.w-55 {
  width: 55% !important;
}

.feedback-questions-edit__body__question_question,
.feedback-questions-edit__body__question_variant {
  .delete-btn {
    opacity: 0;
    transition: 0.25s all;
  }
  &:hover {
    .delete-btn {
      opacity: 1;
    }
  }
  .field {
    margin-bottom: 0;
  }
  .invalid_item {
    font-size: 14px;
    color: $badgeRed;
    text-align: center;
  }
}

.feedback-questions-edit {
  flex: 1;
  padding: 0 50px 50px 50px;

  .tabs-content {
    height: 100%;

    .custom-tabs {
      margin-bottom: 30px;
    }
  }

  &__body {
    height: calc(100% - 88px);
    padding: 30px;

    &__question {
      display: flex;

      &:not(:first-child) {
        margin-top: 30px;
      }

      & > div {
        &:first-child {
          width: 60px;
          flex: none;
        }

        &:last-child {
          flex: 1;

          & > div {
            margin-top: 30px;
            width: 40%;
            min-width: 300px;
          }
        }
      }

      &_number {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $dashedBorder;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      // &_rightanswer {
      // }
    }
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    left: 300px;
    right: 0;
    height: 60px;
    background-color: #5275aa;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      margin-right: 80px;
      background-color: #5275aa !important;
    }
  }
}
</style>
