<template>
  <div class="feedback-detail-detail">
    <loading-progress v-if="loading" />
    <template v-if="!loading">
      <d-tabs :value="tab" :tab-list="tabList" @item="onTabChange" new-tabs>
        <template #tabs-right v-if="tab == 1">
          <div class="feedback-detail-detail__person__comments">
            <router-link :to="{ name: 'cabinetLearningConnectionIdQuestionsEdit' }">
              <d-btn :loading="false" :text="$t('studyDepartment.edit')" color="blue2" />
            </router-link>
          </div>
        </template>

        <template #content>
          <div class="feedback-detail-detail__body custom-card" v-if="tab == 1">
            <div class="feedback-detail-detail__body__empty" v-if="questions.length == 0">
              {{ $t("studyDepartment.empty") }}
            </div>
            <d-multiple-choice ml :questions="questions" v-else />
          </div>

          <div class="feedback-detail-detail__body custom-card" v-if="tab == 2 && !$route.query.module">
            <div class="title-row">
              <div class="main-title text-bold">
                <span>{{ $t("studyDepartment.modules") }}</span>
              </div>
            </div>
            <div class="feedback-detail-detail__body__content">
              <d-lists :loading="loading" :len="listDiscipline && listDiscipline.length">
                <template #content>
                  <div v-for="item in listDiscipline" :key="item.id">
                    <div class="columns" @click="openModule(item.id)">
                      <div class="column">
                        {{ $nt(item.name) }}
                      </div>
                    </div>
                  </div>
                </template>
              </d-lists>
            </div>
          </div>

          <div class="feedback-detail-detail__body module-content feedback-detail-detail__body_bg" v-else-if="$route.query.module">
            <loading-progress v-if="loadingModule && module" />
            <div class="feedback-detail-detail__body__empty" v-if="!loadingModule && topics.length == 0 && $route.query.tab != 1">
              {{ $t("studyDepartment.empty") }}
            </div>
            <d-multiple-choice ml :questions="topics" v-else />
          </div>
        </template>
      </d-tabs>
    </template>
  </div>
</template>

<script>
import DTabs from "@/components/Tabs"
import DMultipleChoice from "@/components/MultipleChoiceQuestions"
import DBtn from "@/components/buttons/loaderButton"
import { mapActions } from "vuex"
export default {
  components: {
    DTabs,
    DMultipleChoice,
    DBtn,
    "d-lists": () => import("@/components/Lists"),

    "loading-progress": () => import("@/components/Loading-progress")
  },
  data() {
    return {
      activeAc: false,
      module: false,
      profile: "",
      tab: 1,
      listDiscipline: [],
      item: {
        src: null
      },
      topics: [],
      loading: true,
      loadingModule: true,
      empty: false,

      moduleId: null,

      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      tabList: [
        {
          title: "Обратная связь по курсу",
          tab: 1
        },
        {
          title: "Обратная связь по дисциплинам",
          tab: 2
        }
      ],
      questions: []
    }
  },
  watch: {
    tab: {
      handler() {
        this.getCourseQuestions(this.$route.params.id).then(response => {
          // eslint-disable-next-line
          let res = response.question,
            profileData = response

          this.questions = this.validTest(profileData)
          this.loading = false
          this.getModules(this.$route.params.id).then(res => {
            if (res && res.data) {
              this.listDiscipline = res.data.results

              this.loading = false
            }
          })
          if (this.$route.query.tab) {
            this.onTabChange(this.$route.query, true)
          }
        })
      },
      immediate: true
    },
    $route: {
      handler() {
        if (this.$route.query.tab) {
          this.onTabChange(this.$route.query, true)
        }
        if (this.$route.query.module && this.$route.query.tab != 1) {
          this.openModule(this.$route.query.module)
        }
      },
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getCourseQuestions", "getModules", "getTopics"]),
    onTabChange(item, concatQuery = false) {
      if (item.tab) {
        this.module = false
        this.tab = +item.tab
        const queryProps = concatQuery ? { ...this.$route.query, tab: item.tab } : { tab: item.tab }
        this.$router.push({ query: queryProps }, () => {})
      }
    },
    validTest(res) {
      return res.map(item => {
        let variantItems = {}
        item.answers.forEach((subitem, index) => {
          variantItems[String.fromCharCode(65 + index)] = subitem.text
        })
        item.variants = variantItems
        item.question = item.text
        return item
        // delete item.answers;
      })
    },
    openModule(id) {
      this.getModules(this.$route.params.id).then(res => {
        if (res && res.data) {
          this.listDiscipline = res.data.results
          this.module = true
          this.loadingModule = false
        }
      })
      this.getTopics(id).then(response => {
        if (response) {
          if (this.$route.query.module != id) {
            this.$router.push({
              query: { ...this.$route.query, module: id }
            })
          }
          this.topics = this.validTest(response.results)

          this.loadingModule = false
        }
      })
    }
  }
}
</script>

<style lang="scss">
.feedback-detail-detail {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__person {
    margin-bottom: 25px;

    &.custom-card {
      display: flex;
      align-items: center;
      padding: 10px 30px;
    }

    &__avatar {
      display: flex;
      align-items: center;
      margin-right: 14px;
      // flex: none;
      // width: 60px;
    }

    // &__name {
    // }
  }

  .tabs-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .feedback-detail-detail__body {
      flex: 1;
      padding: 20px 30px;
      &__empty {
        font-size: 32px;
        text-align: center;
        margin-top: 20px;
      }
      &_bg {
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 4px;
        background-color: #ffffff;
      }
      &.module-content {
        //padding: 0;

        .title-row {
          border-bottom: 1px dashed $dashedBorder;
        }

        .accordion__content {
          border-top: 1px dashed $dashedBorder;

          .feedback-date {
            flex: none;
            width: auto;
            margin-top: 10px;

            & > div {
              padding: 10px 20px;
              border-radius: 20px;
              border: 1px solid $dashedBorder;
              line-height: 1;
            }
          }
        }

        .accordion__header__icon {
          svg {
            width: 15px;
          }
        }
      }

      .title-row {
        padding-bottom: 15px;
      }

      &__content {
        .columns {
          color: $text-color;
          line-height: 2;
        }
      }
    }
  }

  .custom-tabs {
    margin-bottom: 25px;
    &-right {
      align-self: center;
    }
  }
}
</style>
