<template>
  <div class="feedback-questions">
    <d-tabs :tab-list="tabList" @item="onTabChange" new-tabs>
      <template #tabs-right>
        <div class="feedback-questions--edit">
          <router-link :to="{ name: 'cabinetLearningConnectionIdQuestionsEdit' }">
            <d-btn :loading="false" :text="$t('studyDepartment.edit')" color="blue2" />
          </router-link>
        </div>
      </template>

      <template #content>
        <div class="feedback-questions__body custom-card" v-if="tab == 1">
          <d-multiple-choice ml :questions="questions" />
          <d-pagination v-model="pagination.page" :total="pagination.total" />
        </div>

        <div class="custom-card" v-if="tab == 2 && topicsSeen == false">
          <div class="title-row">
            <div class="main-title text-bold">
              <span>{{ $t("studyDepartment.modules") }}</span>
            </div>
          </div>
          <div class="feedback-detail-detail__body__content">
            <d-lists :loading="loading" :len="moduleList && moduleList.length">
              <template #content>
                <div v-for="item in moduleList" :key="item.id">
                  <div class="columns" @click="openModule(item.id)">
                    <div class="column">
                      {{ $nt(item.discipline.name) }}
                    </div>
                  </div>
                </div>
              </template>
            </d-lists>
          </div>
        </div>
        <div class="feedback-detail-detail__body module-content" v-if="tab == 2 && topicsSeen">
          <loading-progress v-if="loading" />
          <div class="feedback-detail-detail__body__empty" v-if="!loading && topics.length == 0">
            {{ $t("studyDepartment.empty") }}
          </div>
          <badger-accordion v-else :options="{ openMultiplePanels: true }" :icons="false" class="accordion">
            <badger-accordion-item v-for="(accordion, key) in topics" :key="key" class="active">
              <template slot="header">
                <div class="columns is-full is-gapless accordion__header" @click="activeAc = !activeAc">
                  <h3 class="accordion__header__title column is-11">
                    {{ $nt(accordion.name) }}
                  </h3>
                  <div class="accordion__header__icon column is-1">
                    <iconWrapper class="icon" icon="arrow-accordion" />
                  </div>
                </div>
              </template>
              <template slot="content">
                <div class="accordion__content">
                  <div class="columns">
                    <div class="column">
                      <d-multiple-choice :questions="accordion.question" no-border-between />
                    </div>
                    <div class="column feedback-date">
                      <div>
                        Дата обратной связи:
                        {{ accordion.question[0] && $moment(accordion.question[0].answered[0].created_at).format("DD.MM.YYYY") }}
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </badger-accordion-item>
          </badger-accordion>
        </div>
      </template>
    </d-tabs>
  </div>
</template>

<script>
import DTabs from "@/components/Tabs"
import DMultipleChoice from "@/components/MultipleChoiceQuestions"
import DBtn from "@/components/buttons/loaderButton"
import Pagination from "@/components/Pagination"
import { BadgerAccordion, BadgerAccordionItem } from "vue-badger-accordion"

import { mapActions } from "vuex"

export default {
  components: {
    DTabs,
    DBtn,
    "d-lists": () => import("@/components/Lists"),
    DMultipleChoice,
    "d-pagination": Pagination,
    BadgerAccordion,
    "loading-progress": () => import("@/components/Loading-progress"),
    BadgerAccordionItem
  },
  data() {
    return {
      pagination: {
        page: 1,
        total: 10
      },

      activeAc: false,
      topicsSeen: false,
      moduleList: [],
      list: [],
      topics: [],
      loading: false,
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      tabList: [
        {
          title: "Обратная связь по курсу",
          tab: 1
        },
        {
          title: "Обратная связь по дисциплинам",
          tab: 2
        }
      ],
      modelType: "course",
      tab: 1,
      questions: [
        {
          question: {
            ru: "",
            uz: ""
          },
          right: "",
          variants: {
            a: "",
            b: "",
            c: "",
            d: "",
            e: ""
          }
        }
      ]
    }
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getCourseQuestions", "getModules", "getTopics"]),
    onTabChange(item) {
      if (item.tab) {
        this.tab = item.tab
      }
    },

    fetchData() {
      this.loading = true
      this.getCourseQuestions({
        c_m_id: this.$route.params.id,
        model_type: this.modelType
      }).then(res => {
        this.questions = this.validTest(res)
        this.getModules(this.$route.params.id).then(res => {
          this.moduleList = res.data.results
          this.module = true
        })
        this.loading = false
      })
    },
    validTest(res) {
      return res.map(item => {
        let variantItems = {}
        item.answer.forEach((subitem, index) => {
          variantItems[String.fromCharCode(65 + index)] = subitem.answer
        })
        item.variants = variantItems
        item.question = item.name ? item.name : item.question
        return item
        // delete item.answers;
      })
    },
    openModule(id) {
      if (id) {
        this.loading = true
        this.getTopics({
          c_m_id: id,
          module_type: "module"
        }).then(res => {
          this.topics = res
          this.topicsSeen = true
          this.loading = false
        })
      }
    }
  }
}
</script>

<style lang="scss">
.feedback-questions {
  flex: 1;
  padding: 0 50px;

  .tabs-content {
    height: 100%;

    .custom-tabs {
      margin-bottom: 30px;

      &-right {
        align-self: center;
      }
    }
  }

  &__body {
    height: calc(100% - 88px);
    .d-pagination {
      justify-content: flex-end;
    }
  }
}

.feedback-detail-detail {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__person {
    margin-bottom: 25px;

    &.custom-card {
      display: flex;
      align-items: center;
      padding: 10px 30px;
    }

    &__avatar {
      display: flex;
      align-items: center;
      margin-right: 14px;
      // flex: none;
      // width: 60px;
    }

    // &__name {
    // }
  }

  .tabs-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .feedback-detail-detail__body {
      flex: 1;
      padding: 20px 30px;
      &__empty {
        font-size: 32px;
        text-align: center;
        margin-top: 20px;
      }
      &.module-content {
        padding: 0;

        .title-row {
          border-bottom: 1px dashed $dashedBorder;
        }

        .accordion__content {
          border-top: 1px dashed $dashedBorder;

          .feedback-date {
            flex: none;
            width: auto;
            margin-top: 10px;

            & > div {
              padding: 10px 20px;
              border-radius: 20px;
              border: 1px solid $dashedBorder;
              line-height: 1;
            }
          }
        }

        .accordion__header__icon {
          svg {
            width: 15px;
          }
        }
      }

      .title-row {
        padding-bottom: 15px;
      }

      &__content {
        .columns {
          color: $text-color;
          line-height: 2;
        }
      }
    }
  }

  .custom-tabs {
    margin-bottom: 25px;
    &-right {
      align-self: center;
    }
  }
}
</style>
