<template>
  <div class="page-section" v-if="loading">
    <h4 class="title">Создание аппликанта</h4>
    <div class="columns">
      <div class="column pr-5">
        <div class="mt-4 mb-1">Фото профиля</div>
        <label for="file" class="tmodal__upload">
          <span>{{
            $route.query.item_id ? form.image && form.image.substr(0, 40) + "..." : form.image != null ? form.image.name : "Добавить файл"
          }}</span>
          <d-icon icon="paper-clip" />
        </label>
        <input type="file" id="file" @change="fileHandler" />
        <hr />
        <div class="mb-1">
          Имя
          <div class="mustFill">*</div>
        </div>
        <d-input rounded class="grey" type="text" v-model="form.first_name" placeholder="Введите имя" />
        <div class="mt-4 mb-1">
          Фамилия
          <div class="mustFill">*</div>
        </div>
        <d-input rounded class="grey" type="text" v-model="form.last_name" placeholder="Введите фамилию" />
        <div class="mt-4 mb-1">
          Отчество
        </div>
        <d-input rounded class="grey" type="text" v-model="form.second_name" placeholder="Введите отчество" />
        <div class="mt-4 mb-1">Дата рождения</div>
        <d-date-selector v-model="form.birth_date" grey class="modal-variant-1" />
        <div class="mt-4 mb-1">Пол</div>
        <d-radio name="sex" info="1" @change="getSex" textAlign="left" text="Мужской" />
        <d-radio name="sex" info="2" @change="getSex" class="mt-2" textAlign="left" text="Женский" />
        <div class="mt-4 mb-1">Номер паспорта</div>
        <d-input rounded class="grey" type="text" v-model="form.passport_number" placeholder="Введите номер паспорта" />
        <div class="mt-4 mb-1">Место рождения</div>
        <d-input rounded class="grey" type="text" v-model="form.birth_place" placeholder="Введите место рождения" />
        <div class="mt-4 mb-1">Адрес по паспорту</div>
        <d-input rounded class="grey" type="text" v-model="form.passport_address" placeholder="Введите адрес" />
        <div class="mt-4 mb-1">Адрес проживания</div>
        <d-input rounded class="grey" type="text" v-model="form.living_address" placeholder="Введите адрес" />
        <div class="mt-4 mb-1">Образования</div>
        <d-input rounded class="grey" type="text" v-model="form.education_job" placeholder="Введите образование" />
        <div class="mt-4 mb-1">Институт</div>
        <d-input rounded class="grey" type="text" v-model="form.university_name" placeholder="Введите название" />
        <div class="mt-4 mb-1">Дата поступления в институт</div>
        <d-date-selector v-model="form.university_study_start_year" grey class="modal-variant-1" />
        <div class="mt-4 mb-1">Дата окончания института</div>
        <d-date-selector v-model="form.university_study_end_year" grey class="modal-variant-1" />
        <div class="mt-4 mb-1">Специальность</div>
        <d-input rounded class="grey" type="text" v-model="form.specialization" placeholder="Введите название" />
        <div class="mt-4 mb-1">{{ $t("studyDepartment.placeOfWork") }}</div>
        <d-input rounded class="grey" type="text" v-model="form.job_place" placeholder="Введите место работы" />
        <div class="mt-4 mb-1">Адрес работы</div>
        <d-input rounded class="grey" type="text" v-model="form.job_address" placeholder="Введите адрес работы" />
      </div>
      <div class="column pl-5">
        <div class="mt-4 mb-1">Информация о военном билете</div>
        <d-input rounded class="grey" type="text" v-model="form.war_ticket_info" placeholder="Введите информацию" />
        <div class="mt-4 mb-1">Квалификация</div>
        <d-input rounded class="grey" type="text" v-model="form.qualification" placeholder="Введите квалификацию" />
        <div class="mb-1">Язык обучения</div>
        <d-input rounded class="grey" type="text" v-model="form.university_study_language" placeholder="Введите язык" />
        <div class="mt-4 mb-1">Иностранный язык обучения</div>
        <d-input rounded class="grey" type="text" v-model="form.university_foreign_language" placeholder="Введите язык" />

        <hr />
        <div class="mt-4 mb-1">Информация об отце</div>
        <div class="mt-4 mb-1">Ф.И.О</div>
        <d-input rounded class="grey" type="text" v-model="form.father_info.full_name" placeholder="Введите ФИО" />
        <div class="mt-4 mb-1">Дата рождения</div>
        <d-date-selector v-model="form.father_info.birth_date" grey class="modal-variant-1" />
        <div class="mt-4 mb-1">Место рождения</div>
        <d-input rounded class="grey" type="text" v-model="form.father_info.birth_place" placeholder="Введите место" />
        <div class="mt-4 mb-1">{{ $t("studyDepartment.placeOfWork") }}</div>
        <d-input rounded class="grey" type="text" v-model="form.father_info.job_place" placeholder="Введите место" />
        <div class="mt-4 mb-1">Адрес работы</div>
        <d-input rounded class="grey" type="text" v-model="form.father_info.job_address" placeholder="Введите место" />
        <div class="mt-4 mb-1">Телефонный номер</div>
        <d-input rounded class="grey" type="text" v-model="form.father_info.phone_number" placeholder="Введите номер" />
        <hr />
        <div class="mt-4 mb-1">Информация о матери</div>
        <div class="mt-4 mb-1">Ф.И.О</div>
        <d-input rounded class="grey" type="text" v-model="form.mother_info.full_name" placeholder="Введите ФИО" />
        <div class="mt-4 mb-1">Дата рождения</div>
        <d-date-selector v-model="form.mother_info.birth_date" grey class="modal-variant-1" />
        <div class="mt-4 mb-1">Место рождения</div>
        <d-input rounded class="grey" type="text" v-model="form.mother_info.birth_place" placeholder="Введите место" />
        <div class="mt-4 mb-1">{{ $t("studyDepartment.placeOfWork") }}</div>
        <d-input rounded class="grey" type="text" v-model="form.mother_info.job_place" placeholder="Введите место" />
        <div class="mt-4 mb-1">Адрес работы</div>
        <d-input rounded class="grey" type="text" v-model="form.mother_info.job_address" placeholder="Введите место" />
        <div class="mt-4 mb-1">Телефонный номер</div>
        <d-input rounded class="grey" type="text" v-model="form.mother_info.phone_number" placeholder="Введите номер" />
      </div>
    </div>
    <div>
      <d-button rounded @click="send" :disabled="!isSendAble" class="blue" size="small" :text="$t('studyDepartment.save')" />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
const defaultForm = () => ({
  image: null,
  first_name: "",
  second_name: "",
  last_name: "",
  birth_date: "",
  sex: null,
  passport_number: "",
  birth_place: "",
  passport_address: "",
  living_address: "",
  education_job: "",
  university_name: "",
  specialization: "",
  university_study_start_year: "",
  university_study_end_year: "",
  university_foreign_language: "",
  university_study_language: "",
  job_place: "",
  job_address: "",
  war_ticket_info: "",
  qualification: "",
  mother_info: {
    full_name: "",
    birth_date: "",
    birth_place: "",
    job_place: "",
    job_address: "",
    phone_number: ""
  },
  father_info: {
    full_name: "",
    birth_date: "",
    birth_place: "",
    job_place: "",
    job_address: "",
    phone_number: ""
  }
})

export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-date-selector": () => import("@/components/inputs/date-selector"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-input": () => import("@/components/inputs/input"),
    "d-radio": () => import("@/components/inputs/radio")
  },
  data: () => ({
    form: defaultForm(),
    loading: false
  }),
  watch: {
    $route: {
      handler: "fetch",
      immediate: true
    }
  },
  computed: {
    isSendAble() {
      return !!this.form.first_name && !!this.form.last_name
    }
  },
  methods: {
    ...mapActions("adminApplicants", ["createOrUpdate", "getApplicant"]),
    fileHandler(e) {
      console.log(e.target.files)
      if (e.target.files && e.target.files.length) {
        this.form.image = e.target.files[0]
      }
    },
    fetch() {
      if (this.$route.query.id != undefined) {
        this.getApplicant(this.$route.query.id).then(res => {
          this.form.id = this.$route.query.id
          this.form = res
        })
      }
      this.loading = true
    },
    send() {
      this.createOrUpdate(this.form).then(res => {
        let danger = {
          ru: "Заполните все поля!",
          uz: "Barcha ma'lumotlarni to'ldiring!",
          en: "Fill all fields!"
        }
        let success = {
          ru: "Успешно сохранено!",
          uz: "Ma'lumotlar saqlandi!",
          en: "All information successfully saved!"
        }
        if (res && res.response && res.response.status === 400) {
          this.$store.dispatch("snackbar/changeToasts", {
            text: this.$nt(danger),
            color: "danger"
          })
        } else {
          this.$store.dispatch("snackbar/changeToasts", {
            text: this.$nt(success),
            color: "success"
          })
          this.$router.push({ name: "cabinetAdminApplicants" })
        }
        // this.$router.push({ name: "cabinetAdminApplicants" })
        // res.data.status == 200 || res.data.status == 201
        //   ? alert("Норм")
        //   : alert("Мы в говне");
      })
    },
    getSex(e) {
      if (e != undefined) this.form.sex = +e
    }
  }
}
</script>

<style scoped>
.mustFill {
  color: red !important;
  display: inline;
}
</style>
