<template>
  <div class="directory">
    <div class="directory__left ml-2">
      <div class="directory__list">
        <div class="directory__list--title pl-2 mb-4">
          <h4 class="title">{{ $t("administrator.catalog") }}</h4>
        </div>
        <div
          v-for="(item, key) in listHeader"
          :key="key + 10"
          :class="['directory__list--item', { active: key == $route.query.tab }]"
          @click="tabChange(key)"
        >
          {{ $nt(item.title) }}
        </div>
      </div>
    </div>
    <div class="directory__right mr-2">
      <d-ghost-loader :active="loading" />
      <div class="directory__info">
        <div class="directory__info--title pl-3 mb-4">
          <h4 class="title">{{ $nt(selectedTab.title) }}</h4>
        </div>
        <div class="directory__list__content">
          <d-lists :loading="loading" :len="selectedTabList.length">
            <template #header>
              <div class="columns">
                <div class="column" v-for="(header, index) in selectedTab.headers" :key="index">{{ $nt(header) }}</div>
                <div class="column pr-0 is-2 has-text-centered flex-row justify-content-end">
                  <button class="add-btn icon-btn" @click="onCreateClick">
                    <d-icon icon="accordion_plus" />
                    <span>
                      {{ $t("studyDepartment.add") }}
                    </span>
                  </button>
                </div>
              </div>
            </template>

            <template #content>
              <!-- <div v-for="(item, index) in selectedTabList" :key="index" class="directory__list--item px-0"> -->
              <div v-for="(item, index) in selectedTabList" :key="index" class="px-0">
                <div class="columns" v-if="currTabName == 'district'">
                  <div class="column">{{ (item && $nt(item.name)) || "Нет названия" }}</div>
                  <div class="column">{{ $i18n.locale || "Нет данных" }}</div>
                  <div class="column">{{ (item.city && $nt(item.city.name)) || "Нет названия" }}</div>
                  <div class="column is-2 directory__list--item__icons">
                    <div>
                      <d-icon icon="teacher-pen" @click.native.prevent="onEditClick(item)" />
                    </div>
                    <div>
                      <d-icon icon="bin" @click.native.prevent="onDeleteClick(item)" />
                    </div>
                  </div>
                </div>

                <div v-else-if="isException">
                  <div class="columns" v-if="currTabName == 'interval'">
                    <div class="column">{{ (item && item.number) || "Нет данных" }}</div>
                    <div class="column">{{ (item && item.start_time && $moment(item.start_time, "HH:mm:ss").format("HH:mm")) || "Нет данных" }}</div>
                    <div class="column">{{ (item && item.end_time && $moment(item.end_time, "HH:mm:ss").format("HH:mm")) || "Нет данных" }}</div>
                    <div class="column is-2 directory__list--item__icons">
                      <div>
                        <d-icon icon="teacher-pen" @click.native.prevent="onEditClick(item)" />
                      </div>
                      <div>
                        <d-icon icon="bin" @click.native.prevent="onDeleteClick(item)" />
                      </div>
                    </div>
                  </div>
                  <div class="columns" v-else>
                    <div class="column">{{ (item && item.name) || "Нет названия" }}</div>
                    <div class="column" v-if="currTabName == 'language'">{{ (item && item.code) || "Нет данных" }}</div>
                    <div class="column is-2 directory__list--item__icons">
                      <div>
                        <d-icon icon="teacher-pen" @click.native.prevent="onEditClick(item)" />
                      </div>
                      <div>
                        <d-icon icon="bin" @click.native.prevent="onDeleteClick(item)" />
                      </div>
                    </div>
                  </div>
                </div>

                <div v-else-if="currTabName !== 'libraryelementcategory'">
                  <div class="columns" v-if="isExamsOrTopic">
                    <div class="column is-3">
                      <div class="no-text-overflow">
                        {{ (item && $nt(item.name)) || "Нет названия" }}
                      </div>
                    </div>
                    <div class="column is-4">
                      <div class="no-text-overflow">
                        {{ (item && item.content && $nt(item.content)) || "Нет данных" }}
                      </div>
                    </div>
                    <div class="column">
                      {{ (item && item.discipline && item.discipline.name && $nt(item.discipline.name)) || "Нет данных" }}
                    </div>
                    <div class="column is-2 directory__list--item__icons">
                      <div>
                        <d-icon icon="teacher-pen" @click.native.prevent="onEditClick(item)" />
                      </div>
                      <div>
                        <d-icon icon="bin" @click.native.prevent="onDeleteClick(item)" />
                      </div>
                    </div>
                  </div>

                  <div class="columns" v-else>
                    <div class="column">{{ (item && $nt(item.name)) || "Нет названия" }}</div>
                    <div class="column" v-if="currTabName == 'discipline'">
                      {{ (item && item.department && item.department.name && $nt(item.department.name)) || "Нет данных" }}
                    </div>
                    <div class="column" v-else>{{ $i18n.locale || "Нет данных" }}</div>
                    <div class="column is-2 directory__list--item__icons">
                      <div>
                        <d-icon icon="teacher-pen" @click.native.prevent="onEditClick(item)" />
                      </div>
                      <div>
                        <d-icon icon="bin" @click.native.prevent="onDeleteClick(item)" />
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="currTabName == 'libraryelementcategory'">
                  <recursive :item="item" :onEditClick="onEditClick" :onDeleteClick="onDeleteClick" />
                </div>
              </div>
            </template>
          </d-lists>
          <!-- <component 
            :is="currTabName" 
            :list="selectedTabList" 
            :title="selectedTab.title" 
            :create-response="createdResp"
            @createOrUpdate="createOrUpdate"
            @deleteItem="onDeleteClick"
            @enterLang="enterLang"
          ></component> -->
        </div>
        <d-pagination @change="getTabSpecifications" v-model="pagination.page" :total="pagination.count" :limit="pagination.limit" />
      </div>
    </div>

    <d-modal :seen="openModal" v-if="openModal" size="small" :title="$t('studyDepartment.add')" @closemodal="openModal = false">
      <div class="m_b_2">
        <d-pagination-select
          v-if="openModal && currTabName == 'discipline'"
          class="grey-2"
          :placeholder="$t('teacherOffice.enterTheText')"
          :parentList="departments"
          label="name"
          no-title
          v-model="form.department"
          :reduce="item => item.id"
        >
          <template #selected-option="props">
            {{ $nt(props.name) }}
          </template>

          <template #option="props">
            {{ $nt(props.name) }}
          </template>
        </d-pagination-select>
      </div>
      <div class="add-group-modal">
        <div v-if="isException">
          <div v-if="currTabName == 'interval'">
            <div class="custom-title mt-0">{{ $t("administrator.numberOfClass") }}</div>
            <d-input
              class="grey rounded with-btm-mrg"
              :placeholder="$t('administrator.enterTheNumber')"
              type="number"
              v-model="form.number"
            ></d-input>
            <div class="custom-title mt-0">{{ $t("administrator.startOfClass") }}</div>
            <d-input-time class="grey mb-3 shadow with-btm-mrg" v-model="form.start_time" />
            <div class="custom-title mt-0">{{ $t("administrator.EndOfClass") }}</div>
            <d-input-time class="grey p-0 shadow with-btm-mrg" v-model="form.end_time" />
          </div>

          <div v-else>
            <div class="with-btm-mrg">
              <div class="custom-title mt-0">
                {{ $t("teacherOffice.title") }}
              </div>
              <d-input class="grey rounded" :placeholder="$t('teacherOffice.enterTheText')" v-model="form.name"></d-input>
            </div>
            <div v-if="currTabName == 'language'" class="with-btm-mrg">
              <div class="custom-title mt-3">Кор. Название</div>
              <d-input class="grey rounded" :placeholder="$t('teacherOffice.enterTheText')" v-model="form.code"></d-input>
            </div>
          </div>
        </div>

        <div v-else>
          <d-input class="grey rounded with-btm-mrg" :placeholder="$t('teacherOffice.enterTheText')" v-model="form.name[currLang]"></d-input>
          <div class="lang-row with-btm-mrg">
            <div class="lang-row__item" v-for="(item, index) in langOptions" :key="item.code" @click="onLangClick(item)">
              <div class="lang-row__item__circle" v-if="item.code != currLang">
                {{ index + 1 }}
              </div>
              <d-icon v-else icon="check" />
              <div class="lang-row__item__code">
                {{ item.code }}
              </div>
            </div>
          </div>
        </div>

        <div v-if="isExamsOrTopic">
          <div class="with-btm-mrg">
            <div class="custom-title mt-0">{{ $t("studyDepartment.module") }}</div>
            <!-- <d-select
              class="grey-2"
              :placeholder="$t('teacherOffice.enterTheText')"
              :options="disciplineOptions"
              label="name"
              no-title
              ml
              v-model="form.discipline"
              :reduce="item => item.id"
            ></d-select> -->
            <d-pagination-select
              v-if="openModal"
              :placeholder="$t('teacherOffice.enterTheText')"
              label="name"
              module="catalog/get"
              v-model="form.discipline"
              :reduce="item => item.id"
            >
              <template #selected-option="props">
                {{ $nt(props.name) || props.name.ru || props.name.uz || props.name.en }}
              </template>

              <template #option="props">
                {{ $nt(props.name) || props.name.ru || props.name.uz || props.name.en }}
              </template>
            </d-pagination-select>
          </div>

          <div class="with-btm-mrg">
            <d-textarea
              :placeholder="$t('teacherOffice.enterTheText')"
              rows="7"
              class="grey"
              :title="$t('teacherOffice.content')"
              :disabled="false"
              :readonly="false"
              v-model="form.content[currLang]"
              rounded
              fixed
            />
          </div>
        </div>

        <div v-if="currTabName == 'district'" class="with-btm-mrg">
          <div class="custom-title mt-0">{{ $t("administrator.region") }}</div>
          <d-select
            class="grey-2"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="cityOptionsLang"
            label="name"
            no-title
            v-model="form.city_id"
            :reduce="item => item.id"
          ></d-select>
        </div>
        <d-button
          class="directory__modal-btn"
          @click="createOrUpdate"
          color="blue"
          :disabled="!fieldsFilled || requesting"
          rounded
          :text="isCreating && !isException && notLastLang ? 'Далее' : this.$t('studyDepartment.save')"
        >
        </d-button>
      </div>
    </d-modal>

    <d-modal :seen="deleteConfirm" size="small" :title="`Вы действительно хотите удалить?`" @closemodal="deleteConfirm = false">
      <div class="is-flex">
        <d-button class="directory__modal-delete" @click="deleteItem" color="blue" :disabled="deleting" rounded text="Да" />
        <d-button class="directory__modal-delete ml-3" @click="deleteConfirm = false" color="grey" rounded text="Нет" />
      </div>
    </d-modal>
  </div>
</template>

<script>
import DGhostLoader from "@/components/loaders/ghostLoader"
export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-modal": () => import("@/components/Modal"),
    "d-input": () => import("@/components/inputs/input"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-select": () => import("@/components/inputs/select"),
    "d-pagination-select": () => import("@/components/inputs/pagination-select"),
    "d-input-time": () => import("@/components/inputs/input-time"),
    "d-lists": () => import("@/components/Lists"),
    DGhostLoader,
    "d-pagination": () => import("@/components/Pagination"),
    recursive: () => import("@/components/recursive/Recursive")
  },
  watch: {
    "$route.query": {
      handler() {
        this.pagination.page = 1
        this.pagination.count = null
        this.changeForm()
        this.getTabSpecifications()
        this.getLists()
      }
    },
    openModal: {
      handler(newVal) {
        if (!newVal) {
          this.form = {}

          this.changeForm()

          this.currLang = this.langOptions[0].code
          this.isCreating = false
        }
      }
    }
  },
  data() {
    return {
      mainLang: "",
      currLang: "",
      langOptions: [],
      cityOptions: [],
      disciplineOptions: [],

      deleteItemId: null,
      deleteConfirm: false,

      openModal: false,
      requesting: false,
      deleting: false,
      loading: false,
      isCreating: false,

      currTabName: "",
      selectedTab: {},
      selectedTabList: [],

      departments: [],

      form: {
        id: null,
        name: {
          ru: "",
          en: ""
        }
      },
      pagination: {
        page: 1,
        limit: 20,
        count: null
      },
      listHeader: {
        // position: {
        //   title: {
        //     ru: "Должность",
        //     en: "Position",
        //     uz: "Lavozimi"
        //   },
        //   headers: [
        //     {
        //       ru: "Название",
        //       en: "Name",
        //       uz: "Ismi"
        //     },
        //     {
        //       ru: "Язык",
        //       en: "Language",
        //       uz: "Til"
        //     }
        //   ]
        // },
        // cataloglanguage: {
        //   title: {
        //     ru: "Язык каталога",
        //     en: "Сatalog language",
        //     uz: "Katalog tili"
        //   },
        //   headers: [
        //     {
        //       ru: "Название",
        //       en: "Name",
        //       uz: "Ismi"
        //     },
        //     {
        //       ru: "Язык",
        //       en: "Language",
        //       uz: "Til"
        //     }
        //   ]
        // },
        // language: {
        //   title: {
        //     ru: "Язык",
        //     en: "Language",
        //     uz: "Til"
        //   },
        //   headers: [
        //     {
        //       ru: "Название",
        //       en: "Name",
        //       uz: "Ismi"
        //     },
        //     {
        //       ru: "Кор. название",
        //       en: "Short name",
        //       uz: "Qisqa ism"
        //     }
        //   ]
        // },
        city: {
          title: {
            ru: "Область",
            en: "Region",
            uz: "Viloyat"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Язык",
              en: "Language",
              uz: "Til"
            }
          ]
        },
        district: {
          title: {
            ru: "Район",
            en: "District",
            uz: "Tuman"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Язык",
              en: "Language",
              uz: "Til"
            },
            {
              ru: "Область",
              en: "Region",
              uz: "Viloyat"
            }
          ]
        },
        coursetype: {
          title: {
            ru: "Тип курса",
            en: "Course type",
            uz: "Kurs turi"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Язык",
              en: "Language",
              uz: "Til"
            }
          ]
        },
        libraryelementcategory: {
          title: {
            ru: "Категория элемента библиотеки",
            en: "Сategory library element",
            uz: "Kutubxona elementining toifasi"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Язык",
              en: "Language",
              uz: "Til"
            }
          ]
        },
        libraryelementtype: {
          title: {
            ru: "Тип элемента библиотеки",
            en: "Type library element",
            uz: "Kutubxona elementining turi"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Язык",
              en: "Language",
              uz: "Til"
            }
          ]
        },
        // nationality: {
        //   title: {
        //     ru: "Национальность",
        //     en: "Nationality",
        //     uz: "Millati"
        //   },
        //   headers: [
        //     {
        //       ru: "Название",
        //       en: "Name",
        //       uz: "Ismi"
        //     },
        //     {
        //       ru: "Язык",
        //       en: "Language",
        //       uz: "Til"
        //     }
        //   ]
        // },
        organization: {
          title: {
            ru: "Организация",
            en: "Organization",
            uz: "Tashkilot"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Язык",
              en: "Language",
              uz: "Til"
            }
          ]
        },
        tasktype: {
          title: {
            ru: "Тип таска",
            en: "Type of task",
            uz: "Task turi"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Язык",
              en: "Language",
              uz: "Til"
            }
          ]
        },
        resourcestype: {
          title: {
            ru: "Тип ресурса",
            en: "Type of resource",
            uz: "Resurs turi"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            }
          ]
        },
        interval: {
          title: {
            ru: "Время занятий",
            en: "Class time",
            uz: "Dars vaqti"
          },
          headers: [
            {
              ru: "Номер пары",
              en: "Number of class",
              uz: "Dars soni"
            },
            {
              ru: "Начало пары",
              en: "Start of class",
              uz: "Dars boshlang"
            },
            {
              ru: "Конец пары",
              en: "End of class",
              uz: "Dars oxiri"
            }
          ]
        },
        discipline: {
          title: {
            ru: "Дисциплина",
            en: "Discipline",
            uz: "Intizom"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Название отдела",
              en: "Name of departament",
              uz: "Bo'lim nomi"
            }
          ]
        },
        disciplinetopic: {
          title: {
            ru: "Тема дисциплины",
            en: "Subject of discipline",
            uz: "Intizom mavzusi"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Контент",
              en: "Content",
              uz: "Tarkib"
            },
            {
              ru: "Название дисциплины",
              en: "Name of discipline",
              uz: "Intizom nomi"
            }
          ]
        },
        int_control: {
          title: {
            ru: "Промежуточный контроль",
            en: "Intermediate control",
            uz: "Oraliq nazorat"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Контент",
              en: "Content",
              uz: "Tarkib"
            },
            {
              ru: "Название дисциплины",
              en: "Name of discipline",
              uz: "Intizom nomi"
            }
          ]
        },
        fin_control: {
          title: {
            ru: "Промежуточный контроль",
            en: "Intermediate control",
            uz: "Oraliq nazorat"
          },
          headers: [
            {
              ru: "Название",
              en: "Name",
              uz: "Ismi"
            },
            {
              ru: "Контент",
              en: "Content",
              uz: "Tarkib"
            },
            {
              ru: "Название дисциплины",
              en: "Name of discipline",
              uz: "Intizom nomi"
            }
          ]
        }
      }
    }
  },
  computed: {
    isExamsOrTopic() {
      return ["disciplinetopic", "int_control", "fin_control"].includes(this.currTabName)
    },
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    isException() {
      return ["language", "resourcestype", "interval"].includes(this.currTabName)
    },
    fieldsFilled() {
      if (!this.isException) {
        for (let elem in this.form) {
          if (elem == "name" && !this.form[elem][this.currLang]) return false
          else if (elem == "city_id" && !this.form[elem]) return false
          else if (elem == "content" && !this.form[elem][this.currLang]) return false
          else if (elem == "discipline" && !this.form[elem]) return false
        }
        // if (!this.form["department"]) return false

        return true
      }
      for (let elem in this.form) {
        if (elem != "id" && !this.form[elem]) return false
      }

      return true
    },
    notLastLang() {
      return this.currLang != this.langOptions[this.langOptions.length - 1].code
    },
    cityOptionsLang() {
      return this.cityOptions.map(item => {
        let newItem = {
          ...item,
          name: item.name[this.currLang] ? item.name[this.currLang] : item.name[Object.keys(item.name).find(key => item.name[key] != "")]
        }
        return { ...item, name: newItem.name }
      })
    }
  },
  mounted() {
    if (!this.$route.query.tab || (this.$route.query && !(this.$route.query.tab in this.listHeader))) {
      this.$router.push({ query: { tab: "city" } })
      // console.log(this.listInfo);
    } else {
      this.getTabSpecifications()
      this.getLists()
      this.changeForm()
    }
  },
  methods: {
    changeForm() {
      this.form =
        this.$route.query.tab == "district"
          ? { name: { ru: "", en: "" }, id: null, city_id: null }
          : this.$route.query.tab == "language"
          ? { name: "", code: "", id: null }
          : this.$route.query.tab == "resourcestype"
          ? { name: "", id: null }
          : this.$route.query.tab == "interval"
          ? { id: null, number: null, start_time: "", end_time: "" }
          : ["disciplinetopic", "int_control", "fin_control"].includes(this.$route.query.tab)
          ? { name: { ru: "" }, id: null, discipline: null, content: { ru: "" } }
          : { name: { ru: "" }, id: null }
    },
    onLangClick(langItem) {
      if (!this.isCreating && this.fieldsFilled) this.currLang = langItem.code
    },
    onEditClick(item) {
      this.openModal = true

      for (let elem in this.form) {
        this.form[elem] =
          elem == "city_id"
            ? (item.city && item.city.id) || null
            : elem == "discipline"
            ? (item.discipline && item.discipline.id) || null
            : JSON.parse(JSON.stringify(item[elem])) || null
      }
    },
    onCreateClick() {
      if (!this.isException && !this.langOptions.length) {
        alert("Добавьте хотя бы один вариант языка!")
        return
      }
      this.isCreating = true
      this.openModal = true
    },
    getLists() {
      if (!this.isException)
        this.$store.dispatch(`catalog/get`, { key: "language" }).then(res => {
          if (res && res.results) {
            this.langOptions = res.results
            this.currLang = this.langOptions[0].code
            this.mainLang = this.langOptions[0].code
            for (let item of this.langOptions) {
              this.form.name = {
                ...this.form.name,
                [item.code]: ""
              }
            }
          }
        })
      if (this.isExamsOrTopic)
        this.$store.dispatch(`catalog/get`, { key: "discipline" }).then(res => {
          if (res && res.results) {
            this.disciplineOptions = res.results
          }
        })
      if (this.currTabName == "district")
        this.$store.dispatch(`catalog/get`, { key: "city" }).then(res => {
          if (res && res.results) {
            this.cityOptions = res.results
          }
        })
      this.fetchDepartments()
    },
    onDeleteClick(item) {
      this.deleteItemId = item.id
      this.deleteConfirm = true
    },
    deleteItem() {
      if (this.deleteItemId) {
        let req = {
          method: this.currTabName == "interval" ? "deleteInterval" : "delete",
          payload: this.currTabName == "interval" ? this.deleteItemId : { id: this.deleteItemId, key: this.currTabName }
        }
        this.deleting = true
        this.$store
          .dispatch(`catalog/${req.method}`, req.payload)
          .then(() => {
            this.deleting = false
            this.deleteConfirm = false
            // this.selectedTab.list = res.results
            this.getLists()
            this.getTabSpecifications()
          })
          .catch(err => {
            console.log("Req del err", err)
            this.deleting = false
          })
      }
    },
    createOrUpdate() {
      if (this.isCreating && !this.isException && this.notLastLang) {
        this.currLang = this.langOptions[this.langOptions.findIndex(item => item.code == this.currLang) + 1].code
        return
      }
      let req = {
        method: this.currTabName == "interval" ? "createOrUpdateInterval" : "createOrUpdate",
        payload: this.currTabName == "interval" ? this.form : { payload: this.form, key: this.currTabName }
      }
      this.requesting = true
      this.openModal = true

      this.$store
        .dispatch(`catalog/${req.method}`, req.payload)
        .then(res => {
          // this.selectedTab.list = res.results
          if (res && res.data) {
            console.log("Req res", res)
            this.getTabSpecifications()
            this.getLists()

            this.openModal = false
          }
          this.requesting = false
        })
        .catch(err => {
          console.log("Req err", err)
          this.requesting = false
        })
    },
    async getTabSpecifications() {
      if (this.$route.query && this.$route.query.tab) {
        if (!(this.$route.query.tab in this.listHeader)) {
          this.$router.push({ query: { tab: "position" } })
          return
        }

        this.loading = true
        this.currTabName = this.$route.query.tab

        let req = {
          method: this.currTabName == "interval" ? "getInterval" : "get",
          key: this.currTabName == "interval" ? {} : this.currTabName
        }

        let item = JSON.parse(JSON.stringify(this.listHeader[this.currTabName]))

        if (item) {
          this.selectedTab = JSON.parse(JSON.stringify(item))
          this.selectedTabList = []
          this.$store
            .dispatch(`catalog/${req.method}`, {
              key: req.key,
              params: {
                offset: this.offsetComputed,
                limit: this.pagination.limit
              }
            })
            .then(res => {
              if (res && res.results) {
                this.pagination.count = res.count
                this.selectedTabList = res.results
              }
              this.loading = false
            })
            .catch(err => {
              console.log("Get req err", err)
              this.loading = false
            })
        }
      }
    },
    tabChange(tab) {
      if (this.$route.query.tab != tab) this.$router.push({ query: { tab: tab } })
    },
    fetchDepartments() {
      this.$store
        .dispatch("catalog/fetchDepartments", {
          offset: 20,
          limit: 20
        })
        .then(res => {
          // console.log("REs -> ", res)
          this.departments = res.results
        })
    }
  }
}
</script>

<style lang="scss">
h4.title {
  color: rgba(39, 83, 149, 0.8);
  margin-bottom: 0;
  padding-top: 4px;
}

.no-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}

.directory {
  display: flex;
  flex: 1;

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;

    .d-pagination {
      justify-content: flex-end;
      margin-top: auto;
    }
  }

  .lists-wrapper-content {
    overflow-y: auto;
    max-height: 700px;
    margin-right: -10px;
    padding-right: 5px;
    margin-bottom: 20px;
  }

  .layout .modal-window__header {
    padding: 20px 35px;

    .modal-header__close div {
      top: -26px;
    }
  }

  .layout .modal-window__body {
    padding: 0 35px 20px 35px;
    .directory__modal-btn {
      float: unset;
      margin: unset;
      margin-left: auto;
    }

    .add-group-modal {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .with-btm-mrg {
      margin-bottom: 30px;
    }
  }

  &__modal-delete {
    align-self: flex-end;
  }

  &__modal-btn {
    float: right;
    margin: 20px 0 20px;
  }

  .directory__list {
    // &__content {

    // }
    &--item {
      padding: 10px;
      margin-bottom: 7px;
      border-radius: 3px;
      &__icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > div {
          &:hover {
            svg {
              fill: $grey;
            }
          }
          &:not(:first-child) {
            margin-left: 20px;
          }
        }

        svg {
          width: 15px;
        }
      }
      &.active {
        background-color: #f6f7f8;
      }
      &:hover {
        background-color: #f6f7f8;
        cursor: pointer;
      }
    }
  }

  &__left {
    box-shadow: 0px 3px 10px #a1a1a124;
    border-radius: 4px;
    flex: 3.5;
    background-color: #fff;
    margin-right: 10px;
    padding: 30px 20px;
  }

  &__right {
    position: relative;
    box-shadow: 0px 3px 10px #a1a1a124;
    border-radius: 4px;
    flex: 8;
    background-color: #fff;
    margin-left: 10px;
    padding: 30px 20px;
  }

  .directory__list {
    .add-group-modal {
      & > div:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
  .lang-row {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px dashed $lightgrey;
      z-index: -1;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      svg {
        fill: $blue;
        width: 32px;
        height: 32px;
        background-color: white;
      }

      &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: #e4e9f1;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;

        // &.active {

        // }
      }

      &__code {
        margin-top: 5px;
        color: #9aa6bb;
        text-transform: capitalize;
      }
    }
  }
}
.m_b_2 {
  margin-bottom: 2rem;
}
</style>
