<template>
  <div class="teachlib">
    <span>
      <d-teacher-modal :openModal="openModal" :form="detail" media="book" @toggleModal="openModal = !openModal" @updateData="fetchData" />
    </span>

    <template v-if="!loading && detail && detail.id">
      <div class="teachlib-header">
        <div class="teachlib-header__title">
          <div class="columns y-center">
            <div class="column">
              <p>{{ $nt(detail.title) }}</p>
            </div>
            <div class="column right" v-if="detail.my">
              <d-dropdown down>
                <template #body>
                  <d-icon icon="more" style="width: 15px" class="custom-dropdown__trigger" />
                </template>
                <template #dropdown-menu>
                  <li @click="removeAction(detail.id)">
                    <span> {{ $t("studyDepartment.delete") }} </span>
                  </li>
                  <li @click="openModal = !openModal">
                    <span> {{$t('studyDepartment.edit')}} </span>
                  </li>
                  <li>
                    <span>
                      <a class="p-0" :href="detail.file" download>{{$t('teacherOffice.download')}}</a>
                    </span>
                  </li>
                </template>
              </d-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="teachlib-body mt-3">
        <div class="teachlib-body__reader">
          <PDFViewer :document="detail.file" :key="detail.file" />
        </div>
        <div class="teachlib-body__decs mt-4">
          <div class="teachlib-body__decs--title">Подробная информация</div>
          <div style="display:flex;"></div>
          <div class="teachlib-body__decs--desc">{{$t('teacherOffice.description')}}</div>
          <div class="teachlib-body__decs--text">
            {{ $gv(detail.description) }}
          </div>
        </div>
        <div class="teachlib-body__info mt-3">
          <div class="teachlib-body__info--up">
            <div class="columns">
              <div class="column is-5 pb-5">
                <span class="teachlib-body__info--badge">
                  <span class="teachlib-body__info--bageDisc"></span>
                  <span class="teachlib-body__info--text">Количество страниц: </span>
                  <span class="teacherlib-body__info--result"> {{ detail.page_count }} стр</span>
                </span>
              </div>
              <div class="column is-4 pb-5">
                <span class="teachlib-body__info--badge">
                  <span class="teachlib-body__info--bageDisc"></span>
                  <span class="teachlib-body__info--text">{{$t('teacherOffice.volume')}}: </span>
                  <span class="teacherlib-body__info--result">{{ $gv(detail.size) }}</span>
                </span>
              </div>
              <div class="column is-3 pb-5">
                <span class="teachlib-body__info--badge">
                  <span class="teachlib-body__info--bageDisc"></span>
                  <span class="teachlib-body__info--text">{{$t('teacherOffice.author')}}:</span>
                  <span class="teacherlib-body__info--result"> {{ detail.author }}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="teachlib-body__info--down">
            <div class="columns">
              <div class="column is-5 pt-5">
                <span class="teachlib-body__info--badge">
                  <span class="teachlib-body__info--bageDisc"></span>
                  <span class="teachlib-body__info--text">{{$t('teacherOffice.category')}}: </span>
                  <span class="teacherlib-body__info--result"> {{ $gv(detail.category) }}</span>
                </span>
              </div>
              <div class="column is-4 pt-5">
                <span class="teachlib-body__info--badge">
                  <span class="teachlib-body__info--bageDisc"></span>
                  <span class="teachlib-body__info--text">{{$t('studyDepartment.type')}}: </span>
                  <span class="teacherlib-body__info--result"> {{ $gv(detail.book_type) }}</span>
                </span>
              </div>
              <div class="column is-3 pt-5">
                <span class="teachlib-body__info--badge">
                  <span class="teachlib-body__info--bageDisc"></span>
                  <span class="teachlib-body__info--text">{{$t('teacherOffice.yearOfPublication')}}: </span>
                  <span class="teacherlib-body__info--result"> {{ $moment(detail.publish_date, "LL").format("LL") }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import PDFViewer from "@/components/pdf/PDFComponent"

export default {
  components: {
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-teacher-modal": () => import("@/components/modals/teacherLibModal"),
    PDFViewer
  },
  data: () => ({
    // pdf: {
    //   name: 'example.pdf',
    //   path: '/lib/pdfjs/web/viewer.html'
    // },
    openModal: false,
    years: [],
    id: null,
    detail: {},
    loading: false
  }),

  methods: {
    ...mapActions("teacherLibrary", ["getMediaDetail", "removeMedia"]),
    removeAction(id) {
      try {
        if (id) {
          this.removeMedia({ id: id, media: "librarybook" }).then(() => this.$router.push({ name: "cabinetTeachersLibrary" }))
        }
      } catch (err) {
        console.error(err)
      }
    },
    fetchData() {
      try {
        this.loading = true
        this.getMediaDetail({
          media: "librarybook",
          id: this.$route.params.id
        }).then(res => {
          // console.log(res)
          this.detail = res
          this.loading = false
        })
      } catch (err) {
        console.error(err)
        this.loading = false
        return
      }
    }
  },
  async mounted() {
    this.fetchData()
  }
}
</script>

<style lang="scss" scoped>
.y-center {
  display: flex;
  align-items: center;
}

.teachlib {
  &-header {
    .teachlib-header__title {
      background-color: #fff;
      flex: 1;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      p {
        font-weight: 700;
        font-size: 18px;
      }
      svg.custom-dropdown__trigger {
        transform: rotate(90deg);
        width: 20px;
        float: right;
        fill: $grey;
        cursor: pointer;
      }
    }
  }
  &-body {
    &__reader {
      background-color: #fff;
      flex: 1;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px 0 30px;
      position: relative;
    }
    &__decs {
      background-color: #fff;
      flex: 1;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      &--title {
        font-weight: 700;
        margin-bottom: 5px;
      }
      &--desc {
        color: $grey;
        margin-bottom: 10px;
        font-size: 15px;
      }
    }
    &__info {
      background-color: #fff;
      flex: 1;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      &--badge {
        background-color: #edeff5;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 15px;
        .teachlib-body__info--bageDisc {
          background-color: #5f65ab;
          border-radius: 50%;
          height: 6px;
          width: 6px;
          display: inline-block;
          margin-right: 10px;
          position: relative;
          top: -2px;
        }
        .teachlib-body__info--text {
          font-weight: 600;
        }
      }
      &--up {
        border-bottom: 1px dashed #e9edf4;
        padding-bottom: 12px;
      }
      &--down {
        padding-top: 12px;
      }
    }
  }
}
</style>
