<template>
  <div class="page-section">
    <div class="admitted admincom">
      <div class="admitted__header">
        <div class="admitted__title">
          Поступившие
        </div>
        <div class="admitted__search right">
          <d-btn class="blue add-btn icon-btn">
            <d-icon icon="accordion_plus" class="m-0" />
          </d-btn>
        </div>
      </div>
      <div class="admitted__body">
        <d-lists dashedHeader>
          <template #header>
            <div class="columns">
              <div class="column is-7"><span>Ф.И.О.</span></div>
              <div class="column is-5"><span>Баллы</span></div>
            </div>
          </template>
          <template #content>
            <div class="columns" v-for="item in list" :key="item + 32">
              <div class="column is-7 vertical-center">
                <router-link
                  :to="{
                    name: 'cabinetTeachersadmittedId'
                  }"
                  tag="div"
                  class="vertical-center"
                >
                  <d-avatar :item="item" width="40" height="40" cover />
                  {{ item.name }}
                </router-link>
              </div>
              <div class="column is-3 vertical-center admincom_green">
                Председатель
              </div>
              <div class="column right vertical-center">
                <d-dropdown up>
                  <!-- dropdown types
      1) default -> dropdown
      2) props "up" -> dropup
       -->
                  <template #body>
                    <d-icon icon="more" style="width: 30px" class="custom-dropdown__trigger mr-4" @click="open = !open" />
                  </template>
                  <template #dropdown-menu>
                    <li class="admincom__link">
                      <a href="#"> <d-icon icon="bin" class="is-blue size-1" /> {{ $t("studyDepartment.delete") }} </a>
                    </li>
                    <li class="admincom__link">
                      <a href="#"> <d-icon icon="user" class="is-blue size-1" /> Сделать сотрудником приемной комиссии </a>
                    </li>
                  </template>
                </d-dropdown>
              </div>
            </div>
          </template>
        </d-lists>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    // "d-calendar-widget": () => import("@/components/calendar/calendar2"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-dropdown": () => import("@/components/Dropdown"),
    // "d-modal": () => import("@/components/Modal"),
    "d-avatar": () => import("@/components/Avatar")
  },
  data() {
    return {
      open: false,
      list: [
        {
          src: require("@/assets/images/unnamed.jpg"),
          name: "Смирнов Генадий Викторович",
          status: "Утвердил"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          name: "Смирнов Генадий Викторович",
          status: "На рассмотрении"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          name: "Смирнов Генадий Викторович",
          status: "Утвердил"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          name: "Смирнов Генадий Викторович",
          status: "На рассмотрении"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          name: "Смирнов Генадий Викторович",
          status: "Утвердил"
        }
      ],
      id: 1,
      options: [
        {
          title: this.$t('teacherOffice.allAreas'),
          id: 1
        },
        {
          title: "Курс 1",
          id: 2
        },
        {
          title: "Курс 2",
          id: 3
        },
        {
          title: "Курс 3",
          id: 4
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.text-grey {
  color: #9aa6bb;
}
.admincom {
  .add-btn {
    margin-right: 5px;
  }
  .avatar-block {
    margin-right: 16px;
  }
  .columns {
    margin-bottom: 10px !important;
    .column {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  &_green {
    color: $green;
  }
  &__link {
    a {
      display: flex;
      align-items: center;
      width: 203px;
      font-size: 14px;
      svg {
        margin-right: 8px;
      }
    }
    &:last-child {
      a {
        align-items: flex-start;
        svg {
          margin-top: 4px;
        }
      }
    }
  }
}
.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.admitted__title {
  flex: 1;
  color: #1761aa;
  font-size: 18px;
  padding-left: 5px;
  font-weight: 600;
}

.page-section {
  flex-direction: row !important;
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  .admitted {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    &__header {
      height: 50px;
      display: flex;
      align-items: center;

      .admitted__search {
        flex: 1;
        display: flex;
        &__btn {
          height: 30px;
          border-radius: 4px;
          background-color: $grey;
          color: $white;
          font-size: 16px;
          font-weight: 400;
          margin-right: 15px;
          &_right {
            margin-right: 20px;
          }
        }
      }
    }
    &__footer {
      margin-top: auto !important;
    }
  }
  .right-aside {
    padding: 0 0 0 30px;
    flex: 1.2;
    display: flex;
    flex-direction: column;
    .composition {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 4px;
      padding: 20px 30px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      flex: 1;
      &__title {
        color: #1761aa;
        font-size: 18px;
        font-weight: 600;
      }
      &-items {
        margin-top: 20px;
        .composition-item {
          margin-bottom: 10px;
          display: flex;
          &__img {
            width: 32px;
            height: 32px;
            flex: 1;
          }
          &__info {
            flex: 8;
            padding-left: 10px;
            &--name {
              font-size: 14px;
            }
            &--status {
              svg {
                margin-bottom: -3px;
                margin-left: 5px;
              }
            }
          }
        }
      }
      &__footer {
        margin-top: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
</style>
