<template>
  <div class="page-section">
    <loading-progress v-if="loading" />
    <FullCalendar class="teacher-schedule-calendar-component" v-show="!loading" ref="refFullCalendar" :options="calendarOptions" />
    <d-modal :seen="openModal" size="large" :acc-arr="accArr" title="Сформировать группу" @closemodal="openModal = false" place>
    </d-modal>

    <!-- <PreDraggable>{{ calendarOptions.events }}</PreDraggable> -->
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue"

import dayGridPlugin from "@fullcalendar/daygrid"
import timeGridPlugin from "@fullcalendar/timegrid"
import adaptivePlugin from "@fullcalendar/adaptive"
import interactionPlugin from "@fullcalendar/interaction"
import ruLocale from "@fullcalendar/core/locales/ru"

import { mapActions } from "vuex"

export default {
  props: {},
  components: {
    FullCalendar,
    // "d-icon": () => import("@/components/icons/iconWrapper")
    LoadingProgress: () => import("@/components/Loading-progress"),
    "d-modal": () => import("@/components/Modal")
  },
  data() {
    return {
      calendarOptions: {
        plugins: [
          dayGridPlugin,
          timeGridPlugin,
          interactionPlugin, // needed for dateClick
          adaptivePlugin
        ],
        headerToolbar: {
          left: "prev,title,next",
          center: "dayGridMonth,timeGridWeek",
          right: ""
        },
        titleFormat: {
          month: "long"
        },
        initialView: "dayGridMonth",
        // buttonIcons: {
        //   prev: "left-single-arrow",
        //   next: "right-single-arrow",
        //   prevYear: "left-double-arrow",
        //   nextYear: "right-double-arrow"
        // },
        initialEvents: [],
        fixedWeekCount: false,
        contentHeight: 750,
        editable: false,
        droppable: false,

        locales: [ruLocale],
        locale: "ru",
        selectable: true,
        selectMirror: false,
        dayMaxEvents: true,
        weekends: true,
        expandRows: false,
        navLinks: false,

        events: [],
        //Week
        weekNumbers: false,
        weekNumberFormat: {
          week: "numeric"
        },
        allDaySlot: false,
        slotDuration: "00:30:00",
        slotLabelFormat: {
          hour: "2-digit",
          minute: "2-digit",
          omitZeroMinute: true,
          meridiem: "long"
        },

        eventTimeFormat: {
          hour: "2-digit",
          minute: "2-digit",
          hour12: false,
          meridiem: false
        },

        select: this.handleDateSelect,
        eventClick: this.handleEventClick,
        eventsSet: this.handleEvents
        /* you can update a remote database when these fire:
        eventAdd:
        eventChange:
        eventRemove:
        */
      },
      currentEvents: [],

      loading: false,

      openModal: false,
      accArr: [],
      results: []
    }
  },
  methods: {
    ...mapActions("teacherSchedule", ["getTeacherScheduleByDate"]),

    handleWeekendsToggle() {
      this.calendarOptions.weekends = !this.calendarOptions.weekends // update a property
    },

    handleDateSelect(selectInfo) {
      // let title = prompt("Please enter a new title for your event");
      let calendarApi = selectInfo.view.calendar
      // console.log("Select Info -> ", this.results)
      // this.accArr = []
      let cloneArr = this.results.filter(item => {
        if (item.date === selectInfo.startStr) return item
      })
      // cloneArr.filter(item => !!item.id)
    
      this.accArr = cloneArr.map(item => {
          return {
            ...item,
            hasButton: true,
            role: "teacher"
          }
        }
      )
      // this.accArr.forEach(item, index => {

      // })
      // console.log("jajhajdadasjkdds", this.accArr)

      // this.$emit("openmodal", this.$event);

      // this.modalSeen = true;
      calendarApi.unselect() // clear date selection
      // if (/* title */ calendarApi) {
      //   calendarApi.addEvent({
      //     id: createEventId(),
      //     title: "что-то",
      //     start: selectInfo.startStr,
      //     end: selectInfo.endStr,
      //     allDay: selectInfo.allDay,
      //     display: "background"
      //   })
      // }
      // !!this.accArr.length ? (this.openModal = true) : (this.openModal = false)
      this.openModal = !!this.accArr.length || false
    },
    // eslint-disable-next-line no-unused-vars
    handleEventClick(clickInfo) {
      // if (
      //   confirm(
      //     `Are you sure you want to delete the event '${clickInfo.event.title}'`
      //   )
      // ) {
      //   clickInfo.event.remove()
      // }
    },
    handleEvents(events) {
      this.currentEvents = events
      // this.fetchData();
    },

    viewRender(arg) {
      console.log("viewRender", arg)
    },

    fetchData() {
      try {
        const formatMMDD = "YYYY-MM-DD"
        const formatUTC = "YYYY-MM-DDTHH:mm:ss"
        const currentDate = this.$refs?.refFullCalendar?.getApi()?.currentData?.currentDate

        this.loading = true
        this.getTeacherScheduleByDate({
          start_date: this.$moment(currentDate)
            .startOf("month")
            .format(formatMMDD),
          end_date: this.$moment(currentDate)
            .endOf("month")
            .format(formatMMDD)
        }).then(res => {
          this.results = !!res && res.data && res.data.results ? res.data.results : []
          let events = (res?.data?.results || []).map(item => ({
            id: item.id,
            start: this.$moment(item.date + " " + item.interval.start_time).format(formatUTC),
            end: this.$moment(item.date + " " + item.interval.end_time).format(formatUTC),
            allDay: false,
            [(item.module && "title") || null]: item.module && this.$nt(item.module)
          }))

          this.calendarOptions.events = events

          // fullcalendar bug fix
          // иначе сразу не показывает события по дню
          this.$refs?.refFullCalendar?.getApi()?.prev()
          this.$refs?.refFullCalendar?.getApi()?.next()

          this.loading = false
        })
      } catch (err) {
        //
        this.loading = false
      }
    }
  },

  mounted() {
    this.$nextTick(() => {
      this.fetchData()
    })

    const monthSwitchButtons = document.querySelectorAll(".fc-button.fc-button-primary")

    Array.from(monthSwitchButtons).forEach(button => {
      button.addEventListener("click", e => {
        if (
          ["fc-prev-button", "fc-next-button", "fc-icon-chevron-left", "fc-icon-chevron-right"].some(className =>
            e?.target?.classList?.contains(className)
          )
        ) {
          this.fetchData()
        }
      })
    })
  },

  beforeDestroy() {
    const monthSwitchButtons = document.querySelectorAll(".fc-button.fc-button-primary")
    Array.from(monthSwitchButtons).forEach(button => button.removeEventListener("click", () => {}))
  }
}
</script>

<style>
.fc-license-message {
  display: none !important;
}

table.fc-scrollgrid-sync-table td {
  border-width: 0.5px;
}

table {
  border-width: 0;
}

table.fc-scrollgrid-sync-table a {
  color: #000 !important;
  font-weight: 200;
}

.fc-scrollgrid-sync-inner:not(.fc-event) {
  text-align: center;
}

.fc-event-title {
  text-align: left;
}

.fc-dayGridMonth-view .calendar-title {
  text-align: center;
  position: relative;
  top: -8px;
}

.fc-dayGridMonth-view .fc-event-today {
  top: 5px;
}

.fc-dayGridMonth-view .fc-event-today .calendar-time span {
  bottom: -16px;
}

.fc-dayGridMonth-view .fc-daygrid-event span {
  width: 100%;
  text-align: center;
}

.fc-dayGridMonth-view .fc-daygrid-day-top {
  flex-direction: row;
}

.fc-dayGridMonth-view .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: #54bf81;
}

.fc-dayGridMonth-view .calendar-title {
  color: #8b8d92 !important;
}

.fc-timeGridWeek-view .fc-bg-event {
  background-color: #e1faed !important;
  color: #28c76f !important;
  border: 0 none !important;
  border-left: 3px solid #28c76f !important;
  border-radius: 0;
  opacity: 0.7;
}

/* #E1FAED */
.fc-timeGridWeek-view .fc-day-today a.fc-v-event {
  background-color: #e1faed !important;
  color: #28c76f !important;
  border: 0 none !important;
  border-left: 3px solid #28c76f !important;
  border-radius: 0;
}

.fc-timeGridWeek-view .fc-timegrid-col.fc-day-today {
  background-color: #fff !important;
}

.fc-timeGridWeek-view .calendar-time {
  text-align: center !important;
  margin: 0 auto !important;
  display: none !important;
}

.fc-timeGridWeek-view .fc-event > span {
  height: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.fc-timeGridWeek-view .fc-timegrid-col-events .calendar-title {
  font-weight: 600;
  color: #28c76f !important;
  text-align: center !important;
  margin: 0 auto;
  display: block;
  margin-left: 12px;
}
.fc-timeGridWeek-view .calendar-title {
  color: #28c76f;
  font-weight: 600 !important;
  margin: 0 auto;
  text-align: center !important;
}

.fc-timeGridWeek-view .fc-timegrid-col-events .calendar-time {
  text-align: center;
  margin: 0 auto;
}

.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
}

.fc-timeGridWeek-view .fc-event-main {
  display: flex;
  height: 100%;
  align-items: center;
}

.fc-timeGridWeek-view .fc-timegrid-col-events .calendar-time {
  text-align: center;
  color: #28c76f !important;
  margin: 0 auto;
}

.fc-dayGridMonth-view .fc-daygrid-day-number {
  padding-left: 15px;
  padding-top: 8px;
}

.fc-dayGridMonth-view .fc-daygrid-dot-event:hover,
.fc-daygrid-dot-event.fc-event-mirror {
  background-color: transparent !important;
}

.fc-dayGridMonth-view .calendar-time {
  display: flex;
  justify-content: center;
}

.fc-dayGridMonth-view .fc-bg-event span {
  padding: 2px 5px !important;
  top: 10px;
}

.fc-dayGridMonth-view .calendar-time span {
  background-color: #c9ebd7;
  width: auto !important;
  border-radius: 30px;
  display: inline !important;
  padding: 2px 5px;
  color: #3eb670;
  position: relative;
  bottom: -20px;
  font-size: 14px !important;
}

.fc-dayGridMonth-view .fc-daygrid-day.fc-day-today {
  background-color: #fff !important;
}

.fc-dayGridMonth-view .fc-scroller,
.fc-dayGridMonth-view .fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5em;
}

.fc-timegrid-col {
  border: 2px solid #dbe1ea !important;
}

.fc-timegrid-cols .fc-timegrid-col:nth-child(1),
.fc-timegrid-cols .fc-timegrid-col:nth-child(2) {
  border: 0 none !important;
}

.fc-timegrid-cols .fc-timegrid-col:nth-child(2) {
  border-left: 2px solid #dbe1ea !important;
  border-bottom: 2px solid #dbe1ea !important;
  border-top: 2px solid #dbe1ea !important;
}

/* .fc-prev-button {
  content: '';
  background-image: url('../../assets/icons/arow-down.svg');
  width: 10px;
  height: 10px;
} */

.fc-toolbar-chunk h2 {
  display: inline-block;
  font-size: 18px !important;
  text-transform: capitalize;
  margin: 5px;
  width: 100px;
  text-align: center;
}

.fc .fc-scroller-harness-liquid {
  border-bottom: 0.5px solid #dbdbdb;
}

/* .content table td,
.content table th {
  padding: 0 !important;
} */

.fc-dayGridMonth-view .fc-bg-event {
  background-color: #fff;
  color: #28c76f;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.fc-scrollgrid-sync-inner a {
  color: #3d6ab7;
  font-weight: 500;
  text-transform: capitalize;
}

.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section-footer table {
  border-style: none;
}

/* .fc-day-future {
  background-color: #fff;
}

.fc-day-other {
  background-color: #f9fafc !important;
}

.fc-day-past {
  background-color: #fff;
} */

.fc-dayGridMonth-view tbody:last-child {
  border-bottom: 1px solid #dbdbdb !important;
}

.fc-dayGridMonth-view .fc-scrollgrid-section-body table td {
  border-width: 0.5px !important;
}

.fc .fc-scrollgrid table {
  border-style: none;
}

.fc .fc-scrollgrid {
  border: 0 none;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
  position: relative;
  left: -50px;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button {
  border: 0 none;
}

/* .left-single-arrow {
  background-image: url('../../assets/icons/arow-left.svg');
  height: 15px;
  width: 15px;
} */

.teacher-schedule-calendar-component .fc-header-toolbar .fc-toolbar-chunk button.fc-button-active {
  background-color: #3d6ab7;
  color: #fff;
  border: 0 none;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button.fc-button-primary {
  background-color: #fff !important;
  color: #a5afc2 !important;
  text-transform: capitalize;
  border: 1px solid #a5afc2 !important;
  padding: 3px 12px !important;
  bottom: -7px;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button.fc-button-active {
  background-color: #3d6ab7 !important;
  color: #fff !important;
  border: 0 none;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(1) button.fc-button-primary {
  border: 0 none !important;
  border-radius: 50% !important;
  background-color: #f4f6fa !important;
  color: #bdc7d8 !important;
  padding: 0 !important;
  margin: 5px;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(1) button.fc-button-primary:hover {
  background-color: #a5afc2 !important;
}

/* week */
.fc-col-header tbody th.fc-col-header-cell {
  background: transparent;
}

.fc-timeGridWeek-view div.fc-bg-event {
  margin: 3px !important;
  border-left: 3px solid #28c76f !important;
}

.fc-timeGridWeek-view .fc-scroller,
.fc-timeGridWeek-view .fc-scroller-liquid-absolute {
  overflow-y: scroll !important;
}

.fc .fc-scroller-harness-liquid {
  border: 0 none !important;
}

.fc-timeGridWeek-view .fc .fc-timegrid-col-bg .fc-bg-event {
  margin: 3px !important;
}

/* .fc-timeGridWeek-view .fc .fc-event, */
/* .fc .fc-scrollgrid table tr { */
/* height: 70px !important; */
/* } */

.fc-timeGridWeek-view .fc .fc-timegrid-bg-harness {
  /* height: 70px !important; */
  margin: 2px !important;
}

.fc-timeGridWeek-view .fc-day-past a,
.fc-timeGridWeek-view .fc-day-future a {
  color: #b3bccc;
}

.fc-timeGridWeek-view .fc-day-today a {
  color: #4c75bc;
}

/* .fc-timeGridWeek-view .fc .fc-event,
.fc .fc-scrollgrid table tr {
  height: 50px !important;
} */

.fc-timeGridWeek-view .fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  color: #b3bccc;
  width: 50px;
  text-align: left !important;
}

.fc-timegrid-divider .fc-cell-shaded {
  display: none !important;
}
</style>
