<template>
  <div class="page-section ">
    <div class="title-row">
      <div class="main-title">
        Ведомость
      </div>
    </div>
    <div class="mt-3 is-full is-multiline">
      <router-link :to="{ name: 'cabinetTeachersRegisterIdControl' }">
        <d-btn text="Контроль" rounded class="blue blue_control" />
      </router-link>
      <!-- <d-table
        :tableHeader="tableHeader"
        :tableBody="tableBody"
        yourCustomClass="tbill"
        :additionalClasses="tableClasses"
      /> -->

      <d-list-wrapper :loading="loading" :len="data.students && data.students.length">
        <d-attend-table class="mt-3" :list="data.students" :events="data.events" register />
      </d-list-wrapper>
    </div>
    <!-- <div class="register__footer"></div> -->
  </div>
</template>

<script>
export default {
  components: {
    // "d-breadcrumbs": () => import("@/components/Breadcrumbs"),
    // "d-table": () => import("@/components/Table"),
    "d-attend-table": () => import("@/components/tables/teacherStatement"),
    "d-btn": () => import("@/components/buttons/loaderButton"),
    "d-list-wrapper": () => import("@/components/loaders/spinnerWrapper")
  },
  data() {
    return {
      loading: false,
      data: {},
      breadcrumbList: [
        {
          title: "Группа №555 специалисты (повышение квалификации)",
          link: "#"
        }
      ],
      tableClasses: ["table", "is-bordered", "is-hoverable"],
      tableHeader: [
        {
          title: "",
          width: "30%",
          colspan: 1,
          rowspan: 2
        },

        {
          title: "<div class='tbill__header__thinner'>Текущий бал</div>",
          width: "calc(70% / 3)",
          colspan: 2,
          rowspan: 1
        },
        {
          title: "<div class='tbill__header__thinner'>Промежуточный бал</div>",
          width: "calc(70% / 3)",
          colspan: 2,
          rowspan: 1
        },
        {
          title: "<div class='tbill__header__thinner'>Итоговый бал</div>",
          width: "calc(70% / 3)",
          colspan: 2,
          rowspan: 1
        }
      ],
      tableBody: [
        {
          id: 0,
          info: [
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: ""
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: ""
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: ""
            }
          ]
        },
        {
          id: 1,
          info: [
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Мавлянов Джурабек Комолович"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<span class='tbill__body__marknumb'>98/100</span>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Отлично"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<span class='tbill__body__marknumb'>98/100</span>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Отлично"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<span class='tbill__body__marknumb'>98/100</span>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Отлично"
            }
          ]
        },
        {
          id: 2,
          info: [
            {
              colspan: 1,
              rowspan: 1,
              text: "Мавлянов Джурабек Комолович"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_red'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            }
          ]
        },
        {
          id: 3,
          info: [
            {
              colspan: 1,
              rowspan: 1,
              text: "Мавлянов Джурабек Комолович"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_red'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            }
          ]
        }
      ]
    }
  },
  mounted() {
    this.getList()
  },
  methods: {
    getList() {
      this.loading = true

      this.$store
        .dispatch("teacherRegister/getModuleDetail", { id: this.$route.params.id })
        .then(data => {
          if (data) {
            this.data = data
          } else {
            this.data = {}
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err", err)
          this.loading = true
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.register {
  &__header {
    padding-top: 5px;
  }
  &__body {
    padding-top: 40px;
  }
}
</style>
