<template>
  <div class="page-section learning-prog">
    <div v-if="loading" class="pt-5">
      <center>
        <d-loader />
      </center>
    </div>
    <template v-else>
      <div class="columns">
        <div class="column">
          <d-breadcrumbs :menu-list="breadcrumbList" />
        </div>
        <div class="column">
          <router-link
            tag="button"
            :to="{
              name: 'cabinetLearningLearningProgramIdSubIdAddtheme',
              query: { id: $route.params.id, subId: $route.params.subId }
            }"
            class="add-btn icon-btn"
            @click="modalSeen = !modalSeen"
          >
            <d-icon icon="accordion_plus" />
            <span> {{ $t("studyDepartment.add") }} </span>
          </router-link>
        </div>
      </div>
      <div class="learning-prog__body">
        <div class="pt-4" v-if="list && list.weeks && list.weeks.length == 0">
          <center>
            <h2>{{ $t("studyDepartment.empty") }}</h2>
          </center>
        </div>
        <d-accordion v-else class="borderDashed" :breadcrumbs="breadcrumbList" :list="list.weeks" :accordionOptions="accordionOptions" />
      </div>
    </template>
  </div>
</template>

<script>
import { mapActions } from "vuex"
export default {
  components: {
    "d-breadcrumbs": () => import("@/components/Breadcrumbs"),
    "d-accordion": () => import("@/components/accordion/weekThemesAccordion"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-loader": () => import("@/components/loaders/spinner")
  },
  data() {
    return {
      loading: false,
      breadcrumbList: [
        {
          title: "",
          link: "#"
        },
        {
          title: "",
          link: "#"
        }
      ],
      accordionOptions: {
        //нужно передавать своего глобального родителя стилей
        yourCustomClass: "accordion",
        accordionMultiple: true
      },
      list: [],
      accordions: [
        {
          id: 1,
          title: "-ая неделя",
          tasks: [
            {
              text: "Задача и принципы Финансовое право",
              count: 11
            }
          ]
        }
      ]
    }
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningLearningProgram", ["getModuleRead", "getCourseWeekList"]),
    fetchData() {
      this.loading = true
      this.getModuleRead({ id: this.$route.params.subId }).then(res => {
        this.list = res

        this.breadcrumbList[0].link = {
          name: "cabinetLearningLearningProgramId",
          params: { id: this.$route.params.id }
        }
        this.breadcrumbList[0].title = this.list.course && this.$nt(this.list.course.name)
        this.breadcrumbList[1].title = this.$nt(this.list.discipline.name)

        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 black !important;
}
</style>
