<template>
  <div class="page-section check-task">
    <div class="mb-5">
      <d-input icon="asd" icon2="search" alignIcon="both" placeholder="Поиск по вопросам" class="shadow" rounded />
    </div>
    <d-analytics class="mb-4" />
    <div class="check-task__header columns mt-1">
      <div class="column check-task__header--item is-3">
        <div>{{$t('teacherOffice.question')}}</div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.difficulty')}}</div>
      </div>
      <div class="column check-task__header--item">
        <div>
          {{$t('teacherOffice.date')}}
          <d-icon icon="arrow-accordion" class="size-05 pt-1 ml-1 is-blue" />
        </div>
      </div>
      <div class="column check-task__header--item">
        <div>Испытаний<d-icon icon="arrow-accordion" class="size-05 pt-1 ml-2 is-blue" /></div>
      </div>

      <div class="column check-task__header--item">
        <div>Верных<d-icon icon="arrow-accordion" class="size-05 pt-1 ml-2 is-blue" /></div>
      </div>
      <div class="column check-task__header--item">
        <div>Ответственный</div>
      </div>
      <div class="column check-task__header--item">
        <div>Рецензент</div>
      </div>
      <div class="column check-task__header--item is-1"></div>
    </div>
    <div class="check-task__body">
      <div class="check-task__list">
        <div class="check-task__item columns" v-for="item in list" :key="item.id">
          <div class="column is-3 my-3">{{ item.name }}</div>
          <div class="column">
            <div
              :class="[
                'badge',
                item.difficult === 'hard' ? 'red-bg' : item.difficult === 'middle' ? 'yellow-bg' : item.difficult === 'easy' ? 'green-bg' : null
              ]"
            ></div>
          </div>
          <div class="column">
            {{ item.date }}
          </div>
          <div class="column">
            {{ item.tests }}
          </div>
          <!-- <div
            :class="[
              'column is-2',
              +item.mark < 50
                ? 'red'
                : +item.mark > 50 && +item.mark < 80
                ? 'yellow'
                : +item.maranalytics
                : null,
            ]"
          >
            {{ item.mark ? item.mark + "/100" : "" }}
          </div> -->

          <div class="column">
            {{ item.correct }}
          </div>
          <div class="column">{{ item.tester }}</div>
          <div class="column">{{ item.reviewer }}</div>
          <div class="column is-1 last-item">
            <router-link
              tag="div"
              :to="{
                name: 'cabinetTestsModulesId',
                params: { id: item.id }
              }"
            >
              <d-icon icon="more" class="size-2 white icon-rotate-90" />
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-input": () => import("@/components/inputs/input"),
    "d-analytics": () => import("@/components/Analytics")
  },
  data() {
    return {
      id: 1,
      options: [
        {
          title: "Специалисты пов...",
          id: 1
        },
        {
          title: "Специалисты пов...",
          id: 2
        },
        {
          title: "Специалисты пов...",
          id: 3
        },
        {
          title: "Специалисты пов...",
          id: 4
        }
      ],
      list: [
        {
          id: 1,
          name: "Психологическая подготовка",
          difficult: "hard",
          date: "28.03.2019",
          tests: 45,
          correct: 8,
          tester: "Ибрагимов А.И.",
          reviewer: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Психологическая подготовка",
          difficult: "easy",
          date: "28.03.2019",
          tests: 45,
          correct: 8,
          tester: "Ибрагимов А.И.",
          reviewer: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Психологическая подготовка",
          difficult: "hard",
          date: "28.03.2019",
          tests: 45,
          correct: 8,
          tester: "Ибрагимов А.И.",
          reviewer: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Психологическая подготовка",
          difficult: "middle",
          date: "28.03.2019",
          tests: 45,
          correct: 8,
          tester: "Ибрагимов А.И.",
          reviewer: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Психологическая подготовка",
          difficult: "easy",
          date: "28.03.2019",
          tests: 45,
          correct: 8,
          tester: "Ибрагимов А.И.",
          reviewer: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Психологическая подготовка",
          difficult: "middle",
          date: "28.03.2019",
          tests: 45,
          correct: 8,
          tester: "Ибрагимов А.И.",
          reviewer: "Ибрагимов А.И."
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.status-icon {
  margin-right: 8px;
}

.badge {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #ffca83;
}

.red {
  color: #fc5f74;
}

.green-bg {
  background-color: #42b874;
}

.yellow-bg {
  background-color: #ffcb85;
}

.red-bg {
  background-color: #ff7285;
}

.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
}

.check-task {
  &__title {
    color: $blue;
  }
  &__form {
    text-align: right;
    &--select {
      margin-top: -11px;
    }
  }
  &__header {
    padding: 6px 0;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    &--item {
      div {
        padding-left: 20px;
        color: $blue;
      }
    }
  }
  &__body {
    .check-task__list {
      .check-task__item {
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 4px;
        margin-top: 14px;
        .column {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.last-item {
  padding: 0 !important;
  div {
    background-color: $blue;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.check {
  padding: 0 !important;
  div {
    background-color: #3d6ab7;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
