<template>
  <d-modal :seen="openModal" size="large" :title="title" class="tmodal" :uploading="uploading" @closemodal="$emit('toggleModal', $event)">
    <div v-if="uploading" class="tmodal__uploading">
      <div class="tmodal__uploading__line">
        <span :style="`width:${percentCompleted}%`"></span>
      </div>
      <div class="tmodal__uploading__progress">{{ percentCompleted }}%</div>
    </div>
    <template v-else>
      <div v-if="Object.keys(formDetails).length" class="tmodal__blocks">
        <div class="tmodal__block">
          <div class="tmodal__title">
            Файл
            <span class="tmodal__error" v-if="invalidForm.file || invalidForm.video"> (Загрузите файл) </span>
          </div>
          <label for="file" class="tmodal__upload">
            <span>{{ fileName || formDetails.file || formDetails.video || "Файл" }}</span>
            <d-icon icon="paper-clip" />
          </label>
          <input type="file" id="file" ref="refFile" @change="fileHandler('file', $event)" />
          <div class="tmodal__title">
            Обложка для {{ mediaType }}
            <span class="tmodal__error" v-if="invalidForm.image"> (Загрузите обложку для {{ mediaType }}) </span>
          </div>
          <label for="cover" class="tmodal__upload">
            <span>{{ coverName || formDetails.image || "Файл" }}</span>
            <d-icon icon="paper-clip" />
          </label>
          <input type="file" id="cover" ref="refImage" @change="fileHandler('image', $event)" />
          <template v-if="this.tab == 1 || this.formDetails.book_type">
            <div class="tmodal__title">
              Год издания
              <span class="tmodal__error" v-if="invalidForm.publish_date"> (Выберите год издания) </span>
            </div>
            <div class="tmodal__changedate" v-if="updateDate">
              <div class="tmodal__changedate__date">
                {{ $moment(formDetails.publish_date).format("LL") }}
              </div>
              <button class="tmodal__changedate__btn" @click="updateDate = false">
                {{ $t("studyDepartment.change") }}
              </button>
            </div>
            <d-date-select v-else class="modal-variant-1" grey v-model="formDetails.publish_date" />
            <div class="tmodal__title tmodal__title_margin">
              Тип
              <span class="tmodal__error" v-if="invalidForm.book_type"> (Выберите тип книги) </span>
            </div>
            <d-select
              class="grey-2 rounded"
              :placeholder="$t('studyDepartment.select')"
              :options="filter.typeofbook"
              label="name"
              v-model="formDetails.book_type"
              :reduce="item => item.id"
            ></d-select>
          </template>
          <template v-if="this.tab == 2 || media == 'video'">
            <div class="tmodal__title tmodal__title_margin">
              Модуль
              <span class="tmodal__error" v-if="invalidForm.module"> (Выберите модуль видео) </span>
            </div>
            <d-select
              class="grey-2 rounded"
              placeholder="Выберите"
              :options="filter.moduleofvideo"
              label="name"
              v-model="formDetails.module"
              :reduce="item => item.id"
            ></d-select>
          </template>
          <div class="tmodal__title">
            Категория
            <span class="tmodal__error" v-if="invalidForm.category">
              (Выберите категорию
              {{ tab == 1 || module == "book" ? "книги" : "видео" }})
            </span>
          </div>
          <d-select
            class="grey-2 rounded"
            :placeholder="$t('studyDepartment.select')"
            :options="filter.shortcategory"
            label="name"
            v-model="formDetails.category"
            :reduce="item => item.id"
          ></d-select>
        </div>
        <div class="tmodal__block">
          <div class="tmodal__title">Выберите язык</div>
          <div class="tmodal__langs">
            <div class="tmodal__langs__box">
              <span
                class="tmodal__langs__item"
                :class="{ tmodal__langs__item_selected: langValue === lang }"
                v-for="lang in $langPrefixes"
                :key="lang"
                @click="selectLang(lang)"
              >
                <span>{{ lang }}</span>
              </span>
            </div>
            <span class="tmodal__langs__line"></span>
          </div>
          <div v-for="lang in $langPrefixes" :key="lang">
            <template v-if="lang === (langValue || $i18n.locale)">
              <div class="tmodal__title tmodal__title_margin">
                Название
                <span class="tmodal__error" v-if="invalidForm.title">
                  (Введите название
                  {{ tab == 1 || module == "book" ? "книги" : "видео" }})
                </span>
              </div>
              <d-input :placeholder="$t('teacherOffice.enterTheText')" rounded class="grey tmodal__input" v-model="formDetails.title[lang]" />
              <template v-if="tab == 1 || media == 'book'">
                <div class="tmodal__title tmodal__title_margin">
                  Автор
                  <span class="tmodal__error" v-if="invalidForm.author"> (Введите имя автора) </span>
                </div>
                <d-input :placeholder="$t('teacherOffice.enterTheText')" rounded class="grey tmodal__input" v-model="formDetails.author" />
              </template>
            </template>
          </div>
          <template v-if="tab == 1 || media == 'book'">
            <div class="tmodal__title tmodal__title_margin">
              Кол-во страниц
              <span class="tmodal__error" v-if="invalidForm.page_count"> (Введите кол-во страниц в книге) </span>
            </div>
            <d-input :placeholder="$t('teacherOffice.enterTheText')" rounded class="grey" type="number" v-model.number="formDetails.page_count" />
          </template>

          <div class="tmodal__title mt-5">
            Описание
            <span class="tmodal__error" v-if="invalidForm.description"> (Напишите описание {{ mediaType }}) </span>
          </div>
          <d-textarea
            :placeholder="$t('teacherOffice.enterTheText')"
            rounded
            :fixed="true"
            type="number"
            class="grey"
            v-model="formDetails.description[langValue]"
          />
        </div>
      </div>

      <div class="tmodal__btns">
        <d-btn rounded color="grey" :text="$t('studyDepartment.cancel')" @click="openModal = true" />
        <d-btn class="add-group-modal--btn" color="blue" rounded :text="$t('studyDepartment.save')" @click="update()" />
      </div>
    </template>
  </d-modal>
</template>
<script>
import Modal from "@/components/Modal"
import loaderButton from "@/components/buttons/loaderButton"
import iconWrapper from "@/components/icons/iconWrapper"
import textarea from "@/components/inputs/textarea"
import input from "@/components/inputs/input"
import select from "@/components/inputs/select"
import axios from "@/plugins/axios"

export default {
  components: {
    "d-modal": Modal,
    "d-btn": loaderButton,
    "d-icon": iconWrapper,
    "d-textarea": textarea,
    "d-input": input,
    "d-select": select,
    "d-date-select": () => import("@/components/inputs/date-selector")
  },
  props: {
    openModal: { type: Boolean },
    form: {
      type: Object,
      default: () => {}
    },
    tab: {
      type: [Number, String]
    },
    media: {
      type: String
    }
  },
  data() {
    return {
      disabled: true,
      fileName: "",
      coverName: "",
      invalid: true,
      uploading: false,
      updateDate: false,
      formDetails: {},
      defaultForm: {},
      invalidForm: {},
      validBook: {
        title: false,
        file: false,
        image: false,
        category: false,
        description: false,
        author: false,
        book_type: false,
        publish_date: false,
        page_count: false
      },
      validVideo: {
        title: false,
        description: false,
        video: false,
        module: false,
        category: false,
        image: false
      },
      bookForm: {
        title: { en: "", ru: "", uz: "" },
        file: "",
        image: "",
        category: "",
        description: {
          en: "",
          ru: "",
          uz: ""
        },
        author: "",
        book_type: "",
        publish_date: "",
        page_count: ""
      },
      videoForm: {
        title: { en: "", ru: "", uz: "" },
        description: {
          en: "",
          ru: "",
          uz: ""
        },
        video: "",
        module: "",
        category: "",
        image: ""
      },
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        }
      ],
      langValue: "",
      percentCompleted: 0,
      filter: {
        typeofbook: [],
        shortcategory: [],
        moduleofvideo: []
      }
      // categoryList: [],
      // typeList: []
    }
  },

  methods: {
    fileHandler(formKey, e) {
      if (formKey == "file") {
        this.fileName = e.target.files[0].name
      } else this.coverName = e.target.files[0].name
      if (e.target.files && e.target.files[0]) {
        if (this.tab == 2 || this.media == "video") {
          formKey == "file" ? (this.formDetails.video = e.target.files[0]) : (this.formDetails.image = e.target.files[0])
        } else {
          this.formDetails[formKey] = e.target.files[0]
        }
      }
    },
    selectLang(lang) {
      this.langValue = lang
    },
    validForm() {
      let t = ["file", "video", "image"]

      Object.keys(this.formDetails).forEach(key => {
        // if (
        //   (this.formDetails[key] == null ||
        //     this.formDetails[key] == "" ||
        //     (typeof this.formDetails[key] != "object"
        //       ? false
        //       : t.includes(key)
        //       ? false
        //       : !Object.keys(this.formDetails[key]).some(item => this.formDetails[key][item]))) &&
        //   key != "file_size"
        // ) {
        if (
          ((this.formDetails[key] == null ||
            this.formDetails[key] == "" ||
            (typeof this.formDetails[key] != "object"
              ? false
              : t.includes(key)
              ? false
              : !Object.keys(this.formDetails[key]).some(item => this.formDetails[key][item]))) &&
            key != "file_size" &&
            key == "file") ||
          (key == "title" && !Object.keys(this.formDetails[key]).some(item => this.formDetails[key][item])) ||
          (key == "category" && !this.formDetails[key])
        ) {
          console.log(`ошибка в ${key}`)
          this.invalidForm[key] = true
        } else {
          this.invalidForm[key] = false
        }
      })
      console.log(this.invalidForm)
      this.invalid = !Object.keys(this.invalidForm).some(item => this.invalidForm[item])
    },
    putId(item, filter) {
      const f = filter.findIndex(subitem => subitem.name == this.formDetails[item])
      if (f != -1) {
        this.formDetails[item] = filter[f].id
      }
    },
    update() {
      this.validForm()

      if ([this.formDetails.book_type, this.formDetails.category, this.formDetails.module].some(item => typeof item == "string")) {
        this.putId("book_type", this.filter.typeofbook)
        this.putId("category", this.filter.shortcategory)
        this.putId("module", this.filter.moduleofvideo)
      }
      if (this.invalid) {
        if (this.tab == 2 || this.media == "video") {
          this.percentCompleted = 0
          this.uploading = true
          Object.keys(this.videoForm).forEach(key => {
            if (this.videoForm[key] == this.formDetails[key] && key != "id") {
              this.$delete(this.formDetails, key)
            }
          })
        }
        let mediaValue = this.tab == 1 || this.media == "book" ? "librarybook" : "videomaterial"
        this.uploadBook({ media: mediaValue, form: this.formDetails })
          .then(res => {
            this.uploading = false
            console.log(res)
            if (res) this.$emit("updateData")
            this.$emit("toggleModal")
            let t = this.tab == 1 || this.media == "book" ? "a" : ""
            if ([201, 200].includes(res.status)) {
              //success notification
              this.$store.dispatch("snackbar/changeToasts", {
                text: `${t == "a" ? "Книга" : "Видео"} "${this.$nt(this.formDetails.title)}" успешно ${
                  this.formDetails.id ? `обнолен${t}` : `создан${t}`
                }!`,
                color: "success"
              })
            }
          })
          .catch(err => {
            console.error(err)
            this.uploading = false
            this.$emit("toggleModal")
          })
      }
    },

    uploadBook({ media, form }) {
      let t = this.role == "library" ? "/library" : "/teacher/library"
      const urlBase = `${t}/${media}/`
      const { title, description, ...props } = form
      if (props.id && typeof props.file === "string") {
        delete props.file
      }
      if (props.id && typeof props.image === "string") {
        delete props.image
      }
      const req = {
        method: props.id ? "patch" : "post",
        url: urlBase + ((props.id && `${props.id}/`) || "create/")
      }

      const f = new FormData()

      Object.keys(props).forEach(key => {
        if (key == "page_count") f.append(key, +props[key])
        else f.append(key, props[key])
      })
      f.append("title", JSON.stringify(title))

      f.append("description", JSON.stringify(description))
      let config
      if (this.tab == 2 || this.media == "video") {
        config = {
          onUploadProgress: progressEvent => {
            this.percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
          }
        }
      }
      console.log("sended form", f)
      return axios[req.method](req.url, f, config)
    },

    clone(value) {
      return JSON.parse(JSON.stringify(value))
    },
    setDefaultForm() {
      if (this.tab == 1 || this.media == "book") {
        this.formDetails = this.clone(this.bookForm)
        this.invalidForm = this.clone(this.validBook)
      } else {
        this.formDetails = this.clone(this.videoForm)
        this.invalidForm = this.clone(this.validVideo)
      }
    }
  },
  computed: {
    language() {
      return this.$i18n.locale
    },
    title() {
      let t = this.$route.params.id ? this.$t("studyDepartment.change") : this.$t("studyDepartment.add")
      if (this.uploading) {
        return "Идет загрузка..."
      }
      return this.tab == 1 || this.formDetails.book_type ? `${t} книгу` : `${t} видео`
    },
    mediaType() {
      return this.tab == 1 || this.media == "book" ? "книги" : "видео"
    },
    role() {
      let t = this.$route.path.split("/")
      console.log(t)
      return t[2] == "library" ? "library" : "teacherLibrary"
    }
  },
  watch: {
    language: {
      handler() {
        Object.keys(this.filter).forEach(key => {
          this.$store.dispatch(`${this.role}/getFilter`, key).then(res => {
            if (res && res.data) {
              this.filter[key] = res.data.results
              if (this.filter[key].some(item => typeof item.name == "object")) {
                this.filter[key].forEach(item => {
                  item.name = this.$nt(item.name)
                })
              }
            }
          })
        })
      },
      immediate: true
    },
    openModal: {
      handler(val) {
        if (val) {
          if (this.form && Object.keys(this.form).length) {
            if (this.role == "library") {
              this.$delete(this.form, "my")
            }
            this.updateDate = true
            Object.keys(this.form).forEach(key => {
              this.formDetails[key] = this.form[key]

              if (key == "book_type" || key == "category" || key == "module") {
                this.formDetails[key] = this.$nt(this.formDetails[key])
              }
            })
            if (this.tab == 2 || this.media == "video") {
              this.videoForm = this.clone(this.formDetails)
            }
          } else {
            console.log("работает при дефолт сбросе")
            let t = this.tab == 1 || this.media == "book" ? this.bookForm : this.videoForm
            Object.keys(this.formDetails).forEach(key => {
              if (typeof t[key] == "object") {
                Object.keys(this.formDetails[key]).forEach(lang => {
                  this.formDetails[key][lang] = ""
                })
              } else {
                this.formDetails[key] = t[key]
              }
              this.invalidForm[key] = false
            })
            this.fileName = ""
            this.coverName = ""
            this.$refs.refFile.value = null
            if (this.tab == 1 || this.media == "book") {
              this.$refs.refImage.value = null
            }
          }
        }
      }
    },

    tab: {
      handler() {
        this.setDefaultForm()
      }
    }
  },
  mounted() {
    this.langValue = this.$i18n.locale
    this.setDefaultForm()
  }
}
</script>
