<template>
  <div class="lessons-list">
    <!-- <p>Группа N130 (Уголовное судопроизводство)</p> -->
    <p v-if="detail.stdunt_group">Группа №{{ detail.stdunt_group.id }} ({{ detail.stdunt_group.name }})</p>
    <div class="custom-card">
      <div class="title-row calinner__info__item">
        <div class="main-title">
          <span>Расписание</span>
          <!-- <span class="ml-4">{{ checkedItems.length || "" }}</span> -->
        </div>

        <div class="ml-auto">
          <div class="ml-2 mr-0 columns is-vcentered">
            <d-date class="no-side-effect" from-right v-model="dateParam" />
          </div>
        </div>
      </div>

      <d-lists no-list-hover :loading="loading" :len="eventList.length">
        <template #header>
          <div class="columns is-vcentered lessons-list--list">
            <!-- checkbox -->
            <!-- <div class="">
              <d-checkbox
                :checked="isAllElementsChecked"
                @change="toggleAllElements"
                size="small"
              />
            </div> -->

            <!-- 1, 2, 3 -->
            <div class="column list__number">№</div>

            <!-- lesson title -->
            <div class="column is-2">
              <span>{{ $t("studyDepartment.module") }}</span>
            </div>

            <!-- lesson theme -->
            <div class="column is-2">
              <span>{{ $t("studyDepartment.topic") }}</span>
            </div>

            <!-- teachers list input -->
            <div class="column is-2">
              <span>{{ $t("studyDepartment.teacher") }}</span>
            </div>

            <!-- room -->
            <div class="column is-1">
              <span>Аудитория</span>
            </div>

            <!-- lesson start -->
            <div class="column is-1 has-text-centered">
              <span>Начало</span>
            </div>

            <!-- lesson end -->
            <div class="column is-1 has-text-centered">
              <span>Окончание</span>
            </div>

            <!-- resources -->
            <div class="column is-2"><span>Ресурс</span></div>

            <!-- three dots -->
            <div class="column"><span></span></div>
          </div>
        </template>

        <template #content>
          <div v-for="(item, index) in eventList" :key="item.id" class="lessons-list--list">
            <div class="columns is-vcentered">
              <!-- checkbox -->
              <!-- <div class="">
                <d-checkbox
                  :checked="checkedItems.includes(item.id)"
                  @change="toggleCheckedItem(item.id, $event)"
                  size="small"
                />
              </div> -->

              <!-- 1, 2, 3 -->
              <div class="column list__number">
                {{ index + 1 }}
              </div>

              <!-- lesson title -->
              <div class="column is-2">
                <span>{{ $nt(item.title) }}</span>
              </div>

              <!-- lesson theme -->
              <div class="column is-2">
                <span>{{ $nt(item.lesson_obj) }}</span>
              </div>

              <!-- teachers list input -->
              <div class="column is-2">
                <div class="columns is-vcentered">
                  <!-- <d-avatar
                    :item="{ src: require('@/assets/images/IMG_26561.png') }"
                    width="41"
                    height="41"
                    cover
                  ></d-avatar> -->
                  <!-- <d-select
                    class="flex-1 ml-2 grey-2 rounded whitout_close"
                    placeholder="Введите текст"
                    :options="teachersList"
                    v-model="item.teacher_id"
                    :reduce="(item) => item.id"
                  > -->
                  <!-- {{ item.teacher.first_name }} {{ item.teacher.second_name }}
                      {{ item.teacher.last_name }} -->

                  <!-- </d-select> -->
                  <!-- <d-icon icon="arow-down"></d-icon> -->
                </div>
              </div>

              <!-- room -->
              <div class="column is-1 has-text-centered">
                <!-- <span>{{ item.room }}</span> -->
                <d-select
                  no-title
                  class="grey-2 rounded whitout_close"
                  :placeholder="$t('teacherOffice.enterTheText')"
                  :options="roomsList"
                  v-model="item.room"
                  :reduce="(item) => item.id"
                  @change="onRoomChange(arguments[0], item.id)"
                >
                  <template #selected-option="props">
                    {{ props.name || props.id }}
                  </template>
                  <template v-slot="props">
                    {{ props.name }}
                  </template>
                </d-select>
              </div>

              <!-- lesson start -->
              <div class="column is-1 has-text-centered">
                <span class="lessons-list--list__time-green">{{ $moment(item.start).format("HH:mm") }}</span>
              </div>

              <!-- lesson end -->
              <div class="column is-1 has-text-centered">
                <span class="lessons-list--list__time-red">{{ $moment(item.end).format("HH:mm") }}</span>
              </div>

              <!-- resources -->
              <div class="column is-2">
                <d-select
                  no-title
                  class="grey-2 rounded whitout_close"
                  :placeholder="$t('teacherOffice.enterTheText')"
                  :options="options"
                  label="title"
                  multiple
                  :reduce="(item) => item.id"
                />
              </div>

              <!-- three dots -->
              <div class="column">
                <d-dropdown :class="['svg-bgblue-color']" style="display: flex; align-items: center">
                  <template #body>
                    <d-icon icon="more" style="width: 30px" class="icon-rotate-90 custom-dropdown__trigger" />
                  </template>
                  <template #dropdown-menu>
                    <li
                      @click="
                        setModalProps({
                          methodName: 'change',
                          eventId: item.id
                        })
                      "
                    >
                      <a class="tasks-prog__descr">Переместить</a>
                    </li>
                    <li @click="setModalProps({ methodName: 'swap', eventId: item.id })">
                      <a class="tasks-prog__descr">Переместить с заменой</a>
                    </li>
                  </template>
                </d-dropdown>
              </div>
            </div>
          </div>
        </template>
      </d-lists>

      <d-pagination
        v-show="!loading"
        class="justify-content-end"
        @change="fetchData"
        v-model="page"
        :total="(detail && detail.count) || 0"
        :limit="$_perPage"
      />
    </div>

    <!-- <pre class="fixed left">{{ modal.form }}</pre> -->

    <d-modal :seen="!!modal.methodName" title="Перемещение" size="small" @closemodal="modal.methodName = false">
      <div class="mb-2 has-text-grey">Выберите интервал (опционально)</div>
      <d-tabs
        class="flex-1 rounded"
        :default-tab-value="null"
        :tab-list="intervalList"
        @item="modal.form.interval = arguments && arguments[0] && arguments[0].tab"
        @change="modal.form.interval = arguments && arguments[0]"
      />

      <div class="mt-5 d-flex flex-column align-items-center">
        <div class="mb-2 has-text-grey">Выберите дату</div>
        <d-calendar class="cal-h318 with-year" enable-year-switch @change="modal.form.date = arguments[0]" :key="modal.methodName" />
      </div>

      <div class="columns justify-content-between mx-0 my-2">
        <d-btn rounded color="grey" :text="$t('studyDepartment.cancel')" :disabled="modal.pending" @click="modal = { ...defaultModalProps() }" />
        <d-btn class="add-group-modal--btn" color="blue" rounded @click="submitModal" :loading="modal.pending" :text="$t('studyDepartment.save')" />
      </div>
    </d-modal>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex"
import paginationMixin from "@/mixins/pagination.js"

const defaultModalProps = () => ({
  form: {
    interval: null,
    date: null
  },
  methodName: false,
  eventId: null,
  pending: false
})

export default {
  mixins: [paginationMixin],

  components: {
    DLists: () => import("@/components/Lists"),
    DSelect: () => import("@/components/inputs/select"),
    // "d-avatar": () => import("@/components/Avatar"),
    DPagination: () => import("@/components/Pagination"),
    DDate: () => import("@/components/calendar/calendar3"),
    // DCheckbox: () => import("@/components/inputs/checkbox"),
    DDropdown: () => import("@/components/Dropdown"),
    DIcon: () => import("@/components/icons/iconWrapper"),
    DModal: () => import("@/components/Modal"),
    DTabs: () => import("@/components/Tabs"),
    DCalendar: () => import("@/components/calendar/calendar2"),
    DBtn: () => import("@/components/buttons/loaderButton")
  },

  data() {
    return {
      defaultModalProps,
      id: 1,
      options: [
        {
          title: "Доска",
          id: 1
        },
        {
          title: "Маркеры",
          id: 2
        }
      ],

      loading: false,

      detail: {},
      calendarDate: null,

      checkedItems: [],
      roomsList: [],
      // teachersList: [],
      // intervalList: [],

      modal: {
        ...defaultModalProps()
      }
    }
  },

  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },

  computed: {
    ...mapState({
      intervalList: (state) => state.catalog.intervalList || []
    }),
    dateParam: {
      get() {
        const date = this.$moment(this.$route.params.scheduleDate).toDate()
        return (this.$moment(date).isValid() && date) || new Date()
      },

      set(val) {
        try {
          if (this.$moment(val).isValid()) {
            const oldVal = new Date(this.calendarDate).getTime()
            const newVal = new Date(val).getTime()
            // console.log(
            //   111,
            //   this.$moment(oldVal).format("YYYY-MM-DD"),
            //   this.$moment(val).format("YYYY-MM-DD"),
            //   // val,
            //   oldVal == newVal
            // );

            if (newVal == oldVal) return

            this.calendarDate = val || new Date()

            this.$router.push(
              {
                params: {
                  ...this.$route.params,
                  scheduleDate: this.$moment(val).format("YYYY-MM-DD")
                }
              },
              () => {}
            )
          }
        } catch (err) {
          console.error(err)
        }
      }
    },
    eventList() {
      return (this.detail && this.detail.results) || []
    },

    isAllElementsChecked() {
      return !!(this.checkedItems.length && this.checkedItems.length == this.eventList.length)
    }
  },

  methods: {
    ...mapActions("catalog", ["getInterval"]),
    ...mapActions("scheduleGroups", ["fetchDetail"]),
    ...mapActions("scheduleGroupsEvents", [
      // "getTeachersList",
      "changeEvent",
      "swapEvent",
      "setAudit"
    ]),
    ...mapActions("scheduleRooms", ["getRoomsList"]),

    onRoomChange(roomId, eventId) {
      // console.log(this.$route.params.id, roomId, eventId);

      const groupId = this.$route.params.id

      this.setAudit({
        groupId,
        eventId,
        roomId
      })
      // .then( res => {
      //   alert(JSON.stringify(res, null, 2))
      // });
    },

    setModalProps({ methodName, eventId }) {
      this.modal.methodName = methodName || null
      this.modal.eventId = eventId || null
      if (eventId) this.modal.form.date = this.$moment().format("YYYY-MM-DD")
    },

    /* deprecated */
    /*
      toggleAllElements(state) {
        this.checkedItems = [];
        if (state) {
          this.eventList.forEach((item) => {
            this.checkedItems = [...this.checkedItems, item.id];
          });
        }
      },

      toggleCheckedItem(lessonId, checkedState) {
        // console.log("toggleCheckedItem", lessonId, checkedState);
        const f = this.checkedItems.findIndex((item) => item == lessonId);

        if (f != -1 && !checkedState) {
          this.checkedItems = [
            ...this.checkedItems.slice(0, f),
            ...this.checkedItems.slice(f + 1),
          ];

          return;
        }

        this.checkedItems = [...this.checkedItems, lessonId];
      },
      */

    isValidForm() {
      if (!Object.keys(this.modal.form).map((key) => this.modal.form[key]).length) {
        alert("Выберите интервал или дату переноса")
        return false
      }
      return true
    },

    submitModal() {
      this.modal.pending = true

      if (!this.isValidForm()) return

      try {
        this[`${this.modal.methodName}Event`]({
          eventId: this.modal.eventId,
          data: this.modal.form
        }).then(() => {
          this.modal = {
            ...defaultModalProps()
          }

          this.fetchData()
        })
      } catch (err) {
        this.modal.pending = false
        console.error(err)
      }
    },

    async fetchData() {
      // !!! bug fix
      this.checkedItems = []

      this.loading = true
      try {
        if (!this.intervalList.length) {
          this.getInterval({})
        }

        const currentDate = this.$moment(this.$route.params.scheduleDate).format("YYYY-MM-DD")

        await this.fetchDetail({
          groupId: this.$route.params.id,
          params: {
            start: currentDate,
            end: currentDate
            // offset: this.$_pageOffset,
            // limit: this.$_perPage,
          }
        }).then((res) => {
          const t = res?.data || {}

          this.detail = {
            ...t
          }
        })
      } catch (error) {
        console.error(error)
      }
      this.loading = false
    }
  },

  mounted() {
    this.getRoomsList().then((res) => (this.roomsList = res || []))
  }
}
</script>

<style lang="scss" scoped>
.lessons-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  .custom-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }

  .title-row {
    padding: 0 10px;
    padding-left: 0;
    justify-content: unset;
  }

  &--list {
    border-top: 1px dashed $grey;

    &:first-child {
      border-top: none;
    }

    &__number {
      flex: none !important;
      width: 4%;

      &.list__number {
        color: $blue;
        font-size: 17px;
        font-weight: 600;
      }
    }

    &__modul {
      width: 20%;
      flex: none !important;
    }

    &__person {
      display: flex !important;
      align-items: center;
      width: 20%;
      flex: none !important;

      img.avatar-block {
        margin-right: 10px;
      }

      span {
        width: 60%;
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &__time-green {
      border-radius: 16px;
      padding: 4px 10px;
      color: $green;
      background-color: $lightgreen;
    }
    &__time-red {
      border-radius: 16px;
      padding: 4px 10px;
      color: $lred;
      background-color: $lightred;
    }
  }

  &__footer {
    margin-top: auto;
    padding: 0 10px;

    span {
      color: $grey;
      margin-right: 20px;
    }
  }
}
</style>
