<template>
  <div class="custom-card timetable-calendar">
    <div class="schedule-calendar__detail demo-app-calendar fc fc-media-screen fc-direction-ltr fc-theme-standard">
      <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr mb-2">
        <div class="fc-toolbar-chunk flex-1">
          <template v-if="detail.student_group"> {{$t('teacherOffice.group')}} №{{ detail.student_group.id }} ({{ detail.student_group.name }}) </template>
          <!-- <button @click="setSelectedScheduleMonth">test current day</button> -->
        </div>
        <div class="fc-toolbar-chunk flex-1">
          <div class="columns mx-0 mb-0 align-items-center">
            <button class="fc-prev-button fc-button fc-button-primary" type="button" aria-label="prev" @click="switchMonth('prev')">
              <span class="fc-icon fc-icon-chevron-left"></span>
            </button>

            <h2 class="fc-toolbar-title">{{ month_name }}</h2>

            <button class="fc-next-button fc-button fc-button-primary" type="button" aria-label="next" @click="switchMonth('next')">
              <span class="fc-icon fc-icon-chevron-right"></span>
            </button>
          </div>
        </div>
        <div class="fc-toolbar-chunk"></div>
      </div>
    </div>
    <div class="schedule-calendar__detail">
      <loading-progress v-if="loading" />
      <FullCalendar v-show="!loading" ref="refFullCalendar" class="demo-app-calendar" :options="calendarOptions" />
    </div>

    <!-- <pre-draggable>{{ calendarOptions.events }}</pre-draggable> -->
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue"

import dayGridPlugin from "@fullcalendar/daygrid"
import timeGridPlugin from "@fullcalendar/timegrid"
import adaptivePlugin from "@fullcalendar/adaptive"
import interactionPlugin from "@fullcalendar/interaction"
import ruLocale from "@fullcalendar/core/locales/ru"
// import Select from "@/components/inputs/select";
// import DateSelector from "@/components/inputs/date-selector";

const eventTypeClasses = ["lesson", "intermediate_control", "final_control"]

const calendarPlusBtn = () => `<div class="calendar-plus"></div>`

import { mapActions } from "vuex"

export default {
  components: {
    FullCalendar,
    // "d-select": Select,
    // "d-date-selector": DateSelector,
    // "d-modal": () => import("@/components/Modal"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
    // "d-week-tabs": () => import("@/components/WeekTab"),
    // "d-time-tabs": () => import("@/components/TimeTab"),

    "loading-progress": () => import("@/components/Loading-progress")
  },
  data() {
    return {
      calendarOptions: {
        plugins: [
          dayGridPlugin,
          timeGridPlugin,
          interactionPlugin, // needed for dateClick
          adaptivePlugin
        ],
        headerToolbar: {
          left: "",
          center: "",
          right: ""
        },
        // columnHeaderFormat: {
        //   day: "long",
        // },
        titleFormat: {
          month: "long"
        },
        initialView: "dayGridMonth",

        events: [],

        fixedWeekCount: false,
        contentHeight: 720,
        editable: false,
        droppable: false,

        locales: [ruLocale],
        locale: "ru",
        selectable: true,
        selectMirror: true,
        dayMaxEvents: true,
        weekends: true,
        expandRows: false,
        navLinks: false,

        //Week
        weekNumbers: false,
        weekNumberFormat: {
          week: "numeric"
        },
        allDaySlot: false,
        slotDuration: "00:30:00",
        slotLabelFormat: {
          hour: "2-digit",
          minute: "2-digit",
          omitZeroMinute: true,
          meridiem: "long"
        },

        eventTimeFormat: {
          hour: "2-digit",
          minute: "2-digit",
          hour12: false,
          meridiem: false
        },

        select: this.handleDateSelect,
        eventClick: this.handleEventClick,
        eventsSet: this.handleEvents
      },
      currentEvents: [],
      modalSeen: false,

      id: null,

      detail: {},
      month_name: "",

      loading: false
    }
  },

  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },

  methods: {
    ...mapActions("scheduleGroups", ["fetchDetail"]),

    switchMonth(methodName) {
      this.$refs?.refFullCalendar?.getApi()[methodName]()
      this.fetchData()
    },

    fetchData() {
      const format = "YYYY-MM-DD"
      const currentDate = this.$refs?.refFullCalendar?.getApi()?.currentData?.currentDate

      const params = {
        start: this.$moment(currentDate)
          .startOf("month")
          .format(format),
        end: this.$moment(currentDate)
          .endOf("month")
          .format(format)
      }

      this.loading = true

      return this.fetchDetail({
        groupId: this.$route.params.id,
        params
      }).then(res => {
        this.detail = (res && res.data) || {}
        const events = (this.detail.results || []).map(item => ({
          id: item.id,
          start: item.start,
          end: item.end,
          // display: "none",
          [(item.title && "title") || null]: item.title && this.$nt(item.title),
          extendedProps: {
            eventType: item.type
          }
          // color: "#ff0000",
        }))

        this.calendarOptions.events = events
        this.loading = false

        this.$nextTick(() => {
          this.setSelectedScheduleMonth()
          // this.$refs.refFullCalendar.$emit("refetch-events");
        })
      })
    },

    setSelectedScheduleMonth() {
      let calendarApi = this.$refs.refFullCalendar.getApi()
      const events = JSON.parse(JSON.stringify(this.currentEvents))
      // (((calendarApi || {}).currentData || {}).options || {}).events || [];

      // console.log("setSelectedScheduleMonth events", events);

      this.month_name = this.$moment(calendarApi.currentData.currentDate).format("MMMM YYYY")

      const selectedMonthPrefix = this.$moment(calendarApi.currentData.currentDate).format("YYYY-MM")

      // const selector = `[data-date^="${selectedMonthPrefix}-"]`;
      const selector = `[data-date^="${selectedMonthPrefix}-"]:not(.fc__event__row):not(.fc-day-other)`
      const monthDates = document.querySelectorAll(selector)

      // console.log('Montserrat', monthDates);

      let emptyDates = []

      Array.from(monthDates).forEach(dateRow => {
        let dateAttr = dateRow.getAttribute("data-date")

        // console.log("dateAttr", dateAttr);

        const f = events.findIndex(item => item.start.slice(0, 10) == dateAttr)

        if (f != -1) {
          if (eventTypeClasses.includes(events[f].extendedProps.eventType)) {
            dateRow.classList.add("fc__event__row", "fc__event__" + (events[f].extendedProps.eventType || "default"))
          }

          // return;
        }

        emptyDates = [...emptyDates, dateAttr]
      })
      ;(emptyDates || []).forEach(dateString => {
        const eventDayTag = document.querySelector(`[data-date="${dateString}"]`)

        if (eventDayTag) {
          const dateBlock = eventDayTag.querySelector(".fc-daygrid-day-top")

          const isPlusBtnExist = eventDayTag.querySelector(".calendar-plus")

          if (dateBlock && !isPlusBtnExist) {
            dateBlock.insertAdjacentHTML("beforeend", calendarPlusBtn())
          }
        }
      })
    },
    handleWeekendsToggle() {
      this.calendarOptions.weekends = !this.calendarOptions.weekends // update a property
    },
    handleDateSelect(selectInfo) {
      // console.log("selectInfo", selectInfo);

      selectInfo.view.calendar.unselect()

      const isPlusBtn = selectInfo?.jsEvent?.target?.classList?.contains("calendar-plus")

      // if (!isPlusBtn) {
      //   this.$router.push({
      //     name: "cabinetLearningScheduleIdScheduleDate",
      //     params: {
      //       scheduleDate: this.$moment(selectInfo.start).format("YYYY-MM-DD"),
      //     },
      //   });

      //   return;
      // }

      if (isPlusBtn) {
        this.$router.push({
          name: "cabinetLearningScheduleIdAddeventDate",
          params: {
            date: this.$moment(selectInfo.start).format("YYYY-MM-DD")
          }
        })
      }
    },
    handleEventClick() {
      // console.log("handleEventClick", e);
      // this.$router.push({
      //   name: "cabinetLearningScheduleIdAddeventDate",
      //   params: {
      //     date: this.$moment(e.event.start).format("YYYY-MM-DD"),
      //   },
      // });
    },
    handleEvents(events) {
      this.currentEvents = events
      // console.log("handleEvents events");
      // if (events.length) {
      //   this.setSelectedScheduleMonth();
      // }
    }
  }
}
</script>

<style lang="scss">
// .schedule-calendar__detail {
//   margin-top: -4.037em;
// }

.timetable-calendar {
  width: 100%;

  .schedule-calendar__detail {
    .modal-buttons {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }

    .input-title {
      margin-bottom: 5px;
    }

    .columns {
      .column:first-child {
        margin-right: 10px;
      }
      .column:last-child {
        margin-right: 10px;
      }
    }

    .layout .modal-window__header {
      padding: 12px 35px 12px;
    }

    .layout .modal-window__body {
      padding: 15px 35px 30px 35px;
    }

    .fc-license-message {
      display: none !important;
    }

    table.fc-scrollgrid-sync-table td {
      border-width: 0.5px;
    }

    table {
      border-width: 0;
    }

    table.fc-scrollgrid-sync-table a {
      color: #000 !important;
      font-weight: 200;
    }

    // .fc-scrollgrid-sync-inner {
    //   text-align: center;
    //   overflow: hidden;
    // }
    .fc-col-header-cell .fc-scrollgrid-sync-inner {
      text-align: center;
      overflow: hidden;
    }

    .fc-dayGridMonth-view .fc-scroller,
    .fc-dayGridMonth-view .fc-scroller-liquid-absolute {
      overflow: hidden !important;
    }

    .fc .fc-toolbar.fc-header-toolbar {
      margin-bottom: 0.5em;
    }

    .fc-timegrid-col {
      border: 2px solid #dbe1ea !important;
    }

    .fc-timegrid-cols .fc-timegrid-col:nth-child(1),
    .fc-timegrid-cols .fc-timegrid-col:nth-child(2) {
      border: 0 none !important;
    }

    .fc-timegrid-cols .fc-timegrid-col:nth-child(2) {
      border-left: 2px solid #dbe1ea !important;
      border-bottom: 2px solid #dbe1ea !important;
      border-top: 2px solid #dbe1ea !important;
    }

    /* .fc-prev-button {
  content: '';
  background-image: url('../../assets/icons/arow-down.svg');
  width: 10px;
  height: 10px;
} */

    .fc-toolbar-chunk h2 {
      display: inline-block;
      font-size: 18px !important;
      text-transform: capitalize;
      margin: 5px;
      min-width: 150px;
      text-align: center;
    }

    .fc .fc-scroller-harness-liquid {
      border-bottom: 0.5px solid #dbdbdb;
    }

    .content table td:not(.fc-daygrid-day),
    .content table th:not(.fc-daygrid-day) {
      padding: 0 !important;
    }
    .fc .fc-bg-event {
      background-color: #fff;
      color: #28c76f;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.fc-scrollgrid-sync-inner a {
      color: #3d6ab7;
      font-weight: 500;
      text-transform: capitalize;
    }

    .fc .fc-scrollgrid-section-body table,
    .fc .fc-scrollgrid-section-footer table {
      border-style: none;
    }

    // .fc-day-future {
    //   background-color: #fff;
    // }

    // .fc-day-other {
    //   background-color: #f9fafc !important;
    // }

    // .fc-day-past {
    //   background-color: #fff;
    // }

    .fc-dayGridMonth-view tbody:last-child {
      border-bottom: 1px solid #dbdbdb !important;
    }

    .fc .fc-scrollgrid table {
      border-style: none;
    }

    .fc .fc-scrollgrid {
      border: 0 none;
    }

    // .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    //   position: relative;
    //   left: -50px;
    // }

    .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button {
      border: 0 none;
    }

    /* .left-single-arrow {
  background-image: url('../../assets/icons/arow-left.svg');
  height: 15px;
  width: 15px;
} */

    .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button.fc-button-primary {
      border: 0 none !important;
      border-radius: 50% !important;
      background-color: #f4f6fa !important;
      color: #bdc7d8 !important;
      padding: 0 !important;
      margin: 5px;
    }

    .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button.fc-button-active {
      background-color: #3d6ab7 !important;
      color: #fff !important;
      border: 0 none;
    }

    .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) button.fc-button-primary {
      border: 0 none !important;
      border-radius: 50% !important;
      background-color: #f4f6fa !important;
      color: #bdc7d8 !important;
      padding: 0 !important;
      margin: 5px;
    }

    .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) button.fc-button-primary:hover {
      background-color: #a5afc2 !important;
    }

    /* week */
    .fc-col-header tbody th.fc-col-header-cell {
      background: transparent;
    }

    .fc-timeGridWeek-view div.fc-bg-event {
      margin: 3px !important;
      border-left: 3px solid #28c76f !important;
    }

    .fc-timeGridWeek-view .fc-scroller,
    .fc-timeGridWeek-view .fc-scroller-liquid-absolute {
      overflow-y: scroll !important;
    }

    .fc .fc-scroller-harness-liquid {
      border: 0 none !important;
    }

    .fc-timeGridWeek-view .fc .fc-timegrid-col-bg .fc-bg-event {
      margin: 3px !important;
    }

    // .fc-timeGridWeek-view .fc .fc-event,
    // .fc .fc-scrollgrid table tr {
    //   height: 70px !important;
    // }

    .fc-timeGridWeek-view .fc .fc-timegrid-bg-harness {
      // height: 70px !important;
      margin: 2px !important;
    }

    .fc-timeGridWeek-view .fc-day-past a,
    .fc-timeGridWeek-view .fc-day-future a {
      color: #b3bccc;
    }

    .fc-timeGridWeek-view .fc-day-today a {
      color: #4c75bc;
    }

    // .fc-timeGridWeek-view .fc .fc-event,
    // .fc .fc-scrollgrid table tr {
    //   height: 50px !important;
    // }

    .fc-timeGridWeek-view .fc .fc-timegrid-axis-cushion,
    .fc .fc-timegrid-slot-label-cushion {
      color: #b3bccc;
      width: 50px;
      text-align: left !important;
    }

    .fc-timegrid-divider .fc-cell-shaded {
      display: none !important;
    }

    .fc .fc-daygrid-day-top {
      flex-direction: row;
    }
    // .fc-daygrid-event-harness:not(:first-child) {
    //   display: none;
    // }

    .fc-h-event {
      background-color: transparent;
      border-color: $grey;
      color: $grey;
    }

    .fc-daygrid-day-events {
      // margin-top: unset;
      // position: absolute;
      // top: 15px;
      // right: 15px;
      // left: unset !important;

      .calendar-plus {
        background: transparent;
        color: grey !important;
      }
    }

    .fc-daygrid-body {
      position: relative;
      .test-router-link {
        height: 50px;
        width: 100px;
        margin-bottom: -350px;
        margin-left: -70px;
        position: absolute;
      }
      .fc-day:not(.fc__event__lesson):not(.fc__event__intermediate_control):not(.fc__event__final_control):not(.fc__no__circle) {
        a {
          // border: 2px solid #ced6e5;
          border: 2px solid transparent;
        }
      }
      .fc-day,
      .fc-day.fc__event__row {
        .fc-daygrid-day-top a {
          border-radius: 50%;
          // color: red;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 38px;
          width: 38px;
          padding: 10px;
          margin: 10px;
        }
      }
      .fc-day-other {
        // background-color: #fff !important;
        a.fc-daygrid-day-number {
          border: 1px solid transparent !important;
        }
      }
      .fc-day-today {
        background-color: unset;
        a.fc-daygrid-day-number {
          // border: 2px solid #7291c8 !important;
          color: #7291c8;
        }
      }
    }
    // .fc-direction-ltr .fc-daygrid-event.fc-event-end,
    // .fc-direction-rtl .fc-daygrid-event.fc-event-start a {
    //   border-radius: 4px !important;
    //   padding: 2px 5px !important;
    //   margin-left: -10px !important;
    //   position: relative !important;
    //   bottom: -7px !important;
    //   height: 22px;
    //   width: 22px;
    // }
    // removed on cabinet/schedules

    .fc .fc-highlight {
      margin: -0.5em -0.75em;
    }
  }
}

.lsch-form-title {
  margin-bottom: 5px;
}

.lsch-form__x__padding {
  width: 422px;

  --padding-x: 16px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}
</style>
