<template>
  <div class="sfeedback">
    <div class="sfeedback__header">
      <d-tabs :value="tab" :tab-list="tabList" @item="onTabChange" />

      <router-link :to="{ name: 'cabinetStudentsFeedbackIdComments' }">
        <d-btn color="blue">Написать комментарий</d-btn>
      </router-link>
    </div>
    <div class="sfeedback__questions">
      <d-progress v-if="loading" />
      <template v-if="tab == 2 && !$route.query.module">
        <d-lists dashed-header no-cursor-pointer :loading="loading" :len="list && list.length">
          <template #header>
            <div class="columns">
              <div class="column is-5"><span>Названия курса</span></div>
              <div class="column"><span>{{$t('studentOffice.passedFailed')}}</span></div>
            </div>
          </template>
          <template #content>
            <template>
              <div class="sfeedback__questions__list" v-for="item in list" :key="item.id" @click="openModal(item.id)">
                <div class="columns">
                  <div class="column is-5">{{ $gv(item.name) }}</div>
                  <div class="column is-3 connection__body__done" :class="{ connection__body__done_green: item.passed }">
                    {{ item.passed ? "Пройдено" : "Не пройдено" }}
                  </div>
                </div>
              </div>
            </template>
          </template>
        </d-lists>
        <d-pagination @change="fetchList" v-model="pagination.page" :total="pagination.count" :limit="pagination.limit" />
      </template>
      <template v-else-if="questions.length">
        <div class="sfeedback__questions__passed" :class="{ sfeedback__questions__passed_green: editable }">
          {{ editable ? "Пройдите тест" : "Вы уже проходили этот тест" }}
        </div>
        <d-multiple-choice ml :questions="questions" :editable="editable" />
      </template>
      <div v-else-if="!questions.length && !loading" class="sfeedback__questions__empty">
        {{ $t("studyDepartment.empty") }}
      </div>
      <d-btn rounded v-if="editable && questions.length" color="blue sfeedback__btn" @click="sendAnswers()">Отправить ответы</d-btn>
    </div>
  </div>
</template>
<script>
import Tabs from "@/components/Tabs"
import { mapActions } from "vuex"
import MultipleChoiceQuestions from "@/components/MultipleChoiceQuestions"
import loaderButton from "@/components/buttons/loaderButton"
import Lists from "@/components/Lists"

export default {
  components: {
    "d-tabs": Tabs,
    "d-multiple-choice": MultipleChoiceQuestions,
    "d-progress": () => import("@/components/Loading-progress"),
    "d-btn": loaderButton,
    "d-lists": Lists,
    "d-pagination": () => import("@/components/PaginationInput")
  },
  data() {
    return {
      tabList: [
        {
          title: this.$t('studyDepartment.questionsAboutTheCourse'),
          tab: 1
        },
        {
          title: this.$t("studyDepartment.modules"),
          tab: 2
        }
      ],
      tab: 1,
      questions: [],
      loading: false,
      editable: false,
      list: [],
      pagination: {
        page: 1,
        limit: 10,
        count: 100
      }
    }
  },
  watch: {
    $route: {
      handler() {
        this.$route.query.module ? this.onTabChange(this.$route.query, true) : this.onTabChange(this.$route.query)
        if (this.tab == 1 || this.$route.query.module) {
          this.fetchQuestions()
        } else {
          this.fetchList()
        }

        this.tabList[1].title = this.$route.query.module ? "Назад к модулям" : this.$t("studyDepartment.modules")
      },
      immediate: true
    },
    questions: {
      handler() {},
      deep: true
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("studentFeedback", ["getQuestions", "sendAns", "getListModules"]),
    //send answers
    sendAnswers() {
      let m_c = this.tab == 1 ? "course" : "module",
        answers = [],
        test = true
      this.questions.forEach(item => {
        if (item.answers.some(subitem => subitem.selected)) {
          answers.push(item.answers.find(subitem => subitem.selected).id)
        } else {
          test = false
        }
      })
      if (test) {
        this.sendAns({ m_c, answers }).then(res => {
          if (res.status == 201) {
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Ответы успешно отправлены`,
              color: "success"
            })
            this.fetchQuestions()
          } else {
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Чтото пошло нетак`,
              color: "danger"
            })
          }
        })
      } else {
        this.$store.dispatch("snackbar/changeToasts", {
          text: `Ответьте на все вопросы!`,
          color: "danger"
        })
      }
    },

    //On tab change
    onTabChange(item, concatQuery = false) {
      if (item.tab != this.tab) {
        this.questions = []
      }
      if (item.tab) {
        this.module = false
        this.tab = +item.tab
        const queryProps = concatQuery ? { ...this.$route.query, tab: item.tab } : { tab: item.tab }
        this.$router.push({ query: queryProps }, () => {})
      }
    },

    //Questions Functions
    validTest(res) {
      return res.map(item => {
        let variantItems = {}
        item.answers.forEach((subitem, index) => {
          variantItems[String.fromCharCode(65 + index)] = {
            id: subitem.id,
            text: subitem.text
          }
          if ((item.answer && item.answer.id) == subitem.id) {
            item.right = String.fromCharCode(65 + index)
          }
        })
        item.variants = variantItems
        item.question = item.text
        // delete item.answers;
        return item
      })
    },
    fetchQuestions() {
      this.loading = true
      let m_c = this.tab == 1 ? "course" : "module",
        id = (this.$route.query.tab && this.$route.query.tab) == 1 || this.tab == 1 ? this.$route.params.id : this.$route.query.module

      this.getQuestions({ m_c, id }).then(res => {
        this.questions = this.validTest(res)
        this.editable = !this.questions.some(item => item.answer)

        this.loading = false
      })
    },
    // Modules List
    fetchList() {
      this.loading = true
      this.getListModules({
        id: this.$route.params.id,
        params: {
          limit: this.pagination.limit,
          offset: this.offsetComputed
        }
      }).then(res => {
        this.list = res.data.results
        this.pagination.count = res.data.count
        this.loading = false
      })
    },
    openModal(id) {
      this.$router.push({ query: { tab: this.$route.query.tab, module: id } })
    }
  }
}
</script>
<style lang="scss">
.sfeedback {
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    button {
      height: 36px;
    }
  }
  &__questions {
    position: relative;
    margin-top: 25px;
    background-color: #fff;
    box-shadow: 0px 4px 10px #a1a1a124;
    border-radius: 4px;
    padding: 25px 30px;
    height: calc(100% - 61px);
    display: flex;
    flex-direction: column;
    &__passed {
      position: absolute;
      top: 5px;
      right: 10px;
      text-align: right;
      color: $lred;
      &_green {
        color: $green;
      }
    }
    &__list {
      cursor: pointer;
    }
    &__empty {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      padding: 20px 0;
    }

    .d-pagination {
      margin-top: auto !important;
      justify-content: flex-end;
    }
  }
  &__btn {
    margin-top: auto;
    margin-left: auto;
  }
}
</style>
