<template>
  <input type="date" data-start-date="10/24/2019" ref="calendarRef" @change="toggleCalendar" />
  <!-- <span ref="calendarRef" @click="toggleCalendar">
  </span> -->
  <!-- <d-button class="blue" rounded>
      <d-icon icon="calendar" class="white size-2" />
    </d-button> -->
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  components: {
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
  },
  props: {
    options: {
      type: Object
    },
    value: {
      type: [String, Date],
      default: () => new Date()
    }
  },
  watch: {
    value(newValue, oldValue) {
      this.calendar.start = newValue
      console.log("value changed", newValue, oldValue, this.calendar, this.calendar.start)
      // this.$refs.calendarRef.value = this.value

      // this.calendar.startDate = this.date
      // console.log(this.$attrs['value'], this.calendar, this.calendar.startDate);
    }
  },
  data() {
    return {
      calendar: null,
      date: null
    }
  },
  methods: {
    toggleCalendar() {
      if (this.calendar.isOpen()) {
        this.calendar.hide()
        return
      }
      this.calendar.show()
    },

    initCalendar() {
      this.date = new Date()
      this.calendar = this.$bulmaCalendar.attach(this.$refs.calendarRef, {
        ...this.options,
        startDate: this.value || this.date,
        dateFormat: "DD/MM/YYYY",
        showHeader: false,
        showFooter: false
      })[0]

      this.calendar.on("select", date => {
        if (date && date.data && date.data.value()) {
          this.date = date.data.value()
          this.$emit("change", this.date)
        }
      })
    }
  },
  mounted() {
    this.initCalendar()
  }
}
</script>

<style>
.datetimepicker-wrapper {
  position: absolute;
  margin-top: 20px;
  z-index: 999;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
  color: #3d6ab7;
}

.datetimepicker.is-primary .datepicker-nav {
  background-color: #3d6ab7;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
  border-color: #3d6ab7;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today {
  border-color: #3d6ab7;
  color: #3d6ab7;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
  background: #3d6ab7;
  border-color: #3d6ab7;
  cursor: pointer;
}

.datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
.datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
.datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
.datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
  background-color: #1e5b97;
  border-color: #1e5b97;
}

.datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
.datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
.datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
.datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
  border-color: #1e5b97;
}

.timepicker {
  display: none !important;
}

.datetimepicker-dummy {
  width: 70px;
}

.datetimepicker-dummy-wrapper input {
  cursor: pointer;
}

.datetimepicker-dummy.is-primary::before,
.datetimepicker-dummy.is-primary:before {
  background-color: #fff;
  margin: 0 0 0 13px;
  width: 19px;
  top: 8px;
  cursor: pointer;
  mask: url("../../assets/icons/calendar.svg") no-repeat center !important;
  pointer-events: none;
}

.datetimepicker-clear-button {
  display: none;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper {
  /* border: 0 none; */
  background-color: #3d6ab7;
  height: 34px;
  border-radius: 20px;
  border: 0 none;
}
</style>
