<template>
  <div class="field" :class="{ d_flex: dFlex }">
    <input
      :class="
        `
          is-checkradio 
          is-${color}
          ${size === 'small' ? 'is-small' : size === 'medium' ? 'is-medium' : size === 'large' ? 'is-large' : ''}
        `
      "
      type="checkbox"
      name="exampleCheckbox"
      :id="randomId"
      :checked="checked"
      :disabled="disabled"
      @change="$emit('change', $event.target.checked)"
    />
    {{ text && textAlign === "left" ? text : "" }}
    <label class="custom-checkbox" :for="randomId" :class="[textAlign === 'left' ? 'ml-4' : null]"></label>
    <label class="text" :for="randomId" v-if="text && textAlign === 'right'">
      {{ text }}
    </label>
  </div>
</template>

<script>
export default {
  model: {
    event: "change",
    prop: "checked"
  },
  props: {
    text: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    textAlign: {
      type: String,
      default: "right"
    },
    checked: {
      type: Boolean
    },
    size: {
      type: String
    },
    color: {
      type: String,
      default: "blue"
    },
    // Custom class
    dFlex: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      randomId: null
    }
  },
  beforeMount() {
    this.randomId = Math.random()
      .toString()
      .slice(2)
  }
}
</script>

<style>
.test-create__levels .performance-control .custom-checkbox {
  margin-left: 10px !important;
}

.field.performance-control .custom-checkbox {
  margin-right: 10px !important;
}

.is-checkradio[type="checkbox"]:checked + label::before,
.is-checkradio[type="checkbox"]:checked + label:before {
  border: 1px solid #224e92 !important;
}
.text {
  margin-left: 5px;
  cursor: pointer;
}
.is-checkradio[type="checkbox"]:not([checked]) + label + .text {
  color: #c7c7c7;
}

.is-checkradio[type="checkbox"]:checked + label + .text {
  color: black;
}

.is-checkradio[type="checkbox"] + label::after,
.is-checkradio[type="checkbox"] + label:after {
  border-color: #224e92 !important;
}

.is-checkradio[type="checkbox"].is-blue:hover:not([disabled]) + label::before,
.is-checkradio[type="checkbox"].is-blue:hover:not([disabled]) + label:before {
  border-color: #224e92 !important;
}

.field:not(:last-child) {
  margin: 0 !important;
}
.is-checkradio[type="checkbox"].is-blue.is-small + label {
  margin: 0;
  padding: 0;
  display: block;
  width: 18px;
  height: 18px;
}

.is-checkradio[type="checkbox"].is-blue.is-small + label::after,
.is-checkradio[type="checkbox"].is-blue.is-small + label:after {
  width: 0.38125rem;
  height: 0.65rem;
  top: 0.20375rem;
  left: 0.37rem;
}

.isGreen .is-checkradio[type="checkbox"] + label::after,
.isGreen .is-checkradio[type="checkbox"] + label:after {
  border-color: #8fdb86 !important;
}

.isGreen .is-checkradio[type="checkbox"].is-blue:hover:not([disabled]) + label::before,
.isGreen .is-checkradio[type="checkbox"].is-blue:hover:not([disabled]) + label:before {
  border-color: #8fdb86 !important;
}

.isGreen .is-checkradio[type="checkbox"]:checked + label + .text {
  color: #8fdb86 !important;
}

.isGreen .is-checkradio[type="checkbox"]:checked + label::before,
.isGreen .is-checkradio[type="checkbox"]:checked + label:before {
  border: 1px solid #8fdb86 !important;
}

.d_flex {
  display: flex;
  margin: 1rem;
}
</style>
