<template>
  <v-timepicker @input="onInput" v-model="time" />
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    value: {
      type: [String, Number, Array]
    },
    rounded: {
      type: Boolean
    }
  },
  watch: {
    value(newValue) {
      this.time.HH = newValue.slice(0, 2)
      this.time.mm = newValue.slice(3, 5)
    }
  },
  data() {
    return {
      time: {
        HH: "",
        mm: ""
      }
    }
  },
  methods: {
    onInput(value) {
      // console.log("Value", event)
      if (!Object.keys(this.time).some(key => !this.time[key])) this.$emit("change", value.HH + ":" + value.mm)
    }
  }
}
</script>

<style lang="scss">
.vue__time-picker {
  width: 100%;

  input.display-time {
    width: 100%;
    text-align: unset;
    padding: 5px 10px;
    height: 40px;
    border: none;
    border-radius: 4px;
  }

  .controls {
    right: 10px;

    .char {
      font-size: 30px;
      display: contents;
    }
  }
}

.shadow {
  input {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  }
}

.grey {
  input {
    background-color: #f4f5f8;
    border: 0 none;
  }
}
</style>
