<template>
  <span class="pagination-select__custom">
    <div class="select-title" v-if="!noTitle">{{ title }}</div>
    <!--    <pre class="fixed left">{{ filtered }}</pre>-->
    <v-select
      v-bind="$props"
      :options="paginated"
      v-model="chosedTopics"
      @input="$emit('change', arguments[0])"
      :filterable="false"
      :disabled="disabled"
      @open="onOpen"
      @search="query => (search = query)"
      @close="onClose"
      :label="label"
    >
      <template #list-footer>
        <li ref="load" class="new-loader" v-show="hasNextPage">Идет загрузка...</li>
      </template>

      <template v-if="mil" #selected-option="item">
        {{ (item && item[label] && ($nt(item.name) || item.name.uz || item.name.ru || item.name.en)) || item[label] }}
      </template>
      <template v-else #selected-option="props">
        <slot name="selected-option" v-bind="props" />
      </template>

      <template v-if="mil" #option="item">
        <div class="px-1">
          {{ (item && item[label] && ($nt(item.name) || item.name.uz || item.name.ru || item.name.en)) || item[label] }}
        </div>
      </template>
      <template v-else #option="option">
        <slot name="option" v-bind="option" />
      </template>
    </v-select>
  </span>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    reduce: {
      type: Function,
      default: item => item.id
    },
    title: {
      type: String
    },
    noTitle: {
      type: Boolean
    },
    label: {
      type: String
    },
    placeholder: {
      type: String
    },
    value: {
      type: [String, Number, Array, Object]
    },
    multiple: Boolean,
    module: {
      type: String
    },
    multiName: Boolean,
    disabled: Boolean,
    ml: Boolean,

    mil: Boolean,

    custom: Boolean,
    params: {
      type: [Array, Object]
    },
    parentList: {
      type: Array
    },
    fetch: {
      type: Boolean,
      default: false
    },
    notifId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      observer: null,
      limit: 20,
      search: "",

      list: [],
      pagination: {
        limit: 20,
        page: 1
      },
      loading: false,
      count: null,
      chosedTopics: []
    }
  },
  watch: {
    params: {
      handler(newValue, oldValue) {
        if (JSON.stringify(newValue) != JSON.stringify(oldValue) && newValue) {
          this.pagination = {
            limit: 20,
            page: 1
          }
          this.count = null
          this.list = []

          // console.log("CAll in Props", newValue, oldValue);
          this.fetchList()
        }
      },
      deep: true
    }
  },
  mounted() {
    /**
     * You could do this directly in data(), but since these docs
     * are server side rendered, IntersectionObserver doesn't exist
     * in that environment, so we need to do it in mounted() instead.
     */
    this.observer = new IntersectionObserver(this.infiniteScroll)
    // console.log("CAll in Mounted");
    // this.$nextTick(() => {
    if (this.module) {
      this.fetchList()
    }
    if (this.fetch) {
      this.fetchUserList()
    }
    // alert(this.chosedTopics[0].name)

    // });
    // console.log("Pagination is mounted");
  },
  computed: {
    filtered() {
      if (this.module) {
        return this.list.filter(item => {
          let filterName =
            (item && item.name && (this.$nt(item.name) || item.name.uz || item.name.ru || item.name.en)) || (item && item.name)
          return filterName.includes(this.search)
        })
      } else {
        return this.parentList
      }
    },
    paginated() {
      return this.filtered.slice(0, this.limit)
    },
    hasNextPage() {
      // alert(this.count + " -> " + this.filtered.length)
      return this.count > this.filtered.length && !this.search
    },
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }

    // filtered() {
    //   // if (this.multiName) {
    //   //   if (this.ml) {
    //   //     return (this.list || []).map((item) => {
    //   //       return {
    //   //         id: item.id,
    //   //         name: `${item.name[this.$i18n.locale]}`,
    //   //       };
    //   //     });
    //   //   }
    //   //   return (this.list || []).map((item) => {
    //   //     return {
    //   //       id: item.id,
    //   //       name: `${item.name[this.$i18n.locale]}`,
    //   //     };
    //   //   });
    //   // }
    //   // if (this.ml) {
    //   if (this.module) {
    //     return this.list.map(item => {
    //       return {
    //         id: item.id,
    //         name: item.name
    //       }
    //     })
    //   } else {
    //     return this.parentList
    //   }
    //   // }
    //   // return this.list;
    // },
    // paginated () {
    //   return this.filtered.slice(0, this.limit);
    // },
    // hasNextPage() {
    //   return this.list.length < this.count
    // }
  },
  methods: {
    fetchList() {
      // console.log("CAll in");
      if (this.module) {
        // if (this.params) {
        //   params.listParams = Object.assign(this.params, params.listParams);
        // }

        // if (this.params) Object.assign(this.params.listParams, this.params);
        // console.log(this.params.listParams);

        let params = (!!this.params && this.params) || {
          limit: 20,
          offset: this.offsetComputed
        }
        this.$store
          .dispatch(this.module, params)
          .then(res => {
            if (res && res.results) {
              this.limit += 20
              this.count = res.count

              // this.list = this.list.concat(res.results);
              let cloneList = res.results
              cloneList.forEach(item => {
                if (!item.name) {
                  if (
                    item &&
                    item.first_name &&
                    item.first_name.ru &&
                    item &&
                    item.last_name &&
                    item.last_name.ru &&
                    item &&
                    item.first_name &&
                    item.first_name.uz &&
                    item &&
                    item.last_name &&
                    item.last_name.uz
                  ) {
                    item.name = {
                      ru: item.first_name.ru + " " + item.last_name.ru,
                      uz: item.first_name.uz + " " + item.last_name.uz,
                      en: item.first_name.uz + " " + item.last_name.uz
                    }
                    // item.name.ru = item.first_name.ru + " " + item.last_name.ru
                    // item.name.uz = item.first_name.uz + " " + item.last_name.uz
                  } else {
                    item.name = item.first_name + " " + item.last_name
                  }
                }
              })
              // console.log(cloneList)
              let clone = this.list
              this.list = clone.concat(cloneList)
              // this.count = res.count;
            }
          })
          .catch(err => {
            console.log("Err", err)
          })
        // console.log("list in pagination", this.list);
      } else {
        // console.log("Module is did not recieve");
      }
    },
    async onOpen() {
      if (this.hasNextPage) {
        await this.$nextTick()
        this.observer.observe(this.$refs.load)
      }
    },
    onClose() {
      this.observer.disconnect()
    },
    async infiniteScroll([{ isIntersecting, target }]) {
      if (isIntersecting) {
        const ul = target.offsetParent
        const scrollTop = target.offsetParent.scrollTop
        this.pagination.page += 1
        this.fetchList()
        await this.$nextTick()
        ul.scrollTop = scrollTop
      }
    },
    fetchUserList() {
      this.$store
        .dispatch(`learningNotificationTemplate/getList`)
        .then(res => {
          if (res.results) {
            this.chosedTopics = res.results.find(item => item.id === this.notifId).receiver
            this.chosedTopics.forEach((_, index) => {
              this.$set(this.chosedTopics[index], "name", this.chosedTopics[index].first_name + " " + this.chosedTopics[index].last_name)
            })
            // console.log("asd", this.chosedTopics, this.notifId)
            // this.chosedTopics.forEach
          }
        })
        .catch(err => {
          console.log("Get req err", err)
        })
    }
  }
}
</script>

<style lang="scss">
.small-menu .vs__dropdown-menu {
  max-height: 200px;
}
.pagination-select {
  .vs__selected-options {
    flex-wrap: wrap;
  }

  .vs__selected {
    padding: 0 4px;
  }
}
.new-loader {
  text-align: center;
  color: #bbbbbb;
}
.content ul {
  margin-left: 0;
  margin-top: 0.5em;
}

.select-title {
  margin-bottom: 5px;
}

.white .vs__dropdown-menu {
  margin-top: 0;
}

.white .vs__dropdown-toggle {
  background: white !important;
  box-shadow: 0px 3px 10px #a1a1a124 !important;
  border: none;
}

.rounded .vs__dropdown-toggle {
  border-radius: 30px !important;
}

.grey .vs__dropdown-toggle {
  background-color: #eff4fc;
  border: 0 none;
}
.grey-2 {
  .vs__dropdown-toggle {
    background-color: #f4f5f8;
    border: 0 none;
  }

  .vs--disabled .vs__dropdown-toggle,
  .vs--disabled .vs__clear,
  .vs--disabled .vs__search,
  .vs--disabled .vs__selected,
  .vs--disabled .vs__open-indicator {
    background-color: #f4f5f8;
  }
  .vs__selected-options input.vs__search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebfc1;
  }
}

.grey .vs__selected-options input.vs__search::placeholder {
  color: #9aa6bb;
}

.vs__dropdown-toggle {
  border-color: #d3d7db;
  background-color: #fff;
  padding: 5px 8px !important;
}

.vs__actions {
  cursor: pointer;
}

.whitout_close {
  .vs__clear svg {
    display: none;
  }
}

.vs__clear svg {
  fill: #d3d7db;
}

.grey-border {
  .vs__dropdown-toggle {
    border-color: #dae0e9;
  }
  .vs__selected {
    color: #a6b1c3;
    font-size: 14px;
  }
}

.width-230 {
  .vs__dropdown-toggle {
    width: 230px;
  }
}

.height-min {
  .vs__dropdown-toggle {
    padding: 0px 8px !important;
  }
}

.grey .vs__clear svg {
  fill: #bacae8 !important;
  position: relative;
}

.vs__open-indicator {
  fill: rgba(0, 0, 0, 0) !important;
  transform: scale(1.2);
  cursor: pointer;
  width: 8px;
  background-image: url(../../assets/icons/arow-down.svg);
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  top: -1px;
}

.grey .vs__open-indicator {
  fill: rgba(0, 0, 0, 0) !important;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-image: url(../../assets/icons/arow-down.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
}

.grey .vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1.2);
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1.2);
}

.vs__selected-options input.vs__search::placeholder {
  color: #c6d3e5;
}
</style>
