<template>
  <span>
    <div class="select-title" v-if="!noTitle">{{ title }}</div>
    <v-select v-bind="$props" @input="$emit('change', arguments[0])" :options="optionsComputed">
      <template #no-options="{ searching, loading }">
        <slot name="no-options">
          <template v-if="!searching && !loading"> {{ $t("studyDepartment.empty") }} </template>
          <template v-else>Идет загрузка...</template>
        </slot>
      </template>
      <template v-if="mil" #selected-option="props">
        <div class="px-1">
          {{ props[label] && $nt(props[label]) }}
        </div>
      </template>
      <template v-else #selected-option="props">
        <slot name="selected-option" v-bind="props" />
      </template>

      <template v-if="mil" #option="option">
        <span>
          {{ option[label] && $nt(option[label]) }}
        </span>
      </template>
      <template v-else #option="option">
        <slot name="option" v-bind="option" />
      </template>
    </v-select>
  </span>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    options: {
      type: Array
    },

    title: {
      type: String
    },

    label: {
      type: String,
      default: () => "id"
    },

    placeholder: {
      type: String
    },

    value: {
      type: [String, Number, Array, Object, Boolean]
    },

    noTitle: {
      type: Boolean,
      default: () => false
    },

    reduce: {
      type: Function,
      default: item => item.id
    },

    ml: Boolean,
    disabled: Boolean,
    multiple: Boolean,
    clearable: Boolean,
    // autoscroll: {
    //   type: Boolean,
    //   default(){
    //     return true
    //   }
    // },
    mil: Boolean
  },

  watch: {
    value: {
      handler(arg) {
        this.$emit("input", arg)
        this.$emit("change", arg)
      }
    }
  },

  mounted() {
    this.$on("change", e => {
      this.$emit("input", e)
    })
  },
  destroyed() {
    this.$off("change", () => {})
  },
  computed: {
    optionsComputed() {
      if (this.ml) {
        return (this.options || []).map(item => {
          return {
            ...item,
            [this.label]: this.$nt(item[this.label])
          }
        })
      }
      return this.options || []
    }
  }
}
</script>

<style lang="scss">
.white-disabled {
  input {
    background-color: #fff !important;
  }

  .vs--disabled .vs__search,
  .vs--disabled .vs__open-indicator {
    background-color: #fff;
  }
  input::placeholder {
    color: #eaeaea;
  }
}

.content ul {
  margin-left: 0;
  margin-top: 0.5em;
}

.select-title {
  margin-bottom: 5px;
}

.white .vs__dropdown-menu {
  margin-top: 0;
}

.white .vs__dropdown-toggle {
  background: white !important;
  box-shadow: 0px 3px 10px #a1a1a124 !important;
  border: none;
}

.rounded .vs__dropdown-toggle {
  border-radius: 30px !important;
}

.grey .vs__dropdown-toggle {
  background-color: #eff4fc;
  border: 0 none;
}
.grey-2 {
  .vs__dropdown-toggle {
    background-color: #f4f5f8;
    border: 0 none;
  }
  // .vs__selected {
  //   // color: #9BA7BC;
  //   // font-size: 14px;
  // }
  .vs__selected-options input.vs__search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebfc1;
  }
}
.vs__search,
.vs__search:focus {
  margin: 0;
}

.grey .vs__selected-options input.vs__search::placeholder {
  color: #9aa6bb;
}

.vs__dropdown-toggle {
  border-color: #d3d7db;
  background-color: #fff;
  padding: 5px 8px !important;
}

.vs__actions {
  cursor: pointer;
}

.whitout_close {
  .vs__clear svg {
    display: none;
  }
}

.vs__clear svg {
  fill: #d3d7db;
}

.grey-border {
  .vs__dropdown-toggle {
    border-color: #dae0e9;
  }
  .vs__selected {
    color: #bebfc1;
    font-size: 15px;
  }
}

.no-overflow {
  .vs__selected {
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  .vs__selected-options {
    overflow: hidden;
    // width: 100%;
  }
}

// .vs__selected-options {
  // flex-wrap: unset;
// }

.width-230 {
  .vs__dropdown-toggle {
    width: 230px;
  }
}

.height-min {
  .vs__dropdown-toggle {
    padding: 0px 8px !important;
  }
}

.input-height {
  .vs__selected-options {
    padding: 2px 2px;
  }
}

#app .vs--single.vs--open .vs__selected {
  position: unset;
}

.grey .vs__clear svg {
  fill: #bacae8 !important;
  position: relative;
}

.vs__open-indicator {
  fill: rgba(0, 0, 0, 0) !important;
  transform: scale(1.2);
  cursor: pointer;
  width: 8px;
  background-image: url(../../assets/icons/arow-down.svg);
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  top: -1px;
}

.grey .vs__open-indicator {
  fill: rgba(0, 0, 0, 0) !important;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-image: url(../../assets/icons/arow-down.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
}

.grey .vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1.2);
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1.2);
}

.vs__selected-options input.vs__search::placeholder {
  color: #c6d3e5;
}

.vs--disabled .vs__search,
.vs--disabled .vs__open-indicator {
  background-color: #f4f5f8;
}

.vs__search,
.vs__search:focus {
  margin-top: 0 !important;
}

.h-40 .vs__dropdown-toggle {
  height: 40px;
}
</style>
