<template>
  <div class="field">
    <p v-if="title" class="mb-2">{{ title }}</p>
    <div
      :class="
        `control ${loadingSize === 'small' ? 'is-small' : loadingSize === 'medium' ? 'is-medium' : loadingSize === 'large' ? 'is-large' : ''} 
        ${loading ? 'is-loading' : ''}`
      "
    >
      <textarea
        :class="
          `textarea 
        ${size === 'small' ? 'is-small' : size === 'medium' ? 'is-medium' : size === 'large' ? 'is-large' : ''}
        ${fixed ? 'has-fixed-size' : ''}
        ${rounded ? 'is-rounded' : ''}
        `
        "
        :maxlength="maxlength"
        :readonly="readonly"
        :disabled="disabled"
        :placeholder="placeholder"
        :rows="rows"
        @input="$emit('input', $event.target.value)"
        @keyup="$emit('keyup', $event)"
        @keydown="$emit('keydown', $event)"
        :value="value"
        :style="border"
      ></textarea>
    </div>
    <!-- using -->
    <!-- <d-textarea
      placeholder="Текстовое поле"
      rows="7"
      title="Title"
      loading
      size="medium"
      loadingSize="large"
      :disabled="false"
      :readonly="false"
    /> -->
  </div>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "input"
  },
  props: {
    value: {
      type: String
    },
    placeholder: {
      type: String
    },
    rows: {
      type: [String, Number]
    },
    title: {
      type: String
    },
    size: {
      type: String
    },
    readonly: {
      type: Boolean,
      default: false
    },
    maxlength: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    },
    rounded: {
      type: Boolean,
      defaul: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    loadingSize: {
      type: String
    },
    border: {
      type: String,
      default: ""
    }
  }
}
</script>

<style>
.grey textarea {
  background-color: #f4f5f8;
  border: 0 none;
}

textarea.is-rounded {
  border-radius: 7px;
}
</style>
