<template>
  <div class="videoconf__block videoconf__block_small">
    <div class="videoconf__chats">
      <div class="videoconf__chats__box" :style="`height: calc(100% - 55px - ${height}px)`">
        <div class="videoconf__chats__title">Комментарии:</div>
        <div class="videoconf__chats__messages" ref="messagesScroll" @mouseover="scrollMessages" @mouseout="unscrollMessages">
          <div class="videoconf__chats__message" v-for="message in messages" :key="message.id">
            <div class="videoconf__participants__status">
              <div class="videoconf__participants__ava">
                <img :src="profile.profile_image || defAva" alt="Ava" />
              </div>
            </div>
            <div class="videoconf__chats__text">
              <div v-html="message.text" />
              <div class="videoconf__chats__status">
                <d-icon icon="seen-sent" class="videoconf__chats__sent videoconf__chats__sent_seen" />
                <span>
                  {{ $moment(message.created_at).format("HH:mm") }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="videoconf__chats__limit"
        :class="{
          videoconf__chats__limit_red: limitSymbol === currentCountSymbol
        }"
      >
        {{ limitSymbol }}/{{ currentCountSymbol }}
      </div>
      <div class="videoconf__chats__write" :style="`height:${height}px`">
        <d-textarea
          placeholder="Сообщение"
          rows="1"
          class="grey"
          rounded
          fixed
          ref="inputMes"
          v-model="textareaText"
          :maxlength="limitSymbol"
          @keydown="pressedCtrl"
          @keyup="writeMessage"
          @keydown.enter.prevent
        />
        <div class="videoconf__chats__sendbtn" @click="sendMessage()">
          <d-icon icon="vtelegram" class="videoconf__chats__icon" />
        </div>
      </div>
    </div>
    <!--    <d-loader v-show="!participants.length" class="videoconf__block__spinner" />-->
  </div>
</template>
<script>
import textarea from "@/components/inputs/textarea"
import iconWrapper from "@/components/icons/iconWrapper"
import { mapActions, mapState } from "vuex"

export default {
  components: {
    "d-textarea": textarea,

    "d-icon": iconWrapper
  },
  data() {
    return {
      height: 42,
      textareaText: "",
      limitSymbol: 1000,
      currentCountSymbol: 0,
      ctrl: false,
      enter: false,
      scroll: true,
      textarea: null,
      defAva: require("@/assets/images/def_ava.png"),
      chatSocket: null,
      participants: [],
      messages: [],
      visibleParticipants: [],
      loading: true
    }
  },
  computed: {
    ...mapState({
      profile: state => state.profile.fields
    }),
    name() {
      return function(participant) {
        if (participant && !participant.first_name && !participant.last_name && !participant.middle_name) {
          return "Не заполнено"
        }

        return `${participant.first_name} ${participant.last_name} ${participant.middle_name}`
      }
    }
  },
  methods: {
    ...mapActions("studentFeedback", ["createComments", "getAllComments"]),
    writeMessage(e) {
      try {
        this.currentCountSymbol = this.textarea.value.length
        if (this.ctrl && e.key == "Enter") {
          let caret = e.target.selectionStart
          e.target.setRangeText("\n", caret, caret, "end")
          this.textareaText = e.target.value
          this.textarea.scrollTop = this.textarea.scrollHeight - this.textarea.clientHeight
          this.ctrl = false
          return
        }
        this.ctrl = false
        if (e.target.value.length > 1 && e.key == "Enter") {
          this.sendMessage()
          e.target.value = ""
          this.currentCountSymbol = 0
          this.height = 42
          return
        }

        if (this.textarea.scrollTop > 0 && this.height < 112) {
          this.height = this.textarea.scrollHeight + 16
          if (this.height > 112) {
            this.height = 112
          }
        } else if (this.textarea.scrollTop == 0) {
          this.height = 42
        }
      } catch (error) {
        console.error(error)
      }
    },
    sendMessage() {
      let message = {
        text: this.textareaText.replace(/(?:\r\n|\r|\n)/g, "<br>"),
        course: this.$route.params.id
      }
      this.createComments({ message }).then(res => {
        if (res.status == 201) {
          this.messages.push(res.data)
          setTimeout(() => {
            let msScroll = this.$refs.messagesScroll
            msScroll.scrollTop = msScroll.scrollHeight - msScroll.clientHeight
          }, 150)
        } else {
          this.$store.dispatch("snackbar/changeToasts", {
            text: `Чтото пошло нетак.`,
            color: "danger"
          })
        }
      })

      this.textareaText = ""
    },
    pressedCtrl(e) {
      if (e.key == "Control" && this.ctrl == false) {
        this.ctrl = true
      }
    },
    fetchCommentsList() {
      this.getAllComments({ id: this.$route.params.id }).then(res => {
        this.messages = res
        setTimeout(() => {
          let msScroll = this.$refs.messagesScroll
          msScroll.scrollTop = msScroll.scrollHeight - msScroll.clientHeight
        }, 150)
      })
    },
    scrollMessages() {
      let msScroll = this.$refs.messagesScroll
      if (msScroll.scrollHeight > msScroll.clientHeight) {
        msScroll.style.overflowY = "scroll"
        msScroll.style.paddingRight = "5px"

        if (this.messages.length <= 1) {
          msScroll.children[0].style.marginTop = "auto"
        }
      }
    },
    unscrollMessages() {
      let msScroll = this.$refs.messagesScroll
      msScroll.style.overflowY = "hidden"
      msScroll.style.paddingRight = "12px"
      // msScroll.style.justifyContent = "flex-end";
    }
  },
  mounted() {
    this.fetchCommentsList()
    this.textarea = this.$refs.inputMes.$el.children[0].children[0]
  }
}
</script>
<style lang="scss" scoped>
.videoconf__block {
  height: unset;
  width: 100%;
}
.videoconf__chats {
  height: calc(100vh - 150px);
}
</style>
