<template>
  <d-tabs :tab-list="taskTypeList" @item="onTabChange" class="small test-create" new-tabs>
    <template #content>
      <d-loading v-if="loading" />

      <div class="test-create__main" else>
        <div class="test-create__header">
          <div class="test-create__title">
            {{ $t("studyDepartment.add") }}
          </div>
        </div>
        <div class="test-create__body pt-5">
          <div class="columns">
            <div class="column pr-5 mr-5">
              <div class="mb-5">
                <d-tabs
                  :value="currLang"
                  disabled
                  :tab-list="langTabs"
                  @item="
                    item => {
                      currLang = item.tab
                    }
                  "
                  class="small"
                />
              </div>

              <div class="mb-5">
                <d-select
                  :placeholder="$t('studyDepartment.select')"
                  :title="$t('studyDepartment.module')"
                  :options="disciplineList"
                  :disabled="requesting"
                  mil
                  label="name"
                  v-model="disciplineId"
                  :reduce="item => item.id"
                  @change="form.topic = null"
                ></d-select>
              </div>

              <div class="mb-5">
                <!-- <d-select
                                        :disabled="loading || !disciplineId"
                                        placeholder="Выберите"
                                        title="Тема"
                                        :options="topicList"
                                        mil
                                        label="name"
                                        v-model="form.topic"
                                        :reduce="(item) => item.id"
                                    ></d-select> -->
                <d-pagination-select
                  :disabled="requesting || !disciplineId"
                  :title="$t('studyDepartment.topic')"
                  :params="{ discipline: disciplineId }"
                  :placeholder="$t('studyDepartment.select')"
                  ml
                  label="name"
                  module="teacherTests/getTopicList"
                  v-model="form.topic"
                  :reduce="item => item.id"
                >
                  <template #selected-option="props">
                    {{ $nt(props.name) }}
                  </template>

                  <template #option="props">
                    {{ $nt(props.name) }}
                  </template>
                </d-pagination-select>
              </div>

              <div class="mb-5">
                <div class="mb-2">
                  {{$t('teacherOffice.difficultyLevel')}}
                </div>
                <div class="test-create__levels">
                  <div class="columns is-multiline">
                    <div class="column is-3" v-for="item in difficultyList" :key="item.id">
                      <d-checkbox
                        class="performance-control isGreen"
                        :disabled="requesting"
                        :text="item.name && $nt(item.name)"
                        size="small"
                        :checked="item.id == form.difficulty"
                        @change="checked => (form.difficulty = checked ? item.id : null)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column pl-5 ml-5">
              <div class="mb-5">
                <d-textarea
                  :placeholder="$t('teacherOffice.enterTheText')"
                  rows="4"
                  class="grey"
                  title="Текст вопроса"
                  :disabled="requesting"
                  :readonly="false"
                  rounded
                  fixed
                  v-model="form.question[currLang]"
                />
              </div>
              <div class="mb-5" v-for="(variant, index) in form.answer" :key="index">
                <d-textarea
                  :placeholder="$t('teacherOffice.enterTheText')"
                  rows="4"
                  class="grey"
                  :title="`Текст ${variant.is_correct ? 'правильного' : 'неправильного'} ответа`"
                  :disabled="requesting"
                  :readonly="false"
                  rounded
                  fixed
                  v-model="variant.answer[currLang]"
                />
              </div>
              <div class="is-flex is-justify-content-space-between is-align-items-center mb-3" v-if="form.task_type == 1">
                <d-button :text="$t('teacherOffice.textAddAnswer')" @click="addAnswer" :disabled="requesting" class="blue" rounded />
                <d-button v-if="form.answer.length > 2" text="Удалить ответ" @click="onDeleteAnswer" :disabled="requesting" class="grey" rounded />
              </div>
            </div>
          </div>
        </div>
        <div class="test-create__footer">
          <div class="test-create-buttons columns">
            <div class="test-create-buttons__cancel column">
              <d-button :text="$t('studyDepartment.cancel')" :disabled="requesting" @click="$router.go(-1)" class="grey" />
            </div>
            <div class="test-create-buttons__save column right">
              <d-button v-if="currLang != 'ru'" :text="$t('teacherOffice.back')" @click="currLang = 'ru'" :diabled="requesting" class="grey mr-3" />
              <d-button
                :text="notLastLang ? 'Далее' : this.$t('studyDepartment.save')"
                @click="createTest"
                :disabled="!fieldsFilled || requesting"
                class="blue"
              />
            </div>
          </div>
        </div>
      </div>
    </template>
  </d-tabs>
</template>

<script>
export default {
  components: {
    "d-tabs": () => import("@/components/Tabs"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-select": () => import("@/components/inputs/select"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-checkbox": () => import("@/components/inputs/checkbox"),
    "d-pagination-select": () => import("@/components/inputs/pagination-select"),
    // "d-modal": () => import("@/components/Modal"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-loading": () => import("@/components/Loading-progress")
  },
  data() {
    return {
      created: false,
      loading: false,
      requesting: false,
      form: {
        task_type: null,
        difficulty: null,
        question: {
          ru: "",
          uz: ""
        },
        topic: null,
        answer: [
          {
            answer: {
              ru: "",
              uz: ""
            },
            is_correct: true
          },
          {
            answer: {
              ru: "",
              uz: ""
            },
            is_correct: false
          }
        ]
      },
      item: false,
      id: null,
      taskType: null,
      taskTypeList: [],
      typeList: [],
      currLang: "ru",
      langTabs: [
        {
          title: this.$t('teacherOffice.russianLanguage'),
          tab: "ru"
        },
        {
          title: this.$t('teacherOffice.uzbekLanguage'),
          tab: "uz"
        }
      ],
      difficultyList: [],

      topicList: [],
      disciplineList: [],
      disciplineId: null
    }
  },
  mounted() {
    this.getSupportingList()
  },
  computed: {
    notLastLang() {
      return this.langTabs.map(item => item.tab).indexOf(this.currLang) != this.langTabs.length - 1 ? true : false
    },
    fieldsFilled() {
      for (let elem in this.form) {
        if (elem == "question" && !this.form[elem][this.currLang]) return false
        else if (elem == "answer") {
          for (let item of this.form[elem]) {
            if (!item.answer[this.currLang]) return false
          }
        } else if (!this.form[elem]) return false
      }
      return true
    }
  },
  methods: {
    onDeleteAnswer() {
      if (this.form.answer.length > 2) {
        this.form.answer.pop()
      }
    },
    addAnswer() {
      this.form.answer.push({ answer: { ru: "", uz: "" }, is_correct: false })
    },

    createTest() {
      if (this.notLastLang) {
        this.currLang = this.langTabs[this.langTabs.indexOf(this.langTabs.find(item => item.tab == this.currLang)) + 1].tab
        return
      }
      this.requesting = true
      this.$store
        .dispatch("teacherTests/createTest", this.form)
        .then(res => {
          // console.log("Res", res);
          if (res && res.status == 201) {
            // this.created = true

            this.$store.dispatch("snackbar/changeToasts", {
              text: `Тест успешно создан!`,
              color: "success"
            })
            this.$router.go(-1)
          }
          this.requesting = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.requesting = false
        })
    },

    // getTopicList() {
    //     this.form.topic = null
    //     this.$store.dispatch('teacherTests/getTopicList', {discipline_id: this.disciplineId})
    //         .then((res) => {
    //             if(res && res.results) {
    //                 this.topicList = res.results
    //             }
    //         }).catch((err) => {
    //             console.log("err Fetch", err);
    //         });
    // },

    getSupportingList() {
      this.loading = true
      this.$store
        .dispatch("teacherTests/getTaskTypeList")
        .then(res => {
          if (res && res.results) {
            this.taskTypeList = res.results

            this.form.task_type = this.taskTypeList[0].id

            this.taskTypeList = this.taskTypeList.map(item => {
              let rObj = {}
              rObj = {
                tab: item.id,
                title: this.$nt(item.name),
                ...item
              }
              return rObj
            })
          }
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
      this.loading = true
      this.$store
        .dispatch("teacherTests/getDifficultyList")
        .then(res => {
          if (res && res.results) {
            this.difficultyList = res.results
          }
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
      this.loading = true
      this.$store
        .dispatch("teacherTests/getDisciplineList")
        .then(res => {
          if (res && res.results) {
            this.disciplineList = res.results
          }
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    },
    onTabChange(item) {
      if (item.tab) {
        this.form.task_type = +item.tab
        this.form.answer.length = 1

        if (item.tab == 1) this.form.answer.push({ answer: { ru: "", uz: "" }, is_correct: true })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-tabs {
  margin-bottom: 25px;
}
.test-create {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__main {
    background-color: #fff;
    flex: 1;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  // .tabs-content {
  //     margin-bottom: 20px;
  // }
  &__levels {
    .performance-control {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__title {
    color: $lblue;
  }

  &__footer {
    margin-top: auto;
  }
}
</style>
