<template>
  <div class="custom-page-section teachers-test">
    <!-- <div class="mb-5">
      <d-input
        icon="asd"
        icon2="search"
        alignIcon="both"
        placeholder="Поиск по вопросам"
        class="shadow"
        rounded
      />
    </div> -->

    <!-- <d-analytics class="mb-4" /> -->

    <div :class="['card analytics-card mb-4', { active: openFilter }]">
      <d-button rounded :text="$t('teacherOffice.filter')" class="filter-btn" color="blue" @click="openFilter = !openFilter">
        <d-icon icon="angle-down"></d-icon>
      </d-button>
      <div v-if="openFilter">
        <div class="analytics-card-header">
          <div class="columns">
            <div class="column is-3">
              <div class="analytics-card-header__item">
                {{$t('teacherOffice.discipline')}}
              </div>
            </div>
            <div class="column is-3">
              <div class="analytics-card-header__item">
                Дата добавления
              </div>
            </div>
            <div class="column is-3">
              <div class="analytics-card-header__item">
                {{$t('teacherOffice.fullNameTheQuestionCreator')}}
              </div>
            </div>
            <div class="column is-3">
              <div class="analytics-card-header__item">
                {{$t('teacherOffice.fullNameOfTheInspector')}}
              </div>
            </div>
          </div>
        </div>
        <div class="analytics-card-body">
          <div class="columns">
            <div class="column is-3">
              <d-select
                class=""
                :placeholder="$t('teacherOffice.enterTheText')"
                :options="disciplineList"
                label="name"
                no-title
                ml
                v-model="filterForm.discipline"
                :reduce="item => item.id"
              ></d-select>
            </div>
            <div class="column is-3">
              <!-- <d-date-selector class="modal-variant-1"/> -->
              <d-date-selector v-model="filterForm.date" grey class="modal-variant-1" />
            </div>
            <div class="column is-3">
              <d-input :placeholder="$t('teacherOffice.enterTheText')" v-model="filterForm.creator"></d-input>
              <!-- <d-input></d-input> -->
            </div>
            <div class="column is-3">
              <!-- <d-button color="custom-btn-info is-link arrow-down" @click="clickArrow">
                        <d-icon icon="angle-down"></d-icon>
                    </d-button> -->
              <d-input :placeholder="$t('teacherOffice.enterTheText')" v-model="filterForm.checked_by"></d-input>
            </div>
          </div>
        </div>
        <div class="analytics-card-header">
          <div class="columns">
            <div class="column is-3">
              <div class="analytics-card-header__item">
                {{$t('teacherOffice.questionType')}}
              </div>
            </div>
            <div class="column is-3">
              <div class="analytics-card-header__item">
                {{$t('teacherOffice.status')}}
              </div>
            </div>
            <div class="column is-3">
              <div class="analytics-card-header__item">
                {{$t('teacherOffice.difficulty')}}
              </div>
            </div>
            <div class="column is-3"></div>
          </div>
        </div>
        <div class="analytics-card-body">
          <div class="columns">
            <div class="column is-3">
              <div class="mb-2" v-for="item in taskTypeList" :key="item.key">
                <d-checkbox
                  :text="$nt(item.name)"
                  class="is-flex mb-2 is-align-items-center"
                  text-align="right"
                  size="small"
                  :disabled="loading"
                  :checked="item.id == filterForm.task_type"
                  @change="checked => (filterForm.task_type = checked ? item.id : null)"
                ></d-checkbox>
              </div>
            </div>
            <div class="column is-3">
              <div class="mb-2" v-for="item in statusList" :key="item.key">
                <d-checkbox
                  :text="item.text"
                  class="is-flex mb-2 is-align-items-center"
                  text-align="right"
                  size="small"
                  :disabled="loading"
                  :checked="item.id == filterForm.status"
                  @change="checked => (filterForm.status = checked ? item.id : null)"
                ></d-checkbox>
              </div>
            </div>
            <div class="column is-3">
              <div class="mb-2" v-for="item in difficultyList" :key="item.key">
                <d-checkbox
                  :text="$nt(item.name)"
                  class="is-flex mb-2 is-align-items-center"
                  text-align="right"
                  size="small"
                  :disabled="loading"
                  :checked="item.id == filterForm.difficulty"
                  @change="checked => (filterForm.difficulty = checked ? item.id : null)"
                ></d-checkbox>
              </div>
            </div>
            <div class="column is-3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="teachers-test__header columns is-vcentered mt-1 mx-0">
      <div class="column teachers-test__header--item is-2">
        <div>Тема</div>
      </div>
      <div class="column teachers-test__header--item is-2">
        <div>
          {{$t('teacherOffice.date')}}
        </div>
      </div>
      <div class="column teachers-test__header--item is-15">
        <div>
          {{$t('teacherOffice.difficulty')}}
          <!-- <d-icon
            icon="arrow-accordion"
            class="size-05 pt-1 ml-2 is-blue"
          /> -->
        </div>
      </div>
      <div class="column teachers-test__header--item is-15">
        <div>
          {{$t('teacherOffice.status')}}
        </div>
      </div>

      <div class="column teachers-test__header--item is-2">
        <div>
          Создатель
        </div>
      </div>
      <div class="column teachers-test__header--item is-2">
        <div>{{$t('teacherOffice.validator')}}</div>
      </div>
      <div class="column teachers-test__header--item is-1">
        <router-link
          v-if="permissions.has_add_permission"
          tag="button"
          :to="{
            name: 'cabinetTeachersTestsCreate'
          }"
          class="blue add-btn icon-btn"
          size="is-small"
        >
          <template>
            <d-icon icon="accordion_plus" />
            <span> {{ $t("studyDepartment.add") }} </span>
          </template>
        </router-link>
      </div>
    </div>

    <div class="teachers-test__body">
      <div class="teachers-test__list" v-infinite-scroll="preScrollList" infinite-scroll-disabled="loading" infinite-scroll-distance="10">
        <router-link
          tag="div"
          :to="{
            name: 'cabinetTeachersTestsId',
            params: { id: item.id }
          }"
          class="teachers-test__item columns mx-0 "
          v-for="item in list"
          :key="item.id"
        >
          <div class="column is-2 my-3">{{ item.topic && item.topic.name && $nt(item.topic.name) }}</div>
          <div class="column is-2">
            {{ $moment(item.created_at).format("DD.MM.YYYY hh:mm") || "Нет данных" }}
          </div>
          <div class="column is-15">
            <div :class="['badge', getDifficulty(item)]"></div>
          </div>
          <div class="column is-15">
            <d-icon :icon="getStatus(item)" class="status-icon size-1" />
            <span class="status-text">{{ item.status.name }}</span>
          </div>

          <div class="column is-2">
            {{ item.creator && `${item.creator.first_name} ${item.creator.last_name} ${item.creator.middle_name}` }}
          </div>
          <div class="column is-2">
            {{ (item.checked_by && `${item.checked_by.first_name} ${item.checked_by.last_name} ${item.checked_by.middle_name}`) || "Нет данных" }}
          </div>
          <div class="column is-1 last-item">
            <div>
              <d-icon icon="more" class="size-2 white icon-rotate-90" />
            </div>
          </div>
        </router-link>

        <center v-if="loading">
          <d-spinner class="comments__blocks__spinner" />
        </center>
      </div>
    </div>
  </div>
</template>

<script>
import Input from "@/components/inputs/input"
import Select from "@/components/inputs/select"
import Checkbox from "@/components/inputs/checkbox"
import DateSelector from "@/components/inputs/date-selector"
import loaderButton from "@/components/buttons/loaderButton"

export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-input": () => import("@/components/inputs/input"),
    // "d-analytics": () => import("@/components/Analytics"),
    "d-spinner": () => import("@/components/loaders/spinner"),
    "d-select": Select,
    "d-button": loaderButton,
    "d-checkbox": Checkbox,
    "d-input": Input,
    "d-date-selector": DateSelector
  },
  watch: {
    filterForm: {
      handler() {
        this.preFilterList()
      },
      deep: true
    }
  },
  data() {
    return {
      openFilter: false,
      filterForm: {
        discipline: null,
        topic: null,
        type: null,
        task_type: null,
        date: null,
        difficulty: null,
        status: null,
        creator: "",
        checked_by: ""
      },
      id: null,
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],

      statusList: [
        {
          id: 0,
          name: "new",
          text: this.$t('teacherOffice.new')
        },
        {
          id: 1,
          name: "edited",
          text: this.$t('teacherOffice.updated')
        },
        {
          id: 2,
          name: "accepted",
          text: this.$t('teacherOffice.approved')
        },
        {
          id: 3,
          name: "rejected",
          text: this.$t('teacherOffice.rejected')
        }
      ],

      permissions: {
        has_add_permission: false,
        has_check_permission: false
      },
      pagination: {
        page: 1,
        limit: 10,
        count: null
      },
      loading: false,
      list: [],
      disciplineList: [],
      taskTypeList: [],
      difficultyList: []
    }
  },
  mounted() {
    this.checkPermissions()
    this.getFilterLists()
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    getStatus(item) {
      return item.status.id === 2
        ? "check"
        : item.status.id === 3
        ? "close2"
        : item.status.id === 0
        ? "new-check"
        : item.status.id === 1
        ? "edit-check"
        : null
    },
    getDifficulty(item) {
      return item.type.difficulty.id == 6 ? "red-bg" : item.type.difficulty.id == 5 ? "yellow-bg" : item.type.difficulty.id == 4 ? "green-bg" : null
    },
    getFilterLists() {
      this.$store.dispatch("teacherTests/getDisciplineList").then(res => {
        if (res && res.results) this.disciplineList = res.results
      })
      this.$store.dispatch("teacherTests/getDifficultyList").then(res => {
        if (res && res.results) this.difficultyList = res.results
      })
      this.$store.dispatch("teacherTests/getTaskTypeList").then(res => {
        if (res && res.results) this.taskTypeList = res.results
      })
    },
    checkPermissions() {
      this.loading = true
      this.$store
        .dispatch("teacherTests/getPermissions")
        .then(res => {
          if (res) {
            // console.log('Permissions', res);
            this.permissions = res
            this.getList()
          }
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.getList()
        })
    },
    preFilterList() {
      this.pagination.page = 1
      this.list = []
      this.getList()
    },
    preScrollList() {
      if (this.pagination.count > this.list.length) {
        this.pagination.page += 1
        this.getList()
      }
    },
    getList() {
      let params = JSON.parse(JSON.stringify(this.filterForm))

      Object.assign(params, { offset: this.offsetComputed, limit: this.pagination.limit })
      // console.log("object", params);

      this.loading = true
      this.$store
        .dispatch("teacherTests/getList", params)
        .then(res => {
          if (res && res.results) {
            this.list.push(...res.results)
            this.pagination.count = res.count
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss">
.column.is-15 {
  flex: none;
  width: 12.5%;
  text-overflow: ellipsis;
}

.card {
  &.analytics-card {
    padding: $paddingCards;
    height: 80px;
    // border-radius: 17px;

    &.active {
      height: auto;
      .filter-btn {
        margin-bottom: 15px;

        svg {
          transform: rotate(180deg);
        }
      }

      .analytics-card-header {
        opacity: 1;
      }

      .analytics-card-body {
        opacity: 1;
      }
    }

    .filter-btn {
      display: flex;
      align-items: center;
      margin-bottom: none;

      svg {
        margin-left: 5px;
        width: 12px;
        stroke: white;
      }
    }

    .field {
      position: relative;

      input:not(.input) {
        height: 100%;
      }
    }

    .analytics-card-header {
      opacity: 0;
      &__item {
        font-size: 18px;
      }
    }

    .analytics-card-body {
      opacity: 0;

      .columns {
        .columns {
          margin-top: 0;
          height: 100%;
          .column {
            padding-top: 0;
          }
          &.date-selector {
            padding-right: 0.75rem;
            .column {
              padding-right: 0;
              padding-bottom: 0;

              &:not(:first-child) {
                padding-left: 0;
              }
            }
          }
        }
      }

      .vs__selected-options {
        overflow: hidden;
      }

      .vs--single .vs__selected {
        white-space: nowrap;
      }

      .vs--searchable .vs__dropdown-toggle {
        height: 40px;
      }

      .custom-select {
        height: 100%;
        width: 95%;
        position: relative;

        &::after {
          content: "";
          // background-image: url('~@/assets/icons/angle-down.svg?external');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 8px;
          display: inline-block;
          vertical-align: top;
          width: 20px;
          height: 20px;
          right: 5px;
          position: absolute;
          top: 12px;
          z-index: 2;
        }

        &::before {
          width: 40px;
          content: "";
          display: inline-block;
          width: 20px;
          background: white;
          vertical-align: top;
          right: 2px;
          position: absolute;
          top: 3px;
          bottom: 3px;
          z-index: 1;
        }
        &.greyish {
          select {
            color: $grey;
            option:not([first-child]) {
              color: black;
            }
          }
        }

        select {
          height: 100%;
          width: 100%;
          padding: 5px 0 0px 10px;
          font-size: 15px;
          font-weight: 300;
          border: 1px solid rgba(60, 60, 60, 0.26);
          border-radius: 4px;
          line-height: 1.4;
          background: none;

          option {
            &:hover {
              box-shadow: 0 0 10px 100px $blue inset;
              outline-color: red;
            }
          }
        }
      }

      select:focus {
        outline: none;
      }

      button.arrow-down {
        width: 65px;
        float: right;

        svg {
          fill: white;
          stroke: white;
          height: 15px;
        }
      }
    }
  }
}

.columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.custom-page-section {
  flex: 1;
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
}

.teachers-test {
  &__item {
    cursor: pointer;
  }
  &__title {
    color: $blue;
  }
  &__form {
    text-align: right;
    &--select {
      margin-top: -11px;
    }
  }
  &__header {
    padding: 6px 0;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    &--item {
      div {
        padding-left: 20px;
        color: $blue;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  &__body {
    .teachers-test__list {
      .teachers-test__item {
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 4px;
        margin-top: 14px;
        .column {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.last-item {
  padding: 0 !important;
  div {
    background-color: $blue;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.check {
  padding: 0 !important;
  div {
    background-color: #3d6ab7;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
