<template>
  <div class="tasks">
    <d-modal title="Добавить модуль" @closemodal="closemodal" v-show="modalSeen" size="small" class="grey-header">
      <d-input title="Логин" placeholder="Введите логин" rounded class="grey" v-model.number="form.username" style="padding: 0" />
      <br />
      <d-input title="Пароль" type="password" placeholder="Введите пароль" rounded class="grey" v-model.number="form.password" style="padding: 0" />
      <br />
      <d-input title="Телефон" placeholder="Введите номер" rounded class="grey" v-model.number="form.phone" style="padding: 0" />
      <br />
      <d-select
        class="grey-2 rounded"
        :placeholder="$t('teacherOffice.enterTheText')"
        label="name"
        :options="applicants_list"
        title="Аппликант"
        v-model.number="form.applicant"
        :reduce="item => item.id"
      />
      <br />
      <d-select
        class="grey-2 rounded"
        :placeholder="$t('teacherOffice.enterTheText')"
        label="name"
        :options="course_type_list"
        ml
        :title="$t('administrator.typeOfCourse')"
        v-model.number="form.course_type"
        :reduce="item => item.id"
      />
      <br />

      <center>
        <d-btn :text="$t('studyDepartment.save')" @click="send" rounded class="blue" />
      </center>
    </d-modal>
    <div class="tasks__header">
      <div class="tasks__header__length">{{ $t("teacherOffice.students") }}</div>
      <d-btn :text="$t('studyDepartment.add')" @click="modalSeen = true" color="blue" class="tasks__header__btn" />
    </div>
    <div class="page-section tasks-prog">
      <div class="tasks-prog__body">
        <d-lists dashedHeader :len="list && list.length" :loading="loading">
          <template #header>
            <div class="columns">
              <div class="avatar-column_header"><span>Ф.И.О.</span></div>
              <!-- <div class="column is-7"></div> -->
            </div>
          </template>

          <template #content>
            <div class="columns" v-for="(item, index) in list" :key="index" @click="goToPage(item.applicant_id)">
              <div class="avatar-column">
                <d-avatar
                  :item="{
                    src: item.image || require('@/assets/images/person.png')
                  }"
                  width="38"
                  height="38"
                  cover
                ></d-avatar>
              </div>
              <div class="column">
                <div class="tasks-prog__item__link">
                  <span>{{ item.name }} </span>
                </div>
              </div>
            </div>
          </template>
        </d-lists>
      </div>
      <div class="tasks-prog__footer right">
        <d-pagination @change="fetch" v-model="pagination.page" :total="pagination.count" :limit="pagination.limit" />
      </div>
    </div>
  </div>
</template>

<script>
const defaultForm = () => ({
  username: "",
  password: "",
  phone: "+998",
  applicant: null,
  course_type: null
})

import loaderButton from "@/components/buttons/loaderButton"
import Modal from "@/components/Modal"
import select from "@/components/inputs/select"

import { mapActions } from "vuex"

export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    // "d-pagination": () => import("@/components/Pagination"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-btn": loaderButton,
    "d-modal": Modal,
    "d-select": select,
    "d-pagination": () => import("@/components/PaginationInput"),
    "d-input": () => import("@/components/inputs/input"),
    "d-avatar": () => import("@/components/Avatar")
  },
  data() {
    return {
      modalSeen: false,
      pagination: {
        page: 1,
        limit: 10,
        count: null
      },
      applicants_list: [],
      course_type_list: [],

      form: defaultForm(),

      loading: false,
      list: []
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  watch: {},

  methods: {
    ...mapActions("adminStudents", ["getStudents", "getApplicants", "getCourseTypes", "createStudent"]),
    fetch() {
      this.loading = true
      this.getStudents({
        offset: this.offsetComputed,
        limit: this.pagination.limit
      }).then(res => {
        this.list = (res && res.results) || []
        this.pagination.count = (res && res.count) || 0
      })

      this.getApplicants().then(res => {
        this.applicants_list = (res && res.results) || []
      })

      this.getCourseTypes().then(res => {
        this.course_type_list = (res && res.results) || []
      })

      this.loading = false
    },
    send() {
      this.createStudent(this.form).then(res => {
        console.log(res)
        this.fetch()
        this.closemodal()
        // res.status == 201 ? alert("Топ за свои бабки") : alert("Не очень");
      })
    },
    closemodal() {
      this.modalSeen = false
    },
    goToPage(id) {
      console.log(id)
      this.$router.push({
        name: "cabinetAdminApplicantsCreate",
        query: { id: id }
      })
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>

<style lang="scss" scoped>
.avatar-column_header {
  width: calc(58.3% + 50px);
  padding: 0.75rem;
}
.tasks {
  width: 100%;
  .date-selector {
    margin-bottom: 14px;
  }
  .modal-window__body {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
  }
  .modal-header__title {
    color: #3d6ab7 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-left: 5px;
  }
  .v-select {
    margin-bottom: 28px !important;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .select-title {
    color: $text-color;
    font-size: 17px;
    font-weight: 400;
  }
  &__modal {
    &__date {
      margin-bottom: 9px !important;
      color: $text-color !important;
      font-size: 17px !important;
      font-weight: 400 !important;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      button {
        height: 34px;
        padding: 3px 23px;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 25px;
    &__btn {
      height: 32px;
      padding-left: 18px !important;
      padding-right: 18px !important;
    }
    &__length {
      color: $blue;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.tasks-prog {
  height: calc(100% - 115px);
  .lists-wrapper-header {
    color: $blue;
    flex: 1;
    font-size: 18px;
    & > div {
      border: none;
    }
    .column:first-child {
      padding-left: 7px;
    }
  }
  .custom-dropdown__trigger {
    //transform: rotate(90deg);
    fill: #9aa6bb;
    width: 23px !important;
    position: relative;
    //right: -10px;
  }

  svg.size-1 {
    margin: 2px;
  }

  .button.is-small {
    border-radius: 5px;
  }

  .column.right {
    button.button {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .lists-wrapper-content {
    .right svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  span.icon.is-right {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .plus-btn {
    position: relative;
    top: -5px;
    fill: #fff;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    .tasks-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .tasks-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  .custom-dropdown {
    display: flex !important;
    align-items: center;
    svg {
      margin-right: 0 !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
      span:last-child {
        color: $text-color;
        font-size: 16px;
        font-weight: 300;
      }
      .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        min-width: 15px;
        height: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #224e92;
        margin-right: 16px;
        //.checkicon {
        //  width: 9px;
        //  min-width: 9px;
        //  height: 7px;
        //  fill: #224e92;
        //  path {
        //    stroke-width: 2;
        //  }
        //}
      }
    }
    &__icon {
      fill: $blue;
      height: 15px !important;
      margin-right: 16px;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__descr {
    padding: 15px;
  }
  &__body {
    margin-bottom: 15px;
  }
}
</style>
