<template>
  <div class="student-learning-id">
    <!-- {{ this.$route.params.id }} -->
    <d-loading v-if="loading" />
    <div class="check__title check-mark-task">
      {{ module_ && $nt(module_) }}
      <div class="mark-task">
        <div v-if="!!review && !!review.total_mark">{{ $t("teacherOffice.score") }}: {{ review && review.total_mark }}</div>
        <div v-if="!review" style="color: grey">Не проверено</div>
      </div>
    </div>
    <div class="columns">
      <div class="ttest-detail-main__detail__left__events column">
        <div class="is-flex ttest-detail-main__detail__left__events--item test-actions h-a" v-for="(item, index) in taskList" :key="item.id">
          <div :class="['ttest-detail-main__detail__left__events--item__left h-a', { 'dashed-line': index != taskList.length - 1 }]">
            <div class="ttest-detail-main__detail__left__events--item__left--number">
              {{ index + 1 }}
            </div>
          </div>
          <div class="ttest-detail-main__detail__left__events--item__right h-a">
            <div class="ttest-detail-main__detail__left__events--item__right--date m-b p-r-16 h-a">
              {{ $nt(item.question) }}
            </div>
            <div v-if="!item.variants">
              <d-textarea
                :placeholder="$t('teacherOffice.enterTheText')"
                rows="7"
                title="Ответь"
                :readonly="true"
                rounded
                fixed
                v-model="item.answer.plain_answer"
                :border="
                  (!!item.answer &&
                    Object.keys(item.answer).length &&
                    !!item.answer.review &&
                    ((item.answer.review.is_correct && 'border: 5px solid rgba(0, 128, 0, 0.1);') ||
                      (!item.answer.review.is_correct && 'border: 5px solid rgba(128, 0, 0, 0.1);') ||
                      '')) ||
                  ''
                "
              />
            </div>
            <div v-for="answer in item.variants" :key="answer.id">
              <div>
                <d-checkbox
                  class="performance-control"
                  :dFlex="true"
                  :class="{
                    bg_true:
                      isTrue(item.id, answer.id) &&
                      !!item.answer &&
                      Object.keys(item.answer).length &&
                      item.answer.chosen_variant.id === answer.id &&
                      !!item.answer.review,
                    bg_false:
                      !isTrue(item.id, answer.id) &&
                      !!item.answer &&
                      Object.keys(item.answer).length &&
                      item.answer.chosen_variant.id === answer.id &&
                      !!item.answer.review
                  }"
                  :text="$nt(answer.answer)"
                  text-align="right"
                  :disabled="true"
                  :checked="checkTwoItem(!!item.answer.chosen_variant && item.answer.chosen_variant.id, answer.id)"
                  size="small"
                />
              </div>
            </div>
            <div class="not-answered" v-if="!Object.keys(item.answer).length">
              {{ $nt(notification) }}
            </div>
            <div class="comment" v-if="!!Object.keys(item.answer).length && !!item.answer.review && !!item.answer.review.comment">
              Comment:
              {{ (!!item.answer && Object.keys(item.answer).length && !!item.answer.review && item.answer.review.comment) || "" }}
            </div>
            <div class="is-flex mt-3 ttest-detail-main__detail__left__events--item__right--comments">
              <div class="ttest-detail-main__detail__left__events--item__right--comments__user"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import loaderButton from "@/components/buttons/loaderButton";
export default {
  components: {
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-checkbox": () => import("@/components/inputs/checkbox"),
    // "d-button": loaderButton,
    "d-loading": () => import("@/components/Loading-progress")
  },
  data() {
    return {
      taskList: [],
      isChecked: true,
      task_answer_collection: null,
      begin_datetime: null,
      duration: null,
      timer: null,
      loading: false,
      topic: null,
      notification: {
        uz: "Tanlanmagan!",
        ru: "Не выбрано!",
        en: "Not chosen!"
      },
      review: {},
      module_: null
    }
  },
  async mounted() {
    await this.getDetail()
    this.countTime()
  },
  methods: {
    countTime() {
      if (!!this.duration && !!this.begin_datetime) {
        // console.log(this.begin_datetime);
        const initTime = new Date(this.begin_datetime)
        const duration = this.duration
        this.setSeconds(initTime, duration)
      }
    },
    setSeconds(initTime, duration) {
      const t = setTimeout(() => {
        const resTime = initTime.getTime() + duration * 1000
        const result = resTime - new Date().getTime()
        if (result > 0) {
          this.timer = new Date(result).toLocaleTimeString("uz-UZ", {
            timeZone: "UTC"
          })
          this.setSeconds(initTime, duration)
          clearTimeout(t)
        }
      }, 1000)
    },
    getDetail() {
      this.loading = true
      let taskId = this.$route.params.id
      return this.$store.dispatch("studentStudentTasks/getResultDetail", taskId).then((res) => {
        // console.log("TREs djdskdgkas -> ", res);
        this.taskList = res.tasks
        this.module_ = res.module
        this.review = res.review
        // console.log("res in get detail in student task ->> ", this.taskList);
        this.loading = false
      })
    },
    selectAnswer(taskId, answer_id, plain_answer) {
      let taskIndex = this.taskList.findIndex((task) => task.id === taskId)
      if (taskIndex != -1) {
        if (!!taskId && !!answer_id) {
          this.taskList
            .find((task) => task.id === taskId)
            .answers.forEach((answer, index) => {
              this.$set(this.taskList[taskIndex].answers[index], "isSelected", false)
            })
          // console.log(this.taskList);
          let answerIndex = this.taskList[taskIndex].answers.findIndex((answer) => answer.id === answer_id)
          if (answerIndex != -1) {
            if (this.taskList[taskIndex].cloneAnswer.answer_id !== answer_id) {
              // console.log(
              //   this.taskList[taskIndex].cloneAnswer.answer_id,
              //   answer_id
              // );
              this.$set(this.taskList[taskIndex].answers[answerIndex], "isSelected", true)
              this.$set(this.taskList[taskIndex].cloneAnswer, "answer_id", answer_id)
              this.$set(this.taskList[taskIndex], "isSendAble", false)
              this.sendAnswer(taskId, answer_id, plain_answer)
              // console.log(
              //   "adkjasklasdkjlhakljsdhkaljsdhklajsdhlkajshdlkajhdslkasdkjashdlkash"
              // );
            } else if (this.taskList[taskIndex].cloneAnswer.answer_id === answer_id) {
              this.$set(this.taskList[taskIndex].answers[answerIndex], "isSelected", false)
              this.$set(this.taskList[taskIndex].cloneAnswer, "answer_id", null)
              this.$set(this.taskList[taskIndex], "isSendAble", true)
            }
            // console.log(this.taskList);
          }
        } else if (!!taskId && !!plain_answer) {
          // console.log(plain_answer);
          // console.log(this.taskList[taskIndex].cloneAnswer.plain_answer);
          // this.taskList
          //   .find((task) => task.id === taskId)
          //   .answers.forEach((answer, index) => {
          //     this.$set(
          //       this.taskList[taskIndex].answers[index],
          //       "isSelected",
          //       false
          //     );
          //   });
          // let answerIndex = this.taskList[taskIndex].answers.findIndex(
          //   (answer) => answer.id === answer_id
          // );
          // if (answerIndex != -1) {
          // if (!!this.taskList[taskIndex].cloneAnswer.plain_answer) {
          // this.$set(
          //   this.taskList[taskIndex].answers[answerIndex],
          //   "isSelected",
          //   true
          // );
          // this.$set(
          //   this.taskList[taskIndex].cloneAnswer,
          //   "plain_answer",
          //   plain_answer
          // );
          this.$set(this.taskList[taskIndex], "isSendAble", false)
          // } else if (
          //   this.taskList[taskIndex].cloneAnswer.plain_answer === null
          // ) {
          // this.$set(
          //   this.taskList[taskIndex].answers[answerIndex],
          //   "isSelected",
          //   false
          // );
          // this.$set(
          //   this.taskList[taskIndex].cloneAnswer,
          //   "plain_answer",
          //   null
          // );
          // this.$set(this.taskList[taskIndex], "isSendAble", true);

          // }
        } else if (!!taskId && !answer_id && !plain_answer) {
          this.$set(this.taskList[taskIndex], "isSendAble", true)
        }
        // console.log(this.taskList);
      }
      // }
    },
    // isReadyToSend(taskId) {
    //   for (const task of this.taskList) {
    //     if (task.id === taskId && Boolean(task.answer.id)) {
    //       return true;
    //     }
    //   }
    //   return false;
    // },
    sendAnswer(taskId, chosen_variant, plain_answer) {
      let taskIndex = this.taskList.findIndex((task) => task.id === taskId)
      this.$set(this.taskList[taskIndex], "isSendAble", true)
      // if (this.taskList[taskIndex].answer.id === answer)
      if (!this.taskList[taskIndex].answer.id) {
        // console.log(!this.taskList[taskIndex].answer.id);
        let params = {
          task_answer_collection: this.task_answer_collection || null,
          task: taskId,
          chosen_variant: chosen_variant,
          plain_answer: plain_answer
        }
        this.$store
          .dispatch("studentStudentTasks/sendAnswer", params)
          .then((res) => {
            // console.log(res);
            let taskIndex = this.taskList.findIndex((task) => task.id === taskId)
            if (taskIndex != -1) {
              this.$set(this.taskList[taskIndex].answer, "id", res.id)
              this.$set(this.taskList[taskIndex].answer, "chosen_variant", res.chosen_variant)
              // console.log(this.taskList);
            }
          })
          .catch((err) => {
            console.error(err)
          })
      } else {
        let params = {
          id: this.taskList[taskIndex].answer.id,
          chosen_variant: chosen_variant,
          plain_answer: plain_answer
        }
        this.$store
          .dispatch("studentStudentTasks/updateAnswer", params)
          .then((res) => {
            // console.log(res);
            let taskIndex = this.taskList.findIndex((task) => task.id === taskId)
            if (taskIndex != -1) {
              this.$set(this.taskList[taskIndex].answer, "id", res.id)
              this.$set(this.taskList[taskIndex].answer, "chosen_variant", res.chosen_variant)
              // console.log(this.taskList);
            }
          })
          .catch((err) => {
            console.error(err)
          })
      }
    },
    checkTwoItem(item1, item2) {
      return !!item1 && item1 === item2 ? true : false
    },
    isTrue(taskId, answerId) {
      let cloneTask = this.taskList.find((task) => task.id === taskId)
      if (
        cloneTask &&
        cloneTask.answer &&
        !!Object.keys(cloneTask.answer).length &&
        !!cloneTask.answer.review &&
        cloneTask.answer.review.is_correct &&
        !!cloneTask.answer.chosen_variant &&
        cloneTask.answer.chosen_variant.id === answerId
      ) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.tasks {
  width: 100%;
  height: auto;
  .date-selector {
    margin-bottom: 14px;
  }
  .modal-window__body {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
    // height: 630px;
    overflow-y: auto;
  }
  .modal-header__title {
    color: #3d6ab7 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-left: 5px;
  }
  .v-select {
    margin-bottom: 28px !important;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .select-title {
    color: $text-color;
    font-size: 17px;
    font-weight: 400;
  }
  &__modal {
    &__date {
      margin-bottom: 9px !important;
      color: $text-color !important;
      font-size: 17px !important;
      font-weight: 400 !important;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      button {
        height: 34px;
        padding: 3px 23px;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 25px;
    &__btn {
      height: 32px;
      padding-left: 18px !important;
      padding-right: 18px !important;
    }
    &__lenth {
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
.tasks-prog {
  height: calc(100% - 115px);
  .lists-wrapper-header {
    color: $blue;
    flex: 1;
    font-size: 18px;
    & > div {
      border: none;
    }
    .column:first-child {
      padding-left: 7px;
    }
  }
  .custom-dropdown__trigger {
    //transform: rotate(90deg);
    fill: #9aa6bb;
    width: 23px !important;
    position: relative;
    //right: -10px;
  }

  svg.size-1 {
    margin: 2px;
  }

  .button.is-small {
    border-radius: 5px;
  }

  .column.right {
    button.button {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .lists-wrapper-content {
    .right svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  span.icon.is-right {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
  .plus-btn {
    position: relative;
    top: -5px;
    fill: #fff;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    .tasks-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .tasks-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  .custom-dropdown {
    display: flex !important;
    align-items: center;
    svg {
      margin-right: 0 !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
      span:last-child {
        color: $text-color;
        font-size: 16px;
        font-weight: 300;
      }
      .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        min-width: 15px;
        height: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #224e92;
        margin-right: 16px;
        //.checkicon {
        //  width: 9px;
        //  min-width: 9px;
        //  height: 7px;
        //  fill: #224e92;
        //  path {
        //    stroke-width: 2;
        //  }
        //}
      }
    }
    &__icon {
      fill: $blue;
      height: 15px !important;
      margin-right: 16px;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__descr {
    padding: 15px;
  }
  &__body {
    margin-bottom: 15px;
  }
}
.ttest-detail {
  flex: 1;
  display: flex;

  &-main {
    display: flex;
    flex-direction: column;
    flex: 3.5;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 8px;
      background-color: #ffffff;
      margin-bottom: 30px;
    }
    &__tabs {
      margin-bottom: 30px;

      .custom-tabs-left.new-design > div {
        padding: 5px 10px;
        margin: 10px 10px !important;
      }
    }

    &__detail {
      flex: 1;
      max-height: calc(100vh - 356px);
      overflow-y: auto;
      display: flex;
      background-color: #fff;
      border-radius: 4px;
      padding: 25px 30px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);

      &__left {
        flex: 1;

        &__test {
          &--item {
            margin-bottom: 30px;
          }
        }

        &__detail {
          .columns {
            margin: 34px 0;

            .text-bold {
              max-width: 150px;
              min-width: 100px;
            }

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &__events {
          &--item {
            height: 200px;

            .dashed-line::after {
              content: "";
              position: absolute;
              width: 1px;
              bottom: -6px;
              top: 16px;
              left: 16px;
              border-right: 1px dashed;
              z-index: -1;
            }

            &__left {
              position: relative;
              z-index: 1;
              margin-right: 10px;

              &--number {
                height: 32px;
                width: 32px;
                color: white;
                background-color: #3d6ab7;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                cursor: pointer;
              }
              &--number:hover {
                height: 32px;
                width: 32px;
                color: #3d6ab7;
                background-color: #fff;
                border: 1px solid #3d6ab7;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
              }
            }

            &__right {
              &--detail {
                color: $grey;
              }

              &--date {
                height: 32px;
                display: flex;
                align-items: center;
              }

              &--comments {
                &__user {
                  min-width: 60px;
                }

                &__item {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }

      &__right {
        min-width: 100px;

        .custom-dropdown {
          float: right;
        }

        .custom-dropdown__trigger {
          transform: rotate(90deg);
        }
      }
    }
  }

  &-aside {
    padding: 0 0 0 30px;
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;

    &__creators {
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-direction: column;
      background-color: #fff;
      padding: 0 25px;

      &--item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding: 20px 0;

        &:first-child {
          border-bottom: 1px dashed #9aa6bb;
        }

        &__role {
          color: #9aa6bb;
        }
      }
    }

    &__bottom {
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 400px;
      margin-top: 20px;
      background-color: #fff;
      padding: 30px;

      &--top {
        display: flex;
        flex: 1;
        align-items: center;

        &__left {
          flex: 2;
          font-size: 17px;
          border-right: 1px dashed;
        }

        &__right {
          flex: 1;
          font-size: 34px;
          margin-left: 20px;
        }
      }

      &--bot {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
.correct-answer {
  color: green;
}
.test-focused {
  color: #3d6ab7;
  background-color: #fff;
  border: 1px solid #3d6ab7;
}
.test-actions {
  position: relative;
}
.test-checkbox {
  position: absolute;
  right: -24px;
}
.w {
  &__18 {
    width: 18px;
    fill: gray;
    cursor: pointer;
  }
}
.h {
  &__18 {
    height: 18px;
    cursor: pointer;
  }
}
.h-a {
  height: auto;
}
.m-b {
  margin-bottom: 10px;
}
.p-r-16 {
  padding-right: 24px;
}
.tasks-prog {
  margin-top: 20px;
  background-color: #fff;
  flex: 1;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;

  .custom-dropdown__trigger {
    //transform: rotate(90deg);
    fill: #9aa6bb;
    width: 23px !important;
    position: relative;
    //right: -10px;
  }

  svg.size-1 {
    margin: 2px;
  }

  .button.is-small {
    border-radius: 5px;
  }

  .column.right {
    button.button {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .lists-wrapper-content {
    .right svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  span.icon.is-right {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .plus-btn {
    position: relative;
    top: -5px;
    fill: #fff;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 1px;
    .tasks-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .tasks-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  .custom-dropdown {
    display: flex !important;
    align-items: center;
    svg {
      margin-right: 0 !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
    }
    &__icon {
      fill: $blue;
      height: 15px !important;
      margin-right: 16px;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__descr {
    padding: 15px;

    &:hover {
      color: #1761aa;
    }
  }
  &__body {
    margin-bottom: 15px;
  }
}
.make-action {
  padding-right: 12px;
  width: 100px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.unique-tests {
  max-height: 550px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;

  &--item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dashed $grey;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  .vs__dropdown-menu {
    max-height: 150px;
  }
}
.more-icon {
  background-color: #adbcd43d;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg_true {
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 7px;
}
.bg_false {
  background-color: rgba(128, 0, 0, 0.1);
  border-radius: 7px;
}
.not-answered {
  background-color: #3d6ab712;
  padding: 1rem;
  border-radius: 7px;
  margin-top: 1rem;
}
.comment {
  background-color: #3d6ab712;
  padding: 1rem;
  border-radius: 7px;
  margin-top: 1rem;
}

.check-mark-task {
  display: flex;
  justify-content: space-between;
}
.mark-task {
  background-color: whitesmoke;
  width: auto;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
.check {
  display: flex;
  width: 100%;
  flex-direction: row;
  &__title {
    color: #2e5898;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
</style>
