<template>
  <div class="video student">
    <div class="video__header">
      <d-tabs :tab-list="tabList" class="video__header__tabs" />
      <d-input icon="search" :placeholder="$t('studentOffice.videoSearch')" rounded type="text" alignIcon="right" v-if="tabList[0].selected" />
      <div class="student__select" v-if="tabList[1].selected">
        <span class="student__select__title">{{$t('studyDepartment.module')}}:</span>
        <d-select class="is-rounded" label="title" :placeholder="$t('studentOffice.allModules')" :options="options" v-model="id" :reduce="item => item.id" />
      </div>
    </div>
    <div class="video__list" v-if="tabList[0].selected">
      <d-video v-for="(item, index) in videos" :key="index" :galery-item="item" />
    </div>
    <div class="student__links" v-if="tabList[1].selected">
      <d-lists dashedHeader>
        <!-- Header types
          1) default grey header
          2) props "blue-header" -> blue header
         -->

        <template #header>
          <div class="columns">
            <div class="column is-1"><span>Отправитель</span></div>
            <div class="column is-3"><span>{{$t('studentOffice.link')}}</span></div>
            <div class="column is-3"><span>{{$t('studyDepartment.module')}}</span></div>
            <div class="column is-2"><span>{{$t('studentOffice.volume')}}</span></div>
            <div class="column is-3">
              <span>{{$t('teacherOffice.status')}}</span>
            </div>
          </div>
        </template>

        <template #content>
          <div class="columns student__links__item" v-for="item in 10" :key="item + 32">
            <div class="column is-1">
              <router-link to="#" tag="div" class="student__links__ava">
                <img src="@/assets/images/burdenImg1.png" alt="" />
              </router-link>
            </div>
            <div class="column is-3 student__links__link">
              <router-link tag="div" to="#">
                https://ru/shkola/sudey/konstitucio
              </router-link>
            </div>
            <div class="column is-3">
              <router-link tag="div" to="#">
                {{$t('teacherOffice.constitutionalLaw')}}
              </router-link>
            </div>
            <div class="column is-2">
              <router-link tag="div" to="#">
                31.07.2020
              </router-link>
            </div>
            <div class="column is-2">
              <div class="student__links__status">
                Просмотренно
              </div>
            </div>
            <div class="column is-1 right">
              <d-dropdown up>
                <template #body>
                  <d-icon icon="more" style="width: 30px" class="custom-dropdown__trigger" @click="open = !open" />
                </template>
                <template #dropdown-menu>
                  <li>
                    <a href="#">
                      <d-icon icon="student-dashbord" class="is-blue size-1" />
                      {{$t('teacherOffice.announcements')}}
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <d-icon icon="information" class="is-blue size-1" />
                      Правила
                    </a>
                  </li>
                  <li>
                    <a href="#"> <d-icon icon="bin" class="is-blue size-1" /> {{ $t("studyDepartment.delete") }} </a>
                  </li>
                  <li>
                    <a href="#">
                      <d-icon icon="teacher-pen" class="is-blue size-1" />
                      {{$t('studyDepartment.edit')}}
                    </a>
                  </li>
                </template>
              </d-dropdown>
            </div>
          </div>
        </template>
      </d-lists>
      <div class="student__links__pagination right">
        <d-pagination v-model="pagination.page" :total="pagination.total" />
      </div>
    </div>
  </div>
</template>
<script>
import Tabs from "@/components/Tabs"
import GaleryBlock from "@/components/GaleryBlock"
import input from "@/components/inputs/input"
import select from "@/components/inputs/select"
import Lists from "@/components/Lists"
import Dropdown from "@/components/Dropdown"
import iconWrapper from "@/components/icons/iconWrapper"
import Pagination from "@/components/Pagination"

export default {
  components: {
    "d-tabs": Tabs,
    "d-video": GaleryBlock,
    "d-input": input,
    "d-select": select,
    "d-lists": Lists,
    "d-dropdown": Dropdown,
    "d-icon": iconWrapper,
    "d-pagination": Pagination
  },
  data() {
    return {
      value: null,
      id: null,
      lists: [],
      pagination: {
        page: 1,
        total: 123
      },
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      tabList: [
        {
          title: "Видео",
          tab: 1,
          selected: true
        },
        {
          title: this.$t('studentOffice.links'),
          link: 2,
          selected: false
        }
      ],
      videos: [
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        },
        {
          shareLink: "#",
          playLink: "#",
          title: "Хозяйственное процессуальное право лекция 1, введение",
          picture: require("@/assets/images/HiA9GLT.jpg")
        }
      ]
    }
  }
}
</script>
<style lang="scss">
@import "~@/assets/scss/base/_mixins.scss";
.student {
  .input {
    box-shadow: 0 3px 10px #a1a1a124;
    border: none;
    width: 327px;
    height: 38px;
    padding-right: 22px !important;
    padding-left: 22px !important;
    padding-bottom: 9px;
  }
  .control.has-icons-right .icon.is-right {
    right: 10px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    background-color: $white;
    padding: 25px 20px;
    height: calc(100% - 64px);
    .custom-dropdown {
      margin-right: 20px;
    }
    &__link {
      div {
        overflow-x: auto !important;
        //width: 100%;
      }
    }
    &__item {
      margin-bottom: 4px !important;
      .column {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
      }
      &:first-child {
        margin-top: 8px !important;
      }
      //&:last-child {
      //  margin-bottom: 0 !important;
      //}
    }
    &__status {
      color: $green;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: normal;
      &_red {
        color: $lred;
      }
    }
    &__ava {
      width: 41px;
      min-width: 41px;
      height: 41px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 20px;
      img {
        @include img;
      }
    }
    .column {
      display: flex;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .custom-dropdown__trigger {
    transform: rotate(90deg);
    fill: #9aa6bb;
    width: 18px !important;
    position: relative;
    //right: -10px;
  }
  .custom-tabs-left {
    div {
      min-width: unset !important;
      padding-right: 22px !important;
      padding-left: 22px !important;
    }
  }
  .galery-card__header--share {
    display: none;
  }
  .video__header__tabs {
    height: 34px;
    li {
      min-width: unset;
    }
  }
  &__select {
    display: flex;
    align-items: center;
    &__title {
      color: #565a61;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin-right: 20px;
    }
    .select-title {
      margin: 0 !important;
    }
    .vs__dropdown-toggle {
      width: 224px;
      height: 34px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 19px;
      background-color: $white;
      border: none;
    }
    .vs__dropdown-toggle {
      padding-bottom: 6px !important;
    }
    .vs__search {
      margin-top: 0;
      &:focus {
        margin-top: 0;
      }
    }
    .vs__actions {
      padding-top: 6px;
    }
    .vs__selected {
      margin-top: 0;
      height: 100%;
    }
    .vs__actions {
      padding-top: 0;
    }
    .vs__clear {
      display: flex;
      align-items: center;
    }
  }
}
</style>
