<template>
  <div class="regtable attable">
    <div class="is-flex mb-3" v-if="!attendance">
      <d-btn
        class="directory__modal-delete"
        @click="onRetakeClick"
        :disabled="retake && !retakeArr.length"
        color="blue"
        rounded
        :text="retake ? 'Продолжить' : 'Назначить дату пересдачи'"
      />
      <d-btn
        v-if="retake"
        class="directory__modal-delete ml-3"
        @click=";(retake = false), (retakeCol = null), (retakeArr = [])"
        color="grey"
        rounded
        text="Отмена"
      />
      <div class="ml-3 is-flex is-align-items-center" v-if="retake">
        <div v-if="retakeCol == null">
          Пожалуйста, выберите один из столбцов дат
        </div>
        <div v-if="retakeCol && !retakeArr.length">
          Пожалуйста, выберите одну из оценок
        </div>
        <div v-if="retakeArr.length">
          Нажмите кнопку продолжения
        </div>
      </div>
    </div>

    <SortedTable :values="userList" v-if="userList">
      <thead>
        <tr class="regtable__theader">
          <th scope="col" class="regtable__theader__themes">
            <div class="regtable__theader__themesth">
              <div name="index">№</div>
            </div>
          </th>
          <th scope="col" class="regtable__theader__themes">
            <div class="regtable__theader__themesth">
              <div name="name">{{ "" }}</div>
            </div>
          </th>
          <th
            scope="col"
            :class="[
              'regtable__theader__themes',
              { column_divider: isLastInterval(item) && index != eventList.length - 1 },
              { 'has-over-cursor': retake }
            ]"
            v-for="(item, index) in eventList"
            :key="index"
            @click="onColumnClick($event, index)"
          >
            <div class="regtable__theader__themesth">
              <div name="date">{{ $moment(item.date).format("DD-MM-YYYY") || $moment(item).format("DD-MM-YYYY") }}</div>
            </div>
            <div class="regtable__theader__themes_class">
              {{ item.interval_number }}
            </div>
          </th>

          <th class="regtable__theader__icon" v-if="!attendance"></th>
        </tr>
      </thead>
      <tbody slot="body" slot-scope="sort">
        <tr v-for="(student, index) in sort.values" :key="student.id">
          <td :class="['attable__body__item', { 'focus-overlay': retake }]">
            <div class="regtable__theme">
              {{ index + 1 }}
            </div>
          </td>

          <td :class="['attable__body__item', { 'focus-overlay': retake }]">
            <div class="regtable__theme">
              <div class="attable__body__img">
                <img :src="student.image || require('@/assets/images/person.png')" alt="Ava" />
              </div>
              <span class="has-text-left">
                {{ personName(student) }} <span class="expelled">{{ student.is_student ? "" : "(исключен)" }}</span></span
              >
            </div>
          </td>

          <td
            v-for="(item, index2) in eventList"
            :key="index2"
            :class="['attable__body__item', { column_divider: isLastInterval(item) && index2 != eventList.length - 1 }]"
          >
            <div
              :class="[
                'regtable__theme',
                { 'focus-overlay': retake ? retakeCol != index2 : false },
                { marked: retakeArr.includes(journalId(student, item)) },
                { 'has-over-cursor': retake && dateEvent(student, item) }
              ]"
              @click="onScoreClick(student, item, index2)"
            >
              {{ dateEvent(student, item) || "" }}
            </div>
          </td>
          <td v-if="!attendance" class="p-0">
            <div :class="['regtable__theme__icontd', { 'focus-overlay': retake }]">
              <d-icon v-if="!student.is_student" icon="more" class="regtable__theme__icon" />
              <d-dropdown up v-else>
                <template #body>
                  <d-icon icon="more" class="regtable__theme__icon" @click="open = !open" />
                </template>
                <template #dropdown-menu>
                  <li>
                    <a @click="$emit('keyModal', 'expelModal', student.id)">
                      Исключить
                    </a>
                  </li>
                </template>
              </d-dropdown>
            </div>
          </td>
        </tr>
      </tbody>
    </SortedTable>
  </div>
</template>
<script>
import iconWrapper from "@/components/icons/iconWrapper"

export default {
  data() {
    return {
      open: false,
      currLang: "ru",
      retake: false,
      retakeCol: null,
      retakeArr: []
    }
  },
  props: {
    list: {
      type: Array
    },
    register: Boolean,
    events: {
      type: Array
    },
    attendance: Boolean
  },
  components: {
    "d-icon": iconWrapper,
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-btn": () => import("@/components/buttons/loaderButton")
  },

  methods: {
    onRetakeClick() {
      if (this.retake) {
        this.$emit("keyModal", "retakeModal", this.retakeArr)
        return
      }
      this.retake = true
    },
    onScoreClick(student, item, indexCol) {
      if (this.retake) {
        let journalId = this.journalId(student, item)
        if (this.retakeCol == null) this.retakeCol = indexCol
        if (this.retakeCol == indexCol && journalId && !this.retakeArr.includes(journalId)) {
          this.retakeArr.push(journalId)
          return
        }
        const f = this.retakeArr.indexOf(journalId)
        if (f != -1) this.retakeArr.splice(f, 1)
      }
    },
    onColumnClick(e, index) {
      // console.log("on E click", e);
      if (this.retakeCol == null) this.retakeCol = index
      // this.retakeArr = e.pageX
    },
    isLastInterval(item) {
      let elem = (this.eventList || [])
        .slice()
        .reverse()
        .find(event => event.date == item.date)
      if (item.id == elem.id) {
        return true
      }
      return false
    },
    journalId(student, eventItem) {
      let listItem = student.journal.find(item => item.event == eventItem.id)
      // console.log("List item", listItem);
      if (listItem && listItem.id) return listItem.id
      return null
    },
    dateEvent(student, eventItem) {
      if (this.attendance) {
        let listItem = student.journal.find(item => item.event == eventItem.id)
        if (listItem) {
          // console.log("List item", listItem);
          return listItem.is_absent ? "н/б" : ""
        }
        return ""
      }
      let listItem = student.journal.find(item => item.event == eventItem.id)
      // console.log("List item", listItem);
      if (listItem && listItem.score) return listItem.score
      return ""
    },
    personName(person) {
      if (this.attendance) {
        return `${person.last_name} ${person.first_name} ${person.middle_name}`
      }
      return `${person.last_name} ${person.first_name} ${person.middle_name}`
    }
  },
  computed: {
    eventList() {
      return this.attendance ? this.events : this.events
    },
    userList() {
      return this.attendance ? this.list : this.list
    }
  }
}
</script>

<style lang="scss">
.attable__body__item {
  position: relative;
}

.marked {
  background-color: $lblue;
  color: white;
}

.has-over-cursor {
  cursor: pointer;
}

.focus-overlay {
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(222, 222, 222, 0.7);
    z-index: 2;
    pointer-events: none;
  }
}
</style>
