<template>
  <div class="columns is-multiline">
    <div class="column is-full is-multiline">
      <DTable :tableHeader="tableHeader" :tableBody="prepareTableBody" yourCustomClass="tbill" :additionalClasses="tableClasses"></DTable>
    </div>
  </div>
</template>
<script>
import DTable from "@/components/Table"
// import { text } from 'express';
export default {
  props: {
    controlList: Array,
    performance: Boolean
  },
  components: {
    DTable
  },
  computed: {
    prepareTableBody() {
      return this.prepareTopOfList.concat(this.prepareList)
    },
    prepareTopOfList() {
      return [
        {
          info: [
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Качественная оценка</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Качественная оценка</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Качественная оценка</div>"
            }
          ]
        }
      ]
    },
    prepareList() {
      return this.controlList.map(item => {
        return {
          id: item.id,
          info: [
            {
              // colspan: 1,
              // rowspan: 1,
              text: this.performance ? `${this.$nt(item.name)}` : `${item.last_name} ${item.first_name} ${item.middle_name}`
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: `<span class='tbill__body__marknumb ${this.giveColor(item.current_score_qa)}'>${item.current_score || "-"}</span>`
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: item.current_score_qa ? item.current_score_qa.name[this.currLang] : "-"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: `<span class='tbill__body__marknumb ${this.giveColor(item.intermediate_control_qa)}'>${item.intermediate_control || "-"}</span>`
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: item.intermediate_control_qa ? item.intermediate_control_qa.name[this.currLang] : "-"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: `<span class='tbill__body__marknumb ${this.giveColor(item.final_control_qa)}'>${item.final_control || "-"}</span>`
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: item.final_control_qa ? item.final_control_qa.name[this.currLang] : "-"
            }
          ]
        }
      })
    }
  },
  methods: {
    giveColor(item) {
      return item && item.id
        ? item.id == 1
          ? "tbill__body__marknumb_red"
          : item.id == 2
          ? "tbill__body__marknumb_orange"
          : "tbill__body__marknumb_green"
        : "-"
    }
  },
  data() {
    return {
      currLang: "ru",
      tableClasses: ["table", "is-bordered", "is-hoverable"],
      tableHeader: [
        {
          title: "",
          width: "30%",
          colspan: 1,
          rowspan: 2
        },
        {
          title: "<div class='tbill__header__thinner'>Текущий бал</div>",
          width: "calc(70% / 3)",
          colspan: 2,
          rowspan: 1
        },
        {
          title: "<div class='tbill__header__thinner'>Промежуточный бал</div>",
          width: "calc(70% / 3)",
          colspan: 2,
          rowspan: 1
        },
        {
          title: "<div class='tbill__header__thinner'>Итоговый бал</div>",
          width: "calc(70% / 3)",
          colspan: 2,
          rowspan: 1
        }
      ],
      tableBody: [
        {
          id: 0,
          info: [
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Качественная оценка</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Качественная оценка</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Баллы</div>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<div class='tbill__body__tdinner theader__balls__text'>Качественная оценка</div>"
            }
          ]
        },
        {
          id: 1,
          info: [
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Мавлянов Джурабек Комолович"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<span class='tbill__body__marknumb'>98/100</span>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Отлично"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<span class='tbill__body__marknumb'>98/100</span>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Отлично"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "<span class='tbill__body__marknumb'>98/100</span>"
            },
            {
              // colspan: 1,
              // rowspan: 1,
              text: "Отлично"
            }
          ]
        },
        {
          id: 2,
          info: [
            {
              colspan: 1,
              rowspan: 1,
              text: "Мавлянов Джурабек Комолович"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_red'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            }
          ]
        },
        {
          id: 3,
          info: [
            {
              colspan: 1,
              rowspan: 1,
              text: "Мавлянов Джурабек Комолович"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_orange'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "<span class='tbill__body__marknumb tbill__body__marknumb_red'>98/100</span>"
            },
            {
              colspan: 1,
              rowspan: 1,
              text: "Отлично"
            }
          ]
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.theader__balls__text {
  color: #9aa6bb;
}
</style>
