<template>
  <div class="regtable">
    <SortedTable :values="values">
      <thead>
        <tr class="regtable__theader">
          <th scope="col" class="regtable__theader__themes">
            <div class="regtable__theader__themesth">
              <SortLink name="name"> Название темы</SortLink>
            </div>
          </th>
          <th scope="col" class="regtable__theader__marks">
            <div class="regtable__theader__themesth regtable__theader__themesth_grey">
              <SortLink name="mark">Балы</SortLink>
            </div>
          </th>
          <th scope="col" class="regtable__theader__quality">
            <div class="regtable__theader__themesth regtable__theader__themesth_grey">
              <SortLink name="quality">Качество оценки</SortLink>
            </div>
          </th>
          <th class="regtable__theader__icon"></th>
        </tr>
      </thead>
      <tbody slot="body" slot-scope="sort">
        <tr v-for="value in sort.values" :key="value.id">
          <td>
            <div class="regtable__theme">
              <d-icon icon="information" class="regtable__theme__nameicon" v-if="value.mark <= 60" />
              <div class="regtable__theme__name">
                {{ value.name }}
              </div>
            </div>
          </td>
          <td class="regtable__theme__marktd">
            <div
              class="regtable__theme__mark"
              :class="{
                regtable__theme__mark_red: value.mark <= 60,
                regtable__theme__mark_yellow: value.mark <= 94 && value.mark >= 60
              }"
            >
              <span> {{ value.mark }}/100 </span>
            </div>
          </td>
          <td>
            <div class="regtable__theme__quality">
              {{ value.quality }}
            </div>
          </td>
          <td>
            <div class="regtable__theme__icontd">
              <d-icon icon="more" class="regtable__theme__icon" />
            </div>
          </td>
        </tr>
      </tbody>
    </SortedTable>
  </div>
</template>
<script>
import iconWrapper from "@/components/icons/iconWrapper"
export default {
  components: {
    "d-icon": iconWrapper
  },
  data() {
    return {
      values: [
        {
          name: "Мавлянов Джурабек Комолович",
          mark: 55,
          quality: "Удовлетворительно"
        },
        {
          name: "Ахмедов Миразиз Хуршидович",
          mark: 98,
          quality: "Удовлетворительно"
        },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" }
      ]
    }
  }
}
</script>
<style lang="scss">
//.regtable {
//  &__theader {
//    th {
//      height: 68px;
//    }
//    &__themes {
//      width: 40%;
//    }
//    &__themesth {
//      height: 100%;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      a {
//        color: $text-color;
//        font-size: 17px;
//        font-weight: 400;
//        letter-spacing: normal;
//        line-height: normal;
//      }
//      &_grey {
//        a {
//          color: $grey;
//          font-size: 15px;
//        }
//      }
//    }
//    &__marks {
//      width: 27%;
//    }
//    &__quality {
//      width: 33%;
//    }
//    &__icon {
//      width: 44px;
//      min-width: 44px;
//    }
//  }
//  table {
//    tr {
//      td {
//        height: 45px;
//      }
//    }
//  }
//  &__theme {
//    display: flex;
//    align-items: center;
//    padding-left: 50px;
//    position: relative;
//    &__icon {
//      transform: rotate(90deg) !important;
//      width: 15px;
//      min-width: 15px;
//      fill: $grey;
//      transition: 0.2s;
//      cursor: pointer;
//      &:hover {
//        transform: rotate(90deg) scale(1.2, 1.2) !important;
//      }
//    }
//    &__icontd {
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      height: 100%;
//    }
//    &__nameicon {
//      position: absolute;
//      top: 50%;
//      transform: translateY(-50%);
//      left: 17px;
//      width: 19px;
//      min-width: 19px;
//      height: 19px;
//      path {
//        fill: $lred;
//      }
//    }
//    &__name {
//      padding-left: 50px;
//    }
//    &__mark {
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      height: 100%;
//      span {
//        border-radius: 14px;
//        background-color: rgba(#69e4a6, 0.2);
//        padding: 0 15px;
//      }
//      &_red {
//        span {
//          background-color: rgba($lred, 0.2);
//        }
//      }
//      &_yellow {
//        span {
//          background-color: rgba(#ffca83, 0.2);
//        }
//      }
//    }
//    &__quality {
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      height: 100%;
//    }
//  }
//  table {
//  }
//  td,
//  th {
//    color: $text-color;
//    font-size: 17px;
//    font-weight: 400;
//    letter-spacing: normal;
//    line-height: normal;
//  }
//  tr {
//    border-bottom: 1.5px dashed #c7c7c7 !important;
//    &:hover {
//      background: rgba(#c7c7c7, 0.1);
//    }
//  }
//}
</style>
