<template>
  <div class="regtable">
    <SortedTable :values="list">
      <thead>
        <tr class="regtable__theader">
          <th scope="col" class="regtable__theader__themes">
            <div class="regtable__theader__themesth">
              <SortLink name="name"> Название темы</SortLink>
            </div>
          </th>
          <th scope="col" class="regtable__theader__marks">
            <div class="regtable__theader__themesth regtable__theader__themesth_grey">
              <SortLink name="mark">Балы</SortLink>
            </div>
          </th>
          <th scope="col" class="regtable__theader__quality">
            <div class="regtable__theader__themesth regtable__theader__themesth_grey">
              <SortLink name="quality">Качество оценки</SortLink>
            </div>
          </th>
          <th class="regtable__theader__icon"></th>
        </tr>
      </thead>
      <tbody slot="body" slot-scope="sort">
        <tr v-for="value in sort.values" :key="value.id">
          <td>
            <div class="regtable__theme">
              <d-icon icon="information" class="regtable__theme__nameicon" v-if="value.journal.length && value.journal[0].qa.id == 1" />
              <div class="regtable__theme__name">{{ value.last_name || "" }} {{ value.first_name || "" }} {{ value.middle_name || "" }}</div>
            </div>
          </td>
          <td class="regtable__theme__marktd">
            <div
              v-if="value.journal.length"
              class="regtable__theme__mark"
              :class="{
                regtable__theme__mark: !value.checked,
                regtable__theme__mark_green: value.journal[0].score >= 95,
                regtable__theme__mark_red: value.journal[0].score < 60,
                regtable__theme__mark_yellow: value.journal[0].score <= 94 && value.journal[0].score >= 60
              }"
            >
              <span> {{ value.journal[0].score + "/100" || "-" }} </span>
            </div>
            <div v-else class="regtable__theme__mark">
              <span> - </span>
            </div>
          </td>
          <td>
            <div class="regtable__theme__quality">
              {{ value.journal.length ? value.journal[0].qa.name.ru : "-" }}
            </div>
          </td>
          <td>
            <div class="regtable__theme__icontd">
              <d-icon icon="more" class="regtable__theme__icon" />
            </div>
          </td>
        </tr>
      </tbody>
    </SortedTable>
  </div>
</template>
<script>
import iconWrapper from "@/components/icons/iconWrapper"
export default {
  props: {
    list: Array
  },
  components: {
    "d-icon": iconWrapper
  },
  data() {
    return {
      values: [
        {
          name: "Мавлянов Джурабек Комолович",
          mark: 55,
          quality: "Удовлетворительно"
        },
        {
          name: "Ахмедов Миразиз Хуршидович",
          mark: 98,
          quality: "Удовлетворительно"
        },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" },
        { name: "Мрсагатов Аброр Абдуллаевич", mark: 88, quality: "Отлично" }
      ]
    }
  }
}
</script>
