<template>
  <div class="regtable attable">
    <SortedTable :values="userList" v-if="userList">
      <thead>
        <tr class="regtable__theader">
          <th scope="col" class="regtable__theader__themes">
            <div class="regtable__theader__themesth">
              <div name="index">№</div>
            </div>
          </th>
          <th scope="col" class="regtable__theader__themes">
            <div class="regtable__theader__themesth">
              <div name="name">{{ "" }}</div>
            </div>
          </th>
          <th
            scope="col"
            :class="['regtable__theader__themes', { column_divider: isLastInterval(item) && index != eventList.length - 1 }]"
            v-for="(item, index) in eventList"
            :key="index"
          >
            <div class="regtable__theader__themesth">
              <div name="date">{{ $moment(item.date).format("DD-MM-YYYY") || $moment(item).format("DD-MM-YYYY") }}</div>
            </div>
            <div class="regtable__theader__themes_class">
              {{ item.interval_number }}
            </div>
          </th>
        </tr>
      </thead>

      <tbody slot="body" slot-scope="sort">
        <tr v-for="(student, index) in sort.values" :key="student.id">
          <td class="attable__body__item">
            <div class="regtable__theme">
              {{ index + 1 }}
            </div>
          </td>

          <td class="attable__body__item">
            <div class="regtable__theme">
              <div class="attable__body__img">
                <img :src="student.image || require('@/assets/images/person.png')" alt="Ava" />
              </div>
              <span class="has-text-left">
                {{ personName(student) }} <span class="expelled">{{ student.is_student ? "" : "(исключен)" }}</span></span
              >
            </div>
          </td>

          <td
            v-for="(item, index2) in eventList"
            :key="index2"
            :class="['attable__body__item', { column_divider: isLastInterval(item) && index2 != eventList.length - 1 }]"
          >
            <div class="regtable__theme">
              {{ dateEvent(student, item) || "" }}
            </div>
          </td>
        </tr>
      </tbody>
    </SortedTable>
  </div>
</template>
<script>
// import iconWrapper from "@/components/icons/iconWrapper";

export default {
  data() {
    return {
      open: false,
      currLang: "ru",
      retake: false,
      retakeCol: null,
      retakeArr: []
    }
  },
  props: {
    list: {
      type: Array
    },
    register: Boolean,
    events: {
      type: Array
    },
    attendance: Boolean
  },
  components: {
    // "d-icon": iconWrapper,
    // "d-dropdown": () => import("@/components/Dropdown"),
    // "d-btn": () => import("@/components/buttons/loaderButton"),
  },

  methods: {
    isLastInterval(item) {
      let elem = (this.eventList || [])
        .slice()
        .reverse()
        .find(event => event.date == item.date)
      if (item.id == elem.id) {
        return true
      }
      return false
    },

    dateEvent(student, eventItem) {
      if (this.attendance) {
        let listItem = student.journal.find(item => item.event == eventItem.id)
        if (listItem) {
          // console.log("List item", listItem);
          return listItem.is_absent ? "н/б" : ""
        }
        return ""
      }
      let listItem = student.journal.find(item => item.event == eventItem.id)
      // console.log("List item", listItem);
      if (listItem && listItem.score) return listItem.score
      return ""
    },
    personName(person) {
      if (this.attendance) {
        return `${person.last_name} ${person.first_name} ${person.middle_name}`
      }
      return `${person.last_name} ${person.first_name} ${person.middle_name}`
    }
  },
  computed: {
    eventList() {
      return this.attendance ? this.events : this.events
    },
    userList() {
      return this.attendance ? this.list : this.list
    }
  }
}
</script>

<style lang="scss">
.attable__body__item {
  position: relative;
}

.marked {
  background-color: $lblue;
  color: white;
}

.focus-overlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(222, 222, 222, 0.7);
    z-index: 2;
    pointer-events: none;
  }
}
</style>
