.connection-detail {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  ::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    opacity: 0;
    overflow: hidden;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #adbcd4;
    border-radius: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $blue;
  }
  .question {
    width: 250px;
    min-width: 250px;
  }
  .answer {
    min-width: 190px;
  }
  &__tbtitle {
    display: flex;
    padding: 10px 30px;
    width: 100%;

    &__variants {
      display: flex;
      width: calc(100% - 310px);
      //padding: 15px 0 10px 0;
      overflow-x: auto;
      cursor: pointer;
      transition: 0.2s;
    }
    &__number {
      width: 60px;
      text-align: center;
    }
  }
  &__stbox {
    padding: 20px 21px 20px 30px !important;
    height: calc(100vh - 315px);

    &.new-feedback {
      &:before {
        width: 30px;
      }
    }
    &__scrollbox {
      overflow-y: auto;
      height: 100%;
      padding-right: 5px;
    }
  }
  &-header {
    &.custom-card {
      padding: 20px 30px;
      justify-content: unset;
    }

    &__select {
      .v-select.vs--single.vs--searchable {
        width: 60%;
        min-width: 200px;
      }
      .vs__clear {
        display: none;
      }
    }

    & > div {
      width: 33%;

      &:last-child {
        button {
          margin-left: auto;
          display: block;
        }
      }
    }
    &__total {
      width: auto !important;
      display: flex;
      align-items: center;
      span {
        font-weight: 600;
        margin-left: 5px;
      }
    }
    &.title-row {
      .main-title {
        font-size: 20px;
        font-weight: 600;
        font-size: 15px;
      }
    }

    &__questioned {
      text-align: center;
      font-size: 18px;

      span {
        font-weight: 600;
      }
    }
  }

  &-stickers {
    color: $grey;
    margin-top: 20px;
    padding: 0 !important;

    .columns {
      align-items: center;
      justify-content: center;
      padding: 0;

      & > .column:first-child {
        flex: none;
        width: 3.33%;
      }
    }

    &__number {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__percent {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-item {
    display: flex;
    margin-top: 20px;
    &:first-child {
      margin-top: 0px;
    }
    &__statistics {
      display: flex;
      overflow-y: auto;
      width: calc(100% - 250px);
    }
    &.custom-card {
      padding: 10px 30px;
    }

    > .columns {
      align-items: center;
      justify-content: center;

      & > .column:first-child {
        flex: none;
        width: 3.33%;
      }
    }

    &__number {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
    }
    &__bborder {
      display: flex;
      align-items: center;
      width: calc(100% - 60px);
      //border-bottom: 1px dashed $lightgrey;
      padding-bottom: 5px;
    }
    &__question {
      border-right: 2px dashed $lightgrey;
    }

    &__percent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
