.connection {
  background-color: white;
  flex: 1;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  padding: 20px !important;
  border-radius: 4px;
  overflow: hidden;

  &__header {
    margin-bottom: 10px;
    padding-left: 12px;
  }

  &__body {
    height: calc(100% - 30px);

    a {
      color: $text-color;
    }
    &__done {
      color: $lred;
      &_green {
        color: $green;
      }
    }
    &--more {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg.custom-dropdown__trigger {
        transform: rotate(90deg);
        width: 20px;
        float: right;
        fill: $grey;
        cursor: pointer;
      }

      .dropdown-menu {
        svg {
        }
      }
    }

    .columns {
      padding: 0 10px;
    }

    .lists-wrapper-header .columns,
    .lists-wrapper-content .columns {
      align-items: center;
    }
  }

  &__footer {
    margin-top: auto;
  }
}
