<template>
  <div class="page-section">
    <div class="create-program">
      <div class="create-program__header">
        <div class="create-program__title pl-3">
          <b> {{ $t("studyDepartment.add") }} </b>
        </div>
      </div>
      <div class="create-program__body pt-5">
        <div class="columns">
          <div class="column pl-5 pr-5">
            <div class="mb-5">
              <d-input :title="$t('teacherOffice.question')" :placeholder="$t('teacherOffice.enterTheText')" style="padding: 0;" />
            </div>
            <div class="mb-5">
              <d-select
                :placeholder="$t('studyDepartment.select')"
                title="Тип казуса"
                :options="options"
                label="title"
                v-model="id"
                class="grey-border whitout_close"
                :reduce="item => item.id"
              />
            </div>
            <div class="mb-5">
              <d-select
                :placeholder="$t('studyDepartment.select')"
                title="Выберите предмет"
                :options="options"
                label="title"
                v-model="id"
                class="grey-border whitout_close"
                :reduce="item => item.id"
              />
            </div>
            <div class="mb-5">
              <div class="checkbox-block">
                <div v-for="item in levels" :key="item.id">
                  <span :class="['mr-3', { 'is-green': item.checked }]">{{ item.level }}</span>
                  <d-checkbox size="small" class="isGreen" @change="item.checked = !item.checked" />
                </div>
              </div>
            </div>
          </div>
          <div class="column pr-5 pl-5">
            <div>
              <d-tabs :tab-list="tabList" class="small" />
            </div>
            <div class="mt-4">
              <d-textarea :placeholder="$t('teacherOffice.enterTheText')" rows="5" title="Текст вопроса" :disabled="false" :readonly="false" fixed />
            </div>
            <div class="mt-4">
              <d-textarea :placeholder="$t('teacherOffice.enterTheText')" rows="5" title="Текст ответа" :disabled="false" :readonly="false" fixed />
            </div>
          </div>
        </div>
      </div>
      <div class="create-program__footer pb-5">
        <div class="create-program-buttons columns">
          <div class="create-program-buttons__cancel column">
            <d-button :text="$t('studyDepartment.cancel')" class="grey px-5" />
          </div>
          <div class="create-program-buttons__save column right">
            <d-button :text="$t('studyDepartment.save')" class="blue px-5" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-input": () => import("@/components/inputs/input"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-select": () => import("@/components/inputs/select"),
    "d-checkbox": () => import("@/components/inputs/checkbox"),
    "d-tabs": () => import("@/components/Tabs")
  },
  data() {
    return {
      id: 1,
      tabList: [
        {
          title: this.$t('teacherOffice.russianLanguage'),
          tab: 1
        },
        {
          title: this.$t('teacherOffice.uzbekLanguage'),
          tab: 2
        }
      ],
      options: [
        {
          title: "test",
          id: 1
        },
        {
          title: "test",
          id: 2
        },
        {
          title: "test",
          id: 3
        },
        {
          title: "test",
          id: 4
        }
      ],
      levels: [
        { id: 1, level: "Легкий", checked: false },
        { id: 2, level: "Средний", checked: false },
        { id: 3, level: "Тяжелый", checked: false }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.checkbox-block {
  div {
    display: inline-block;
    margin-right: 10px;
    & > span {
      color: $grey;
    }
  }
}

.is-green {
  color: #8fdb86 !important;
}

.create-program {
  display: flex;
  flex: 1;
  flex-direction: column;
  &__header {
    color: $blue;
    font-size: 18px;
  }
  &__footer {
    margin-top: auto;
  }
}
</style>
