#preloader-wrapper {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  div {
    width: 120px;
    height: 120px;
    background-image: url('~@/assets/images/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
}

.vs__dropdown-option--highlight {
  background-color: $blue;
}

.right-aside {
  .aside-calendar {
    height: 270px;
    margin-bottom: 15px;
    flex: 1;
  }
  .aside-notes {
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 400px;
    margin-top: 20px;
    background-color: #fff;
    &__header {
      height: 50px;
      color: #fff;
      background-color: #1761AA;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px 3px 0 0;
    }
    &__body {
      padding: 15px 10px;
      .aside-notes__item {
        text-align: center;
        font-size: 14px;
      }
      .aside-notes__date {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #1761AA;
        font-size: 14px;
        svg {
          margin-right: 5px;
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      padding-bottom: 15px;
    }
  }
}



.content-main {
  display: flex;
  position: relative;
  .page-section {
    background-color: #fff;
    flex: 1;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
  }
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  flex-direction: column;
}

.align-items {
  &-center {
    align-items: center;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }
}
