@mixin marknumb {
  font-size: 16px;
  font-weight: 400;
  border-radius: 14px;
  padding: 3px 15px;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin black {
  background: #000;
}
@mixin deleteModal {
  .modal-window {
    &__header {
      padding-bottom: 0 !important;
    }
    &__body {
      padding-top: 0 !important;
      .education-groups__modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px 10px 20px;
        width: 100%;
        &__title {
          text-align: center;
          margin-bottom: 25px;
          font-size: 25px;
          font-weight: 600;
        }
        &__btns {
          display: flex;
          //justify-content: space-between;
        }
        &__delete {
          //background: $lred !important;
          margin-right: 15px;
          &:focus {
            //border: none !important;
          }
        }
      }
    }
  }
}
