.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

// slideLeftToRight
.slideLeftToRight-enter-active,
.slideLeftToRight-leave-active {
  transition: transform 0.3s, opacity 0.3s;
}

.slideLeftToRight-enter {
  transform: perspective(800px) translateX(100%);
  opacity: 0.5;
}

.slideLeftToRight-leave-to {
  transform: perspective(800px) translateX(-100%);
  opacity: 0;
  z-index: -1;
}

// flip
.flip-enter-active,
.flip-leave-active {
  transition: transform 0.3s, opacity 0.3s;
}

.flip-enter {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
  opacity: 0.5;
}

.flip-leave-to {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  opacity: 0;
  z-index: -1;
}
