
@import "./initial-variables";

/* main-colors */
$text-color: #38404b;
$grey: #9aa6bb;

$blue: #1761aa;
$bgblue: #114980;
$lblue: #2b6dae;

$white: #ffffff;
$bodycolor: #f9fafc;

$green: #27ae60;

$lred: #ff7285;

$badgeRed: #ff4d4d;
$badgeYellow: #f1d731;
$badgeGreen: #59e270;
$badgeOrange: #E19D14;

// subcolors

/* Fonts */
$pLight: "ProximaNova-Light", sans-serif;
$pRegular: "ProximaNova-Regular", sans-serif;
$pSemiBold: "ProximaNova-SemiBold", sans-serif;

$lightgreen: rgba(39, 174, 96, 0.2);
$lightred: rgba(255, 114, 133, 0.2);
$lightblue: rgba(61, 106, 183, 0.2);
$shadowcolor: rgba(161, 161, 161, 0.14);
$orange: #cf9255;
$lightgrey: #d3dbe8;
$hovergrey: #f5f7fb;

$dashedBorder: #BDC7D8;

$paddingCards: 20px 30px;

:export {
  blue: $blue;
  red: $lred;
  green: $green;
  grey: $grey;
}


$activeTab: #3D6AB7;

$primary: $blue !default;