<template>
  <div class="page-section teachers">
    <!-- header -->
    <div class="teachers__header">
      <div class="columns">
        <div class="column is-10">
          <div class="teachers__header__title">{{$t('teacherOffice.teachers')}}</div>
        </div>
        <div class="column is-2">
          <div class="teacher__header__input pl-3">
            <d-input icon="search" :placeholder="$t('teacherOffice.search')" size="small" type="text" alignIcon="right" v-model="searchInput" @input="searchAction" />
          </div>
        </div>
      </div>
    </div>
    <!-- list -->
    <div class="teachers__list">
      <d-lists :loading="loading" :len="list.length">
        <template #header>
          <div class="columns teachers__list__header px-0">
            <div class="column is-6 teachers__list__fio">Ф.И.О</div>
            <div class="column is-3 teachers__list__fio">{{ $t("studyDepartment.position") }}</div>
            <div class="column is-3 has-text-right right">
              <!-- <button
                class="add-btn icon-btn"
                @click="(modalSeen = true) && (modalMode = 'create')"
              >
                <d-icon-wrapper icon="accordion_plus" />
                <span> Добавить </span>
              </button> -->
            </div>
          </div>
        </template>
        <template #content>
          <div class="teachers__list__items">
            <div class="column teachers__list__item is-gapless" v-for="item in list" :key="item.id" @click="getDetail(item.id)">
              <div class="columns">
                <div class="column is-6 teachers__list__ava">
                  <div class="teachers__list__img">
                    <img :src="item.image || require('@/assets/images/person.png')" alt="Ava" />
                  </div>
                  <div class="teachers__list__name">
                    {{ item.first_name }} {{ item.last_name }}
                    {{ item.middle_name }}
                  </div>
                </div>
                <div class="column is-5 teachers__list__position is-capitalized">
                  {{ item.position }}
                </div>
                <div class="column right mr-3">
                  <!-- <d-dropdown up> -->
                  <!-- dropdown types
      1) default -> dropdown
      2) props "up" -> dropup
       -->
                  <!-- <template #body>
                      <d-icon
                        icon="more"
                        style="width: 30px; margin-top: 5px"
                        class="custom-dropdown__trigger"
                        @click="open = !open"
                      />
                    </template>
                    <template #dropdown-menu>
                      <li @click="remove(item.id)">
                        <a href="#">
                          <d-icon icon="bin" class="is-blue size-1" /> Удалить
                        </a>
                      </li>
                    </template>
                  </d-dropdown> -->
                </div>
              </div>
            </div>
          </div>
        </template>
      </d-lists>
    </div>
    <!-- pagination -->
    <div class="list__pagination">
      <d-pagination-input @change="fetch()" v-model="pagination.page" :total="count" :limit="pagination.limit" />
    </div>

    <!-- Modal -->
    <d-modal v-show="modalSeen" :title="modalTitle" @closemodal="openModal">
      <div class="columns is-gapless is-multiline teachers__detail mb-3" v-if="modalMode == 'detail'">
        <div class="column is-full teachers__detail__ava">
          <div class="teachers__detail__img">
            <img :src="teacherDetail.image || require('@/assets/images/person.png')" alt="Ava" />
          </div>
          <div class="teachers__detail__name">
            {{ teacherDetail.first_name }} {{ teacherDetail.last_name }}
            {{ teacherDetail.middle_name }}
          </div>
        </div>
        <div class="column is-full teachers__detail__info">
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.placeOfWork") }}:</div>
            <div class="column is-5">{{ teacherDetail.work_place || "-" }}</div>
          </div>
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.position") }}:</div>
            <div class="column is-5 is-capitalized">
              {{ teacherDetail.position || "-" }}
            </div>
          </div>
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.phoneNumber") }}:</div>
            <div class="column is-5">{{ teacherDetail.phone || "-" }}</div>
          </div>
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.emailAdress") }}:</div>
            <div class="column is-5">{{ teacherDetail.email || "-" }}</div>
          </div>
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.currentrYearLoad") }}:</div>
            <div class="column is-5">
              {{ teacherDetail.teaching_load || "-" }}
            </div>
          </div>
          <!-- can check -->
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.youCanCheckTheTest") }}:</div>
            <div class="column is-3">
              <div v-if="!check">{{ (checking && checking.name && $nt(checking.name)) || "-" }}</div>
              <d-select
                v-if="check"
                class="grey-2 height-min input-height"
                :placeholder="$t('studyDepartment.select')"
                label="name"
                :options="canCheckList"
                mil
                @change="selectChange('check')"
                v-model="checking"
                :reduce="el => el"
              />
            </div>
            <span @click="changeOrder('check')" v-if="!check" :title="$t('studyDepartment.change')" style="cursor: pointer" class="column is-2">
              <d-icon icon="teacher-pen" color="blue" class="is-blue size-05 mr-2" />
            </span>
            <div class="column is-2">
              <d-btn class="mt-1" v-if="check" size="is-small" text="OK" @click="changeOrder('check')" />
            </div>
          </div>
          <!-- can create -->
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.canCreateTest") }}:</div>
            <div class="column is-3">
              <div v-if="!create">{{ (creating && creating.name && $nt(creating.name)) || "-" }}</div>
              <d-select
                v-if="create"
                class="grey-2 height-min input-height"
                :placeholder="$t('studyDepartment.select')"
                label="name"
                :options="canCreateList"
                mil
                @change="selectChange('create')"
                v-model="creating"
                :reduce="el => el"
              />
            </div>
            <span @click="changeOrder('create')" v-if="!create" :title="$t('studyDepartment.change')" style="cursor: pointer" class="column is-2">
              <d-icon icon="teacher-pen" color="blue" class="is-blue size-05 mr-2" />
            </span>
            <div class="column is-2">
              <d-btn class="mt-1" v-if="create" size="is-small" text="OK" @click="changeOrder('create')" />
            </div>
          </div>
          <div class="columns">
            <div class="column is-7">{{ $t("studyDepartment.modulesInWhichHeTeaches") }}:</div>
            <div class="column is-5">
              <span v-if="!disciplineSelect">
                <span v-for="item in teacherDetail.disciplines" :key="item.id">
                  {{ $nt(item.name) + ", " }}
                </span>
                <span @click="addDiscipline" :title="$t('studyDepartment.change')" style="cursor: pointer">
                  <d-icon icon="teacher-pen" color="blue" class="is-blue size-05 mr-2" />
                </span>
              </span>
              <span v-else>
                <div class="columns">
                  <div class="column is-9 pt-3">
                    <d-select
                      class="grey-2 height-min input-height"
                      placeholder="Выберите дисциплину"
                      label="name"
                      :options="disciplineList"
                      title="Дисциплины"
                      multiple
                      ml
                      v-model="disciplineArr"
                      :reduce="el => el.id"
                    />
                  </div>
                  <div class="column p-0 pt-5">
                    <d-btn class="mt-4" :loading="disciplineLoading" size="is-small" text="OK" @click="sendDisciplineAction" />
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </d-modal>
  </div>
</template>
<script>
import input from "@/components/inputs/input"

import Modal from "@/components/Modal"
import iconWrapper from "@/components/icons/iconWrapper"

import { mapState, mapActions } from "vuex"

export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-btn": () => import("@/components/buttons/loaderButton"),
    "d-select": () => import("@/components/inputs/select"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-input": input,
    "d-pagination-input": () => import("@/components/PaginationInput"),

    "d-icon": iconWrapper,
    "d-modal": Modal
    // "d-dropdown": () => import("@/components/Dropdown"),
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10
      },
      disciplineLoading: false,
      loading: false,
      disciplineSelect: false,
      coverName: "",
      disciplineArr: [],
      disciplineList: [],
      form: {
        email: "",
        first_name: "",
        id: null,
        profile_image: null,
        last_name: "",
        middle_name: "",
        phone: null,
        username: "",
        work_place: "",
        password: "",
        teaching_load: null,
        disciplines: []
      },
      modalMode: null,
      searchInput: null,
      modalSeen: false,
      teacherDetail: null,
      canCheckList: [
        { name: { ru: "да", uz: "mumkin", en: "can" }, type: true },
        { name: { ru: "нет", uz: "mumkin emas", en: "can`t" }, type: false }
      ],
      canCreateList: [
        { name: { ru: "да", uz: "mumkin", en: "can" }, type: true },
        { name: { ru: "нет", uz: "mumkin emas", en: "can`t" }, type: false }
      ],
      canCheck: null,
      canCreate: null,
      check: false,
      create: false,
      checking: {
        name: null,
        type: null
      },
      creating: {
        name: null,
        type: null
      }
    }
  },
  watch: {
    searchInput() {
      if (this.searchInput == "" || this.searchInput == " ") this.fetch()
    }
  },
  computed: {
    ...mapState({
      list: state => state.teachersLearning.results,
      count: state => state.teachersLearning.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    //Dinamic modal title
    modalTitle() {
      return this.modalMode == "create" ? "Создать профиль" : this.modalMode == "edit" ? "Редактировать профиль" : "Профиль"
    }
  },
  methods: {
    ...mapActions("teachersLearning", ["getTeacherList", "uploadTeacher", "getTeacherDetail", "updateTeacherDiscipline", "removeTeacher"]),
    ...mapActions("learningLearningProgram", ["getDisciplineList", "setOrder"]),
    addDiscipline() {
      this.disciplineSelect = true
    },
    sendDisciplineAction() {
      if (this.$route.query.id) {
        this.updateTeacherDiscipline({
          id: this.$route.query.id,
          payload: JSON.stringify({ disciplines: this.disciplineArr })
        }).then(res => {
          this.disciplineLoading = true
          if (res.status == 200) {
            this.getDetail(this.$route.query.id)
            this.disciplineSelect = false
          }
          this.disciplineLoading = false

          this.disciplineArr = []
        })
      }
    },
    searchAction() {
      try {
        if (this.searchInput) {
          this.getTeacherList({
            search: this.searchInput,
            offset: this.offsetComputed,
            limit: this.pagination.limit
          }).then(res => {
            this.list = res
          })
        }
      } catch (err) {
        console.error(err)
      }
    },
    openModal() {
      try {
        if (this.modalSeen == true) {
          this.modalSeen = false
          this.modalMode = null
          this.$route.query.id = null
          this.check = false
          this.create = false
          this.checking = {
            name: null,
            type: null
          }
          this.creating = {
            name: null,
            type: null
          }
        } else if (this.modalSeen == false) {
          this.modalSeen = true
        }
      } catch (err) {
        console.error(err)
        return
      }
    },
    async getDetail(id) {
      try {
        if (id) {
          this.$route.query.id = id
          this.teacherDetail = await this.getTeacherDetail(id)
          // let cloneChecking = {
          //   name: this.teacherDetail.can_check_test ? this.canCheckList[0].name : this.canCheckList[1].name,
          //   type: this.teacherDetail.can_check_test
          // }
          this.$set(this.checking, "name", this.teacherDetail.can_check_test ? this.canCheckList[0].name : this.canCheckList[1].name)
          this.$set(this.checking, "type", this.teacherDetail.can_check_test)
          // console.log(this.checking.name)
          this.creating = {
            name: this.teacherDetail.can_create_test ? this.canCreateList[0].name : this.canCreateList[1].name,
            type: this.teacherDetail.can_create_test
          }
          // this.canCreate = this.teacherDetail.can_create_test
          this.getDisciplineList().then(res => (this.disciplineList = res))
          this.modalMode = "detail"
          this.openModal()
          // console.log(this.teacherDetail)
        }
      } catch (err) {
        console.error(err)
      }
    },
    async fetch() {
      this.loading = true
      try {
        await this.getTeacherList({
          offset: this.offsetComputed,
          limit: this.pagination.limit
        })
      } catch (err) {
        console.error(err)
      }
      this.loading = false
    },
    fileHandler(formKey, e) {
      // console.log(e.target.files[0].name, formKey)
      if (formKey == "file") {
        this.fileName = e.target.files[0].name
      } else this.coverName = this.form.profile_image = e.target.files[0].name
      if (e.target.files && e.target.files[0]) {
        this.form[formKey] = e.target.files[0]
      }
    },
    remove(id) {
      try {
        if (id) {
          this.removeTeacher(id)
        }
      } catch (err) {
        console.log(err)
      }
    },
    async upload() {
      try {
        await this.uploadTeacher(this.form).then(() =>
          this.getTeacherList({
            offset: this.offsetComputed,
            limit: this.pagination.limit
          })
        )
        await this.getTeacherList({
          offset: this.offsetComputed,
          limit: this.pagination.limit
        })
        this.modalSeen = !this.modalSeen
      } catch (err) {
        console.error(err)
      }
    },
    async edit(id) {
      try {
        await this.uploadTeacher({
          ...this.teacherDetail,
          profile_image: this.form.profile_image,
          id: id,
          password: this.form.password
        })
        await this.getTeacherList({
          offset: this.offsetComputed,
          limit: this.pagination.limit
        })
        this.modalSeen = !this.modalSeen
      } catch (err) {
        console.error(err)
      }
    },
    async changeOrder(name) {
      if (name === "check") {
        this.check = !this.check
        if (!this.check) {
          let clone = await this.setOrder({
            params: { can_check_test: this.teacherDetail.can_check_test },
            id: this.teacherDetail.id
          })
          this.teacherDetail.can_check_test = clone.can_check_test
        }
        // console.log(this.teacherDetail)
      } else if (name === "create") {
        this.create = !this.create
        // console.log(this.teacherDetail)
        if (!this.create) {
          let clone = await this.setOrder({
            params: { can_create_test: this.teacherDetail.can_create_test },
            id: this.teacherDetail.id
          })
          this.teacherDetail.can_create_test = clone.can_create_test
        }
      }
    },
    selectChange(name) {
      name === "check"
        ? this.$set(this.teacherDetail, "can_check_test", this.checking.type)
        : this.$set(this.teacherDetail, "can_create_test", this.creating.type)
      // console.log(this.teacherDetail)
    }
  },
  async mounted() {
    this.fetch()
  }
}
</script>

<style lang="scss" scoped>
.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

.tmodal {
  &__scroll {
    width: 100%;
    max-height: 65vh;
    overflow-y: auto;
    padding-right: 5px;
    overflow-x: hidden;
  }
  &__title {
    color: $text-color;
    margin-bottom: 9px;
    font-size: 17px;
    font-weight: 400;
  }
  &__upload {
    width: 100%;
    height: 34px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    background-color: #f4f5f8;
    cursor: pointer;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    border: none;
    &:active {
      background: $grey;
      color: #f4f5f8;
      svg {
        path {
          fill: #f4f5f8;
        }
      }
    }
  }
  &__upload + input {
    display: none;
  }
  .modal-window {
    width: 500px !important;
  }
  .modal-window__body {
    padding: 0 50px 44px 50px;
  }
  .modal-header__title {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  .field {
    margin-bottom: 28px;
  }
  .textarea {
    outline: none;
    box-shadow: unset !important;
  }
  .date-selector {
    margin: 0;
    width: 100%;
    .column {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .input {
    padding-left: 16px !important;
    padding-right: 16px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background-color: #f2f3f6 !important;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 9px;
    box-shadow: unset;
    &::-moz-placeholder {
      color: $grey;
    }
    &::-webkit-input-placeholder {
      color: $grey;
    }
    &::-ms-input-placeholder {
      color: $grey;
    }
  }
  .custom-select {
    cursor: pointer;
    select {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .v-select {
    margin-bottom: 28px;
  }
  .vs__dropdown-toggle {
    background-color: #f4f5f8;
  }
  .vs__search {
    margin-top: 0;
  }
  .vs__selected {
    margin-top: 0;
  }
  .vs__actions {
    display: flex;
    align-items: center;
    padding-top: 0;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
</style>
