<template>
  <div class="education-groups resadmin">
    <div class="education-groups__header title-row">
      <div class="main-title">
        <b>
          Проверка результатов вступительных экзаменов
        </b>
      </div>
      <div class="education-groups__header--search">
        <d-select :placeholder="$t('studyDepartment.allCourses')" :options="options" label="title" v-model="id" :reduce="item => item.id" />
        <d-select placeholder="Все группы" :options="options" label="title" v-model="id" :reduce="item => item.id" />
        <d-input
          size="small"
          :placeholder="$t('studyDepartment.search')"
          align-icon="right"
          icon="search"
          icon-width="14"
          :icon-color="iconColor"
        ></d-input>
      </div>
    </div>
    <div class="education-groups__body">
      <d-lists dashed-header>
        <template #header>
          <div class="columns">
            <div class="column is-full">
              <span>Ф.И.О</span>
            </div>
          </div>
        </template>

        <template #content>
          <router-link to="#" v-for="item in 10" :key="item + 32">
            <div class="columns education-groups__body__lists">
              <div class="column is-full">
                <div class="education-groups__body__img">
                  <img src="@/assets/images/burdenImg1.png" alt="Ava" />
                </div>
                <div class="education-groups__body__name">
                  Алимов Джахонгир Улугбекович
                </div>
              </div>
            </div>
          </router-link>
        </template>
      </d-lists>
    </div>
    <div class="admitted__footer">
      <div class="columns">
        <div class="column vertical-center">
          <small class="text-grey pl-4">Количество: 100</small>
        </div>
        <div class="column right">
          <d-pagination v-model="pagination.page" :total="pagination.total" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Lists from "@/components/Lists"
import Input from "@/components/inputs/input"
import variables from "@/assets/scss/base/_variables.scss"
export default {
  components: {
    "d-lists": Lists,
    "d-input": Input,
    "d-pagination": () => import("@/components/PaginationInput"),
    // "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    // "d-modal": () => import("@/components/Modal"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
    "d-select": () => import("@/components/inputs/select")
  },
  data() {
    return {
      pagination: {
        page: 1,
        total: 123
      },
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      iconColor: variables ? variables.grey : "",
      openModal: false,
      id: null
    }
  }
}
</script>
<style lang="scss">
.resadmin {
  .education-groups__header--search {
    display: flex;
    .select-title {
      margin: 0;
    }
    .v-select {
      width: 224px;
      height: 32px;
      margin-right: 30px;
    }

    .vs__dropdown-toggle {
      display: flex;
      align-items: center;
      height: 32px;
    }
    .vs__search {
      margin-top: 0;
    }
    .input {
      height: 32px;
      width: 269px;
    }
  }
}
</style>
