<template>
  <button
    class="button"
    type="button"
    :class="[loading ? 'is-loading' : null, rounded ? 'is-rounded' : null, size || null, color || null]"
    :disabled="loading || disabled"
    @click="$emit('click', $event)"
  >
    <span v-if="text">{{ text }}</span>
    <slot />
    <!-- Using 
        <d-button :loading="false" text="Test" size rounded color="blue" @click="test" disabled/>
        123</d-button> -->
  </button>
</template>

<script>
export default {
  inheritAttrs: true,
  props: {
    loading: {
      type: Boolean
    },
    disabled: {
      type: Boolean
    },
    text: {
      type: String
    },
    color: {
      type: String
    },
    rounded: {
      type: Boolean
    },
    size: {
      type: String
    }
  }
}
</script>

<style lang="scss">
.blue {
  &2 {
    background-color: $activeTab !important;
    color: #fff !important;
    &:focus {
      color: white;
    }
  }

  background-color: #1761aa !important;
  color: #fff !important;
  &:focus {
    color: white;
  }
}

.blue:hover {
  color: #fff;
}

.dgrey {
  background-color: #9aa6bb !important;
  color: #fff !important;
  border-radius: 4px;
}

button.grey {
  background-color: #bdc7d8 !important;
  color: #fff !important;
}
</style>
