<template>
  <div class="comments">
    <d-loading v-if="loading" />
    <template v-else>
      <div class="comments__ava">
        <div class="comments__ava__img">
          <d-avatar :item="student" />
          <span></span>
        </div>
        <div class="comments__ava__name">
          <span>
            {{ student.fullname }}
          </span>
          <span>
            <d-input
              size="small"
              :placeholder="$t('studyDepartment.search')"
              align-icon="right"
              icon="search"
              icon-width="14"
              v-model="searchInput"
              @input="fetchData"
            ></d-input>
          </span>
        </div>
      </div>
      <div class="comments__blocks">
        <h3 class="comments__title">Комментарии:</h3>
        <div class="comments__blocks__mesbox">
          <div class="comments__blocks__message" v-for="item in detail" :key="item.id">
            {{ item.text }}
            <span>
              {{ $moment(item.created_at).format("HH:mm") }}
            </span>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import Avatar from "@/components/Avatar"
import { mapActions } from "vuex"
import input from "@/components/inputs/input"
import Loading from "@/components/Loading-progress"

export default {
  components: {
    "d-avatar": Avatar,
    "d-input": input,
    "d-loading": Loading
  },
  data() {
    return {
      comments: [],
      detail: {},
      loading: true,
      student: null,
      height: 92,
      searchInput: ""
      // inputComment: "",
    }
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getComments", "createComment"]),

    fetchData() {
      this.getComments({
        id: this.$route.params.id,
        subId: this.$route.params.subId,
        [this.searchInput ? "params" : ""]: {
          search: this.searchInput
        }
      }).then(res => {
        this.detail = res.results
        this.student = res.student
        this.student.fullname =
          this.student.first_name || this.student.second_name || this.student.last_name
            ? `${this.student.first_name} ${this.student.second_name} ${this.student.last_name}`
            : "Не заполнено"
        this.loading = false
      })
    }
  }
}
</script>
<style lang="scss">
.comments {
  width: 100%;
  @mixin block {
    border-radius: 4px;
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    margin-bottom: 20px;
  }
  &__ava {
    @include block;
    display: flex;
    align-items: center;
    &__name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 15px;
    }
    &__img {
      width: 40px;
      min-width: 40px;
      height: 40px;
      .avatar-block {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__blocks {
    @include block;
    margin-bottom: 0;
    height: calc(100% - 90px);
    &__write {
      position: relative;
      padding: 8px 11px;
      max-height: 62px;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border: 1px solid #dce2eb;
      border-radius: 8px;
      background-color: #ffffff;
      overflow: hidden;
      top: -80px;
      .textarea {
        height: 100%;
        width: 100%;
        padding: 0;
        background: transparent;
        box-shadow: none !important;
        &:focus {
          border: none;
        }
      }
      .control {
        height: 100%;
      }
      .field {
        height: 100%;
        width: 100%;
        margin-bottom: 0;
      }
    }
    &__sendbtn {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 22px;
      height: 18px;
    }
    &__icon {
      fill: #bdc7d8;
      width: 100%;
      height: 100%;
    }
    &__mesbox {
      height: calc(100% - 33.5px);
      overflow-y: auto;
    }
    &__message {
      position: relative;
      background-color: #f6f6f6;
      padding: 15px;
      border-radius: 10px;
      border-bottom-left-radius: unset;
      width: fit-content;
      max-width: 50%;
      margin-bottom: 15px;
      margin-left: 5px;
      span {
        display: block;
        color: #bdc7d8;
        font-size: 13px;
        font-weight: 300;
        line-height: 10px;
        text-align: right;
        margin-top: 5px;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: -3.5px;
        border-top: 6px solid #f6f6f6;
        border-left: 6px solid #f6f6f6;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        transform: rotate(45deg);
      }
    }
  }
  &__title {
    color: #275395 !important;
    font-size: 19px !important;
    font-weight: 600 !important;
  }
}
</style>
