<template>
  <div class="commission-main">
    <div class="commission-main__top">
      <div class="commission-main__top__left">
        <div class="commission-main__top__left__left custom-card">
          <div class="title-row commission-main__bottom__left__header pl-0">
            <div class="main-title2 text-bold">
              <span>Заявления</span>
            </div>
          </div>
          <div class="is-flex doughnut-chart-content">
            <div class="doughnut-chart-labels">
              <div
                class="doughnut-chart-labels__item"
                v-for="(item, index) in doughnutChartDataCollection.datasets[0].backgroundColor"
                :key="index + 30"
              >
                <div class="doughnut-legend">
                  <div class="outer-circles" :style="{ 'background-color': item }"></div>
                  <div class="inner-circle" :style="{ 'background-color': item }"></div>
                </div>
                <span>{{ doughnutChartDataCollection.labels[index] }}</span>
              </div>
            </div>
            <div class="doughnut-chart">
              <div class="doughnut-chart__count">6 485</div>
              <d-doughnut-chart
                class="doughnut-chart__chart"
                :chart-data="doughnutChartDataCollection"
                :options="doughnutChartOptions"
              ></d-doughnut-chart>
            </div>
          </div>
        </div>
        <div class="commission-main__top__left__right custom-card">
          <div class="title-row group-members__header pl-0">
            <div class="main-title2 text-bold">
              <span>График по поступившим абитуриентам 2020 г.</span>
            </div>
          </div>
          <div class="commission-main__top__left__right--content">
            <div>
              <div>
                Грант: 15
              </div>
              <d-progress male></d-progress>
              <d-progress female></d-progress>
            </div>
            <div>
              <div>
                Грант: 15
              </div>
              <d-progress male></d-progress>
              <d-progress female></d-progress>
            </div>
          </div>
        </div>
      </div>
      <div class="commission-main__top__right custom-card">
        <d-avatar :item="{ src: require('@/assets/images/HiA9GLT.jpg') }" width="102" height="102" cover border></d-avatar>
        <div class="commission-main__top__right--name">
          Аминов Шухрат
          <br />Амирович
        </div>
        <div class="commission-main__top__right--age">
          Сотрудник приемной комиссии
        </div>
      </div>
    </div>
    <div class="commission-main__bottom">
      <div class="commission-main__bottom__left custom-card">
        <div class="title-row commission-main__bottom__left__header pl-0">
          <div class="main-title2 text-bold">
            <span>График по поступившим абитуриентам 2020 г.</span>
          </div>
        </div>
        <div class="line-legends">
          <div class="line-legends-item" v-for="(item, index) in lineChartDataCollection.datasets" :key="index">
            <div class="line-legends-item__legend" :style="{ 'background-color': item.borderColor }"></div>
            <div class="line-legends-item__label">
              {{ item.label }}
            </div>
          </div>
        </div>
        <d-line-chart @legend="handleLegend" :chart-data="lineChartDataCollection" :options="lineChartOptions" class="line-graph"></d-line-chart>
      </div>
      <div class="commission-main__bottom__right custom-card">
        <div class="title-row group-members__header pl-0">
          <div class="main-title2 text-bold">
            <span>{{$t('teacherOffice.listOfStudents')}}</span>
          </div>
        </div>
        <div class="commission-main__bottom__right--rows">
          <div class="columns commission-main__bottom__right--rows--row is-vcentered" v-for="(item, index) in imageList" :key="index">
            <div class="column">
              <d-avatar :item="item" width="32" height="32" cover></d-avatar>
            </div>
            <div class="column">{{ item.FIO }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DAvatar from "@/components/Avatar"
// import DIcon from "@/components/icons/iconWrapper";
import DProgress from "@/components/ProgressBar"

import DLineChart from "@/components/charts/LineChart.js"
import DDoughnutChart from "@/components/charts/DoughnutChart.js"
export default {
  components: {
    DAvatar,
    // DIcon,
    DProgress,
    DLineChart,
    DDoughnutChart
  },
  data() {
    return {
      lineChartDataCollection: null,
      doughnutChartDataCollection: null,
      legend: null,
      lineChartOptions: {
        legend: {
          display: false,
          align: "start",
          fillStyle: "blue",
          labels: {
            usePointStyle: true,
            boxWidth: 30
          }
        },
        elements: {
          point: {
            radius: 0
          }
        },

        // legendCallback: () => {
        //     // console.log(chart);
        //     const renderLabels = () => {
        //         // const { data } = chart;
        //         return `<li class="legend-li">
        //                     <div class="legend-item">

        //                     </div>
        //                 </li>
        //                 `
        //     };
        //     return `
        //         <ul class="chartjs-legend">
        //         ${renderLabels()}
        //         </ul>`;
        // },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              gridLines: {
                tickMarkLength: 0,
                color: "#EAF0F4",
                zeroLineColor: "#EAF0F4"
              },
              ticks: {
                padding: 20,
                beginAtZero: true,
                fontColor: "#38404B",
                stepSize: 10,
                fontSize: 14
              }
            }
          ],
          xAxes: [
            {
              gridLines: {
                tickMarkLength: 0,
                color: "#EAF0F4",
                zeroLineColor: "#EAF0F4"
              },
              ticks: {
                padding: 20,
                fontColor: "#9AA6BB",
                fontSize: 14
              }
            }
          ]
        }
      },
      doughnutChartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        cutoutPercentage: 80,
        legend: {
          display: false
        },
        title: {
          display: false
        }
      },
      imageList: [
        {
          src: require("@/assets/images/IMG_26561.png"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/HiA9GLT.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        },
        {
          src: require("@/assets/images/unnamed.jpg"),
          FIO: "Big_master Zikoi5 hhexio"
        }
      ]
    }
  },
  mounted() {
    this.fillData()
  },
  methods: {
    handleLegend(legend) {
      this.legend = legend
    },
    fillData() {
      let ctx = document.getElementById("line-chart")
      console.log("object", ctx)
      // let gradientFill = ctx.createLinearGradient(500, 0, 100, 0);
      // gradientFill.addColorStop(0, "rgba(128, 182, 244, 0.6)");
      // gradientFill.addColorStop(1, "rgba(244, 144, 128, 0.6)");
      this.lineChartDataCollection = {
        lineTension: 3,
        type: "line",
        labels: ["2015 г.", "2016 г.", "2017 г.", "2018 г.", "2019 г.", "2020 г."],
        datasets: [
          {
            label: "Data One",
            backgroundColor: "transparent",
            borderColor: "#6FD1F6",
            data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
          },
          {
            label: "Data One",
            backgroundColor: "background-image: linear-gradient(to bottom, #34517c, #6c789b, #9ea2bb, #cfcfdc, #ffffff);",
            borderColor: "#5758AC",
            data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
          }
        ]
      }
      this.doughnutChartDataCollection = {
        labels: ["Africa", "Asia", "Europe"],
        datasets: [
          {
            backgroundColor: ["#504DA6", "#6FD1F6", "#F0F3F8"],
            data: [2478, 734, 5267],
            borderWidth: 0
          }
        ]
      }
    },
    getRandomInt() {
      // console.log('lalal', this.$refs.canvas);
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
    getRandomInt2() {
      // console.log('lalal', this.$refs.canvas);
      return Math.floor(Math.random() * (6000 - 5 + 1)) + 5
    }
  }
}
</script>

<style lang="scss">
.commission-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 150px);

  .custom-card {
    padding: 24px 30px;
  }

  .doughnut-chart {
    width: 50%;
    position: relative;
    height: 100%;

    &__chart {
      height: 100%;
      width: 100%;
      position: relative;
    }

    &__count {
      position: absolute;
      top: 0;
      bottom: 0%;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
    }

    &-labels {
      width: 50%;

      &__item {
        display: flex;
        align-items: center;

        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }

    &-content {
      height: calc(100% - 65px);
      position: relative;
      margin-top: 15px;
      overflow: hidden;
    }
  }

  .doughnut-legend {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .outer-circles {
      border-radius: 50%;
      background-color: #504da6;
      opacity: 0.3;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .inner-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #504da6;
    }
  }

  &__top {
    height: 36%;
    flex: none;
    display: flex;

    &__left {
      flex: none;
      width: calc(76% - 25px);
      display: flex;

      &__left {
        flex: none;
        width: calc(50% - 12.5px);
      }

      &__right {
        margin-left: 25px;
        flex: none;
        width: calc(50% - 12.5px);
        display: flex;
        flex-direction: column;

        &--content {
          flex: 1;
          display: flex;
          margin: 10px 0 20px;

          & > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            & > div {
              &:first-child {
                font-size: 17px;
              }
            }

            &:first-child {
              padding-right: 20px;
            }

            &:last-child {
              padding-left: 20px;
            }

            & + div {
              padding-left: 20px;
              border-left: 1px dashed #dbdbdb;
            }
          }
        }
      }
    }

    &__right {
      margin-left: 25px;
      flex: none;
      width: 24%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--name {
        text-align: center;
        margin: 15px 0;
        font-size: 18px;
      }

      &--age {
        color: $grey;
        text-align: center;
      }
    }
  }

  &__bottom {
    margin-top: 25px;
    flex: none;
    height: calc(64% - 25px);
    display: flex;

    &__left {
      flex: none;
      height: 100%;
      width: calc(76% - 25px);
    }

    &__right {
      margin-left: 25px;
      height: 100%;
      flex: none;
      width: 24%;

      &--rows {
        height: calc(100% - 40px);
        overflow-y: scroll;
        overflow-x: hidden;
        margin-right: -10px;
        &--row {
          & > div {
            &:first-child {
              min-width: 56px;
              width: 10%;
              flex: none;
              display: flex;

              img {
                align-self: center;
              }
            }

            &:last-child {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .line-legends {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    &-item {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: 20px;
      }

      &__legend {
        width: 18px;
        height: 10px;
        margin-right: 10px;
        border-radius: 5px;
      }

      &__label {
        font-size: 14px;
        color: #38404b;
      }
    }
  }

  .line-graph {
    height: calc(100% - 95px);
    position: relative;
    margin-top: 7px;
  }
}
</style>
