<template>
  <div class="statements">
    <div class="columns">
      <div class="column">
        <p class="statements__title">Заявления</p>
      </div>
      <div class="column right">
        <d-input
          icon="search"
          :placeholder="$t('studyDepartment.search')"
          size="small"
          type="text"
          alignIcon="right"
          class="width-260 mr-2"
          v-model="searchInput"
          @input="fetch"
        />
      </div>
    </div>
    <d-lists :len="list && list.length" :loading="loading" dashedHeader class="statements__lists">
      <template #header>
        <div class="columns">
          <div class="column is-5"><span>Ф.И.О</span></div>
          <div class="column is-4"><span>Проверил</span></div>
          <div class="column is-3"><span>{{$t('teacherOffice.status')}}</span></div>
        </div>
      </template>

      <template #content>
        <div class="columns statements__lists__body" v-for="(item, index) in list" :key="index">
          <div class="column is-5 statements__lists__item">
            <router-link
              tag="div"
              :to="{
                name: 'cabinetCommissionStatementsId',
                params: { id: item.id }
              }"
              class="statements__lists__link"
            >
              <div class="statements__lists__img">
                <img :src="item.image" alt="Ava" />
              </div>
              <div class="statements__lists__name">
                {{ `${item.first_name} ${item.last_name} ${item.second_name}` }}
              </div>
            </router-link>
          </div>
          <div class="column is-4 statements__lists__item">
            <router-link
              tag="div"
              v-if="item.review.reviewer"
              :to="{
                name: 'cabinetCommissionStatementsId',
                params: { id: item.id }
              }"
              class="statements__lists__link"
            >
              <div class="statements__lists__img">
                <img :src="item.review.reviewer.profile_image" alt="Ava" />
              </div>
              <div class="statements__lists__name">
                {{
                  item.review.reviewer
                    ? `${item.review.reviewer.first_name} ${item.review.reviewer.last_name} ${item.review.reviewer.middle_name}`
                    : null
                }}
              </div>
            </router-link>
          </div>
          <div class="column is-3 statements__lists__item">
            <router-link
              tag="div"
              :to="{
                name: 'cabinetCommissionStatementsId',
                params: { id: item.id }
              }"
              class="statements__lists__link"
            >
              <d-icon
                :key="item.review.accepted"
                :icon="item.review.accepted === true ? 'check' : item.review.accepted === false ? 'close2' : 'help-question2'"
                class="statements__lists__icon"
              />
              <div class="statements__lists__status">
                {{ item.review.accepted === true ? "Проверено" : item.review.accepted === false ? "Запрос на получение данных" : "Без статуса" }}
                <!--                'check' || 'close2' || 'help-question2'-->
              </div>
            </router-link>
          </div>
        </div>
      </template>
    </d-lists>
    <div class="statements__footer right">
      <d-pagination-input @change="fetch()" v-model="pagination.page" :total="count" :limit="pagination.limit" />
    </div>
  </div>
</template>
<script>
import Lists from "@/components/Lists"
import iconWrapper from "@/components/icons/iconWrapper"

import { mapState, mapActions } from "vuex"

export default {
  components: {
    "d-lists": Lists,
    "d-icon": iconWrapper,
    "d-pagination-input": () => import("@/components/PaginationInput"),
    "d-input": () => import("@/components/inputs/input")
  },
  data: () => ({
    pagination: {
      page: 1,
      limit: 10
    },
    loading: true,
    searchInput: null
  }),
  computed: {
    ...mapState({
      list: state => state.commissionStatements.results,
      count: state => state.commissionStatements.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("commissionStatements", ["getApplicantsList"]),

    async fetch(search) {
      this.loading = true
      await this.getApplicantsList({
        [search ? "search" : ""]: this.searchInput,
        offset: this.offsetComputed,
        limit: this.pagination.limit
      })
      this.loading = false
    }
  },

  mounted() {
    this.fetch()
  }
}
</script>
<style lang="scss"></style>
