.fc__ {
  // &day__ {
  //   &number {
  //   }
  // }

  @mixin boder-style {
    border-width: 2px;
    border-style: solid;
  }

  &today__circle.fc-day {
    a.fc-daygrid-day-number {
      border-color: transparent;
      @include boder-style;
    }
  }

  &event__lesson.fc-day {
    a.fc-daygrid-day-number {
      border-color: #ced6e5;
      @include boder-style;
    }
  }

  &event__intermediate_control.fc-day {
    a.fc-daygrid-day-number {
      border-color: #ff7285;
      @include boder-style;
    }
  }

  &event__final_control.fc-day {
    a.fc-daygrid-day-number {
      border-color: #27ae60;
      @include boder-style;
    }
  }
}

.fc-license-message {
  display: none !important;
}

// table.fc-scrollgrid-sync-table td {
//   border-width: 0.5px;
// }
// table.fc-scrollgrid-sync-table a {
//   color: #000 !important;
//   font-weight: 200;
// }
// .fc-scrollgrid-sync-inner {
//   text-align: center;
// }

// .fc-dayGridMonth-view .fc-scroller,
// .fc-dayGridMonth-view .fc-scroller-liquid-absolute {
//   overflow: hidden !important;
// }

// .fc .fc-toolbar.fc-header-toolbar {
//   margin-bottom: 0.5em;
// }

// .fc-timegrid-col {
//   border: 2px solid #dbe1ea !important;
// }

// .fc-timegrid-cols .fc-timegrid-col:nth-child(1),
// .fc-timegrid-cols .fc-timegrid-col:nth-child(2) {
//   border: 0 none !important;
// }

// .fc-timegrid-cols .fc-timegrid-col:nth-child(2) {
//   border-left: 2px solid #dbe1ea !important;
//   border-bottom: 2px solid #dbe1ea !important;
//   border-top: 2px solid #dbe1ea !important;
// }
// .fc-toolbar-chunk h2 {
//   display: inline-block;
//   font-size: 18px !important;
//   text-transform: capitalize;
//   margin: 5px;
//   width: 100px;
//   text-align: center;
// }

// .fc .fc-scroller-harness-liquid {
//   border-bottom: 0.5px solid #dbdbdb;
// }
// .fc .fc-bg-event {
//   background-color: #fff;
//   color: #28c76f;
//   opacity: 1;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// div.fc-scrollgrid-sync-inner a {
//   color: #3d6ab7;
//   font-weight: 500;
//   text-transform: capitalize;
// }

// .fc .fc-scrollgrid-section-body table,
// .fc .fc-scrollgrid-section-footer table {
//   border-style: none;
// }

// .fc-day-future {
//   background-color: #fff;
// }

// .fc-day-other {
//   background-color: #f9fafc !important;
// }

// .fc-day-past {
//   background-color: #fff;
// }

// .fc-dayGridMonth-view tbody:last-child {
//   border-bottom: 1px solid #dbdbdb !important;
// }

// .fc .fc-scrollgrid table {
//   border-style: none;
// }

// .fc .fc-scrollgrid {
//   border: 0 none;
// }

// .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
//   position: relative;
//   left: -50px;
// }

// .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button {
//   border: 0 none;
// }

// /* .left-single-arrow {
// background-image: url('../../assets/icons/arow-left.svg');
// height: 15px;
// width: 15px;
// } */

// .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button.fc-button-primary {
//   border: 0 none !important;
//   border-radius: 50% !important;
//   background-color: #f4f6fa !important;
//   color: #bdc7d8 !important;
//   padding: 0 !important;
//   margin: 5px;
// }

// .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button.fc-button-active {
//   background-color: #3d6ab7 !important;
//   color: #fff !important;
//   border: 0 none;
// }

// .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) button.fc-button-primary {
//   border: 0 none !important;
//   border-radius: 50% !important;
//   background-color: #f4f6fa !important;
//   color: #bdc7d8 !important;
//   padding: 0 !important;
//   margin: 5px;
// }

// .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) button.fc-button-primary:hover {
//   background-color: #a5afc2 !important;
// }

// /* week */
// .fc-col-header tbody th.fc-col-header-cell {
//   background: transparent;
// }

// .fc-timeGridWeek-view div.fc-bg-event {
//   margin: 3px !important;
//   border-left: 3px solid #28c76f !important;
// }

// .fc-timeGridWeek-view .fc-scroller,
// .fc-timeGridWeek-view .fc-scroller-liquid-absolute {
//   overflow-y: scroll !important;
// }

// .fc .fc-button:focus,
// .fc .fc-button-primary:focus,
// .fc .fc-button-primary:not(:disabled):active:focus,
// .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
//   box-shadow: none !important;
// }

// .fc .fc-scroller-harness-liquid {
//   border: 0 none !important;
// }

// .fc-timeGridWeek-view .fc .fc-timegrid-col-bg .fc-bg-event {
//   margin: 3px !important;
// }

// .fc-timeGridWeek-view .fc .fc-event,
// .fc .fc-scrollgrid table tr {
//   height: 70px !important;
// }

// .fc-timeGridWeek-view .fc .fc-timegrid-bg-harness {
//   height: 70px !important;
//   margin: 2px !important;
// }

// .fc-timeGridWeek-view .fc-day-past a,
// .fc-timeGridWeek-view .fc-day-future a {
//   color: #b3bccc;
// }

// .fc-timeGridWeek-view .fc-day-today a {
//   color: #4c75bc;
// }

// .fc-timeGridWeek-view .fc .fc-event,
// .fc .fc-scrollgrid table tr {
//   height: 50px !important;
// }

// .fc-timeGridWeek-view .fc .fc-timegrid-axis-cushion,
// .fc .fc-timegrid-slot-label-cushion {
//   color: #b3bccc;
//   width: 50px;
//   text-align: left !important;
// }

// .fc-timegrid-divider .fc-cell-shaded {
//   display: none !important;
// }

// .fc .fc-daygrid-day-top {
//   flex-direction: row;
// }
// .fc-daygrid-event-harness:not(:first-child) {
//   display: none;
// }

// .fc-h-event {
//   background-color: transparent;
//   border-color: $grey;
//   color: $grey;
// }

// .fc-daygrid-day-events {
//   display: inline-block;
//   position: absolute;
//   top: 0;
//   width: 30px;
//   left: unset !important;
//   right: 0;

//   .calendar-plus {
//     background: transparent;
//     color: grey !important;
//   }
// }

// .fc-daygrid-body {
//   position: relative;
//   .test-router-link {
//     height: 50px;
//     width: 100px;
//     margin-bottom: -350px;
//     margin-left: -70px;
//     position: absolute;
//   }
//   .fc-day {
//     a {
//       border: 1px solid #ced6e5;
//       border-radius: 50% !important;
//       color: red;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       height: 38px;
//       width: 38px;
//       padding: 10px;
//       margin: 10px;
//     }
//   }
//   .fc-day-other {
//     background-color: #fff !important;
//     a.fc-daygrid-day-number {
//       border: 1px solid transparent !important;
//     }
//   }
//   .fc-day-today {
//     background-color: unset;
//     a.fc-daygrid-day-number {
//       border: 1px solid #7291c8 !important;
//     }
//   }
// }
// .fc-direction-ltr .fc-daygrid-event.fc-event-end,
// .fc-direction-rtl .fc-daygrid-event.fc-event-start a {
//   border-radius: 4px !important;
//   padding: 2px 5px !important;
//   margin-left: -10px !important;
//   position: relative !important;
//   bottom: -7px !important;
//   height: 22px;
//   width: 22px;
// }

.fc .fc-highlight {
  margin: -0.5em -0.75em;
}

.schedule-calendar__detail.fc .fc-toolbar {
  justify-content: unset;
}

.fc .fc-button:focus,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
}

.fc-daygrid-day:hover .calendar-plus {
  opacity: 1;
  z-index: 1111;
}

.calendar-plus {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid $grey;
  cursor: pointer;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  margin-left: auto;
  margin-right: 16px;
  margin-top: 16px;

  &:hover {
    opacity: 1;
    z-index: 1111;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
  }

  &:before {
    left: 10px;
    height: 14px;
    width: 2px;
    background: $grey;
    top: 4px;
  }

  &:after {
    top: 10px;
    left: 4px;
    height: 2px;
    width: 14px;
    background: $grey;
  }
}

.fc-day-other:hover .calendar-plus,
.fc-day-other .calendar-plus {
  opacity: 0;
  pointer-events: none;
}
