<template>
  <div class="teachlib">
    <div class="teachlib__header">
      <!--      <d-tabs-->
      <!--        :value="tab"-->
      <!--        :tab-list="tabList"-->
      <!--        class="video__header__tabs"-->
      <!--        @item="onTabChange"-->
      <!--      />-->
      <d-input
        :placeholder="$t('teacherOffice.searchForBookOrAuthor')"
        icon="search"
        size="small"
        rounded
        type="text"
        alignIcon="right"
        class="teachlib__header__input"
        @input="fetchData"
      />
      <d-btn text="Добавить" color="blue" class="teachlib__header__btn" @click="openModal = !openModal" />
      <d-teacher-modal :openModal="openModal" :tab="tab" @toggleModal="openModal = !openModal" @updateData="fetchData" />
    </div>
    <div class="teachlib__book" v-if="tab == 1">
      <div class="teachlib__blinks">
        <h3 class="teachlib__blinks__title">
          {{$t('teacherOffice.books')}}
        </h3>

        <d-loader v-if="loading" />
        <div v-else-if="!bookList.length" class="teachlib__blinks__empty">
          {{ $t("studyDepartment.empty") }}
        </div>
        <template v-else>
          <router-link
            :to="{
              name: 'cabinetLibraryLibraryId',
              params: { id: item.id }
            }"
            tag="div"
            class="teachlib__blinks-block"
            v-for="item in bookList"
            :key="item.id"
          >
            <div class="teachlib__blinks-block__img">
              <img :src="item.image || defImg" alt="Обложка книги" />
            </div>
            <div class="teachlib__blinks-block__text">
              <div>
                <div class="teachlib__blinks-block__title">
                  {{ $nt(item.title) }}
                  <d-dropdown down>
                    <template #body>
                      <d-icon icon="more" style="width: 30px" :class="['custom-dropdown__trigger', item.checked ? 'not-clicked' : null]" />
                    </template>
                    <template #dropdown-menu>
                      <li @click="removeItem(item)" class="px-2 py-2">
                        {{ $t("studyDepartment.delete") }}
                      </li>
                    </template>
                  </d-dropdown>
                </div>
                <div class="teachlib__blinks-block__descr">
                  {{ $nt(item.description) }}
                </div>
              </div>
              <div>
                <div class="teachlib__blinks-block__info teachlib__blinks-block__info_teacher">
                  <span>{{$t('teacherOffice.volume')}}: {{ item.page_count }} стр.</span>
                  <span>{{$t('studyDepartment.type')}}: {{ $nt(item.book_type) }}</span>
                  <span>{{$t('teacherOffice.yearOfPublication')}}: {{ $moment(item.publish_date).format("LL") }}</span>
                  <span>{{$t('teacherOffice.category')}}: {{ $nt(item.category) }}</span>
                </div>
              </div>
            </div>
          </router-link>
        </template>
      </div>
      <div class="teachlib__bfilter">
        <h3 class="teachlib__blinks__title">{{$t('teacherOffice.filter')}}</h3>
        <div class="teachlib__bfilter-wrapper" v-if="books.category.length">
          <h3 class="teachlib__blinks__title">{{$t('teacherOffice.category')}}</h3>
          <d-aside-checks :list="books.category" />
        </div>
        <div class="teachlib__bfilter-wrapper" v-if="books.typeofbook.length">
          <h3 class="teachlib__blinks__title">{{$t('studyDepartment.type')}}</h3>
          <d-aside-checks :list="books.typeofbook" />
        </div>
        <div class="teachlib__bfilter-wrapper" v-if="books.year.length">
          <h3 class="teachlib__blinks__title">{{$t('teacherOffice.yearOfPublication')}}</h3>
          <!--          <d-aside-checks :list="books.year" />-->
          <d-pagination-select
            :placeholder="$t('studyDepartment.select')"
            multiple
            label="name"
            module="library/getFilterYear"
            v-model="flags.year"
            :reduce="item => item.name"
          />
        </div>
      </div>
    </div>
    <div class="teachlib__video" v-else>
      <div class="teachlib__vlib">
        <h3 class="teachlib__blinks__title">
          Видео матриалы
        </h3>
        <d-loader v-if="loading" />
        <div v-else-if="!bookList.length" class="teachlib__blinks__empty">
          {{ $t("studyDepartment.empty") }}
        </div>
        <template v-else>
          <router-link
            tag="div"
            class="teachlib__vlib-item"
            :to="{
              name: 'cabinetLibraryLibraryIdVideo',
              params: { id: item.id }
            }"
            v-for="item in bookList"
            :key="item.id"
          >
            <div class="teachlib__vlib-item__img">
              <img :src="item.image || defVideoImg" alt="" />
              <d-icon icon="play" />
            </div>
            <div class="teachlib__vlib-item__info">
              <div class="teachlib__vlib-item__title">
                <span>
                  {{ $gv(item.title) }}
                </span>
                <d-dropdown down>
                  <template #body>
                    <d-icon icon="more" style="width: 30px" :class="['custom-dropdown__trigger', item.checked ? 'not-clicked' : null]" />
                  </template>
                  <template #dropdown-menu>
                    <li @click="removeItem(item)">
                      <a href="#"> {{ $t("studyDepartment.delete") }} </a>
                    </li>
                  </template>
                </d-dropdown>
              </div>
              <div class="teachlib__vlib-item__text">
                <span> {{$t('studyDepartment.module')}}: {{ $nt(item.module) }} </span>
                <span> {{$t('studentOffice.time')}}: {{ item.duration }} мин. </span>
                <span>
                  Дата добавленя:
                  {{ $moment(item.created_at).format("DD.MM.YYYY") }}
                  <span v-if="item.my"> {{$t('teacherOffice.yourVideo')}} </span>
                </span>
              </div>
            </div>
          </router-link>
        </template>
      </div>

      <div class="teachlib__vfilter">
        <h3 class="teachlib__blinks__title">{{$t('teacherOffice.filter')}}</h3>
        <div class="teachlib__bfilter-wrapper" v-if="books.category">
          <h3 class="teachlib__blinks__title">{{$t('teacherOffice.category')}}</h3>

          <d-aside-checks :list="books.category" />
        </div>
        <div class="teachlib__bfilter-wrapper" v-if="books.moduleofvideo">
          <h3 class="teachlib__blinks__title">{{$t('studyDepartment.module')}}</h3>
          <d-aside-checks :list="books.moduleofvideo" />
        </div>
      </div>
    </div>
    <d-pagination
      v-if="bookList.length"
      @change="fetchData"
      class="teachlib__pagination"
      v-model="pagination.page"
      :total="pagination.total"
      :limit="pagination.limit"
    />
  </div>
</template>
<script>
// import Tabs from "@/components/Tabs";
import input from "@/components/inputs/input"
import loaderButton from "@/components/buttons/loaderButton"
import libAccordion from "@/components/accordion/libAccordion"
import iconWrapper from "@/components/icons/iconWrapper"
import Dropdown from "@/components/Dropdown"
import { mapActions, mapState } from "vuex"
import PaginationInput from "@/components/PaginationInput"
import teacherLibModal from "@/components/modals/teacherLibModal"
export default {
  components: {
    // "d-tabs": Tabs,
    "d-input": input,
    "d-btn": loaderButton,
    "d-aside-checks": libAccordion,
    "d-icon": iconWrapper,
    "d-dropdown": Dropdown,
    "d-loader": () => import("@/components/Loading-progress"),
    "d-pagination-select": () => import("@/components/inputs/pagination-select"),
    "d-pagination": PaginationInput,
    "d-teacher-modal": teacherLibModal
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 5,
        total: 0
      },
      openModal: false,
      openShareModal: false,
      loading: true,
      defImg: require("@/assets/images/books.png"),
      defVideoImg: require("@/assets/images/scale_1200.jpg"),
      years: [],
      tab: 1,
      mailing: {
        students: [],
        student_groups: []
      },
      tabList: [
        {
          title: this.$t('teacherOffice.books'),
          tab: 1,
          selected: true
        },
        {
          title: this.$t('teacherOffice.videoMaterials'),
          tab: 2,
          selected: false
        }
      ],
      bookList: [],
      flags: {
        category: [],
        typeofbook: [],
        year: [],
        moduleofvideo: []
      },
      books: {
        category: [],
        typeofbook: [],
        year: [],
        moduleofvideo: []
      }
    }
  },
  computed: {
    ...mapState({
      filterItem: state => state.teacherLibrary.filterItem
    }),
    flagYear() {
      return this.flags.year
    },
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  watch: {
    filterItem: {
      handler(val) {
        if (!val.checked && val.children && val.children.length) {
          this.removeItemFromFlags(val, val.id)
          this.removeChilds(val)
        } else if (this.flags[val.criterion].some(id => id == val.id) && !val.checked) {
          this.removeItemFromFlags(val, val.id)
        } else {
          this.flags[val.criterion].push(val.id)
          if (val.parent && this.flags[val.criterion].some(id => id == val.parent)) {
            this.removeItemFromFlags(val, val.parent)
          }
        }

        this.fetchData()
      }
    },
    $route: {
      handler() {
        if (this.$route.query.tab) {
          this.tab = this.$route.query.tab
        }
      },
      immediate: true
    },
    flagYear: {
      handler: "fetchData"
    }
  },
  methods: {
    ...mapActions("library", ["getBookList", "uploadBook", "getFilter", "getVideoList", "removeMedia", "sendMailingVuex"]),

    //Filter
    removeChilds(val) {
      val.children.forEach(item => {
        if (this.flags[val.criterion].some(id => id == item.id)) {
          this.removeItemFromFlags(item, item.id)
          if (item.children && item.children.length) {
            this.removeChilds(item.children)
          }
        }
      })
    },
    removeItemFromFlags(val, valId) {
      const f = this.flags[val.criterion].findIndex(id => id == valId)
      if (f != -1) {
        this.flags[val.criterion] = [...this.flags[val.criterion].slice(0, f), ...this.flags[val.criterion].slice(f + 1)]
      }
    },
    putCriterion(items, criterion) {
      return items.forEach(item => {
        this.$set(item, "criterion", criterion)
        if (item.children && item.children.length) {
          this.putCriterion(item.children, criterion)
        }
      })
    },

    getAllFilter() {
      Object.keys(this.books).forEach(key => {
        this.getFilter(key).then(res => {
          if (res && res.data) {
            this.putCriterion(res.data.results, key)
            this.books[key] = res.data.results
          }
        })
      })
    },
    //Fetch Booklist
    fetchData(e) {
      this.loading = true
      let payload = {
        search: typeof e == "string" ? e : "",
        category: this.flags.category.join(",") || [],
        offset: this.offsetComputed,
        limit: this.pagination.limit
      }
      let params =
        this.tab == 1
          ? {
              ...payload,
              book_type: this.flags.typeofbook.join(",") || [],
              publish_year: this.flags.year.join(",") || []
            }
          : { ...payload, module: this.flags.moduleofvideo.join(",") || [] }
      let media = this.tab == 1 ? "librarybook" : "videomaterial"
      this.getBookList({ media, params }).then(res => {
        if (res && res.data) {
          this.pagination.total = res.data.count
          this.bookList = res.data.results
          this.loading = false
        }
      })
    },

    //Tab Changed
    onTabChange(e) {
      this.$router.push({ query: { tab: e.tab } }, () => {})
      this.tab = e.tab
      this.bookList = []
      this.pagination.page = 1
      Object.keys(this.books).forEach(key => {
        this.books[key] = []
        this.flags[key] = []
      })

      this.getAllFilter()
      this.fetchData()
    },
    //Remove Book
    removeItem(item) {
      if (item.id) {
        try {
          let media = this.tab == 1 ? "librarybook" : "videomaterial"
          this.removeMedia({ id: item.id, media: media }).then(res => {
            if (res.status == 204) {
              let t = this.tab == 1 || this.media == "book" ? "a" : ""
              this.$store.dispatch("snackbar/changeToasts", {
                text: `${t == "a" ? "Книга" : "Видео"} "${this.$gv(item.title)}" успешно удален${t}!`,
                color: "success"
              })
            }
            this.fetchData()
          })
        } catch (err) {
          console.error(err)
          return
        }
      }
    }
  },
  mounted() {
    for (let i = 0; i < 50; i++) {
      let year = 2020
      year -= i
      let yearObj = {
        title: year + "",
        id: i + 1
      }
      this.years.push(yearObj)
    }
    this.fetchData()
    this.getAllFilter()
  }
}
</script>
<style lang="scss" scoped>
.teachlib {
  &__blinks {
    &__empty {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      padding: 20px 0;
    }

    &-block {
      overflow: hidden;
    }
  }
}
</style>
