.accordion {
  $accordion-blue: #3d6ab7;
  $border_title_bottom: #bdc7d8;
  $btn_bg_color: #eff4fc;

  .badger-accordion__header {
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 6px;
    background-color: #ffffff;
  }
  .badger-accordion__panel {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    transform: translateY(-5px);
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 20px;
    &.-ba-is-active {
      padding-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .js-badger-accordion-header.-ba-is-active {
    .badger-accordion-title {
      border-bottom: 2px dashed $border_title_bottom;
    }
    .accordion__header__icon {
      .icon {
        transform: rotate(-180deg);
      }
    }
  }
  .badger-accordion-toggle {
    outline: none;
  }
  .badger-accordion-title {
    display: flex;
    flex: 0 0 100% !important;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__header {
    width: 100%;
    height: 55px;
    align-items: center;

    &__title {
      font-weight: normal;
      font-size: 18px;
      text-align: left;
      color: $accordion-blue !important;
    }
    &__icon {
      display: flex;
      justify-content: flex-end;
      .icon {
        width: auto;
        height: auto;
        transition: 0.2s;
      }

      path {
        fill: $accordion-blue;
        stroke: $accordion-blue;
      }
    }
  }
  &__content {
    padding-bottom: 20px;
    &__title {
      padding-top: 25px;
      margin-bottom: 20px;
      .column:last-child {
        display: flex;
        justify-content: flex-end;
      }
      span {
        color: $grey;
        font-size: 16px;
        font-weight: 400;
      }
    }
    &__list {
      span {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
      }
      .column {
        &:nth-child(1) {
          color: $grey;
          font-size: 18px;
          font-weight: 600;
        }
      }

      &:hover {
        span {
          color: $green;
        }
      }
      .column {
        &:last-child {
          display: flex;
          justify-content: flex-end;
          button {
            cursor: pointer;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: none;
            outline: none;
            background: $green;
          }
        }
      }
    }
    &__btn {
      display: flex;
      align-items: flex-end;
      border-radius: 18px;
      background-color: $btn_bg_color;
      padding: 0 16px 5px;
      border: none;
      color: $grey;
      font-size: 14px;
      font-weight: 400;
      transition: 0.2s;
      span {
        margin-left: 7px;
        line-height: 11px;
      }
      &:hover {
        color: $btn_bg_color;
        background-color: $grey;
        span {
          color: $btn_bg_color;
        }
      }
    }
  }
}
