.avatar-block {
    display: inline-block;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    object-fit: contain;
    object-position: center;

    &.bordered {
        border: 2px solid $grey;
    }

    &.rectangled {
        border-radius: 0;
        border-radius: 7px;
    }

    &.cover {
        object-fit: cover;
    }
}

.avatar-column {
    flex: none;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}