.breadcrumb {
  &.custom-breadcrumb {
    margin-bottom: 25px;
    ul {
      margin-left: 0;

      a {
        padding: 0 20px;
        color: $lblue;

        &:hover {
          text-decoration: underline;
        }
      }

      li {
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }

      li + li {
        margin-top: 0;

        &::before {
          content: "";
          background-image: url("~@/assets/icons/angle-right.svg");
          background-repeat: no-repeat;
          width: 8px;
          height: 10px;
          background-size: 9px 10px;
        }
      }

      .is-active {
        pointer-events: none;

        a {
          color: $text-color;
        }
      }
    }
    &.not-links {
      ul {
  
        li + li {
          margin-top: 0;
  
          &::before {
            content: "";
            background-image: url("~@/assets/icons/angle-right(black).svg");
            background-repeat: no-repeat;
            width: 8px;
            height: 10px;
            background-size: 9px 10px;
          }
        }
      }
    }
  }
}
