@import "../base/variables";
@import "../base/mixins";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 70px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  z-index: 10;
  transition: all 0.3s ease-in-out;
  &.anime_header {
    left: 100px;
  }
  &-menu {
    &__item {
      margin-right: 50px;
      font-size: 18px;
      line-height: 24px;
      font-family: $pRegular;
      color: $text-color;
      font-size: 16px;

      &:hover {
        color: $blue;
      }

      &.active {
        color: $blue;
      }
    }
  }
  &-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    // box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    z-index: 10;

    &__item {
      display: flex;
      align-items: center;
      padding: 0 20px;
      height: 40px;
      border-left: 1px solid #bdc7d8;

      &:first-child,
      &:last-child {
        border: 0;
      }

      .header-search {
        svg {
          transform: scale(1.5);
          cursor: pointer;
          fill: #d9dfe9;
        }
      }
    }
  }
  &-search {
    display: flex;
  }
  &-lang {
    & .select {
      & select {
        border: none;
        outline: none;
        box-shadow: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      &::after {
        width: 0.5em !important;
        height: 0.5em !important;
        margin-top: -0.25em !important;
        border-width: 2px !important;
      }
    }
  }
  &-notification {
    display: flex;
  }

  &-account {
    display: flex;
    align-items: center;
    cursor: pointer;

    & img {
      width: 50px;
      min-width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #dadfe6;
    }
  }
}
