.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.notify-card {
  height: 340px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-header {
    text-align: center;
    /* display: flex; */
    background: $blue;
    padding: 15px;

    &__title {
      /* padding: 10px; */
      /* background: blue; */
      max-width: 80%;
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      color: $white;
      margin-bottom: 0 !important;
      font-size: 18px;
    }
    &__item {
      position: absolute;
      right: 10px;
      padding-left: 5px;
      top: 0;
      height: 58px;
      width: 28px;
      display: flex;
      align-items: center;

      & > div {
        cursor: pointer;
      }

      svg {
        width: 18px;
        fill: white;
        margin: auto;
      }
    }
  }

  &-content {
    padding: 20px;
    padding-bottom: 0;
    overflow: hidden;
  }

  &-footer {
    padding: 20px;
    margin-top: auto;
    justify-self: end;

    &__number {
      font-size: 14px;
      color: $grey;
      margin-bottom: 10px;
    }

    &__avatars {
      display: flex;

      &--item {
        display: flex;
        cursor: pointer;
        flex: none;
        // align-items: center;
        width: 16.6%;

        // &:not(:first-child) {
        //     margin-left: 5px;
        // }

        // img {
        //   margin: 0 auto;
        // }

        &.more-child {
          & > div {
            border-radius: 50%;
            max-width: 40px;
            height: 40px;
            background-color: $lightgrey;
            display: flex;
            align-items: center;
            flex: 1;
            // margin: 0 auto;

            svg {
              width: 18px;
              fill: white;
              transform: rotate(90deg);
              margin: auto;
            }
          }
        }
      }
    }
  }
}
