@import "../base/variables";
@import "../base/mixins";

.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  padding: 0 25px;
  background-color: $bgblue;
  display: flex;
  flex-direction: column;
  z-index: 12;
  transition: all 0.3s ease-in-out;
  &.anime_sidebar {
    width: 100px;
    padding: 0 15px;
  }
  // Logo
  &_logo {
    padding: 15px 0;
    text-align: center;
    &.anime_sidebar_logo {
      height: 100px;
    }

    &__image {
      width: 100px;
      height: auto;
      cursor: pointer;
    }

    &__title {
      // display: block;
      font-size: 16px;
      line-height: 18px;
      color: $white;
      // padding: 15px 0;
      margin: 15px 0;
      font-family: $pRegular;

      text-overflow: ellipsis;
      visibility: inherit;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      overflow: hidden;
      -webkit-box-orient: vertical;
      // transition: all 0.3s ease-in-out;
      &.anime_sidebar_logo__title {
        // transform: scale(0);
        // height: 0;
        // display: none;
        visibility: hidden;
      }
    }
  }

  // Top
  &_top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    &.anime_sidebar_top {
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      color: $white;
      border-radius: 4px;
      background-color: #1e5b97;
      margin: 0 12px;
      cursor: pointer;

      &.anime_sidebar_top__item {
        margin: 10px 12px;
      }

      &__icon {
        width: auto;
      }
    }
  }

  // Menu
  &_menu {
    // padding: 0 25px;
    margin-left: -25px;
    margin-right: -25px;
    flex: 1;
    overflow: auto;

    &__group {
      // padding: 16.5px 0;
      .hr {
        width: 80%;
        height: 1px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 16.5px auto;
      }
    }
    &__item {
      width: 100%;
      height: 41px;
      display: flex;
      align-items: center;
      font-family: $pLight;
      font-size: 16px;
      line-height: 21px;
      color: $white;
      border-radius: 4px;
      padding: 0 37.5px;
      margin: 5px 0;
      position: relative;
      white-space: nowrap;
      &.anime_sidebar_menu__item {
        padding: 0;
        justify-content: center;
      }
      &__icon {
        fill: $white;
        width: 18px;
        margin-right: 12.5px;
        &.anime_sidebar_menu__item__icon {
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0;
          // white-space: nowrap;
        }
      }
      &:hover {
        color: $white;
      }
      &.active {
        span {
          z-index: 2;
        }
        svg {
          z-index: 2;
        }
        &:not(.disabled) {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #1e5b97;
            z-index: 1;
            margin: 0 25px;
            border-radius: 4px;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            background-color: #1e5b97;
            border-radius: 0 2px 2px 0;
          }
        }
      }
    }
  }
}

// .anime_sidebar {
//   width: 100px;
//   padding: 0 15px;
// }
// .anime_sidebar_top {
//   flex-wrap: wrap;
// }
// .anime_sidebar_top__item {
//     margin: 10px 12px;
// }
