.small {
    li {
        padding: 3px 24px !important;
    }
}

.no-pointer, .no-pointer > * {
    cursor: unset !important;
}

.tabs-content {
    .custom-tabs {
        display: flex;
        justify-content: space-between;
    
        &-left {
            margin: 0 !important;
            display: flex;
            width: max-content;
            box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
            margin-bottom: 0;
            text-align: center;

            &.new-design {
                border-radius: 4px;
                border: 1px solid #BDC7D8;
                box-shadow: none;

                & > div {
                    margin: 10px 30px !important;
                    min-width: 160px;
                    list-style: none;
                    padding: 5px 24px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: 4px;
            
                    a {
                        color: #565A61;
                        font-size: 16px;
                        line-height: 2;
                        text-transform: capitalize;
                    }
            
                    &.is-active { 
                        background-color: $activeTab;
                        border-color: $activeTab;
                        a {
                            color: white;
                        }
                    }
                }
            }
    
            & > div {
                margin: 0 !important;
                min-width: 160px;
                list-style: none;
                padding: 5px 24px;
                cursor: pointer;
                border: 1px solid $grey;
        
                &+div {
                    border-left: none;
                }
        
                a {
                    color: $grey;
                    border-color: $grey;
                    font-size: 16px;
                }
        
                &.is-active { 
                    background-color: $activeTab;
                    border-color: $activeTab;
                    a {
                        color: white;
                    }
                }
        
                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    
                }
        
                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    
                }
            }
        }
    
    }
}
