@import "~@/assets/scss/base/_mixins.scss";
.videoconf {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: space-between;
  &__block {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 68%;
    &_small {
      width: 30.5%;
    }
    &__spinner {
      margin: auto;
      margin-top: 20px;
      div {
        width: 100px !important;
        height: 100px !important;
        border-width: 7px !important;
      }
    }
  }
  &__player {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    pointer-events: fill;
    background: #000;
    &_fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: 1000;
    }
    &__volume {
      margin-right: 15px;
      cursor: pointer;
    }
    input[type="range"] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: white;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 25px;
      -webkit-appearance: none;
      color: #13bba4;
      //margin-top: -1px;
    }

    input[type="range"]::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 25px;
      background: #434343;
      box-shadow: -80px 0 0 80px rgba(#1a6dc1, 0.9);
    }

    input[type="range"]::-moz-range-progress {
      background-color: rgba(126, 126, 126, 0.5);
    }

    input[type="range"]::-moz-range-track {
      background-color: white;
    }

    input[type="range"]::-ms-fill-lower {
      background-color: rgba(126, 126, 126, 0.5);
    }

    input[type="range"]::-ms-fill-upper {
      background-color: white;
    }
    &:hover {
      .videoconf__player__controls {
        opacity: 1;
      }
    }
    &__video {
      height: 100%;
      width: 100%;
    }
    &__controls {
      //display: none !important;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(#262626, 0.6);
      padding: 10px 20px;
      transition: 0.2s;
      strong {
        color: $white;
      }
    }
    &__block {
      display: flex;
      align-items: center;
    }
    &__start {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 4px;
      background-color: rgba(#7e7e7e, 0.5);
      cursor: pointer;
      border: none;
      transition: 0.2s;
      &:hover {
        background: rgba(#fff, 0.9);
        .videoconf__player__icon {
          path {
            fill: #7e7e7e;
          }
          &_picinpic {
            fill: #7e7e7e;
          }
        }
      }
      &_text {
        display: flex;
        align-items: center;
        width: auto;
        color: white;
        background: $green !important;
        padding-right: 15px;
        padding-left: 15px;
        &:hover {
          color: $white !important;
        }
      }
      &_end {
        background: $badgeRed !important;
      }
      &_ml {
        margin-right: 15px;
      }
    }
    &__nolive {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
    }
    &__live {
      position: absolute;
      display: flex;
      align-items: center;
      top: 10px;
      left: 10px;
      background: rgba(#262626, 0.6);
      padding: 5px 10px;
      transition: 0.2s;
      font-size: 15px;
      border-radius: 5px;
    }

    &__round {
      width: 10px;
      min-width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: $badgeRed;
      margin-right: 10px;
      animation: live 1s alternate infinite;
    }
    @keyframes live {
      0% {
        background: rgba($badgeRed, 0.3);
        transform: scale(0.9);
      }
      50% {
        background: rgba($badgeRed, 0.6);
      }
      100% {
        background: rgba($badgeRed, 1);
      }
    }
    &__text {
      color: $white;
    }
    &__icon,
    &__icon_picinpic {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 17px;
      min-width: 17px;
      height: 17px;
      transition: 0.2s;
      fill: $white;
    }
    &__id {
      margin-left: 10px;
    }
    .videoconf__player__video {
      display: block !important;
    }
  }
  &__end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    margin-top: 25px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    background-color: #ffffff;
    &__modal {
      .modal-window {
        width: 415px !important;
      }
      .modal-window__body {
        padding-top: 0;
      }
    }
    &__mdbox {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__mdtitle {
      text-align: center;
      color: #3d6ab7;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 19px;
    }
    &__notification {
      text-align: center;
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 44px;
    }
    &__btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .button {
        width: 150px;
      }
    }
    &__lection {
      color: $text-color;
      font-size: 17px;
      font-weight: 400;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: rgba(#5e81f4, 0.1);
      padding: 10px 15px;
      color: #275395;
      font-size: 16px;
      font-weight: 400;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        .videoconf__end__icon {
          path:first-child {
            animation: exit 0.7s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          }
        }
      }
      &:active {
        transform: scale(0.95);
      }
      @keyframes exit {
        0% {
          transform: translateX(-2.5px);
        }
        100% {
          transform: translateX(1px);
        }
      }
      span {
        margin-right: 10px;
      }
    }
    &__icon {
      height: 16px;
      fill: #275395;
    }
  }
  &__participants {
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px 40px 20px 30px;
    margin-bottom: 25px;
    &__title {
      color: #275395 !important;
      font-size: 19px !important;
      font-weight: 600 !important;
    }
    &__avalist {
      display: flex;
      justify-content: space-between;
      &_few {
        justify-content: unset;
        .videoconf__participants__status {
          margin-right: 15px;
        }
      }
    }
    &__status {
      position: relative;
      width: 50px;
      min-width: 50px;
      height: 50px;

      &::after {
        position: absolute;
        content: "";
        display: block;
        top: 70%;
        right: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: $green;
        border: 2.5px solid $white;
      }
    }
    &__ava {
      width: 100%;
      height: 100%;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      &_more {
        width: 50px;
        min-width: 50px;
        height: 50px;
        position: relative;
        background-color: #e5e8ec;
        overflow: unset;
        cursor: pointer;
        .custom-dropdown {
          width: 100%;
          height: 100%;
        }
        .custom-dropdown__content {
          overflow: hidden;
        }
        &:hover .videoconf__participants__icon {
          transform: translate(-50%, -50%) rotate(90deg) scale(1.2);
        }
        &:active .videoconf__participants__icon {
          transform: translate(-50%, -50%) rotate(90deg) scale(0.9) !important;
        }
      }
      img {
        @include img;
      }
    }
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      fill: $grey;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 23px;
      transition: 0.3s;
    }
    &__others {
      min-width: 250px;
      max-height: 60vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
    &__user {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      &:hover {
        background: rgba($grey, 0.1);
      }
    }
    &__name {
      margin-left: 10px;
    }
  }
  &__chats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 148px);
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px 30px;
    &__status {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;
      .lds-ring {
        height: 11px;
        width: 11px;
        div {
          height: 11px;
          width: 11px;
          margin: 0;
          border-width: 2px;
        }
      }
      span {
        margin-left: 6px;
      }
    }
    &__sent {
      width: 10px;
      height: 10px;
      fill: #bdc7d8;
      &_seen {
        width: 15px;
        height: 15px;
      }
    }
    &__title {
      color: #275395;
      font-size: 19px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    &__box {
      width: 100%;
    }
    &__limit {
      font-size: 13px;
      color: $grey;
      margin-top: auto;
      line-height: 10px;
      margin-bottom: 2px;
      padding-left: 10px;
      &_red {
        color: $lred;
      }
    }
    &__write {
      position: relative;
      padding: 8px 11px;
      max-height: 112px;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border: 1px solid #dce2eb;
      border-radius: 8px;
      background-color: #ffffff;
      overflow: hidden;
      padding-right: 40px;

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 3px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #adbcd4;
        border-radius: 3px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: $blue;
      }
      .textarea {
        height: 100%;
        width: 100%;
        padding: 0;
        background: transparent;
        box-shadow: none !important;
        &:focus {
          border: none;
        }
      }
      .control {
        height: 100%;
      }
      .field {
        height: 100%;
        width: 100%;
        margin-bottom: 0;
      }
    }
    &__messages {
      //display: flex;
      //flex-direction: column;
      //justify-content: flex-end;
      height: 100%;
      padding-right: 12px;
      overflow-y: auto;
      overflow-x: unset;
    }
    &__message {
      display: flex;
      width: 100%;
      align-items: flex-end;
      margin-bottom: 20px;
      animation: floating 0.2s cubic-bezier(0.5, 0, 0.5, 1);
      &:last-child {
        margin-bottom: 0;
      }
      &_own {
        flex-direction: row-reverse;
        .videoconf__chats__text {
          background: #e5e8ec;
          margin-left: 0;
          margin-right: 15px;
          &::before {
            border-top: 6px solid #e5e8ec;
            border-left: 6px solid #e5e8ec;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            bottom: -6px;
            left: unset;
            right: -2.5px;
          }
        }
      }
    }
    @keyframes floating {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
    }
    &__text {
      position: relative;
      background-color: #f6f6f6;
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      margin-left: 15px;
      word-break: break-word;
      white-space: pre-wrap;
      span {
        display: block;
        color: #bdc7d8;
        font-size: 13px;
        font-weight: 300;
        line-height: 10px;
        text-align: right;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: -2.5px;
        border-top: 6px solid #f6f6f6;
        border-left: 6px solid #f6f6f6;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        transform: rotate(45deg);
      }
    }
    &__sendbtn {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 22px;
      height: 18px;
    }
    &__icon {
      fill: #bdc7d8;
      width: 100%;
      height: 100%;
    }
  }
}
