<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <!-- <script src="<%= BASE_URL %>lib/pdfjs/build/pdf.js"></script> -->

    <!-- <link rel="stylesheet" href="<%= BASE_URL %>lib/pdfjs/web/viewer.css"> -->

    <!-- <script src="<%= BASE_URL %>lib/pdfjs/web/viewer.js"></script> -->

    <!-- This snippet is used in production (included from viewer.html) -->
    <!-- <link rel="resource" type="application/l10n" href="<%= BASE_URL %>lib/pdfjs/web/locale/locale.properties"> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <div id="preloader-wrapper">
      <div id="preloader"></div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
