<template>
  <div class="education-groups">
    <div class="education-groups__header title-row">
      <div class="main-title">
        <b> Проверка результатов вступительных экзаменов </b>
      </div>
      <div class="education-groups__header--search">
        <d-input
          size="small"
          :placeholder="$t('studyDepartment.search')"
          align-icon="right"
          icon="search"
          icon-width="14"
          :icon-color="iconColor"
          @input="searchResultEnrolle($event)"
        ></d-input>
      </div>
    </div>
    <div class="education-groups__btns">
      <div class="education-groups__btns__title">Кол-во студентов:</div>
      <d-input size="small" placeholder="Количество" align-icon="right" class="mr-3 mt-3" v-model="studentCount" />
      <d-btn @click="shapeList" text="Сформировать список" color="blue" class="ml-3 education-groups__btns__btn education-groups__btns__btn_blue" />
    </div>
    <div class="education-groups__body2">
      <d-lists :len="list && list.length" :loading="loading" dashed-header>
        <template #header>
          <div class="columns">
            <div class="column is-6">
              <span>Ф.И.О</span>
            </div>
            <div class="column is-3">
              <span>Баллы</span>
            </div>
            <div class="column is-3">
              <span>Баллы за письменный экзамен</span>
            </div>
          </div>
        </template>

        <template #content>
          <div v-for="item in list" :key="item.applicant.id">
            <div class="columns education-groups__body2__lists">
              <div class="column is-6">
                <div class="education-groups__body2__img">
                  <img :src="item.applicant.image" alt="Ava" />
                </div>
                <div class="education-groups__body2__name">
                  {{ item.applicant.first_name }}
                  {{ item.applicant.last_name }}
                  {{ item.applicant.second_name }}
                </div>
              </div>
              <div class="column is-3">
                <div class="education-groups__body2__average">
                  <!-- {{ Math.round(item.first_exam_points * pointLimit) }} -->
                  {{ Math.round(item.first_exam_points) }}
                </div>
                <div class="education-groups__body2__all">из 150</div>
              </div>
              <div class="column is-3">
                <div class="education-groups__body2__average">
                  <!-- {{ Math.round(item.second_exam_points * pointLimit) }} -->
                  {{ Math.round(item.second_exam_points) }}
                </div>
                <div class="education-groups__body2__all">из 150</div>
              </div>
            </div>
          </div>
        </template>
      </d-lists>
    </div>
    <div class="admitted__footer">
      <div class="columns">
        <div class="column vertical-center">
          <small class="text-grey pl-4" v-if="count">Количество: {{ count }}</small>
        </div>
        <div class="column right">
          <d-pagination @change="fetch()" v-model="pagination.page" :total="count" :limit="pagination.limit" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Lists from "@/components/Lists"
import Input from "@/components/inputs/input"
import variables from "@/assets/scss/base/_variables.scss"
import loaderButton from "@/components/buttons/loaderButton"

import { mapState, mapActions } from "vuex"

export default {
  components: {
    "d-lists": Lists,
    "d-input": Input,
    "d-pagination": () => import("@/components/PaginationInput"),
    // "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    // "d-modal": () => import("@/components/Modal"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
    // "d-select": () => import("@/components/inputs/select"),
    "d-btn": loaderButton
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10
      },
      studentCount: null,
      pointLimit: 150,
      iconColor: variables ? variables.grey : "",
      openModal: false,
      loading: false
    }
  },
  computed: {
    ...mapState({
      list: state => state.commissionResult.results,
      count: state => state.commissionResult.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 1 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("commissionResult", ["getResultsList", "generatePassedList"]),
    async shapeList() {
      if (this.studentCount) {
        try {
          await this.generatePassedList(
            JSON.stringify({
              max_students: +this.studentCount
            })
          )
        } catch (err) {
          console.error(err)
          return
        }
      }
    },
    searchResultEnrolle(e) {
      try {
        this.getResultsList({
          search: e
        })
      } catch (err) {
        console.error(err)
      }
    },
    async fetch() {
      this.loading = true
      try {
        await this.getResultsList({
          offset: this.offsetComputed,
          limit: this.pagination.limit
        })
        console.log(this.list)
      } catch (err) {
        console.error(err)
        return
      }
      this.loading = false
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>

<style lang="scss">
@import "~@/assets/scss/base/_mixins.scss";
.education-groups {
  display: flex;
  flex-direction: column !important;
  &__btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 12px;
    &__title {
      margin-right: 17px;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid #bdc7d8;
      height: 32px !important;
      margin-right: 15px;
      color: $grey;
      font-size: 17px;
      font-weight: 300;
      line-height: normal;
      &_blue {
        border-color: $blue;
      }
    }
  }
  .lists-wrapper-content {
    padding-top: 10px !important;
  }

  .text-grey {
    color: #9aa6bb;
  }

  .vertical-center {
    display: flex;
    align-items: center;
  }
  .education-groups__body2 {
    height: auto;
  }
  .admitted__footer {
    margin-top: auto !important;
  }
  &__body2 {
    &__lists {
      .column {
        display: flex;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
    &__img {
      width: 41px;
      min-width: 41px;
      height: 41px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;
      img {
        @include img;
      }
    }
    &__average {
      color: #565a61;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      padding: 5px 20px;
      border-radius: 18px;
      background-color: #f4f5f8;
      margin-right: 10px;
      min-width: 62px;
      text-align: center;
    }
    &__all {
      color: $activeTab;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
  }
}
</style>
