<template>
  <div class="columns flex-1">
    <div class="column is-4">
      <div class="card h-100">
        <div class="column">
          <h2 class="add__title has-text-left mb-0 px-2">
            {{ $route.query.id ? this.$t("studyDepartment.change") : this.$t("studyDepartment.add") }} неделю
          </h2>
        </div>

        <div class="px-5 pt-0 pb-3">
          <div class="my-4">
            <d-badge-tabs class="mt-5" v-model="langName" :options="$langPrefixes" />
          </div>

          <d-input
            class="grey"
            rounded
            :placeholder="$t('teacherOffice.enterTheText')"
            type="text"
            :title="$t('studyDepartment.nameOfTheWeek')"
            v-model="form.name[langName]"
          />
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card px-5 pt-2 pb-3 h-100 d-flex flex-column">
        <d-tabs-underline class="flex-1" v-model="selectedTab">
          <d-tabs-underline-item name="1" :tab="$t('studyDepartment.lessons')" class="section__list">
            <div class="mb-5" v-for="(item, index) in form.lesson" :key="item.id || item.uid">
              <template v-if="!removedWeekTypesList.includes(item.moduleweektype_id)">
                <d-select
                  class="grey-2 rounded input-height"
                  placeholder="Выберите тему"
                  :options="topicsList"
                  :title="$t('studyDepartment.topic')"
                  v-model="item.lesson"
                  :reduce="(el) => el"
                >
                  <template #selected-option="props">{{ $nt(props.name) }}</template>
                  <template #option="props">{{ $nt(props.name) }}</template>
                </d-select>

                <d-input
                  class="grey mt-5"
                  rounded
                  placeholder="Введите число"
                  type="text"
                  :title="$t('studyDepartment.numberOfQuestions')"
                  v-model.number="item.question_count"
                />

                <d-input
                  class="grey mt-5"
                  rounded
                  placeholder="Введите число"
                  type="text"
                  :title="$t('studyDepartment.deadline')"
                  v-model.number="item.deadline_duration"
                />

                <center class="mt-4">
                  <d-btn
                    :disabled="pending"
                    :text="$t('studyDepartment.delete')"
                    @click="onLessonItemRemove(item, index)"
                    rounded
                    color="grey"
                    class="mr-4"
                  />
                </center>
              </template>
            </div>
          </d-tabs-underline-item>

          <d-tabs-underline-item name="2" :tab="$t('studyDepartment.intermediateControl')" class="section__list">
            <span v-for="item in form.int_control" :key="item.uid">
              <div class="mb-5">
                <div class="mb-3">
                  <d-select
                    class="grey-2 rounded input-height"
                    placeholder="Выберите тему"
                    label="name"
                    mil
                    :options="intControlList"
                    :title="$t('studyDepartment.topic')"
                    v-model="item.intermediate_control"
                    :reduce="(el) => el.id"
                  />
                </div>
                <div>
                  <d-input
                    class="grey"
                    rounded
                    placeholder="Введите число"
                    type="text"
                    :title="$t('studyDepartment.deadline')"
                    v-model.number="item.deadline_duration"
                  />
                </div>
              </div>

              <div class>
                <d-input class="grey" rounded placeholder="Введитке кол-во" title="Легкие вопросы" v-model.number="item.easy_question_count" />
                <d-input class="grey" rounded placeholder="Введитке кол-во" title="Средние вопросы" v-model.number="item.medium_question_count" />
                <d-input class="grey" rounded placeholder="Введитке кол-во" title="Сложные вопросы" v-model.number="item.hard_question_count" />
              </div>
            </span>

            <div class="mb-3" v-if="!form.int_control.length">
              <center>
                <d-btn :text="$t('studyDepartment.addTopicInt')" @click="addIntControl" rounded class="mt-1" />
              </center>
            </div>
          </d-tabs-underline-item>

          <d-tabs-underline-item name="3" :tab="$t('studyDepartment.finalControl')" class="section__list">
            <span v-for="item in form.fin_control" :key="item.uid">
              <div class="mb-5">
                <div class="mb-3">
                  <d-select
                    class="grey-2 rounded input-height"
                    placeholder="Выберите тему"
                    label="name"
                    mil
                    :options="finControlList"
                    :title="$t('studyDepartment.topic')"
                    v-model="item.final_control"
                    :reduce="(el) => el.id"
                  />
                </div>
                <div>
                  <d-input
                    class="grey"
                    rounded
                    placeholder="Введите число"
                    type="text"
                    :title="$t('studyDepartment.deadline')"
                    v-model.number="item.deadline_duration"
                  />
                </div>
              </div>

              <div>
                <d-input class="grey" rounded placeholder="Введитке кол-во" title="Легкие вопросы" v-model.number="item.easy_question_count" />
                <d-input class="grey" rounded placeholder="Введитке кол-во" title="Средние вопросы" v-model.number="item.medium_question_count" />
                <d-input class="grey" rounded placeholder="Введитке кол-во" title="Сложные вопросы" v-model.number="item.hard_question_count" />
              </div>
            </span>

            <div class="mb-5 pb-2" v-if="!form.fin_control.length">
              <center>
                <d-btn :text="$t('studyDepartment.addTopicFin')" @click="addFinControl" rounded class="mt-1" />
              </center>
            </div>
          </d-tabs-underline-item>
        </d-tabs-underline>

        <div class="add__btns my-3 px-0">
          <d-btn :disabled="pending" :text="$t('studyDepartment.cancel')" @click="$router.go(-1)" rounded color="grey" />

          <d-btn :disabled="pending" :text="$t('studyDepartment.addTopic')" @click="addTopic" rounded color="blue" class="ml-auto mr-4" />
          <d-btn :loading="pending" :text="$t('studyDepartment.save')" @click="sendAction" rounded color="blue" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import input from "@/components/inputs/input"
import loaderButton from "@/components/buttons/loaderButton"
import { mapActions } from "vuex"

const lessonProps = () => ({
  lesson: null,
  question_count: null,
  deadline_duration: null,
  uid: Math.random().toString().slice(2)
})

const int_controlProps = () => ({
  easy_question_count: null,
  medium_question_count: null,
  hard_question_count: null,
  deadline_duration: null,
  intermediate_control: null,
  uid: Math.random().toString().slice(2)
})

const fin_controlProps = () => ({
  easy_question_count: null,
  medium_question_count: null,
  hard_question_count: null,
  deadline_duration: null,
  final_control: null,
  uid: Math.random().toString().slice(2)
})

const defaultProps = {
  lesson() {
    return {
      ...lessonProps()
    }
  },
  int_control() {
    return {
      ...int_controlProps()
    }
  },
  fin_control() {
    return {
      ...fin_controlProps()
    }
  }
}

export default {
  components: {
    "d-badge-tabs": () => import("@/components/BadgeTabs"),
    "d-select": () => import("@/components/inputs/select"),
    "d-input": input,
    "d-btn": loaderButton,

    DTabsUnderline: () => import("@/components/tabsUnderline"),
    DTabsUnderlineItem: () => import("@/components/tabsUnderline/item")
  },
  data() {
    return {
      topicsList: [],
      intControlList: [],
      finControlList: [],
      form: {
        lesson: [],
        int_control: [],
        fin_control: [],
        name: {
          ...this.$langProps
        }
      },
      module_course: null,
      langName: "",
      selectedTab: null,
      pending: false,

      removedWeekTypesList: []
    }
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningLearningProgram", [
      "createCourseWeekList",
      "updateCourseWeekList",
      "getCoursTopicList",
      "getCoursIntControlList",
      "getCoursFinControlList",
      "getCourseWeekDetail"
    ]),
    addTopic() {
      this.form.lesson = [...this.form.lesson, lessonProps()]
    },
    addIntControl() {
      this.form.int_control = [...this.form.int_control, int_controlProps()]
    },
    addFinControl() {
      this.form.fin_control = [...this.form.fin_control, fin_controlProps()]
    },
    fetchData() {
      this.langName = this.$i18n.locale || "ru"
      this.module_course = this.$route.query.subId

      this.getCoursTopicList({
        discipline__modulecourse: this.$route.params.subId
      }).then((res) => (this.topicsList = res))
      this.getCoursIntControlList({
        discipline__modulecourse: this.$route.params.subId
      }).then((res) => (this.intControlList = res))
      this.getCoursFinControlList({
        discipline__modulecourse: this.$route.params.subId
      }).then((res) => (this.finControlList = res))

      Object.keys(defaultProps).forEach((key) => {
        this.form[key] = [defaultProps[key]()]
      })
      if (this.$route.query.id) {
        this.getCourseWeekDetail({
          id: this.$route.query.id
        }).then((res) => {
          if (res.id) {
            this.form = res
          }
        })
      }
    },
    sendAction() {
      this.pending = true

      try {
        const lesson = this.form.lesson
          // eslint-disable-next-line
          .map(({ uid, ...props }) => {
            if (props.lesson && props.lesson.id) {
              return {
                ...props,
                lesson: props.lesson.id
              }
            }

            return props
          })

        const int_control = this.form.int_control
          .filter((item) => item.intermediate_control)
          // eslint-disable-next-line
          .map(({ uid, ...props }) => props)

        const fin_control = this.form.fin_control
          .filter((item) => item.final_control)
          // eslint-disable-next-line
          .map(({ uid, ...props }) => props)

        const temp = {
          ...this.form,
          lesson,
          int_control,
          fin_control
        }

        // console.log("temp", temp)

        const req = {
          method: this.form.id ? "updateCourseWeekList" : "createCourseWeekList"
        }

        // save lessons
        this[req.method]({
          id: this.form.id ? this.$route.query.id : this.$route.query.subId,
          form: temp
        }).then(() => {
          this.$router.push({
            name: "cabinetLearningLearningProgramIdSubId",
            params: { id: this.$route.params.id, subId: this.$route.params.subId }
          })
        })
      } catch (err) {
        console.error(err)
        this.pending = false
      }
    },

    onLessonItemRemove(arg, itemIndex) {
      const { uid, moduleweektype_id } = arg
      console.log("onLessonItemRemove", uid, moduleweektype_id, itemIndex)

      if (uid) {
        // don't remove blank element if form.lesson length is equal or less 1
        if (this.form.lesson.length <= 1) return

        this.form.lesson = [...this.form.lesson.slice(0, itemIndex), ...this.form.lesson.slice(itemIndex + 1)]
      } else if (moduleweektype_id) {
        this.$set(this.form.lesson, itemIndex, {
          moduleweektype_id: moduleweektype_id
        })

        const elemeneId = moduleweektype_id

        this.removedWeekTypesList = [...this.removedWeekTypesList, elemeneId]
      }
    }
  }
}
</script>
