<template>
  <div class="add">
    <h2 class="add__title">Добавить неделю</h2>
    <div class="add__week">
      <div class="my-4">
        <d-badge-tabs class="mt-5" v-model="langName" :options="$langPrefixes" />
      </div>
      <d-input
        class="grey"
        rounded
        :placeholder="$t('teacherOffice.enterTheText')"
        type="text"
        :title="$t('studyDepartment.nameOfTheWeek')"
        v-model="form.name[langName]"
      />
      <h5>{{ $t("studyDepartment.lessons") }}</h5>
      <span v-for="item in form.lesson" :key="item.uid">
        <d-select
          class="grey-2 height-min rounded input-height"
          placeholder="Выберите тему"
          label="name"
          ml
          :options="topicsList"
          :title="$t('studyDepartment.topic')"
          v-model="item.lesson"
          :reduce="(el) => el.id"
        >
          <template #selected-option="props">
            {{ $nt(props.name) }}
          </template>
        </d-select>
        <d-input
          class="grey mt-5"
          rounded
          placeholder="Введите число"
          type="text"
          :title="$t('studyDepartment.numberOfQuestions')"
          v-model.number="item.question_count"
        />

        <d-input
          class="grey mt-5"
          rounded
          placeholder="Введите число"
          type="text"
          :title="$t('studyDepartment.deadline')"
          v-model.number="item.deadline_duration"
        />
      </span>
      <center>
        <d-btn :text="$t('studyDepartment.addTopic')" @click="addTopic" rounded color="blue" class="mt-1" />
      </center>
    </div>

    <span v-for="item in form.int_control" :key="item.uid">
      <div class="add__input mb-2">
        <h5 class="ml-5 pl-3">Промежуточный контроль</h5>
      </div>
      <div class="mb-5" style="padding: 0 67px">
        <div class="mb-3">
          <d-select
            class="grey-2 height-min rounded input-height"
            placeholder="Выберите тему"
            label="name"
            ml
            :options="intControlList"
            :title="$t('studyDepartment.topic')"
            v-model="item.intermediate_control"
            :reduce="(el) => el.id"
          />
        </div>
        <div>
          <d-input
            class="grey"
            rounded
            placeholder="Введите число"
            type="text"
            :title="$t('studyDepartment.deadline')"
            v-model.number="item.deadline_duration"
          />
        </div>
      </div>

      <div class="add__input-small">
        <d-input class="grey" rounded placeholder="Введитке кол-во" title="Легкие вопросы" v-model.number="item.easy_question_count" />
        <d-input class="grey" rounded placeholder="Введитке кол-во" title="Средние вопросы" v-model.number="item.medium_question_count" />
        <d-input class="grey" rounded placeholder="Введитке кол-во" title="Сложные вопросы" v-model.number="item.hard_question_count" />
      </div>
    </span>
    <span v-for="item in form.fin_control" :key="item.uid">
      <div class="add__input mb-2">
        <h5 class="ml-5 pl-3">Итоговый контроль</h5>
      </div>
      <div class="mb-5" style="padding: 0 67px">
        <div class="mb-5">
          <d-select
            class="grey-2 height-min rounded input-height"
            placeholder="Выберите тему"
            label="name"
            ml
            :options="finControlList"
            :title="$t('studyDepartment.topic')"
            v-model="item.final_control"
            :reduce="(el) => el.id"
          />
        </div>
        <div>
          <d-input
            class="grey"
            rounded
            placeholder="Введите число"
            type="text"
            :title="$t('studyDepartment.deadline')"
            v-model.number="item.deadline_duration"
          />
        </div>
      </div>

      <div class="add__input-small">
        <d-input class="grey" rounded placeholder="Введитке кол-во" title="Легкие вопросы" v-model.number="item.easy_question_count" />
        <d-input class="grey" rounded placeholder="Введитке кол-во" title="Средние вопросы" v-model.number="item.medium_question_count" />
        <d-input class="grey" rounded placeholder="Введитке кол-во" title="Сложные вопросы" v-model.number="item.hard_question_count" />
      </div>
    </span>
    <div class="mb-3" v-if="!form.int_control.length">
      <center>
        <d-btn :text="$t('studyDepartment.addTopicInt')" @click="addIntControl" rounded class="mt-1" />
      </center>
    </div>
    <div class="mb-5 pb-2" v-if="!form.fin_control.length">
      <center>
        <d-btn :text="$t('studyDepartment.addTopicFin')" @click="addFinControl" rounded class="mt-1" />
      </center>
    </div>
    <div class="add__btns">
      <d-btn :text="$t('studyDepartment.cancel')" rounded color="grey" />
      <d-btn :text="$t('studyDepartment.save')" @click="sendAction" rounded color="blue" />
    </div>
  </div>
</template>
<script>
import input from "@/components/inputs/input"
import loaderButton from "@/components/buttons/loaderButton"
import { mapActions } from "vuex"

const lessonProps = () => ({
  lesson: null,
  question_count: null,
  deadline_duration: null,
  uid: Math.random().toString().slice(2)
})

const int_controlProps = () => ({
  easy_question_count: null,
  medium_question_count: null,
  hard_question_count: null,
  deadline_duration: null,
  intermediate_control: null,
  uid: Math.random().toString().slice(2)
})

const fin_controlProps = () => ({
  easy_question_count: null,
  medium_question_count: null,
  hard_question_count: null,
  deadline_duration: null,
  final_control: null,
  uid: Math.random().toString().slice(2)
})

const defaultProps = {
  lesson() {
    return {
      ...lessonProps()
    }
  },
  int_control() {
    return {
      ...int_controlProps()
    }
  },
  fin_control() {
    return {
      ...fin_controlProps()
    }
  }
}

export default {
  components: {
    "d-badge-tabs": () => import("@/components/BadgeTabs"),
    "d-select": () => import("@/components/inputs/select"),
    "d-input": input,
    "d-btn": loaderButton
  },
  data() {
    return {
      topicsList: [],
      intControlList: [],
      finControlList: [],
      form: {
        lesson: [],
        int_control: [],
        fin_control: [],
        name: {
          ...this.$langProps
        }
      },
      module_course: null,
      langName: ""
    }
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningLearningProgram", [
      "createCourseWeekList",
      "getCoursTopicList",
      "getCoursIntControlList",
      "getCoursFinControlList",
      "getCourseWeekDetail"
    ]),
    addTopic() {
      this.form.lesson = [...this.form.lesson, lessonProps()]
    },
    addIntControl() {
      this.form.int_control = [...this.form.int_control, int_controlProps()]
    },
    addFinControl() {
      this.form.fin_control = [...this.form.fin_control, fin_controlProps()]
    },
    fetchData() {
      this.langName = this.$i18n.locale || "ru"
      this.module_course = this.$route.query.subId

      this.getCoursTopicList({
        discipline__modulecourse: this.$route.params.subId
      }).then((res) => (this.topicsList = res))
      this.getCoursIntControlList({
        discipline__modulecourse: this.$route.params.subId
      }).then((res) => (this.intControlList = res))
      this.getCoursFinControlList({
        discipline__modulecourse: this.$route.params.subId
      }).then((res) => (this.finControlList = res))

      Object.keys(defaultProps).forEach((key) => {
        this.form[key] = [defaultProps[key]()]
      })
      if (this.$route.query.id) {
        this.getCourseWeekDetail({
          id: this.$route.query.id
        }).then((res) => {
          this.form = res
        })
      }
    },
    sendAction() {
      const lesson = this.form.lesson
        .filter((item) => item.lesson)
        // eslint-disable-next-line
        .map(({ uid, ...props }) => props)

      const int_control = this.form.int_control
        .filter((item) => item.intermediate_control)
        // eslint-disable-next-line
        .map(({ uid, ...props }) => props)

      const fin_control = this.form.fin_control
        .filter((item) => item.final_control)
        // eslint-disable-next-line
        .map(({ uid, ...props }) => props)

      const temp = {
        ...this.form,
        lesson,
        int_control,
        fin_control
      }

      this.createCourseWeekList({
        id: this.$route.query.subId,
        form: temp
      }).then(() =>
        this.$router.push({
          name: "cabinetLearningLearningProgramIdSubId",
          params: { id: this.$route.query.id, subId: this.$route.query.subId }
        })
      )
    }
  }
}
</script>
