<template>
  <div class="custom-page-section teachers-test">
    <!-- <div class="mb-5">
      <d-input
        icon="asd"
        icon2="search"
        alignIcon="both"
        placeholder="Поиск по вопросам"
        class="shadow"
        rounded
      />
    </div> -->

    <div class="teachers-test__header columns is-vcentered mt-1 mx-0">
      <div class="column teachers-test__header--item is-4">
        <div>{{$t('studyDepartment.module')}}</div>
      </div>
      <div class="column teachers-test__header--item is-4">
        <div>
          Общее ко-во вопросов
        </div>
      </div>
      <div class="column teachers-test__header--item is-4">
        <div>
          {{$t('teacherOffice.numberOfApprovedProducts')}}
        </div>
      </div>
    </div>

    <div class="teachers-test__body">
      <div class="teachers-test__list" v-infinite-scroll="preScrollList" infinite-scroll-disabled="loading" infinite-scroll-distance="10">
        <div class="teachers-test__item columns mx-0 no-pointer" v-for="item in list" :key="item.id">
          <div class="column is-4 my-3">{{ (item.name && $nt(item.name)) || "Нет данных" }}</div>
          <div class="column is-4">
            {{ item.question_count != null ? `${item.question_count}` : "Нет данных" }}
          </div>

          <div class="column is-4">
            {{ item.accepted_question_count != null ? `${item.accepted_question_count}` : "Нет данных" }}
          </div>
        </div>

        <center v-if="loading">
          <d-spinner class="comments__blocks__spinner" />
        </center>
      </div>
    </div>
  </div>
</template>

<script>
// import Input from '@/components/inputs/input'
// import Select from '@/components/inputs/select'
// import Checkbox from '@/components/inputs/checkbox'
// import DateSelector from '@/components/inputs/date-selector'
// import loaderButton from '@/components/buttons/loaderButton'

export default {
  components: {
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-input": () => import("@/components/inputs/input"),
    // "d-analytics": () => import("@/components/Analytics"),
    "d-spinner": () => import("@/components/loaders/spinner")
    // 'd-select': Select,
    // 'd-button': loaderButton,
    // 'd-checkbox': Checkbox,
    // "d-input": Input,
    // 'd-date-selector': DateSelector
  },
  data() {
    return {
      id: null,
      permissions: {
        has_add_permission: false,
        has_check_permission: false
      },
      pagination: {
        page: 1,
        limit: 10,
        count: null
      },
      loading: false,
      list: []
    }
  },
  mounted() {
    this.getList()
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    preScrollList() {
      if (this.pagination.count > this.list.length) {
        this.pagination.page += 1
        this.getList()
      }
    },
    getList() {
      // console.log("object", params);

      this.loading = true
      this.$store
        .dispatch("teacherTests/getStatisticsList", { offset: this.offsetComputed, limit: this.pagination.limit })
        .then(res => {
          if (res && res.results) {
            this.list.push(...res.results)
            this.pagination.count = res.count
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.no-pointer {
  cursor: unset;
}
.column.is-15 {
  flex: none;
  width: 12.5%;
  text-overflow: ellipsis;
}

.columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.custom-page-section {
  flex: 1;
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
}

.teachers-test {
  &__item {
    cursor: pointer;
  }
  &__title {
    color: $blue;
  }
  &__form {
    text-align: right;
    &--select {
      margin-top: -11px;
    }
  }
  &__header {
    padding: 6px 0;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    &--item {
      div {
        padding-left: 20px;
        color: $blue;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  &__body {
    .teachers-test__list {
      .teachers-test__item {
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 4px;
        margin-top: 14px;
        .column {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.last-item {
  padding: 0 !important;
  div {
    background-color: $blue;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.check {
  padding: 0 !important;
  div {
    background-color: #3d6ab7;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
