.attable {

  .column_divider {
    border-right-color: black !important;
  }

  width: 100%;
  overflow-x: auto;
  padding-bottom: 5px;
  .regtable__theader__themesth {
    transform: rotate(-90deg);
    height: 100px;
    max-width: 46px;
    color: $text-color;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    white-space: nowrap;
    margin: auto;
  }
  .regtable__theme {
    padding: 0;
  }

  .expelled {
    color: #ababab;
  }
  .regtable__theader__themes {
    width: calc(100% / 29 - 365px) !important;
    margin: 0;
    padding: 0;
    vertical-align: top !important;

    &_class {
      text-align: center;
      border-top: 1.5px dashed #c7c7c7 !important;
    }

    &:nth-child(1) {
      max-width: 36px;
      .regtable__theader__themesth {
        height: 100%;
        width: 36px;
        transform: none;
      }
    }
    &:nth-child(2) {
      .regtable__theader__themesth {
        transform: none;
        max-width: 365px;
      }
    }
  }
  &__body__item {
    width: 36px;
    padding: 0 !important;
    .regtable__theme {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      justify-content: center;
      padding: 0 !important;
    }
    &:nth-child(2) {
      width: 365px;
      .regtable__theme {
        justify-content: flex-start;
        width: 365px;
      }
    }
  }
  &__body__img {
    width: 30px;
    min-width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 14px;
    margin-left: 15px;
  }
}
