.regtable {
  &__theader {
    th {
      height: 68px;
    }
    &__themes {
      width: 40%;
    }
    &__themesth {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: $text-color;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: normal;
      }
      &_grey {
        a {
          color: $grey;
          font-size: 15px;
        }
      }
    }
    &__marks {
      width: 27%;
    }
    &__quality {
      width: 33%;
    }
    &__icon {
      width: 44px;
      min-width: 44px;
    }
  }
  table {
    tr {
      td {
        height: 45px;
      }
    }
  }
  &__theme {
    display: flex;
    align-items: center;
    padding-left: 50px;
    position: relative;
    height: 100%;
    &__icon {
      transform: rotate(90deg) !important;
      width: 15px;
      min-width: 15px;
      fill: $grey;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        transform: rotate(90deg) scale(1.2, 1.2) !important;
      }
    }
    &__icontd {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &__nameicon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 17px;
      width: 19px;
      min-width: 19px;
      height: 19px;
      path {
        fill: $lred;
      }
    }
    &__name {
    }
    &__mark {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      
      span {
        border-radius: 14px;
        background-color: rgba($lightgrey, 0.2);
        padding: 0 15px;
      }
      &_red {
        span {
          background-color: rgba($lred, 0.2);
        }
      }
      &_green {
        span {
          background-color: rgba(#69e4a6, 0.2);
        }
      }
      &_yellow {
        span {
          background-color: rgba(#ffca83, 0.2);
        }
      }
    }
    &__quality {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  table {
    border-collapse: collapse !important;
  }
  td,
  th {
    color: $text-color;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    border: 1.5px dashed #c7c7c7 !important;
  }
  tr {
    &:hover {
      background: rgba(#c7c7c7, 0.1);
    }
  }
}