<template>
  <div class="lessons-list custom-card">
    <div class="title-row">
      <div class="main-title">
        <span>Тема №1: Задачи и принципы Уголовного кодекса</span>
      </div>
    </div>

    <d-lists no-list-hover>
      <template #header>
        <div class="columns lessons-list--list">
          <div class="column lessons-list--list__number">№:</div>
          <div class="column lessons-list--list__modul">
            <span>{{ $t("studyDepartment.module") }}</span>
          </div>
          <div class="column lessons-list--list__person">
            <span>{{ $t("studyDepartment.teacher") }}:</span>
          </div>
          <div class="column"><span>Аудитория:</span></div>
          <div class="column"><span>Начало:</span></div>
          <div class="column"><span>Окончание:</span></div>
          <div class="column is-2"><span>Ресурс:</span></div>
        </div>
      </template>

      <template #content>
        <div v-for="item in 5" :key="item + 32" class="lessons-list--list">
          <div class="columns is-vcentered">
            <div class="column lessons-list--list__number list__number">{{ item }}</div>
            <div class="column lessons-list--list__modul">
              <span>{{ $t("teacherOffice.constitutionalLaw") }}</span>
            </div>
            <div class="column lessons-list--list__person">
              <d-avatar :item="{ src: require('@/assets/images/IMG_26561.png') }" width="41" height="41" cover></d-avatar>
              <span>Алимов Т. У.</span>
              <d-icon icon="arow-down"></d-icon>
            </div>
            <div class="column"><span>№ 154</span></div>
            <div class="column"><span class="lessons-list--list__time-green">8:30</span></div>
            <div class="column"><span class="lessons-list--list__time-red">9:50</span></div>
            <div class="column is-2">
              <d-select
                class="grey rounded"
                :placeholder="$t('teacherOffice.enterTheText')"
                :options="options"
                label="title"
                no-title
                v-model="id"
                :reduce="(item) => item.id"
              ></d-select>
            </div>
          </div>
        </div>
      </template>
    </d-lists>

    <div class="lessons-list__footer">
      <span>{{ $t("teacherOffice.group") }}:</span>
      Группа №130 (Уголовное судопроизводство)
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-select": () => import("@/components/inputs/select"),
    "d-avatar": () => import("@/components/Avatar"),
    "d-icon": () => import("@/components/icons/iconWrapper")
  },
  data() {
    return {
      id: 1,
      options: [
        {
          title: "lyuboy",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.lessons-list {
  &.custom-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title-row {
    padding: 0 10px;
  }

  &--list {
    border-top: 1px dashed $grey;

    &:first-child {
      border-top: none;
    }

    &__number {
      flex: none !important;
      width: 4%;

      &.list__number {
        color: $blue;
        font-size: 17px;
        font-weight: 600;
      }
    }

    &__modul {
      width: 20%;
      flex: none !important;
    }

    &__person {
      display: flex !important;
      align-items: center;
      width: 20%;
      flex: none !important;

      img.avatar-block {
        margin-right: 10px;
      }

      span {
        width: 60%;
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &__time-green {
      border-radius: 16px;
      padding: 4px 10px;
      color: $green;
      background-color: $lightgreen;
    }
    &__time-red {
      border-radius: 16px;
      padding: 4px 10px;
      color: $lred;
      background-color: $lightred;
    }
  }

  &__footer {
    margin-top: auto;
    padding: 0 10px;

    span {
      color: $grey;
      margin-right: 20px;
    }
  }
}
</style>
