<template>
  <d-tabs :tab-list="taskTypeList" :value="form.task_type" @item="onTabChange" class="small test-create" new-tabs>
    <template #content>
      <d-loading v-if="loading" />

      <div class="test-create__main" v-if="!loading">
        <div class="test-create__header">
          <div class="test-create__title">
            {{ $t("studyDepartment.add") }}
          </div>
        </div>
        <div class="test-create__body pt-5 mb-3">
          <div class="columns">
            <div class="column pr-5 mr-5">
              <div class="mb-5">
                <d-tabs
                  :value="currLang"
                  :tab-list="langTabs"
                  @item="
                    item => {
                      currLang = item.tab
                    }
                  "
                  class="small"
                />
              </div>

              <div class="mb-5">
                <d-select
                  :placeholder="$t('studyDepartment.select')"
                  :title="$t('studyDepartment.module')"
                  :options="disciplineList"
                  mil
                  label="name"
                  v-model="disciplineId"
                  :reduce="item => item.id"
                  @change="form.topic = null"
                ></d-select>
              </div>

              <div class="mb-5">
                <!-- <d-select
                                        :disabled="loading || !disciplineId"
                                        placeholder="Выберите"
                                        title="Тема"
                                        :options="topicList"
                                        mil
                                        label="name"
                                        v-model="form.topic"
                                        :reduce="(item) => item.id"
                                    ></d-select> -->

                <d-pagination-select
                  :disabled="loading || !disciplineId"
                  :title="$t('studyDepartment.topic')"
                  :params="{ discipline_id: disciplineId }"
                  :placeholder="$t('studyDepartment.select')"
                  ml
                  label="name"
                  module="teacherTests/getTopicList"
                  v-model="form.topic"
                  :reduce="item => item"
                />
              </div>

              <div class="mb-5">
                <div class="mb-2">
                  {{$t('teacherOffice.difficultyLevel')}}
                </div>
                <div class="test-create__levels">
                  <div class="columns is-multiline">
                    <div class="column is-3" v-for="item in difficultyList" :key="item.id">
                      <d-checkbox
                        class="performance-control isGreen"
                        :disabled="loading"
                        :text="item.name && $nt(item.name)"
                        size="small"
                        :checked="item.id == form.difficulty"
                        @change="checked => (form.difficulty = checked ? item.id : null)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column pl-5 ml-5">
              <div class="mb-5">
                <d-textarea
                  :placeholder="$t('teacherOffice.enterTheText')"
                  rows="4"
                  class="grey"
                  title="Текст вопроса"
                  :disabled="loading"
                  :readonly="false"
                  rounded
                  fixed
                  v-model="form.question[currLang]"
                />
              </div>
              <div class="mb-5" v-for="(variant, index) in answersList" :key="index">
                <d-textarea
                  :placeholder="$t('teacherOffice.enterTheText')"
                  rows="4"
                  class="grey"
                  :title="`Текст ${variant.is_correct ? 'правильного' : 'неправильного'} ответа`"
                  :disabled="loading"
                  :readonly="false"
                  rounded
                  fixed
                  v-model="variant.answer[currLang]"
                />
              </div>
              <div class="is-flex is-justify-content-space-between is-align-items-center" v-if="form.task_type == 1">
                <d-button :text="$t('teacherOffice.textAddAnswer')" @click="addAnswer" :disabled="loading" class="blue" rounded />
                <d-button v-if="form.answer.length > 1" text="Удалить ответ" @click="onDeleteAnswer" :disabled="loading" class="grey" rounded />
              </div>
            </div>
          </div>
        </div>
        <div class="test-create__footer">
          <div class="test-create-buttons columns">
            <div class="test-create-buttons__cancel column">
              <d-button :text="$t('studyDepartment.cancel')" @click="$router.go(-1)" :disabled="loading" class="grey" rounded />
            </div>
            <div class="test-create-buttons__save column right">
              <d-button :text="$t('studyDepartment.save')" @click="updateTest" :disabled="!fieldsFilled || loading" class="blue" />
            </div>
          </div>
        </div>
      </div>

      <!-- <d-modal
                :seen="created"
                size="small"
                title="Сформировать группу"
                @closemodal="$router.go(-1)"
            >
                <div class="add-group__success" >
                    <d-icon icon="check" class="add-group__success__icon" />
                    <div class="add-group__success__text">
                        Вопрос успешно создан!
                    </div>
                </div>
            </d-modal> -->
    </template>
  </d-tabs>
</template>

<script>
export default {
  components: {
    "d-tabs": () => import("@/components/Tabs"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-select": () => import("@/components/inputs/select"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-checkbox": () => import("@/components/inputs/checkbox"),
    "d-pagination-select": () => import("@/components/inputs/pagination-select"),
    // "d-modal": () => import("@/components/Modal"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-loading": () => import("@/components/Loading-progress")
  },
  data() {
    return {
      created: false,
      loading: false,
      form: {
        task_type: null,
        difficulty: null,
        question: {
          ru: "",
          uz: ""
        },
        topic: null,
        answer: [
          {
            answer: {
              ru: "",
              uz: ""
            },
            is_correct: true
          },
          {
            answer: {
              ru: "",
              uz: ""
            },
            is_correct: false
          }
        ]
      },
      item: false,
      id: null,
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      taskType: null,
      taskTypeList: [],
      difficultyList: [],
      currLang: "ru",
      langTabs: [
        {
          title: this.$t('teacherOffice.russianLanguage'),
          tab: "ru"
        },
        {
          title: this.$t('teacherOffice.uzbekLanguage'),
          tab: "uz"
        }
      ],

      topicList: [],
      disciplineList: [],
      disciplineId: null
    }
  },
  mounted() {
    this.getDetail()
    this.getSupportingList()
  },
  computed: {
    answersList() {
      return this.form.task_type == 4 ? this.form.answer.slice(0, 1) : this.form.answer
    },
    fieldsFilled() {
      for (let elem in this.form) {
        if (elem == "question" && !this.form[elem][this.currLang]) return false
        else if (elem == "answer") {
          for (let item of this.form[elem]) {
            if (!item.answer[this.currLang]) return false
          }
        } else if (!this.form[elem]) return false
      }
      return true
    }
  },
  methods: {
    onDeleteAnswer() {
      if (this.form.answer.length > 1) {
        this.form.answer.pop()
      }
    },

    addAnswer() {
      this.form.answer.push({ answer: "", is_correct: false })
    },

    updateTest() {
      this.loading = true
      if (this.form.task_type == 4) {
        this.form.answer = this.form.answer.map((item, index) => {
          console.log("ARRAY UPDATE  2323423", item, index)
          if (index == 0) return { ...item }
          return { id: item.id }
        })

        console.log("ARRAY UPDATE", this.form)
      }
      this.form.topic = this.form.topic.id
      this.$store
        .dispatch("teacherTests/updateTest", { id: this.$route.params.id, payload: this.form })
        .then(res => {
          console.log("Res", res)
          if (res && res.status) {
            this.created = true

            this.$store.dispatch("snackbar/changeToasts", {
              text: `Тест успешно обнавлен!`,
              color: "success"
            })
            this.$router.go(-1)
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })
    },

    getDetail() {
      this.loading = true
      this.$store
        .dispatch("teacherTests/getDetail", this.$route.params.id)
        .then(res => {
          if (res) {
            this.detail = res

            if (res.module) this.disciplineId = res.module.id

            Object.keys(this.form).forEach(key => {
              if (key == "difficulty" && res.type && res.type.difficulty) this.form[key] = res.type.difficulty.id
              else if (key == "task_type" && res.type && res.type.task_type) this.form[key] = res.type.task_type.id
              else if (key == "topic" && res.topic)
                this.form[key] = {
                  ...res.topic,
                  name: res.topic.name && this.$nt(res.topic.name)
                }
              else if (res[key]) this.form[key] = res[key]
            })
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })
    },

    getSupportingList() {
      this.loading = true
      this.$store
        .dispatch("teacherTests/getTaskTypeList")
        .then(res => {
          if (res && res.results) {
            this.taskTypeList = res.results

            // this.form.task_type = this.taskTypeList[0].id

            this.taskTypeList = this.taskTypeList.map(item => {
              let rObj = {}
              rObj = {
                tab: item.id,
                title: item.name && this.$nt(item.name),
                ...item
              }
              return rObj
            })
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })

      this.loading = true
      this.$store
        .dispatch("teacherTests/getDifficultyList")
        .then(res => {
          if (res && res.results) {
            this.difficultyList = res.results
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })

      this.loading = true

      this.$store
        .dispatch("teacherTests/getDisciplineList")
        .then(res => {
          if (res && res.results) {
            this.disciplineList = res.results
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })
    },
    onTabChange(item) {
      if (item.tab) {
        this.form.task_type = item.tab

        // if(item.tab == 1) this.form.answer.push({answer: '',is_correct: false})
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-tabs {
  margin-bottom: 25px;
}
.test-create {
  flex: 1;
  display: flex;
  flex-direction: column;

  // .tabs-content {
  //     margin-bottom: 20px;
  // }

  &__main {
    background-color: #fff;
    flex: 1;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__levels {
    .performance-control {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__title {
    color: $lblue;
  }

  &__footer {
    margin-top: auto;
  }
}
</style>
