<template>
  <div class="ttest-detail">
    <d-loading v-if="loading" />
    <div class="ttest-detail-main" v-if="!loading">
      <div class="ttest-detail-main__header">
        <div>
          <d-btn :text="$t('teacherOffice.back')" @click="$router.go(-1)" rounded color="blue" class="tasks__header__btn" />
        </div>
        <div>
          <d-btn
            v-if="detail.has_check_permission && detail.status.name !== 'одобрен'"
            text="Праверить"
            rounded
            color="blue"
            class="tasks__header__btn"
            @click="checkModal = true"
          />
        </div>
      </div>

      <div class="is-flex is-align-items-center is-justify-content-space-between ttest-detail-main__tabs">
        <d-tabs :tab-list="tabList" @item="item => (tab = item.tab)" new-tabs />
        <router-link
          v-if="detail.has_edit_permission && tab == 2"
          class="btn-link"
          :to="{
            name: 'cabinetTeachersTestsIdEdit'
          }"
        >
          {{$t('studyDepartment.edit')}}
        </router-link>
      </div>

      <div class="ttest-detail-main__detail">
        <div class="ttest-detail-main__detail__left">
          <div v-if="tab == 1" class="ttest-detail-main__detail__left__detail">
            <div class="columns">
              <div class="column p-0 is-3 text-bold">{{$t('studyDepartment.module')}}:</div>
              <div class="column p-0">{{ (detail.module && detail.module.name && $nt(detail.module.name)) || "Нет данных" }}</div>
            </div>
            <div class="columns">
              <div class="column p-0 is-3 text-bold">Тема:</div>
              <div class="column p-0">{{ (detail.topic && detail.topic.name && $nt(detail.topic.name)) || "Нет данных" }}</div>
            </div>
            <div class="columns">
              <div class="column p-0 is-3 text-bold">{{$t('teacherOffice.date')}}:</div>
              <div class="column p-0">{{ $moment(detail.created_at).format("DD.MM.YYYY hh:mm") || "Нет данных" }}</div>
            </div>
            <div class="columns">
              <div class="column p-0 is-3 text-bold">{{$t('teacherOffice.creator')}}:</div>
              <div class="column p-0" v-if="detail.creator">
                {{ `${detail.creator.first_name} ${detail.creator.last_name} ${detail.creator.middle_name}` || "Нет данных" }}
              </div>
            </div>
            <div class="columns">
              <div class="column p-0 is-3 text-bold">{{$t('teacherOffice.status')}}:</div>
              <div class="column p-0">
                <div class="is-flex is-align-items-center">
                  <d-icon
                    v-if="detail.status"
                    :icon="
                      detail.status.id === 2
                        ? 'check'
                        : detail.status.id === 3
                        ? 'close2'
                        : detail.status.id === 0
                        ? 'new-check'
                        : detail.status.id === 1
                        ? 'edit-check'
                        : null
                    "
                    class="status-icon size-1 mr-0"
                  />
                  <span class="status-text ml-5">{{ (detail.status && detail.status.name) || "Нет данных" }}</span>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column p-0 is-3 text-bold">{{$t('teacherOffice.difficulty')}}:</div>
              <div class="column p-0">
                <div class="is-flex is-align-items-center" v-if="detail.type && detail.type.difficulty">
                  <div
                    :class="[
                      'badge__round',
                      detail.type.difficulty.id == 6
                        ? 'red-bg'
                        : detail.type.difficulty.id == 5
                        ? 'yellow-bg'
                        : detail.type.difficulty.id == 4
                        ? 'green-bg'
                        : null
                    ]"
                  ></div>
                  <span class="status-text ml-5">{{
                    (detail.type.difficulty.name && $nt(detail.type.difficulty.name)) || "Нет данных"
                  }}</span>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column p-0 is-3 text-bold">{{$t('teacherOffice.validator')}}:</div>
              <div class="column p-0">{{$t('teacherOffice.constitutionalLaw')}}</div>
            </div>
          </div>

          <div v-if="tab == 2" class="ttest-detail-main__detail__left__test">
            <div class="ttest-detail-main__detail__left__test--item">
              <div class="text-bold mb-3">{{$t('teacherOffice.question')}}:</div>
              <div class="message-wrapper">
                {{ detail.question && $nt(detail.question) }}
              </div>
            </div>
            <div class="ttest-detail-main__detail__left__test--item" v-for="answer in detail.answer" :key="answer.id">
              <div class="text-bold mb-3">{{ answer.is_correct ? "Правильный Ответ:" : "Неправильный Ответ" }}</div>
              <div class="message-wrapper">
                {{ answer.answer && $nt(answer.answer) }}
              </div>
            </div>
          </div>

          <center v-if="tab3loading && tab == 3">
            <d-spinner class="comments__blocks__spinner" />
          </center>
          <!-- tab 3 here -->
          <div v-if="tab == 3 && !tab3loading" class="ttest-detail-main__detail__left__events">
            <div class="is-flex ttest-detail-main__detail__left__events--item" v-for="(item, index) in testHistory" :key="item.id">
              <div :class="['ttest-detail-main__detail__left__events--item__left', { 'dashed-line': index != testHistory.length - 1 }]">
                <div class="ttest-detail-main__detail__left__events--item__left--number">
                  {{ index + 1 }}
                </div>
              </div>
              <div class="ttest-detail-main__detail__left__events--item__right">
                <div class="ttest-detail-main__detail__left__events--item__right--date">
                  {{ $moment(item.date).format("DD.MM.YYYY hh:mm") }}
                </div>
                <div class="mt-3 has-text-grey-light" v-if="item && item.status && item.status.id != null">
                  {{ dateEvent(item.status.id) }}
                </div>
                <div class="is-flex mt-3 ttest-detail-main__detail__left__events--item__right--comments" v-if="item && item.task_review">
                  <div class="ttest-detail-main__detail__left__events--item__right--comments__user">
                    <d-avatar :item="item.task_review.reviewer" width="45" height="45" cover border />
                  </div>
                  <div class="message-wrapper mt-2">
                    {{ item.task_review.comment }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttest-detail-main__detail__right">
          <!-- <pre>{{ tab == 3 ? testHistory : detail}}</pre> -->
          <d-dropdown>
            <template #body>
              <d-icon icon="more" style="width: 18px" class="custom-dropdown__trigger" @click="open = !open" />
            </template>
            <template #dropdown-menu>
              <li>
                <span>
                  <d-icon icon="student-dashbord" class="is-blue size-1" />
                  {{$t('teacherOffice.announcements')}}
                </span>
              </li>
            </template>
          </d-dropdown>
        </div>
      </div>
    </div>

    <div class="ttest-detail-aside" v-if="!loading">
      <div class="ttest-detail-aside__creators">
        <div class="ttest-detail-aside__creators--item">
          <d-avatar :item="detail.creator" width="77" height="77" cover />
          <div class="">
            {{ detail.creator ? `${detail.creator.last_name} ${detail.creator.first_name} ${detail.creator.middle_name}` : "Нет данных" }}
          </div>
          <div class="ttest-detail-aside__creators--item__role">
            Создатель
          </div>
        </div>
        <div class="ttest-detail-aside__creators--item">
          <d-avatar :item="detail.checked_by" width="77" height="77" cover />
          <div class="">
            {{ detail.checked_by ? `${detail.checked_by.last_name} ${detail.checked_by.first_name} ${detail.checked_by.middle_name}` : "Нет данных" }}
          </div>
          <div class="ttest-detail-aside__creators--item__role">
            {{$t('teacherOffice.validator')}}
          </div>
        </div>
      </div>
      <div class="ttest-detail-aside__bottom">
        <div class="is-flex ttest-detail-aside__bottom--top">
          <div class="ttest-detail-aside__bottom--top__left">{{$t('teacherOffice.yourQuestions')}}</div>
          <div class="ttest-detail-aside__bottom--top__right">15</div>
        </div>
        <div class="ttest-detail-aside__bottom--bot has-text-grey-light">
          <div v-for="item in 5" :key="item + 25">
            Новые: 6
          </div>
        </div>
      </div>
    </div>

    <d-modal title="Проверить" @closemodal="closeCheckModal" v-show="checkModal" size="small" class="grey-header">
      <d-select
        :placeholder="$t('studyDepartment.select')"
        :title="$t('teacherOffice.status')"
        :options="statusList"
        :disabled="requesting"
        label="text"
        mil
        v-model="checkForm.accepted"
        :reduce="item => item.status"
      ></d-select>
      <br />
      <d-textarea :placeholder="$t('teacherOffice.enterTheText')" rows="7" title="Комментарии" v-model="checkForm.comment" :disabled="requesting" :readonly="false" />
      <br />
      <div class="is-flex is-align-items-center is-justify-content-space-between">
        <div class="modal-buttons__cancel">
          <d-btn :text="$t('studyDepartment.cancel')" class="grey" :disabled="requesting" @click="checkModal = false" />
        </div>
        <div class="modal-buttons__save right">
          <d-btn :text="$t('studyDepartment.save')" class="blue" @click="submitCheck" :disabled="!fieldsFilled || requesting" />
        </div>
      </div>
    </d-modal>
  </div>
</template>

<script>
export default {
  components: {
    "d-btn": () => import("@/components/buttons/loaderButton"),
    "d-tabs": () => import("@/components/Tabs"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-avatar": () => import("@/components/Avatar"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-select": () => import("@/components/inputs/select"),
    "d-modal": () => import("@/components/Modal"),
    "d-spinner": () => import("@/components/loaders/spinner"),
    "d-loading": () => import("@/components/Loading-progress")
  },
  watch: {
    tab(newValue) {
      if (newValue == 3) this.getHistory()
    }
  },
  data() {
    return {
      dayStatusList: [
        {
          id: 0,
          text: this.$t('teacherOffice.youAddedQuestion')
        },
        {
          id: 1,
          text: "Вы отредоктировали вопрос. Ваш вопрос опять отправлен на проверку"
        },
        {
          id: 2,
          text: "Ваш вопрос был проверен и утвержден"
        },
        {
          id: 3,
          text: "Ваш вопрос был откланен"
        }
      ],
      requesting: false,
      checkModal: false,
      checkForm: {
        accepted: null,
        comment: ""
      },
      statusList: [
        {
          status: true,
          text: { ru: "Одобрить", uz: "Tasdiqlash uchun", en: "To approve" }
        },
        {
          status: false,
          text: { ru: "Отклонить", uz: "Rad etish", en: "Reject" }
        }
      ],
      detail: {},
      loading: false,
      tab3loading: false,
      permissions: {},
      creators: [{ a: 1 }, { b: 2 }],
      tab: 1,
      tabList: [
        {
          title: this.$t('teacherOffice.generalInformation'),
          tab: 1
        },
        {
          title: this.$t('teacherOffice.questionRenention'),
          tab: 2
        },
        {
          title: this.$t('teacherOffice.details'),
          tab: 3
        }
      ],
      testHistory: []
    }
  },
  mounted() {
    this.getDetail()
  },
  computed: {
    fieldsFilled() {
      if (this.checkForm.accepted == false) {
        if (!this.checkForm.comment) return false

        return true
      }
      if (this.checkForm.accepted == true) {
        return true
      }
      return false
    }
  },
  methods: {
    dateEvent(statusId) {
      let elem = this.dayStatusList[statusId]
      return elem.text
    },
    submitCheck() {
      this.requesting = true
      this.$store
        .dispatch("teacherTests/checkTest", { id: this.$route.params.id, payload: this.checkForm })
        .then(res => {
          if (res && res.status == 201) {
            this.checkModal = false
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Тест успешно откланен!`,
              color: "success"
            })
            this.$router.go(-1)
          } else if (res && res.request.status === 400) {
            this.checkModal = false
            this.$store.dispatch("snackbar/changeToasts", {
              text: res.request.response.split("[")[1].split("]")[0],
              color: "danger"
            })
            this.$router.go(-1)
          }
          this.requesting = false
        })
        .catch(err => {
          console.error("err Fetch", err)
          this.requesting = false
        })
    },
    closeCheckModal() {
      this.checkForm = {
        accepted: null,
        comment: ""
      }
      this.checkModal = false
    },
    getHistory() {
      this.tab3loading = true
      this.$store
        .dispatch("teacherTests/getHistory", this.$route.params.id)
        .then(res => {
          if (res && res.results) {
            this.testHistory = res.results
          }
          this.tab3loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.tab3loading = false
        })
    },
    getDetail() {
      this.loading = true
      this.$store
        .dispatch("teacherTests/getDetail", this.$route.params.id)
        .then(res => {
          if (res) {
            this.detail = res
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err Fetch", err)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss">
.btn-link {
  padding: 8px 13px;
  color: white;
  background-color: #1761aa;
  border-radius: 4px;
}

.status-text {
  // margin-left: 20px;
  text-transform: capitalize;
}
.message-wrapper {
  background-color: #e7eaf5;
  border-radius: 4px 14px;
  padding: 15px;
  display: inline-block;
}
.ttest-detail {
  flex: 1;
  display: flex;

  &-main {
    display: flex;
    flex-direction: column;
    flex: 3.5;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 8px;
      background-color: #ffffff;
      margin-bottom: 30px;
    }
    &__tabs {
      margin-bottom: 30px;

      .custom-tabs-left.new-design > div {
        padding: 5px 10px;
        margin: 10px 10px !important;
      }
    }

    &__detail {
      flex: 1;
      max-height: calc(100vh - 356px);
      overflow-y: auto;
      display: flex;
      background-color: #fff;
      border-radius: 4px;
      padding: 25px 30px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);

      &__left {
        flex: 1;

        &__test {
          &--item {
            margin-bottom: 30px;
          }
        }

        &__detail {
          .columns {
            margin: 34px 0;

            .text-bold {
              max-width: 150px;
              min-width: 100px;
            }

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &__events {
          &--item {
            height: 200px;

            .dashed-line::after {
              content: "";
              position: absolute;
              width: 1px;
              bottom: -6px;
              top: 16px;
              left: 16px;
              border-right: 1px dashed;
              z-index: -1;
            }

            &__left {
              position: relative;
              z-index: 1;
              margin-right: 10px;

              &--number {
                height: 32px;
                width: 32px;
                color: white;
                background-color: #3d6ab7;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
              }
            }

            &__right {
              &--detail {
                color: $grey;
              }

              &--date {
                height: 32px;
                display: flex;
                align-items: center;
              }

              &--comments {
                &__user {
                  min-width: 60px;
                }

                &__item {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }

      &__right {
        min-width: 100px;

        .custom-dropdown {
          float: right;
        }

        .custom-dropdown__trigger {
          transform: rotate(90deg);
        }
      }
    }
  }

  &-aside {
    padding: 0 0 0 30px;
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;

    &__creators {
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-direction: column;
      background-color: #fff;
      padding: 0 25px;

      &--item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding: 20px 0;

        &:first-child {
          border-bottom: 1px dashed #9aa6bb;
        }

        &__role {
          color: #9aa6bb;
        }
      }
    }

    &__bottom {
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 400px;
      margin-top: 20px;
      background-color: #fff;
      padding: 30px;

      &--top {
        display: flex;
        flex: 1;
        align-items: center;

        &__left {
          flex: 2;
          font-size: 17px;
          border-right: 1px dashed;
        }

        &__right {
          flex: 1;
          font-size: 34px;
          margin-left: 20px;
        }
      }

      &--bot {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
</style>
