<template>
  <div class="answer-list">
    <p class="answer-list__title">{{ title }}</p>
    <div class="answer-list__items">
      <div class="answer-list__item" v-for="item in list" :key="item.id" @click="$emit('changeStudent', { id: item.id, student_id: item.student })">
        <div>
          <strong>ID:</strong>
          {{ item.student }}
        </div>
        <d-icon
          v-if="item.checked"
          :icon="
            item.checked === true || item.checked === 'nice'
              ? 'check'
              : item.checked === 'middle'
              ? 'tick2'
              : item.checked === 'bad'
              ? 'close2'
              : null
          "
          class="size-1"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
    list: {
      type: Array
    }
  },
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper")
  }
}
</script>

<style>
.answer-list__title {
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  color: #275395;
}

.answer-list__item {
  display: flex;
  margin-bottom: 5px;
  padding: 8px 10px;
  border-radius: 4px;
  align-items: center;
}

.answer-list__item:hover {
  background-color: #f5f7fb;
  cursor: pointer;
}

.answer-list__item:hover div,
.answer-list__item:hover div strong {
  color: #305999;
}

.answer-list__item div {
  flex: 1;
  font-weight: 300;
  font-size: 17px;
  text-align: left;
  color: #9aa6bb;
  margin-right: 5px;
}

.answer-list__item div strong {
  font-weight: normal;
  font-size: 17px;
  text-align: left;
  color: #9aa6bb;
}

.answer-list__item div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.answer-list__item div:nth-child(2) svg {
  width: 15px;
  height: 15px;
  background: #27ae60;
}
</style>
