<template>
  <div :class="['relative', { 'from-right': fromRight }]">
    <input type="date" data-display-mode="default" :data-date-format="format" :init-value="value" @click.stop="null" />
  </div>
</template>

<script>
const format = "DD.MM.YYYY"

export default {
  model: {
    prop: "value",
    event: "input"
  },

  props: {
    value: {
      type: Date
      // validator(value) {
      //   return Object.prototype.toString.call(value) === "[object Date]";
      //   //   return /^\d{2}.\d{2}.\d{4}$/.test(value);
      // },
    },

    fromRight: Boolean
  },

  data() {
    return {
      format,
      calendars: null
    }
  },

  mounted() {
    this.calendars = this.$bulmaCalendar.attach('[type="date"]', {
      startDate: this.value,
      showHeader: false,
      showFooter: false
    })

    this.calendars?.forEach(calendar => {
      calendar.on("select", e => {
        try {
          this.$emit("input", e?.data?.date?.start)
        } catch (error) {
          console.error(error)
        }
      })
    })
  },

  destroyed() {
    this.calendars?.forEach(calendar => calendar.on("select", () => {}))
  }
}
</script>

<style lang="scss">
.register_subld {
  .datetimepicker-dummy .datetimepicker-clear-button {
    display: none;
  }
  .datetimepicker-dummy::before,
  .datetimepicker-dummy:before {
    background-color: #2e5998 !important;
    /* transform: scale(0.8) !important; */
    mask: url(~@/assets/icons/calendar.svg) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    top: 0.57rem !important;
  }

  .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    max-width: 70% !important;
  }

  .datetimepicker-dummy .datetimepicker-dummy-wrapper {
    border-color: #dae0e9 !important;
    border-radius: 4px;
    height: 36px !important;
  }
  .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    max-width: unset !important;
  }
  .datetimepicker.is-primary .datepicker-nav {
    background-color: #114980 !important;
  }

  .datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
    border-color: transparent !important;
  }

  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
    color: #114980 !important;
    border-color: #114980 !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    border-radius: 4px !important;
  }
}

// .datetimepicker.is-primary.is-datetimepicker-default.is-active,
.relative {
  position: relative;
}

.from-right .is-primary.is-datetimepicker-default.is-active {
  left: unset;
  right: 0;
}

.from-right {
  .datetimepicker.is-datetimepicker-default .datetimepicker-container:after,
  .datetimepicker.is-datetimepicker-default .datetimepicker-container:before {
    left: unset;
    right: 15%;
  }
}

div.no-side-effect {
  .datetimepicker-dummy {
    width: unset;
    .datetimepicker-dummy-wrapper {
      background-color: unset;
    }

    &.is-primary {
      &::before,
      &:before {
        mask: unset !important;
      }
    }
  }
}
</style>
