<template>
  <div :class="calendarUUID">
    <input :id="calendarUUID" type="date" :init-value="value" :data-display-mode="dataDisplayMode" />
  </div>
</template>

<script>
export default {
  props: {
    enableYearSwitch: {
      type: Boolean,
      default: () => false
    },

    uuid: {
      type: Number,
      default: () =>
        +Math.random()
          .toString()
          .slice(2)
    },

    dataDisplayMode: {
      type: String,
      default: () => "inline"
    },

    value: {
      type: [String, Date]
    }
  },

  computed: {
    calendarUUID() {
      return "calendar-" + this.uuid
    }
  },

  mounted() {
    // Initialize all input of date type.
    this.$bulmaCalendar.attach(`#${this.calendarUUID}[type="date"]`, {
      startDate: new Date(),
      minDate: new Date(),
      showHeader: false,
      showFooter: false
    })

    // Loop on each calendar initialized
    // calendars.forEach((calendar) => {
    //   console.log("calendar", calendar);
    //   calendar.on("select", (e) => {
    //     console.log(1, e);
    //   });
    // });

    document.addEventListener(
      "mousedown",
      function(e) {
        const calendarDate = e?.target?.closest(".datepicker-date.is-current-month")?.dataset?.date

        if (calendarDate && e?.target?.closest(`.${this.calendarUUID}`)) {
          const localeDate = new Date(calendarDate).toLocaleDateString()
          const t = this.$moment(localeDate, "DD.MM.YYYY").format("YYYY-MM-DD")
          // console.log("localeDate", localeDate);
          // console.log("t", t);
          this.$emit("change", t)
        }
      }.bind(this)
    )
  },

  beforeDestroy() {
    document.removeEventListener("mousedown", function() {})
  }
}
</script>

<style>
.datetimepicker-wrapper {
  position: static !important;
  margin-top: 0 !important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
  color: #3d6ab7;
}

.datepicker-nav-month {
  color: #000 !important;
}

.datepicker-nav-next svg,
.datepicker-nav-previous svg {
  color: #3d6ab7 !important;
}

.datetimepicker .datepicker-body .datepicker-weekdays .datepicker-date {
  color: #3d6ab7 !important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item {
  border-radius: 3px !important;
}

.datepicker-nav-year {
  display: none !important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date {
  background-color: #fff !important;
  color: #b0b7bd !important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date button {
  color: #b0b7bd !important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.is-current-month button {
  color: #343434 !important;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover,
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
  border-color: #000 !important;
}

.datetimepicker.is-primary .datepicker-nav {
  background-color: #fff !important;
  padding: 10px 40px;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
  border-color: #3d6ab7;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today {
  border-color: #3d6ab7;
  color: #3d6ab7;
}
.datetimepicker {
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14) !important;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
  background: #3d6ab7 !important;
  border-radius: 4px;
  border-color: #3d6ab7;
  cursor: pointer;
  color: #fff !important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today {
  border-color: #b0b7bd !important;
}

.datetimepicker-dummy {
  width: 70px;
}

.datepicker-range-start {
  color: #fff !important;
}

.datetimepicker-dummy-wrapper input {
  cursor: pointer;
}

.datetimepicker-dummy.is-primary::before,
.datetimepicker-dummy.is-primary:before {
  background-color: #fff;
  margin: 0 0 0 13px;
  width: 19px;
  cursor: pointer;
  mask: url("../../assets/icons/close.svg") !important;
  pointer-events: none;
}

div.no-left-margin .datetimepicker-dummy.is-primary::before,
div.no-left-margin .datetimepicker-dummy.is-primary:before {
  margin-left: 0;
}

.datetimepicker-clear-button {
  display: none;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper {
  /* border: 0 none; */
  background-color: #3d6ab7;

  border-radius: 20px;
}

.datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
.datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
.datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
.datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
  background-color: #3d6ab7 !important;
  border-color: #3d6ab7 !important;
}

.datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
.datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
.datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
.datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
  border-color: #3d6ab7 !important;
}
</style>
