<template>
  <div>
    <input type="date" data-display-mode="default" data-date-format="DD/MM/YYYY" :id="id" />
  </div>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "input"
  },
  props: {
    value: {
      type: [String, Date],
      default: ""
    },
    id: String,
    endDate: {
      type: String
    },
    startDate: {
      type: String
    },
    today: Boolean,
    week2: Boolean
  },
  data() {
    return {
      // newDate: null
    }
  },
  mounted() {
    let newDate = this.value

    if (this.today) newDate = new Date(this.$moment().format("MM/DD/YYYY"))
    if (this.week2)
      newDate = new Date(
        this.$moment()
          .subtract(2, "w")
          .format("MM/DD/YYYY")
      )
    // Initialize all input of date type.
    let inputType = this.id ? `[id="${this.id}"]` : '[type="date"]'
    const calendars = this.$bulmaCalendar.attach(inputType, {
      startDate: newDate,
      showHeader: false,
      showFooter: false,
      minDate: new Date(this.startDate),
      maxDate: new Date(this.endDate)
    })

    // console.log("before foreach ", this.startDate, new Date(this.startDate), this.endDate, new Date(this.endDate));

    // Loop on each calendar initialized
    calendars.forEach(calendar => {
      // Add listener to date:selected event
      calendar.on("select", e => {
        const date = e.data.date.start || new Date()
        // console.log('date', date);

        this.$emit("input", this.$moment(date).format("YYYY-MM-DD"))
        // console.log("Date e", e);
      })
    })
  }
}
</script>

<style lang="scss">
.from-right {
  .datetimepicker-wrapper {
    position: relative;

    .datetimepicker {
      right: 0;
    }
  }
}
.register-date {
  .datetimepicker-dummy .datetimepicker-clear-button {
    display: none;
  }
  .datetimepicker-dummy::before,
  .datetimepicker-dummy:before {
    background-color: #2e5998 !important;
    /* transform: scale(0.8) !important; */
    mask: url(../../assets/icons/calendar.svg) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    top: 0.57rem !important;
  }

  .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    max-width: 70% !important;
  }

  .datetimepicker-dummy .datetimepicker-dummy-wrapper {
    border-color: #dae0e9 !important;
    border-radius: 4px;
    height: 36px !important;
  }
  .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    max-width: unset !important;
  }
  .datetimepicker.is-primary .datepicker-nav {
    background-color: #114980 !important;
  }

  .datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
    border-color: transparent !important;
  }

  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
    color: #114980 !important;
    border-color: #114980 !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    border-radius: 4px !important;
  }

  .datetimepicker-dummy .datetimepicker-clear-button {
    display: none;
  }
  .datetimepicker-dummy {
    height: 32px;
  }
  .datetimepicker-dummy::before,
  .datetimepicker-dummy:before {
    background-color: #2e5998 !important;
    /* transform: scale(0.8) !important; */
    mask: url(~@/assets/icons/student-calendar.svg) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    top: 50% !important;
    transform: translateY(-50%);
    // right: 16px !important;
    // left: unset !important;
  }
  .datetimepicker-dummy .datetimepicker-dummy-wrapper {
    background: transparent !important;
  }
  // .datetimepicker-dummy
  //   .datetimepicker-dummy-wrapper
  //   .datetimepicker-dummy-input:first-child {
  //   // text-indent: 14px !important;
  // }

  .datetimepicker-dummy .datetimepicker-dummy-wrapper {
    border-color: #dae0e9 !important;
    border-radius: 4px;
    height: 34px !important;
  }
  .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    max-width: 163px !important;
    padding-bottom: 2px;
  }

  .datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }
  .datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
    border-color: transparent !important;
  }
  .datetimepicker.is-datetimepicker-default .datetimepicker-container:before {
    border-bottom-color: #fff;
    z-index: 1000;

    top: 1px !important;
  }
  .datetimepicker.is-datetimepicker-default .datetimepicker-container:after,
  .datetimepicker.is-datetimepicker-default .datetimepicker-container:before {
    bottom: unset;
    top: -7px !important;
    left: 49.5%;

    z-index: 1000;
    border: 1px solid #eaedf3;
    border-right: none;
    border-bottom: none;
    background: #fff;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
  }
  .datepicker {
    width: 294px;
    border: 1px solid #eaedf3;
    background-color: #ffffff;
    &-nav {
      justify-content: center;
      .button {
        padding-left: 22px;
        padding-right: 22px;
      }
      .datepicker-nav-month {
        // color: $text-color;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: normal;
        line-height: normal;
      }
    }
  }
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
    color: #114980 !important;
    border-color: #114980 !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    border-radius: 4px !important;
  }
}
.register_subld {
  .datetimepicker-dummy .datetimepicker-clear-button {
    display: none;
  }
  .datetimepicker-dummy::before,
  .datetimepicker-dummy:before {
    background-color: #2e5998 !important;
    /* transform: scale(0.8) !important; */
    mask: url(../../assets/icons/calendar.svg) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    top: 0.57rem !important;
  }

  .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    max-width: 70% !important;
  }

  .datetimepicker-dummy .datetimepicker-dummy-wrapper {
    border-color: #dae0e9 !important;
    border-radius: 4px;
    height: 36px !important;
  }
  .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
    max-width: unset !important;
  }
  .datetimepicker.is-primary .datepicker-nav {
    background-color: #114980 !important;
  }

  .datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
  .datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
    border-color: transparent !important;
  }

  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    background-color: #114980 !important;
    color: #fff !important;
    border-color: transparent !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today,
  .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
    color: #114980 !important;
    border-color: #114980 !important;
  }

  .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    border-radius: 4px !important;
  }
}
</style>
