<template>
  <div class="page-section">
    <d-loading v-if="loading" />

    <div class="check">
      <div class="content">
        <div class="check__title check-mark-task">
          {{ task.home_task && task.home_task.module && $nt(task.home_task.module) }}
          <div class="mark-task" v-if="task && task.review && task.review.mark">
            {{ $t("teacherOffice.score") }}: {{ task && task.review && task.review.mark }}
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <d-text-block :title="$t('teacherOffice.question')" type="question"> {{ task.home_task && task.home_task.body }}</d-text-block>
          </div>
          <!-- <div class="column">
            <d-text-block title="Ответ" type="answer">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
              ad quia necessitatibus porro aut reprehenderit delectus et id nam.
              Praesentium corrupti fugit ex eaque eveniet enim repellat
              recusandae delectus consequatur id aliquid autem facere veritatis,
              neque accusamus aliquam distinctio perspiciatis cumque explicabo.
              Quo sequi mollitia numquam molestias nulla ad nesciunt fuga
              tenetur id! Quae doloribus, nobis alias ipsam ratione modi officia
              blanditiis veritatis perferendis recusandae quod aliquam animi ut
              et nostrum impedit totam quidem illo accusantium ex, cumque
              dolorum quia! Facere sunt quia ipsam vel quae impedit harum
              possimus numquam quam natus! Architecto, labore perspiciatis?
              Culpa veniam modi voluptates aliquam?</d-text-block
            >
          </div> -->
        </div>
        <!-- <div>
          <d-text-block title="Правильный ответ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
            ad quia necessitatibus porro aut reprehenderit delectus et id nam.
            Praesentium corrupti fugit ex eaque eveniet enim repellat recusandae
            delectus consequatur id aliquid autem facere veritatis, neque
            accusamus aliquam distinctio perspiciatis cumque explicabo. Quo
            sequi mollitia numquam molestias nulla ad nesciunt fuga tenetur id!
            Quae doloribus, nobis alias ipsam ratione modi officia blanditiis
            veritatis perferendis recusandae quod aliquam animi ut et nostrum
            impedit totam quidem illo accusantium ex, cumque dolorum quia!
            Facere sunt quia ipsam vel quae impedit harum possimus numquam quam
            natus! Architecto, labore perspiciatis? Culpa veniam modi voluptates
            aliquam?</d-text-block
          >
        </div> -->
        <a v-for="item2 in task && task.home_task && task.home_task.files" :href="item2.file" :key="item2.file" download class="fileName">
          <span>
            {{ item2.file | correctFileName }}
          </span>
        </a>
        <div class="mt-5">
          <d-textarea
            :placeholder="$t('teacherOffice.enterTheText')"
            rows="7"
            title="Ответ"
            :disabled="disablePage"
            :readonly="false"
            rounded
            fixed
            v-model="form.title"
          />
        </div>
        <div class="mt-5">
          <d-textarea
            :placeholder="$t('teacherOffice.enterTheText')"
            rows="7"
            :title="$t('teacherOffice.comment')"
            :disabled="disablePage"
            :readonly="false"
            rounded
            fixed
            v-model="form.comment"
          />
        </div>
        <div class="mt-5">
          <div></div>
          <!-- <d-input
            type="file"
            placeholder="Оценка по стобальной шкале"
            :disabled="disablePage"
          /> -->
          <input type="file" ref="file" multiple hidden @change="handleFile" />

          <button @click="$refs.file.click()" class="inputFile" v-if="!disablePage">Choose file</button>
          <div v-show="form.files.length" class="mt-4">{{ $t("teacherOffice.files") }}</div>
          <div v-show="!disablePage" v-for="item2 in form.files || []" :key="item2.name" class="fileName">
            <div class="fileNameClass">{{ item2.name }}</div>
            <d-icon icon="close" class="fileRemoveButton" @click="removeFile(item2.name)" />
          </div>
          <div v-if="disablePage">
            <a download :href="item2.file" v-for="item2 in form.files" :key="item2.file" class="fileName">
              {{ item2.file | correctFileName }}
            </a>
          </div>
          <p></p>
        </div>
        <div class="my-4 columns">
          <div class="column"></div>
          <div class="column right">
            <!-- <d-button
              rounded
              class="blue"
              size="small mr-3"
              text="Сохранить и выйти"
            /> -->
            <div v-if="!disablePage">
              <d-button rounded class="blue" size="small" text="Отправиты" @click="sendAnswer" />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="right-aside mb-5">
        <div class="check__title">
          Список ответов
        </div>
        <div>
          <d-answerList :list="arr" />
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
// import Input from "../../../../components/inputs/input.vue";
// import Index from "../../../../components/tabsUnderline/index.vue";
export default {
  components: {
    "d-text-block": () => import("@/components/questionAnswer/textBlock"),
    // "d-answerList": () => import("@/components/questionAnswer/answerList"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    // "d-input": () => import("@/components/inputs/input"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-loading": () => import("@/components/Loading-progress")
  },

  data() {
    return {
      // arr: [
      //   { id: 1, checked: true },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: true },
      //   { id: 1, checked: true },
      //   { id: 1, checked: false },
      //   { id: 1, checked: true },
      //   { id: 1, checked: true },
      // ],
      loading: false,
      task: {},
      answer: "",
      sending: false,
      comment: "",
      form: {
        task: this.$route.params.id,
        title: "",
        comment: "",
        files: []
      },
      disablePage: false
    }
  },
  mounted() {
    this.fetchTask()
  },
  methods: {
    // downloadFile(item) {
    //   // window.open(arg);

    //   let a = document.createElement("a");
    //   a.href = item.file;
    //   a.download = item.file.split("/").pop();
    //   document.body.appendChild(a);
    //   a.click();
    //   document.body.removeChild(a);
    // },
    fetchTask() {
      this.loading = true
      this.$store
        .dispatch("studentLearning/getHomeTaskDetail", this.$route.params.id)
        .then((res) => {
          // console.log(res);
          this.task = res

          if (this.task && this.task.answer && this.task.answer.id) {
            this.disablePage = true
            this.form.title = this.task.answer.title
            this.form.comment = this.task.answer.comment
            this.form.files = this.task.answer.files
          }
          this.loading = false
        })
        .catch((err) => {
          console.error(err)
          this.loading = false
        })
    },
    handleFile(e) {
      // console.log("files ", e.target.files);
      this.form.files.push(...e.target.files)
      // console.log(this.form.files);
    },
    sendAnswer() {
      let formdata = new FormData()
      // this.form.answer = this.answer;
      // this.form.comment = this.comment;
      Object.keys(this.form).forEach((key) => {
        if (this.form[key] && key != "files") {
          formdata.append(key, this.form[key])
        } else if (key == "files" && this.form[key].length) {
          for (let file of this.form[key]) {
            formdata.append(key, file)
          }
        }
      })
      this.sending = true
      this.$store
        .dispatch("studentLearning/createAnswer", formdata)
        .then((res) => {
          // console.log(res);
          this.task = res

          if (this.task && !this.task.answer) {
            this.disablePage = true
          }
          this.$router.push({
            name: "cabinetStudentsLearning"
          })
          this.sending = false
        })
        .catch((err) => {
          console.error(err)
          this.sending = false
        })
      // console.log(this.task);
    },
    removeFile(name) {
      let indexFile = null
      this.form.files.forEach((file, index) => {
        if (file.name === name) {
          indexFile = index
        }
      })
      this.form.files.splice(indexFile, 1)
    }
  },
  filters: {
    correctFileName(e) {
      if (e.split("/").length > 2) {
        let element = e.split("/")
        return element[element.length - 1]
      }
      return e
    }
  }
}
</script>

<style lang="scss" scoped>
.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: row !important;
  .check {
    display: flex;
    width: 100%;
    flex-direction: row;
    &__title {
      color: #2e5898;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .content {
      flex: 5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
    }
    .right-aside {
      flex: 1.5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      margin: 0 20px;
    }
  }
}
.inputFile {
  font-size: 16px;
  background-color: #1761aa;
  color: white;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
  width: 120px;
  padding: 8px;
}
.inputFile[disabled] {
  // background-color: #ffffff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.fileName {
  margin: 10px 0;
  // background-color: #b5b5b5;
  padding: 8px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.fileRemoveButton {
  width: 12px;
  height: 12px;
}
.fileNameClass {
  padding-bottom: 5px;
  padding-right: 5px;
  display: inline-block;
}
.check-mark-task {
  display: flex;
  justify-content: space-between;
}
.mark-task {
  background-color: whitesmoke;
  width: auto;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

/*

class="tooltip tooltip-right"

.employee__list__item__mini
.employee__list__item__large

.employee {
  &__list {
    &__item__ {
      &mini {

      }

      &large {
         
      }
    }
  }
}

.row .row__flex

.tooltip {
  &.tooltip {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }
}

*/
</style>
