<template>
  <div class="student-learning">
    <d-loading v-if="loading" />
    <div class="student-learning-header px-0">
      <d-tabs :tab-list="tabList" @click="changeTab" @item="onTabChange">
        <template #tabs-right>
          <div class="student-learning-header__selects">
            {{ $t("studyDepartment.module") }}:
            <d-select
              class="rounded white"
              :placeholder="$t('teacherOffice.enterTheText')"
              :options="options"
              label="name"
              mil
              no-title
              clearable
              v-model="selectedOption"
              :reduce="(item) => item.id"
              @change="filterList"
            >
            </d-select>
          </div>
        </template>

        <template #content>
          <div class="student-learning-body" v-if="tab == 1">
            <div class="columns">
              <d-student-task-card v-for="(item, index) of taskList" :key="index" :item="item" :tab="tab">
                <template>
                  <router-link
                    class="button is-link is-rounded custom-button"
                    :to="{
                      name: 'cabinetStudentsLearningId',
                      params: {
                        id: item.id
                      }
                    }"
                    :disabled="item.uploading"
                    >{{ $nt(start) }}
                  </router-link>
                </template>
              </d-student-task-card>
            </div>
          </div>
          <div class="student-learning-body" v-if="tab == 2">
            <div class="columns">
              <d-student-task-card v-for="(item, index) in taskList" :key="index + 4" :item="item" :tab="tab">
                <template>
                  <router-link
                    :to="{
                      name: 'cabinetStudentsLearningId',
                      params: {
                        id: item.id
                      }
                    }"
                    :disabled="item.uploading"
                  >
                    <div
                      :class="[
                        'task-score',
                        {
                          'custom-btn-success': item.mark >= 60,
                          'custom-btn-danger': item.mark < 60
                        }
                      ]"
                    >
                      <div v-if="!!item.mark">
                        {{ item.mark + "/100" }}
                      </div>

                      <div v-else>Не проверено</div>
                    </div>
                  </router-link>
                </template>
                <!-- <template>
                  <div
                    :class="[
                      'task-score',
                      {
                        'custom-btn-success': item.mark >= 60,
                        'custom-btn-danger': item.mark < 60,
                      },
                    ]"
                  >
                    {{ item.mark + "/100" }}
                  </div>
                </template> -->
              </d-student-task-card>
            </div>
          </div>
          <div class="student-learning-body" v-if="tab == 3">
            <!-- <d-lists :loading="loading" :len="list.length">
              <template #content>
                <div tag="div" class="columns" v-for="(item, index) in list" :key="item.id" :class="{ parentElement: item.parent }">
                  <div class="column is-10 tasks-prog__item" @click="showModal(index, item.id)">
                    <div class="tasks-prog__item__link">
                      <d-icon icon="files-and-folders" class="tasks-prog__item__icon size-2" />
                      <span>
                        {{ item.event && item.event.title && item.event.title }}
                      </span>
                    </div>
                  </div>
                  <d-modal title="Вы хотите начать тест" @closemodal="closeModal(index)" v-show="item.showModal" size="small" class="tasks__modal">
                    <router-link
                      tag="div"
                      :to="{
                        name: 'cabinetStudentsLearningTasksId',
                        params: { id: item.id }
                      }"
                      :class="{ parentElement: item.parent }"
                    >
                      <d-btn :text="start" rounded class="blue" />
                    </router-link>
                    <div class="is-flex is-align-items-center is-justify-content-space-between"></div>
                  </d-modal>
                  <div class="column right tasks-prog__item__link">
                    <d-dropdown up>
                      <template #body>
                        <d-icon icon="information" style="width: 30px" class="custom-dropdown__trigger" @click="open = !open" />
                      </template>
                      <template #dropdown-menu>
                        <div class="tasks-prog__descr">Description</div>
                      </template>
                    </d-dropdown>
                  </div>
                </div> -->
            <!-- </div> -->
            <!-- </template>
            </d-lists>-->
            <d-student-task-card v-for="(item, index) of list" :key="index" :item="item" :tab="tab">
              <template>
                <d-btn class="button is-link is-rounded custom-button" @click="showModal(index, item.id)">{{ $nt(start) }}</d-btn>
                <d-modal title="Вы хотите начать тест?" @closemodal="closeModal(index)" v-show="item.showModal" size="small" class="tasks__modal">
                  <router-link
                    tag="div"
                    :to="{
                      name: 'cabinetStudentsLearningTasksId',
                      params: { id: item.id }
                    }"
                    :class="{ parentElement: item.parent }"
                  >
                    <d-btn :text="$nt(start)" rounded class="blue" />
                  </router-link>
                  <div class="is-flex is-align-items-center is-justify-content-space-between"></div>
                </d-modal>
              </template>
            </d-student-task-card>
          </div>

          <div class="student-learning-body" v-if="tab == 4">
            <div class="columns d-flex">
              <d-student-task-card v-for="(item, index) in resultList" :key="index + 4" :item="item" :tab="tab">
                <template>
                  <router-link
                    :to="{
                      name: 'cabinetStudentsLearningTaskResultsId',
                      params: { id: item.id }
                    }"
                    :class="{ parentElement: item.parent }"
                    :disabled="item.uploading"
                  >
                    <div
                      :class="[
                        'task-score',
                        {
                          'custom-btn-success': item.review.total_mark >= 60,
                          'custom-btn-danger': item.review.total_mark < 60
                        }
                      ]"
                    >
                      <div v-if="!!item.review && !!item.review.total_mark">
                        {{ item.review && item.review.total_mark + "/100" }}
                      </div>
                      <div v-else>Не проверено</div>
                    </div>
                  </router-link>
                </template>
              </d-student-task-card>
            </div>
          </div>
        </template>
      </d-tabs>
      <div class="tasks-prog__footer right">
        <d-pagination @change="paginationPages" v-model="pagination.page" :total="count" :limit="pagination.limit" />
      </div>
    </div>
  </div>
</template>

<script>
import DStudentTaskCard from "@/components/StudentTaskCard"
import loaderButton from "@/components/buttons/loaderButton"
// import DIcon from "@/components/icons/iconWrapper";
import DTabs from "@/components/Tabs"
export default {
  components: {
    // "d-lists": () => import("@/components/Lists"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-dropdown": () => import("@/components/Dropdown"),
    "d-select": () => import("@/components/inputs/select"),
    "d-loading": () => import("@/components/Loading-progress"),
    "d-modal": () => import("@/components/Modal"),
    DStudentTaskCard,
    "d-btn": loaderButton,
    // DIcon,
    DTabs,
    "d-pagination": () => import("@/components/Pagination")
  },
  data() {
    return {
      tab: 1,
      tabList: [
        {
          title: "Обучение",
          tab: 1
        },
        {
          title: this.$t("studentOffice.result"),
          tab: 2
        },
        {
          title: this.$t("studentOffice.testsAndCases"),
          tab: 3
        },
        {
          title: this.$t("studentOffice.resultTestsAndCases"),
          tab: 4
        }
      ],
      pagination: {
        page: 1,
        limit: 20
      },
      // scoreList: [
      //   {
      //     added: "27.06.2020г",
      //     finished: "27.06.2020г",
      //     task_type: "ekcec",
      //     title: "Трудовое право",
      //     score: 90,
      //   },
      //   {
      //     added: "27.06.2020г",
      //     finished: "27.06.2020г",
      //     task_type: "ekcec",
      //     title: "Юридическая техника",
      //     score: 50,
      //   },
      //   {
      //     added: "27.06.2020г",
      //     finished: "27.06.2020г",
      //     task_type: "ekcec",
      //     title: "Право международных...",
      //     score: 70,
      //   },
      //   {
      //     added: "27.06.2020г",
      //     finished: "27.06.2020г",
      //     task_type: "ekcec",
      //     title: "Английский язык",
      //     score: 90,
      //   },
      // ],
      id: null,
      // taskList: [
      //   {
      //     id: 1,
      //     start_date: "22.06.2020г",
      //     end_date: "27.06.2020г",
      //     task_type: "ekcec",
      //     title: "Трудовое право",
      //     is_exam: "",
      //     uploading: false,
      //     url: "",
      //   },
      //   {
      //     id: 2,
      //     start_date: "22.06.2020г",
      //     end_date: "27.06.2020г",
      //     task_type: "тесты",
      //     title: "Юридическая техника",
      //     is_exam: "Промежуточный контроль",
      //     uploading: false,
      //     url: "",
      //   },
      //   {
      //     id: 3,
      //     start_date: "22.06.2020г",
      //     end_date: "27.06.2020г",
      //     task_type: "ekcec",
      //     title: "Трудовое право",
      //     is_exam: "",
      //     uploading: false,
      //     url: "",
      //   },
      //   {
      //     id: 4,
      //     start_date: "22.06.2020г",
      //     end_date: "27.06.2020г",
      //     uploading: true,
      //   },
      //   {
      //     id: 1,
      //     start_date: "2020-11-25",
      //     end_date: "2020-12-26",
      //     title: "Заголовок домашнего задания",
      //     module: {
      //       ru: "Ихтиолог",
      //       uz: "Engineer, manufacturing",
      //     },
      //     answer_date: "2021-01-08",
      //     review_date: "2021-01-21",
      //   },
      // ],
      options: [],
      taskList: [],
      scoreList: [],
      loading: false,
      selectedOption: null,
      list: [],
      resultList: [],
      count: null,
      timer: null,
      start: {
        ru: "Начать",
        uz: "Boshlash",
        en: "Start"
      }
    }
  },
  mounted() {
    // this.changeTab();
    this.fetchList()
    // this.fetchScoreList();
    this.fetchModuleList()
    // this.fetchTasks();
    // this.fetchResultList();
  },
  watch: {
    tab(newValue) {
      if (newValue === 1 || newValue === 2) {
        this.changeTab()
        this.selectedOption = null
        this.fetchList()
        this.fetchModuleList()
      } else if (newValue === 3) {
        this.changeTab()
        this.selectedOption = null
        this.fetchTasks()
        this.fetchTaskModuleList()
      } else if (newValue === 4) {
        this.changeTab()
        this.selectedOption = null
        this.fetchResultList()
        this.fetchTaskModuleList()
      }
    }
  },
  methods: {
    fetchList() {
      this.loading = true
      let params = {
        offset: this.offsetComputed(),
        limit: this.pagination.limit
      }
      this.$store
        .dispatch(`studentLearning/getList`, params)
        .then((res) => {
          if (res.count > 21) {
            this.count = res.count
          }
          if (res.results) {
            this.taskList = res.results
            this.taskList.forEach((task) => {
              const start_date = task.start_date.split("-")
              const [year1, month1, day1] = start_date
              task.start_date = day1 + "-" + month1 + "-" + year1

              const end_date = task.end_date.split("-")
              const [year2, month2, day2] = end_date
              task.end_date = day2 + "-" + month2 + "-" + year2

              const answer_date = task.answer_date.split("-")
              const [year3, month3, day3] = answer_date
              task.answer_date = day3 + "-" + month3 + "-" + year3

              const review_date = task.review_date.split("-")
              const [year4, month4, day4] = review_date
              task.review_date = day4 + "-" + month4 + "-" + year4
            })
          }
          this.loading = false
        })
        .catch(() => {
          // console.log("Get req err", err);
          this.loading = false
        })
    },
    // fetchScoreList() {
    //   this.loading = true;
    //   this.$store
    //     .dispatch(`studentLearning/getScoreList`)
    //     .then((res) => {
    //       if (res.results) {
    //         this.scoreList = res.results;
    //         this.scoreList.forEach((task) => {
    //           const start_date = task.start_date.split("-");
    //           const [year1, month1, day1] = start_date;
    //           task.start_date = day1 + "-" + month1 + "-" + year1;

    //           const end_date = task.end_date.split("-");
    //           const [year2, month2, day2] = end_date;
    //           task.end_date = day2 + "-" + month2 + "-" + year2;

    //           const answer_date = task.answer_date.split("-");
    //           const [year3, month3, day3] = answer_date;
    //           task.answer_date = day3 + "-" + month3 + "-" + year3;

    //           const review_date = task.review_date.split("-");
    //           const [year4, month4, day4] = review_date;
    //           task.review_date = day4 + "-" + month4 + "-" + year4;
    //         });
    //       }
    //       this.loading = false;
    //     })
    //     .catch((err) => {
    //       console.log("Get req err", err);
    //       this.loading = false;
    //     });
    // },
    fetchModuleList() {
      this.$store
        .dispatch("studentNotification/getModuleList")
        .then((res) => {
          // console.log(res.results);
          this.options = res.results
        })
        .catch((err) => {
          console.error(err)
        })
    },
    fetchTaskModuleList() {
      this.$store
        .dispatch("studentStudentTasks/getModuleList")
        .then((res) => {
          // console.log(res.results);
          this.options = res.results
        })
        .catch((err) => {
          console.error(err)
        })
    },
    filterList() {
      let params = {}
      // console.log("Selected option -> ", this.selectedOption)
      if (this.selectedOption) {
        params = { module: this.selectedOption }
      }
      params = {
        ...params,
        offset: this.offsetComputed(),
        limit: this.pagination.limit
      }
      if (this.tab === 1 || this.tab === 2) {
        this.$store
          .dispatch(`studentLearning/getList`, params)
          .then((res) => {
            if (res.count > 21) {
              this.count = res.count
            }
            if (res.results) {
              this.taskList = res.results
              this.taskList.forEach((task) => {
                const start_date = task.start_date.split("-")
                const [year1, month1, day1] = start_date
                task.start_date = day1 + "-" + month1 + "-" + year1

                const end_date = task.end_date.split("-")
                const [year2, month2, day2] = end_date
                task.end_date = day2 + "-" + month2 + "-" + year2

                const answer_date = task.answer_date.split("-")
                const [year3, month3, day3] = answer_date
                task.answer_date = day3 + "-" + month3 + "-" + year3

                const review_date = task.review_date.split("-")
                const [year4, month4, day4] = review_date
                task.review_date = day4 + "-" + month4 + "-" + year4
              })
            }
            this.loading = false
          })
          .catch(() => {
            // console.log("Get req err", err);
            this.loading = false
          })
      } else if (this.tab === 3) {
        this.$store
          .dispatch(`studentStudentTasks/getTaskCollection`, params)
          .then((res) => {
            if (res.count > 21) {
              this.count = res.count
            }
            if (res.results) {
              this.list = res.results
            }
            this.loading = false
          })
          .catch(() => {
            // console.log("Get req err", err);
            this.loading = false
          })
      } else if (this.tab === 4) {
        this.$store
          .dispatch(`studentStudentTasks/getResultList`, params)
          .then((res) => {
            if (res.results) {
              if (res.count > 21) {
                this.count = res.count
              }
              this.resultList = res.results
              this.resultList.forEach((task) => {
                const start_date = task.start_date.split("-")
                const [year1, month1, day1] = start_date
                task.start_date = day1 + "-" + month1 + "-" + year1

                const end_date = task.end_date.split("-")
                const [year2, month2, day2] = end_date
                task.end_date = day2 + "-" + month2 + "-" + year2

                const answer_date = task.answer_date.split("-")
                const [year3, month3, day3] = answer_date
                task.answer_date = day3 + "-" + month3 + "-" + year3

                const review_date = task.review_date.split("-")
                const [year4, month4, day4] = review_date
                task.review_date = day4 + "-" + month4 + "-" + year4
              })
            }
            this.loading = false
          })
          .catch(() => {
            // console.log("Get req err", err)
            this.loading = false
          })
      }
    },
    fetchTasks() {
      let params = {
        offset: this.offsetComputed(),
        limit: this.pagination.limit
      }
      this.$store.dispatch("studentStudentTasks/getTaskCollection", params).then((res) => {
        if (res.count > 21) {
          this.count = res.count
        }
        this.loading = false
        // console.log("tasks ->>> ", res)
        this.list = res.results
        this.list.forEach((item, index) => {
          this.$set(this.list[index], "showModal", false)
        })
      })
    },
    fetchResultList() {
      this.loading = true
      let params = {
        offset: this.offsetComputed(),
        limit: this.pagination.limit
      }
      this.$store.dispatch("studentStudentTasks/getResultList", params).then((res) => {
        // .then((res) => {
        // .dispatch(`studentStudentTasks/getTaskCollection`, params)
        // .then((res) => {
        if (res.results) {
          this.resultList = res.results
          this.resultList.forEach((task) => {
            const start_date = task.start_date.split("-")
            const [year1, month1, day1] = start_date
            task.start_date = day1 + "-" + month1 + "-" + year1

            const end_date = task.end_date.split("-")
            const [year2, month2, day2] = end_date
            task.end_date = day2 + "-" + month2 + "-" + year2

            // const answer_date = task.answer_date.split("-");
            // const [year3, month3, day3] = answer_date;
            // task.answer_date = day3 + "-" + month3 + "-" + year3;

            // const review_date = task.review_date.split("-");
            // const [year4, month4, day4] = review_date;
            // task.review_date = day4 + "-" + month4 + "-" + year4;
          })
        }
        // this.loading = false;
        // })
        // .catch((err) => {
        //   console.log("Get req err", err);
        //   this.loading = false;
        // });
        // console.log("tasks ->>> ", res);
        // this.list = res.results;
        // this.list.forEach((item, index) => {
        //   this.$set(this.list[index], "showModal", false);
        // });
        this.resultList = res.results

        if (res.count > 21) {
          this.count = res.count
        }
        // console.log("Task result list", res.results)
        // console.log(this.offsetComputed())
        this.loading = false
      })
    },
    paginationPages() {
      // console.log(this.isFiltering);
      // if (!this.filterModuleId && this.filterTopicId.length === 0) {
      //   this.isFiltering = false;
      // }
      // if (this.isFiltering) {
      //   this.fetchTestListFilter();
      // } else {
      // console.log(this.pagination)
      if (this.tab === 1 || this.tab === 2) {
        this.fetchList()
      } else if (this.tab === 4) {
        this.fetchResultList()
      }
      // }
    },
    onTabChange(item) {
      if (item.tab) {
        this.tab = item.tab
      }
    },
    closeModal(itemIndex) {
      this.$set(this.list[itemIndex], "showModal", false)
      // console.log(this.list[itemIndex].showModal);
    },
    showModal(itemIndex, itemId) {
      if (!this.list[itemIndex].begin_datetime) {
        this.$set(this.list[itemIndex], "showModal", true)
        // console.log(this.list[itemIndex].showModal);
      } else
        this.$router.push({
          name: "cabinetStudentsLearningTasksId",
          params: { id: itemId }
        })
    },
    isShow(itemIndex) {
      if (this.list[itemIndex].showModal) return true
      else return false
    },
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    changeTab() {
      this.count = 0
      this.pagination = {
        page: 1,
        limit: 20
      }
    }
  }
}
// {
//           added: "27.06.2020г",
//           finished: "27.06.2020г",
//           task_type: "ekcec",
//           title: "Юридическая техника",
//           score: 50,
//         },
//         {
//           added: "27.06.2020г",
//           finished: "27.06.2020г",
//           task_type: "ekcec",
//           title: "Право международных...",
//           score: 70,
//         },
//         {
//           added: "27.06.2020г",
//           finished: "27.06.2020г",
//           task_type: "ekcec",
//           title: "Английский язык",
//           score: 90,
//         },
//       ],
//       id: null,
//       taskList: [
//         {
//           added: "22.06.2020г",
//           deadline: "27.06.2020г",
//           task_type: "ekcec",
//           title: "Трудовое право",
//           is_exam: "",
//           uploading: false,
//           url: "",
//         },
//         {
//           added: "22.06.2020г",
//           deadline: "27.06.2020г",
//           task_type: "тесты",
//           title: "Юридическая техника",
//           is_exam: "Промежуточный контроль",
//           uploading: false,
//           url: "",
//         },
//         {
//           added: "22.06.2020г",
//           deadline: "27.06.2020г",
//           task_type: "ekcec",
//           title: "Трудовое право",
//           is_exam: "",
//           uploading: false,
//           url: "",
//         },
//         {
//           uploading: true,
//         },
//       ],
//       options: [
//         {
//           title: "lyuboyasfasdgsdhgs",
//           id: 1,
//         },
//         {
//           title: "big_master",
//           id: 2,
//         },
//         {
//           title: "Zikoi5",
//           id: 3,
//         },
//         {
//           title: "hhexio",
//           id: 4,
//         },
//       ],

//     };
//   },

//   methods: {
//     onTabChange(item) {
//       if (item.tab) {
//         this.tab = item.tab;
//       }
//     },
//   },
// };
</script>

<style lang="scss">
.student-learning {
  width: 100%;

  &-header {
    .main-title {
      font-size: 19px !important;
      font-weight: 600;
    }

    &__selects {
      display: flex;
      align-items: center;

      & > span {
        margin-left: 20px;
      }

      .v-select {
        min-width: 200px;
      }
    }
  }

  &-body {
    margin-top: 40px;
  }
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
</style>
