<template>
  <div class="subresults">
    <h3 class="subresults__title">{{ $route.query.title }}</h3>
    <d-count-card :icons="icons" :arr="summary_list" />
    <d-block v-for="(item, index) in modules_list" :key="index" :item="item" />
  </div>
</template>

<script>
import CountCard from "@/components/CountCard"
import Block from "@/components/SubjectBlock"

import { mapActions } from "vuex"

export default {
  components: {
    "d-count-card": CountCard,
    "d-block": Block
  },
  data() {
    return {
      icons: [
        {
          name: "teacher-group",
          class: "results__header__icon"
        },
        {
          name: "notes",
          class: "results__header__icon"
        },
        {
          name: "time",
          class: "results__header__icon"
        },
        {
          name: "check-outline",
          class: "results__icon__check"
        }
      ],
      loading: false,
      summary_list: [],
      modules_list: []
    }
  },
  watch: {
    $route: {
      handler: "fetch",
      immediate: true
    }
  },
  methods: {
    ...mapActions("studentResults", ["getStudentResultsSummaryList", "getStudentResultsModulesList"]),
    fetch() {
      this.loading = true
      this.getStudentResultsSummaryList(this.$route.params.id).then(res => {
        this.summary_list = (res && res.results) || []
      })
      this.getStudentResultsModulesList(this.$route.params.id).then(res => {
        // console.log("Res -> ", res.results)
        this.modules_list = (res && res.results) || []
      })
    }
  }
}
</script>
<style lang="scss">
.subresults {
  width: 100%;
  &__title {
    color: $activeTab !important;
    font-size: 19px !important;
    font-weight: 600 !important;
    letter-spacing: normal;
    line-height: normal !important;
  }
  .results__icon__check {
    path {
      fill: $green;
    }
  }
}
</style>
