<template>
  <div class="video student results">
    <h2 class="results__header">Результаты обучения</h2>
    <div class="student__links">
      <d-lists :len="list && list.length" :loading="loading" dashedHeader>
        <template #header>
          <div class="columns">
            <div class="column is-4">
              <span>{{ $t("studyDepartment.courses") }}</span>
            </div>
            <div class="column is-3"><span>{{$t('studentOffice.progress')}}</span></div>
            <div class="column is-2"><span>{{$t('studentOffice.start')}}</span></div>
            <div class="column is-2"><span>{{$t('studentOffice.dateEndDate')}}</span></div>
          </div>
        </template>

        <template #content>
          <router-link
            tag="div"
            :to="{
              name: 'cabinetStudentsResultsId',
              params: { id: item.id },
              query: { title: $nt(item.name) }
            }"
            class="columns student__links__item"
            v-for="(item, index) in list"
            :key="index"
          >
            <div class="column is-4 student__links__link">
              {{ $nt(item.name) }}
            </div>
            <div class="column is-3">
              <span class="student__links__status">{{ item.progress || "-" }}%</span>
            </div>
            <div class="column is-2">
              {{ item.start_date }}
            </div>
            <div class="column is-2">
              {{ item.end_date }}
            </div>
            <!-- <div class="column is-2 right">
              <d-dropdown up>
                <template #body>
                  <d-icon
                    icon="more"
                    style="width: 30px"
                    class="custom-dropdown__trigger"
                    @click="open = !open"
                  />
                </template>
                <template #dropdown-menu>
                  <li>
                    <a href="#">
                      <d-icon icon="student-dashbord" class="is-blue size-1" />
                      Анонсы
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <d-icon icon="information" class="is-blue size-1" />
                      Правила
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <d-icon icon="bin" class="is-blue size-1" /> Удалить
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <d-icon icon="teacher-pen" class="is-blue size-1" />
                      Редактировать
                    </a>
                  </li>
                </template>
              </d-dropdown>
            </div> -->
          </router-link>
        </template>
      </d-lists>
      <div class="student__links__pagination right">
        <d-pagination @change="fetch" v-model="pagination.page" :total="pagination.count" :limit="pagination.limit" />
      </div>
    </div>
  </div>
</template>
<script>
import Lists from "@/components/Lists"

import { mapActions } from "vuex"

export default {
  components: {
    "d-lists": Lists,
    // "d-dropdown": Dropdown,
    // "d-icon": iconWrapper,
    "d-pagination": () => import("@/components/PaginationInput")
  },
  data() {
    return {
      value: null,
      id: null,
      lists: [],
      pagination: {
        page: 1,
        total: 123,
        count: null
      },
      loading: false,
      list: []
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("studentResults", ["getStudentsResultsList"]),
    fetch() {
      this.loading = true
      this.getStudentsResultsList({
        offset: this.offsetComputed,
        limit: this.pagination.limit
      }).then(res => {
        this.list = (res && res.results) || []
        this.pagination.count = (res && res.count) || 0
      })
      this.loading = false
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>
<style lang="scss">
@import "~@/assets/scss/base/_mixins.scss";
.student__links__status {
  color: $green;
}

.student {
  .input {
    box-shadow: 0 3px 10px #a1a1a124;
    border: none;
    width: 327px;
    height: 38px;
    padding-right: 22px !important;
    padding-left: 22px !important;
    padding-bottom: 9px;
  }
  .control.has-icons-right .icon.is-right {
    right: 10px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 34px);
    .custom-dropdown {
      margin-right: 20px;
    }
    &__link {
      div {
        overflow-x: auto !important;
        //width: 100%;
      }
    }
    &__item {
      margin-bottom: 4px !important;
      .column {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
      }
      &:first-child {
        margin-top: 8px !important;
      }
      //&:last-child {
      //  margin-bottom: 0 !important;
      //}
    }
    &__status {
      color: $green;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: normal;
      &_red {
        color: $lred;
      }
    }
    &__ava {
      width: 41px;
      min-width: 41px;
      height: 41px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 20px;
      img {
        @include img;
      }
    }
    .column {
      display: flex;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .custom-dropdown__trigger {
    transform: rotate(90deg);
    fill: #9aa6bb;
    width: 18px !important;
    position: relative;
    //right: -10px;
  }
  .galery-card__header--share {
    display: none;
  }
  .video__header__tabs {
    height: 34px;
    li {
      min-width: unset;
    }
  }
  &__select {
    display: flex;
    align-items: center;
    &__title {
      color: #565a61;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin-right: 20px;
    }
    .select-title {
      margin: 0 !important;
    }
    .vs__dropdown-toggle {
      width: 224px;
      height: 34px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 19px;
      background-color: $white;
      border: none;
    }
    .vs__dropdown-toggle {
      padding-bottom: 6px !important;
    }
    .vs__search {
      margin-top: 0;
      &:focus {
        margin-top: 0;
      }
    }
    .vs__actions {
      padding-top: 6px;
    }
    .vs__selected {
      margin-top: 0;
      height: 100%;
    }
    .vs__actions {
      padding-top: 0;
    }
    .vs__clear {
      display: flex;
      align-items: center;
    }
  }
}
.results {
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  background-color: $white;
  padding: 25px 20px;
  &__header {
    color: $activeTab !important;
    font-size: 19px !important;
    font-weight: 600 !important;
    letter-spacing: normal;
    line-height: normal !important;
    margin-left: 12px;
  }
  .student__links {
    box-shadow: none;
    background: transparent;
    padding: 0;
  }
  .student__links__item {
    padding-left: 8px;
    .column {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .lists-wrapper-header {
    .columns {
      padding-left: 8px;
    }
  }
}
</style>
