<template>
  <div class="page-section group-members">
    <div class="title-row group-members__header">
      <div class="main-title">
        <span>{{$t('teacherOffice.listOfStudents')}}</span>
      </div>
      <div class="group-members__header--search">
        <d-input
          size="small"
          :placeholder="$t('studyDepartment.search')"
          align-icon="right"
          icon="search"
          icon-width="14"
          :icon-color="iconColor"
          @input="searchStudent"
        ></d-input>
        <router-link :to="{ name: 'cabinetLearningGroupsIdUpdateGroup' }" tag="button" class="add-btn icon-btn">
          <d-icon-wrapper icon="accordion_plus" />
          <span> {{ $t("studyDepartment.change") }} </span>
        </router-link>
      </div>
    </div>
    <div class="group-members__body">
      <d-lists :loading="loading" :len="students && students.length">
        <template #content>
          <router-link
            tag="div"
            :to="{
              name: 'cabinetLearningGroupsIdSubId',
              params: { id: $route.params.id, subId: student.id }
            }"
            class="columns"
            v-for="(student, index) in students"
            :key="index"
          >
            <div class="column group-members__body--number">
              {{ index + 1 }}
            </div>
            <div class="column group-members__body--avatar">
              <d-avatar :item="{ src: student.image }" width="40" height="40" cover></d-avatar>
            </div>
            <div class="column">
              {{ student.fullname }}
            </div>
            <div class="column is-1 group-members__body--more">
              <button class="delete-btn icon-btn" @click.stop="toggleModal(student)">
                <d-icon class="group-members__body__delete" icon="delete" />
              </button>
            </div>
          </router-link>
        </template>
      </d-lists>
      <d-modal :seen="openModal" size="small" @closemodal="openModal = false">
        <div class="education-groups__modal">
          <div class="education-groups__modal__title">
            Вы действительно хотите удалить студента?
          </div>
          <div class="education-groups__modal__btns">
            <d-btn color="blue" rounded text="Да" class="education-groups__modal__delete" @click="deleteStudentAction" />
            <d-btn color="grey" text="Нет" rounded @click="toggleModal" />
          </div>
        </div>
      </d-modal>
    </div>
    <div class="group-members__footer right">
      <d-pagination v-model="pagination.page" :total="pagination.count" />
    </div>
  </div>
</template>

<script>
import variables from "@/assets/scss/base/_variables.scss"
import { mapActions } from "vuex"
import iconWrapper from "@/components/icons/iconWrapper"
import loaderButton from "@/components/buttons/loaderButton"
import Modal from "@/components/Modal"
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    "d-avatar": () => import("@/components/Avatar"),
    "d-input": () => import("@/components/inputs/input"),
    // "d-dropdown": () => import("@/components/Dropdown"),
    "d-icon": iconWrapper,
    "d-btn": loaderButton,
    "d-modal": Modal,
    "d-pagination": () => import("@/components/Pagination")
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10,
        count: 100
      },
      loading: true,
      studentInfo: null,
      openModal: false,
      students: [],
      dropdownToggle: false,
      iconColor: variables ? variables.grey : ""
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  watch: {
    offsetComputed: {
      handler() {
        this.fetchStudentsList({
          id: this.$route.params.id,
          params: {
            limit: this.pagination.limit,
            offset: this.offsetComputed
          }
        })
      },
      immediate: true
    }
  },
  methods: {
    ...mapActions("groups", ["getStudents", "deleteStudent"]),
    deleteStudentAction() {
      this.deleteStudent({
        idGroup: this.$route.params.id,
        idStudent: this.studentInfo.id
      }).then(res => {
        console.log(res)
        if (res && res.status == 204) {
          this.fetchStudentsList({
            id: this.$route.params.id,
            params: {
              limit: this.pagination.limit,
              offset: this.offsetComputed
            }
          })
          this.openModal = false
          this.$store.dispatch("snackbar/changeToasts", {
            text: `Студент(ка) ${this.studentInfo.fullname} успешно удален(a)!`,
            color: "success"
          })
        }
      })
    },
    toggleModal(params) {
      this.openModal = !this.openModal
      this.studentInfo = params
    },
    fetchStudentsList(params) {
      this.getStudents(params).then(res => {
        if (res && res.data) {
          this.students = res.data.results
          this.students.forEach(item => {
            item.fullname =
              item.first_name || item.middle_name || item.last_name ? `${item.first_name} ${item.middle_name} ${item.last_name}` : "Не заполнено"
          })
          this.pagination.count = res.data.count
          this.loading = false
        }
      })
    },

    searchStudent(e) {
      console.log(e)
      this.fetchStudentsList({
        id: this.$route.params.id,
        params: {
          limit: this.pagination.limit,
          offset: this.offsetComputed,
          search: e
        }
      })
    }
  }
}
</script>
<style lang="scss">
.group-members__header--search {
  .add-btn {
    margin-left: 30px;
  }
}
</style>
