<template>
  <div class="m-auto">
    <transition name="slideLeftToRight" mode="out-in">
      <div key="1" class="schmodal" v-if="activeForm == 'course-binding'">
        <div class="schmodal__selects">
          <h2 class="schmodal__title">{{ $t("studyDepartment.course") }}</h2>

          <div class="mb-5">
            <d-select
              no-title
              :placeholder="$t('studyDepartment.select')"
              :options="courseList"
              label="name"
              v-model="pickedCourse"
              mil
              class="grey rounded h-40"
              :reduce="item => item"
              @input="forms.course.course = $$(arguments, [0]).id || null"
            />
          </div>

          <d-input
            :placeholder="$t('studyDepartment.formOfEducation')"
            class="grey rounded"
            :read-only="true"
            rounded
            :value="$nt($$(pickedCourse, 'course_type', 'name')) || ''"
          />
          <div class="schmodal__subtitle mt-5">Дата начала обучения</div>
          <d-date-select grey class="modal-variant-1" v-model="forms.course.start_date" />
        </div>

        <div class="schmodal__btns">
          <router-link :to="{ name: 'cabinetLearningSchedule' }">
            <d-btn :disabled="pending" :text="$t('studyDepartment.cancel')" color="grey" rounded />
          </router-link>

          <d-btn :loading="pending" text="Далее" color="blue" rounded @click="createModuleStudentGroupCurse" />
        </div>
      </div>

      <div key="2" class="schmodal" v-if="activeForm == 'set-teacher-to-module'">
        <div class="sch_module_teacher_columns">
          <h4 class="schmodal__title">Прикрепление преподавателя к модулям</h4>
          <div class="columns is-vcentered" v-for="item in moduleTeachersProps || []" :key="item.id">
            <div class="column">{{ $nt(item.name) }}</div>
            <div class="column">
              <d-select
                no-title
                placeholder="Выберите препода"
                :options="item.teachers"
                label="name"
                v-model="item.teacher"
                class="grey rounded h-40"
                :reduce="item => item.id"
                @change="updateModuleTeacher(item.id, arguments[0])"
              />
            </div>
          </div>
        </div>
      </div>
    </transition>

    <!-- <pre class="fixed left">{{ moduleTeachersProps }}</pre> -->

    <!-- <div class="schmodal"> -->
    <!-- <div class="schmodal__btns">
        <router-link :to="{ name: 'cabinetLearningSchedule' }">
          <d-btn :disabled="pending" text="Отменить" color="grey" rounded />
        </router-link>

        <d-btn :loading="pending" text="Далее" color="blue" rounded />
      </div> -->
    <!-- <d-btn
        @click="
          activeForm =
            activeForm == 'set-teacher-to-module'
              ? 'course-binding'
              : 'set-teacher-to-module'
        "
      >
        toggle
      </d-btn> -->
    <!-- </div> -->
  </div>
</template>
<script>
import select from "@/components/inputs/select"
import DInput from "@/components/inputs/input"
import DateSelector from "@/components/inputs/date-selector"
// import iconWrapper from "@/components/icons/iconWrapper";
import loaderButton from "@/components/buttons/loaderButton"
import { mapState, mapActions } from "vuex"

const formNames = ["course-binding", "set-teacher-to-module"]

export default {
  components: {
    "d-select": select,
    "d-date-select": DateSelector,
    // "d-icon": iconWrapper,
    "d-btn": loaderButton,
    DInput
  },

  comments: true,

  data() {
    return {
      formNames,
      pickedCourse: "",
      pending: false,

      forms: {
        course: {
          course: null,
          start_date: null
        }
      },

      moduleTeachersProps: null
    }
  },

  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },

  computed: {
    ...mapState({
      courseList: state => state.scheduleCourse.results || []
    }),

    activeFormNameByModuleTeachersLen() {
      if (!this.moduleTeachersProps) return

      return this.moduleTeachersProps?.length ? "set-teacher-to-module" : "course-binding"
    },

    activeForm: {
      get() {
        return this.$route.query.name && formNames.includes(this.$route.query.name) && this.activeFormNameByModuleTeachersLen
      },

      set(val) {
        this.$router.replace(
          {
            query: {
              name: formNames.includes(val) && val
            }
          },
          // error handler
          () => {}
        )
      }
    }
  },

  methods: {
    ...mapActions("scheduleCourse", {
      fetchCourses: "fetchList"
    }),
    ...mapActions("scheduleGroups", {
      setGroupCourse: "patchGroupCourse"
    }),

    ...mapActions("scheduleConstructor", ["fetchListByModule", "setModuleTeacher"]),

    updateModuleTeacher(moduleId, arg) {
      try {
        this.setModuleTeacher({
          moduleId,
          teacher: arg
        }).then(res => {
          if (res?.data?.id) {
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Модуль успешно обновлен`,
              color: "success"
            })
          }
        })
      } catch (err) {
        this.$store.dispatch("snackbar/changeToasts", {
          text: `Не удалось обновить модуль`,
          color: "error"
        })
      }
    },

    fetchData(arg) {
      if (!this.courseList?.length) {
        // this && this.courseList && this.courseList.length
        this.fetchCourses()
      }

      if (!this.moduleTeachersProps?.length) {
        this.fetchListByModule(arg?.params?.id).then(res => {
          this.moduleTeachersProps = res?.data?.results || []

          this.activeForm = this.moduleTeachersProps?.length ? "set-teacher-to-module" : "course-binding"
        })
      }
    },

    createModuleStudentGroupCurse() {
      this.pending = true
      try {
        this.setGroupCourse({
          ...this.forms.course,
          id: this.$route.params.id
        }).then(res => {
          console.log("createModuleStudentGroupCurse", res)
          if (res?.data?.course?.id) {
            this.fetchData(this.$route)
          }
          this.pending = false
        })

        // this.$router.go(-1);
      } catch (error) {
        console.error(error)
        this.pending = false
      }
    }
  }
}
</script>
