<template>
  <div class="module-groups tests-question page-section">
    <div class="title-row">
      <div class="main-title">
        <span><b>Список груп</b></span>
      </div>
    </div>
    <div class="module-groups__body">
      <d-lists dashed-header>
        <template #header>
          <div class="columns">
            <div class="column is-5">{{$t('studyDepartment.module')}}</div>
            <div class="column is-3">Общее ко-во вопросов</div>
            <div class="column is-4">{{$t('teacherOffice.numberOfApprovedProducts')}}</div>
          </div>
        </template>

        <template #content>
          <router-link tag="div" :to="{ name: 'cabinetTestsQuestionsId', params: { id: item } }" v-for="item in 10" :key="item + 32">
            <div class="columns">
              <div class="column is-5">Уголовное право</div>
              <div class="column is-3">25</div>
              <div class="column is-4">15</div>
            </div>
          </router-link>
        </template>
      </d-lists>
    </div>
    <d-modal :seen="openModal" size="small" title="Сформировать группу" @closemodal="openModal = false">
      <div class="add-group-modal">
        <div class="add-group-modal--item">
          <div class="custom-title">Названия группы</div>
          <d-select
            class="grey rounded"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="options"
            label="title"
            v-model="id"
            :reduce="item => item.id"
          ></d-select>
        </div>
        <div class="add-group-modal--item">
          <div class="custom-title">Названия группы</div>
          <d-select
            class="grey rounded"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="options"
            label="title"
            v-model="id"
            :reduce="item => item.id"
          ></d-select>
        </div>
        <d-button class="add-group-modal--btn" @click="openModal = !openModal" color="blue" rounded :text="$t('studyDepartment.save')"> </d-button>
      </div>
    </d-modal>
  </div>
</template>

<script>
import Lists from "@/components/Lists"
// import Input from '@/components/inputs/input'
import variables from "@/assets/scss/base/_variables.scss"
export default {
  components: {
    "d-lists": Lists,
    // 'd-input': Input,
    // "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    "d-modal": () => import("@/components/Modal"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-select": () => import("@/components/inputs/select")
  },
  data() {
    return {
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      iconColor: variables ? variables.grey : "",
      openModal: false,
      id: null
    }
  }
}
</script>

<style lang="scss"></style>
