<template>
  <div class="education-groups">
    <div class="education-groups__header title-row">
      <div class="main-title">
        <span>{{$t('teacherOffice.listOfGroups')}}</span>
      </div>
      <div class="education-groups__header--search">
        <d-input
          size="small"
          :placeholder="$t('studyDepartment.search')"
          align-icon="right"
          icon="search"
          icon-width="14"
          :icon-color="iconColor"
          @input="searchGroup($event)"
        ></d-input>
      </div>
    </div>
    <div class="education-groups__body">
      <d-lists :loading="loading" :len="list && list.length" dashed-header>
        <template #header>
          <div class="columns">
            <div class="column is-5">
              <span>{{ $t("studyDepartment.groups") }}</span>
            </div>
            <div class="column is-3">
              <span>{{ $t("studyDepartment.students") }}</span>
            </div>
            <div class="column is-3">
              <span>{{ $t("studyDepartment.department") }}</span>
            </div>
            <div class="column">
              <router-link :to="{ name: 'cabinetLearningGroupsAddGroup' }" tag="button" class="add-btn icon-btn">
                <d-icon-wrapper icon="accordion_plus" />
                <span> {{ $t("studyDepartment.add") }} </span>
              </router-link>
            </div>
          </div>
        </template>

        <template #content>
          <div v-for="item in list" :key="item.id">
            <router-link
              tag="div"
              :to="{
                name: 'cabinetLearningGroupsId',
                params: { id: item.id }
              }"
              class="columns"
            >
              <div class="column is-5">{{ item.name || "..." }}</div>
              <div class="column is-3">{{ item.count }}</div>
              <div class="column is-3">
                {{ Object.keys(item.department).length ? $nt(item.department.name) : "Не заполнено" }}
              </div>
              <div class="column">
                <button class="delete-btn icon-btn" @click.stop="toggleModal(item)">
                  <d-icon-wrapper icon="delete" />
                </button>
              </div>
            </router-link>
          </div>
        </template>
      </d-lists>
      <d-modal :seen="openModal" size="small" @closemodal="openModal = false">
        <div class="education-groups__modal">
          <div class="education-groups__modal__title">
            Вы действительно хотите удалить группу?
          </div>
          <div class="education-groups__modal__btns">
            <d-btn color="blue" text="Да" rounded class="education-groups__modal__delete" @click="deleteGroupAction" />
            <d-btn color="grey" rounded text="Нет" @click="toggleModal" />
          </div>
        </div>
      </d-modal>
      <d-pagination v-model="pagination.page" :total="pagination.count" />
    </div>
  </div>
</template>

<script>
import Lists from "@/components/Lists"
import Input from "@/components/inputs/input"
import variables from "@/assets/scss/base/_variables.scss"
import { mapActions } from "vuex"
import Pagination from "@/components/Pagination"
export default {
  components: {
    "d-lists": Lists,
    "d-input": Input,
    "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    "d-modal": () => import("@/components/Modal"),
    "d-btn": () => import("@/components/buttons/loaderButton"),
    // "d-select": () => import("@/components/inputs/select"),
    "d-pagination": Pagination
  },
  data() {
    return {
      loading: false,
      openModal: false,
      groupInfo: null,
      pagination: {
        page: 1,
        limit: 10,
        count: 100
      },

      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      iconColor: variables ? variables.grey : "",
      id: null,
      list: []
    }
  },

  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },

  methods: {
    ...mapActions("groups", ["getGroupList", "changeGroup"]),

    searchGroup(e) {
      this.fetchList({
        params: {
          search: e,
          limit: this.pagination.limit,
          offset: this.offsetComputed
        }
      })
      // this.loading = false;
    },
    toggleModal(params) {
      this.openModal = !this.openModal
      this.groupInfo = params ? params : null
    },
    deleteGroupAction() {
      this.changeGroup({ group_id: this.groupInfo.id, action: "delete" }).then(res => {
        if (res && res.status == 204) {
          const f = this.list.findIndex(item => item.id == this.groupInfo.id)
          if (f != -1) {
            this.list.splice(f, 1)
          }
          this.fetchList({
            params: {
              limit: this.pagination.limit,
              offset: this.offsetComputed
            }
          })
          this.openModal = false
          this.$store.dispatch("snackbar/changeToasts", {
            text: `Группа "${this.groupInfo.name}" успешно удалена!`,
            color: "success"
          })
        }
      })
    },
    fetchList(params) {
      this.loading = true
      this.getGroupList(params)
        .then(res => {
          if (res && res.data) {
            console.log(res)
            this.list = res.data.results
            this.pagination.count = res.data.count
            this.loading = false
          }
        })
        .catch(() => {
          this.loading = false
        })
    }
  },
  watch: {
    offsetComputed(val) {
      this.fetchList({
        params: {
          limit: this.pagination.limit,
          offset: val
        }
      })
      // this.loading = false;
    }
  },
  mounted() {
    this.loading = true
    this.getGroupList({
      params: {
        limit: this.pagination.limit,
        offset: this.offsetComputed
      }
    })
      .then(res => {
        if (res && res.data) {
          this.list = res.data.results
          this.pagination.count = res.data.count
          this.loading = false
        }
      })
      .catch(() => {
        this.loading = false
      })
    // this.loading = false;
  }
}
</script>
<style lang="scss">
.education-groups__body {
  display: flex;
  flex-direction: column;

  .delete_effect {
    transform: translateX(100%);
  }
}
.d-pagination {
  margin-top: auto;
  justify-content: flex-end;
}
</style>
