<template>
  <div class="page-section connection">
    <div class="title-row connection__header">
      <div class="main-title">
        <span>{{ $t("studyDepartment.courses") }}</span>
      </div>
    </div>
    <div class="connection__body">
      <d-lists dashed-header no-cursor-pointer :loading="loading" :len="list && list.length">
        <template #header>
          <div class="columns">
            <div class="column is-5"><span>Названия курса</span></div>
            <div class="column"><span>{{$t('studentOffice.passedFailed')}}</span></div>
          </div>
        </template>
        <template #content>
          <template>
            <router-link
              :to="{
                name: 'cabinetStudentsFeedbackId',
                params: { id: item.id }
              }"
              v-for="item in list"
              :key="item.id"
            >
              <div class="columns">
                <div class="column is-5">{{ $gv(item.name) }}</div>
                <div class="column is-3 connection__body__done" :class="{ connection__body__done_green: item.passed }">
                  {{ item.passed ? "Пройдено" : "Не пройдено" }}
                </div>
              </div>
            </router-link>
          </template>
        </template>
      </d-lists>
    </div>
    <div class="connection__footer right">
      <d-pagination @change="fetchList" v-model="pagination.page" :total="pagination.count" :limit="pagination.limit" />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/PaginationInput")
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10,
        count: 100
      },
      list: [],
      loading: false,
      dropdownToggle: false
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("studentFeedback", ["getListCourses"]),
    fetchList() {
      this.loading = true
      this.getListCourses({
        limit: this.pagination.limit,
        offset: this.offsetComputed
      }).then(res => {
        this.list = res.data.results
        this.pagination.count = res.data.count
        this.loading = false
      })
    }
  },
  mounted() {
    this.fetchList()
  }
}
</script>
