<template>
  <div class="exam">
    <div class="exam__cal">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt fugiat molestiae necessitatibus nisi non placeat quidem quo suscipit
      tempore.
    </div>
    <div class="exam__info">
      <div class="exam__term">
        <div class="exam__text">
          Срок изучения
        </div>
        <d-btn text="4 недели" color="blue" rounded />
      </div>
      <div class="exam__intermediate">
        <div class="exam__intermediate__wrapper">
          <span class="exam__round"></span>
          <div class="exam__text">
            Промежуточный контроль
          </div>
        </div>
        <div class="exam__date">
          14.10.2020
        </div>
      </div>
      <div class="exam__final">
        <div class="exam__intermediate__wrapper">
          <span class="exam__round exam__round_green"></span>
          <div class="exam__text">
            Итоговый контроль
          </div>
        </div>
        <div class="exam__date">
          14.10.2020
        </div>
      </div>
      <div class="exam__holidays">
        <div class="exam__holidays__title">
          Нерабочие праздничные дни
        </div>
        <div class="exam__holidays__item" v-for="item in 10" :key="item">
          <div class="exam__holidays__day">
            <span>{{ item }}</span>
            <span>января</span>
          </div>
          <div class="exam__text">
            Новый год
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import loaderButton from "@/components/buttons/loaderButton"

export default {
  components: {
    "d-btn": loaderButton
  },
  data() {
    return {}
  }
}
</script>
