<template>
  <div class="tasks">
    <d-modal title="Рассылка" @closemodal="closemodal" v-show="modalSeen" v-if="!loading" size="small" class="tasks__modal">
      <h3 class="tasks__modal__date">Дата начала</h3>
      <d-date-select
        title="Название модуля"
        :placeholder="$t('teacherOffice.enterTheText')"
        rounded
        class="modal-variant-1"
        style="padding: 0"
        v-model="form.start_date"
        v-if="modalSeen"
        grey2
        @change="fieldsFilled"
      />
      <h3 class="tasks__modal__date">Дата окончания</h3>
      <d-date-select
        title="Название модуля"
        :placeholder="$t('teacherOffice.enterTheText')"
        rounded
        class="modal-variant-1"
        style="padding: 0"
        v-model="form.end_date"
        v-if="modalSeen"
        @change="fieldsFilled"
        grey2
      />
      <d-pagination-select
        :title="$t('teacherOffice.students')"
        class="grey rounded is-block mb-5"
        :placeholder="$t('studyDepartment.select')"
        multiple
        multi-name
        label="name"
        module="teacherTeachersTask/getStudents"
        v-if="modalSeen"
        v-model="form.students"
        @change="fieldsFilled"
        :reduce="(item) => item"
      >
        <!-- <template #selected-option="props">
          {{ $nt(props.name) }}
        </template>

        <template #option="props">
          {{ $nt(props.name) }}
        </template> -->
      </d-pagination-select>
      <d-pagination-select
        :title="$t('studyDepartment.groups')"
        v-if="chosenTaskType !== 'tests'"
        class="grey rounded is-block mb-5"
        :placeholder="$t('studyDepartment.select')"
        multiple
        multi-name
        label="name"
        :parentList="groupList"
        v-model="form.student_groups"
        @change="fieldsFilled"
        :reduce="(item) => item.id"
      >
      </d-pagination-select>
      <!-- {{ form.student_groups.name }} -->
      <!-- </d-pagination-select> -->
      <d-select
        :title="$t('studyDepartment.groups')"
        v-if="chosenTaskType === 'tests'"
        :placeholder="$t('studyDepartment.select')"
        :options="groupList"
        rounded
        label="name"
        class="grey rounded is-block mb-5 h-100"
        v-model="form.student_groups"
        :reduce="(item) => item"
        @change="fieldsFilled"
      />
      <d-select
        title="Модулы"
        :placeholder="$t('studyDepartment.select')"
        :options="moduleList"
        rounded
        label="name"
        v-if="chosenTaskType === 'tests'"
        class="grey rounded is-block mb-5 h-100"
        v-model="formModule"
        @change="fieldsFilled"
        :reduce="(item) => item.id"
      />
      <d-select
        v-if="chosenTaskType === 'tests'"
        title="События"
        :placeholder="$t('studyDepartment.select')"
        :options="eventList"
        rounded
        label="date"
        class="grey rounded is-block mb-5 h-100"
        v-model="form.event"
        :reduce="(item) => item.id"
        @change="fieldsFilled"
      />
      <center>
        <div class="tasks__modal__btns">
          <d-btn :text="$t('studyDepartment.cancel')" @click="closemodal" :disabled="sending" rounded class="grey" />
          <d-btn :text="$t('studyDepartment.save')" :disabled="fieldsFilledSend || sending" @click="sendToStudents" rounded class="blue" />
        </div>
      </center>
    </d-modal>
    <!-- Add new tests -> Создавать новый тесты -->
    <!-- <d-modal
      title="Добавить тест по темам"
      @closemodal="closemodal"
      v-show="addNewTestsModal"
      v-if="!loading && task.discipline"
      size="small"
      class="tasks__modal"
    >
      <div class="unique-tests">
        <d-pagination-select
          class="is-block mb-5 small-menu rounded pagination-select"
          title="Тема(ы)"
          placeholder="Выберите"
          ml
          multiple
          label="name"
          :parentList="topicList"
          :discipline="task.discipline"
          v-model="testForm.topics"
          :reduce="(item) => item.id"
        />
        <div
          class="unique-tests--item"
          v-for="(item, index) in newTestsForm.arguments"
          :key="index"
        >
          <d-select
            title="Тип таска"
            placeholder="Выберите"
            :options="taskTypeList"
            :disabled="loading2"
            ml
            rounded
            label="name"
            class="rounded is-block mb-5"
            v-model="item.task_type"
            :reduce="(item) => item.id"
          />
          <d-select
            title="Сложность"
            placeholder="Выберите"
            :options="difficultyList"
            :disabled="loading2"
            ml
            rounded
            label="name"
            class="rounded is-block mb-5"
            v-model="item.difficulty"
            :reduce="(item) => item.id"
          />
        </div>
        <div class="is-flex is-justify-content-right">
          <d-btn
            text="Добавить еще"
            @click="onAddArgument"
            rounded
            class="blue ml-auto"
          />
        </div>
      </div>
      <div
        class="is-flex is-align-items-center is-justify-content-space-between"
      >
        <d-btn
          text="Отменить"
          @click="closemodal"
          :disabled="false"
          rounded
          class="grey"
        />
        <d-btn
          text="Сохранить"
          :disabled="false"
          :loading="loading2"
          @click="regenerate"
          rounded
          class="blue ml-auto"
        />
      </div>
    </d-modal> -->

    <!-- add new tests -->
    <d-modal
      title="Добавить тест по тему"
      @closemodal="closemodal"
      v-show="currModalTest == 'each'"
      v-if="!loading && task.discipline"
      size="small"
      class="tasks__modal"
    >
      <div class="unique-tests">
        <div class="unique-tests--item" v-for="(item, index) in newTestForm.arguments" :key="index">
          <d-pagination-select
            class="is-block mb-5 small-menu rounded pagination-select"
            :disabled="loading2"
            title="Тема(ы)"
            :placeholder="$t('studyDepartment.select')"
            ml
            multiple
            label="name"
            :parentList="topicList"
            @change="checkFields('newTests')"
            v-model="item.topic"
            :reduce="(item) => item.id"
          >
            <template #selected-option="props">
              {{ $nt(props.name) }}
            </template>

            <template #option="props">
              {{ $nt(props.name) }}
            </template>
          </d-pagination-select>
          <d-select
            :title="$t('teacherOffice.typeOfTask')"
            :disabled="loading2"
            :placeholder="$t('studyDepartment.select')"
            :options="taskTypeList"
            ml
            rounded
            label="name"
            class="rounded is-block mb-5"
            v-model="item.task_type"
            :reduce="(item) => item.id"
            @change="checkFields('newTests')"
          />
          <d-select
            :title="$t('teacherOffice.difficulty')"
            :disabled="loading2"
            :placeholder="$t('studyDepartment.select')"
            :options="difficultyList"
            ml
            rounded
            label="name"
            class="rounded is-block mb-5"
            @change="checkFields('newTests')"
            v-model="item.difficulty"
            :reduce="(item) => item.id"
          />
          <d-input
            title="Количество вопросов"
            class="rounded mb-3"
            :disabled="loading2"
            rounded
            type="number"
            placeholder="Введите логин"
            @change="checkFields('newTests')"
            v-model.number="item.question_count"
          ></d-input>
        </div>
        <div class="is-flex is-justify-content-right">
          <d-btn text="Добавить еще" @click="onAddArgument" rounded class="blue ml-auto" />
        </div>
      </div>
      <div class="is-flex is-align-items-center is-justify-content-space-between">
        <d-btn :text="$t('studyDepartment.cancel')" @click="closemodal" :disabled="false" rounded class="grey" />
        <d-btn
          :text="$t('studyDepartment.save')"
          :disabled="fieldsFilledNewTests"
          :loading="loading2"
          @click="regenerateNewTests"
          rounded
          class="blue ml-auto"
        />
      </div>
    </d-modal>

    <d-modal
      title="Добавить тест по темам"
      @closemodal="closemodal"
      v-show="currModalTest == 'all'"
      v-if="!loading && task.discipline"
      size="small"
      class="tasks__modal"
    >
      <div class="unique-tests">
        <d-pagination-select
          class="is-block mb-5 small-menu rounded pagination-select"
          title="Тема(ы)"
          :placeholder="$t('studyDepartment.select')"
          ml
          multiple
          label="name"
          :parentList="topicList"
          @change="checkFields('newTests')"
          v-model="newTestForm.topics"
          :reduce="(item) => item.id"
        >
          <template #selected-option="props">
            {{ $nt(props.name) }}
          </template>

          <template #option="props">
            {{ $nt(props.name) }}
          </template>
        </d-pagination-select>
        <div class="unique-tests--item" v-for="(item, index) in newTestForm.arguments" :key="index">
          <d-select
            :title="$t('teacherOffice.typeOfTask')"
            :placeholder="$t('studyDepartment.select')"
            :options="taskTypeList"
            :disabled="loading2"
            ml
            rounded
            label="name"
            @change="checkFields('newTests')"
            class="rounded is-block mb-5"
            v-model="item.task_type"
            :reduce="(item) => item.id"
          />
          <d-select
            :title="$t('teacherOffice.difficulty')"
            :placeholder="$t('studyDepartment.select')"
            :options="difficultyList"
            @change="checkFields('newTests')"
            :disabled="loading2"
            ml
            rounded
            label="name"
            class="rounded is-block mb-5"
            v-model="item.difficulty"
            :reduce="(item) => item.id"
          />
          <d-input
            title="Количество вопросов"
            class="rounded mb-3"
            :disabled="loading2"
            type="number"
            rounded
            @change="checkFields('newTests')"
            placeholder="Введите логин"
            v-model="item.question_count"
          ></d-input>
        </div>
        <div class="is-flex is-justify-content-right">
          <d-btn text="Добавить еще" @click="onAddArgument" rounded class="blue ml-auto" />
        </div>
      </div>
      <div class="is-flex is-align-items-center is-justify-content-space-between">
        <d-btn :text="$t('studyDepartment.cancel')" @click="closemodal" :disabled="false" rounded class="grey" />
        <d-btn
          :text="$t('studyDepartment.save')"
          :disabled="fieldsFilledNewTests"
          :loading="loading2"
          @click="regenerateNewTests"
          rounded
          class="blue ml-auto"
        />
      </div>
    </d-modal>

    <div class="tasks__header" v-if="!recieveTests">
      <div class="tasks__header__length">
        <div v-if="chosenTaskType === 'assigments'">Количество файлов:</div>
        <div v-if="chosenTaskType === 'tests'">Действия:</div>
      </div>
      <div>
        <d-btn text="Разослать" rounded color="blue" class="tasks__header__btn" @click="modalSeen = !modalSeen" />
        <d-btn
          text="Получить новые тесты"
          v-if="chosenTaskType === 'tests'"
          rounded
          color="blue"
          class="tasks__header__btn ml-4"
          @click="fetchTestList"
        />
        <d-dropdown>
          <template #body>
            <!-- <button
              class="blue add-btn icon-btn ml-auto"
              @click="open = !open"
              size="is-small"
            >
              <d-icon icon="accordion_plus" />
            </button> -->
            <d-btn v-if="chosenTaskType === 'tests'" text="Создавать новый тесты" rounded color="blue" class="tasks__header__btn ml-4" />
          </template>

          <template #dropdown-menu>
            <div class="tasks-prog__descr" @click="addNewTestsByRendom('each')">Добавить тест отдельно</div>
            <div class="tasks-prog__descr" @click="addNewTestsByRendom('all')">Добавить тест по темам</div>
          </template>
        </d-dropdown>
        <d-dropdown>
          <template #body>
            <!-- <button
              class="blue add-btn icon-btn ml-auto"
              @click="open = !open"
              size="is-small"
            >
              <d-icon icon="accordion_plus" />
            </button> -->
            <d-btn v-if="chosenTaskType === 'tests'" text="Регенерация" rounded color="blue" class="tasks__header__btn ml-4" />
          </template>

          <template #dropdown-menu>
            <div class="tasks-prog__descr" @click="regenerateAllTests('each')">Добавить тест отдельно</div>
            <div class="tasks-prog__descr" @click="regenerateAllTests('all')">Добавить тест по темам</div>
          </template>
        </d-dropdown>

        <!-- regenerate tests -->

        <d-modal
          title="Добавить тест по тему"
          @closemodal="closemodal"
          v-show="currModal == 'each'"
          v-if="!loading && task.discipline"
          size="small"
          class="tasks__modal"
        >
          <div class="unique-tests">
            <div class="unique-tests--item" v-for="(item, index) in testForm.arguments" :key="index">
              <d-pagination-select
                class="is-block mb-5 small-menu rounded pagination-select"
                :disabled="loading2"
                title="Тема(ы)"
                :placeholder="$t('studyDepartment.select')"
                @change="checkFields('regenerate')"
                ml
                multiple
                label="name"
                :parentList="topicList"
                v-model="item.topic"
                :reduce="(item) => item.id"
              >
                <template #selected-option="props">
                  {{ $nt(props.name) }}
                </template>

                <template #option="props">
                  {{ $nt(props.name) }}
                </template>
              </d-pagination-select>
              <d-select
                :title="$t('teacherOffice.typeOfTask')"
                :disabled="loading2"
                :placeholder="$t('studyDepartment.select')"
                @change="checkFields('regenerate')"
                :options="taskTypeList"
                ml
                rounded
                label="name"
                class="rounded is-block mb-5"
                v-model="item.task_type"
                :reduce="(item) => item.id"
              />
              <d-select
                :title="$t('teacherOffice.difficulty')"
                :disabled="loading2"
                :placeholder="$t('studyDepartment.select')"
                :options="difficultyList"
                ml
                @change="checkFields('regenerate')"
                rounded
                label="name"
                class="rounded is-block mb-5"
                v-model="item.difficulty"
                :reduce="(item) => item.id"
              />
              <d-input
                title="Количество вопросов"
                class="rounded mb-3"
                :disabled="loading2"
                rounded
                @change="checkFields('regenerate')"
                type="number"
                placeholder="Введите логин"
                v-model="item.question_count"
              ></d-input>
            </div>
            <div class="is-flex is-justify-content-right">
              <d-btn text="Добавить еще" @click="onAddArgument" rounded class="blue ml-auto" />
            </div>
          </div>
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <d-btn :text="$t('studyDepartment.cancel')" @click="closemodal" :disabled="false" rounded class="grey" />
            <d-btn
              :text="$t('studyDepartment.save')"
              :disabled="fieldsFilledRegenerate"
              :loading="loading2"
              @click="regenerate"
              rounded
              class="blue ml-auto"
            />
          </div>
        </d-modal>

        <d-modal
          title="Добавить тест по темам"
          @closemodal="closemodal"
          v-show="currModal == 'all'"
          v-if="!loading && task.discipline"
          size="small"
          class="tasks__modal"
        >
          <div class="unique-tests">
            <d-pagination-select
              class="is-block mb-5 small-menu rounded pagination-select"
              title="Тема(ы)"
              :placeholder="$t('studyDepartment.select')"
              ml
              multiple
              label="name"
              :parentList="topicList"
              @change="checkFields('regenerate')"
              v-model="testForm.topics"
              :reduce="(item) => item.id"
            >
              <template #selected-option="props">
                {{ $nt(props.name) }}
              </template>

              <template #option="props">
                {{ $nt(props.name) }}
              </template>
            </d-pagination-select>
            <div class="unique-tests--item" v-for="(item, index) in testForm.arguments" :key="index">
              <d-select
                :title="$t('teacherOffice.typeOfTask')"
                :placeholder="$t('studyDepartment.select')"
                :options="taskTypeList"
                @change="checkFields('regenerate')"
                :disabled="loading2"
                ml
                rounded
                label="name"
                class="rounded is-block mb-5"
                v-model="item.task_type"
                :reduce="(item) => item.id"
              />
              <d-select
                :title="$t('teacherOffice.difficulty')"
                :placeholder="$t('studyDepartment.select')"
                :options="difficultyList"
                :disabled="loading2"
                ml
                rounded
                label="name"
                @change="checkFields('regenerate')"
                class="rounded is-block mb-5"
                v-model="item.difficulty"
                :reduce="(item) => item.id"
              />
              <d-input
                title="Количество вопросов"
                class="rounded mb-3"
                :disabled="loading2"
                type="number"
                rounded
                placeholder="Введите логин"
                @change="checkFields('regenerate')"
                v-model="item.question_count"
              ></d-input>
            </div>
            <div class="is-flex is-justify-content-right">
              <d-btn text="Добавить еще" @click="onAddArgument" rounded class="blue ml-auto" />
            </div>
          </div>
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <d-btn :text="$t('studyDepartment.cancel')" @click="currModal = ''" :disabled="false" rounded class="grey" />
            <d-btn
              :text="$t('studyDepartment.save')"
              :disabled="fieldsFilledRegenerate"
              :loading="loading2"
              @click="regenerate"
              roundeda
              class="blue ml-auto"
            />
          </div>
        </d-modal>
      </div>
    </div>

    <!-- recieve tests filter -->

    <div class="tasks__header columns" v-if="recieveTests">
      <d-select
        title="Темы"
        :placeholder="$t('studyDepartment.select')"
        :options="topicList"
        rounded
        label="name"
        ml
        clearable
        class="rounded is-block mb-5 column is-3"
        v-model="topicIdFilter"
        :reduce="(item) => item.id"
        @change="fetchTestList('filter')"
      />
      <d-select
        :title="$t('teacherOffice.discipline')"
        :placeholder="$t('studyDepartment.select')"
        :options="disciplineList"
        rounded
        label="name"
        ml
        clearable
        class="rounded is-block mb-5 column is-3"
        v-model="disciplineFilter"
        :reduce="(item) => item.id"
        @change="fetchTestList('filter')"
      />

      <d-select
        :title="$t('teacherOffice.difficulty')"
        :placeholder="$t('studyDepartment.select')"
        :options="difficultyList"
        :disabled="loading2"
        ml
        clearable
        rounded
        label="name"
        @change="fetchTestList('filter')"
        class="rounded is-block mb-5 column is-3"
        v-model="difficultyIdFilter"
        :reduce="(item) => item.id"
      />

      <d-select
        :title="$t('teacherOffice.typeOfTask')"
        :disabled="loading2"
        :placeholder="$t('studyDepartment.select')"
        :options="taskTypeList"
        ml
        clearable
        rounded
        label="name"
        class="rounded is-block mb-5 column is-3"
        v-model="tasktypeIdFilter"
        :reduce="(item) => item.id"
        @change="fetchTestList('filter')"
      />
    </div>

    <!-- end of filter list -->

    <div class="page-section tasks-prog">
      <div class="tasks-prog__body">
        <d-lists dashedHeader :len="10" :loading="loading" :key="reloadKey">
          <template #header>
            <div class="columns">
              <div class="column"><span>Список тестов</span></div>
              <div v-if="makeAction" class="make-action">
                <!-- <span v-if="!recieveTests" @click="deleteTests">
                  <d-icon class="svg__grey h__18 w__18" icon="delete"
                /></span>
                <span v-if="!recieveTests" @click="replaceTests"
                  ><d-icon class="svg__grey h__18 w__18" icon="report"
                /></span> -->
                <d-dropdown v-if="!recieveTests">
                  <template #body>
                    <span class="more-icon"><d-icon class="svg__grey h__18 w__18" icon="more" /></span>
                  </template>

                  <template #dropdown-menu>
                    <div class="tasks-prog__descr" @click="replaceTests">Заменить</div>
                    <div class="tasks-prog__descr" @click="deleteTests">
                      {{ $t("studyDepartment.delete") }}
                    </div>
                  </template>
                </d-dropdown>

                <d-btn
                  :text="$t('studyDepartment.add')"
                  v-if="recieveTests"
                  rounded
                  color="blue"
                  class="tasks__header__btn"
                  @click="addTestsAction"
                />
              </div>
            </div>
            <div class="columns">
              <!-- <router-link
                  tag="button"
                  to="/cabinet/teachers/tasks/create"
                  class="blue add-btn icon-btn"
                  size="is-small"
                >
                  <template>
                    <d-icon icon="accordion_plus" />
                    <span>
                      Добавить
                    </span>
                  </template>
                </router-link> -->
              <!-- {{ task }} salom -->
              <div class="ttest-detail-main__detail__left__events column">
                <div
                  class="is-flex ttest-detail-main__detail__left__events--item test-actions h-a"
                  v-for="(item, index) in task.questions"
                  :key="item.id"
                >
                  <div class="test-checkbox">
                    <d-checkbox :checked="item.is_selected" @change="selectTest(item.id)" />
                  </div>
                  <div :class="['ttest-detail-main__detail__left__events--item__left h-a', { 'dashed-line': index != task.questions.length - 1 }]">
                    <div class="ttest-detail-main__detail__left__events--item__left--number">
                      {{ index + 1 }}
                    </div>
                  </div>
                  <div class="ttest-detail-main__detail__left__events--item__right h-a">
                    <div class="ttest-detail-main__detail__left__events--item__right--date m-b p-r-16 h-a">
                      {{ $nt(item.question) }}
                    </div>
                    <div
                      :class="
                        ('mt-3',
                        {
                          'has-text-black': !answer.is_correct,
                          'has-text-success': answer.is_correct
                        })
                      "
                      v-for="answer in item.answers"
                      :key="answer.id"
                    >
                      <div :class="{ correctAnswer: answer.is_correct }">
                        {{ $nt(answer.answer) }}
                      </div>
                    </div>
                    <div class="is-flex mt-3 ttest-detail-main__detail__left__events--item__right--comments">
                      <div class="ttest-detail-main__detail__left__events--item__right--comments__user">
                        <!-- <d-avatar
                          :item="item"
                          width="45"
                          height="45"
                          cover
                          border
                        /> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <!-- assigments -->
          <template #content>
            <a :href="item.file" target="blank" download="download" class="columns" v-for="(item, index) in task.files" :key="index">
              <div class="column is-10 tasks-prog__item">
                <div class="tasks-prog__item__link">
                  <!-- <span class="checkbox">
                    <img
                      v-if="task.selected"
                      src="@/assets/images/check_tasks.png"
                      alt=""
                    />
                  </span> -->
                  <span>{{ item.file.split("/").pop() || "" }} </span>
                </div>
              </div>
              <div class="column right tasks-prog__item__link">
                <d-dropdown up>
                  <template #body>
                    <d-icon icon="information" style="width: 30px" class="custom-dropdown__trigger" @click.prevent="open = !open" />
                  </template>
                  <template #dropdown-menu>
                    <div class="tasks-prog__descr" @click.prevent="">Description</div>
                  </template>
                </d-dropdown>
              </div>
            </a>
          </template>
        </d-lists>
      </div>
      <div class="tasks-prog__footer right mb-10">
        <d-pagination @change="getFileList" v-model="pagination.page" :total="fileCount" :limit="pagination.limit" />
        <!-- </div> -->
        <!-- <div class="tasks-prog__footer right"> -->
        <d-pagination @change="fetchTestList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
        <!-- </div> -->
        <!-- <div class="tasks-prog__footer right"> -->
      </div>
    </div>

    <!-- footer pagination -->
    <!-- <div class="tasks-prog__footer right">
      <d-pagination
        @change="fetchList"
        v-model="pagination.page"
        :total="count"
        :limit="pagination.limit"
      />
    </div> -->
  </div>
</template>

<script>
import loaderButton from "@/components/buttons/loaderButton"
import Modal from "@/components/Modal"
import select from "@/components/inputs/select"
import dateSelector from "@/components/inputs/date-selector"
import { mapActions } from "vuex"
// import Input from "../../../../../components/inputs/input.vue";

const uniqueTest = {
  function: "",
  arguments: [
    {
      topic: [],
      task_type: null,
      difficulty: null,
      question_count: null
    }
  ]
}

const globalTest = {
  function: "",
  topics: [],
  arguments: [
    {
      task_type: null,
      difficulty: null,
      question_count: null
    }
  ]
}
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/Pagination"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-btn": loaderButton,
    "d-modal": Modal,
    "d-select": select,
    "d-pagination-select": () => import("@/components/inputs/pagination-select"),
    "d-date-select": dateSelector,
    "d-checkbox": () => import("@/components/inputs/checkbox"),
    // Input,
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-input": () => import("@/components/inputs/input")
  },
  data() {
    return {
      reloadKey: 1,
      open: false,
      modalSeen: false,
      selected: [],
      pagination: {
        page: 1,
        limit: 20
      },
      form: {
        start_date: "",
        end_date: "",
        students: [],
        student_groups: null,
        event: null
      },
      formModule: [],
      fileCount: null,
      task: {},
      loading: false,
      sending: false,
      groupList: [],
      studentList: [],
      modulelist: [],
      fileList: [],
      selectedTests: [],
      testForm: {},
      newTestForm: {},
      newTestList: [],
      makeAction: false,
      // d-modal
      loading2: false,
      topicList: [],
      currModal: "",
      currModalTest: "",
      taskTypeList: [],
      difficultyList: [],
      // testForm: "",
      chosenTaskType: "",
      moduleList: [],
      currArg: {},
      newCurrArg: {},
      eventList: [],
      recieveTests: false,
      fieldsFilledNewTests: true,
      fieldsFilledRegenerate: true,
      fieldsFilledSend: true,
      // Filter lists
      disciplineList: [],
      topicIdFilter: null,
      disciplineFilter: null,
      tasktypeIdFilter: null,
      difficultyIdFilter: null,
      // pagination parametrs:
      count: null
    }
  },
  watch: {
    currModal(newVal) {
      if (newVal == "each") {
        this.testForm = JSON.parse(JSON.stringify(uniqueTest))
        this.currArg = {
          topic: [],
          task_type: null,
          difficulty: null,
          question_count: null
        }
        this.getSupportingList()
      } else if (newVal == "all") {
        this.testForm = JSON.parse(JSON.stringify(globalTest))
        this.currArg = {
          task_type: null,
          difficulty: null,
          question_count: null
        }
        this.getSupportingList()
      } else {
        this.testForm = {}
      }
    },
    currModalTest(newVal) {
      if (newVal == "each") {
        this.newTestForm = JSON.parse(JSON.stringify(uniqueTest))
        this.newCurrArg = {
          topic: [],
          task_type: null,
          difficulty: null,
          question_count: null
        }
        this.getSupportingList()
      } else if (newVal == "all") {
        this.newTestForm = JSON.parse(JSON.stringify(globalTest))
        this.newCurrArg = {
          task_type: null,
          difficulty: null,
          question_count: null
        }
        this.getSupportingList()
      } else {
        this.newTestForm = {}
      }
    },

    $route: {
      async handler() {
        this.chosenTaskType = this.$route.query.chosedTab
        await this.fetchList()
        this.getGroupList()
        // this.getStudentList()
        this.getModuleCourse()
        this.getDisciplineList()

        // this.getEventList();
      },
      immediate: true
    }
  },

  // mounted() {
  // this.fetchList();
  // },

  computed: {
    // fieldsFilled() {
    // for (let key in this.form) {
    //   if (
    //     ["students", "student_groups", "modules"].includes(key) &&
    //     !this.form[key].length
    //   ) {
    //     return false;
    //   }
    //   if (!this.form[key]) return false;
    // }
    // return this.modulList && this.checkObjectFields(this.form);
    // },
    // fieldsFilledTestAll() {
    //   if (!this.testForm.function) {
    //     return false;
    //   } else if (!this.testForm.topics.length) {
    //     return false;
    //   } else if (
    //     !!this.testForm.topics.length &&
    //     !!this.testForm.arguments.length
    //   ) {
    //     for (const element of this.testForm.arguments) {
    //       let isFilled = Object.keys(element).every((key) => element[key]);
    //       if (!isFilled) {
    //         return isFilled;
    //       }
    //     }
    //   } else {
    //     return true;
    //   }
    // },

    fieldsFilledNewTest() {
      // console.log(this.newTestForm);
      // console.log(!this.checkObjectFields(this.newTestForm));
      return !this.checkObjectFields(this.newTestForm)
      // return false;
    }
    // fieldsFilledTest() {
    //   console.log(this.testForm);
    //   console.log(!this.checkObjectFields(this.testForm));
    //   return !this.checkObjectFields(this.testForm);
    //   // return false;
    // },
    // offsetComputed() {
    //   return this.pagination.page < 2
    //     ? 0
    //     : this.pagination.page * this.pagination.limit - this.pagination.limit;
    // },
  },
  methods: {
    ...mapActions("teacherTeachersTask", {
      teacherTeachersTaskGetDetail: "getDetail"
    }),
    ...mapActions("teacherTeachersTask", {
      teacherTeachersTaskGetStudents: "getStudents"
    }),
    ...mapActions("teacherTests", {
      teacherTestsTaskGetTopicList: "getTopicList"
    }),

    ...mapActions("teacherTeachersTask", ["getStudentGroups"]),

    // get methods
    getModuleCourse() {
      return this.$store.dispatch("teacherTeachersTask/getModuleCourseList").then((res) => {
        // console.log("Module List", res);
        this.moduleList = res.results.map((result) => {
          return {
            id: result.id,
            name: this.$nt(result.name)
          }
        })
      })
    },
    getEventList() {
      // console.log(this.formModule);
      if (this.formModule && this.form.end_date && this.form.start_date && this.form.student_groups && this.form.student_groups.id) {
        this.$store
          .dispatch("teacherTeachersTask/getEventList", {
            start_date: this.form.start_date,
            end_date: this.form.end_date,
            student_group: this.form.student_groups.id,
            module: this.formModule
          })
          .then((res) => {
            // console.log("eventList response", res.results);
            // this.eventList = res.results;
            let cloneEventList = res.results
            this.eventList = cloneEventList.map((item) => {
              const t = item.date.split("-")
              const [year, month, day] = t
              // console.log(day, month, year);
              item.date = day + "-" + month + "-" + year
              return item
            })
          })
          .catch(() => {
            // console.log("EventList Error", err);
          })
      }
    },
    modalFilled() {
      let mFilled = true
      this.testForm.arguments.forEach((arg) => {
        for (let key in arg) {
          if (!arg[key]) {
            this.mFilled = false
          }
        }
      })
      return mFilled
    },
    getSupportingList() {
      this.loading2 = true
      this.$store
        .dispatch("teacherTests/getTaskTypeList")
        .then((res) => {
          if (res && res.results) {
            this.taskTypeList = res.results
          }
          this.loading2 = false
        })
        .catch(() => {
          this.loading2 = false
        })
      this.loading2 = true
      this.$store
        .dispatch("teacherTests/getDifficultyList")
        .then((res) => {
          if (res && res.results) {
            this.difficultyList = res.results
            // console.log("DiffivultyList ->  ", this.difficultyList);
          }
          this.loading2 = false
        })
        .catch(() => {
          this.loading2 = false
        })
    },
    getFileList() {
      this.fileList = this.task.files.slice(this.offsetComputed(), this.pagination.limit * this.pagination.page)
    },
    getGroupList() {
      return this.getStudentGroups()
        .then((res) => {
          // console.log("object", res);
          if (res && res.results) {
            this.groupList = res.results
          }
        })
        .catch(() => {
          // console.log("err Fetch", err);
        })
    },
    getDisciplineList() {
      // let params = {
      //   listParams: {
      //     offset: this.offsetComputed(),
      //     limit: this.pagination.limit,
      //   },
      //   discipline: this.task.discipline || -1,
      // };
      this.$store
        .dispatch("teacherTests/getDisciplineList")
        .then((res) => {
          // console.log("RES in discipline list", res);
          if (res) {
            this.disciplineList = res.results
            // console.log("this.TopicList", this.topicList);
          }
        })
        .catch(() => {
          // console.log("Err", err);
        })
    },
    // getStudentList() {
    //   this.teacherTeachersTaskGetStudents({ task_id: this.$route.params.id })
    //     .then(res => {
    //       // console.log("studentsList", res);
    //       if (res && res.results) {
    //         this.studentList = res.results.map(student => {
    //           let stdName = {
    //             ru: student.first_name + " " + student.last_name + " " + student.middle_name
    //           }
    //           return {
    //             id: student.id,
    //             name: stdName
    //           }
    //         })
    //         // console.log("students list", this.studentList);
    //       }
    //       // console.log(res);
    //     })
    //     .catch(() => {
    //       // console.log(err);
    //     })
    // },
    fetchList() {
      this.loading = true
      let endPoint = ""
      if (this.chosenTaskType === "tests") {
        endPoint = "taskcollection/"
      } else if (this.chosenTaskType === "assigments") {
        endPoint = ""
      }
      return this.teacherTeachersTaskGetDetail({
        id: this.$route.params.id,
        endPoint: endPoint
      })
        .then((res) => {
          // if (res) {
          // this.task = res;
          // this.task.questions.forEach((element) => {
          //   element.is_selected = false;
          // });
          this.count = res.count
          // console.log("resssss -> >>>>>>>", res);
          if (this.chosenTaskType === "tests") {
            this.task = {
              ...res,
              questions: res.questions.map((element) => ({
                ...element,
                is_selected: false
              }))
            }

            // console.log("FetchList -> ", this.task);
          } else if (this.chosenTaskType === "assigments") {
            this.task = {
              ...res
            }
            this.$delete(this.form, "event")
            // console.log("FetchList -> ", this.task);
          }
          this.loading = false
          // console.log("this task", this.task);
          if (this.chosenTaskType === "tests") {
            this.getTopicList()
          }
          // this.getTopicList();
          // this.fileCount = res.files.length;
          // this.getFileList();
          // }
        })
        .catch(() => {
          // console.log("Fetch List Error", err);
        })
    },
    fetchTestList(item) {
      // filter params for send api
      if (item === "filter") {
        this.pagination = {
          limit: 20,
          page: 1
        }
      }
      this.getSupportingList()
      let params = {}
      let cloneObject = {
        discipline: this.disciplineFilter,
        task_type: this.tasktypeIdFilter,
        difficulty: this.difficultyIdFilter,
        topic: this.topicIdFilter,
        offset: this.offsetComputed(),
        limit: this.pagination.limit
      }
      let ObjectKeys = Object.keys(cloneObject).map((key) => (!!cloneObject[key] && key) || undefined)

      let keysObject = {}

      ObjectKeys.forEach((key) => {
        if (key) {
          keysObject[key] = cloneObject[key]
        }
      })

      params = keysObject || {}

      // console.log(params);

      this.$store.dispatch("teacherTeachersTask/getTestBase", params).then((res) => {
        this.count = res.count
        // console.log("FetchList -> ", res.results);
        this.selectedTests = []
        // console.log("Select Test -> id => makeAction", this.makeAction);
        this.makeAction = false
        // console.log(this.selectedTests);
        this.task.questions = []
        res.results.forEach((result) => {
          let question = {
            question: result.question,
            answers: result.answers,
            is_selected: false,
            id: result.id
          }
          this.task.questions.push(question)
        })
        this.recieveTests = true
      })
    },

    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    // send methods
    sendToStudents() {
      this.sending = true
      let newForm = JSON.parse(JSON.stringify(this.form))
      if (this.chosenTaskType === "assigments") {
        this.$delete(newForm, "event")
      }
      // if (this.chosenTaskType === 'assigments') {
      //   newForm.forEach(item => {

      //   })
      // }
      newForm.students = newForm.students.map((item) => item.id) || []
      newForm.student_groups = newForm.student_groups.id
      // console.log("New Form", newForm);
      this.$store
        .dispatch("teacherTeachersTask/sendTask", {
          id: this.$route.params.id,
          payload: newForm,
          endPoint: this.chosenTaskType === "tests" ? "taskcollection/" : ""
        })
        .then((res) => {
          if (res.data) this.modalSeen = false
          this.sending = false
          this.closemodal()
        })
        .catch(() => {
          // console.log("err Fetch", err);
          this.sending = false
        })
    },

    // close methods
    closemodal() {
      this.testForm = {}
      this.newTestForm = {}
      this.formModule = null
      // this.form = {
      //   start_date: "",
      //   end_date: "",
      //   students: [],
      //   student_groups: null,
      //   event: null,
      // };
      this.form.start_date = ""
      this.form.end_date = ""
      this.form.students = []
      this.form.student_groups = null
      this.form.event = null
      // this.form = {};

      this.modulelist
      this.modalSeen = false
      this.currModalTest = ""
      this.currModal = ""
      this.fieldsFilledNewTests = true
      this.fieldsFilledRegenerate = true
      this.fieldsFilledSend = true
    },
    // chooseTask(item) {
    //   // if ((this.tasks[index].selected = true)) {
    //   //   this.tasks[index].selected = false;
    //   // }
    //   if (item.selected === false) {
    //     item.selected = true;
    //   } else {
    //     item.selected = false;
    //   }
    // },
    deleteTests() {
      // console.log(this.selectedTests);
      let testsId = this.selectedTests.map((test) => test.id)
      this.$store
        .dispatch("teacherTeachersTask/chooseAction", {
          params: {
            action: "DELETE",
            chosen_tasks: testsId
          },
          taskId: this.$route.params.id
        })
        .then((res) => {
          // let tests = [];
          // testsId.forEach((testId) => {
          //   this.task.questions = this.task.questions.filter(
          //     (question) => question.id !== testId
          //   );
          // });

          // this.task.questions.forEach((item, index) => {
          //   if (testsId.includes(item.id)) {
          //     // this.task.questions.splice(index, 1)
          //     this.task.questions = [
          //       ...this.task.questions.slice(0, index),
          //       ...this.task.questions.slice(index + 1),
          //     ];
          //   }
          if (this.task.id === res.id) {
            this.selectedTests = []
            this.fetchList()
          } else {
            this.$router.push({
              name: "cabinetTeachersTasksId",
              params: { id: res.id },
              query: {
                chosedTab: this.chosenTaskType
              }
            })
          }
          // });

          this.makeAction = false
          this.selectedTests = []
          // let taskQuestions = this.task.questions.map(question => {
          //   question.is_selected = false
          //   return question
          // })
          // this.questions = taskQuestions
          // this.task.questions = tests;
        })
    },
    replaceTests() {
      let testsId = this.selectedTests.map((test) => test.id)
      this.$store
        .dispatch("teacherTeachersTask/chooseAction", {
          params: {
            action: "REPLACE",
            chosen_tasks: testsId
          },
          taskId: this.$route.params.id
        })
        .then((res) => {
          if (this.task.id === res.id) {
            this.selectedTests = []
            // let tests = this.task.questions.map((question) => {
            //   question.is_selected = false;
            //   return question;
            // });
            this.fetchList()
          } else {
            this.$router.push({
              name: "cabinetTeachersTasksId",
              params: { id: res.id },
              query: {
                chosedTab: this.chosenTaskType
              }
            })
          }

          // if (res) {
          //   let tests = this.task.questions.map((question) => {
          //     question.is_selected = false;
          //     return question;
          //   });
          //   this.selectedTests = [];
          this.makeAction = false

          //   this.fetchList();
          //   this.task.questions = tests;

          this.reloadKey++
          // }
        })
    },
    addTestsAction() {
      let testsId = this.selectedTests.map((test) => test.id)
      this.$store
        .dispatch("teacherTeachersTask/chooseAction", {
          params: {
            action: "ADD",
            chosen_tasks: testsId
          },
          taskId: this.$route.params.id
        })
        .then((res) => {
          if (res) {
            if (this.task.id === res.id) {
              this.selectedTests = []
              // let tests = this.task.questions.map((question) => {
              //   question.is_selected = false;
              //   return question;
              // });
              this.fetchList()
            } else {
              this.$router.push({
                name: "cabinetTeachersTasksId",
                params: { id: res.id },
                query: {
                  chosedTab: this.chosenTaskType
                }
              })
            }
            this.recieveTests = false
            this.makeAction = false

            // this.fetchList();
            // this.task.questions = tests;

            this.reloadKey++
          }
        })
    },

    // choose action
    addNewTestsByRendom(item) {
      uniqueTest.function = "ADD_TASK"
      globalTest.function = "ADD_TASK"
      this.currModalTest = item
    },
    regenerateAllTests(item) {
      uniqueTest.function = "REGENERATE"
      globalTest.function = "REGENERATE"
      this.currModal = item
    },

    // actions
    regenerate() {
      if (this.testForm.arguments) {
        this.testForm.arguments.forEach((argument) => {
          argument.question_count = parseInt(argument.question_count)
        })
        this.$store
          .dispatch("teacherTeachersTask/chooseAction", {
            params: this.testForm,
            taskId: this.$route.params.id
          })
          .then((res) => {
            this.fetchList()
            this.currModal = ""
            // console.log("Regenerate response", res);
            // console.log("TestForm Function", this.testForm.function);
            if (this.task.id === res.id) {
              this.selectedTests = []
              this.fetchList()
            } else {
              this.$router.push({
                name: "cabinetTeachersTasksId",
                params: { id: res.id },
                query: {
                  chosedTab: this.chosenTaskType
                }
              })
            }
            this.makeAction = false
            this.selectedTests = []
          })
          .catch((err) => {
            console.error(err)
          })
      }
    },
    regenerateNewTests() {
      if (this.newTestForm.arguments) {
        this.newTestForm.arguments.forEach((argument) => {
          argument.question_count = parseInt(argument.question_count)
        })
        this.$store
          .dispatch("teacherTeachersTask/chooseAction", {
            params: this.newTestForm,
            taskId: this.$route.params.id
          })
          .then((res) => {
            this.fetchList()
            this.currModalTest = ""
            // console.log("Regenerate response", res);
            // console.log("TestForm Function", this.newTestForm.function);
            if (this.task.id === res.id) {
              this.selectedTests = []
              this.fetchList()
            } else {
              this.$router.push({
                name: "cabinetTeachersTasksId",
                params: { id: res.id },
                query: {
                  chosedTab: this.chosenTaskType
                }
              })
            }
            this.makeAction = false
            this.selectedTests = []
          })
          .catch((err) => {
            console.error(err)
          })
      }
    },
    selectTest(id) {
      // console.log("Not working");
      let selected = this.task.questions.find((test) => test.id === id)
      if (!selected.is_selected) {
        selected.is_selected = true
        this.selectedTests.push(selected)
        // console.log(this.selectedTests);
      } else if (selected.is_selected) {
        selected.is_selected = false
        let newSelected = this.selectedTests.filter((test) => test.id !== selected.id)
        this.selectedTests = newSelected
      }
      // let unChecked = this.task.questions.map((question) => {
      //   if (!question.is_selected) {
      //     return question;
      //   }
      // });
      this.makeAction = Boolean(this.selectedTests.length)
    },
    onAddArgument() {
      if (this.currModal === "all") {
        this.currArg = {
          task_type: null,
          difficulty: null,
          question_count: null
        }
        this.testForm.arguments.push(this.currArg)
        this.fieldsFilledRegenerate = !this.checkObjectFields(this.testForm)
      } else if (this.currModal === "each") {
        this.currArg = {
          topic: [],
          difficulty: null,
          question_count: null
        }
        this.testForm.arguments.push(this.currArg)
        this.fieldsFilledRegenerate = !this.checkObjectFields(this.testForm)
      } else if (this.currModalTest === "all") {
        this.newcurrArg = {
          task_type: null,
          difficulty: null,
          question_count: null
        }
        this.newTestForm.arguments.push(this.newCurrArg)
        this.fieldsFilledNewTests = !this.checkObjectFields(this.newTestForm)
      } else if (this.currModalTest === "each") {
        this.newCurrArg = {
          topic: [],
          difficulty: null,
          question_count: null
        }
        this.newTestForm.arguments.push(this.newCurrArg)
        this.fieldsFilledNewTests = !this.checkObjectFields(this.newTestForm)
      }
    },

    // check array and object elements are filled ?

    checkArrayFields(arr, keyObj) {
      // console.log(arr);
      if (arr.length === 0) {
        return false
      }
      for (const element of arr) {
        // console.log("Element in array ->  ", element);
        if (Array.isArray(element)) {
          if (!this.checkArrayFields(element, keyObj)) {
            return false
          }
        } else if (element && typeof element === "object") {
          if (!this.checkObjectFields(element, keyObj)) {
            return false
          }
        } else if (!element) {
          return false
        }
      }
      return true
    },
    checkObjectFields(obj, keyObj) {
      // console.log(obj);
      for (const key of Object.keys(obj)) {
        // console.log("key in object keys -> ", key);
        // console.log("key in object keys -> ", obj[key]);
        if (obj[key] && Array.isArray(obj[key])) {
          if (!this.checkArrayFields(obj[key], keyObj) && key !== keyObj) {
            return false
          }
        } else if (obj[key] && typeof obj[key] === "object") {
          if (!this.checkObjectFields(obj[key], keyObj) && key !== keyObj) {
            return false
          }
        } else if (!obj[key] && key !== keyObj) {
          return false
        }
      }
      // console.log(true);
      return true
    },

    checkFields(item) {
      // console.log(item);
      // console.log(this.form);
      if (item === "newTests") this.fieldsFilledNewTests = !this.checkObjectFields(this.newTestForm)
      else if (item === "regenerate") this.fieldsFilledRegenerate = !this.checkObjectFields(this.testForm)
    },

    fieldsFilled() {
      // for (let key in this.form) {
      //   if (
      //     ["students", "student_groups", "modules"].includes(key) &&
      //     !this.form[key].length
      //   ) {
      //     return false;
      //   }
      //   if (!this.form[key]) return false;
      // }
      this.getEventList()
      // this.fieldsFilledSend = !this.checkObjectFields(
      //   this.form,
      //   "student_groups"
      // );
      if (this.checkObjectFields(this.form, "student_groups")) {
        this.fieldsFilledSend = false
      } else if (this.checkObjectFields(this.form, "students")) {
        this.fieldsFilledSend = false
      } else {
        this.fieldsFilledSend = true
      }
    },

    getTopicList() {
      let params = {
        listParams: {
          offset: this.offsetComputed(),
          limit: this.pagination.limit
        },
        discipline: this.task.discipline || -1
      }
      // console.log("this.Task", params);
      this.$store
        .dispatch("teacherTests/getTopicList", params)
        .then((res) => {
          // console.log("RES in id page", res);
          if (res) {
            this.topicList = res.results
            // console.log("this.TopicList", this.topicList);
          }
        })
        .catch(() => {
          // console.log("Err", err);
        })
    }
    // getTopicList() {
    //   return this.teacherTestsTaskGetTopicList({
    //     discipline: this.task.discipline,
    //   })
    //     .then((res) => {
    //       this.topicList = res.results;
    //       // console.log("topicList", this.topicList);
    //     })
    //     .catch((err) => {
    //       console.error(err);
    //     });
    // },
  }
}
</script>

<style lang="scss" scoped>
.tasks {
  width: 100%;
  height: auto;
  .date-selector {
    margin-bottom: 14px;
  }
  .modal-window__body {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
    // height: 630px;
    overflow-y: auto;
  }
  .modal-header__title {
    color: #3d6ab7 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-left: 5px;
  }
  .v-select {
    margin-bottom: 28px !important;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .select-title {
    color: $text-color;
    font-size: 17px;
    font-weight: 400;
  }
  &__modal {
    &__date {
      margin-bottom: 9px !important;
      color: $text-color !important;
      font-size: 17px !important;
      font-weight: 400 !important;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      button {
        height: 34px;
        padding: 3px 23px;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 25px;
    &__btn {
      height: 32px;
      padding-left: 18px !important;
      padding-right: 18px !important;
    }
    &__lenth {
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
.tasks-prog {
  height: calc(100% - 115px);
  .lists-wrapper-header {
    color: $blue;
    flex: 1;
    font-size: 18px;
    & > div {
      border: none;
    }
    .column:first-child {
      padding-left: 7px;
    }
  }
  .custom-dropdown__trigger {
    //transform: rotate(90deg);
    fill: #9aa6bb;
    width: 23px !important;
    position: relative;
    //right: -10px;
  }

  svg.size-1 {
    margin: 2px;
  }

  .button.is-small {
    border-radius: 5px;
  }

  .column.right {
    button.button {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .lists-wrapper-content {
    .right svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  span.icon.is-right {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
  .plus-btn {
    position: relative;
    top: -5px;
    fill: #fff;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    .tasks-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .tasks-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  .custom-dropdown {
    display: flex !important;
    align-items: center;
    svg {
      margin-right: 0 !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
      span:last-child {
        color: $text-color;
        font-size: 16px;
        font-weight: 300;
      }
      .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        min-width: 15px;
        height: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #224e92;
        margin-right: 16px;
        //.checkicon {
        //  width: 9px;
        //  min-width: 9px;
        //  height: 7px;
        //  fill: #224e92;
        //  path {
        //    stroke-width: 2;
        //  }
        //}
      }
    }
    &__icon {
      fill: $blue;
      height: 15px !important;
      margin-right: 16px;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__descr {
    padding: 15px;
  }
  &__body {
    margin-bottom: 15px;
  }
}
.ttest-detail {
  flex: 1;
  display: flex;

  &-main {
    display: flex;
    flex-direction: column;
    flex: 3.5;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 8px;
      background-color: #ffffff;
      margin-bottom: 30px;
    }
    &__tabs {
      margin-bottom: 30px;

      .custom-tabs-left.new-design > div {
        padding: 5px 10px;
        margin: 10px 10px !important;
      }
    }

    &__detail {
      flex: 1;
      max-height: calc(100vh - 356px);
      overflow-y: auto;
      display: flex;
      background-color: #fff;
      border-radius: 4px;
      padding: 25px 30px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);

      &__left {
        flex: 1;

        &__test {
          &--item {
            margin-bottom: 30px;
          }
        }

        &__detail {
          .columns {
            margin: 34px 0;

            .text-bold {
              max-width: 150px;
              min-width: 100px;
            }

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &__events {
          &--item {
            height: 200px;

            .dashed-line::after {
              content: "";
              position: absolute;
              width: 1px;
              bottom: -6px;
              top: 16px;
              left: 16px;
              border-right: 1px dashed;
              z-index: -1;
            }

            &__left {
              position: relative;
              z-index: 1;
              margin-right: 10px;

              &--number {
                height: 32px;
                width: 32px;
                color: white;
                background-color: #3d6ab7;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                cursor: pointer;
              }
              &--number:hover {
                height: 32px;
                width: 32px;
                color: #3d6ab7;
                background-color: #fff;
                border: 1px solid #3d6ab7;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
              }
            }

            &__right {
              &--detail {
                color: $grey;
              }

              &--date {
                height: 32px;
                display: flex;
                align-items: center;
              }

              &--comments {
                &__user {
                  min-width: 60px;
                }

                &__item {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }

      &__right {
        min-width: 100px;

        .custom-dropdown {
          float: right;
        }

        .custom-dropdown__trigger {
          transform: rotate(90deg);
        }
      }
    }
  }

  &-aside {
    padding: 0 0 0 30px;
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;

    &__creators {
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-direction: column;
      background-color: #fff;
      padding: 0 25px;

      &--item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding: 20px 0;

        &:first-child {
          border-bottom: 1px dashed #9aa6bb;
        }

        &__role {
          color: #9aa6bb;
        }
      }
    }

    &__bottom {
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 400px;
      margin-top: 20px;
      background-color: #fff;
      padding: 30px;

      &--top {
        display: flex;
        flex: 1;
        align-items: center;

        &__left {
          flex: 2;
          font-size: 17px;
          border-right: 1px dashed;
        }

        &__right {
          flex: 1;
          font-size: 34px;
          margin-left: 20px;
        }
      }

      &--bot {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
.correct-answer {
  color: green;
}
.test-focused {
  color: #3d6ab7;
  background-color: #fff;
  border: 1px solid #3d6ab7;
}
.test-actions {
  position: relative;
}
.test-checkbox {
  position: absolute;
  right: -24px;
}
.w {
  &__18 {
    width: 18px;
    fill: gray;
    cursor: pointer;
  }
}
.h {
  &__18 {
    height: 18px;
    cursor: pointer;
  }
}
.h-a {
  height: auto;
}
.m-b {
  margin-bottom: 10px;
}
.p-r-16 {
  padding-right: 24px;
}
.tasks-prog {
  margin-top: 20px;
  background-color: #fff;
  flex: 1;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;

  .custom-dropdown__trigger {
    //transform: rotate(90deg);
    fill: #9aa6bb;
    width: 23px !important;
    position: relative;
    //right: -10px;
  }

  svg.size-1 {
    margin: 2px;
  }

  .button.is-small {
    border-radius: 5px;
  }

  .column.right {
    button.button {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .lists-wrapper-content {
    .right svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  span.icon.is-right {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .plus-btn {
    position: relative;
    top: -5px;
    fill: #fff;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 1px;
    .tasks-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .tasks-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  .custom-dropdown {
    display: flex !important;
    align-items: center;
    svg {
      margin-right: 0 !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
    }
    &__icon {
      fill: $blue;
      height: 15px !important;
      margin-right: 16px;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__descr {
    padding: 15px;

    &:hover {
      color: #1761aa;
    }
  }
  &__body {
    margin-bottom: 15px;
  }
}
.make-action {
  padding-right: 12px;
  width: 100px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.unique-tests {
  max-height: 550px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;

  &--item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dashed $grey;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  .vs__dropdown-menu {
    max-height: 150px;
  }
}
.more-icon {
  background-color: #adbcd43d;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb-10 {
  margin: 0;
}
</style>
