<template>
  <div class="page-section learning-prog">
    <d-modal title="Добавить модуль" @closemodal="closemodal" v-show="modalSeen" size="small" class="grey-header">
      <!-- <d-select
        class="grey-2 rounded"
        :placeholder="$t('teacherOffice.enterTheText')"
        :options="disciplineList"
        label="name"
        ml
        :title="$t('studyDepartment.module')"
        v-model.number="form.discipline"
        :reduce="item => item.id"
      ></d-select> -->
      <d-pagination-select
        class="grey-2 rounded"
        :title="$t('studyDepartment.module')"
        :placeholder="$t('teacherOffice.enterTheText')"
        label="name"
        module="learningLearningProgram/getDisciplineList"
        v-model="form.discipline"
        :reduce="item => item.id"
      >
        <template #selected-option="props">
          {{ $nt(props.name) }}
        </template>

        <template #option="props">
          {{ $nt(props.name) }}
        </template>
      </d-pagination-select>
      <br />
      <d-input
        title="Дистанционное (длительность)"
        :placeholder="$t('teacherOffice.enterTheText')"
        rounded
        class="grey"
        v-model.number="form.distantly_duration"
        style="padding: 0"
      />
      <br />
      <d-input
        title="Лекции (длительность)"
        :placeholder="$t('teacherOffice.enterTheText')"
        rounded
        class="grey"
        v-model.number="form.lecture_duration"
        style="padding: 0"
      />
      <br />
      <d-input
        title="Практика (длительность)"
        :placeholder="$t('teacherOffice.enterTheText')"
        rounded
        class="grey"
        v-model.number="form.practice_duration"
        style="padding: 0"
      />
      <br />
      <center>
        <d-button :text="$t('studyDepartment.save')" @click="sendAction" rounded class="blue" />
      </center>
    </d-modal>
    <div class="learning-prog__header">
      <div class="learning-prog__title">{{ $t("studyDepartment.courses") }}</div>
      <div class="learning-prog__search">
        <d-input
          icon="search"
          :placeholder="$t('studyDepartment.search')"
          size="small"
          type="text"
          alignIcon="right"
          v-model="researchInput"
          @input="fetchList"
        />
      </div>
    </div>
    <div class="learning-prog__body">
      <d-lists :loading="loading" :len="list.length" dashedHeader>
        <!-- Header types
          1) default grey header
          2) props "blue-header" -> blue header
         -->

        <template #header>
          <div class="columns">
            <div class="column is-5">
              <span>{{ $t("studyDepartment.modules") }}</span>
            </div>
            <div class="column is-2">
              <span>{{ $t("studyDepartment.remoteControl") }}</span>
            </div>
            <div class="column is-2">
              <span>{{ $t("studyDepartment.leactures") }}</span>
            </div>
            <div class="column is-2">
              <span>{{ $t("studyDepartment.practice") }}</span>
            </div>
            <div class="column right">
              <button class="add-btn icon-btn" @click="modalSeen = !modalSeen">
                <d-icon icon="accordion_plus" />
                <span> {{ $t("studyDepartment.add") }} </span>
              </button>
            </div>
          </div>
        </template>

        <template #content>
          <router-link
            v-for="item in list"
            :key="item.id"
            :to="{
              name: 'cabinetLearningLearningProgramIdSubId',
              params: { id: $route.params.id, subId: item.id }
            }"
            tag="div"
            ><div class="columns">
              <div class="column is-5">
                {{ $nt(item.discipline.name) }}
              </div>
              <div class="column is-2">
                {{ item.distantly_duration + " часов" || "" }}
              </div>
              <div class="column is-2">
                {{ item.lecture_duration + " часов" || "" }}
              </div>
              <div class="column is-2">
                {{ item.practice_duration + " часов" || "" }}
              </div>
              <div class="column right">
                <d-dropdown up class="grey">
                  <!-- dropdown types
      1) default -> dropdown
      2) props "up" -> dropup
       -->
                  <template #body>
                    <d-icon icon="more" style="width: 30px" class="custom-dropdown__trigger" @click="open = !open" />
                  </template>
                  <template #dropdown-menu>
                    <!-- <li>
                      <span>
                        <d-icon icon="student-education" class="is-blue size-1" />
                        Кафедра
                      </span>
                    </li> -->
                    <li @click="removeAction(item.id)">
                      <span>
                        <d-icon icon="bin" class="is-blue size-1" />
                        {{ $t("studyDepartment.delete") }}
                      </span>
                    </li>
                    <li @click="openmodal(item.id)">
                      <span>
                        <d-icon icon="teacher-pen" class="is-blue size-1" />
                        {{ $t("studyDepartment.edit") }}
                      </span>
                    </li>
                  </template>
                </d-dropdown>
              </div>
            </div>
          </router-link>
        </template>
      </d-lists>
    </div>
    <div class="learning-prog__footer right">
      <d-pagination-input @change="fetchList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex"

const defaultForm = () => ({
  lecture_duration: null,
  practice_duration: null,
  distantly_duration: null,
  discipline: null
})

export default {
  components: {
    "d-input": () => import("@/components/inputs/input"),
    "d-lists": () => import("@/components/Lists"),
    "d-pagination-input": () => import("@/components/PaginationInput"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-select": () => import("@/components/inputs/select"),
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-modal": () => import("@/components/Modal"),
    "d-pagination-select": () => import("@/components/inputs/pagination-select")
  },
  data() {
    return {
      open: false,
      modalSeen: false,
      list: [],
      loading: false,
      researchInput: "",
      disciplineList: [],
      form: {
        ...defaultForm()
      },
      pagination: {
        page: 1,
        limit: 10
      }
    }
  },
  watch: {
    $route: {
      handler: "fetchList",
      immediate: true
    }
  },
  computed: {
    ...mapState({
      count: state => state.learningLearningProgram.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("learningLearningProgram", ["getModuleList", "createOrUpdateModule", "getDisciplineList", "getModuleDetail", "removeModule"]),
    removeAction(id) {
      this.removeModule({ course_id: this.$route.params.id, id: id })
        .then(() => {
          this.fetchList()
        })
        .catch(err => console.error(err))
    },
    fetchList() {
      this.loading = true

      this.getDisciplineList().then(res => {
        this.disciplineList = res && res.results
      })

      this.getModuleList({
        search: this.researchInput,
        course_id: this.$route.params.id,
        params: {
          offset: this.offsetComputed,
          limit: this.pagination.limit
        }
      })
        .then(res => {
          this.list = res
          this.loading = false
        })
        .catch(err => console.error(err))
    },
    sendAction() {
      this.createOrUpdateModule({
        course_id: this.$route.params.id,
        form: this.form
      }).then(res => {
        if (res) {
          this.form = defaultForm()
          this.fetchList()
          this.closemodal()
        }
      })
    },
    closemodal() {
      this.modalSeen = false
    },
    openmodal(id) {
      this.getModuleDetail({
        course_id: this.$route.params.id,
        id: id
      }).then(res => {
        this.form.lecture_duration = res.lecture_duration
        this.form.practice_duration = res.practice_duration
        this.form.distantly_duration = res.distantly_duration
        this.form.discipline = res.discipline

        this.modalSeen = true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.lists-wrapper-content {
  .right svg {
    margin-right: 20px;
    cursor: pointer;
  }
}

.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

svg.size-1 {
  margin: 2px;
}

.plus-btn {
  position: relative;
  top: -5px;
  fill: #fff;
  svg {
    width: 10px;
    height: 10px;
  }
}

.button.is-small {
  border-radius: 5px;
}

.column.right {
  button.button {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
}

.learning-prog {
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    .learning-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .learning-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
  }
  &__footer {
    margin-top: auto;
  }
}
</style>
