<template>
  <div class="page-section">
    <div class="incident">
      <div class="con">
        <div class="incident__title">
          Информация
        </div>
        <div class="columns">
          <div class="column is-7">
            <div class="columns mb-3">
              <div class="column is-3">
                {{$t('teacherOffice.difficulty')}}:
              </div>
              <div class="column is-9">
                <div class="red-round"></div>
              </div>
            </div>
            <div class="columns mb-3">
              <div class="column is-3">
                {{$t('teacherOffice.date')}}:
              </div>
              <div class="column is-8">
                21.06.2018
              </div>
            </div>
            <div class="columns mb-3">
              <div class="column is-3">
                {{$t('teacherOffice.creator')}}:
              </div>
              <div class="column is-9">
                Эркин Туйгунович Ходжиевич
              </div>
            </div>
            <div class="columns mb-3">
              <div class="column is-3">
                {{$t('teacherOffice.status')}}:
              </div>
              <div class="column is-9 incidentbox-block">
                <div v-for="item in status" :key="item.id">
                  <span :class="['mr-3', { 'is-green': item.checked }]">{{ item.level }}</span>
                  <d-checkbox size="small" class="isGreen" @change="item.checked = !item.checked" />
                </div>
              </div>
            </div>
            <div class="columns mb-3">
              <div class="column is-3">
                {{$t('teacherOffice.question')}}:
              </div>
              <div class="column is-9">
                Вопрос пример
              </div>
            </div>
            <div class="columns mb-3">
              <div class="column is-3">
                Ответ:
              </div>
              <div class="column is-9">
                Ответ пример
              </div>
            </div>
          </div>
          <div class="column"></div>
        </div>
        <div class="pr-3">
          <d-text-block title="Рецензия:">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ad quia necessitatibus porro aut reprehenderit delectus et id nam.
            Praesentium corrupti fugit ex eaque eveniet enim repellat recusandae delectus consequatur id aliquid autem facere veritatis, neque
            accusamus aliquam distinctio perspiciatis cumque explicabo.
          </d-text-block>
        </div>

        <div class="incident__footer">
          <div class="incident-buttons columns">
            <div class="incident-buttons__cancel column">
              <d-button :text="$t('studyDepartment.cancel')" class="grey px-5" />
            </div>
            <div class="incident-buttons__save column right">
              <d-button :text="$t('studyDepartment.save')" class="blue px-5" />
            </div>
          </div>
        </div>
      </div>
      <div class="right-aside">
        <div class="incident__title">
          Новые вопросы
        </div>
        <div>
          <d-answerList :list="arr" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-text-block": () => import("@/components/questionAnswer/textBlock"),
    "d-answerList": () => import("@/components/questionAnswer/answerList"),
    // "d-textarea": () => import("@/components/inputs/textarea"),
    // "d-input": () => import("@/components/inputs/input"),
    "d-checkbox": () => import("@/components/inputs/checkbox"),
    "d-button": () => import("@/components/buttons/loaderButton")
  },
  data() {
    return {
      status: [
        { id: 1, level: "Одобренный", checked: false },
        { id: 2, level: "Не одобренный", checked: false }
      ],
      arr: [
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "bad" },
        { id: 1, checked: "" },
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "" },
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "" },
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "bad" }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.incidentbox-block {
  div {
    display: inline-block;
    margin-right: 10px;
    & > span {
      color: $grey;
    }
  }
}

.red-round {
  background-color: #ff4d4d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.is-green {
  color: #8fdb86 !important;
}

.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: row !important;
  .incident {
    display: flex;
    width: 100%;
    flex-direction: row;
    &__title {
      color: #2e5898;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .con {
      flex: 5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      .incident__footer {
        margin-top: auto;
      }
    }
    .right-aside {
      flex: 1.5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      margin: 0 20px;
    }
  }
}
</style>
