<template>
  <div class="attendance">
    <div class="attendance-prog">
      <div class="attendance-prog__header">
        <div class="attendance-prog__title">
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <strong>
              Посещаемость
            </strong>
            <router-link
              class="performance-btn"
              :to="{
                name: 'cabinetLearningGroupsIdSubIdPerformanceControl'
              }"
            >
              {{$t('teacherOffice.control')}}
            </router-link>
          </div>
        </div>

        <div class="is-flex is-align-items-center mt-3">
          <div v-if="student && student.image">
            <d-avatar :item="student" width="40" height="40" cover />
          </div>
          <div v-else>
            Нет данные преподавателя
          </div>

          <div class="ml-3" v-if="student">
            <div class="">
              {{ student.last_name || "" }} {{ student.first_name || "" }}
              {{ student.middle_name || "" }}
            </div>
          </div>
        </div>

        <div class="columns m-0 is-vcentered">
          <div class="column is-4 px-0">
            <div class="is-flex is-align-items-center">
              <span class="mr-2">
                Начало периода:
              </span>
              <span class="register-date from-right">
                <d-date v-model="startDate" id="start" week2 />
              </span>
            </div>
          </div>
          <div class="column is-4 px-0">
            <div class="is-flex is-align-items-center">
              <span class="mr-2">
                Конец периода:
              </span>
              <span class="register-date from-right">
                <d-date v-model="endDate" id="end" today />
              </span>
            </div>
          </div>
          <div class="column is-4 px-0">
            <d-checkbox class="performance-control" text="Фильтр по оценки" @change="onScoreFilterChange" text-align="right" size="small" />
          </div>
        </div>

        <div class="attendance__hero mt-5">
          <div class="columns attendance__table">
            <div class="column is-full">
              <!-- <d-attend-table /> -->
              <d-list-wrapper :loading="loading" :len="data.module_courses && data.module_courses.length">
                <d-performance-table :list="data.module_courses" :events="data.events" attendance />
              </d-list-wrapper>
            </div>
          </div>
        </div>
      </div>
      <div class="attendance-prog__body"></div>
    </div>
  </div>
</template>

<script>
import Performance from "@/components/tables/Performance"

export default {
  watch: {
    endDate() {
      this.getList()
    },
    startDate() {
      this.getList()
    },
    scoreFilterCheck() {
      this.getList()
    }
  },
  components: {
    "d-performance-table": Performance,
    "d-list-wrapper": () => import("@/components/loaders/spinnerWrapper"),
    "d-avatar": () => import("@/components/Avatar"),
    "d-date": () => import("@/components/calendar/calendar4"),
    "d-checkbox": () => import("@/components/inputs/checkbox")
  },
  data() {
    return {
      id: 1,
      loading: false,
      data: {},
      teacher: {},
      params: {},
      student: {},
      endDate: "",
      startDate: "",

      scoreFilterCheck: false
    }
  },
  computed: {
    imageHolder() {
      return this.student && this.student.image
        ? this.student.image.includes("http")
          ? this.student.image
          : `https://edu.sudya.uz${this.student.image}`
        : require("@/assets/images/person.png")
    },
    filteredDates() {
      // if()
      return []
    }
  },
  mounted() {
    this.getList()
  },
  methods: {
    onScoreFilterChange() {
      this.scoreFilterCheck = !this.scoreFilterCheck
    },
    getList() {
      this.loading = true

      let params = {
        start_date: this.startDate
          ? this.startDate
          : this.$moment()
              .subtract(2, "w")
              .format("YYYY-MM-DD"),
        end_date: this.endDate ? this.endDate : this.$moment().format("YYYY-MM-DD")
      }

      if (this.scoreFilterCheck) params.only_score = true

      this.$store
        .dispatch("groups/getPerformance", {
          group_id: this.$route.params.id,
          student_id: this.$route.params.subId,
          params
        })
        .then(data => {
          if (data) {
            console.log("data", data)
            this.data = data
            this.student = data.student
          }

          this.loading = false
        })
        .catch(err => {
          console.log("err", err)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.performance-btn {
  padding: 8px 13px;
  color: white;
  background-color: #1761aa;
  border-radius: 4px;
}
.performance-control {
  display: flex;
  align-items: center;
}
.grey-text {
  color: $grey;
}

.attendance {
  &__table {
    height: 100%;
  }
  &__last {
    width: 235px;
  }
}

.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

svg.size-1 {
  margin: 2px;
}

.button.is-small {
  border-radius: 5px;
}

.column.right {
  button.button {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
}

.lists-wrapper-content {
  .right svg {
    margin-right: 20px;
    cursor: pointer;
  }
}

span.icon.is-right {
  svg {
    width: 12px !important;
    height: 12px !important;
  }
}

.plus-btn {
  position: relative;
  top: -5px;
  fill: #fff;
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;

  svg {
    width: 10px;
    height: 10px;
  }
}

.attendance {
  width: 100%;
  display: flex;
  flex-direction: column;

  .attendance-prog {
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    background-color: #fff;
    border-radius: 4px;
    flex: 1;
    padding: 20px 30px;
    height: 100%;

    &__header {
      // height: 50px;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .attendance-prog__title {
        flex: 1;

        strong {
          color: $blue;
          flex: 1;
          font-size: 18px;
        }
      }

      .attendance__hero {
        .columns {
          .column {
            &:nth-child(1) {
              flex: 1.3;
            }

            &:last-child {
              text-align: right;
            }

            div {
              span {
                flex: 1;
                color: $grey;
                display: inline-block;
                margin-right: 5px;
              }

              span.grey-badge {
                display: inline-block;
                position: relative;
                color: #a5b0c2;
                margin-left: 15px;
                margin-right: 15px;
                z-index: 1;

                &::before {
                  position: absolute;
                  border-radius: 15px;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  content: "";
                  display: block;
                  margin: -5px -14px;
                  background-color: #f4f5f8;
                  z-index: -1;
                }
              }
            }
          }
        }
      }

      .attendance-prog__inputs {
        display: flex;
        justify-content: flex-end;
        flex: 0.55;

        div {
          &:nth-child(1) {
            position: relative;
            top: -5px;
            margin-right: 20px;
            flex: 1;
          }

          &:nth-child(2) {
            position: relative;
            top: 5px;
            flex: 1.2;

            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    &__body {
      overflow-y: scroll;

      .attendance-prog__list {
        &:first-child {
          margin-top: 10px;
        }

        .column {
          display: flex;
          align-items: center;
        }
      }
    }

    &__footer {
      margin-top: auto;
    }
  }
}
</style>
