.add {
  width: 53%;
  margin: 0 auto;
  padding: 21px 40px 50px 40px;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 6px;
  background-color: #ffffff;
  &__title {
    color: $activeTab !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    // margin-bottom: 21px !important;
    text-align: center;
  }
  &__week {
    padding: 0 70px 20px 70px;
    border-bottom: 2px dashed #bdc7d8;
    margin-bottom: 20px;
    .field {
      margin-bottom: 28px;
    }
  }
  &__input {
    display: flex;
    align-items: flex-end;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 28px;
    span {
      color: $grey;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 3px;
      margin-right: 30px;
    }
    .field {
      width: 100%;
    }
  }
  &__input-small {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 60px;
    .field {
      margin-right: 40px !important;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
  &__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
  .field {
    .input {
      height: 34px;
      padding: 5px 16px 7px 16px;
      font-size: 16px;
      font-weight: 400;
      &::-webkit-input-placeholder {
        color: $grey;
      }
      &::-moz-placeholder {
        color: $grey;
      }
      &:-moz-placeholder {
        color: $grey;
      }
      &:-ms-input-placeholder {
        color: $grey;
      }
    }
    p {
      &:first-child {
        color: $text-color;
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
}
