.add-group {
  width: 100%;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px 40px 10px 28px;
    margin-bottom: 20px;
    h2 {
      color: $activeTab;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0;
    }
    &__btn {
      height: 36px;
    }
  }
  .modal-window__body {
    padding-top: 0;
  }
  &__modal {
    .custom-title {
      margin-top: 0;
    }
    &__btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 17px;
    }
    &--item {
      margin-bottom: 23px;
      .custom-title {
        margin-bottom: 6px;
      }
      .vs__dropdown-toggle {
        height: 40px !important;
        background: #f4f5f8 !important;
        .vs__selected {
          height: 100%;
        }
      }
      .field {
        margin-bottom: 0;
      }
      .error_message {
        color: $lred;
      }
    }
  }
  .modal-window__body{
    padding-bottom: 30px !important;
  }
  &__success {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    &__btns {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 45px;
    }
    &__icon {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 25px;
      font-weight: 800;
    }
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    background-color: #ffffff;
    &:first-child {
      width: 74%;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      .d-pagination {
        margin-top: auto;
        margin-left: auto;
      }
      .custom-tabs {
        height: 34px;
      }
    }
    &:last-child {
      width: 24.5%;
      min-height: 745px;
      padding: 18px 15px;
    }
  }

  &__tabs {
    margin-bottom: 28px;
  }
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    &_active {
      border-color: $activeTab;
    }
  }
  &__lists {
    .column.right {
      display: flex;
      align-items: center;
    }
    &__item {
      .column {
        &:nth-child(2) {
          span {
            display: block;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            box-orient: vertical;
            overflow: hidden;
            width: 150px;
          }
        }
      }
    }
  }
  &__filter {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.5;
    overflow: hidden;
    max-height: 0;
    transition: 0.4s;
    &_uptodown {
      max-height: 500px;
      overflow: visible;
      opacity: 1;
    }
    &__select {
      width: calc(100% / 4 - 20px);
      margin-right: auto;
      margin-bottom: 18px;
      &:nth-child(4) {
        margin: 0;
      }
      .select-title {
        color: #3a3b3e;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 6px;
      }
      .vs__dropdown-toggle {
        height: 34px;
        border-radius: 4px;
        border: 1px solid #cdd3df;
        .vs__search {
          margin-top: 0;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          &::-webkit-input-placeholder {
            color: $grey;
          }
          &::-moz-placeholder {
            color: $grey;
          }
          &:-moz-placeholder {
            color: $grey;
          }
          &:-ms-input-placeholder {
            color: $grey;
          }
        }
        .vs__selected {
          margin: 0;
        }
        .vs__actions {
          padding-top: 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &__seltitle {
    color: $activeTab;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 13px;
  }
  &__selist {
    max-height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    &__selstudent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px 10px 14px;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.2s;
      opacity: 1;
      animation-name: add;
      animation-duration: 0.15s;
      &_removed {
        transform: translateX(100%) !important;
      }
      &:hover {
        background-color: #f9fafc;
      }

      .checkbox {
        flex: none;
      }
    }
  }
  @keyframes add {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
