.calinner {
  // width: 69%;
  width: 500px;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  background-color: #ffffff;
  margin: auto;
  padding: 25px;
  &__title {
    color: $activeTab !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-bottom: 21px !important;
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 100%;
    &__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      .vs__dropdown-toggle {
        width: 422px;
        min-height: 34px;
        background-color: #f4f5f8 !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        .vs__selected {
          margin: 0;
          padding: 0;
          color: $text-color;
          font-size: 16px;
          font-weight: 400;
        }
        .select-title {
          margin-bottom: 6px;
          color: $text-color;
          font-size: 17px;
          font-weight: 400;
        }
        .vs__search {
          margin-top: 0;
        }
        .vs__actions {
          display: flex;
          align-items: center;
          padding-top: 0;
        }
      }
      .week-tabs {
        &__item {
          &.active {
            .week-tabs__item--text {
              color: #28c26c !important;
            }
          }
        }
      }
      .datetimepicker {
        max-width: 294px !important;
        z-index: 10000 !important;
        -webkit-border-radius: 8px !important;
        -moz-border-radius: 8px !important;
        border-radius: 8px !important;
        border: 1px solid #eaedf3 !important;
        padding: 5px !important;
      }

      .datetimepicker-dummy-input {
        max-width: unset !important;
        width: 100% !important;
        height: 100% !important;
        text-indent: unset !important;
        padding-left: 15px;
        font-size: 16px !important;
        font-weight: 400 !important;
        cursor: pointer;
        color: $text-color !important;
        &::-webkit-input-placeholder {
          color: $text-color;
        }
        &::-moz-placeholder {
          color: $text-color;
        }
        &:-moz-placeholder {
          color: $text-color;
        }
        &:-ms-input-placeholder {
          color: $text-color;
        }
      }
      .datepicker-nav {
        padding: 5px 70px 0 70px !important;
        background: $white !important;
        color: $text-color !important;
        svg {
          stroke: $text-color !important;
        }
        .button {
          &:focus {
            border: none !important;
            box-shadow: unset !important;
          }
        }
        .datepicker-nav-month {
          font-size: 16px;
          font-weight: 600;
          color: $text-color !important;
        }
        .datepicker-nav-year {
          display: none;
        }
      }

      .datepicker-date {
        color: $blue !important;
        font-size: 16px;
        font-weight: 400;
      }

      .date-item.is-active {
        background: $activeTab !important;
      }
      .date-item.is-today {
        border: none !important;
      }
      .datepicker-date {
        background: transparent !important;
        .date-item {
          color: #a5adb4 !important;
          font-size: 14px;
          font-weight: 400;
          width: 29px !important;
          min-width: 29px !important;
          height: 29px !important;
          margin: 0 !important;
          &:hover {
            border-color: $activeTab !important;
          }
        }
      }
      .is-current-month {
        .date-item {
          color: #4b4b4b !important;
        }
      }
      .datepicker-range-start {
        .date-item {
          color: #fff !important;
        }
      }
      .datetimepicker-dummy-wrapper {
        width: 128px;
        height: 36px !important;
        border: 1px solid #bdc7d8 !important;
        -webkit-border-radius: 50px !important;
        -moz-border-radius: 50px !important;
        border-radius: 50px !important;
      }
      .datetimepicker-dummy.is-primary::before,
      .datetimepicker-dummy.is-primary:before {
        left: unset;
        top: 50%;
        transform: translateY(-70%);
        right: 15px;
        mask: unset;
        width: 8px;
        height: 5px;
        background: url("~@/assets/icons/arrow-down-grey.svg") center (center/cover) no-repeat;
        cursor: pointer;
      }
      .datetimepicker-clear-button {
        display: none;
      }
      .datepicker-weekdays {
        padding: 0 !important;
      }
    }
    &__week {
      width: 376px;
      span {
        color: $text-color;
        font-size: 17px;
        font-weight: 400;
        user-select: none;
      }
    }
    &__date {
      width: 376px;

      span {
        display: block;
        margin-bottom: 9px;
        color: $text-color;
        font-size: 17px;
        font-weight: 400;
      }
      .date-selector {
        .column {
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
  &__redlink {
    color: $lred;
    font-size: 14px;
    font-weight: 400;
    span {
      text-decoration: underline;
    }
    &:hover {
      color: $activeTab;
    }
  }
  &__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
  }
  .custom-tabs-left {
    box-shadow: none;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 76px;
      height: 36px;
      -webkit-border-radius: 50px !important;
      -moz-border-radius: 50px !important;
      border-radius: 50px !important;
      margin-right: 21px !important;
      border: none;
      background-color: #f4f5f8;
    }
  }
}

.with-year {
  .datetimepicker {
    div.datepicker-nav-year {
      display: unset !important;
      color: #000;
    }
  }
}

.rounded {
  .custom-tabs-left {
    box-shadow: none;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 76px;
      height: 36px;
      -webkit-border-radius: 50px !important;
      -moz-border-radius: 50px !important;
      border-radius: 50px !important;
      margin-right: 21px !important;
      border: none;
      background-color: #f4f5f8;
    }
  }
}

.cal-h318 {
  .datetimepicker-wrapper {
    min-height: 318px;
  }
}

div.datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
div.datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
div.datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
div.datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
  background: $primary;
  border-color: $primary;
}

div.datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
div.datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
div.datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
div.datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
  &.is-active {
    color: #fff;
  }
  border-color: $primary;
}

#app .fc-liquid-hack .fc-daygrid-day-frame,
.fc-daygrid-day-frame {
  position: relative;
}

#app {
  .content table td,
  .content table th {
    padding: unset;
    vertical-align: unset;
  }

  .fc-scrollgrid-section {
    table {
      td,
      th {
        border: 1px solid #ddd;
        border-color: var(--fc-border-color, #ddd);
      }
    }
  }

  .content table tbody tr:last-child td,
  .content table tbody tr:last-child th {
    border-bottom-width: 1px;
  }
}
