@mixin exam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  background-color: #ffffff;
  padding: 12px 20px;
  margin-bottom: 20px;
}
.exam {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__cal {
    width: 68.5%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 22px 27px;
  }
  &__info {
    width: 29.7%;
    height: 100%;
  }
  &__term {
    @include exam;
  }
  &__intermediate {
    @include exam;
    &__wrapper {
      display: flex;
      align-items: center;
    }
  }
  &__final {
    @include exam;
  }
  &__text {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
  }
  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 2px 20px;
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    border-radius: 18px;
    border: 1px solid #bdc7d8;
  }
  &__round {
    border: 2px solid $lred;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    width: 19px;
    min-width: 19px;
    height: 19px;
    margin-right: 14px;
    &_green {
      border-color: $green;
    }
  }
  &__holidays {
    padding: 18px 24px 26px 24px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    background-color: $white;
    &__title {
      color: $text-color;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 17px;
    }
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__day {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 11px;
      border-radius: 6px;
      border: 1px solid #d4dbe8;
      margin-right: 12px;
      span {
        color: $blue;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }
}
