.intermediate {
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &__input {
      .input {
        height: 32px;
        width: 269px;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 5px;
        border: 1px solid #bdc7d8;
      }
      .icon {
        height: 32px !important;
      }
    }
    .button {
      height: 32px;
      padding-left: 22px;
      padding-right: 22px;
      background-color: #5174a9 !important;
    }
  }
  &__block {
    padding: 22px 35px 31px 35px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 6px;
    background-color: #ffffff;
    &__item {
      padding-top: 5px;
      padding-bottom: 10px;
      border-top: 1px dashed #d3dbe8;
    }
  }
  &__title {
    color: #3d6ab7;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__checkbox {
    padding: 12px 15px;
    border-radius: 4px;
    &:hover {
      background-color: #f2f3f5;
    }
    .field {
      display: flex;
    }
    is-checkradio[type="checkbox"] + label::before,
    .is-checkradio[type="checkbox"] + label:before,
    .is-checkradio[type="radio"] + label::before,
    .is-checkradio[type="radio"] + label:before {
      top: 50%;
      transform: translateY(-50%);
    }
    .is-checkradio[type="checkbox"].is-blue.is-small + label::after,
    .is-checkradio[type="checkbox"].is-blue.is-small + label:after {
      top: 50%;
      transform: translateY(-60%) rotate(45deg);
    }
    .custom-checkbox {
      margin: 0 !important;
    }
    .text {
      display: block;
      color: $text-color !important;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
    }
  }
  .d-pagination {
    justify-content: flex-end;
  }
}
