.links {
  width: 100%;

  .columns {
    align-items: center;
  }
  &__list {
    background: #ffffff;
    box-shadow: 0px 3px 10px #a1a1a124;
    border-radius: 4px;
    opacity: 1;
    padding: 15px 20px;
    height: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &__title {
      font: normal normal 600 19px/23px Proxima Nova;
      letter-spacing: 0px;
      color: #565a61;
    }
    &__select {
      min-width: 224px;
      .vs__dropdown-toggle {
        background-color: $white;
      }
    }
    &__filter {
      display: flex;
      align-items: center;
      span {
        margin-right: 20px;
        font-size: 18px;
        letter-spacing: 0px;
        color: #565a61;
      }
    }
  }
  &__sender {
    display: flex;
    align-items: center;
    .avatar-component {
      height: 41px;
      width: 41px;
    }
    &__name {
      margin-left: 15px;
    }
  }
}
