.schmodal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 573px;
  // height: 602px;
  padding: 25px 30px;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  background-color: #ffffff;

  &__title {
    color: $activeTab !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-bottom: 16px !important;
  }
  &__subtitle {
    color: $text-color;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 9px;
  }
  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .date-selector {
    margin-bottom: 22px !important;
  }
  .select-title {
    margin-bottom: 9px;
  }
  // .v-select {
  //   margin-bottom: 28px;
  // }
  .vs__search {
    margin-top: 0;
  }
  .vs__dropdown-toggle {
    background-color: #f4f5f8 !important;
  }
  .vs__actions {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .vs__selected {
    margin: 0;
  }
  .custom-select {
    select {
      padding-left: 15px !important;
    }
  }
  a {
    display: flex;
    align-items: center;
    color: $activeTab;
    font-size: 16px;
    font-weight: 400 !important;
    svg {
      margin-left: 13px;
      path {
        fill: $activeTab;
      }
    }
  }
}
