@import "~@/assets/scss/base/_mixins.scss";
.statements {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  background-color: $white;
  padding: 27px 32px;
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $blue;
  }
  &__lists {
    &__link {
      display: flex;
      align-items: center;
    }
    .lists-wrapper-content {
      .columns {
        margin-top: 5px !important;
        &:first-child {
          margin-top: 10px !important;
        }
      }
    }
    &__body {
      margin-top: 5px !important;
    }
    &__item {
      display: flex;
      align-items: center;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    &__img {
      width: 41px;
      min-width: 41px;
      height: 41px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;
      img {
        @include img;
      }
    }
    &__icon {
      width: 15px;
      min-width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
  &__footer {
    margin-top: auto;
  }
}
.stateid {
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 32px;
    box-shadow: 0 3px 8px rgba(161, 161, 161, 0.14);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 25px;
    &__title {
      color: $activeTab !important;
      font-size: 18px !important;
      font-weight: 600 !important;
      line-height: 23px !important;
      margin-bottom: 0 !important;
    }
    &__btns {
      display: flex;
      button {
        &:last-child {
          background: $green;
          margin-right: 0;
        }
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      padding: 0 25px;
      margin-right: 50px;
      border-radius: 4px;
      background-color: $lred;
      color: $white !important;
      font-size: 16px;
      font-weight: 300;
      line-height: normal;

      &:hover {
        color: $white;
      }
    }
  }
  &__info {
    padding: 25px 35px;
    box-shadow: 0 3px 8px rgba(161, 161, 161, 0.14);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 25px;

    .performance-btn {
      padding: 8px 13px;
      color: white;
      background-color: #1761aa;
      border-radius: 4px;
    }

    &__title {
      color: $activeTab !important;
      font-size: 18px !important;
      font-weight: 600 !important;
      line-height: 23px !important;
      // margin-bottom: 22px !important;
    }
    &__fio {
      display: flex;
      align-items: center;
      margin-bottom: 28px;
    }
    &__img {
      width: 90px;
      min-width: 90px;
      height: 120px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      overflow: hidden;
      margin-right: 28px;
      img {
        @include img;
      }
    }
    &__text {
      display: flex;
      &:last-child {
        margin-left: 120px;
        span {
          &:first-child {
            min-width: 187px;
          }
        }
      }
    }
    &__descr {
      display: flex;
      flex-direction: column;
      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        margin-bottom: 9px;
        min-height: 25px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:first-child {
        margin-right: 50px;
        span {
          color: $grey;
        }
      }
      &:last-child {
        span {
          color: $text-color;
        }
      }
    }
    &__subinfo {
      display: flex;
    }
    &__subdescr {
      display: flex;
      flex-direction: column;
      &:first-child {
        max-width: 300px;
        margin-right: 50px;
        span {
          color: $grey;
        }
      }
      span {
        min-height: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        margin-bottom: 15px;
        color: $text-color;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__parents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    &-block {
      box-shadow: 0 3px 8px rgba(161, 161, 161, 0.14);
      border-radius: 8px;
      background-color: $white;
      width: calc(100% / 2 - 13px);
      padding: 25px 32px;
      &__info {
        display: flex;
        div {
          display: flex;
          flex-direction: column;
          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            margin-bottom: 15px;
            min-height: 26px;
          }
          &:first-child {
            margin-right: 88px;
            span {
              color: $grey;
            }
          }
          &:last-child {
            span {
              color: $text-color;
            }
          }
        }
      }
    }
  }
  &__additional {
    box-shadow: 0 3px 8px rgba(161, 161, 161, 0.14);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 25px 32px;
  }
}
.request {
  width: 81%;
  margin: 0 auto;
  box-shadow: 0 3px 8px rgba(161, 161, 161, 0.14);
  border-radius: 8px;
  background-color: $white;
  padding: 25px 40px;
  .stateid__header__title {
    margin-bottom: 20px !important;
  }

  &__block {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
    &__item {
      margin-bottom: 17px !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .tasks-prog__item__link {
    display: flex;
    padding-left: 20px;
    cursor: pointer;
    width: 100%;
    //justify-content: space-between;
    span {
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      &:first-child {
        width: 26%;
        margin-right: 60px;
        color: $grey;
      }
    }
    .checkbox {
      margin-left: auto;
      border-color: #c7c7c7;
      &_active {
        border-color: #224e92;
      }
    }
  }
  &__save {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 85px;
    bottom: 0;
    right: 0;
    width: calc(100% - 300px);
    box-shadow: 0 3px 6px rgba(161, 161, 161, 0.16);
    background-color: #5275aa;
    &__text {
      color: $white;
      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
    }
    &__btn {
      background: transparent;
      border-radius: 4px;
      border: 1px solid $white !important;
      padding: 7px 22px;
      color: $white !important;
      font-size: 16px;
      font-weight: 300;
      line-height: normal;
      transition: 0.2s;
      &:hover {
        color: #5275aa !important;
        background: $white;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
