@import "~@/assets/scss/base/_mixins.scss";

.teachers {
  &__header {
    margin-bottom: 10px !important;
    display: block;
    height: 32px;
    .field,
    .control,
    .input,
    .icon {
      height: 100% !important;
    }
    &__title {
      color: #275395;
      font-size: 18px;
      font-weight: 400;
    }
  }
  
  &__list {
    max-height: calc(100% - 100px);
    
    &__item {
      padding: 0;
      height: 54px;
      margin-bottom: 8px;
    }
   
    &__position {
      display: flex;
      align-items: center;
      padding-right: 22px;
    }
    &__img {
      width: 41px;
      min-width: 41px;
      height: 41px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
      img {
        @include img;
      }
    }

    &__header {
      border-bottom: 1px dashed #F4F4F4;
      color: $grey;
      font-size: 18px;
      font-weight: 400;
      padding: 0 18px;
    }
    &__items {
      padding-top: 20px;

      height: 100%;
    }
    &__ava {
      display: flex;
      align-items: center;
      padding: 6px 22px;

    }
    &__btn {
      width: 26px;
      min-width: 26px;
      height: 26px;
      border-radius: 4px;
      padding: 5px;
      padding-bottom: 7px;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__detail {
    color: $text-color;
    &__ava {
      display: flex;
      align-items: center;
      margin-bottom: 18px !important;
    }
    &__img {
      width: 70px;
      min-width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid rgba($grey, 0.5);
      margin-right: 30px;
      img {
        @include img;
      }
    }
    &__name {
      font-size: 19px;
      font-weight: 600;
      line-height: 23px;
    }
    &__info {
      .columns {
        .column {
          padding-top: 6px;
          padding-bottom: 6px;
          &:first-child {
            font-size: 16px;
            font-weight: 600;
          }
          &:last-child {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
    &__btn {
      margin-top: 35px !important;
      margin-bottom: 20px !important;
    }
  }

  .list__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: auto !important;
  }

  .modal-window__body {
    padding-top: 0;
  }
  .modal-header__title {
    font-size: 18px;
    font-weight: 600 !important;
  }
  .modal-window__header {
    padding-top: 18px;
  }
  .modal-header__close div {
    top: -24px !important;
  }
}
