@import "~@/assets/scss/base/_mixins.scss";
.tmodal {
  //.modal-window__body {
  //  overflow-y: auto !important;
  //  max-height: 85vh !important;
  //}
  &__uploading {
    &__line {
      width: 100%;
      height: 30px;
      border: 1px solid $grey;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;

      span {
        display: flex;
        height: 100%;
        background: $blue;
      }
    }
    &__progress {
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
    }
  }
  &__scroll {
    width: 100%;
    height: auto;
    //max-height: 65vh;
    //overflow-y: auto;
    padding-right: 5px;
  }

  &__langs {
    position: relative;
    height: 35px;
    &__box {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
    }
    &__item {
      position: relative;
      width: 35px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #f4f5f8;
      color: #9aa6bb;
      transition: 0.2s;
      cursor: pointer;
      border: 1px solid transparent;
      box-sizing: border-box;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        border: 1px solid #9aa6bb;
      }
      &:active {
        transform: scale(0.9);
      }
      &_selected {
        background: $blue;
        color: #f4f5f8;
      }
    }
    &__line {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      border: 1px solid #f4f5f8;
      z-index: 1;
    }
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    width: 49%;
    .date-selector {
      margin-bottom: 28px;
      .column {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  &__title {
    color: $text-color;
    margin-bottom: 9px;
    font-size: 17px;
    font-weight: 400;
    &_margin {
      margin-top: 27px;
    }
  }
  &__error {
    color: $badgeRed;
    font-size: 14px;
    text-align: center;
  }
  &__changedate {
    display: flex;
    align-items: center;
    &__btn {
      margin-left: 15px;
      background: $blue;
      color: $white;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 3px 10px;
    }
  }
  &__upload {
    width: 100%;
    height: 34px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    background-color: #f4f5f8;
    cursor: pointer;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    border: none;
    overflow: hidden;

    span {
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      //-ms-line-clamp: 2;
      //-webkit-line-clamp: 2;
      //line-clamp: 2;
      white-space: nowrap;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      width: 90%;
    }
    &:active {
      background: $grey;
      color: #f4f5f8;
      svg {
        path {
          fill: #f4f5f8;
        }
      }
    }
  }
  &__upload + input {
    display: none;
  }
  .modal-window {
    //height: 80vh !important;
  }
  .modal-window__body {
    padding: 0 50px 44px 50px;
  }
  .modal-header__title {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  .field {
    margin-bottom: 28px;
  }
  .textarea {
    outline: none;
    box-shadow: unset !important;
  }
  .date-selector {
    margin: 0;
    width: 100%;
    .column {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .input {
    padding-left: 16px !important;
    padding-right: 16px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background-color: #f2f3f6 !important;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 9px;
    box-shadow: unset;
    &::-moz-placeholder {
      color: $grey;
    }
    &::-webkit-input-placeholder {
      color: $grey;
    }
    &::-ms-input-placeholder {
      color: $grey;
    }
  }
  .custom-select {
    cursor: pointer;
    select {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .v-select {
    margin-bottom: 28px;
  }
  .vs__dropdown-toggle {
    background-color: #f4f5f8;
  }
  .vs__search {
    margin-top: 0;
  }
  .vs__selected {
    margin-top: 0;
  }
  .vs__actions {
    display: flex;
    align-items: center;
    padding-top: 0;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }
}
.teachlib {
  width: 100%;
  button {
    cursor: pointer;
  }
  &__modal-share {
    &__btns {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
    }
  }
  &__blinks__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__pagination {
    width: 77.5%;
    justify-content: flex-end;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
    .field {
      margin-bottom: 0;
      .input {
        height: 36px;
        width: 543px;
        padding-right: 55px;
        padding-left: 22px !important;
        border: none;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 25px;
        background-color: #ffffff;
      }
      .control {
        display: flex;
        align-items: center;
      }
      .icon {
        height: 100%;
        padding-right: 20px;
        svg {
          height: 15px;
          min-width: 15px;
        }
      }
    }
    &__btn {
      height: 36px;
      padding-left: 45px;
      padding-right: 45px;
    }
  }
  &__book {
    display: flex;
    justify-content: space-between;
  }
  &__blinks {
    width: 77.5%;
    &__title {
      color: #565a61 !important;
      font-size: 19px !important;
      font-weight: 600 !important;
      margin-bottom: 27px !important;
      margin-top: 5px;
    }
    &-block {
      display: flex;
      box-shadow: 0 4px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      background-color: #ffffff;
      padding: 22px 30px;
      margin-bottom: 24px;
      height: 220px;
      cursor: pointer;
      &__img {
        width: 113px;
        min-width: 113px;
        height: 100%;
        border-radius: 4px;
        margin-right: 35px;
        overflow: hidden;
        img {
          @include img;
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }
      &__title {
        color: $text-color;
        font-size: 16px;
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        span {
          color: $text-color;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
        }
        .custom-dropdown {
          svg {
            transform: rotate(90deg);
            width: 15px !important;
            fill: $grey;
            transition: 0.2s;
            &:hover {
              transform: rotate(90deg) scale(1.2);
            }
          }
        }
      }
      &__descr {
        color: #565a61;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
        margin-bottom: 10px;
      }
      &__info {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        span {
          color: $grey;
          font-size: 15px;
          font-weight: 400;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:nth-child(1) {
            width: 25%;
          }
          &:nth-child(2) {
            width: 21%;
          }
          &:nth-child(3) {
            width: 32.5%;
          }
          &:nth-child(4) {
          }
        }
        //&_teacher {
        //  display: flex;
        //  justify-content: space-between;
        //  span {
        //    width: auto !important;
        //  }
        //}
      }
    }
  }
  &__bfilter {
    width: 20.5%;
    &-wrapper {
      padding: 18px 26px 22px 26px;
      box-shadow: 0 4px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      background-color: #ffffff;
      margin-bottom: 24px;
      .vs__dropdown-menu {
        top: unset;
        bottom: 100%;
        border: 1px solid rgba(60, 60, 60, 0.26) !important;
      }
      .vs--open .vs__dropdown-toggle {
        border-color: #d3d7db;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .teachlib__blinks__title {
        margin-bottom: 9px;
      }
      &__yearselect {
        .v-select {
          width: 100%;
          margin-top: 10px;
        }
        .vs__dropdown-toggle {
          display: flex;
          align-items: center;
          height: 32px;
          .vs__search {
            margin-top: 0;
            font-size: 16px;
            font-weight: 400;
            &::-moz-placeholder {
              color: $grey;
            }
            &::-webkit-input-placeholder {
              color: $grey;
            }
            &::-ms-input-placeholder {
              color: $grey;
            }
          }
          .vs__actions {
            padding-top: 0;
          }
        }
      }
    }
    &-accordion {
      margin-bottom: 10px;
      &.bfilter_margin {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        transition: all 0.4s linear;
        cursor: pointer;

        span:last-child {
          color: #565a61;
          font-size: 16px;
          font-weight: 600;
        }
        .checkbox__wrapper {
          display: flex;
          align-items: center;
        }
        .arow-down {
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          &_active {
            transform: rotate(-180deg);
          }
        }
        svg {
          width: 8px;
          height: 5px;
          path {
            fill: #504da6;
          }
        }
      }
      &__body {
        opacity: 0;
        max-height: 0;
        overflow-y: hidden;
        transition: all 0.3s ease-out;
        &.bfilter__padding {
          padding-left: 25px;
          margin-top: 5px;
          margin-bottom: 0;
        }
      }
      &__bitem {
        display: flex;
        align-items: center;
        padding-left: 16px;
        margin-top: 3px;
        cursor: pointer;
        &:first-child {
          margin-top: 7px;
        }
        span:last-child {
          color: #565a61;
          font-size: 16px;
          font-weight: 600;
        }
      }

      &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        min-width: 15px;
        height: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #c7c7c7;
        margin-right: 10px;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        &_blue {
          border-color: #275395;
        }
      }
      &__bitem {
      }
      &_selected {
        .teachlib__bfilter-accordion__body {
          opacity: 1;
          max-height: 1000px;
        }
      }
    }
  }
  &__vlib {
    width: 77.5%;
    .teachlib__blinks__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 19px !important;
    }
    &__btn {
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 6px;
      background-color: $grey;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      border: none;
      padding-bottom: 5px;
      &_blue {
        background: $blue;
      }
    }
    &-item {
      display: flex;
      box-shadow: 0 4px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      background-color: #ffffff;
      padding: 15px 20px;
      height: 190px;
      margin-bottom: 24px;
      cursor: pointer;
      &__btn {
        //height: 100%;
        border: none;
        padding: 5px 15px;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background: $blue;
        border: 1px solid $blue;
        border-radius: 4px;
        transition: 0.2s;
        margin-left: auto;
        &:hover {
          background: $white;
          color: $blue;
          svg {
            path {
              fill: $blue;
            }
          }
        }
        svg {
          margin-right: 8px;
          path {
            fill: $white;
          }
        }
      }
      &__img {
        position: relative;
        margin-right: 30px;
        height: 100%;
        width: 242px;
        min-width: 242px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(#000, 0.3);
          z-index: 2;
        }
        &:hover {
          svg {
            transform: translate(-50%, -50%) scale(1);
          }
        }
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.8);
          z-index: 3;
          transition: 0.2s;
        }
        img {
          @include img;
        }
      }
      &__info {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &__title {
        display: flex;
        justify-content: space-between;
        span {
          color: $text-color;
          font-size: 16px;
          font-weight: 600;
        }
        .custom-dropdown {
          svg {
            transform: rotate(90deg);
            width: 15px !important;
            fill: $grey;
            transition: 0.2s;
            &:hover {
              transform: rotate(90deg) scale(1.2);
            }
          }
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 7px;
          color: $grey;
          font-size: 15px;
          font-weight: 400;
          span {
            color: $activeTab;
            font-size: 15px;
            font-weight: 400;
            margin-left: 23px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__link {
        position: relative;
        border-radius: 4px;
        background-color: #f2f5fb;
        color: $grey;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        padding: 7px 16px;
        overflow: hidden;
      }
    }
  }
  &__video {
    display: flex;
    justify-content: space-between;
  }
  &__vfilter {
    width: 20.5%;
  }
}
