.video {
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 30px;
    &__btn {
      box-shadow: 0 3px 10px rgba(73, 138, 238, 0.14);
      border-radius: 18px;
      background-color: $activeTab;
      height: 32px;
    }
    &__tabs {
      height: 32px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
