<template>
  <div class="card analytics-card">
    <div class="analytics-card-header">
      <d-button rounded :text="$t('teacherOffice.filter')" class="filter-btn" color="blue" @click="clickArrow">
        <d-icon icon="angle-down"></d-icon>
      </d-button>
      <div class="columns">
        <div class="column is-3">
          <div class="analytics-card-header__item">
            {{ $t("teacherOffice.discipline") }}
          </div>
        </div>
        <div class="column is-3">
          <div class="analytics-card-header__item">Дата добавления</div>
        </div>
        <div class="column is-3">
          <div class="analytics-card-header__item">
            {{ $t("teacherOffice.fullNameOfTheQuestionCreator") }}
          </div>
        </div>
        <div class="column is-3">
          <div class="analytics-card-header__item">
            {{ $t("teacherOffice.fullNameOfTheInspector") }}
          </div>
        </div>
      </div>
    </div>
    <div class="analytics-card-body">
      <div class="columns">
        <div class="column is-3">
          <d-select
            class=""
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="options"
            label="title"
            no-title
            v-model="id"
            :reduce="(item) => item.id"
          ></d-select>
        </div>
        <div class="column is-3">
          <d-date-selector class="modal-variant-1" />
        </div>
        <div class="column is-3">
          <d-input :placeholder="$t('teacherOffice.enterTheText')"></d-input>
          <!-- <d-input></d-input> -->
        </div>
        <div class="column is-3">
          <!-- <d-button color="custom-btn-info is-link arrow-down" @click="clickArrow">
                        <d-icon icon="angle-down"></d-icon>
                    </d-button> -->
          <d-input :placeholder="$t('teacherOffice.enterTheText')"></d-input>
        </div>
      </div>
    </div>
    <div class="analytics-card-header">
      <div class="columns">
        <div class="column is-3">
          <div class="analytics-card-header__item">
            {{ $t("teacherOffice.questionType") }}
          </div>
        </div>
        <div class="column is-3">
          <div class="analytics-card-header__item">
            {{ $t("teacherOffice.status") }}
          </div>
        </div>
        <div class="column is-3">
          <div class="analytics-card-header__item">
            {{ $t("teacherOffice.difficulty") }}
          </div>
        </div>
        <div class="column is-3"></div>
      </div>
    </div>
    <div class="analytics-card-body">
      <div class="columns">
        <div class="column is-3">
          <d-radio :text="$t('teacherOffice.easy')" text-align="right" size="small"></d-radio>
          <d-radio :text="$t('teacherOffice.medium')" text-align="right" size="small"></d-radio>
          <d-radio :text="$t('teacherOffice.difficult')" text-align="right" size="small"></d-radio>
        </div>
        <div class="column is-3">
          <div class="columns">
            <div class="column">
              <d-radio :text="$t('teacherOffice.new')" text-align="right" size="small"></d-radio>
              <d-radio :text="$t('teacherOffice.approved')" text-align="right" size="small"></d-radio>
              <d-radio text="Не одобренный" text-align="right" size="small"></d-radio>
            </div>
            <div class="column">
              <d-radio :text="$t('teacherOffice.updated')" text-align="right" size="small"></d-radio>
              <d-radio :text="$t('teacherOffice.rejected')" text-align="right" size="small"></d-radio>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <d-radio :text="$t('teacherOffice.question')" text-align="right" size="small"></d-radio>
          <d-radio :text="$t('teacherOffice.case')" text-align="right" size="small"></d-radio>
          <d-radio text="Интеракивный вопрос" text-align="right" size="small"></d-radio>
        </div>
        <div class="column is-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Input from "./inputs/input"
import Select from "./inputs/select"
import Radio from "./inputs/checkbox"
import DateSelector from "./inputs/date-selector"
import loaderButton from "./buttons/loaderButton"
import iconWrapper from "./icons/iconWrapper"
export default {
  components: {
    "d-select": Select,
    "d-button": loaderButton,
    "d-icon": iconWrapper,
    "d-radio": Radio,
    "d-input": Input,
    "d-date-selector": DateSelector
  },
  data() {
    return {
      id: null,
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ]
    }
  },
  methods: {
    clickArrow() {},

    clickSearch() {}
  }
}
</script>

<style lang="scss">
.card {
  &.analytics-card {
    padding: $paddingCards;
    // border-radius: 17px;

    .filter-btn {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      svg {
        margin-left: 5px;
        width: 12px;
        stroke: white;
      }
    }

    .field {
      position: relative;

      input:not(.input) {
        height: 100%;
      }
    }

    .analytics-card-header {
      &__item {
        font-size: 18px;
      }
    }

    .analytics-card-body {
      .columns {
        .columns {
          margin-top: 0;
          height: 100%;
          .column {
            padding-top: 0;
          }
          &.date-selector {
            width: 95%;
            .column {
              padding-right: 0;
              padding-bottom: 0;

              &:not(:first-child) {
                padding-left: 0;
              }
            }
          }
        }
      }

      .v-select,
      input {
        width: 90%;
      }

      .custom-select {
        height: 100%;
        width: 95%;
        position: relative;

        &::after {
          content: "";
          // background-image: url('~@/assets/icons/angle-down.svg?external');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 8px;
          display: inline-block;
          vertical-align: top;
          width: 20px;
          height: 20px;
          right: 5px;
          position: absolute;
          top: 12px;
          z-index: 2;
        }

        &::before {
          width: 40px;
          content: "";
          display: inline-block;
          width: 20px;
          background: white;
          vertical-align: top;
          right: 2px;
          position: absolute;
          top: 3px;
          bottom: 3px;
          z-index: 1;
        }
        &.greyish {
          select {
            color: $grey;
            option:not([first-child]) {
              color: black;
            }
          }
        }

        select {
          height: 100%;
          width: 100%;
          padding: 5px 0 0px 10px;
          font-size: 15px;
          font-weight: 300;
          border: 1px solid rgba(60, 60, 60, 0.26);
          border-radius: 4px;
          line-height: 1.4;
          background: none;

          option {
            &:hover {
              box-shadow: 0 0 10px 100px $blue inset;
              outline-color: red;
            }
          }
        }
      }

      select:focus {
        outline: none;
      }

      button.arrow-down {
        width: 65px;
        float: right;

        svg {
          fill: white;
          stroke: white;
          height: 15px;
        }
      }
    }
  }
}
</style>
