<template>
  <div class="avatar-component">
    <div :style="[{ width: width + 'px', height: height + 'px', overflow: 'hidden' }]">
      <img
        :class="['avatar-block', { bordered: border, rectangled: rectangle, cover: cover }]"
        :style="[{ width: width + 'px', height: height + 'px' }]"
        :src="imgSrc"
        alt="1"
      />
      <div id="showTooltip" v-if="tooltip">
        {{ tooltip }}
      </div>
    </div>

    <!-- {{ tooltip }} -->
    <!-- Tooltip - full name of user -->
    <!-- <div id="showTooltip" v-if="tooltip">
      {{ tooltip }}
    </div> -->
  </div>
</template>

<script>
export default {
  props: {
    item: Object,
    src: String,
    border: Boolean,
    rectangle: Boolean,
    cover: Boolean,
    width: String,
    height: String,
    tooltip: String
  },
  computed: {
    imgSrc() {
      return (this.item && this.item.src) || (this.item && this.item.image) || require("@/assets/images/person.png")
    }
  }
}
</script>

<style scoped>
.avatar-component {
  position: relative;
}
#showTooltip {
  width: 100px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  bottom: -12px;
  left: -5px;
  font-size: 10px;
  box-sizing: border-box;
  padding: 3px;
  color: white;
  z-index: 12;
  border-radius: 5px;
  text-align: center;
}
/* When image hover show user's fullname */
img:hover + #showTooltip {
  display: block;
}
</style>
