<template>
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="card count-card">
        <div class="card-content">
          <div class="media">
            <div class="media-left count-icon">
              <d-icon :icon="icons[0].name || 'teacher-group'" :class="icons[0].class" />
            </div>
            <div class="media-content ">
              <p class="title">{{ arr && arr[0] && arr[0].modules_count }}</p>
            </div>
          </div>

          <div class="custom-content">
            Общее количество модулей
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card count-card">
        <div class="card-content">
          <div class="media">
            <div class="media-left count-icon">
              <d-icon :icon="icons[1].name || 'notes'" :class="icons[1].class" />
            </div>
            <div class="media-content ">
              <p class="title">{{ arr && arr[0] && arr[0].lesson_count }}</p>
            </div>
          </div>

          <div class="custom-content">
            Количество текущих контролей
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card count-card">
        <div class="card-content">
          <div class="media">
            <div class="media-left count-icon">
              <d-icon :icon="icons[2].name || 'time'" :class="icons[2].class" />
            </div>
            <div class="media-content ">
              <p class="title">{{ (arr && arr[0] && arr[0].total_training_time) || "-" }} часов</p>
            </div>
          </div>

          <div class="custom-content">
            Общее время обучения
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card count-card">
        <div class="card-content">
          <div class="media">
            <div class="media-left count-icon">
              <d-icon :icon="icons[3].name || 'close'" :class="icons[3].class" />
            </div>
            <div class="media-content ">
              <p class="title text-green">{{ arr && arr[0] && arr[0].course_score }}</p>
            </div>
          </div>

          <div class="custom-content">
            Итоговый бал за курс
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import iconWrapper from "../components/icons/iconWrapper"
export default {
  props: {
    icons: {
      type: Array
    },
    arr: Array
  },
  components: {
    "d-icon": iconWrapper
  }
}
</script>

<style lang="scss">
.count-icon {
  svg {
    path {
      fill: $activeTab;
      stroke: $activeTab;
    }
  }
}
</style>
