<template>
  <div class="custom-dropdown" style="position: relative; display: inline-block" @click.stop="checkTab">
    <slot name="body"></slot>
    <ul :class="[{ active: open || null }, classToggle]">
      <slot name="dropdown-menu"></slot>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    up: Boolean
  },
  data() {
    return {
      open: false
    }
  },
  mounted() {
    document.addEventListener(
      "hello",
      function(event) {
        if (this.open) {
          this.open = event.detail.open
        }
      }.bind(this)
    )
  },
  methods: {
    checkTab() {
      document.dispatchEvent(
        new CustomEvent("hello", {
          detail: { open: this.open }
        })
      )
      this.open = !this.open
    },
    onMouseLeave() {
      setTimeout(() => {
        this.open = false
      }, 300)
    }
  },
  computed: {
    classToggle() {
      if (this.up) {
        return "custom-dropup__content"
      }

      return "custom-dropdown__content"
    }
  }
}
</script>

<style lang="scss">
.custom-dropdown__trigger {
  cursor: pointer;

  * {
    pointer-events: none;
  }
}
.custom-dropup__content {
  /* Size & position */
  z-index: 1000;
  position: absolute;
  min-width: 200px;
  bottom: 120%;
  right: 0;
  margin: 0;
  border-radius: 10px;
  background: #fff;
  user-select: none;
  overflow: hidden;

  /* Styles */
  border-radius: inherit;
  border: 1px solid #eaedf3;
  transition: all 0.15s ease-in;
  list-style: none !important;

  /* Hiding */
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 7px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 5px;
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
  }

  li {
    margin-top: 0 !important;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    span,
    a {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      text-decoration: none;
      border-bottom: 1px solid rgba(230, 232, 234, 0.6);
      transition: all 0.15s ease-out;
      font-size: 15px;
      color: black;

      svg {
        fill: $blue;
        flex: none;
        stroke: $blue;
        margin-right: 15px;

        * {
          stroke: $blue;
        }
      }
    }
    &:last-of-type {
      a {
        border: none;
      }
    }
    &:hover {
      a {
        background: #f3f8f8;
      }
    }
  }
}
.custom-dropdown__content {
  /* Size & position */
  z-index: 1000;
  position: absolute;
  min-width: 200px;
  top: 120%;
  right: 0;
  margin: 0 !important;
  border-radius: 10px;
  background: #fff;
  user-select: none;

  /* Styles */
  border-radius: inherit;
  border: 1px solid #eaedf3;
  transition: all 0.15s ease-in;
  list-style: none !important;

  /* Hiding */
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
    border-radius: 10px;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 7px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 5px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
  }

  li {
    margin-top: 0 !important;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    span,
    a {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      text-decoration: none;
      border-bottom: 1px solid rgba(230, 232, 234, 0.6);
      transition: all 0.15s ease-out;
      font-size: 15px;
      color: black;
      cursor: pointer;

      svg {
        fill: $blue;
        stroke: $blue;
        flex: none;
        margin-right: 15px;

        * {
          stroke: $blue;
        }
      }
    }
    &:last-of-type {
      a {
        border: none;
      }
    }
    &:hover {
      span,
      a {
        background: #f3f8f8;
      }
    }
  }
}

.custom-dropdown {
  transition: opacity 0.15s;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
</style>
