<template>
  <div class="header" :class="{ anime_header: $store.state.isOpen }">
    <div class="header-menu">
      <!--  -->
    </div>
    <div class="header-settings">
      <div class="header-settings__item">
        <div class="header-search">
          <d-icon icon="search" />
        </div>
      </div>
      <div class="header-settings__item">
        <div class="header-lang control has-icons-left">
          <div class="select">
            <select v-model="item" @change="setLang(item)">
              <option v-for="(lang, index) in $langPrefixes || []" :key="index" :value="lang" :selected="lang == $i18n.locale">
                {{ lang }}
              </option>
            </select>
          </div>
          <span class="icon is-left">
            <d-icon icon="language"></d-icon>
            <span class="lang_item"> {{ item }}</span>
          </span>
        </div>
      </div>
      <div class="header-settings__item">
        <div class="header-notification parent" v-if="haveNotif" @click="gotoNotif">
          <d-icon icon="notification"></d-icon>
          <div class="notif">{{ notification_count }}</div>
        </div>
      </div>
      <div class="header-settings__item">
        <div class="header-account">
          <d-dropdown>
            <template #body>
              <img :src="profile.profile_image" alt="" />
            </template>
            <template #dropdown-menu>
              <template v-if="!isProd">
                <li>
                  <router-link :to="{ name: 'cabinetLearningLearningProgram' }">Кабинет учебного отдела</router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'cabinetTeachersMaterials' }">Кабинет преподавателя</router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'cabinetStudentsMain' }">Кабинет обучающегося</router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'cabinetTestsModules' }">База тестов</router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'cabinetCommissionStatements' }">Прием. комиссия</router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'cabinetLibraryLibrary' }">Библиотека</router-link>
                </li>
                <li>
                  <router-link :to="{ name: 'cabinetAdminCatalog' }">Admin</router-link>
                </li>
              </template>
              <li>
                <a @click="logout">Выход</a>
              </li>
            </template>
          </d-dropdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DIcon from "./icons/iconWrapper"
import { mapState } from "vuex"
import { setStorageItemByKey } from "@/constants/utils/storage"

// import { mapMutations } from "vuex";
export default {
  data() {
    return {
      toast: null,
      item: this.$i18n.locale,
      notification_count: 0,
      haveNotif: false
    }
  },
  components: {
    "d-dropdown": () => import("@/components/Dropdown"),
    DIcon
  },
  watch: {
    langPrefix() {
      if (this.$i18n.locale !== this.langPrefix) {
        this.setLang(this.langPrefix)
        // this.$i18n.locale = this.langPrefix
        // console.log(this.$i18n.locale)
        // console.log(this.langPrefix)
      }
    }
  },
  computed: {
    ...mapState({
      profile: state => state.profile.fields
    }),
    isProd() {
      return process.env.NODE_ENV == "production"
    }
  },

  methods: {
    logout() {
      this.$store.dispatch("auth/logout").then(() => {
        this.$router.push({ path: "/login" })
      })
    },
    setLang(item) {
      this.$i18n.locale = item
      setStorageItemByKey('i18n_locale', item)
    },
    getNotifications() {
      this.$axios.get("/notification/count/").then(res => {
        this.notification_count = res.data.notification_count
      })
    },
    gotoNotif() {
      // console.log(localStorage.getItem("whoami"))
      let whoami = localStorage.getItem("whoami") === "1" ? "Students" : "Teachers"
      // console.log(localStorage.getItem("whoami") === "5", whoami)
      // console.log(this.$route.name)
      if (
        (localStorage.getItem("whoami") === "1" || localStorage.getItem("whoami") === "2") &&
        this.$route.name !== "cabinetStudentsNotifications" &&
        this.$route.name !== "cabinetTeachersNotifications"
      ) {
        this.$router.push({
          name: "cabinet" + whoami + "Notifications"
        })
      }
    }
  },
  mounted() {
    console.log(this.$langPrefixes)
    this.haveNotif = localStorage.getItem("whoami") === "1" || localStorage.getItem("whoami") === "2"
    this.getNotifications()
  }
}
</script>

<style scoped>
.parent {
  position: relative;
  cursor: pointer;
}
.notif {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 13px;
  height: 13px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #114980ee;
}
.lang_item {
  color: black;
  margin-left: 2px;
}
</style>
