<template>
  <div class="item-acc">
    <div class="item-acc__header">
      <div class="a_c">№:</div>
      <div class="a_c">{{$t('studyDepartment.module')}}</div>
      <div class="a_c" v-if="!!dataArr && !!dataArr[0] && !!dataArr[0].teacher">{{$t('studyDepartment.teacher')}}:</div>
      <div class="a_c" v-if="!!dataArr && !!dataArr[0] && !!dataArr[0].group">{{$t('teacherOffice.group')}}:</div>
      <div class="a_c">Аудитория:</div>
      <div class="a_c">Начало:</div>
      <div class="a_c">Окончание:</div>
      <div></div>
    </div>
    <div class="item-acc__body" v-if="dataArr">
      <div class="item-acc__body__row" v-for="(item, index) in dataArr" :key="item.id || index">
        <div class="a_c">{{ (item && !!item.interval && item.interval.id) || item.id }}</div>
        <div class="a_c">{{ item && item.module && $nt(item.module) }}</div>
        <div v-if="(!!dataArr && !!dataArr[0] && !!dataArr[0].teacher) || item.seen">
          <div class="item-acc__body__row-avatar" v-show="!!dataArr && !!dataArr[0] && !!dataArr[0].teacher">
            <d-avatar
              v-if="(!!item.teacher && item.teacher.avatar) || (!!item.teacher && item.teacher.image)"
              :item="{ src: (!!item.teacher && item.teacher.avatar) || (!!item.teacher && item.teacher.image) }"
              width="41"
              height="41"
              cover
            ></d-avatar>
            <div class="ml-10">
              {{ !!item.teacher && item.teacher.name }}
            </div>
          </div>
          <div v-if="item.seen" :class="[item.seen ? 'active' : null]">
            <div>
              <div>Звание:</div>
              <div>{{ item.rank }}</div>
            </div>
            <div>
              <div>{{ $t("studyDepartment.placeOfWork") }}:</div>
              <div>{{ item.work_place }}</div>
            </div>
            <div>
              <div>{{ $t("studyDepartment.position") }}:</div>
              <div>{{ item.position }}</div>
            </div>
          </div>
        </div>
        <div class="a_c" v-if="!!item && !!item.group">{{ item.group || "" }}</div>
        <div class="a_c">№ {{ item.audience || item.room.name }}</div>
        <div class="a_c">{{ item.start || item.interval.start_time }}</div>
        <div class="a_c">{{ item.end || item.interval.end_time }}</div>
        <div @click="item.seen = !item.seen">
          <!-- <d-icon-wrapper icon="arow-down" :class="[item.seen ? 'active' : '']" /> -->
        </div>
        <div class="a_c" v-if="item.hasButton">
          <router-link
            :to="{
              name: item.role == 'teacher' ? 'cabinetTeachersVideoconf' : item.role == 'student' ? 'cabinetStudentsVideoconf' : '',
              query: {
                roomId: item.room.id
              }
            }"
          >
            <d-button rounded color="blue" :text="startComputed(item.role)" />
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DAvatar from "@/components/Avatar"
export default {
  props: {
    dataArr: {
      type: Array
    }
  },
  components: {
    // "d-icon-wrapper": () => import("./icons/iconWrapper"),
    "d-button": () => import("./buttons/loaderButton"),
    DAvatar
  },
  data() {
    return {
      seenInfo: false
    }
  },
  computed: {
    startComputed() {
      return role => (role === "student" ? "Подключиться" : role === "teacher" ? "Начать" : "")
    }
  }
}
</script>

<style lang="scss">
.item-acc {
  &__header {
    display: flex;
    padding: 0 10px;
    div {
      color: #a6b1c3;
      &:nth-child(1) {
        flex: none;
        width: 4%;
        //  color: #3D6AB7;
      }
      &:nth-child(2) {
        flex: none;
        width: 20%;
      }
      &:nth-child(3) {
        flex: none;
        width: 20%;
      }
      &:nth-child(4) {
        flex: none;
        width: 13%;
      }
      &:nth-child(5) {
        flex: none;
        width: 13%;
      }
      &:nth-child(6) {
        flex: none;
        width: 13%;
      }
      &:nth-child(7) {
        flex: none;
        width: 8%;
      }
    }
  }
  &__body {
    font-size: 15px;
    &__row {
      display: flex;
      border-bottom: 1.5px dashed #cecece;
      padding: 20px 0 20px 0px;

      &-avatar {
        display: flex;
        align-items: center;
        margin-top: -9px;

        img {
          margin-right: 5px;
        }
      }

      & > div {
        &:nth-child(1) {
          flex: none;
          width: 4%;
          color: #3d6ab7;
          font-weight: 600;
          padding-left: 10px;
        }
        &:nth-child(2) {
          // flex: 2;
          flex: none;
          width: 20%;
          display: flex;
          align-items: center;
          max-height: 45px;
        }
        &:nth-child(3) {
          // flex: 1.5;
          flex: none;
          width: 20%;
          display: flex;
          align-items: center;
          & > div:nth-child(2) {
            display: block;
            height: 0;
            opacity: 0;
            transition: 0.2s all ease;
            &.active {
              opacity: 1;
              height: 85px;
              margin-top: 10px;
            }
            div {
              display: flex;
              & > div:nth-child(1) {
                flex: 1;
                color: #a6b1c3;
              }
              & > div:nth-child(2) {
                flex: 1;
              }
            }
          }
        }
        &:nth-child(4) {
          // flex: 1;
          flex: none;
          width: 13%;
        }
        &:nth-child(5) {
          // flex: 1;
          flex: none;
          width: 13%;
        }
        &:nth-child(6) {
          // flex: 1;
          flex: none;
          width: 13%;
        }
        &:nth-child(7) {
          // flex: 0.5;
          flex: none;
          width: 6%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          svg {
            transition: 0.5s all;
            margin-top: 10px;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        &:nth-child(8) {
          // flex: 1;
          flex: none;
          width: 8%;
        }
      }
    }
    &__row:last-child {
      border: 0 none;
    }
  }
}
.a_c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-10 {
  margin-left: 15px;
}
</style>
