<template>
  <div class="tabs-group">
    <div class="tabs-item">
      <input type="radio" name="lang" id="uz" @click="handleTabChange" value="uz" />
      <label for="uz"><d-icon icon="uzbekistan" width="25"/></label>
    </div>
    <div class="tabs-item">
      <input type="radio" id="ru" name="lang" @click="handleTabChange" value="ru" />

      <label for="ru"><d-icon icon="russia" width="25"/></label>
    </div>
    <div class="tabs-item">
      <input type="radio" id="en" name="lang" @click="handleTabChange" value="en" />
      <label for="en"><d-icon icon="united-states" width="25"/></label>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper")
  },
  model: {
    prop: "value",
    event: "change"
  },
  props: ["value"],
  methods: {
    handleTabChange(arg) {
      this.$emit("change", arg.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
input[type="radio"] {
  display: none;
}

.active {
  background-color: $blue;
}

.tabs-group {
  display: flex;
  div {
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    svg {
      cursor: pointer;
    }
  }
}
</style>
