<template>
  <div class="lists-wrapper">
    <div :class="['lists-wrapper-header', { 'dashed-header': dashedHeader }, { 'is-blue': blueHeader }]">
      <slot name="header"></slot>
    </div>

    <div :class="['lists-wrapper-content', { 'no-hover': noListHover }, { 'no-cursor': noCursorPointer }]">
      <center v-if="loading" class="mt-4">
        <d-loader />
      </center>
      <div v-else-if="!len" class="is-empty">
        {{ $t("studyDepartment.empty") }}
      </div>
      <slot v-else name="content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blueHeader: Boolean,
    dashedHeader: Boolean,
    noListHover: Boolean,
    noCursorPointer: Boolean,
    loading: {
      type: Boolean,
      default: true
    },
    len: Number
  },
  components: {
    "d-loader": () => import("@/components/loaders/spinner")
  }
}
</script>

<style lang="scss">
.is-empty {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}

.lists-wrapper {
  .columns {
    margin: 0 !important;

    // .column {
    //   // padding: 15px 20px;
    // }
  }

  &-header {
    color: $grey;
    font-weight: 400;
    font-size: 16px;

    &.dashed-header > div {
      margin-bottom: 10px;
      border-bottom: 1px dashed $grey;
    }

    &.is-blue {
      font-size: 19px;
      font-weight: 600;
      color: $blue;
      margin-bottom: 10px;
    }
  }

  &-content {
    &.no-hover {
      .columns {
        &:hover {
          background-color: white;
          cursor: unset;
        }
      }
    }

    &.no-cursor {
      .columns {
        &:hover {
          cursor: unset;
        }
      }
    }
    .columns {
      font-size: 16px;
      &:hover {
        background-color: $hovergrey;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
</style>
