<template>
  <div class="layout" v-show="seen">
    <div class="layout__bg" @click="closeModal()"></div>
    <div :class="['modal-window', size, windowClass || null]">
      <div class="modal-window__header">
        <slot name="title">
          <div class="modal-header__title">
            {{ title }}
          </div>
        </slot>
        <div class="modal-header__close">
          <div @click="closeModal()">
            <d-iconWrapper icon="close" class="size-1 is-blue" />
          </div>
        </div>
      </div>
      <div class="modal-window__body">
        <slot />
        <d-item-acc v-if="accArr" :dataArr="accArr" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
    size: {
      type: String,
      default: () => "medium"
    },
    seen: {
      type: Boolean,
      default: false
    },
    accArr: {
      type: Array
    },
    windowClass: {
      type: String
    },
    uploading: {
      type: Boolean,
      default: false
    }
  },
  components: {
    "d-iconWrapper": () => import("@/components/icons/iconWrapper"),
    "d-item-acc": () => import("@/components/ItemAccordion")
  },
  data() {
    return {
      // accArr: [
      //   {
      //     id: 1,
      //     module: "Коституционное право",
      //     teacher: {
      //       avatar: "",
      //       name: "Алимов Т.У.",
      //     },
      //     audience: "154",
      //     work_place: "МВД",
      //     rank: "Полковник",
      //     position: "",
      //     start: "8:30",
      //     end: "9:30",
      //     seen: false,
      //   },
      //   {
      //     id: 2,
      //     module: "Коституционное право",
      //     teacher: {
      //       avatar: "",
      //       name: "Алимов Т.У.",
      //     },
      //     audience: "154",
      //     work_place: "МВД",
      //     rank: "Полковник",
      //     position: "",
      //     start: "8:30",
      //     end: "9:30",
      //     seen: false,
      //   },
      // ],
    }
  },
  methods: {
    closeModal(e) {
      if (!this.uploading) {
        this.$emit("closemodal", e)
      } else {
        this.$store.dispatch("snackbar/changeToasts", {
          text: `Вы не можете закрыть окно пока идет загрузка!`,
          color: "danger"
        })
      }
    }
  }
}
</script>

<style lang="scss">
.grey-header {
  .modal-window__header {
    background-color: #f8f8f8;
  }
}

.layout {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  &__bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 900;
  }
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 3px;
    z-index: 999;
    height: auto;
    &.xsmall:not(.no-width) {
      width: 25%;
      max-width: 500px;
      min-width: 200px;
    }
    &.small:not(.no-width) {
      width: 35%;
      max-width: 600px;
      min-width: 300px;
    }
    &.medium:not(.no-width) {
      width: 60%;
      max-width: 800px;
      min-width: 400px;
    }
    &.mediumPlus:not(.no-width) {
      width: 70%;
      max-width: 950px;
      min-width: 500px;
    }
    &.large:not(.no-width) {
      width: 80%;
      max-width: 1200px;
      min-width: 600px;
    }

    &__header {
      display: flex;
      padding: 12px 20px;
      border-radius: 3px;
      .modal-header__title {
        color: #3d6ab7;
        font-size: 17px;
        font-weight: 500;
        flex: 1;
      }
      .modal-header__close {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          width: 30px;
          height: 30px;
          background-color: #f5f7fb;
          box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          position: relative;
          bottom: 24px;
          right: -30px;
          cursor: pointer;
        }
      }
    }

    &__body {
      padding: 15px 20px 18px 20px;
    }
  }
}
</style>
