<template>
  <div class="multiple-choice">
    <div class="multiple-choice__question" v-for="(item, index) in questions" :key="index">
      <div class="multiple-choice__question__number">
        <div class="multiple-choice__question__number--circle">
          {{ index + 1 }}
        </div>
      </div>
      <div :class="['multiple-choice__question__content', { 'no-border': noBorderBetween }]">
        <div class="multiple-choice__question__content--question" v-if="ml || ml2">
          {{ $nt(item.question) }}
        </div>
        <div class="multiple-choice__question__content--question" v-else>
          {{ $nt(item.question) }}
        </div>
        <div class="multiple-choice__question__content--answers" v-if="ml">
          <div
            :class="{
              'right-answer': varKey == item.right,
              editable: editable
            }"
            v-for="(variant, varKey) in item.variants"
            :key="varKey"
            @click="chooseAnswer(item, varKey, variant)"
          >
            {{ `${varKey}` }} )
            {{ variant.text && $nt(variant.text) || $nt(variant) }}
          </div>
        </div>

        <div class="multiple-choice__question__content--answers" v-else-if="ml2">
          <div v-for="(variant, varKey) in item.answer" :key="varKey">{{ `${varKey}` }} ) {{ $nt(variant.answer) }}</div>
        </div>

        <div class="multiple-choice__question__content--answers" v-else>
          <div
            :class="{
              'right-answer': varKey == item.right
            }"
            v-for="(variant, varKey) in item.variants"
            @click="chooseAnswer(item, varKey)"
            :key="varKey"
          >
            {{ `${varKey}` }} ) {{ $nt(variant) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    questions: {
      type: Array || Object,
      required: true
    },
    ml: Boolean,
    ml2: Boolean,
    noBorderBetween: Boolean,
    editable: Boolean
  },

  methods: {
    chooseAnswer(item, varKey, variant) {
      if (this.editable) {
        this.$set(item, "right", varKey)
        Object.keys(item.answers).forEach(key => {
          item.answers[key].selected = false
          if (item.answers[key].id == variant.id) {
            item.answers[key].selected = true
          }
        })
      } else if (!this.editable) {
        this.$store.dispatch("snackbar/changeToasts", {
          text: `Вы не можете изменять ответы теста! Вы уже проходили этот тест.`,
          color: "danger"
        })
      }
    }
  }
}
</script>

<style lang="scss">
.multiple-choice {
  position: relative;
  padding-right: 50px;

  &::before {
    top: 0;
    content: "";
    position: absolute;
    width: 27px;
    height: 100%;
    border-right: 1px dashed $dashedBorder;
  }

  &__question {
    display: flex;
    position: relative;

    &:first-child::after {
      position: absolute;
      content: "";
      top: 0;
      left: 25px;
      width: 2px;
      height: 10px;
      background: white;
    }

    &:last-child::before {
      position: absolute;
      content: "";
      // top: 42px;
      left: 25px;
      width: 2px;
      bottom: 0;
      height: 13px;
      background: white;
    }

    &__number {
      flex: none;
      width: 80px;
      line-height: 2;
      padding: 10px 0;
      position: relative;
      color: $blue;

      &--circle {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 2px solid $dashedBorder;
        background: white;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
      }
    }

    &:last-child {
      .multiple-choice__question__content {
        border-bottom: none;
      }
    }

    &__content {
      line-height: 2;
      flex: 1;
      padding: 10px 0;
      border-bottom: 1px dashed $dashedBorder;

      &.no-border {
        border: none;
      }

      &--answers {
        .editable {
          cursor: pointer;
        }
        > div {
          color: #9aa6bb;

          &.right-answer {
            color: $green;
          }
        }
      }
    }
  }
}
</style>
