<template>
  <div class="card notify-card">
    <div class="notify-card-header">
      <!-- etot title bar dlya 'materiali' tab -->
      <p class="notify-card-header__title">{{ data && data.title }}</p>
      <div class="notify-card-header__item">
        <div v-if="isMoreIcon">
          <d-dropdown>
            <template #body>
              <d-icon icon="more" />
            </template>

            <template #dropdown-menu>
              <li>
                <a @click="onUseClick">{{$t('studyDepartment.useTemplate')}}</a>
              </li>
            </template>
          </d-dropdown>
        </div>
      </div>
    </div>
    <div class="notify-card-content line-clamp">
      {{ (data && data.body) || "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum aliquid minima eum modi asperiores." }}
    </div>
    <div class="notify-card-footer">
      <div class="notify-card-footer__number" v-if="isMoreIcon">
        {{$t('studyDepartment.receivers')}}:
        {{ (data && data.receiver && data.receiver.length) || "0" }} человек
      </div>
      <div class="notify-card-footer__number" v-if="!isMoreIcon">
        От:
        {{ data.sender.first_name + " " + data.sender.last_name }}
      </div>
      <div class="notify-card-footer__avatars" v-if="sortedImages.length">
        <div class="notify-card-footer__avatars--item" :class="{ heightAuto: showAllUsers }" v-for="(item, index) in sortedImages" :key="index">
          <d-avatar
            cover
            :item="{ src: imageHandler(item.profile_image) }"
            :tooltip="`${item.first_name} ${item.last_name}`"
            width="41"
            height="41"
          ></d-avatar>
        </div>
        <div class="notify-card-footer__avatars--item more-child" v-if="this.data && this.data.receiver && this.data.receiver.length >= 6">
          <div @click="showAll">
            <d-icon icon="more" />
          </div>
        </div>
      </div>
    </div>
    <!-- All users will show as modal -->
    <d-modal title="Все получатели" @closemodal="showAllUsers = false" v-show="showAllUsers" size="small" class="grey-header users-more">
      <div class="users-modal-body">
        <div class="notify-card-footer__avatars--item marginChild" v-for="(item, index) in allImages" :key="index">
          <d-avatar
            cover
            :item="{ src: imageHandler(item.profile_image) }"
            :tooltip="`${item.first_name} ${item.last_name}`"
            width="41"
            height="41"
          ></d-avatar>
        </div>
      </div>
    </d-modal>
  </div>
</template>

<script>
import iconWrapper from "./icons/iconWrapper"
import Avatar from "./Avatar"
export default {
  props: {
    data: [Object, Array],
    isMoreIcon: {
      type: Boolean,
      default: true
    }
  },
  components: {
    "d-icon": iconWrapper,
    "d-avatar": Avatar,
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-modal": () => import("@/components/Modal")
  },
  data() {
    return {
      showAllUsers: false
    }
  },
  computed: {
    sortedImages() {
      // console.log("OTB ketti", this.data.id);
      if (this.data && this.data.receiver && this.data.receiver.length >= 6) {
        let newList = this.data.receiver.slice(0, 5)
        return newList
      }

      return (this.data && this.data.receiver) || []
    },
    allImages() {
      return this.data && this.data.receiver
    }
  },
  methods: {
    imageHandler(image) {
      return image ? (image.includes("http") ? image : `http://edu.sudya.uz${image}`) : ""
    },
    onUseClick() {
      console.log("CLICKED USE")
      this.$emit("use", this.data.id)
    },
    showAll() {
      this.showAllUsers = !this.showAllUsers
    }
  }
}
</script>
<style lang="scss">
.users-more {
  .notify-card-footer__avatars--item:last-child {
    & > div {
      background-color: unset;
      display: flex;
      flex: 1;
      // margin: 0 auto;
    }
  }
}
.notify-card {
  &.column {
    // down
    width: 300px;
    // up
    height: 315px;
    padding: 0;
  }
}

.users-modal-body {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  // users in modal will be more clear
  .marginChild {
    margin-bottom: 20px;
  }
}
</style>
