<template>
  <vue-draggable-resizable
    v-if="isDev"
    class="fixed"
    :w="preCtx.width"
    :h="preCtx.height"
    :x="preCtx.x"
    :y="preCtx.y"
    @dragging="onChange"
    @resizing="onChange"
  >
    <pre class="h-100"><slot /></pre>
  </vue-draggable-resizable>
</template>

<script>
import VueDraggableResizable from "vue-draggable-resizable"

function onChange(x, y, width = this.preCtx.width, height = this.preCtx.height) {
  this.preCtx = {
    x,
    y,
    width,
    height
  }

  localStorage.setItem("pre-coordinat-x-y-w-h", JSON.stringify(this.preCtx))
}

function isDev() {
  return process.env.NODE_ENV != "production"
}

export default {
  components: {
    "vue-draggable-resizable": VueDraggableResizable
  },

  data() {
    return {
      preCtx: {
        width: 0,
        height: 0,
        x: 0,
        y: 0
      }
    }
  },

  methods: {
    onChange
  },

  computed: {
    isDev
  },

  created() {
    const coords = JSON.parse(localStorage.getItem("pre-coordinat-x-y-w-h"))

    // console.log("coords", coords);

    Object.keys(coords).forEach(key => {
      if (key in this.preCtx) {
        this.preCtx[key] = +coords[key] || 0
      }
    })

    // console.log("updated");
  }
}
</script>
