<template>
  <div :class="['custom-progress', { male: male }, { female: female }]">
    <div class="custom-progress__top">
      <div>
        <d-icon :icon="male ? 'male' : female ? 'female' : ''" />
        <span>{{ male ? "Мужской пол" : female ? "Женский пол" : "" }}</span>
      </div>
      <div class="custom-progress__top__number">17</div>
    </div>
    <div class="custom-progress__bottom">
      <div class="custom-progress__background">
        <div class="custom-progress__bar" style="width: 60%"></div>
      </div>
    </div>
  </div>
</template>

<script>
import DIcon from "@/components/icons/iconWrapper"
export default {
  components: {
    DIcon
  },
  props: {
    male: Boolean,
    female: Boolean
  }
}
</script>

<style lang="scss">
.custom-progress {
  &.male {
    svg {
      fill: #6fd1f6;
    }

    .custom-progress__bar {
      background-color: #6fd1f6;
    }
  }

  &.female {
    svg {
      fill: #ffa35d;
    }

    .custom-progress__bar {
      background-color: #ffa35d;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    & > div {
      &:first-child {
        font-size: 14px;
        display: flex;
        color: #9aa6bb;

        svg {
          width: 10px;
          margin-right: 5px;
        }
      }
      &:last-child {
        font-size: 15px;
        color: #0d3375;
      }
    }
  }

  &__bottom {
    margin-top: 3px;
    position: relative;
  }

  &__background {
    height: 6px;
    border-radius: 4px;
    width: 100%;
    background-color: #f0f3f8;
    position: relative;
  }
  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    border-radius: 4px;
  }
}
</style>
