<template>
  <radial-progress-bar
    :diameter="Number(diameter)"
    :completed-steps="Number(initialSteps || completedSteps)"
    :total-steps="Number(initialTotalSteps || totalSteps)"
    :inner-stroke-color="innerStrokeColor"
    :start-color="initialColor || color"
    :stop-color="initialColor || color"
    :stroke-width="strokeWidth"
    :inner-stroke-width="innerStrokeWidth"
  >
    <p class="progress-bar__percent" :style="{ color: initialColor || color }">
      {{ initialSteps == 0 ? 0 : initialSteps || percent }}{{ displayPercent ? "%" : "" }}
    </p>
  </radial-progress-bar>
</template>

<script>
import RadialProgressBar from "vue-radial-progress"
import variables from "../assets/scss/base/_variables.scss"
export default {
  props: {
    percent: [Number, String],
    diameter: {
      type: [Number, String],
      default: 68
    },
    initialColor: String,
    initialTotalSteps: [Number, String],
    initialSteps: [Number, String],
    displayPercent: Boolean
  },
  data() {
    return {
      completedSteps: 0,
      totalSteps: 100,
      strokeWidth: 7,
      innerStrokeWidth: 7,
      color: "#1761aa",
      innerStrokeColor: "#f0f3f8"
    }
  },
  watch: {
    percent: {
      handler: "stepsCalculate",
      immediate: true
    }
  },
  methods: {
    stepsCalculate() {
      if (this.percent) {
        this.completedSteps = Number(this.percent)
        if (this.percent > 60) {
          this.color = variables.green
        } else if (this.percent > 30) {
          this.color = variables.blue
        } else {
          this.color = variables.red
        }
      }
    }
  },

  components: {
    RadialProgressBar
  }
}
</script>

<style lang="scss">
.progress-bar__percent {
  font-size: 18px;
  font-weight: 600;
}
</style>
