<template>
  <div class="card search-card">
    <div class="search-card-header">
      <div class="columns">
        <div class="column">
          {{ $t("studyDepartment.region") }}
        </div>
        <div class="column">
          {{ $t("studyDepartment.district") }}
        </div>
        <div class="column">
          {{ $t("studyDepartment.organization") }}
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
    <div class="search-card-body">
      <div class="columns">
        <div class="column">
          <d-select
            class="grey rounded"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="options"
            label="title"
            v-model="id"
            :reduce="(item) => item.id"
          ></d-select>
        </div>
        <div class="column">
          <d-select
            class="grey rounded"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="options"
            label="title"
            v-model="id"
            :reduce="(item) => item.id"
          ></d-select>
        </div>
        <div class="column">
          <d-select
            class="grey rounded"
            :placeholder="$t('teacherOffice')"
            :options="options"
            label="title"
            v-model="id"
            :reduce="(item) => item.id"
          ></d-select>
        </div>
        <div class="column is-2">
          <div class="search-card-body__btns">
            <d-button color="custom-btn-info is-link" @click="clickArrow">
              <d-icon icon="left-arrow"></d-icon>
            </d-button>
            <d-button color="custom-btn-info is-link" @click="clickSearch">
              <d-icon icon="search"></d-icon>
            </d-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Select from "./inputs/select"
import loaderButton from "./buttons/loaderButton"
import iconWrapper from "./icons/iconWrapper"
export default {
  components: {
    "d-select": Select,
    "d-button": loaderButton,
    "d-icon": iconWrapper
  },
  data() {
    return {
      id: 1,
      options: [
        {
          title: "lyuboy",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ]
    }
  },
  methods: {
    clickArrow() {},

    clickSearch() {}
  }
}
</script>

<style lang="scss">
.card {
  &.search-card {
    padding: $paddingCards;
    border-radius: 4px;
    .search-card-header {
    }

    .search-card-body {
      .vs__dropdown-toggle {
        padding: 2px !important;
      }

      &__btns {
        display: flex;
        margin-top: 5px;
        justify-content: center;

        button {
          width: 45px;
          padding: 0;
          height: 32px;

          &:first-child {
            margin-right: 5px;
          }

          &:last-child {
            margin-left: 5px;
          }

          &.vs__clear {
            padding-top: 7px;
          }
          &.button.custom-btn-info.is-link {
            svg {
              height: 15px;
              width: unset;
            }
          }

          svg {
            fill: white;
            stroke: white;
            height: 16px;
          }
        }
      }
    }
  }
}
</style>
