<template>
  <div class="sidebar" :class="{ anime_sidebar: $store.state.isOpen }">
    <!-- Close menu icon -->
    <div class="manage_menu" @click="setOpen">
      <d-icon icon="angle-right" class="icon_btn" :class="{ anime_icon_btn: !$store.state.isOpen }"></d-icon>
    </div>
    <router-link to="/" custom class="sidebar_logo" :class="{ anime_sidebar_logo: $store.state.isOpen }">
      <img class="sidebar_logo__image" src="@/assets/images/logo-white.png" alt="" />
      <span class="sidebar_logo__title" :class="{ anime_sidebar_logo__title: $store.state.isOpen }"
        >Московский государсвенный университет <br />
        имени М.В.Ломоносова <br />филиал г. Ташкента</span
      >
    </router-link>

    <!-- <router-link to="/" tag="div" :class="{ sidebar_logo: !$store.state.isOpen, open_sidebar_logo: $store.state.isOpen }">
      <img :class="{ sidebar_logo__image: !$store.state.isOpen, open_sidebar_logo__image: $store.state.isOpen }" src="@/assets/images/logo.svg" alt="" />
      <span :class="{ sidebar_logo__title: !$store.state.isOpen, open_sidebar_logo__title: $store.state.isOpen }"
        >Московский Государсвенный университет <br />
        имени М.В.Ломоносова <br />филиал города Ташкента</span
      >
    </router-link> -->
    <div class="sidebar_top" :class="{ anime_sidebar_top: $store.state.isOpen }">
      <!-- Chat button <<<start>>>-->
      <!-- <div class="parent sidebar_top__item" :class="{ anime_sidebar_top__item: $store.state.isOpen }">
        <d-icon class="sidebar_top__item__icon" icon="student-chat"></d-icon>
        <div class="tooltip1">
          {{ $nt(chat) }}
        </div>
      </div> -->
      <!-- Chat button <<<finish>>> -->
      <!-- <a href="#" class="sidebar-top__item active">
        <router-link
          :to="{
            name: role == 1 ? 'cabinetStudentsVideoconf' : 'cabinetTeachersVideoconf'
          }"
        >
          <d-icon class="sidebar-top__item--icon" :icon="role == 1 ? 'student-video-camera' : 'video-film'" />
        </router-link>
      </a> -->
      <div class="parent sidebar_top__item" :class="{ anime_sidebar_top__item: $store.state.isOpen }" @click="logout">
        <d-icon :class="{ sidebar_top__item__icon: !$store.state.isOpen, open_sidebar_top__item__icon: $store.state.isOpen }" icon="student-logout">
        </d-icon>
        <div class="tooltip1">{{ $nt(logoutMsg) }}</div>
      </div>
    </div>
    <perfect-scrollbar class="mt-5 sidebar_menu">
      <!-- <div class="sidebar-menu__group">
                <a href="#" class="sidebar-menu__item">
                    <d-icon class="sidebar-menu__item__icon" icon="student-dashbord"></d-icon>
                    <span>Главная</span>
                </a>
            </div> -->
      <div class="sidebar_menu__group" v-for="(item, i) in sideBarLinks[sidebarKey]" :key="sidebarKey + i">
        <router-link
          v-for="(el, index) in item"
          :key="index"
          :to="{ name: el.name }"
          active-class="active"
          expand
          :disabled="!el.name"
          class="parent sidebar_menu__item"
          :class="{ anime_sidebar_menu__item: $store.state.isOpen }"
        >
          <d-icon class="sidebar_menu__item__icon" :class="{ anime_sidebar_menu__item__icon: $store.state.isOpen }" :icon="el.icon">
            <!-- <div class="parent"> -->
            <!-- <div class="tooltip" v-if="$store.state.isOpen">{{ (el.title && $nt(el.title)) || el.title }}</div> -->
            <!-- </div> -->
          </d-icon>
          <span v-if="!$store.state.isOpen">{{ (el.title && $nt(el.title)) || el.title }}</span>
          <div class="tooltip" v-if="$store.state.isOpen">{{ (el.title && $nt(el.title)) || el.title }}</div>
        </router-link>

        <div class="hr" v-if="i < sideBarLinks.learning.length - 1"></div>
      </div>
    </perfect-scrollbar>
  </div>
</template>

<script>
import DIcon from "./icons/iconWrapper"

import learning from "@/constants/roles/learning"
import students from "@/constants/roles/students"
import teachers from "@/constants/roles/teachers"
import tests from "@/constants/roles/tests"
import admin from "@/constants/roles/admin"
import commission from "@/constants/roles/commission"
import library from "@/constants/roles/library"
import { mapState } from "vuex"
export default {
  data() {
    return {
      sideBarLinks: {
        learning,
        students,
        teachers,
        tests,
        admin,
        commission,
        library
      },
      sidebarKey: "learning",
      chat: {
        uz: "Chat",
        ru: "Чат",
        en: "Chat"
      },
      logoutMsg: {
        uz: "Chiqish",
        ru: "Выйти",
        en: "Log out"
      }
      // isOpen: this.$store.state.isOpen
      // isOpen: true
      // isOpen: false
    }
  },
  components: {
    DIcon
  },
  computed: {
    ...mapState({
      role: state => state.profile.fields.access_level
    })
    // isOpen() {
    //   return this.$store.state.isOpen
    // }
  },
  watch: {
    $route: {
      handler(newRoute) {
        this.sidebarKey = (newRoute.path.split("/") || [])[2] || "learning"
      },
      immediate: true
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout").then(() => {
        this.$router.push({ path: "/login" })
      })
    },
    setOpen() {
      this.$store.commit("setOpen")
    }
  }
}
</script>

<style lang="scss">
.last__group {
  border: 0 none;
}

.ps {
  .ps__rail-x:hover {
    background-color: $lblue;
  }
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: hsl(210, 50%, 40%);
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 6px;
}

.ps__rail-y {
  width: 9px;
  background-color: transparent;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  background-color: transparent !important;
}
.manage_menu {
  z-index: 1;
  cursor: pointer;
  fill: white;
  position: absolute;
  background-color: #114980;
  top: 10px;
  right: -20px;
  width: 20px;
  height: 50px;
  border-radius: 0 7px 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open_sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  padding: 0 15px;
  background-color: $bgblue;
  display: flex;
  flex-direction: column;
  z-index: 12;

  // Logo
  &_logo {
    padding: 15px 0;
    text-align: center;

    &__image {
      width: 100px;
      height: auto;
      cursor: pointer;
    }

    &__title {
      display: none;
      font-size: 16px;
      line-height: 18px;
      color: $white;
      padding: 15px 0;
      font-family: $pRegular;
    }
  }

  // Top
  &_top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    &__item {
      display: flex;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      color: $white;
      border-radius: 4px;
      background-color: #1e5b97;
      margin: 10px 12px;
      cursor: pointer;

      &__icon {
        width: auto;
      }
    }
  }

  // Menu
  &_menu {
    // padding: 0 25px;
    margin-left: -25px;
    margin-right: -25px;
    flex: 1;
    overflow: auto;

    &__group {
      // padding: 16.5px 0;
      .hr {
        width: 80%;
        height: 1px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 16.5px auto;
      }
    }

    &__item {
      width: 100%;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $pLight;
      font-size: 16px;
      line-height: 21px;
      color: $white;
      border-radius: 4px;
      // padding: 0 37.5px;
      margin: 5px 0;
      position: relative;
      &__icon {
        fill: $white;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-right: 12.5px;
      }
      &:hover {
        color: $white;
      }
      &.active {
        span {
          z-index: 2;
        }
        svg {
          z-index: 2;
        }
        &:not(.disabled) {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #1e5b97;
            z-index: 1;
            margin: 0 25px;
            border-radius: 4px;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            background-color: #1e5b97;
            border-radius: 0 2px 2px 0;
          }
        }
      }
    }
  }
}
.icon_btn {
  transform: all 0.3s ease-in-out;
  &.anime_icon_btn {
    transform: rotate(180deg);
  }
}

//  Tooltips start from here

.parent {
  position: relative;
}
.parent:hover > .tooltip {
  display: flex;
}
.parent:hover > .tooltip1 {
  display: flex;
}
.tooltip {
  position: absolute;
  display: none;
  height: 30px;
  // padding: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  width: 80px;
  line-height: 12px;
  border-radius: 5px;
  background-color: #3d6599;
  top: 30px;
  left: 20px;
  color: rgb(224, 224, 224);
  z-index: 12;
}
.tooltip1 {
  position: absolute;
  display: none;
  height: 20px;
  // padding: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  width: 50px;
  line-height: 12px;
  border-radius: 5px;
  background-color: #3d6599;
  top: 35px;
  left: -10px;
  color: rgb(224, 224, 224);
  z-index: 12;
}
</style>
