<template>
  <div class="column is-one-quarter custm-column" v-if="checkCard">
    <div :class="['card task-card', { blocked: item && item.uploading }]">
      <header class="card-header task-card-header">
        <!-- etot title bar dlya 'materiali' tab -->
        <p class="card-header-title task-card-title has-text-link mb-0">{{$t('teacherOffice.topicNo')}}{{ (item && item.id) || "" }}</p>
        <!-- <button class="info-icon-div" v-if="!item.questions_count">
          <d-icon icon="information" />
        </button> -->
      </header>
      <div class="card-content">
        <div class="custom-content">
          <!-- eto v obucheniya vkladki -->
          <div class="task-type">
            <p class="has-text-link">
              <!-- Тип задания:  -->
              {{ item && item.module && $nt(item.module) }}
            </p>
            <div class="task-dates">
              <p>{{$t('teacherOffice.added')}}: {{ (item && item.start_date) || "" }}</p>
              <p>{{$t('teacherOffice.deadline')}}: {{ (item && item.end_date) || "" }}</p>
            </div>
          </div>

          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import iconWrapper from "../components/icons/iconWrapper";
export default {
  props: ["item", "tab"],
  data() {
    return {
      data: ""
    }
  },
  components: {
    // "d-icon": iconWrapper,
  },
  computed: {
    TitleColor() {
      return this.item.uploading ? "has-text-danger" : this.item.score ? "" : "has-text-link"
    }
  },
  created() {
    console.log(this.item)
  },
  methods: {
    checkCard() {
      if (this.tab && this.tab === 2 && this.item && this.item.mark && this.item.mark !== 0) {
        return false
      } else if (this.tab && this.tab === 1) {
        return true
      }
    }
  }
}
</script>
<style lang="scss"></style>
