<template>
  <div class="column px-0">
    <div class="card block-card">
      <div class="columns is-vcentered">
        <div class="column is-05 has-text-centered">{{ item.id }}</div>
        <div class="column is-3 ">
          <div class="subject-title">
            <span class="text-16">{{ $nt(item.name) }}</span>
          </div>
        </div>
        <div class="column ">
          <div class="block-card-results">
            <p>Текущий контроль</p>
            <p
              class="block-card-results__score"
              :class="
                ((item && item.current_score && item.current_score[0] && item.current_score[0].score) || 0) <= 100 &&
                ((item && item.current_score && item.current_score[0] && item.current_score[0].score) || 0) > 75
                  ? 'has-text-green'
                  : ((item && item.current_score && item.current_score[0] && item.current_score[0].score) || 0) <= 74 &&
                    ((item && item.current_score && item.current_score[0] && item.current_score[0].score) || 0) >= 50
                  ? 'has-text-orange'
                  : ((item && item.current_score && item.current_score[0] && item.current_score[0].score) || 0) >= 49
                  ? 'has-text-red'
                  : null
              "
              v-if="item.current_score"
            >
              {{ ((item && item.current_score && item.current_score[0] && item.current_score[0].score) || 0) + "/100" }}
              <span v-if="(item && item.current_score && item.current_score[0] && $nt(item.current_score[0].score_qa.name)) || ''">
                ({{ (item && item.current_score && item.current_score[0] && $nt(item.current_score[0].score_qa.name)) || "" }})
              </span>
            </p>
            <span class="show-all" @click="openModal(1)" v-if="item.current_score">
              Показать все &#10132;
            </span>
          </div>
        </div>
        <div class="column ">
          <div class="block-card-results">
            <p>Промежуточный контроль</p>
            <p
              class="block-card-results__score"
              :class="
                ((item && item.intermediate_constrol && item.intermediate_control[0] && item.intermediate_control[0].score) || 0) <= 100 &&
                ((item && item.intermediate_constrol && item.intermediate_control[0] && item.intermediate_control[0].score) || 0) > 75
                  ? 'has-text-green'
                  : ((item && item.intermediate_constrol && item.intermediate_control[0] && item.intermediate_control[0].score) || 0) <= 74 &&
                    ((item && item.intermediate_constrol && item.intermediate_control[0] && item.intermediate_control[0].score) || 0) >= 50
                  ? 'has-text-orange'
                  : ((item && item.intermediate_constrol && item.intermediate_control[0] && item.intermediate_control[0].score) || 0) >= 49
                  ? 'has-text-red'
                  : null
              "
              v-if="item.intermediate_control"
            >
              {{ ((item && item.intermediate_constrol && item.intermediate_control[0] && item.intermediate_control[0].score) || 0) + "/100" }}
              <span
                v-if="
                  (item && item.intermediate_constrol && item.intermediate_constrol[0] && $nt(item.intermediate_control[0].score_qa.name)) ||
                    ''
                "
              >
                ({{
                  (item && item.intermediate_constrol && item.intermediate_constrol[0] && $nt(item.intermediate_control[0].score_qa.name)) ||
                    ""
                }})
              </span>
            </p>
            <p align="center" v-else>({{ $t("studyDepartment.empty") }})</p>
            <!-- <span
              class="block-card-results__time"
              v-if="item.intermediate_control[0].date"
            >
              <d-icon icon="time" />
              <span>
                {{ item.intermediate_control[0].date }}
              </span>
            </span> -->
            <span class="show-all" @click="openModal(2)" v-if="item.intermediate_control">
              Показать все &#10132;
            </span>
          </div>
        </div>
        <div class="column ">
          <div class="block-card-results">
            <p>Итоговый контроль</p>
            <p
              class="block-card-results__score"
              :class="
                item.final_control <= 100 && item.final_control >= 75
                  ? 'has-text-green'
                  : item.final_control <= 74 && item.final_control >= 50
                  ? 'has-text-orange'
                  : item.final_control >= 49
                  ? 'has-text-red'
                  : null
              "
              v-if="item.final_control_qa"
            >
              {{ item.final_control + "/100" || "-" }}
              ({{ $nt(item.final_control_qa.name) }} )
            </p>
            <p align="center" v-else>({{ $t("studyDepartment.empty") }})</p>
            <span class="block-card-results__time">
              <!-- <d-icon icon="time" />
              <span>
                06.08.2020
              </span> -->
            </span>
          </div>
        </div>
      </div>
    </div>
    <d-modal title="Все получатели" @closemodal="closeModal" v-show="modal.show_current_score" size="medium" class="grey-header users-more">
      <d-list :len="item[modal.variant] && item[modal.variant].length" :loading="false" dashedHeader>
        <template #header>
          <div class="columns">
            <div class="column is-1"><span>№</span></div>
            <div class="column is-4"><span>{{$t('teacherOffice.score')}}</span></div>
            <div class="column is-4"><span>Статус оценки</span></div>
            <div class="column is-4"><span>Дата</span></div>
          </div>
        </template>
        <template #content>
          <div class="columns" v-for="(el, i) in item[modal.variant]" :key="i">
            <div class="column is-1">
              <span>{{ i + 1 }}</span>
            </div>
            <div class="column is-4">
              <span
                :class="
                  el.score <= 100 && el.score >= 75
                    ? 'has-text-green'
                    : el.score <= 74 && el.score >= 50
                    ? 'has-text-orange'
                    : el.score >= 49
                    ? 'has-text-red'
                    : null
                "
                >{{ el.score + "/100" || "-" }}</span
              >
            </div>
            <div class="column is-4">
              <span> {{ $nt(el.score_qa.name) || "-" }}</span>
            </div>
            <div class="column is-4">
              <span> {{ el.score_qa.date || "-" }}</span>
            </div>
          </div>
        </template>
      </d-list>
    </d-modal>
  </div>
</template>

<script>
// import iconWrapper from "../components/icons/iconWrapper";
export default {
  props: ["item"],
  components: {
    "d-modal": () => import("@/components/Modal"),
    "d-list": () => import("@/components/Lists")
    // "d-icon": iconWrapper,
  },
  data: () => ({
    modal: {
      show_current_score: false,
      variant: ""
    }
  }),
  methods: {
    openModal(num) {
      if (num == 1) {
        this.modal.show_current_score = true
        this.modal.variant = "current_score"
      }

      if (num == 2) {
        this.modal.show_current_score = true
        this.modal.variant = "intermediate_control"
      }
    },
    closeModal() {
      this.modal.show_current_score = false
      this.modal.variant = ""
    }
  }
}
</script>

<style lang="scss" scoped>
.show-all {
  color: $blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
</style>
