<template>
  <div class="tabs-content">
    <div class="custom-tabs">
      <div :class="['custom-tabs-left', { 'new-design': newTabs }]">
        <div
          :class="[{ 'is-active': tab == item.tab }, { 'no-pointer': disabled }]"
          v-for="item in tabList"
          :key="item.tab"
          @click="onTabClick(item)"
        >
          <a>
            <!-- <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span> -->
            <span>{{ item.title }}</span>
          </a>
        </div>
      </div>
      <div class="custom-tabs-right">
        <slot name="tabs-right"></slot>
      </div>
    </div>

    <slot name="content" :taskType="tab.typeTask"></slot>
  </div>
</template>

<script>
export default {
  props: {
    tabList: {
      type: Array
    },
    value: {
      type: [Number, String]
    },
    newTabs: Boolean,
    disabled: Boolean,

    defaultTabValue: {
      type: [Number, String, Object],
      default: () => 1
    }
  },
  data() {
    return {
      tab: null
    }
  },
  watch: {
    value: {
      handler(val) {
        this.tab = val || this.defaultTabValue
        this.$emit("change", this.tab)
      },
      immediate: true
    }
  },
  methods: {
    onTabClick(item) {
      if (this.disabled) {
        return
      }
      this.tab = item.tab
      this.tabList.forEach(tabItem => {
        tabItem.selected = false
      })
      item.selected = !item.selected
      this.$emit("item", item)
    }
  }
}
</script>
