<template>
  <div>
    <div :class="['time-tab', { active: item.active }]" v-for="(item, index) in times" :key="index" @click="onTabClick(index)">
      {{ item.time }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    times: Array
  },
  methods: {
    onTabClick(id) {
      this.times.forEach(item => {
        item.active = false
      })

      this.times[id].active = true

      this.$emit("change-time", this.times)
    }
  }
}
</script>

<style lang="scss">
.time-tab {
  display: inline-block;
  padding: 8px 17px;
  background-color: #f4f5f8;
  color: $grey;
  border-radius: 26px;
  cursor: pointer;

  &.active {
    background-color: $blue;
    color: white;
  }

  & + .time-tab {
    margin-left: 20px;
  }
}
</style>
