<template>
  <div class="toasts">
    <template v-if="toastList.length">
      <div
        class="toasts__item"
        v-for="(item, index) in toastList"
        :key="index"
        :class="[{ toasts__item_more: toastList.length > 1 }, { toasts__item_off: item.off }]"
        :style="`background:${item.color == 'success' ? '#27ae60' : item.color == 'danger' ? '#ff7285' : item.color ? item.color : '#2b6dae'}`"
      >
        <div class="toasts__item__text">
          {{ item.text }}
        </div>
        <div class="toasts__item__btns" v-if="item.link || item.done">
          <div class="toasts__item__btn" :class="{ toasts__item__btn_full: !item.link }" @click="notifictaionSeen(item)">
            Ок
          </div>
          <router-link tag="div" v-if="item.link" :to="item.link" class="toasts__item__btn">
            Перейти
          </router-link>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex"
export default {
  data() {
    return {
      toastList: []
    }
  },
  watch: {
    toasts: {
      handler() {
        this.changeToastsList()
      }
      // immediate: true
    },
    toastList: {
      handler() {
        if (this.toastList <= 2) {
          this.changeToastsList()
        }
      }
    }
  },
  computed: {
    ...mapState({
      toasts: state => state.snackbar.toasts
    })
  },
  methods: {
    ...mapActions("snackbar", ["changeToasts"]),
    changeToastsList() {
      const t = JSON.parse(JSON.stringify(this.toasts))
      t.forEach(item => {
        if (this.toastList.length <= 2) {
          if (!this.toastList.some(subitem => subitem.id == item.id)) {
            this.toastList.push(item)
          }
          const stm = setTimeout(() => {
            // item.off = true;
            // setTimeout(() => {
            this.changeToasts(item)
            this.changeToastList(item)
            clearTimeout(stm)
            // }, 200);
          }, 5000)
        }
      })
    },
    changeToastList(item) {
      const i = this.toastList.findIndex(subitem => item.id == subitem.id)
      if (i != -1) {
        this.toastList = [...this.toastList.slice(0, i), ...this.toastList.slice(i + 1)]
      }
    },
    notifictaionSeen(item) {
      this.changeToasts(item)
      this.changeToastList(item)
    }
  }
}
</script>
<style lang="scss">
.toasts {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  z-index: 10500;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;

  &.toasts {
    &-center {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__item {
    opacity: 1;
    color: $white;
    width: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    //animation: notification 0.2s linear;
    transition: 0.2s;
    &_more {
      margin-top: 15px;
    }
    // &_off {
    //transform: translateX(100%);
    // }
    &__text {
      padding: 10px 15px;
    }
    &__btns {
      width: 100%;
      display: flex;
      border-top: 1px solid $white;
    }
    &__btn {
      display: block;
      height: 100%;
      width: 50%;
      border-right: 1px solid $white;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      &_full {
        width: 100%;
      }
      &:hover {
        box-shadow: 0 3px 10px white;
      }
      &:last-child {
        border: none;
      }
    }
  }
}
@keyframes notification {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
</style>
