<template>
  <div :class="['week-tabs', { blocked: readOnly }]">
    <div :class="['week-tabs__item', { active: CheckDay(index) }]" v-for="(item, index) in weekDays" :key="index" @click="Select(index)">
      <span class="week-tabs__item--text">{{ item.text }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    readOnly: Boolean,
    multiple: Boolean,
    pickToday: {
      type: Boolean,
      default: () => true
    }
  },
  data() {
    return {
      today: 0,
      weekDays: [
        {
          text: this.$t("daysOfWeek.mon")
        },
        {
          text: this.$t("daysOfWeek.tue")
        },
        {
          text: this.$t("daysOfWeek.wed")
        },
        {
          text: this.$t("daysOfWeek.thu")
        },
        {
          text: this.$t("daysOfWeek.fri")
        },
        {
          text: this.$t("daysOfWeek.sat")
        }
      ],
      selected: []
    }
  },

  mounted() {
    if (this.pickToday) {
      let d = new Date()
      this.today = d.getDay() - 1
    }
  },

  methods: {
    Select(index) {
      if (this.multiple) {
        if (!this.selected.includes(index)) {
          this.selected.push(index)
          this.$emit("change", this.selected)
          return
        }
        let itemIndex = this.selected.indexOf(index)
        this.selected.splice(itemIndex, 1)
        this.$emit("change", this.selected)
        return
      }
      this.today = index

      this.$emit("change", index)
    },

    CheckDay(index) {
      if (this.multiple) {
        return this.selected.includes(index)
      }
      return this.today == index
    }
  }
}
</script>
