<template>
  <div class="add-group">
    <div class="add-group__title">
      <h2>
        {{ $t("studyDepartment.formationOfTheGroup") }}
      </h2>
      <d-btn :text="$t('studyDepartment.save')" color="blue" class="add-group__title__btn" :disabled="!selStudents.length" @click="toggleModal()" />
      <d-modal :seen="openModal" size="small" title="Сформировать группу" @closemodal="toggleModal()">
        <div class="add-group__modal" v-if="!response">
          <div class="add-group__modal--item">
            <div class="custom-title">Названия группы</div>
            <d-input
              class="grey rounded"
              :class="{ error_alert: $v.groupName.$error }"
              :placeholder="$t('teacherOffice.enterTheText')"
              rounded
              v-model="groupName"
            />
            <small class="error_message" v-if="$v.groupName.$error"> Введите название группы </small>
          </div>
          <div class="add-group__modal--item">
            <div class="custom-title">Названия кафедры</div>
            <d-select
              class="add-group__filter__select rounded grey"
              placeholder="Выберите кафедру"
              :options="cathedras"
              label="title"
              v-model="idCafedra"
              :reduce="(item) => item.id"
            />
            <small class="error_message" v-if="idCafedraFlag"> Введите название кафедры </small>
          </div>
          <div class="add-group__modal__btns">
            <d-btn class="add-group__modal--btn" @click="toggleModal()" color="grey" rounded :text="$t('studyDepartment.cancel')"> </d-btn>
            <d-btn class="add-group__modal--btn" @click="addGroup()" color="blue" rounded :text="$t('studyDepartment.save')"> </d-btn>
          </div>
        </div>
        <div class="add-group__success" v-else>
          <d-icon icon="check" class="add-group__success__icon" />
          <div class="add-group__success__text">Группа успешно обновлена!</div>
          <div class="add-group__success__btns">
            <d-btn text="Продолжить" color="blue" rounded class="add-group__title__btn" @click="doNext(true)" />
            <d-btn text="Вернуться к группам" color="grey" rounded class="add-group__title__btn" @click="doNext(false)" />
          </div>
        </div>
      </d-modal>
    </div>
    <div class="add-group__blocks">
      <div class="add-group__block">
        <d-tabs :tab-list="tabList" class="add-group__tabs" />
        <div class="add-group__filter" :class="{ 'add-group__filter_uptodown': tabList[1].selected }">
          <d-select
            class="add-group__filter__select"
            :placeholder="$t('studyDepartment.select')"
            :options="options"
            :title="$t('studyDepartment.region')"
            label="title"
            v-model="idRegion"
            :reduce="(item) => item.id"
          />
          <d-select
            class="add-group__filter__select"
            :placeholder="$t('studyDepartment.select')"
            :options="options"
            :title="$t('studyDepartment.district')"
            label="title"
            v-model="idDistrict"
            :reduce="(item) => item.id"
          />
          <d-select
            class="add-group__filter__select"
            :placeholder="$t('studyDepartment.select')"
            :options="options"
            :title="$t('studyDepartment.organization')"
            label="title"
            v-model="idOrg"
            :reduce="(item) => item.id"
          />
          <d-select
            class="add-group__filter__select"
            :placeholder="$t('studyDepartment.select')"
            :options="options"
            :title="$t('studyDepartment.dateOfAdvancedTraining')"
            label="title"
            v-model="idDate"
            :reduce="(item) => item.id"
          />
          <d-select
            class="add-group__filter__select"
            :placeholder="$t('studyDepartment.select')"
            :options="options"
            :title="$t('studyDepartment.position')"
            label="title"
            v-model="idPosition"
            :reduce="(item) => item.id"
          />
        </div>
        <d-lists :loading="loading" :len="list && list.length" dashedHeader class="add-group__lists">
          <template #header>
            <div class="columns">
              <div class="column is-5">
                <span>{{ $t("studyDepartment.fullName") }}</span>
              </div>
              <div class="column is-3">
                <span>{{ $t("studyDepartment.district") }}</span>
              </div>
              <div class="column is-3"><span>Дожность</span></div>
              <div class="column right">
                <span class="checkbox" :class="{ checkbox_active: selectAll }" @click="clickSelectAll">
                  <img src="@/assets/images/check_tasks.png" alt="" v-if="selectAll" />
                </span>
              </div>
            </div>
          </template>

          <template #content>
            <div class="columns add-group__lists__item" v-for="item in list" :key="item.id" @click="addStudentFlag(item)">
              <div class="column is-5">
                <span>{{ item.first_name }} {{ item.middle_name }} {{ item.last_name }}</span>
              </div>
              <div class="column is-3">
                <span>{{ (item.living_address && $nt(item.living_address)) || item.living_address }}</span>
              </div>
              <div class="column is-3">
                <span>{{ (item.education_job && $nt(item.education_job)) || item.education_job }}</span>
              </div>
              <div class="column right tasks-prog__item">
                <span class="checkbox" :class="{ checkbox_active: item.checked }">
                  <img src="@/assets/images/check_tasks.png" alt="" v-if="item.checked" />
                </span>
              </div>
            </div>
          </template>
        </d-lists>
        <d-pagination v-model="pagination.page" :total="pagination.count" />
      </div>
      <div class="add-group__block">
        <div class="add-group__seltitle">
          {{ $t("studyDepartment.selected") }}:
          {{ selStudents.length === 0 ? "Ничего не выбрано" : selStudents.length }}
        </div>
        <div class="add-group__selist">
          <div
            class="add-group__selist__selstudent"
            :class="{
              'add-group__selist__selstudent_removed': !student.checked
            }"
            v-for="student in selStudents"
            :key="student.id"
            @click="addStudentFlag(student)"
          >
            <span>{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</span>
            <span class="checkbox" :class="{ checkbox_active: student.checked }">
              <img src="@/assets/images/check_tasks.png" alt="" v-if="student.checked" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import loaderButton from "@/components/buttons/loaderButton"
import Tabs from "@/components/Tabs"
import select from "@/components/inputs/select"
import Lists from "@/components/Lists"
import Pagination from "@/components/Pagination"
import Modal from "@/components/Modal"
import input from "@/components/inputs/input"
import { mapActions } from "vuex"
import { required } from "vuelidate/lib/validators"
import iconWrapper from "@/components/icons/iconWrapper"
export default {
  components: {
    "d-btn": loaderButton,
    "d-tabs": Tabs,
    "d-select": select,
    "d-lists": Lists,
    "d-pagination": Pagination,
    "d-modal": Modal,
    "d-input": input,
    "d-icon": iconWrapper
  },
  data() {
    return {
      selStudents: [],
      idRegion: null,
      idDistrict: null,
      idOrg: null,
      idDate: null,
      idPosition: null,
      idGroup: null,
      idCafedra: null,
      idCafedraFlag: false,
      selectAll: false,
      openModal: false,
      list: [],
      response: false,
      loading: true,
      flagSelectAll: false,
      groupName: "",
      pagination: {
        page: 1,
        limit: 10,
        count: 100
      },
      tabList: [
        {
          title: this.$t("studyDepartment.fullTimeForm"),
          tab: 1,
          selected: true
        },
        {
          title: this.$t("studyDepartment.remoteForm"),
          tab: 2,
          selected: false
        }
      ],
      cathedras: [],
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        }
      ]
    }
  },
  validations: {
    groupName: {
      required
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },

  methods: {
    ...mapActions("groups", ["getFullTimeStudents", "changeGroup", "getGroupList", "getCathedra", "getGroupWithStudents"]),

    filterStudent() {
      if (this.list.some((item) => item.checked)) {
        this.list.forEach((item) => {
          if (item.checked === true && !this.selStudents.find((itemList) => itemList.id === item.id)) {
            this.selStudents.push(item)
          } else if (item.checked === false) {
            const i = this.selStudents.findIndex((itemList) => itemList.id === item.id)
            if (i != -1) {
              this.selStudents.splice(i, 1)
            }
          }
        })
        return
      }
      this.list.forEach((item) => {
        const i = this.selStudents.findIndex((itemList) => itemList.id === item.id)
        if (i != -1) {
          this.selStudents.splice(i, 1)
        }
      })
    },
    addStudentFlag(item) {
      this.flagSelectAll = false
      this.addStudent(item)
    },
    addStudent(item) {
      const t = this.list.find((itemList) => itemList.id === item.id)
      if (t) {
        if (this.flagSelectAll) {
          t.checked = this.selectAll
        } else {
          this.selectAll = false
          t.checked = !t.checked
        }
        setTimeout(() => {
          this.filterStudent()
        }, 200)
      } else {
        const t = this.selStudents.findIndex((itemList) => itemList.id === item.id)
        if (t != -1) {
          this.selStudents[t].checked = false
          setTimeout(() => {
            this.selStudents.splice(t, 1)
          }, 200)
        }
      }
    },
    fetchList(params) {
      this.getFullTimeStudents(params).then((res) => {
        if (res && res.data) {
          this.list = res.data.results
          this.pagination.count = res.data.count
          this.loading = false
          if (this.selectAll) {
            this.list.forEach((item) => {
              this.addStudent(item)
            })
          }
          if (this.list && this.selStudents.length) {
            this.list.forEach((item) => {
              this.selStudents.forEach((itemList) => {
                if (itemList.id === item.id) {
                  item.checked = true
                }
              })
            })
          }
        }
      })
    },
    clickSelectAll() {
      this.flagSelectAll = true
      this.selectAll = !this.selectAll
    },
    toggleModal() {
      this.openModal = !this.openModal
    },
    addGroup() {
      this.$v.$touch()
      // if (this.idCafedra === null) {
      //   this.idCafedraFlag = true;
      // } else {
      //   this.idCafedraFlag = false;
      // }
      if (!this.$v.$invalid) {
        let idBox = [],
          params = {}
        this.selStudents.forEach((item) => {
          idBox.push(item.id)
        })
        params = {
          name: this.groupName,
          department: this.idCafedra,
          students: idBox
        }
        this.changeGroup({
          group_id: this.$route.params.id,
          action: "patch",
          params: params
        }).then((res) => {
          if (res && res.data) {
            this.response = true
          }
        })
      }
    },
    doNext(flag) {
      if (flag) {
        this.response = false
        this.toggleModal()
        // this.selStudents = [];
        // this.list.forEach(item => {
        //   item.checked = false;
        // });
        // this.selectAll = false;
      } else {
        this.$router.push({ path: "/cabinet/learning/groups/" })
      }
    }
  },
  watch: {
    offsetComputed(val) {
      this.fetchList({
        limit: this.pagination.limit,
        offset: val
      })
    },
    selectAll: {
      handler() {
        if (this.flagSelectAll) {
          this.list.forEach((item) => {
            this.addStudent(item)
          })
        }
      }
    },
    $route: {
      handler() {
        this.getCathedra().then((res) => {
          if (res && res.data) {
            this.cathedras = res.data.results
            this.cathedras.forEach((item) => {
              item.title = this.$nt(item.name)
            })
          }
        })
        this.getGroupWithStudents(this.$route.params.id).then((res) => {
          if (res && res.data) {
            this.groupName = res.data.name
            let students = res.data.students
            this.idCafedra = res.data.department
            students.forEach((item) => {
              item.checked = true
              this.selStudents.push(item)
            })
            this.fetchList({
              limit: this.pagination.limit,
              offset: this.offsetComputed
            })
          }
        })
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss"></style>
