<template>
  <div class="connection-detail new-feedback-design">
    <div class="connection-detail__fixed">
      <div class="connection-detail-header title-row custom-card">
        <div class="main-title text-bold">
          <span>Обратная связь</span>
        </div>
        <div>
          <router-link :to="{ name: 'cabinetLearningConnectionIdComments' }">
            <d-button class="add-group-modal--btn" @click="openModal = !openModal" color="blue" text="Все комментарии"> </d-button>
          </router-link>
        </div>
      </div>
      <div class="connection-detail-stickers custom-card">
        <div class="connection-detail__tbtitle">
          <div class="connection-detail__tbtitle__number">№</div>
          <div class="connection-detail__tbtitle__question question">
            {{$t('teacherOffice.question')}}
          </div>
          <div
            class="connection-detail__tbtitle__variants "
            v-dragscroll
            ref="variants"
            @scroll="scrollVariants"
            @mouseover="changeOnStatisticsScroll"
          >
            <div
              class="connection-detail-stickers__percent answer"
              v-for="(_, index) in variantsCount"
              :key="index"
              :style="`width: calc(100% / ${variantsCount}`"
            >
              Ответ {{ String.fromCharCode(65 + index) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" custom-card  pt-0 connection-detail__stbox new-feedback">
      <div class="connection-detail__stbox__scrollbox">
        <div class="connection-detail-item" v-for="(item, index) in detail" :key="item.id">
          <div class="connection-detail-item__number">
            <div class="connection-detail-item__number__circle" :class="dashedLine(index)">
              {{ index + 1 }}
            </div>
          </div>
          <div class="connection-detail-item__bborder border-est">
            <div class="connection-detail-item__question question">
              {{ $nt(item.text) || "Не заполненно" }}
            </div>
            <div
              v-dragscroll
              class="connection-detail-item__statistics"
              @mouseover="offOnStatisticsScroll(index)"
              @scroll="scrollStatistics(index)"
              ref="statistics"
            >
              <div class="answer" v-for="(el, i) in item.answers" :key="i" :style="`width: calc(100% / ${variantsCount}`">
                <div class="connection-detail-item__percent" v-if="el.id">
                  <d-progress :displayPercent="true" :percent="el.percentage"></d-progress>
                  <div class="connection-detail-item__percent--complexity">
                    {{ $nt(el.text) || "Не заполненно" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import { dragscroll } from "vue-dragscroll"
export default {
  components: {
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-progress": () => import("@/components/RoundProgressBar")
  },
  directives: {
    dragscroll
  },
  data: () => ({
    loading: false,
    detail: {},
    start_count: null,
    openModal: false,
    onStatisticsScroll: true,
    variantsCount: []
  }),
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  computed: {
    dashedLine() {
      return function(index) {
        return index == 0
          ? "connection-detail-item__number__circle_topnone"
          : index == this.detail.length - 1
          ? "connection-detail-item__number__circle_bottomnone"
          : ""
      }
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getStatisticsList"]),
    fetchData() {
      this.loading = true
      this.getStatisticsList({ id: this.$route.params.id }).then(res => {
        this.detail = res.results
        this.detail.forEach(item => {
          if (this.variantsCount < item.answers.length) {
            this.variantsCount = item.answers.length
          }
        })
        this.detail.forEach(item => {
          for (let i = item.answers.length; i <= this.variantsCount - 1; i++) {
            item.answers.push({})
          }
        })
        console.log(this.detail)
        this.loading = false
      })
    },
    scrollVariants(e) {
      if (this.onStatisticsScroll) {
        this.$refs.statistics.forEach(item => {
          item.scrollLeft = e.target.scrollLeft
        })
      }
    },
    scrollStatistics(index) {
      this.$refs.variants.scrollLeft = this.$refs.statistics[index].scrollLeft
    },
    changeOnStatisticsScroll() {
      this.onStatisticsScroll = true
    },

    offOnStatisticsScroll(index) {
      this.$refs.variants.scrollLeft = this.$refs.statistics[index].scrollLeft
      this.onStatisticsScroll = false
    }
  }
}
</script>

<style lang="scss">
.new-feedback-design {
  .connection-detail-header.custom-card {
    justify-content: space-between;
  }
}

.new-feedback {
  margin-top: 20px;
  position: relative;

  .connection-detail-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    overflow: hidden;
    margin: 0;

    .border-est {
      border-bottom: 1px dashed #e2e3e5;
    }

    &__question {
      padding-left: 10px;
      border: none;
    }

    &__number {
      flex: none;
      width: 60px;
      line-height: 2;
      //padding: 10px 0;
      position: relative;
      color: $blue;
      //margin-right: 20px;
      @mixin dashedLine {
        position: absolute;
        content: "";
        bottom: calc(100% + 2px);
        display: block;
        height: 100px;
        border: 1px dashed $lightgrey;
      }
      &__circle {
        position: relative;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 2px solid $dashedBorder;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          @include dashedLine;
        }
        &:after {
          @include dashedLine;
          bottom: unset;
          top: calc(100% + 2px);
        }
        &_topnone {
          &:before {
            display: none;
          }
        }
        &_bottomnone {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
</style>
