<template>
  <div class="feedback-detail">
    <div class="columns">
      <div class="column is-9">
        <div class="custom-card feedback-detail__left">
          <div class="title-row group-members__header">
            <div class="main-title text-bold">
              {{ title }}
            </div>
            <div class="group-members__header--search">
              <d-select
                placeholder="Все группы"
                class="rounded"
                :options="optionsGroup"
                no-title
                label="name"
                v-model="id"
                :reduce="item => item.id"
                @change="initFilter"
              />
            </div>
          </div>
          <div class="group-members__body">
            <d-lists :loading="loading" :len="list && list.length">
              <template #content>
                <router-link
                  :to="{
                    name: 'cabinetLearningConnectionIdSubId',
                    params: { subId: item.id }
                  }"
                  v-for="(item, index) in list"
                  :key="index"
                >
                  <div class="columns">
                    <div class="column group-members__body--avatar">
                      <d-avatar :item="item" width="40" height="40" cover></d-avatar>
                    </div>
                    <div class="column">{{ name(item) }}</div>
                  </div>
                </router-link>
              </template>
            </d-lists>
            <d-pagination @change="fetchData" v-model="pagination.page" :total="count" :limit="pagination.limit" />
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="feedback-detail__right">
          <div class="feedback-detail__right__top custom-card">
            <div class="feedback-detail__right__top--title">По курсу</div>
            <d-progress-bar
              diameter="130"
              initial-color="#27ae60"
              :initial-total-steps="mainCounOfStudents"
              :initial-steps="bar.course_responded"
            ></d-progress-bar>
            <div class="feedback-detail__right__top--data">
              <div class="feedback-detail__right__top--data__item">
                <d-badge size="20" green2 no-text />

                Количество опрошеных:
                {{ bar && bar.course_responded }}
              </div>
              <div class="feedback-detail__right__top--data__item">
                <d-badge size="20" grey no-text />

                Не опрошеные: {{ bar && bar.course_not_responded }}
              </div>
            </div>
            <div class="feedback-detail__right__top--bottom">
              <router-link :to="{ name: 'cabinetLearningConnectionIdGeneral' }">
                <d-btn :loading="false" text="Общая статистика по курсу" color="blue2" />
              </router-link>
            </div>
          </div>
          <div class="feedback-detail__right__bottom custom-card">
            <div class="feedback-detail__right__bottom--title">
              По дисциплинам
            </div>
            <d-progress-bar
              diameter="130"
              initial-color="#E19D14"
              :initial-total-steps="computedTotalModuleAnswers"
              :initial-steps="computedModuleAnswered"
              display-percent
            ></d-progress-bar>
            <div class="feedback-detail__right__bottom--data">
              <div class="feedback-detail__right__bottom--data__item">
                <d-badge size="20" orange no-text />

                Активность: {{ computedModuleAnswered }} %
              </div>
              <div class="feedback-detail__right__bottom--data__item">
                <d-badge size="20" grey no-text />

                Пропуск обратной связи: {{ computedModuleMissedAnswers }} %
              </div>
            </div>
            <div class="feedback-detail__right__bottom--bottom">
              <!-- <d-btn
                :loading="false"
                text="Общая статистика по дисциплинам"
                color="blue2"
              /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DProgressBar from "@/components/RoundProgressBar"
import DBadge from "@/components/Badge"
import DBtn from "@/components/buttons/loaderButton"
import { mapState, mapActions } from "vuex"
import Pagination from "@/components/PaginationInput"
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-avatar": () => import("@/components/Avatar"),
    "d-select": () => import("@/components/inputs/select"),
    DProgressBar,
    DBadge,
    DBtn,
    "d-pagination": Pagination
  },

  data() {
    return {
      id: null,
      list: [],
      bar: {},
      title: "",
      loading: false,
      pagination: {
        page: 1,
        limit: 10
      },
      optionsGroup: [
        {
          name: "Все группы",
          id: 1
        }
      ]
    }
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  computed: {
    ...mapState({
      count: state => state.learningConnection.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    mainCounOfStudents() {
      return +(this.bar.course_not_responded + this.bar.course_responded)
    },
    countOfStudents() {
      return this.list.length > 0 ? this.list.length : 0
    },
    computedTotalModuleAnswers() {
      return this.bar.module_course_responded + this.bar.module_course_not_responded
    },
    computedModuleAnswered() {
      return Math.round(((this.bar.module_course_responded * 100) / this.computedTotalModuleAnswers) * 10) / 10
    },
    computedModuleMissedAnswers() {
      return Math.round(((this.bar.module_course_not_responded * 100) / this.computedTotalModuleAnswers) * 10) / 10
    },
    name() {
      return function(item) {
        let name = ""
        if (item.first_name || item.second_name || item.last_name) {
          name = `${item.first_name} ${item.second_name} ${item.last_name}`
        }
        return name || "Не заполнено"
      }
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getListStudent", "getGroupList"]),
    fetchData() {
      this.loading = true
      this.getGroupList({ id: this.$route.params.id }).then(res => (this.optionsGroup = res))
      this.getListStudent({
        id: this.$route.params.id,
        params: {
          offset: this.offsetComputed,
          limit: this.pagination.limit
        }
      }).then(res => {
        this.list = res.results

        this.title = this.$route.query.name
        this.bar = res.statistics

        this.loading = false
      })
    },

    initFilter() {
      if (this.id != 1) {
        this.getListStudent({
          id: this.$route.params.id,
          params: {
            group: this.id
          }
        }).then(res => {
          this.list = res.results
          this.title = this.$route.query.name
          this.bar = res.statistics
          this.loading = false
        })
      }
    }
  }
}
</script>
<style lang="scss">
.feedback-detail {
  flex: 1;
  .d-pagination {
    margin-top: auto !important;
    margin-left: auto !important;
  }
  .group-members__body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 46px);
    a {
      color: $text-color;
    }
  }

  & > .columns {
    height: 100%;
  }

  &__left,
  &__right {
    height: 100%;
  }

  &__left {
    .group-members__header--search {
      & > .rounded {
        min-width: 200px;

        .vs__actions {
          padding-top: 0;
        }

        .vs__search {
          margin-top: 0;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top,
    &__bottom {
      flex: none;
      height: 48.5%;
      padding: 20px 28px;

      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;

      &--title {
        font-size: 18px;
      }

      &--data {
        align-self: baseline;
        width: 100%;
        border-top: 1px solid $lightgrey;

        &__item {
          line-height: 2;
          display: flex;
          align-items: center;
          color: $lightgrey;

          &:first-child {
            padding-top: 10px;
          }

          .badge {
            margin-right: 20px;
          }
        }
      }

      &--bottom {
        width: 100%;
        button {
          width: 100%;
          text-align: center;
        }
      }
    }

    // &__top {
    //   // margin-bottom: 0.75rem;
    // }

    // &__bottom {
    //   // margin-top: 0.75rem;
    // }
  }
}
</style>
