<template>
  <div class="comments">
    <div class="comments__blocks" v-if="list">
      <h3 class="comments__title pb-3">Комментарии:</h3>
      <div class="comments__blocks__mesbox pr-3" @scroll="getNextComments">
        <div class="columns" v-for="item in list" :key="item.id">
          <div class="column is-1 comments__blocks__ava">
            <d-avatar :item="item.student" width="54" height="54" cover />
          </div>
          <div class="column is-8">
            <div class="comments__blocks__message">
              <h5>
                {{ item.student.fullname }}
              </h5>
              {{ item.text }}
              <span>
                {{ $moment(item.created_at).format("HH:mm") }}
              </span>
            </div>
          </div>
        </div>
        <d-spinner class="comments__blocks__spinner" v-if="getNextLoader && !noComments" />
        <div v-else class="comments__blocks__end">
          Комментариев больше нет...
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex"
import spinner from "@/components/loaders/spinner"

export default {
  components: {
    "d-avatar": () => import("@/components/Avatar"),
    "d-spinner": spinner
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10
      },
      list: [],
      name: "",
      getNextLoader: false,
      height: 42,
      noComments: false
    }
  },
  computed: {
    ...mapState({
      count: state => state.learningConnection.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getAllComments"]),
    fullname(list) {
      list.forEach(item => {
        item.student.fullname =
          item.student.first_name || item.student.second_name || item.student.last_name
            ? `${item.student.first_name} ${item.student.second_name} ${item.student.last_name}`
            : "Неизвестно"
      })
    },
    getNextComments(e) {
      if (e.target.clientHeight == e.target.scrollHeight - e.target.scrollTop) {
        this.getNextLoader = true
        this.pagination.page++
        if (!this.noComments) {
          this.fetchData()
        }
      }
    },
    fetchData() {
      this.loading = true
      this.getAllComments({
        id: this.$route.params.id,
        params: {
          limit: this.pagination.limit,
          offset: this.offsetComputed
        }
      }).then(res => {
        if (res && res.data) {
          let resp = res.data.results
          if (!this.list.length) {
            this.list = resp
            this.fullname(this.list)
            this.loading = false
          } else if (res.data.results.length) {
            this.fullname(resp)
            resp.forEach(item => {
              this.list.push(item)
            })
            this.getNextLoader = false
          } else {
            this.noComments = true
          }
        }
      })
    }
  }
}
</script>
<style lang="scss">
.comments {
  width: 100%;
  height: calc(100vh - 150px);
  @mixin block {
    border-radius: 4px;
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    margin-bottom: 20px;
  }
  &__ava {
    @include block;
    display: flex;
    align-items: center;
    &__name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 15px;
    }
    &__img {
      width: 40px;
      min-width: 40px;
      height: 40px;
      .avatar-block {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__blocks {
    @include block;
    height: 100%;
    margin-bottom: 0;
    &__write {
      position: relative;
      padding: 8px 11px;
      max-height: 112px;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border: 1px solid #dce2eb;
      border-radius: 8px;
      background-color: #ffffff;
      overflow: hidden;
      .textarea {
        height: 100%;
        width: 100%;
        padding: 0;
        background: transparent;
        box-shadow: none !important;
        &:focus {
          border: none;
        }
      }
      .control {
        height: 100%;
      }
      .field {
        height: 100%;
        width: 100%;
        margin-bottom: 0;
      }
    }
    &__sendbtn {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 22px;
      height: 18px;
    }
    &__icon {
      fill: #bdc7d8;
      width: 100%;
      height: 100%;
    }
    &__mesbox {
      height: calc(100% - 55.5px);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
    &__spinner {
      margin: 0 auto;
    }
    &__end {
      text-align: center;
      font-size: 25px;
      font-weight: 600;
    }
    &__ava {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 0;
    }
    &__message {
      position: relative;
      background-color: #f6f6f6;
      padding: 15px;
      border-radius: 10px;
      border-bottom-left-radius: unset;
      width: 60%;
      margin-left: 5px;
      span {
        display: block;
        color: #bdc7d8;
        font-size: 13px;
        font-weight: 300;
        line-height: 10px;
        text-align: right;
        margin-top: 5px;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: -3.5px;
        border-top: 6px solid #f6f6f6;
        border-left: 6px solid #f6f6f6;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        transform: rotate(45deg);
      }
    }
  }
  &__title {
    color: #275395 !important;
    font-size: 19px !important;
    font-weight: 600 !important;
  }
}
</style>
