<template>
  <div class="page-section">
    <div class="register">
      <div class="register__header">
        <div class="register__title">
          Ведомость
        </div>
        <div class="register__search right">
          <d-select class="whitout_close grey-border width-230 height-min" :options="options" label="title" v-model="id" :reduce="item => item.id" />
        </div>
      </div>
      <div class="register__body">
        <d-lists :loading="loading" :len="list.length">
          <template #header>
            <div class="columns">
              <div class="column is-7">
                <div class="teacher-register__list">
                  <div class="">
                    №
                  </div>
                  <div class="">
                    {{$t('studyDepartment.module')}}
                  </div>
                </div>
              </div>
              <div class="column is-5">
                <div class="register__theader__title">
                  {{$t('teacherOffice.group')}}
                </div>
              </div>
            </div>
          </template>

          <template #content>
            <router-link
              tag="div"
              class="columns is-vcentered"
              v-for="(item, index) in list"
              :key="item.id"
              :to="{
                name: 'cabinetTeachersRegisterId',
                params: { id: item.id }
              }"
            >
              <div class="column is-7 ">
                <div class="teacher-register__list">
                  <div class="">{{ index + 1 }}</div>
                  <div class="">
                    {{ item.module_course && $nt(item.module_course.name) }}
                  </div>
                </div>
              </div>
              <div class="column is-5 ">
                {{ item.group && item.group.name }}
              </div>
            </router-link>
            <!-- <div class="columns" v-for="item in list" :key="item + 32">
              <div class="column">
                <router-link
                  :to="{
                    name: 'cabinetTeachersRegisterId',
                    params: { id: item },
                  }"
                  tag="div"
                  >Группа №223 (Верховный суд)
                </router-link>
              </div>
            </div> -->
          </template>
        </d-lists>
      </div>
      <div class="register__footer right">
        <d-pagination @change="getList" v-model="pagination.page" :total="pagination.total" :limit="pagination.limit" />
      </div>
    </div>
    <div class="right-aside">
      <d-calendar-widget />
      <div class="aside-notes">
        <div class="aside-notes__header">
          {{$t('teacherOffice.note')}}
        </div>
        <div class="aside-notes__body">
          <p class="aside-notes__item">
            Проверить ведомость 325 группы по предмету проф. переподготовка
          </p>
          <div class="aside-notes__date"><d-icon icon="calendar" class="size-1" /> 15.02.2020</div>
        </div>
        <div class="aside-notes__footer">
          <d-button :text="$t('studyDepartment.delete')" size="small" rounded class="blue" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-select": () => import("@/components/inputs/select"),
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/Pagination"),
    "d-calendar-widget": () => import("@/components/calendar/calendar2"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-button": () => import("@/components/buttons/loaderButton")
    // "d-dropdown": () => import("@/components/Dropdown"),
    // "d-modal": () => import("@/components/Modal"),
  },
  data() {
    return {
      loading: false,
      pagination: {
        page: 1,
        limit: 10,
        total: null
      },
      list: [],
      id: 1,
      options: [
        {
          title: this.$t('teacherOffice.allAreas'),
          id: 1
        },
        {
          title: "Курс 1",
          id: 2
        },
        {
          title: "Курс 2",
          id: 3
        },
        {
          title: "Курс 3",
          id: 4
        }
      ]
    }
  },
  mounted() {
    this.getList()
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    getList() {
      this.loading = true
      let params = {
        offset: this.offsetComputed,
        limit: this.pagination.limit
      }

      this.$store
        .dispatch("teacherRegister/getModuleList", params)
        .then(data => {
          if (data && data.results) {
            this.list = data.results
            this.pagination.total = data.count
          } else {
            this.list = []
            this.pagination.total = null
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err", err)
          this.loading = true
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.teacher-register__list {
  display: flex;

  & > div:first-child {
    width: 30px;
    flex: none;
  }
}
.page-section {
  flex-direction: row !important;
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  .register {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    &__header {
      height: 50px;
      display: flex;
      align-items: center;
      .register__title {
        flex: 1;
        color: #1761aa;
        font-size: 18px;
        padding-left: 5px;
      }
      .register__search {
        flex: 1;
        display: flex;
      }
    }
    &__footer {
      margin-top: auto !important;
    }
  }
  .right-aside {
    padding: 0 0 0 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .aside-calendar {
      height: 290px;
      flex: 1;
    }
  }
}
</style>
