<template>
  <div class="page-section page-section_pnone">
    <div class="register">
      <div class="register__header">
        <div class="register__title">
          {{ $t("studyDepartment.groups") }}
        </div>
        <div class="register__search right">
          <d-select
            class="grey-border width-230 height-min no-overflow"
            :options="courseList"
            label="name"
            :placeholder="$t('studyDepartment.course')"
            ml
            v-model="course"
            @change="onSearch"
            :reduce="item => item.id"
          />
          <d-input
            :placeholder="$t('studyDepartment.search')"
            icon="search"
            alignIcon="right"
            class="register__search__input"
            v-model="search"
            @input="onSearch"
          />
        </div>
      </div>
      <div class="register__body">
        <d-lists dashed-header :loading="loading" :len="list.length">
          <template #header>
            <div class="columns">
              <div class="column is-7">
                <div class="register__theader__title">
                  <div class="register__theader__numb">
                    №
                  </div>
                  <div class="register__theader__text">
                    Название группы
                  </div>
                </div>
              </div>
              <div class="column is-5">
                <div class="register__theader__title">
                  {{ $t("studyDepartment.formOfEducation") }}
                </div>
              </div>
            </div>
          </template>

          <template #content>
            <router-link
              :to="{
                name: 'cabinetLearningRegisterId',
                params: { id: item.id }
              }"
              tag="div"
              class="columns is-vcentered"
              v-for="(item, index) in list"
              :key="item.id"
            >
              <div class="column is-7">
                <div class="register__content__groupname is-align-items-center">
                  <div class="register__content__numb">{{ index + 1 }}</div>
                  <div class="register__content__text">
                    {{ item.name }}
                  </div>
                </div>
              </div>
              <div class="column is-5">
                <div class="register__content__text">
                  {{ (item.course && item.course.name && item.course.course_type && $nt(item.course.course_type.name)) || "нет данных" }}
                </div>
              </div>
            </router-link>
          </template>
        </d-lists>
      </div>
      <div class="register__footer right">
        <d-pagination @change="getList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
      </div>
    </div>
  </div>
</template>

<script>
import input from "@/components/inputs/input"
import debounce from "lodash/debounce"

export default {
  components: {
    "d-select": () => import("@/components/inputs/select"),
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/Pagination"),
    // "d-calendar-widget": () => import("@/components/calendar/calendar2"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-button": () => import("@/components/buttons/loaderButton")
    // "d-dropdown": () => import("@/components/Dropdown"),
    // "d-modal": () => import("@/components/Modal"),
    "d-input": input
    // "d-list-wrapper": () => import("@/components/loaders/spinnerWrapper"),
  },
  data() {
    return {
      loading: false,
      pagination: {
        page: 1,
        limit: 10
      },
      count: null,
      id: 1,
      search: "",
      course: "",
      courseList: [],

      list: []
    }
  },
  mounted() {
    this.getList()
    this.getCourses()
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    getCourses() {
      this.$store
        .dispatch("learningRegister/getCourseList")
        .then(data => {
          if (data && data.results) {
            this.courseList = data.results
          }
        })
        .catch(err => {
          console.log("err", err)
        })
    },
    onSearch: debounce(function() {
      console.log("kirdi")
      this.getList()
    }, 600),
    getList() {
      this.loading = true
      let params = {
        offset: this.offsetComputed,
        limit: this.pagination.limit
      }
      if (this.search) params.search = this.search
      if (this.course) params.course = this.course

      this.$store
        .dispatch("learningRegister/getGroupList", params)
        .then(data => {
          if (data && data.results) {
            this.list = data.results
            this.count = data.count
          } else {
            this.list = []
            this.count = null
          }
          this.loading = false
        })
        .catch(err => {
          console.log("err", err)
          this.loading = true
        })
    }
  }
}
</script>

<style lang="scss">
.page-section {
  &_pnone {
    background-color: transparent !important;
    box-shadow: 0 0 !important;
    flex-direction: row !important;
    padding: 0 !important;
  }
  .register {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    &__title {
      font-weight: 600;
    }
    &__search {
      .select-title {
        margin: 0;
      }
      .input {
        height: 32px;
        width: 270px;
      }
      .vs__dropdown-toggle {
        height: 32px;
        width: 270px;
        margin-right: 30px;
      }
      .vs__selected {
        margin-top: 0;
      }
      .vs__actions {
        padding-top: 2px;
      }
      .icon {
        height: 100%;
      }
    }
    &__header {
      height: 50px;
      display: flex;
      align-items: center;
      .register__title {
        flex: 1;
        color: #1761aa;
        font-size: 18px;
        padding-left: 5px;
      }
      .register__search {
        flex: 1;
        display: flex;
      }
    }
    &__theader {
      &__title {
        display: flex;
      }
      &__numb {
        margin-right: 18px;
        margin-left: 10px;
      }
    }
    &__content {
      &__groupname {
        display: flex;
      }
      &__numb {
        margin-right: 28px;
        margin-left: 10px;
      }
    }
    &__footer {
      margin-top: auto !important;
    }
  }
  .right-aside {
    padding: 0 0 0 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .aside-calendar {
      height: 290px;
    }
  }
}
</style>
