<template>
  <div class="stateid">
    <div class="stateid__header">
      <h3 class="stateid__header__title">Уголовное судопроизводство</h3>
      <div class="stateid__header__btns">
        <d-btn text="Отправить запрос на получение данных" class="stateid__header__btn stateid__header__btn_red" @click="declineAction" />

        <d-btn text="Проверенно" class="stateid__header__btn green-btn" @click="acceptAction" />
      </div>
    </div>
    <div class="stateid__info">
      <h4 class="stateid__info__title">О себе</h4>
      <div class="stateid__info__fio">
        <div class="stateid__info__img">
          <img :src="user.image" alt="Ava" />
        </div>
        <div class="stateid__info__text">
          <div class="stateid__info__descr">
            <span>Фамилия:</span>
            <span>Имя:</span>
            <span>Отчество:</span>
          </div>
          <div class="stateid__info__descr">
            <span>{{ user.first_name }}</span>
            <span>{{ user.last_name }}</span>
            <span>{{ user.second_name }}</span>
          </div>
        </div>
        <div class="stateid__info__text">
          <div class="stateid__info__descr">
            <span>Дата рождения:</span>
            <span>Пол:</span>
            <span>Серия и номер паспорта:</span>
          </div>
          <div class="stateid__info__descr">
            <span>{{ user.birth_date }}</span>
            <span>{{ userGender }}</span>
            <span>{{ user.passport_number }}</span>
          </div>
        </div>
      </div>
      <div class="stateid__info__subinfo">
        <div class="stateid__info__subdescr">
          <span>Место рождения( область, село, город):</span>
          <span>Адрес местожительства по паспорту:</span>
          <span>Место проживания в настоящее время:</span>
          <span>Образование:</span>
          <span>Наименование ВУЗа:</span>
          <span>Специальность:</span>
          <span>Квалификация:</span>
          <span>Период обучения ВУЗа:</span>
          <span>Иностранный язык (изученный в ВУЗе):</span>
          <span>Язык обучения:</span>
          <span>{{ $t("studyDepartment.placeOfWork") }}:</span>
          <span>Адрес работы:</span>
          <span>
            Информация о прохождении службы в рядах Вооруженных сил РУз.:
          </span>
        </div>
        <div class="stateid__info__subdescr">
          <span>{{ user.birth_place }}</span>
          <span>
            {{ user.passport_address }}
          </span>
          <span>
            {{ user.living_address }}
          </span>
          <span>{{ user.education_job }}</span>
          <span>{{ user.university_name }}</span>
          <span>{{ user.specialization }}</span>
          <span>{{ user.qualification }}</span>

          <span>{{ user.university_study_start_year }} - {{ user.university_study_end_year }}</span>
          <span>{{ user.university_foreign_language }}</span>
          <span>{{ user.university_study_language }}</span>
          <span>{{ user.job_place }}</span>
          <span>{{ user.job_address }}</span>
          <span>{{ user.war_ticket_info }}</span>
        </div>
      </div>
    </div>
    <div class="stateid__parents">
      <div class="stateid__parents-block">
        <h4 class="stateid__info__title">Информация об отце</h4>
        <div class="stateid__parents-block__info">
          <div>
            <span>ФИО:</span>
            <span>Дата рождения:</span>
            <span>Место рождения:</span>
            <span>{{ $t("studyDepartment.placeOfWork") }}:</span>
            <span>Телефон:</span>
          </div>
          <div>
            <span>{{ user.father_info ? user.father_info.full_name : "" }}</span>
            <span>{{ user.father_info ? user.father_info.birth_date : "" }}</span>
            <span>{{ user.father_info ? user.father_info.birth_place : "" }}</span>
            <span>{{ user.father_info ? user.father_info.job_address : "" }}, {{ user.father_info ? user.father_info.job_place : "" }}</span>
            <span>{{ user.father_info ? user.father_info.phone_number : "" }}</span>
          </div>
        </div>
      </div>
      <div class="stateid__parents-block">
        <h4 class="stateid__info__title">Информация об матери</h4>
        <div class="stateid__parents-block__info">
          <div>
            <span>ФИО:</span>
            <span>Дата рождения:</span>
            <span>Место рождения:</span>
            <span>{{ $t("studyDepartment.placeOfWork") }}:</span>
            <span>Телефон:</span>
          </div>
          <div>
            <span>{{ user.mother_info ? user.mother_info.full_name : "" }}</span>
            <span>{{ user.mother_info ? user.mother_info.birth_date : "" }}</span>
            <span>{{ user.mother_info ? user.mother_info.birth_place : "" }}</span>
            <span>{{ user.mother_info ? user.mother_info.job_address : "" }}, {{ user.mother_info ? user.mother_info.job_place : "" }}</span>
            <span>{{ user.mother_info ? user.mother_info.phone_number : "" }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="stateid__additional">
      <h4 class="stateid__info__title">Другая информация:</h4>
    </div>
  </div>
</template>
<script>
import loaderButton from "@/components/buttons/loaderButton"

import { mapState, mapActions } from "vuex"

export default {
  components: {
    "d-btn": loaderButton
  },
  computed: {
    ...mapState({
      user: state => state.commissionStatements.userFields
    }),
    userGender() {
      return this.user.sex == 1 ? "Мужской" : this.user.sex == 2 ? "Женский" : null
    }
  },
  methods: {
    ...mapActions("commissionStatements", ["getApplicantsDetail", "approveCreate", "declineCreate"]),
    async acceptAction() {
      if (this.$route.params.id) {
        try {
          await this.approveCreate(this.$route.params.id)

          console.log("accept done")
          this.$router.push({ name: "cabinetCommissionStatements" })
        } catch (err) {
          console.error(err)
        }
      }
    },
    async declineAction() {
      if (this.$route.params.id) {
        try {
          await this.declineCreate(this.$route.params.id)

          console.log("decline done")
          this.$router.push({ name: "cabinetCommissionStatements" })
        } catch (err) {
          console.error(err)
        }
      }
    }
  },
  async mounted() {
    await this.getApplicantsDetail(this.$route.params.id)
  }
}
</script>
