<template>
  <div class="page-section teachers">
    <!-- header -->
    <div class="teachers__header">
      <div class="columns">
        <div class="column is-9">
          <div class="teachers__header__title">Ресурсы</div>
        </div>
        <div class="column is-3">
          <div class="teacher__header__input">
            <!-- <d-input
              icon="search"
              placeholder="Поиск"
              size="small"
              type="text"
              alignIcon="right"
              v-model="searchInput"
              @input="searchAction"
            /> -->
          </div>
        </div>
      </div>
    </div>
    <!-- list -->
    <div class="teachers__list">
      <d-lists :loading="loading" :len="list.length" no-cursor-pointer>
        <template #header>
          <div class="columns teachers__list__header px-0">
            <div class="column is-6 teachers__list__fio">{{ $t("studyDepartment.names") }}</div>
            <div class="column is-3 teachers__list__fio">{{ $t("studyDepartment.type") }}</div>
            <div class="column is-3 has-text-right right">
              <button class="add-btn icon-btn" @click=";(modalSeen = true) && (modalMode = 'create')">
                <d-icon-wrapper icon="accordion_plus" />
                <span> {{ $t("studyDepartment.add") }} </span>
              </button>
            </div>
          </div>
        </template>

        <template #content>
          <div class="teachers__list__items">
            <div class="column teachers__list__item is-gapless" v-for="item in list" :key="item.id">
              <div class="columns">
                <div class="column is-6 teachers__list__ava">
                  {{ item.name }}
                </div>
                <div class="column is-5 teachers__list__ava">
                  {{ item && item.type && item.type.name }}
                </div>
                <div class="column right mr-3">
                  <d-dropdown up>
                    <template #body>
                      <d-icon icon="more" style="width: 30px; margin-top: 5px" class="custom-dropdown__trigger" @click="open = !open" />
                    </template>
                    <template #dropdown-menu>
                      <li @click="onDeleteClick(item)">
                        <a href="#"> <d-icon icon="bin" class="is-blue size-1" /> {{ $t("studyDepartment.delete") }} </a>
                      </li>
                      <li @click="onEditClick(item)">
                        <a href="#">
                          <d-icon icon="teacher-pen" class="is-blue size-1" />
                          {{ $t("studyDepartment.edit") }}
                        </a>
                      </li>
                    </template>
                  </d-dropdown>
                </div>
              </div>
            </div>
          </div>
        </template>
      </d-lists>
    </div>
    <!-- pagination -->
    <div class="list__pagination">
      <d-pagination-input @change="getList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
    </div>

    <!-- Modal -->
    <d-modal v-show="modalSeen" size="small" :title="$t('studyDepartment.createResource')" @closemodal="modalSeen = false">
      <!-- Create mode -->
      <div class="">
        <div class="tmodal__title mt-2">{{ $t("studyDepartment.names") }}</div>
        <d-input :placeholder="$t('teacherOffice.enterTheText')" class="grey" rounded v-model="form.name" />
        <d-select
          :placeholder="$t('studyDepartment.select')"
          class="grey-2 rounded"
          :title="$t('studyDepartment.type')"
          :options="resourceTypeList"
          label="name"
          v-model="form.type"
          :reduce="(item) => item.id"
        ></d-select>
        <div class="tmodal__btns">
          <d-btn rounded color="grey" :text="$t('studyDepartment.cancel')" :disabled="pending" @click="modalSeen = false" />
          <d-btn
            class="add-group-modal--btn"
            color="blue"
            rounded
            :disabled="fieldsNotFilled || pending"
            :text="$t('studyDepartment.save')"
            @click="createOrUpdate"
          />
        </div>
      </div>
    </d-modal>
    <d-modal v-show="deleteConfirm" size="xsmall" :title="$t('studyDepartment.createResource')" @closemodal="deleteConfirm = false">
      <div class="">
        <div class="tmodal__title mt-2">{{ $t("studyDepartment.delete") }} {{ deleteItem.name }}?</div>
        <div class="tmodal__btns">
          <d-btn rounded color="grey" text="Нет" :disabled="pending" @click="deleteConfirm = false" />
          <d-btn class="add-group-modal--btn" color="blue" rounded :disabled="pending" text="Да" @click="deleteResource(deleteItem.id)" />
        </div>
      </div>
    </d-modal>
  </div>
</template>
<script>
import input from "@/components/inputs/input"

import Modal from "@/components/Modal"
import iconWrapper from "@/components/icons/iconWrapper"

export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-btn": () => import("@/components/buttons/loaderButton"),
    "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    "d-input": input,
    "d-pagination-input": () => import("@/components/PaginationInput"),
    "d-select": () => import("@/components/inputs/select"),

    "d-icon": iconWrapper,
    "d-modal": Modal,
    "d-dropdown": () => import("@/components/Dropdown")
  },
  watch: {
    modalSeen(newValue) {
      if (!newValue)
        this.form = {
          id: null,
          name: "",
          type: null
        }
    }
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10
      },
      loading: false,
      pending: false,
      open: false,

      form: {
        id: null,
        name: "",
        type: null
      },

      modalSeen: false,
      list: [],
      resourceTypeList: [],
      count: null,

      deleteItem: {},
      deleteConfirm: false
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    fieldsNotFilled() {
      return Object.keys(this.form).some((key) => !["id"].includes(key) && !this.form[key])
    }
  },
  mounted() {
    this.getList()
    this.getResourceTypeList()
  },
  methods: {
    onDeleteClick(item) {
      this.deleteItem = item
      this.deleteConfirm = true
    },
    onEditClick(item) {
      Object.keys(this.form).forEach((key) => {
        if (item[key]) this.form[key] = key == "type" ? item[key].id : item[key]
      })
      this.modalSeen = true
    },
    createOrUpdate() {
      this.pending = true
      this.$store
        .dispatch("learningResources/createOrUpdate", this.form)
        .then((res) => {
          if (res && res.data) {
            this.modalSeen = false
            this.getList()
          }
          this.pending = false
        })
        .catch((err) => {
          this.pending = false
          console.log("err", err)
        })
    },

    getResourceTypeList() {
      this.$store
        .dispatch("learningResources/getResourceTypeList")
        .then((data) => {
          if (data && data.results) {
            this.resourceTypeList = data.results
          }
        })
        .catch((err) => {
          console.log("err", err)
        })
    },

    getList() {
      this.loading = true
      this.$store
        .dispatch("learningResources/getList", {
          offset: this.offsetComputed,
          limit: this.pagination.limit
        })
        .then((data) => {
          if (data && data.results) {
            this.list = data.results
            this.count = data.count
          }
          this.loading = false
        })
        .catch((err) => {
          console.log("err", err)
          this.loading = true
        })
    },
    deleteResource(id) {
      this.pending = true
      this.$store
        .dispatch("learningResources/deleteResources", id)
        .then((res) => {
          console.log("Delete res", res)
          if (res && res.status == 204) {
            this.pending = false
            this.deleteConfirm = false
            this.deleteItem = {}
            this.getList()
          }
        })
        .catch((err) => {
          console.log("err", err)
          this.pending = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

.tmodal {
  &__scroll {
    width: 100%;
    max-height: 65vh;
    overflow-y: auto;
    padding-right: 5px;
    overflow-x: hidden;
  }
  &__title {
    color: $text-color;
    margin-bottom: 9px;
    font-size: 17px;
    font-weight: 400;
  }
  &__upload {
    width: 100%;
    height: 34px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    background-color: #f4f5f8;
    cursor: pointer;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    border: none;
    &:active {
      background: $grey;
      color: #f4f5f8;
      svg {
        path {
          fill: #f4f5f8;
        }
      }
    }
  }
  &__upload + input {
    display: none;
  }
  .modal-window {
    width: 500px !important;
  }
  .modal-window__body {
    padding: 0 50px 44px 50px;
  }
  .modal-header__title {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  .field {
    margin-bottom: 28px;
  }
  .textarea {
    outline: none;
    box-shadow: unset !important;
  }
  .date-selector {
    margin: 0;
    width: 100%;
    .column {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .input {
    padding-left: 16px !important;
    padding-right: 16px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background-color: #f2f3f6 !important;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 9px;
    box-shadow: unset;
    &::-moz-placeholder {
      color: $grey;
    }
    &::-webkit-input-placeholder {
      color: $grey;
    }
    &::-ms-input-placeholder {
      color: $grey;
    }
  }
  .custom-select {
    cursor: pointer;
    select {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .v-select {
    margin-bottom: 28px;
  }
  .vs__dropdown-toggle {
    background-color: #f4f5f8;
  }
  .vs__search {
    margin-top: 0;
  }
  .vs__selected {
    margin-top: 0;
  }
  .vs__actions {
    display: flex;
    align-items: center;
    padding-top: 0;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }
}
</style>
