<template>
  <div class="request">
    <div class="request__block" v-for="(item, index) in tasks" :key="index">
      <h3 class="stateid__header__title">{{ item.mainTitle }}</h3>
      <div class="request__block__item" v-for="(item, index) in item.infoBox" :key="index" @click="chooseTask(item)">
        <div class="tasks-prog__item__link">
          <span>{{ item.title }}</span>
          <span>{{ item.info }}</span>
          <span class="checkbox" :class="{ checkbox_active: item.selected }">
            <img v-if="item.selected" src="@/assets/images/check_tasks.png" alt="" />
          </span>
        </div>
      </div>
    </div>
    <div class="request__save">
      <div class="request__save__text">Выберите дополнительные/не верные дынные от заявителя</div>
      <d-btn :text="$t('studyDepartment.save')" class="request__save__btn" />
    </div>
  </div>
</template>
<script>
import loaderButton from "@/components/buttons/loaderButton"

export default {
  components: {
    "d-btn": loaderButton
  },
  data() {
    return {
      tasks: [
        {
          mainTitle: "О себе",
          infoBox: [
            {
              title: " Фамилия:",
              info: "Алимов",
              selected: false
            },
            {
              title: " Имя:",
              info: "Джахонгир",
              selected: false
            },
            {
              title: "Отчество:",
              info: "Улугбекович",
              selected: false
            },
            {
              title: " Дата рождения:",
              info: "25.07.1993",
              selected: false
            },
            {
              title: "Пол:",
              info: "Мужской",
              selected: false
            },
            {
              title: "Серия и номер паспорта:",
              info: "BC 1254445",
              selected: false
            },
            {
              title: "Место рождения( область, село, город):",
              info: "г. Ташкент",
              selected: false
            },
            {
              title: "Адрес местожительства по паспорту:",
              info: "Ташкент, Юнусабадский район, улица Ахмад Дониш, дом 3, кв. 25",
              selected: false
            },
            {
              title: "Место проживания в настоящее время:",
              info: "Ташкент, Юнусабадский район, улица Ахмад Дониш, дом 3, кв. 25",
              selected: false
            },
            {
              title: "Образование:",
              info: "Судья",
              selected: false
            },
            {
              title: "Наименование ВУЗа:",
              info: "Ташкентский Государственный Юридический Университет",
              selected: false
            },
            {
              title: "Специальность:",
              info: "",
              selected: false
            },
            {
              title: "Квалификация:",
              info: "",
              selected: false
            },
            {
              title: "Период обучения ВУЗа:",
              info: "",
              selected: false
            },
            {
              title: "Иностранный язык (изученный в ВУЗе):",
              info: "Английский",
              selected: false
            },
            {
              title: "Язык обучения:",
              info: "кириллица",
              selected: false
            },
            {
              title: this.$t("studyDepartment.placeOfWork"),
              info: "",
              selected: false
            },
            {
              title: "Адрес работы:",
              info: "",
              selected: false
            }
          ]
        },
        {
          mainTitle: "Информация об отце",
          infoBox: [
            {
              title: "ФИО:",
              info: "Алимов Улугбек Уткирович",
              selected: false
            },
            {
              title: "Дата рождения:",
              info: "08.05.1968",
              selected: false
            },
            {
              title: "Место рождения:",
              info: "г. Ташкент",
              selected: false
            },
            {
              title: this.$t("studyDepartment.placeOfWork"),
              info: 'г. Ташкент, Яшнабадский район, ООО "Orient"',
              selected: false
            },
            {
              title: "Телефон:",
              info: "+ 998 94 884 55 55",
              selected: false
            }
          ]
        },
        {
          mainTitle: "Информация о матери",
          infoBox: [
            {
              title: "ФИО:",
              info: "Алимова Зульфия Ходжакбаровна",
              selected: false
            },
            {
              title: "Дата рождения:",
              info: "08.05.1970",
              selected: false
            },
            {
              title: "Место рождения:",
              info: "г. Ташкент",
              selected: false
            },
            {
              title: this.$t("studyDepartment.placeOfWork"),
              info: 'г. Ташкент, Яшнабадский район, ООО "Orient"',
              selected: false
            },
            {
              title: "Телефон:",
              info: "+ 998 97 454 44 44",
              selected: false
            }
          ]
        },
        {
          mainTitle: "Другая информация:",
          infoBox: [
            {
              title: "Другая информация:",
              info: "",
              selected: false
            }
          ]
        }
      ]
    }
  },
  methods: {
    chooseTask(item) {
      // if ((this.tasks[index].selected = true)) {
      //   this.tasks[index].selected = false;
      // }
      if (item.selected === false) {
        item.selected = true
      } else {
        item.selected = false
      }
    }
  }
}
</script>
