<template>
  <div class="attendance">
    <div class="attendance-prog">
      <div class="attendance-prog__header">
        <div class="attendance-prog__title">
          <strong>
            Посещаемость
          </strong>
        </div>
        <div class="attendance__hero mt-5">
          <div class="columns is-vcentered">
            <div class="column">
              <div>
                <span>{{ $t("studyDepartment.course") }}:</span>
                {{ (data && data.course && data.course.name && $nt(data.course.name)) || "нет данных" }}
              </div>
            </div>
            <div class="column">
              <div>
                <span>Дата начала обучения:</span>
                {{ startDate || "" }}
              </div>
            </div>
            <div class="column attendance__last">
              <div class=" attendance__last__block">
                <span class="fl-1">
                  Начало периода:
                </span>
                <span class="register-date from-right">
                  <d-date v-model="startDate" id="start" week2 />
                </span>
                <!-- <span class="grey-badge">{{$moment(data.events[0].date).format("DD-MM-YYYY")}}</span> -->
              </div>
            </div>
          </div>

          <div class="columns is-vcentered">
            <div class="column">
              <div>
                <span>{{ $t("studyDepartment.formOfEducation") }}:</span>
                {{
                  (data && data.course && data.course.course_type && data.course.course_type.name && $nt(data.course.course_type.name)) ||
                    "нет данных"
                }}
              </div>
            </div>
            <div class="column">
              <div>
                <span>Дата окончания обучения:</span>
                {{ endDate || "" }}
              </div>
            </div>
            <div class="column attendance__last">
              <div class="attendance__last__block">
                <span class="fl-1">
                  Конец периода:
                </span>
                <span class="register-date from-right">
                  <d-date v-model="endDate" id="end" today />
                </span>
                <!-- <span class="grey-badge ml-4">{{$moment(data.events[data.events.length - 1].date).format("DD-MM-YYYY")}}</span> -->
              </div>
            </div>
          </div>
          <div class="columns attendance__table">
            <div class="column is-full">
              <!-- <d-attend-table /> -->
              <d-list-wrapper :loading="loading" :len="data.students && data.students.length">
                <d-attend-table :list="data.students" :events="this.data.events" attendance />
              </d-list-wrapper>
            </div>
          </div>
        </div>
      </div>
      <div class="attendance-prog__body"></div>
    </div>
  </div>
</template>

<script>
import AttendTable from "@/components/tables/AttendTable"

export default {
  components: {
    // "d-input": () => import("@/components/inputs/input"),
    // "d-lists": () => import("@/components/Lists"),
    // "d-pagination": () => import("@/components/Pagination"),
    // "d-select": () => import("@/components/inputs/select"),
    "d-attend-table": AttendTable,
    "d-list-wrapper": () => import("@/components/loaders/spinnerWrapper"),
    "d-date": () => import("@/components/calendar/calendar4")
  },
  data() {
    return {
      filterDate: {
        start: "",
        end: ""
      },
      endDate: "",
      startDate: "",
      id: 1,
      loading: false,
      options: [
        {
          title: this.$t("studyDepartment.allCourses"),
          id: 1
        },
        {
          title: "Курс 1",
          id: 2
        },
        {
          title: "Курс 2",
          id: 3
        },
        {
          title: "Курс 3",
          id: 4
        }
      ],
      pagination: {
        page: 1,
        total: 123
      },
      data: {},
      teacher: {},
      params: {}
    }
  },
  watch: {
    startDate() {
      this.getList()
    },
    endDate() {
      this.getList()
    }
  },
  computed: {
    // filteredDates() {
    //   // if()
    //   return this.data.events && this.data.events.length
    //     ? ( this.filterDate.start
    //       ? ( this.filterDate.end
    //         ? ( this.filterDate.start <= this.filterDate.end
    //           ? this.data.events.slice(
    //               this.data.events.findIndex(elem => elem.date >= this.filterDate.start),
    //               this.data.events.length - this.data.events.slice().reverse().findIndex(elem => elem.date <= this.filterDate.end)
    //             )
    //           : [])
    //         : this.data.events.slice(this.data.events.findIndex(elem => elem.date >= this.filterDate.start)) )
    //       : (this.filterDate.end
    //         ? this.data.events.slice(0, this.data.events.length - this.data.events.slice().reverse().findIndex(elem => elem.date <= this.filterDate.end))
    //         : this.data.events ) )
    //     : []
    // }
  },
  mounted() {
    this.endDate = this.$moment().format("YYYY-MM-DD")
    this.startDate = this.$moment()
      .subtract(2, "w")
      .format("YYYY-MM-DD")
    this.getList()
  },
  methods: {
    getList() {
      this.loading = true

      this.params = {
        start_date: this.startDate,
        end_date: this.endDate
      }

      this.$store
        .dispatch("learningAttendance/getGroupDetail", {
          id: this.$route.params.id,
          params: this.params
        })
        .then(data => {
          if (data) {
            this.data = data
            // this.teacher = data.teacher[0];

            // if(data.events) {
            //   // this.startDate = data.events[0].date
            //   // this.endDate = data.events[data.events.length-1].date
            //   // this.startDate = this.$moment(data.events[22].date, "YYYY-MM-DD").format("DD/MM/YYYY")
            //   // this.endDate = this.$moment(data.events[89].date, "YYYY-MM-DD").format("DD/MM/YYYY")
            // }
          }

          this.loading = false
        })
        .catch(err => {
          console.log("err", err)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.grey-text {
  color: $grey;
}

.attendance {
  &__table {
    height: 100%;
  }
  &__last {
    width: 235px;
  }
}

.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

svg.size-1 {
  margin: 2px;
}

.button.is-small {
  border-radius: 5px;
}

.column.right {
  button.button {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
}

.lists-wrapper-content {
  .right svg {
    margin-right: 20px;
    cursor: pointer;
  }
}

span.icon.is-right {
  svg {
    width: 12px !important;
    height: 12px !important;
  }
}

.plus-btn {
  position: relative;
  top: -5px;
  fill: #fff;
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;

  svg {
    width: 10px;
    height: 10px;
  }
}

.attendance {
  width: 100%;
  display: flex;
  flex-direction: column;

  .attendance-prog {
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    background-color: #fff;
    border-radius: 4px;
    flex: 1;
    padding: 20px 30px;
    height: 100%;

    &__header {
      // height: 50px;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .attendance-prog__title {
        flex: 1;

        strong {
          color: $blue;
          flex: 1;
          font-size: 18px;
        }
      }

      .attendance__hero {
        .columns {
          .column {
            &:nth-child(1) {
              flex: 1.3;
            }

            &:last-child {
              text-align: right;
            }

            div {
              span {
                flex: 1;
                color: $grey;
                display: inline-block;
                margin-right: 5px;
              }

              span.grey-badge {
                display: inline-block;
                position: relative;
                color: #a5b0c2;
                margin-left: 15px;
                margin-right: 15px;
                z-index: 1;

                &::before {
                  position: absolute;
                  border-radius: 15px;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  content: "";
                  display: block;
                  margin: -5px -14px;
                  background-color: #f4f5f8;
                  z-index: -1;
                }
              }
            }
          }
        }
      }

      .attendance-prog__inputs {
        display: flex;
        justify-content: flex-end;
        flex: 0.55;

        div {
          &:nth-child(1) {
            position: relative;
            top: -5px;
            margin-right: 20px;
            flex: 1;
          }

          &:nth-child(2) {
            position: relative;
            top: 5px;
            flex: 1.2;

            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    &__body {
      overflow-y: scroll;

      .attendance-prog__list {
        &:first-child {
          margin-top: 10px;
        }

        .column {
          display: flex;
          align-items: center;
        }
      }
    }

    &__footer {
      margin-top: auto;
    }
  }
}
</style>
