<template>
  <div class="page-section group-members">
    <div class="title-row group-members__header">
      <div class="main-title">
        <span>{{$t('teacherOffice.listOfStudents')}}</span>
      </div>
    </div>
    <div class="group-members__body">
      <d-lists :loading="loading" :len="students.length">
        <template #content>
          <div class="columns" v-for="(item, index) in students" :key="index">
            <div class="column group-members__body--number">
              {{ index + 1 }}
            </div>
            <div class="column group-members__body--avatar">
              <d-avatar :item="item" width="40" height="40" cover></d-avatar>
            </div>
            <div class="column">{{ name(item) }}</div>
          </div>
        </template>
      </d-lists>
    </div>
    <div class="group-members__footer right">
      <d-pagination v-model="pagination.page" :total="pagination.total" />
    </div>
  </div>
</template>

<script>
import variables from "@/assets/scss/base/_variables.scss"
import { mapActions } from "vuex"
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-avatar": () => import("@/components/Avatar"),
    "d-pagination": () => import("@/components/Pagination")
    // "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    // 'd-input': () => import("@/components/inputs/input"),
    // 'd-dropdown': () => import("@/components/Dropdown"),
  },
  data() {
    return {
      pagination: {
        page: 1,
        total: null,
        limit: 10
      },
      dropdownToggle: false,
      iconColor: variables ? variables.grey : "",
      students: [],
      loading: true
    }
  },
  computed: {
    name() {
      return function(item) {
        return item.first_name || item.middle_name || item.last_name ? `${item.first_name} ${item.middle_name} ${item.last_name}` : "Не заполнено"
      }
    },
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("groups", ["getTeacherGroups"]),
    fetchStudents() {
      let params = {
        offset: this.offsetComputed,
        limit: this.pagination.limit
      }
      this.getTeacherGroups({ params, id: +this.$route.params.id }).then(res => {
        this.pagination.total = res.data.count
        this.students = res.data.results
        this.students.forEach(item => {
          item.image = item.image ? item.image : {}
        })
        this.loading = false
      })
    }
  },
  watch: {
    $route: {
      handler: "fetchStudents",
      immediate: true
    },
    offsetComputed: {
      handler: "fetchStudents"
    }
  }
}
</script>
