<template>
  <div class="education-groups">
    <div class="education-groups__header title-row">
      <div class="main-title">
        <span><b>Список груп</b></span>
      </div>
      <div class="education-groups__header--search">
        <d-input
          size="small"
          :placeholder="$t('studyDepartment.search')"
          align-icon="right"
          icon="search"
          icon-width="14"
          :icon-color="iconColor"
          @input="fetchGroups"
        ></d-input>
      </div>
    </div>
    <div class="education-groups__body">
      <d-lists dashed-header :loading="loading" :len="groups.length">
        <template #header>
          <div class="columns">
            <div class="column is-5">
              <span>{{ $t("studyDepartment.groups") }}</span>
            </div>
            <div class="column is-4"><span>Курс</span></div>
            <div class="column is-3">
              <span>{{ $t("studyDepartment.students") }}</span>
            </div>
          </div>
        </template>

        <template #content>
          <router-link :to="{ name: 'cabinetTeachersGroupsId', params: { id: item.id } }" v-for="(item, index) in groups" :key="index">
            <div class="columns">
              <div class="column is-5">
                {{ item.name }}
              </div>
              <div class="column is-4">{{ $nt(item.course) || $nt(warn) }}</div>
              <div class="column is-3">{{ item.count }}</div>
            </div>
          </router-link>
        </template>
      </d-lists>
      <d-pagination v-model="pagination.page" :total="pagination.count" :limit="pagination.limit"></d-pagination>
    </div>
    <d-modal :seen="openModal" size="small" title="Сформировать группу" @closemodal="openModal = false">
      <div class="add-group-modal">
        <div class="add-group-modal--item">
          <div class="custom-title">Названия группы</div>
          <d-select
            class="grey rounded"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="options"
            label="title"
            v-model="id"
            :reduce="(item) => item.id"
          ></d-select>
        </div>
        <div class="add-group-modal--item">
          <div class="custom-title">Названия группы</div>
          <d-select
            class="grey rounded"
            :placeholder="$t('teacherOffice.enterTheText')"
            :options="options"
            label="title"
            v-model="id"
            :reduce="(item) => item.id"
          ></d-select>
        </div>
        <d-button class="add-group-modal--btn" @click="openModal = !openModal" color="blue" rounded :text="$t('studyDepartment.save')"> </d-button>
      </div>
    </d-modal>
  </div>
</template>

<script>
import Lists from "@/components/Lists"
import Input from "@/components/inputs/input"
import variables from "@/assets/scss/base/_variables.scss"
import { mapActions } from "vuex"
import PaginationVue from "@/components/Pagination.vue"
export default {
  components: {
    "d-lists": Lists,
    "d-input": Input,
    // "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    "d-modal": () => import("@/components/Modal"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-select": () => import("@/components/inputs/select"),
    "d-pagination": PaginationVue
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10,
        count: 100
      },
      warn: {
        ru: "Курс не найден",
        en: "Course not found",
        uz: "Kurs topilmadi"
      },
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      groups: [],
      iconColor: variables ? variables.grey : "",
      openModal: false,
      id: null,
      loading: true
    }
  },
  computed: {
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    }
  },
  methods: {
    ...mapActions("groups", ["getTeacherGroups"]),

    fetchGroups(e) {
      this.getTeacherGroups({
        params: {
          search: typeof e == "string" ? e : "",
          offset: this.offsetComputed,
          limit: this.pagination.limit
        }
      }).then((res) => {
        this.groups = res.data.results
        this.pagination.count = res.data.count
        this.loading = false
      })
    }
  },
  watch: {
    offsetComputed: {
      handler() {
        this.fetchGroups()
      }
    }
  },
  mounted() {
    this.fetchGroups()
  }
}
</script>
