<template>
  <div class="task-create">
    <div class="tasks-create--header">
      <div class="title-row">
        <div class="main-title text-bold">
          <span>{{ $t("teacherOffice.addMailingListOfTasks") }}</span>
        </div>
      </div>
    </div>
    <div class="task-create--body">
      <div class="columns">
        <div class="column">
          <div class="mb-5">
            <d-input
              :title="$t('teacherOffice.title')"
              :placeholder="$t('teacherOffice.enterTheText')"
              rounded
              class="grey"
              style="padding: 0"
              v-model="form.title"
            />
          </div>
          <div class="mb-5">
            <d-textarea
              :placeholder="$t('teacherOffice.enterTheText')"
              rows="7"
              class="grey"
              :title="$t('teacherOffice.content')"
              :disabled="false"
              :readonly="false"
              v-model="form.body"
              rounded
              fixed
            />
          </div>
        </div>
        <div class="column">
          <div class="mb-5">
            <d-select
              class="grey-2 rounded input-height"
              :placeholder="$t('teacherOffice.chooseCourseType')"
              :options="moduleList"
              label="name"
              ml
              :title="$t('teacherOffice.courseModule')"
              v-model="form.module_course"
              :reduce="(item) => item.id"
            ></d-select>
          </div>
          <div class="mb-5">
            <p class="mb-2">{{ $t("teacherOffice.files") }}</p>
            <label for="cover" class="tmodal__upload">
              <span>
                <span class="task-file" v-for="item in form.files" :key="item.name">{{ item.name || "Файл" }} , </span>
                <span v-if="!form.files.length">{{ $t("teacherOffice.file") }}</span>
              </span>
              <d-icon icon="paper-clip" />
            </label>
            <input type="file" id="cover" multiple ref="refImage" @change="fileHandler" />
          </div>
        </div>
      </div>
    </div>
    <div class="task-create--footer">
      <div class="create-program-buttons columns">
        <div class="create-program-buttons__cancel column">
          <d-button :text="$t('studyDepartment.cancel')" :disabled="loading" class="grey" @click="$router.go(-1)" rounded />
        </div>
        <div class="create-program-buttons__save column right">
          <d-button :text="$t('studyDepartment.save')" :disabled="!fieldsFilled || loading" class="blue" rounded @click="createTask" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-input": () => import("@/components/inputs/input"),
    "d-select": () => import("@/components/inputs/select"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-icon": () => import("@/components/icons/iconWrapper")
  },
  data() {
    return {
      currLang: "ru",
      courseTypes: [],
      detail: {},
      langName: "",
      loading: false,
      form: {
        module_course: null,
        title: "",
        body: "",
        files: []
      },

      moduleList: []
    }
  },
  computed: {
    fieldsFilled() {
      for (let key in this.form) {
        if (key == "files" && !this.form[key].length) {
          return false
        } else if (!this.form[key]) {
          return false
        }
      }
      return true
    }
  },
  mounted() {
    this.fetchList()
  },
  methods: {
    fetchList() {
      this.$store
        .dispatch("teacherTeachersTask/getModuleCourseList")
        .then((res) => {
          if (res && res.results) this.moduleList = res.results
        })
        .catch(() => {
          // console.log("err Fetch", err);
        })
    },
    fileHandler(e) {
      // console.log(e.target.files[0].name);
      if (e.target.files && e.target.files.length) {
        this.form.files = e.target.files
      }
    },
    createTask() {
      this.loading = true

      let formData = new FormData()

      for (let key in this.form) {
        if (key == "files") {
          this.form[key].forEach((item) => formData.append(key, item))
          continue
        }
        formData.append(key, this.form[key])
      }

      // Object.keys(this.form).forEach(key => {
      //     if(key == 'files') {
      //         this.form[key].forEach(item => formData.append(key, item))
      //     }
      //     formData.append(key, this.form[key])
      // })

      this.$store
        .dispatch("teacherTeachersTask/create", formData)
        .then((res) => {
          if (res && res.status == 201) {
            // console.log("create Res", res);
            this.loading = false
            this.$router.go(-1)
          }
        })
        .catch(() => (this.loading = false))
    }
  }
}
</script>

<style lang="scss" scoped>
.task-create {
  max-width: 85%;
  margin: 0 auto;

  flex: 1;
  background-color: white;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  padding: 25px 60px;
  display: flex;
  flex-direction: column;

  // &--header {

  // }

  &--body {
    margin-top: 20px;

    .tmodal__upload {
      height: unset;
      min-height: 42px;
      border-radius: 25px;

      & > span {
        .task-file {
          color: black;
          padding-right: 5px;
        }
      }

      & > svg {
        flex: none;
      }
    }
  }

  &--footer {
    margin-top: auto;
  }
}
</style>
