<template>
  <d-tabs :tab-list="tabList" @item="onTabChange" class="small tasksprog" new-tabs>
    <template #content>
      <d-loading v-if="loading" />

      <div class="tasks-prog" v-else>
        <div class="tasks-prog__header">
          <div class="tasks-prog__title">{{$t('teacherOffice.sendingOutTasks')}}</div>
          <!-- <div class="list-popup" v-if="open">
            <div>Чтото</div>
          </div> -->
        </div>
        <div class="tasks-prog__body" v-if="tab == 1">
          <d-lists :loading="loading" :len="list.length">
            <template #header>
              <div class="columns list-header">
                <div class="column is-10">
                  <span class="is-grey">{{$t('teacherOffice.title')}}</span>
                </div>

                <div class="column is-2">
                  <router-link tag="button" :to="{ name: 'cabinetTeachersTasksCreate' }" class="blue add-btn icon-btn" size="is-small">
                    <template>
                      <d-icon icon="accordion_plus" />
                      <span>
                        {{ $t("studyDepartment.add") }}
                      </span>
                    </template>
                  </router-link>
                </div>
              </div>
            </template>

            <template #content>
              <router-link
                tag="div"
                :to="{
                  name: 'cabinetTeachersTasksId',
                  params: {
                    id: item.id
                  },
                  query: {
                    chosedTab: typeTask
                  }
                }"
                class="columns"
                v-for="item in list"
                :key="item.id"
              >
                <div class="column is-10 tasks-prog__item">
                  <div class="tasks-prog__item__link">
                    <d-icon icon="files-and-folders" class="tasks-prog__item__icon" />
                    <span> {{ item.title }} </span>
                  </div>
                </div>
                <div class="column right tasks-prog__item__link">
                  <d-dropdown up>
                    <template #body>
                      <d-icon icon="information" style="width: 30px" class="custom-dropdown__trigger" @click="open = !open" />
                    </template>
                    <template #dropdown-menu>
                      <div class="tasks-prog__descr">Description</div>
                    </template>
                  </d-dropdown>
                </div>
              </router-link>
            </template>
          </d-lists>
        </div>

        <div class="tasks-prog__body" v-if="tab == 2">
          <d-lists :loading="loading" :len="list.length">
            <template #header>
              <div class="columns list-header" style="align-items: center;">
                <div class="column is-2">
                  <span class="is-grey">{{$t('teacherOffice.title')}}</span>
                </div>

                <div class="column is-5">
                  <!-- <d-dropdown>
                    <template #body> -->
                  <!-- <button
                        class="blue add-btn icon-btn ml-auto"
                        @click="open = !open"
                        size="is-small"
                      >
                        <d-icon icon="accordion_plus" />
                      </button> -->

                  <!-- Filters for tests -->
                  <d-select
                    :title="$t('teacherOffice.typeOfTask')"
                    :placeholder="$t('studyDepartment.select')"
                    :options="moduleList"
                    rounded
                    label="name"
                    ml
                    clearable
                    class="rounded is-block mb-5"
                    v-model="filterModuleId"
                    :reduce="item => item.id"
                    @change="fetchTestListFilter"
                  />
                </div>
                <div class="column is-5">
                  <d-pagination-select
                    :title="$t('teacherOffice.students')"
                    class="rounded is-block mb-5"
                    :placeholder="$t('studyDepartment.select')"
                    multiple
                    multi-name
                    label="name"
                    :parentList="topicList"
                    v-model="filterTopicId"
                    @change="fetchTestListFilter"
                    :reduce="item => item.id"
                  >
                    <template #selected-option="props">
                      {{ $nt(props.name) }}
                    </template>

                    <template #option="props">
                      {{ $nt(props.name) }}
                    </template>
                  </d-pagination-select>
                  <!-- </template> -->

                  <!-- <template #dropdown-menu>
                      <div
                        class="tasks-prog__descr"
                        @click="currModal = 'each'"
                      >
                        Добавить тест отдельно
                      </div>
                      <div class="tasks-prog__descr" @click="currModal = 'all'">
                        Добавить тест по темам
                      </div> -->
                  <!-- </template>
                  </d-dropdown> -->
                </div>
              </div>
            </template>

            <template #content>
              <!-- <div v-for="child in parentChildList" :key="child.index"> -->
              <router-link
                tag="div"
                :to="{
                  name: 'cabinetTeachersTasksId',
                  params: { id: item.id },
                  query: {
                    chosedTab: typeTask
                  }
                }"
                class="columns"
                v-for="item in list"
                :key="item.id"
                :class="{ parentElement: item.parent }"
              >
                <div class="column is-10 tasks-prog__item">
                  <div class="tasks-prog__item__link">
                    <d-icon icon="files-and-folders" class="tasks-prog__item__icon" />
                    <span>
                      {{ item.theme && $nt(item.theme) }}
                    </span>
                  </div>
                </div>
                <div class="column right tasks-prog__item__link">
                  <d-dropdown up>
                    <template #body>
                      <d-icon icon="information" style="width: 30px" class="custom-dropdown__trigger" @click="open = !open" />
                    </template>
                    <template #dropdown-menu>
                      <div class="tasks-prog__descr">Description</div>
                    </template>
                  </d-dropdown>
                </div>
              </router-link>
              <!-- </div> -->
            </template>
          </d-lists>
        </div>

        <div class="tasks-prog__footer right">
          <d-pagination @change="paginationPages" v-model="pagination.page" :total="count" :limit="pagination.limit" />
        </div>
      </div>

      <d-modal title="Добавить тест по тему" @closemodal="currModal = ''" v-show="currModal == 'each'" size="small" class="tasks__modal">
        <div class="unique-tests">
          <div class="unique-tests--item" v-for="(item, index) in testForm.arguments" :key="index">
            <d-pagination-select
              class="is-block mb-5 small-menu rounded pagination-select"
              :disabled="loading2"
              title="Тема(ы)"
              :placeholder="$t('studyDepartment.select')"
              ml
              multiple
              label="name"
              module="teacherTests/getTopicList"
              v-model="item.topic"
              :reduce="item => item.id"
              @change="checkFields"
            />
            <d-select
              :title="$t('teacherOffice.typeOfTask')"
              :disabled="loading2"
              :placeholder="$t('studyDepartment.select')"
              :options="taskTypeList"
              ml
              rounded
              label="name"
              class="rounded is-block mb-5"
              v-model="item.task_type"
              :reduce="item => item.id"
              @change="checkFields"
            />
            <d-select
              :title="$t('teacherOffice.difficulty')"
              :disabled="loading2"
              :placeholder="$t('studyDepartment.select')"
              :options="difficultyList"
              ml
              rounded
              label="name"
              class="rounded is-block mb-5"
              v-model="item.difficulty"
              :reduce="item => item.id"
              @change="checkFields"
            />
            <d-input
              title="Количество вопросов"
              class="rounded mb-3"
              :disabled="loading2"
              rounded
              type="number"
              :placeholder="$t('teacherOffice.enterTheText')"
              v-model="item.question_count"
              @change="checkFields"
            ></d-input>
          </div>
          <div class="is-flex is-justify-content-right">
            <d-btn text="Добавить еще" @click="onAddArgument" rounded class="blue ml-auto" />
          </div>
        </div>
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <d-btn :text="$t('studyDepartment.cancel')" :disabled="false" rounded class="grey" />
          <d-btn :text="$t('studyDepartment.save')" :disabled="fieldsFilledNewTests" @click="onAddArgument" rounded class="blue ml-auto" />
        </div>
      </d-modal>

      <d-modal title="Добавить тест по темам" @closemodal="currModal = ''" v-show="currModal == 'all'" size="small" class="tasks__modal">
        <div class="unique-tests">
          <d-pagination-select
            class="is-block mb-5 small-menu rounded pagination-select"
            title="Тема(ы)"
            :placeholder="$t('studyDepartment.select')"
            ml
            multiple
            label="name"
            module="teacherTests/getTopicList"
            v-model="testForm.topic"
            :reduce="item => item.id"
            @change="checkFields"
          />
          <div class="unique-tests--item" v-for="(item, index) in testForm.arguments" :key="index">
            <d-select
              :title="$t('teacherOffice.typeOfTask')"
              :placeholder="$t('studyDepartment.select')"
              :options="taskTypeList"
              :disabled="loading2"
              @change="checkFields"
              ml
              rounded
              label="name"
              class="rounded is-block mb-5"
              v-model="item.task_type"
              :reduce="item => item.id"
            />
            <d-select
              :title="$t('teacherOffice.difficulty')"
              :placeholder="$t('studyDepartment.select')"
              :options="difficultyList"
              :disabled="loading2"
              @change="checkFields"
              ml
              rounded
              label="name"
              class="rounded is-block mb-5"
              v-model="item.difficulty"
              :reduce="item => item.id"
            />
            <d-input
              title="Количество вопросов"
              class="rounded mb-3"
              :disabled="loading2"
              @change="checkFields"
              type="number"
              rounded
              :placeholder="$t('teacherOffice.enterTheText')"
              v-model="item.question_count"
            ></d-input>
          </div>
          <div class="is-flex is-justify-content-right">
            <d-btn text="Добавить еще" @click="onAddArgument" rounded class="blue ml-auto" />
          </div>
        </div>
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <d-btn :text="$t('studyDepartment.cancel')" :disabled="false" rounded class="grey" />
          <d-btn :text="$t('studyDepartment.save')" :disabled="fieldsFilledNewTests" @click="onAddArgument" rounded class="blue ml-auto" />
        </div>
      </d-modal>
    </template>
  </d-tabs>
</template>

<script>
// import pagination from '../../../../mixins/pagination';
const uniqueTest = {
  function: "",
  arguments: [
    {
      topic: [],
      task_type: null,
      difficulty: null,
      question_count: null
    }
  ]
}

const globalTest = {
  function: "",
  topic: [],
  arguments: [
    {
      task_type: null,
      difficulty: null,
      question_count: null
    }
  ]
}
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-pagination": () => import("@/components/Pagination"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-tabs": () => import("@/components/Tabs"),
    "d-loading": () => import("@/components/Loading-progress"),
    "d-select": () => import("@/components/inputs/select"),
    "d-btn": () => import("@/components/buttons/loaderButton"),
    "d-pagination-select": () => import("@/components/inputs/pagination-select"),
    "d-input": () => import("@/components/inputs/input"),

    "d-modal": () => import("@/components/Modal")
  },
  watch: {
    tab(newValue) {
      if (newValue == 1) {
        this.fetchHometaskList()
      } else {
        this.fetchTestList()
      }
    },
    currModal(newVal) {
      if (newVal == "each") {
        this.testForm = JSON.parse(JSON.stringify(uniqueTest))
        this.currArg = JSON.parse(JSON.stringify(uniqueTest.arguments[0]))
        this.getSupportingList()
      } else if (newVal == "all") {
        this.testForm = JSON.parse(JSON.stringify(globalTest))
        this.currArg = JSON.parse(JSON.stringify(globalTest.arguments[0]))
        this.getSupportingList()
      } else {
        this.testForm = {}
      }
    },
    $route: {
      async handler() {
        // this.chosenTaskType = this.$route.query.chosedTab;
        // await this.fetchList();
        // this.getGroupList();
        // this.getStudentList();
        this.getModuleCourse()
        this.getTopicList()
      },
      immediate: true
    }
  },
  data() {
    return {
      open: false,
      pagination: {
        page: 1,
        limit: 20
      },
      id: null,
      list: [],
      loading: false,
      loading2: false,
      count: null,
      tabList: [
        {
          tab: 1,
          title: this.$t('teacherOffice.theTask'),
          typeTask: "assignments"
        },
        {
          tab: 2,
          title: this.$t('teacherOffice.tests'),
          typeTask: "tests"
        }
      ],
      tab: 1,
      typeTask: "assigments",
      currModal: "",
      actionForm: {
        action: "",
        chosen_tasks: []
      },
      parentChildList: [],
      testForm: {},
      currArg: {},
      taskTypeList: [],
      difficultyList: [],
      functionList: [
        {
          id: 1,
          title: "REGENERATE"
        },
        {
          id: 2,
          title: "ADD_TASK"
        }
      ],
      actionList: [
        {
          id: 1,
          title: "DELETE"
        },
        {
          id: 2,
          title: "REPLACE"
        },
        {
          id: 3,
          title: "ADD"
        }
      ],
      fieldsFilledNewTests: true,
      moduleList: [],
      filterModuleId: null,
      topicList: [],
      filterTopicId: [],
      isFiltering: false
    }
  },
  computed: {
    // fieldsFilled() {
    //   return false;
    // },
    // offsetComputed() {
    //   return this.pagination.page < 2
    //     ? 0
    //     : this.pagination.page * this.pagination.limit - this.pagination.limit;
    // },
  },
  mounted() {
    this.fetchHometaskList()
  },
  methods: {
    getSupportingList() {
      this.loading2 = true
      this.$store
        .dispatch("teacherTests/getTaskTypeList")
        .then(res => {
          if (res && res.results) {
            this.taskTypeList = res.results
          }
          this.loading2 = false
        })
        .catch(() => {
          this.loading2 = false
        })
      this.loading2 = true
      this.$store
        .dispatch("teacherTests/getDifficultyList")
        .then(res => {
          if (res && res.results) {
            this.difficultyList = res.results
          }
          this.loading2 = false
        })
        .catch(() => {
          this.loading2 = false
        })
    },
    onAddArgument() {
      this.testForm.arguments.push(this.currArg)
    },
    onTabChange(item) {
      this.tab = item.tab
      this.typeTask = item.typeTask
      this.pagination.page = 1
      this.count = null
      this.list = []
    },
    paginationPages() {
      // console.log(this.isFiltering);
      if (!this.filterModuleId && this.filterTopicId.length === 0) {
        this.isFiltering = false
      }
      if (this.isFiltering) {
        this.fetchTestListFilter()
      } else {
        this.tab == 1 ? this.fetchHometaskList() : this.fetchTestList()
      }
    },
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    fetchTestList() {
      // console.log(
      //   "Filter topic ID -> ",
      //   this.filterTopicId,
      //   "Filter module id",
      //   this.filterModuleId
      // );
      let params = {}
      // if (!this.filterModuleId && !this.filterTopicId.length !== 0) {
      this.loading = true

      params = {
        offset: this.offsetComputed(),
        limit: this.pagination.limit
      }
      //   this.isFiltering = false;
      // } else if (this.filterModuleId && this.filterTopicId.length !== 0) {
      //   params = {
      //     offset: this.offsetComputed(),
      //     limit: this.pagination.limit,
      //     module: JSON.stringify(this.filterModuleId),
      //     topic: JSON.stringify(this.filterTopicId),
      //   };
      // } else if (this.filterModuleId && !this.filterTopicId.length !== 0) {
      //   params = {
      //     offset: this.offsetComputed(),
      //     limit: this.pagination.limit,
      //     module: JSON.stringify(this.filterModuleId),
      //   };
      //   this.isFiltering = true;
      // } else if (!this.filterModuleId && this.filterTopicId.length !== 0) {
      //   params = {
      //     offset: this.offsetComputed(),
      //     limit: this.pagination.limit,
      //     topic: JSON.stringify(this.filterTopicId),
      //   };
      //   this.isFiltering = true;
      // }
      this.$store
        .dispatch("teacherTeachersTask/getTestList", params)
        .then(res => {
          if (res && res.results) {
            this.count = res.count
            this.list = res.results

            // console.log("Test list in FetchTestList", this.list);
            // console.log(
            //   "Filter topic ID -> ",
            //   this.filterTopicId,
            //   "Filter module id",
            //   this.filterModuleId
            // );
            this.parentChildList = []
            // let cloneList = res.results;
            // cloneList.forEach((item) => {
            //   if (item.parent) {
            //     let childOfParent = [];
            //     // zero index is Parent
            //     childOfParent.push(item);
            //     this.list.forEach((child, index) => {
            //       if (!child.parent && child.parent_id === item.id) {
            //         // add childs to childOfParent (childs start after parent from one index in every)
            //         childOfParent.push(child);
            //         // after add child to childOfParent it must be deleted
            //         cloneList.splice(index, 1);
            //       }
            //     });
            //     this.parentChildList = [
            //       ...this.parentChildList,
            //       ...childOfParent,
            //     ];
            //   }
            // });
            // // this.list = this.parentChildList;
            // if (!this.parentChildList) {
            //   this.list = this.parentChildList;
            // } else {
            //   this.list = res.results;
            // }

            // console.log("parent child", this.parentChildList);
          }
          this.loading = false
        })
        .catch(() => {
          // console.log("err Fetch", err);
          this.loading = false
        })
    },
    fetchTestListFilter() {
      // this.loading = true;
      // console.log(
      //   "Filter topic ID -> ",
      //   this.filterTopicId,
      //   "Filter module id",
      //   this.filterModuleId
      // );
      let params = {}
      if (this.filterModuleId && this.filterTopicId.length !== 0) {
        params = {
          offset: this.offsetComputed(),
          limit: this.pagination.limit,
          module: JSON.stringify(this.filterModuleId),
          topic: JSON.stringify(this.filterTopicId)
        }
        this.isFiltering = false
      } else if (this.filterModuleId && !this.filterTopicId.length !== 0) {
        this.pagination = {
          page: 1,
          limit: 20
        }
        params = {
          offset: this.offsetComputed(),
          limit: this.pagination.limit,
          module: JSON.stringify(this.filterModuleId)
        }
        this.isFiltering = true
      } else if (!this.filterModuleId && this.filterTopicId.length !== 0) {
        this.pagination = {
          page: 1,
          limit: 20
        }
        params = {
          offset: this.offsetComputed(),
          limit: this.pagination.limit,
          topic: JSON.stringify(this.filterTopicId)
        }
        this.isFiltering = true
      }
      this.$store
        .dispatch("teacherTeachersTask/getTestList", params)
        .then(res => {
          if (res && res.results) {
            this.count = res.count
            this.list = res.results

            // console.log("Test list in FetchTestList By Filter", this.list);
            this.parentChildList = []

            // console.log("parent child", this.parentChildList);
          }
          // this.loading = false;
        })
        .catch(() => {
          // console.log("err Fetch", err);
          // this.loading = false;
        })
    },
    fetchHometaskList() {
      this.loading = true
      this.filterModuleId = null
      this.filterTopicId = []
      this.$store
        .dispatch("teacherTeachersTask/getHometaskList", {
          offset: this.offsetComputed(),
          limit: this.pagination.limit
        })
        .then(res => {
          if (res && res.results) {
            this.list = res.results
            this.count = res.count
            // console.log("List -> in index =>>>", this.list);
          }
          this.loading = false
        })
        .catch(() => {
          // console.log("err Fetch", err);
          this.loading = false
        })
    },
    checkArrayFields(arr) {
      // console.log(arr);
      if (arr.length === 0) {
        return false
      }
      for (const element of arr) {
        // console.log("Element in array ->  ", element);
        if (Array.isArray(element)) {
          if (!this.checkArrayFields(element)) {
            return false
          }
        } else if (element && typeof element === "object") {
          if (!this.checkObjectFields(element)) {
            return false
          }
        } else if (!element) {
          return false
        }
      }
      return true
    },
    checkObjectFields(obj) {
      // console.log(obj);
      for (const key of Object.keys(obj)) {
        // console.log("key in object keys -> ", key);
        // console.log("key in object keys -> ", obj[key]);
        if (obj[key] && Array.isArray(obj[key])) {
          if (!this.checkArrayFields(obj[key])) {
            return false
          }
        } else if (obj[key] && typeof obj[key] === "object") {
          if (!this.checkObjectFields(obj[key])) {
            return false
          }
        } else if (!obj[key]) {
          return false
        }
      }
      // console.log(true);
      return true
    },

    checkFields() {
      // console.log(this.testForm);
      this.fieldsFilledNewTests = !this.checkObjectFields(this.testForm)
    },

    getModuleCourse() {
      // console.log("Module List", this.moduleList);
      this.$store.dispatch("teacherTeachersTask/getModuleCourseList").then(res => {
        // console.log("Module List", res);
        this.moduleList = res.results.map(result => {
          return {
            id: result.id,
            name: result.name
          }
        })
      })
    },
    getTopicList() {
      let params = {
        listParams: {
          offset: this.offsetComputed(),
          limit: this.pagination.limit
        }
      }
      // console.log("this.Task", params);
      this.$store
        .dispatch("teacherTests/getTopicList", params)
        .then(res => {
          // console.log("RES in id page", res);
          if (res) {
            this.topicList = res.results
            // console.log("this.TopicList", this.topicList);
          }
        })
        .catch(() => {
          // console.log("Err", err);
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.unique-tests {
  max-height: 550px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;

  &--item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dashed $grey;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  .vs__dropdown-menu {
    max-height: 150px;
  }
}

.is-grey {
  color: $grey;
}

.list-header {
  border-bottom: 2px dashed #e3e8f0 !important;
}

.tasksprog {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tasks-prog {
  margin-top: 20px;
  background-color: #fff;
  flex: 1;
  box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
  border-radius: 4px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;

  .custom-dropdown__trigger {
    //transform: rotate(90deg);
    fill: #9aa6bb;
    width: 23px !important;
    position: relative;
    //right: -10px;
  }

  svg.size-1 {
    margin: 2px;
  }

  .button.is-small {
    border-radius: 5px;
  }

  .column.right {
    button.button {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }

  .lists-wrapper-content {
    .right svg {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  span.icon.is-right {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .plus-btn {
    position: relative;
    top: -5px;
    fill: #fff;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 1px;
    .tasks-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .tasks-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  .custom-dropdown {
    display: flex !important;
    align-items: center;
    svg {
      margin-right: 0 !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &__link {
      display: flex;
      align-items: center;
    }
    &__icon {
      fill: $blue;
      height: 15px !important;
      margin-right: 16px;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__descr {
    padding: 15px;

    &:hover {
      color: #1761aa;
    }
  }
  &__body {
    margin-bottom: 15px;
  }
}
.parentElement {
  background-color: #adbcd43d;
  border-radius: 3px;
}
</style>
