<template>
  <div class="students">
    <div class="students-top">
      <div class="columns">
        <div class="column is-3">
          <div class="custom-card students-top__card students-top__card--avatar">
            <d-avatar :item="{ src: accountInfo.image }" width="102" height="102" :tooltip="accountInfo.image" cover border></d-avatar>
            <div class="students-top__card--avatar-name">
              {{ accountInfo.name }}
            </div>
            <div class="students-top__card--avatar-age">{{ accountInfo.age }} {{$t('studentOffice.ofTheYear')}}</div>
            <!-- <d-button
              class="students-top__card--avatar-btn blue"
              text="Редактировать"
            /> -->
          </div>
        </div>
        <div class="column is-45">
          <div class="custom-card students-top__card">
            <div class="title-row">
              <div class="main-title text-bold">
                <span>Расписание {{ fetchScheduletDate }}</span>
              </div>
              <div class="prev-next-btns">
                <div class="prev-btn" @click="prevDate">
                  <d-icon icon="angle-left" width="5" />
                </div>
                <div class="next-btn" @click="nextDate">
                  <d-icon icon="arow-right" width="5" />
                </div>
              </div>
            </div>

            <div class="students-top__card--lessons">
              <div v-if="scheduleList.length == false">
                <p class="empty" align="center">{{ $t("studyDepartment.empty") }}</p>
              </div>
              <div v-else :class="['timetable-date', { 'text-green': index == 1 }]" v-for="(item, index) in scheduleList" :key="index">
                <div v-if="item.module">
                  {{ $nt(item.module) || "-" }}
                </div>
                <div>
                  {{ item.time }}
                  <d-icon icon="time" class="size-1" />
                </div>
                <div>
                  <a href="#" v-if="item.link" class="task-btn right">
                    Задание
                    <d-icon icon="arow-left"></d-icon>
                  </a>
                </div>
              </div>
            </div>

            <!-- <div class="students-top__card--lessons" v-if="tab == true">
              <div
                :class="['timetable-date']"
                v-for="(item, index) in lessonsTime"
                :key="index"
              >
                <div>
                  <span v-if="index == 3" class="red-text">! </span>
                  {{ item.title }}
                </div>
                <div :class="{ 'red-text': index == 3 }">
                  {{ item.time }}
                  <d-icon icon="time"></d-icon>
                </div>
                <div>
                  <div href="#" class="score-ball">
                    80/100
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="column is-45">
          <div class="custom-card students-top__card">
            <div class="media-icons">
              <div class="title-row">
                <div class="main-title text-bold">
                  <span>{{$t('studentOffice.materials')}}</span>
                </div>
              </div>
              <div v-if="materialList.length == false">
                <p class="empty" align="center">{{ $t("studyDepartment.empty") }}</p>
              </div>
              <div class="columns py-2 mx-0 mt-2 profile-detail padding-sm-x is-vcentered" v-for="(item, index) in materialList" :key="index" v-else>
                <div class="icon-container">
                  <img :src="require('@/assets/images/word.png')" alt="file" />
                </div>
                <div class="column py-0 ">
                  <div class="file-title" v-if="item.title">
                    {{ item.title }}
                  </div>
                  <div class="text-gray time-div">
                    {{ item.created_at }} |
                    <a :href="item.file" download class="download-link">
                      {{$t('teacherOffice.download')}}
                      <d-icon icon="download" />
                    </a>
                  </div>
                </div>
                <button class="right-btn">
                  <d-icon icon="information" width="21" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="students-bottom custom-card">
      <div class="title-row">
        <div class="main-title text-bold">
          <span>{{$t('studentOffice.completedCourses')}}</span>
        </div>
      </div>
      <d-lists :loading="loading" :len="list && list.length" no-list-hover>
        <template #header>
          <div class="columns">
            <div class="column is-4"><span>{{$t('studentOffice.theCourse')}}</span></div>
            <div class="column is-2"><span>{{$t('studentOffice.startDate')}}</span></div>
            <div class="column is-2"><span>{{$t('studentOffice.endDate')}}</span></div>
            <div class="column is-3"><span>{{$t('studentOffice.finalScore')}}</span></div>
            <div class="column right"></div>
          </div>
        </template>

        <template #content>
          <div :class="['columns', { 'back-grey': item % 2 }]" v-for="item in list" :key="item.id">
            <div class="column is-4">
              {{ $nt(item.name) }}
            </div>
            <div class="column is-2">
              {{ item.start_date }}
            </div>
            <div class="column is-2">
              {{ item.end_date }}
            </div>
            <div
              :class="[
                'column',
                'is-3',
                { 'text-green': +item.course_score >= 80 },
                {
                  'text-orange': item.course_score < 80 && item.course_score >= 30
                },
                { 'text-red': item.course_score < 30 }
              ]"
            >
              {{ item.course_score + "/100" }} ({{ +item.course_score >= 80 ? "Отлично" : "Удовлетворительно" }})
            </div>
          </div>
        </template>
      </d-lists>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"
import DAvatar from "@/components/Avatar"
export default {
  components: {
    DAvatar,
    // "d-button": () => import("@/components/buttons/loaderButton"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-lists": () => import("@/components/Lists")
  },
  data() {
    return {
      open: false,
      tab: false,
      loading: false,
      lessonsTime: [
        {
          title: "Уголовный кодекс",
          time: "9:00",
          link: "asda"
        },
        {
          title: "Уголовный кодекс",
          time: "9:00",
          link: ""
        },
        {
          title: "Уголовный кодекс",
          time: "9:00",
          link: ""
        },
        {
          title: "Уголовный кодекс",
          time: "9:00",
          link: ""
        }
      ],
      imageList: [
        {
          src: require("@/assets/images/IMG_26561.png"),
          width: 49,
          height: 49
        }
      ],

      accountInfo: {},
      list: [],
      scheduleList: [],
      scheduleCounter: 0,
      fetchScheduletDate: "",

      materialList: []
    }
  },
  methods: {
    ...mapActions("studentMain", ["getAccount", "getStudentCourseList", "getStudentSchedule", "getStudentMaterials"]),
    fetch() {
      this.loading = true

      this.setDate()

      this.getStudentCourseList().then(res => {
        this.list = (res && res.results) || []
      })

      this.getAccount().then(res => {
        this.accountInfo = res || {}
      })

      this.getStudentSchedule().then(res => {
        this.scheduleList = (res && res.results) || []
      })

      this.getStudentMaterials().then(res => {
        this.materialList = (res && res.results) || []
      })

      this.loading = false
    },
    setDate() {
      //initing current date'n'time
      this.fetchScheduletDate = this.$moment()
        .add(this.scheduleCounter, "days")
        .format("DD.MM.YYYY")

      console.log(this.fetchScheduletDate)

      this.getStudentSchedule({
        date: this.$moment(this.fetchScheduletDate, "DD.MM.YYYY").format("YYYY-MM-DD")
      }).then(res => {
        this.scheduleList = (res && res.results) || []
      })
    },
    prevDate() {
      this.scheduleCounter = this.scheduleCounter - 1
      this.setDate()
      console.log(this.scheduleCounter)
    },
    nextDate() {
      this.scheduleCounter = this.scheduleCounter + 1
      this.setDate()
      console.log(this.scheduleCounter)
    }
  },
  mounted() {
    this.fetch()
  }
}
</script>

<style lang="scss">
.empty {
  font-size: 22px;
}

.red-text {
  color: $lred;

  svg {
    fill: $lred;
  }
}

.icon-clock {
  width: 13px;
  margin-right: 5px;
}
.text-green {
  color: $green;

  svg {
    fill: $green;
  }
}
.text-orange {
  color: $orange;
}
.media-icons {
  .profile-detail {
    border-radius: 8px;

    &:first-child {
      margin-top: 20px;
    }
    .column {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .icon-container {
      background-color: #2a56991a;
      height: 50px;
      width: 50px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 48px;

      img {
        width: 25px;
      }

      svg {
        fill: white;
      }
    }

    .file-title {
      line-height: 1;
    }

    .time-div {
      display: flex;
      font-size: 14px;
      color: $grey;
      fill: $grey;
      margin-top: 5px;

      .download-link {
        color: $blue;
        padding-left: 5px;
        svg {
          width: 12px;
          fill: $blue;
        }
      }
    }

    .right-btn {
      background: none;
      outline: none;
      border: none;

      svg {
        cursor: pointer;
      }
    }
  }
}
.students {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: calc(100vh - 150px);

  .custom-card {
    padding: 20px 30px;
  }

  &-top,
  &-bottom {
    flex: none;
    height: 50%;
  }

  &-bottom {
    .title-row {
      border-bottom: 1px dashed $grey;
      padding-bottom: 10px;
    }

    .lists-wrapper {
      height: 100%;

      .lists-wrapper-content {
        height: calc(100% - 100px);
        overflow-y: scroll;
        margin-right: -12px;

        .back-grey {
          background-color: $hovergrey;
          border-radius: 4px;
        }

        .custom-dropdown__trigger {
          fill: $grey;
          transform: rotate(90deg);
          width: 15px;
        }
      }
    }
  }

  &-top {
    &__card {
      height: 100%;

      .title-row {
        margin-bottom: 20px;
      }

      &--avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-name {
          text-align: center;
          font-size: 19px;
          font-weight: 600;
          color: $text-color;
        }

        &-age {
          color: $grey;
        }

        &-btn {
          margin-bottom: 50px;
          margin-top: 20px;
        }
      }

      .prev-next-btns {
        display: flex;
        align-items: center;
        & > div {
          height: 23px;
          width: 23px;
          border-radius: 50%;
          background-color: $hovergrey;
          display: flex;
          align-items: center;
          justify-content: center;

          & + div {
            margin-left: 10px;
          }
        }
        // .next-btn {
        //   // svg {
        //   //     transform: rotate(-135deg);
        //   // }
        // }
      }

      &--lessons {
        display: flex;
        flex-direction: column;
        height: calc(100% - 30px);
        overflow-y: auto;

        .timetable-date {
          display: flex;
          align-items: center;
          padding: 23px 0;

          & > div:first-child {
            flex: none;
            width: 50%;
          }
          & > div:nth-child(2) {
            flex: none;
            width: 20%;
            display: flex;
            align-items: center;

            svg {
              margin-left: 10px;
              width: 15px;
            }
          }
          & > div:last-child {
            flex: none;
            width: 30%;
          }
          .task-btn {
            float: right;
            cursor: pointer;
            padding: 2px 15px;
            background-color: $blue;
            border: none;
            outline: none;
            border-radius: 13px;
            color: white;
            display: flex;
            align-items: center;

            svg {
              margin-left: 10px;
              fill: white;
              stroke: white;
            }
          }
          .score-ball {
            border-radius: 13px;
            padding: 2px 10px;
            color: white;
            background-color: $green;
            text-align: center;
          }
        }
      }
    }

    .columns {
      height: 100%;
    }

    .is-45 {
      flex: none;
      width: 37.5%;
    }
  }
}
</style>
