<template>
  <div class="page-section">
    <div class="check-block">
      <div class="content" v-if="computedSeen">
        <div class="check__title">{{ $route.query.title || "-" }}</div>
        <div v-for="(item, index) in list" :key="index">
          <div class="columns">
            <div class="column">
              <d-text-block :title="$t('teacherOffice.question')" type="question">
                {{ item.question ? $nt(item.question) : "-" }}
              </d-text-block>
            </div>
            <div class="column">
              <d-text-block :title="$t('teacherOffice.studentsAnswer')" type="answer">
                {{ item.chosen_variant ? $nt(item.chosen_variant) : "-" }}
              </d-text-block>
            </div>
          </div>
          <div v-if="item.correct_answer">
            <d-text-block title="Правильный ответ:">
              {{ $nt(item.correct_answer) }}
            </d-text-block>
          </div>

          <div class="mt-4" v-if="item.test_answers">
            <div>{{ $t("teacherOffice.listOfAnswers") }}:</div>
            <div v-for="(el, i) in item.test_answers" :key="i">
              <span class="answer-idicator"> <span :class="{ 'anwer-indicator__right': el.is_correct }"></span> </span>{{ $nt(el.answer) }}
            </div>
          </div>

          <div class="mt-5">
            <d-textarea
              :placeholder="$t('teacherOffice.enterTheText')"
              rows="7"
              :title="$t('teacherOffice.comment')"
              :disabled="false"
              :readonly="false"
              @input="editTaskHandler(index)"
              v-model="form2.task_answer_review[index].comment"
              rounded
              fixed
            />
          </div>

          <!-- Check this -->
          <div class="mt-5" v-if="!item.is_test">
            <d-checkbox
              class="performance-control"
              text="Правильный ответ"
              text-align="right"
              @change="onCheckHandler(index)"
              v-model="checkCorrectTrue"
              :disabled="checkCorrectFalse"
              size="small"
            />
            <d-checkbox
              class="performance-control"
              :text="$t('teacherOffice.incorrectAnswer')"
              text-align="right"
              @change="onCheckHandler(index)"
              v-model="checkCorrectFalse"
              :disabled="checkCorrectTrue"
              size="small"
            />
          </div>
          <hr />
        </div>
        <div class="mt-5">
          <div class="mb-2">{{ $t("teacherOffice.ScoreOn100PoingScale") }}</div>
          <d-input type="text" v-model.number="form2.total_mark" :placeholder="$t('teacherOffice.ScoreOnHundredPointScale')" />
        </div>

        <div class="my-4 columns">
          <div class="column"></div>
          <div class="column right">
            <d-button rounded @click="send(1)" class="blue" size="small mr-3" :text="$t('teacherOffice.saveAndExit')" />
            <d-button rounded @click="send()" :loading="loading" class="blue" size="small" :text="$t('studyDepartment.save')" />
          </div>
        </div>
      </div>
      <div class="content" v-else>
        <div class="check__title">
          {{ detail.home_task.module_course && $nt(detail.home_task.module_course.name) }}
        </div>

        <div class="columns">
          <div class="column">
            <d-text-block :title="`Вопрос: ${detail.home_task.title || '-'}`" type="question">
              {{ detail.home_task.body }}
            </d-text-block>
          </div>
          <div class="column">
            <d-text-block :title="`Ответ: ${(detail.answer && detail.answer.title) || '-'}`" type="answer">
              {{ detail.answer ? detail.answer.comment : "-" }}
            </d-text-block>
          </div>
        </div>
        <div v-if="detail.answer.files && detail.answer.files.length">
          <span>Файлы от студента:</span>
          <div>
            <div class="columns py-2 mx-0 mt-2 profile-detail padding-sm-x is-vcentered" v-for="item in detail.answer.files" :key="item.id">
              <div class="icon-container">
                <img :src="require('@/assets/images/word.png')" alt="file" width="30" />
              </div>
              <div class="column py-0">
                <div class="file-title">
                  {{ item.file.substr(45, 40) }}
                </div>
                <div class="text-gray time-div">
                  <a :href="item.file" class="download-link mr-2" download="download">
                    {{ $t("teacherOffice.download") }}
                    <d-icon icon="download" class="size-05" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="detail.home_task.files && detail.home_task.files.length" class="mt-5">
          <span>{{ $t("teacherOffice.files") }}:</span>
          <div>
            <div class="columns py-2 mx-0 mt-2 profile-detail padding-sm-x is-vcentered" v-for="item in detail.home_task.files" :key="item.id">
              <div class="icon-container">
                <img :src="require('@/assets/images/word.png')" alt="file" width="30" />
              </div>
              <div class="column py-0">
                <div class="file-title">
                  {{ item.file.substr(43, 40) }}
                </div>
                <div class="text-gray time-div">
                  <a :href="item.file" class="download-link mr-2" download="download">
                    {{ $t("teacherOffice.download") }}
                    <d-icon icon="download" class="size-05" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <template v-if="detail.answer.id">
          <div class="mt-5">
            <d-textarea
              :placeholder="$t('teacherOffice.enterTheText')"
              rows="7"
              :title="$t('teacherOffice.comment')"
              :disabled="false"
              :readonly="false"
              v-model="detail.review.comment"
              rounded
              fixed
            />
          </div>
          <div class="mt-5">
            <div class="mb-2">{{ $t("teacherOffice.ScoreOn100PointScale") }}</div>
            <d-input type="text" v-model.number="detail.review.mark" :placeholder="$t('teacherOffice.ScoreOnHundredPointScale')" />
          </div>
        </template>
        <div class="my-5 py-5" v-else>
          <p title="Отстутствует ответ студента">Проверка не доступна</p>
        </div>
        <div class="my-4 columns">
          <div class="column"></div>
          <div class="column right">
            <d-button rounded @click="send(1)" class="blue" size="small mr-3" :text="$t('teacherOffice.saveAndExit')" />
            <d-button rounded @click="send()" :loading="loading" class="blue" size="small" :text="$t('studyDepartment.save')" />
          </div>
        </div>
      </div>
      <div class="right-aside mb-5" v-if="computedSeen">
        <div class="check__title">Список ответов</div>
        <div v-if="!student_list.length" class="mt-5">
          <center>
            <h4>{{ $t("studyDepartment.empty") }}</h4>
          </center>
        </div>
        <div v-else>
          <d-answerList @changeStudent="changeRoute" :list="student_list" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const defaultForm = () => ({
  id: false,
  home_task_answer: null,
  comment: null,
  mark: null
})

const defaultForm2 = () => ({
  task_answer_collection: null,
  total_mark: null,
  task_answer_review: []
})

const detailDefault = () => ({
  id: null,
  home_task: {
    id: null,
    module_course: {
      id: null,
      name: {
        ru: "",
        uz: ""
      }
    },
    title: "",
    body: "",
    creator: null,
    files: [],
    students: []
  },
  receiver: "",
  answer: {
    id: null,
    title: "",
    comment: ""
  },
  review: {
    id: null,
    comment: "",
    mark: null
  }
})

const defaultTaskAnswerReview = () => ({
  id: null,
  is_correct: false,
  comment: ""
})

import { mapActions } from "vuex"

export default {
  components: {
    "d-text-block": () => import("@/components/questionAnswer/textBlock"),
    "d-checkbox": () => import("@/components/inputs/checkbox"),
    "d-answerList": () => import("@/components/questionAnswer/answerList"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-input": () => import("@/components/inputs/input"),
    "d-button": () => import("@/components/buttons/loaderButton")
  },
  data() {
    return {
      checkCorrectTrue: null,
      checkCorrectFalse: null,
      loading: false,
      detail: detailDefault(),
      list: [],
      student_list: [],
      form: defaultForm(),
      form2: defaultForm2(),
      form2_index: null,
      rev_id: null
    }
  },
  watch: {
    $route: {
      handler: "fetch",
      immediate: true
    }
  },
  computed: {
    computedSeen() {
      return this.$route.query.type == "hometask" ? false : this.$route.query.type == "task" ? true : null
    }
  },
  methods: {
    ...mapActions("teacherTaskCheck", [
      "getTaskCheckAnswerList",
      "getHomeTask",
      "sendOrUpdateTasks",
      "sendOrUpdateHomeTasks",
      "getTaskCheckStudentList",
      "getDetaiTaskmark"
    ]),
    ...mapActions("snackbar", ["changeToasts"]),
    onCheckHandler(index) {
      this.form2.task_answer_review[index].is_correct = null

      if (this.checkCorrectTrue) {
        this.checkCorrectFalse = false
        this.form2.task_answer_review[index].is_correct = this.checkCorrectTrue
      }
      if (this.checkCorrectFalse) {
        this.checkCorrectTrue = false
        this.form2.task_answer_review[index].is_correct = !this.checkCorrectFalse
      }
    },
    fetch() {
      if (this.computedSeen) {
        this.getTaskCheckAnswerList({
          id: this.$route.params.id,
          subId: this.$route.params.subId
        }).then((res) => {
          if (res.mark.total_mark != null) {
            // console.log(res.mark.total_mark)
            this.form2.total_mark = res.mark && res.mark.total_mark
          }
          if (res.mark.task_answer_review_collection_id != null) {
            this.form2.uniqId = res.mark && res.mark.task_answer_review_collection_id
          }
          this.list = res.results.results
          this.list.forEach((item, i) => {
            this.form2.task_answer_review[i] = defaultTaskAnswerReview()
            this.form2.task_answer_review[i].id = item.task_answer_review && item.task_answer_review.id

            // if (this.form2.uniqId) this.form2.uniqId = this.list[i].task_answer_review.task_answer_review_collection

            if (item.test_answers && item.test_answers.length) {
              this.form2.task_answer_review[i].is_correct = this.form2.task_answer_review[i].is_correct ? item.task_answer_review.is_correct : ""

              if (this.form2.task_answer_review[i].is_correct) {
                this.checkCorrectTrue = true
                this.checkCorrectFalse = false
              }

              if (!this.form2.task_answer_review[i].is_correct) {
                this.checkCorrectFalse = true
                this.checkCorrectTrue = false
              }
            }

            if (item.task_answer_review && item.task_answer_review.comment) {
              this.form2.task_answer_review[i].comment = item.task_answer_review && item.task_answer_review.comment
            }

            if (item.task_answer_review && item.task_answer_review.id) {
              this.form2.task_answer_review[i].id = item.task_answer_review.id
            }

            if (item.task_answer_review && item.task_answer_review.is_correct != undefined) {
              this.form2.task_answer_review[i].is_correct = item.task_answer_review.is_correct
              // delete this.form2.task_answer_review[i].student_task_answer;
            }

            // this.form2.task_answer_review[i].student_task_answer = item.id

            if (item.is_test) delete this.form2.task_answer_review[i].is_correct
          })

          this.form2.task_answer_collection = +this.$route.query.answerId
        })

        this.getTaskCheckStudentList({
          id: this.$route.params.id
        }).then((res) => (this.student_list = (res && res.results) || []))

        this.detail = {}
      }

      if (!this.computedSeen) {
        this.getHomeTask(this.$route.params.subId).then((res) => (this.detail = res))
        this.list = []
      }
    },

    editTaskHandler(index) {
      this.form2_index = index
      if (this.form2.task_answer_review[index].id == undefined) {
        this.form2.task_answer_review[index].student_task_answer = this.list[index].id
      }
    },
    send(num) {
      this.loading = true
      if (this.computedSeen) {
        if (this.form2.uniqId != null) {
          // this.form2.uniqId = this.list[0].task_answer_review.task_answer_review_collection

          // delete this.form2.task_answer_review[this.form2_index].student_task_answer
          this.sendOrUpdateTasks(this.form2).then((res) => {
            this.checkRedirectAndSave(res.status, num)
            if (res.status >= 200 && res.status < 204) {
              this.$store.dispatch("snackbar/changeToasts", {
                text: `Успешно ${res.status == 201 ? "создано" : "обновлено"}!`,
                color: "success"
              })
            }
          })
        } else {
          this.sendOrUpdateTasks(this.form2).then((res) => {
            this.checkRedirectAndSave(res.status, num)
            if (res.status >= 200 && res.status < 204) {
              this.$store.dispatch("snackbar/changeToasts", {
                text: `Успешно ${res.status == 201 ? "создано" : "обновлено"}!`,
                color: "success"
              })
            }
          })
        }
      }

      if (!this.computedSeen) {
        if (this.detail.review.id) {
          this.form.unqid = this.detail.review.id
          delete this.form.home_task_answer
        } else {
          this.form.home_task_answer = this.detail.answer && this.detail.answer.id
        }

        this.form.comment = this.detail.review.comment
        this.form.mark = +this.detail.review.mark

        this.sendOrUpdateHomeTasks(this.form).then((res) => {
          this.checkRedirectAndSave(res.status, num)
          if (res.status >= 200 && res.status < 204) {
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Успешно ${res.status == 201 ? "создано" : "обновлено"}!`,
              color: "success"
            })
          }
        })
      }

      this.loading = false
    },
    checkRedirectAndSave(status, num) {
      if (status == 200 || status == 201) {
        if (num == 1) this.redirect()
      }
    },
    changeRoute(e) {
      this.$router.push({
        name: this.$route.name,
        params: { id: this.$route.params.id, subId: e.student },
        query: { answerId: e.id, title: "123", type: this.$route.query.type }
      })
    },
    redirect() {
      this.$router.push({
        name: "cabinetTeachersCheckTasksId",
        params: { id: this.$route.params.id },
        query: { type: this.$route.query.type }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.performance-control {
  display: flex;
  align-items: center;
}

.answer-idicator {
  width: 12px;
  height: 12px;
  border: 1px solid #9aa6bb;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  position: relative;
  bottom: -2px;
  span {
    display: none;
  }
  .anwer-indicator__right {
    width: 8px;
    height: 8px;
    background: #1761aa 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: inline-block;
  }
}

.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: row !important;
  .check-block {
    display: flex;
    width: 100%;
    flex-direction: row;
    &__title {
      color: #2e5898;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .content {
      flex: 5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
    }
    .right-aside {
      flex: 1.5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      margin: 0 20px;
    }
  }
}
</style>
