<template>
  <div class="page-section check-task">
    <div class="check-task__header columns">
      <div class="column check-task__header--item" :class="{ computedTaskType: 'is-2' }">
        <div>
          <center>
            <d-icon icon="employee" class="size-4" />
          </center>
        </div>
        <div>ID</div>
      </div>
      <div class="column check-task__header--item" :class="{ computedTaskType: 'is-3' }">
        <div>
          <center>
            <d-icon icon="report" class="size-4" />
          </center>
        </div>
        <div>{{$t('teacherOffice.title')}}</div>
      </div>
      <div class="column check-task__header--item" :class="{ computedTaskType: 'is-2' }">
        <div>
          <center>
            <d-icon icon="notes-pen" class="size-4" />
          </center>
        </div>
        <div>{{$t('teacherOffice.dateOfTheAssignment')}}</div>
      </div>
      <div class="column check-task__header--item is-2">
        <div>
          <center>
            <d-icon icon="process" class="size-4" />
          </center>
        </div>
        <div>{{$t('teacherOffice.score')}}</div>
      </div>
      <div class="column check-task__header--item is-2">
        <div>
          <center>
            <d-icon icon="calendarTwo" class="size-5" />
          </center>
        </div>
        <div>{{$t('teacherOffice.dateOfCheck')}}</div>
      </div>
      <div class="column is-1"></div>
    </div>
    <div class="check-task__body">
      <div class="check-task__list">
        <div class="check-task__item columns" v-for="item in list" :key="item.id">
          <div class="column" :class="{ computedTaskType: 'is-3' }">
            {{ computedTaskType ? item.student_id : item.id }}
          </div>
          <div class="column" :class="{ computedTaskType: 'is-3' }">
            {{ computedTaskType ? item.type : item.title && item.title.substr(0, 25) + "..." }}
          </div>
          <div class="column" :class="{ computedTaskType: 'is-3' }">
            {{ computedTaskType ? item.created_at : item.answer_date }}
          </div>
          <div :class="['column is-2', +item.mark < 50 ? 'red' : +item.mark > 50 && +item.mark < 80 ? 'yellow' : +item.mark > 80 ? 'green' : null]">
            {{ item.mark ? item.mark + "/100" : "" }}
          </div>
          <div class="column is-2">
            {{ item.checked_date }}
          </div>
          <div :class="['column is-1 last-item', { check: item.checked_date || item.is_checked }]">
            <router-link
              tag="div"
              :to="{
                name: 'cabinetTeachersCheckTasksIdSubId',
                params: {
                  id: $route.params.id,
                  subId: item.id
                },
                query: {
                  type: $route.query.type,
                  [computedTaskType ? 'title' : '']: item.type,
                  [computedTaskType ? 'answerId' : '']: item.id
                }
              }"
            >
              <d-icon v-if="!computedTaskType" :icon="item.checked_date != '' ? 'chek2' : 'left-arrow2'" class="size-2 white" />
              <d-icon v-else :icon="item.is_checked ? 'chek2' : 'left-arrow2'" class="size-2 white" />
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex"

export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper")
  },
  data() {
    return {
      list: [],
      loading: false
    }
  },
  watch: {
    $route: {
      handler: "fetch",
      immediate: true
    }
  },
  computed: {
    computedTaskType() {
      return this.$route.query.type == "task" ? true : this.$route.query.type == "hometask" ? false : null
    }
  },
  methods: {
    ...mapActions("teacherTaskCheck", ["getTaskAnswerDetail", "getHomeTaskAnswerDetail"]),
    fetch() {
      this.loading = true
      if (this.$route.query.type == "task") {
        this.getTaskAnswerDetail({ id: this.$route.params.id }).then(res => (this.list = (res && res.results) || []))
      }

      if (this.$route.query.type == "hometask") {
        this.getHomeTaskAnswerDetail({ id: this.$route.params.id }).then(res => (this.list = (res && res.results) || []))
      }

      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.green {
  color: #42b874;
}

.yellow {
  color: #ffcb85;
}

.red {
  color: #ff7285;
}

.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
}

.check-task {
  &__header {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    padding: 10px 0;
    &--item {
      div {
        text-align: center;
        color: $grey;
      }
    }
  }
  &__body {
    .check-task__list {
      .check-task__item {
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 4px;
        margin-top: 14px;
        .column {
          padding: 15px 30px;
          text-align: center;
        }
      }
    }
  }
}

.last-item {
  padding: 0 !important;
  div {
    background-color: #d1dae8;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.check {
  padding: 0 !important;
  div {
    background-color: #3d6ab7;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
