<template>
  <span>
    <!-- <d-modal
      title="Шаблон уведомления"
      @closemodal="closemodal"
      v-show="modalSeen"
      size="medium"
      class="grey-header"
    >
      <d-select
        placeholder="Выберите"
        title="Группы"
        :options="options"
        label="title"
        v-model="id"
        :reduce="(item) => item.id"
      >
      </d-select>
      <br />
      <d-select
        placeholder="Выберите"
        title="Слушатели"
        :options="options"
        label="title"
        v-model="id"
        :reduce="(item) => item.id"
      ></d-select>
      <br />
      <d-input title="Название" placeholder="Введите текст" />
      <br />
      <d-textarea
        placeholder="Введите текст"
        rows="7"
        title="Уведомление"
        :disabled="false"
        :readonly="false"
      />
      <br />
      <div class="modal-buttons">
        <div class="modal-buttons__cancel" @click="modalSeen = false">
          <d-button text="Отменить" class="grey" />
        </div>
        <div class="modal-buttons__save right">
          <d-button text="Сохранить" class="blue" />
        </div>
      </div>
    </d-modal> -->
    <!-- <div class="page-section notify columns is-multiline f-d-r"> -->
    <!-- <div
        class="card column is-4 d-flex justify-content-center h-w-300"
        @click="modalSeen = !modalSeen"
      >
        <div class="notify-plus__inner">
          <div class="notify-plus__icon">
            <div>
              <d-icon icon="accordion_plus" class="size-3" />
            </div>
            <p>Добавить</p>
          </div>
        </div>
      </div> -->
    <!-- <d-card v-for="item in list" :key="item.id" :data="item" class="column is-4" :isMoreIcon="false" />
      <div v-if="!list.length" class="is-empty">
        Пусто
      </div> -->
    <!-- </div> -->
    <!-- <div class="column is-3 py-0" v-for="(item, index) in list" :key="index"> -->
    <div class="notify">
      <d-card :data="item" :isMoreIcon="false" class="column is-4 py-0" v-for="(item, index) in list" :key="index" />
    </div>
    <!-- </div> -->
    <div v-if="!list.length" class="is-empty">
      {{ $t("studyDepartment.empty") }}
    </div>
  </span>
</template>

<script>
export default {
  components: {
    "d-card": () => import("@/components/NotifyBlocks")
    // "d-modal": () => import("@/components/Modal"),
    // "d-input": () => import("@/components/inputs/input"),
    // "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-textarea": () => import("@/components/inputs/textarea"),
    // "d-select": () => import("@/components/inputs/select"),
    // "d-button": () => import("@/components/buttons/loaderButton"),
  },
  data() {
    return {
      modalSeen: false,
      options: [
        {
          title: "test",
          id: 1
        },
        {
          title: "test",
          id: 2
        },
        {
          title: "test",
          id: 3
        },
        {
          title: "test",
          id: 4
        }
      ],
      id: null,
      list: []
    }
  },
  mounted() {
    this.fetchList()
  },
  methods: {
    closemodal() {
      this.modalSeen = false
    },
    fetchList() {
      this.$store.dispatch("studentNotification/getList").then((res) => {
        console.log(res)
        this.list = res.results
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  //flex-direction: row !important;
  align-items: flex-start;
}

.modal-buttons {
  display: flex;
  &__cancel {
    flex: 1;
  }
  &__save {
    flex: 1;
  }
}

.notify {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  & > div {
    margin: 10px;
  }
}
</style>
