<template>
  <div class="calinner">
    <h2 class="calinner__title">Расписание</h2>
    <center v-if="loading">
      <d-loader />
    </center>

    <template v-if="!loading">
      <div class="calinner__blocks">
        <div class="calinner__info px-0">
          <div class="columns flex-wrap">
            <div class="column">
              <d-tabs-underline :key="eventsList.length" btnClass="thumb-rounded" class="flex-1">
                <d-tabs-underline-item
                  v-for="(intervalItem, index) in eventsList"
                  :key="intervalItem.id || intervalItem.uuid"
                  :name="intervalItem.interval.id"
                  :tab="intervalItem.interval.start_time"
                >
                  <div class="mb-4">
                    <d-select
                      class="grey-2 rounded mb-4 input-height"
                      :placeholder="$t('studyDepartment.select')"
                      :title="$t('studyDepartment.module')"
                      :options="modulesList"
                      v-model="intervalItem.module"
                      :reduce="item => item"
                      :clearable="false"
                      @change="fetchModuleInfo(arguments[0], $$(intervalItem, 'interval', 'start_time'), index)"
                    >
                      <template #selected-option="props">
                        {{ $nt($$(props, "name") || {}) }}
                      </template>

                      <template #option="props">
                        {{ $nt($$(props, "name") || {}) }}
                      </template>
                    </d-select>
                  </div>

                  <div class="mb-4">
                    <d-select
                      :disabled="intervalItem.module && !intervalItem.module.id"
                      class="grey-2 rounded input-height"
                      :placeholder="$t('studyDepartment.select')"
                      :title="$t('studyDepartment.topic')"
                      :options="(moduleInfoProps[intervalItem.interval.start_time] || {}).topics || []"
                      :clearable="false"
                      label="name"
                      mil
                      v-model="intervalItem.topic"
                      :reduce="item => item"
                    />
                  </div>

                  <div class="mb-4">
                    <d-select
                      :disabled="intervalItem.module && !intervalItem.module.id"
                      class="grey-2 rounded input-height"
                      placeholder="Выберите препода"
                      :title="$t('studyDepartment.teacher')"
                      label="name"
                      :options="(moduleInfoProps[intervalItem.interval.start_time] || {}).teachers || []"
                      :clearable="false"
                      :value="intervalItem.teacher || moduleInfoProps[intervalItem.interval.start_time].rec_teacher"
                      :reduce="item => item"
                      @change="intervalItem.teacher = arguments[0]"
                    />
                  </div>

                  <div class="mb-0">
                    <d-select
                      class="grey-2 rounded input-height"
                      :placeholder="$t('studyDepartment.select')"
                      title="Аудитория"
                      :options="roomList"
                      :clearable="false"
                      label="name"
                      v-model="intervalItem.room"
                      :reduce="item => item"
                    />
                  </div>
                </d-tabs-underline-item>
              </d-tabs-underline>
            </div>
          </div>
        </div>
      </div>
      <div class="calinner__btns" v-show="!loading">
        <router-link :to="{ name: 'cabinetLearningScheduleId' }">
          <d-btn :text="$t('studyDepartment.cancel')" :disabled="pending" color="grey" rounded />
        </router-link>

        <d-btn :loading="pending" :text="$t('studyDepartment.save')" color="blue" rounded @click="submit" />
      </div>
    </template>

    <!-- <pre-draggable>{{ eventsList }}</pre-draggable> -->
  </div>
</template>
<script>
import select from "@/components/inputs/select"
import { mapState, mapActions } from "vuex"
import loaderButton from "@/components/buttons/loaderButton"
// import DateSelector from "@/components/inputs/date-selector";
// import WeekTab from "@/components/WeekTab";
// import DDate from "@/components/calendar/calendar3";

const defIntervalFormProps = () => ({
  teacher: {},
  room: {},
  interval: {},
  module: {},
  topic: {}
})

const errorsKeys = () => ({
  group: {
    "Group is busy.": {
      uz: "Guruh band",
      oz: "Гуруҳ банд",
      en: "Group is busy",
      ru: "Группа занята"
    }
  },
  teacher: {
    "Teacher is busy by group": {
      uz: "O'qituvchi guruh bilan band",
      oz: "Ўқитувчи гуруҳ билан банд",
      en: "Teacher is busy by group",
      ru: "Учитель занят группой"
    }
  },
  room: {
    "Room is busy by group": {
      uz: "Xona guruh bilan band",
      oz: "Хона гуруҳ билан банд",
      en: "Room is busy by group",
      ru: "Комната занята группой"
    }
  }
})

export default {
  components: {
    "d-select": select,
    "d-btn": loaderButton,

    DTabsUnderline: () => import("@/components/tabsUnderline"),
    DTabsUnderlineItem: () => import("@/components/tabsUnderline/item"),

    DLoader: () => import("@/components/loaders/spinner")
    // PreDraggable: () => import("@/components/PreDraggable"),
  },

  data() {
    return {
      defIntervalFormProps,
      errorsKeys,

      pickedDate: null,
      modulesList: [],
      weekTypeList: [],
      roomList: [],

      pending: false,
      loading: false,

      moduleInfoProps: {},
      eventsList: []
    }
  },

  mounted() {
    this.fetchRoomList().then(res => (this.roomList = res?.data?.results || []))
  },

  watch: {
    $route: {
      handler: "fetchOnLoaded",
      immediate: true
    }
  },

  methods: {
    ...mapActions("catalog", ["getInterval"]),

    ...mapActions("modules", {
      getModules: "fetchList",
      weekTypeByModuleId: "weekTypeByModuleId",
      fetchRoomList: "fetchRoomList"
    }),

    // ...mapActions("scheduleGroupsEvents", [
    //   "createSchedule",
    //   "createScheduleRepeat",
    // ]),

    ...mapActions("scheduleConstructor", [
      "fetchShortmoduleListByGroupId",
      "fetchModuleIfoById",
      "fetchEventListByModuleScheduleGroupId",
      "validateForm",
      "submitConstructorForm"
    ]),

    async fetchOnLoaded() {
      this.loading = true
      try {
        this.fetchShortmoduleListByGroupId({
          groupId: this.$route.params.id
        }).then(res => {
          this.modulesList = res?.data?.results || []
        })

        await this.fetchEventListByModuleScheduleGroupId({
          groupId: this.$route.params.id,
          params: {
            date: this.$route.params.date
          }
        }).then(res => {
          this.eventsList = (res?.data?.results || []).map((item, index) => {
            if (item?.module?.id) {
              this.fetchModuleInfo(item.module, item.interval?.start_time?.slice(0, 5), index)
            }

            return {
              ...item,
              interval: {
                ...item.interval,
                start_time: item.interval?.start_time?.slice(0, 5)
              }
            }
          })
        })

        await this.getInterval({}).then(() => {
          if (this.intervalList?.length > this.eventsList.length) {
            const eventIntervalList = this.eventsList.map(item => item.interval.start_time)

            const intervalList = this.intervalList.filter(item => !eventIntervalList.includes(item.title))

            if (intervalList != 0) {
              intervalList.forEach(item => {
                const props = {
                  ...defIntervalFormProps(),
                  uuid: Math.random()
                    .toString()
                    .slice(2),
                  interval: {
                    id: item.tab,
                    start_time: item.title
                  }
                }
                this.eventsList = [...this.eventsList, props]
              })

              this.eventsList = this.eventsList.slice().sort((a, b) => {
                const t1 = a.interval.start_time + ":00",
                  t2 = b.interval.start_time + ":00"
                if (t1 < t2) return -1
                else if (t1 > t2) return 1
                return 0
              })
            }
          }
        })
      } catch (error) {
        console.error(error)
        this.loading = false
      }

      this.loading = false
    },

    fetchModuleInfo(module, intervalTime, intervalItemIndex) {
      this.$set(this.eventsList, intervalItemIndex, {
        ...this.eventsList[intervalItemIndex],
        topic: null
      })

      this.fetchModuleIfoById({
        moduleId: module.id
      }).then(res => {
        this.$set(this.moduleInfoProps, intervalTime, res?.data || {})
        this.$set(this.eventsList, intervalItemIndex, {
          ...this.eventsList[intervalItemIndex],
          topic: this.eventsList[intervalItemIndex].topic
        })
      })
    },

    isIntervalFormsFilled() {
      const keysToCheck = ["teacher", "room", "module", "topic"]

      const r = this.eventsList.filter((eventItem, index) => {
        const t = Object.keys(eventItem)
          .filter(key => key && keysToCheck.includes(key))
          .reduce((e, s) => ({ ...e, [s]: eventItem[s] }), {})

        const eventItemsKeys = Object.keys(t)
        const isSomePropFilled = eventItemsKeys.some(tItemKey => !!t[tItemKey]?.id)

        if (isSomePropFilled) {
          const res = eventItemsKeys.some(tItemKey => !t[tItemKey]?.id)

          if (res) {
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Заполните все поля в интервале ${eventItem.interval.start_time}`,
              color: "danger"
            })

            return {
              index,
              res
            }
          }
        }

        return null
      })

      // console.log("r", r);

      return r
    },

    async submit() {
      if (this.isIntervalFormsFilled() != 0) return

      this.pending = true

      Promise.all(
        this.eventsList
          .map(eventItem => {
            const { id, date } = this.$route.params
            const { interval, module, topic, teacher, room } = eventItem

            if (
              id && // group id
              interval.id &&
              module.id &&
              topic.id &&
              teacher.id &&
              room.id
            ) {
              return this.submitConstructorForm({
                id: eventItem.id || null,
                group: +id,
                date,
                interval: interval.id,
                module: module.id,
                topic: topic.id,
                teacher: teacher.id,
                room: room.id
              })
            }
          })
          .filter(item => item)
      )
        .then(res => {
          // console.log("res", res)
          let isErrorOccured = false
          if (res != 0) {
            res.forEach(el => {
              if (el.errors) {
                isErrorOccured = true
                this.pending = false

                const intervalProps = this.eventsList.find(eventItem => eventItem.interval.id == el.interval)
                // console.log(intervalProps)

                Object.keys(el.errors).forEach(key => {
                  const text = `${this.$nt(errorsKeys()[key][el.errors[key].detail])}`

                  // console.log("text", text)

                  if (intervalProps && text) {
                    this.$store.dispatch("snackbar/changeToasts", {
                      text: `${intervalProps.interval.start_time} ${text}`,
                      color: "danger"
                    })
                  }
                })
              }
            })
          }

          if (isErrorOccured) return

          if (res != 0) {
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Успешно сохранено`,
              color: "success"
            })
          } else {
            this.$store.dispatch("snackbar/changeToasts", {
              text: `Нечего сохранять`
            })
          }
          this.pending = false
        })
        .catch(err => {
          console.error(err)
          this.pending = false
        })
    },

    fetchWeekType() {
      const disciplineId = this.form?.module_course

      if (disciplineId) {
        this.weekTypeByModuleId({
          disciplineId
        }).then(res => {
          this.weekTypeList = res?.data?.results || []
        })
      }
    }
  },

  computed: {
    ...mapState({
      intervalList: state => state.catalog.intervalList || []
    })
  }
}
</script>
