<template>
  <div id="app">
    <router-view />

    <d-toasts />
  </div>
</template>
<script>
import Toasts from "@/components/Toasts"
export default {
  components: {
    "d-toasts": Toasts
  },

  mounted() {
    document.addEventListener("click", function(event) {
      // console.log('click detail', event.target.tagName);
      if (!event.target.classList.contains("custom-dropdown__trigger"))
        document.dispatchEvent(
          new CustomEvent("hello", {
            detail: { open: false }
          })
        )
    })

    // // // // // // // // // //
    // Axios redirect handler  //
    // // // // // // // // // //
    document.addEventListener(
      "d-router-redirect",
      function(event) {
        const routeName = ((event && event.detail) || {}).name || "index"
        // console.log("event", event);
        // console.log("$route.name", this.$route.name);
        // console.log("routeName", routeName);

        if (routeName == this.$route.name) {
          console.warn("Can't navigate to same route")
          return
        }

        this.$router.replace(
          {
            name: routeName,
            query: {
              ...this.$route.query,
              redirect: this.$route.fullPath
            }
          },
          () => {}
        )
      }.bind(this)
    )
  }
}
</script>
