<template>
  <div class="links">
    <div class="links__header">
      <div class="links__header__title">Ссылки на ресурсы</div>
      <!--      <div class="links__header__filter">-->
      <!--        <span>Модуль:</span>-->
      <!--        <d-select-->
      <!--          class="grey rounded links__header__select"-->
      <!--          placeholder="Введите текст"-->
      <!--          :options="filter"-->
      <!--          label="title"-->
      <!--          v-model="filterValue"-->
      <!--          :reduce="item => item.id"-->
      <!--        />-->
      <!--      </div>-->
    </div>
    <div class="links__list">
      <d-lists :loading="loading" :len="list && list.length" dashedHeader>
        <template #header>
          <div class="columns">
            <div class="column is-4"><span>Отправитель</span></div>

            <div class="column is-3">
              <span>{{ $t("teacherOffice.title") }}</span>
            </div>
            <div class="column is-3">
              <span>{{ $t("studyDepartment.module") }}</span>
            </div>
            <div class="column">
              <span>{{ $t("studentOffice.dateOfSending") }}</span>
            </div>
          </div>
        </template>

        <template #content>
          <router-link
            tag="div"
            v-for="item in list"
            :key="item.id"
            :to="{
              name: 'cabinetStudentsLibraryIdVideo',
              params: { id: item.media_id }
            }"
            class="columns is-vcentered learning-prog__list"
          >
            <div class="column is-4">
              <div class="links__sender">
                <d-avatar cover :item="item.teacher"></d-avatar>
                <div class="links__sender__name">
                  {{ item.teacher.full_name }}
                </div>
              </div>
            </div>
            <div class="column is-3">
              {{ $gv(item.title) }}
            </div>
            <div class="column is-3">{{ $gv(item.module) }}</div>
            <div class="column">
              {{ $moment(item.created_at || "").format("DD.MM.YYYY") }}
            </div>
          </router-link>
        </template>
      </d-lists>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex"
import Lists from "@/components/Lists"
import Avatar from "@/components/Avatar"
// import select from "@/components/inputs/select";

export default {
  components: {
    "d-lists": Lists,
    "d-avatar": Avatar
    // "d-select": select
  },
  data() {
    return {
      list: [],
      filter: [],
      filterValue: null,
      loading: false
    }
  },
  watch: {
    $route: {
      handler() {
        this.fetchData()
      },
      immediate: true
    }
  },
  methods: {
    ...mapActions("studentLibrary", ["getLinks"]),
    fetchData() {
      this.loading = true
      this.getLinks("videomaterial").then((res) => {
        this.list = res
        this.loading = false
      })
    }
  }
}
</script>
