
<template>
  <span class="notify-container">
    <!-- Modal for using template -->
    <d-modal title="Отправить уведомления" @closemodal="closemodal" v-show="modalUseNotif" size="medium" class="grey-header">
      <d-select
        :placeholder="$t('studyDepartment.select')"
        :title="$t('studyDepartment.groups')"
        :options="groupList"
        multiple
        label="name"
        v-model="form.group"
        :reduce="(item) => item.id"
      ></d-select>
      <br />
      <!-- <d-select
        placeholder="Выберите"
        title="Слушатели"
        :options="userList"
        multiple
        label="name"
        v-model="form.receiver"
        :reduce="item => item.id"
      ></d-select> -->
      <d-pagination-select
        :placeholder="$t('studyDepartment.select')"
        multiple
        label="name"
        :fetch="true"
        v-if="modalUseNotif"
        :notifId="notifyId"
        module="learningNotificationTemplate/getUserList"
        v-model="form.receiver"
        :reduce="(item) => item"
      >
        {{ form.receiver.username }}
      </d-pagination-select>
      <br />
      <d-input :title="$t('teacherOffice.title')" :placeholder="$t('teacherOffice.enterTheText')" v-model="form.title" />
      <br />
      <d-textarea
        :placeholder="$t('teacherOffice.enterTheText')"
        rows="7"
        :title="$t('teacherOffice.notification')"
        v-model="form.body"
        :disabled="false"
        :readonly="false"
      />
      <br />
      <div class="modal-buttons">
        <div class="modal-buttons__cancel" @click="modalUseNotif = false">
          <d-button :text="$t('studyDepartment.cancel')" class="grey" />
        </div>
        <div class="modal-buttons__save right">
          <d-button text="Отправить" class="blue" @click="submitNotification" :disabled="!formFilled" />
        </div>
      </div>
    </d-modal>

    <!-- Modal for creating template -->
    <d-modal title="Шаблон уведомления" @closemodal="closemodal" v-show="modalSeen" size="medium" class="grey-header">
      <d-select
        :placeholder="$t('studyDepartment.select')"
        :title="$t('studyDepartment.groups')"
        :options="groupList"
        multiple
        label="name"
        v-model="form.group"
        :reduce="(item) => item.id"
      ></d-select>
      <!-- <br /> -->
      <!-- <d-select
        placeholder="Выберите"
        title="Слушатели"
        :options="userList"
        multiple
        label="name"
        v-model="form.reciever"
<<<<<<< HEAD
        :reduce="item => item.id"
      ></d-select>
=======
        :reduce="(item) => item.id"
      ></d-select> -->
      <!-- >>>>>>> 84164a01c91dba0b64db733c8085c06c220db9c6 -->

      <d-pagination-select
        :placeholder="$t('studyDepartment.select')"
        :title="$t('teacherOffice.listeners')"
        multiple
        v-if="modalSeen"
        label="name"
        module="learningNotificationTemplate/getUserList"
        v-model="form.receiver"
        :reduce="(item) => item"
      >
        <template #selected-option="props">
          {{ props.name }}
        </template>

        <template #option="props">
          {{ props.name }}
        </template>
      </d-pagination-select>

      <!-- <d-select
        placeholder="Выберите"
        title="Слушатели"
        :options="userList"
        multiple
        label="username"
        v-model="form.receiver"
        :reduce="(item) => item.id"
      ></d-select> -->
      <br />
      <d-input :title="$t('teacherOffice.title')" :placeholder="$t('teacherOffice.enterTheText')" v-model="form.title" />
      <br />
      <d-textarea
        :placeholder="$t('teacherOffice.enterTheText')"
        rows="7"
        :title="$t('teacherOffice.notification')"
        v-model="form.body"
        :disabled="false"
        :readonly="false"
      />
      <br />
      <div class="modal-buttons">
        <div class="modal-buttons__cancel" @click="modalSeen = false">
          <d-button :text="$t('studyDepartment.cancel')" class="grey" />
        </div>
        <div class="modal-buttons__save right">
          <d-button :text="$t('studyDepartment.save')" class="blue" @click="submitTemplate" :disabled="!formFilled" />
        </div>
      </div>
    </d-modal>
    <!-- Create new notify card -->
    <div class="notify columns is-multiline is-12">
      <div class="column is-3 py-0">
        <div class="card notify-card notify-plus d-flex justify-content-center" @click="modalSeen = !modalSeen">
          <div class="notify-plus__inner">
            <div class="notify-plus__icon">
              <div>
                <d-icon icon="accordion_plus" class="size-3" />
              </div>
              <p>{{ $t("studyDepartment.add") }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3 py-0" v-if="loading">
        <div class="card notify-card notify-plus d-flex justify-content-center" @click="modalSeen = !modalSeen">
          <center>
            <d-loader style="width: 40px; height: 40px" />
          </center>
        </div>
      </div>

      <div class="column is-3 py-0" v-for="(item, index) in list" :key="index">
        <d-card :data="item" @use="useTemplate" />
      </div>
    </div>
  </span>
</template>

<script>
// import { mapState } from "vuex";

export default {
  components: {
    "d-card": () => import("@/components/NotifyBlocks"),
    "d-modal": () => import("@/components/Modal"),
    "d-input": () => import("@/components/inputs/input"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-select": () => import("@/components/inputs/select"),
    "d-button": () => import("@/components/buttons/loaderButton"),

    // "d-pagination-select": () =>
    //   import("@/components/inputs/pagination-select"),
    "d-loader": () => import("@/components/loaders/spinner"),
    "d-pagination-select": () => import("@/components/inputs/pagination-select")
  },
  watch: {
    modalSeen: {
      handler(newVal) {
        if (!newVal) {
          // this.getLists()
          // this.fetchList()
          this.clearForm()
        }
      }
    },
    modalUseNotif: {
      handler(newVal) {
        if (!newVal) {
          // this.getLists()
          // this.fetchList()
          this.clearForm()
        }
      }
    }
  },
  data() {
    return {
      modalUseNotif: false,
      modalSeen: false,
      form: {
        group: [],
        receiver: [],
        title: "",
        body: ""
      },
      notifyId: null,
      userList: [],
      id: null,
      options: [
        {
          title: "test",
          id: 1
        },
        {
          title: "test",
          id: 2
        },
        {
          title: "test",
          id: 3
        },
        {
          title: "test",
          id: 4
        }
      ],
      list: [],
      loading: false,
      requesting: false,

      groupList: [],

      pagination: {
        page: 1,
        limit: 10
      }
    }
  },
  mounted() {
    this.getLists()
    this.fetchList()
    this.getUserList()
  },
  computed: {
    formFilled() {
      for (let key in this.form) {
        if (["receiver", "group"].includes(key) && (this.form.receiver.length != 0 || this.form.group.length != 0)) continue
        if (!this.form[key] || this.form[key].length == 0) {
          return false
        }
      }
      return true
    }
    // ...mapState({
    //   userList: (state) => state.learningNotificationTemplate.userList,
    // }),
  },
  methods: {
    // ...mapActions("teacherNotification", ["getUserList"]),

    clearForm() {
      this.form = {
        group: [],
        receiver: [],
        title: "",
        body: ""
      }
    },

    useTemplate(tempId) {
      this.modalUseNotif = true
      this.requesting = true
      this.notifyId = tempId
      let newForm = this.list.find((item) => item.id == tempId)
      for (let key in this.form) {
        if (key == "group" || key === "receiver") {
          this.form[key] = newForm[key].map((item) => item.id)
          continue
        }
        // if (key === "receiver") {
        //   let cloneForm = newForm[key]
        //   this.form[key] = ;
        //   continue;
        // }
        if (newForm[key]) this.form[key] = newForm[key]
      }
      // this.$store.dispatch(`notificationTemplate/getDetail`, tempId)
      //     .then((res) => {
      //       if(res) {
      //         this.loading = false
      //         this.form = res
      //       }
      //     })
      //     .catch(err => {
      //       console.log("Get req err", err);
      //       this.loading = false
      //     })
      this.requesting = false
    },

    closemodal() {
      this.modalSeen = false
      this.modalUseNotif = false
      this.form = {
        group: [],
        receiver: [],
        title: "",
        body: ""
      }
    },

    getLists() {
      this.$store
        .dispatch(`groups/getGroupList`)
        .then((res) => {
          if (res.data && res.data.results) {
            this.groupList = res.data.results
          }
        })
        .catch(() => {
          // console.log("Get req err", err);
        })

      // this.getUserList({});
    },
    getUserList() {
      this.$store.dispatch("teacherNotification/getUsersList").then((res) => {
        // console.log("userList notification -> ", res.results);
        let cloneList = res.results
        cloneList.forEach((item) => {
          // if (!item.name) {
          item.name = item.first_name + " " + item.last_name
          // }
        })
        this.userList = cloneList
      })
    },

    submitNotification() {
      this.requesting = true
      let newForm = {}
      for (let key in this.form) {
        // if (key == "receiver") {
        //   newForm[key] = this.form[key].map(item => item.id)
        //   continue
        // }
        newForm[key] = this.form[key]
      }
      this.$store
        .dispatch(`teacherNotification/createNotification`, newForm)
        .then((res) => {
          if (res && res.status == 201) {
            this.requesting = false
            this.modalUseNotif = false
            this.getLists()
            this.fetchList()
            this.clearForm()
          }
        })
        .catch(() => {
          // console.log("Get req err", err);
          this.requesting = false
        })
    },

    submitTemplate() {
      this.requesting = true
      let newForm = {}
      for (let key in this.form) {
        if (key == "receiver") {
          newForm[key] = this.form[key].map((item) => item.id)
          continue
        }
        newForm[key] = this.form[key]
      }
      this.$store
        .dispatch(`teacherNotification/createTemplate`, newForm)
        .then((res) => {
          if (res && res.status == 201) {
            this.requesting = false
            this.modalSeen = false
            this.getLists()
            this.fetchList()
            this.clearForm()
          }
        })
        .catch(() => {
          // console.log("Get req err", err);
          this.requesting = false
        })
    },

    fetchList() {
      this.loading = true
      this.$store
        .dispatch(`teacherNotification/getList`)
        .then((res) => {
          if (res.results) {
            this.loading = false
            this.list = res.results
          }
        })
        .catch(() => {
          // console.log("Get req err", err);
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  flex-direction: row !important;
  align-items: flex-start;
}

.modal-buttons {
  display: flex;
  &__cancel {
    flex: 1;
  }
  &__save {
    flex: 1;
  }
}

.notify {
  &-container {
    width: 100%;
  }

  max-width: 1600px;
  margin: 0 auto;
  & > div {
    &:nth-child(n + 5) {
      margin-top: 30px;
    }
  }
  .notify-plus {
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 340px;
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: #fff;
      color: #d3dbe8;
      border-radius: 4px;

      // box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      .notify-plus__icon {
        div {
          background-color: #d3dbe8;
          border-radius: 50%;
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          margin: 0 auto;
        }
        p {
          margin-top: 20px;
          color: #d3dbe8;
        }
      }
    }
  }
}
</style>