<template>
  <div class="page-section connection">
    <div class="title-row connection__header">
      <div class="main-title">
        <span>{{ $t("studyDepartment.courses") }}</span>
      </div>
    </div>
    <div class="connection__body">
      <d-lists dashed-header no-cursor-pointer :loading="loading" :len="list && list.length">
        <template #header>
          <div class="columns">
            <div class="column is-5"><span>Названия курса</span></div>
            <div class="column is-3"><span>{{$t('studyDepartment.questionsAboutTheCourse')}}</span></div>
            <div class="column is-3"><span>{{$t('studyDepartment.questionsAboutTheDisciplines')}}</span></div>
            <div class="column"></div>
          </div>
        </template>
        <template #content>
          <template>
            <router-link
              :to="{
                name: 'cabinetLearningConnectionId',
                params: { id: item.id }
              }"
              v-for="item in list"
              :key="item.id"
            >
              <div class="columns">
                <div class="column is-5">{{ $nt(item.name) }}</div>
                <div class="column is-3">
                  {{ item.course_question_count }}
                </div>
                <div class="column is-3">
                  {{ item.module_question_count }}
                </div>
                <div class="column connection__body--more right">
                  <d-dropdown>
                    <template #body>
                      <d-icon-wrapper icon="more" class="custom-dropdown__trigger" @click.native.prevent="dropdownToggle = !dropdownToggle" />
                    </template>
                    <template #dropdown-menu>
                      <li>
                        <router-link
                          :to="{
                            name: 'cabinetLearningConnectionIdQuestions',
                            params: { id: item.id },
                            query: {
                              name: $nt(item.name)
                            }
                          }"
                        >
                          <d-icon-wrapper style="width: 15px" icon="help-question"></d-icon-wrapper>
                          {{$t('studyDepartment.questions')}}
                        </router-link>
                      </li>
                    </template>
                  </d-dropdown>
                </div>
              </div>
            </router-link>
          </template>
        </template>
      </d-lists>
    </div>
    <div class="connection__footer right">
      <d-pagination @change="fetchList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
    </div>
  </div>
</template>

<script>
import variables from "@/assets/scss/base/_variables.scss"
import { mapActions, mapState } from "vuex"
export default {
  components: {
    "d-lists": () => import("@/components/Lists"),
    "d-icon-wrapper": () => import("@/components/icons/iconWrapper"),
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-pagination": () => import("@/components/PaginationInput")
  },
  data() {
    return {
      pagination: {
        page: 1,
        limit: 10
      },
      list: [],
      loading: false,
      dropdownToggle: false,
      iconColor: variables ? variables.grey : ""
    }
  },
  computed: {
    ...mapState({
      count: state => state.learningConnection.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    courseQuestion() {
      return function(item) {
        return item.question_course.length
      }
    },
    discQuestion() {
      return function(item) {
        let allQuestion = 0
        item.module.forEach(subitem => {
          allQuestion += subitem.question_module.length
        })
        return allQuestion
      }
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getListCourses"]),
    fetchList() {
      this.loading = true
      this.getListCourses({
        limit: this.pagination.limit,
        offset: this.offsetComputed
      }).then(res => {
        this.list = res
        this.loading = false
      })
    }
  },
  mounted() {
    this.fetchList()
  }
}
</script>
