<template>
  <div class="page-section check-task">
    <div class="columns">
      <div class="column">
        <h4 class="check-task__title mb-5">Гражданское судопроизводство</h4>
      </div>
      <div class="column">
        <div class="check-task__form columns mb-3">
          <div class="column is-8 check-task__form--title">Тип дисциплины:</div>
          <div class="column is-4 check-task__form--select width-230">
            <d-select
              class="white whitout_close"
              :placeholder="$t('teacherOffice.enterTheText')"
              :options="options"
              label="title"
              v-model="id"
              :reduce="item => item.id"
            ></d-select>
          </div>
        </div>
      </div>
    </div>
    <div class="check-task__header columns">
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.questionType')}}</div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.date')}}</div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.status')}}<d-icon icon="arrow-accordion" class="size-05 pt-1 ml-3 is-blue" /></div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.difficulty')}}<d-icon icon="arrow-accordion" class="size-05 pt-1 ml-3 is-blue" /></div>
      </div>
      <div class="column check-task__header--item">
        <div>Создатель</div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.validator')}}</div>
      </div>
      <div class="column check-task__header--item is-1">
        <button class="add-btn icon-btn" @click="openModal = !openModal">
          <d-icon icon="accordion_plus" />
          <span>
            {{ $t("studyDepartment.add") }}
          </span>
        </button>
      </div>
    </div>
    <div class="check-task__body">
      <div class="check-task__list">
        <div class="check-task__item columns" v-for="item in list" :key="item.id">
          <div class="column">{{ item.type }}</div>
          <div class="column">{{ item.date }}</div>
          <div class="column">
            <d-icon :icon="item.status === 'Одобрен' ? 'check' : item.status === 'Отклонен' ? 'close2' : null" class="status-icon size-1" />
            <span :class="[item.status === 'Одобрен' ? 'green' : item.status === 'Отклонен' ? 'red' : null]">{{ item.status }}</span>
          </div>
          <div class="column">
            <div
              :class="[
                'badge',
                item.difficult === 'hard' ? 'red-bg' : item.difficult === 'middle' ? 'yellow-bg' : item.difficult === 'easy' ? 'green-bg' : null
              ]"
            ></div>
          </div>
          <!-- <div
            :class="[
              'column is-2',
              +item.mark < 50
                ? 'red'
                : +item.mark > 50 && +item.mark < 80
                ? 'yellow'
                : +item.mark > 80
                ? 'green'
                : null,
            ]"
          >
            {{ item.mark ? item.mark + "/100" : "" }}
          </div> -->

          <div class="column pl-5">{{ item.creator }}</div>
          <div class="column pl-5">{{ item.tester }}</div>
          <div class="column is-1 last-item">
            <router-link
              tag="div"
              :to="{
                name: 'cabinetTestsModulesId',
                params: { id: item.id }
              }"
            >
              <d-icon icon="more" class="size-2 white icon-rotate-90" />
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-select": () => import("@/components/inputs/select")
  },
  data() {
    return {
      id: 1,
      options: [
        {
          title: "Специалисты пов...",
          id: 1
        },
        {
          title: "Специалисты пов...",
          id: 2
        },
        {
          title: "Специалисты пов...",
          id: 3
        },
        {
          title: "Специалисты пов...",
          id: 4
        }
      ],
      list: [
        {
          id: 1,
          type: this.$t('teacherOffice.case'),
          date: "28.03.2019",
          status: this.$t('teacherOffice.new'),
          difficult: "hard",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 2,
          type: "Интерактивный",
          date: "28.03.2019",
          status: "Одобрен",
          difficult: "middle",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 3,
          type: this.$t("studyDepartment.course"),
          date: "28.03.2019",
          status: this.$t('teacherOffice.rejected'),
          difficult: "easy",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 4,
          type: "Аналитика",
          date: "28.03.2019",
          status: this.$t('teacherOffice.rejected'),
          difficult: "easy",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 5,
          type: this.$t('teacherOffice.case'),
          date: "28.03.2019",
          status: "Одобрен",
          difficult: "hard",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 6,
          type: this.$t('teacherOffice.case'),
          date: "28.03.2019",
          status: this.$t('teacherOffice.new'),
          difficult: "hard",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 7,
          type: "Интерактивный",
          date: "28.03.2019",
          status: "Одобрен",
          difficult: "middle",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 8,
          type: this.$t("studyDepartment.course"),
          date: "28.03.2019",
          status: this.$t('teacherOffice.rejected'),
          difficult: "easy",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        },
        {
          id: 9,
          type: "Аналитика",
          date: "28.03.2019",
          status: this.$t('teacherOffice.rejected'),
          difficult: "easy",
          creator: "Ибрагимов А.И.",
          tester: "Ибрагимов А.И."
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.status-icon {
  margin-right: 8px;
}

.badge {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #ffca83;
}

.red {
  color: #fc5f74;
}

.green-bg {
  background-color: #42b874;
}

.yellow-bg {
  background-color: #ffcb85;
}

.red-bg {
  background-color: #ff7285;
}

.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
}

.check-task {
  &__title {
    color: $blue;
  }
  &__form {
    text-align: right;
    &--select {
      margin-top: -11px;
    }
  }
  &__header {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    padding: 6px 0;
    &--item {
      div {
        padding-left: 20px;
        color: $blue;
      }
    }
  }
  &__body {
    .check-task__list {
      .check-task__item {
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 4px;
        margin-top: 14px;
        .column {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.last-item {
  padding: 0 !important;
  div {
    background-color: $blue;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.check {
  padding: 0 !important;
  div {
    background-color: #3d6ab7;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
