<template>
  <div class="layout__full__page">
    <div>
      <h1 class="title is-1">403</h1>

      <h4 class="subtitle">Страница не доступна по вашей роли</h4>

      <div class="subtitle">
        <router-link :to="{ name: 'index' }">Вернуться на главную</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.layout__full__page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
