<template>
  <div class="wrapper">
    <d-sidebar />
    <d-header />

    <div class="content" :class="{ anime_content: $store.state.isOpen }">
      <div class="content-main">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import DSidebar from "@/components/Sidebar"
import DHeader from "@/components/Header"
export default {
  components: {
    DSidebar,
    DHeader
  }
}
</script>
