<template>
  <div class="login">
    <div class="login__wrapper">
      <div class="login__inner">
        <div class="login__form">
          <div class="login__header">
            <div class="login__logo">
              <img src="../assets/images/logo.svg" class="login__img" width="80" height="80" alt="" />
            </div>
            <div class="login__welcome">Добро пожаловать!</div>
          </div>
          <div class="login__body">
            <form @submit.prevent="login" class="forma">
              <div>
                <d-input icon="user" placeholder="Логин" size type="text" alignIcon="left" class="login__input" v-model="form.username" />
              </div>
              <div>
                <d-input
                  icon="password"
                  icon2="see-password"
                  placeholder="Пароль"
                  size
                  type="password"
                  alignIcon="both"
                  class="login__input"
                  v-model="form.password"
                />
              </div>
              <div>
                <d-button text="Войти" :disabled="loading" class="blue login__button" type="submit" />
              </div>
              <!-- <div>
                <d-button text="error" class="blue login__button" @click="getError"/>
              </div> -->
            </form>

            <div class="mt-4 has-text-centered p-2 has-text-danger" v-show="errorResponseText">
              {{ errorWords[errorResponseText] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const errorWords = {
  "No active account found with the given credentials": "Не найден пользователь с таким логином и паролем",

  username: "Поле логина не может быть пустым",
  password: "Пароль не может быть пустым"
}
export default {
  components: {
    "d-input": () => import("@/components/inputs/input"),
    "d-button": () => import("@/components/buttons/loaderButton")
  },
  data() {
    return {
      errorWords,
      errorResponseText: null,
      form: {
        username: "",
        password: ""
      },
      loading: false,
      oneIdUrl: `https://sso.gov.uz:8443/sso/oauth/Authorization.do?response_type=one_code&client_id=edu_sudya_uz&redirect_uri=http://${window.location.hostname}:${window.location.port}/one-id-code&scope=edu_sudya_uz&state=testState`
    }
  },
  // methods: {
  //   getError() {
  //     this.$axios.get('https://cors-anywhere.herokuapp.com/https://httpstat.us/401')
  //   }
  // },
  methods: {
    async login() {
      this.errorResponseText = ""

      const emptyField = Object.keys(this.form).find(key => !this.form[key])

      if (emptyField) {
        this.errorResponseText = emptyField
        return
      }

      this.loading = true
      await this.$store
        .dispatch("auth/login", this.form)
        .then(() => {
          const navigatePath = this.$route.query.redirect || "/"
          // console.log("navigatePath", navigatePath)
          this.$nextTick(() => {
            this.$router.push({ path: navigatePath })
          })
        })
        .catch(err => {
          this.loading = false
          this.errorResponseText = ((err.response || {}).data || {}).detail || null
        })
      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.control.has-icons-right .input {
  padding-left: 3em;
}

.login {
  display: flex;
  height: 100vh;
  div {
    flex: 1;
  }
  &__bg {
    background-image: url("../assets/images/login_bg.png");
    background-size: cover;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100vh;
    .login__inner {
      width: 40%;
      max-height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .login__form {
        // height: 60vh;
        width: 200px;
        // margin-top: 20vh;
        .login__header {
          .login__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            .login__img {
              // margin-bottom: 20px;
              width: 120px;
              height: 120px;
            }
          }
          .login__welcome {
            text-align: center;
            margin-bottom: 20px;
          }
        }
        .login__body {
          width: 307px;
          margin: 0 auto;
          form {
            div {
              display: flex;
              justify-content: center;
              margin-top: 10px;

              &:nth-child(3) {
                margin-top: 30px;
                .login__button {
                  padding: 0 40px;
                }
              }
            }
          }
        }
        .login__footer {
          /* height: 20%; */
          display: flex;
          /* padding-top: 20%; */
          align-items: flex-start;
          justify-content: center;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          small {
            color: #c5cedd;
          }
        }
      }
    }
  }
}

.pt-4_a {
  color: #1761aa;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.forma {
  position: relative;
}
</style>
