<template>
  <div>loading...</div>
</template>

<script>
export default {
  mounted() {
    if (!this.$route.query.code) {
      this.$router.push({
        name: "login",
        query: { redirect: this.$route.fullPath }
      })
      return
    }

    console.log(this.$route.query.code)

    this.$store
      .dispatch("auth/getToken", {
        code: this.$route.query.code
      })
      .then(res => {
        // console.log("res auth/getToken", res);
        if (res && res.data && res.data.message == "authentication failed") {
          console.error("authentication failed")
          this.$router.replace({ name: "login" })
          return
        }
        this.$router.replace({ path: this.$route.query.redirect || "/" })
      })
      .catch(err => {
        console.error(err)
        this.$store.dispatch("auth/logout")
        this.$router.push({ name: "login" }, () => {})
      })
  }
}
</script>

<style></style>
