<template>
  <div class="refresh-token"><d-spinner /></div>
</template>

<script>
export default {
  components: {
    "d-spinner": () => import("@/components/loaders/spinner")
  },
  mounted() {
    this.$store.dispatch("auth/refreshToken").then(() => this.$router.replace({ path: this.$route.query.redirect || "/" }))
  }
}
</script>

<style>
.refresh-token {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
