<template>
  <div class="page-section">
    <div class="create-program">
      <div class="create-program__header">
        <div class="create-program__title">
          {{ computedTitle }}
        </div>
      </div>
      <d-loader-wrapper :loading="loading" :len="detail.length" class="create-program__body pt-5">
        <div class="my-4 px-3">
          <d-badge-tabs class="mt-5" v-model="langName" :options="$langPrefixes" />
        </div>
        <div class="columns">
          <div class="column pl-5 pr-5">
            <div class="mb-5">
              <d-input
                :title="$t('studentOffice.courseName')"
                :placeholder="$t('teacherOffice.enterTheText')"
                rounded
                class="grey"
                style="padding: 0"
                v-model="form.name[langName]"
              />
            </div>

            <div class="mb-5">
              <d-input
                :title="$t('studyDepartment.studyPeriod')"
                :placeholder="$t('teacherOffice.enterTheText')"
                rounded
                class="grey"
                style="padding: 0"
                v-model.number="form.duration"
              />
            </div>
            <div class="mb-5">
              <d-textarea
                :placeholder="$t('teacherOffice.enterTheText')"
                rows="7"
                class="grey"
                title="Анонс курса"
                :disabled="false"
                :readonly="false"
                v-model="form.anons[langName]"
                rounded
                fixed
              />
            </div>
          </div>
          <div class="column pr-5 pl-5">
            <div class="mb-5">
              <d-select
                class="grey-2 rounded input-height"
                :placeholder="$t('administrator.typeOfCourse')"
                :options="courseTypes"
                label="name"
                ml
                :title="$t('administrator.typeOfCourse')"
                v-model="form.course_type.id"
                :reduce="(item) => item.id"
              ></d-select>
            </div>
            <div class="mb-5">
              <d-textarea
                :placeholder="$t('teacherOffice.enterTheText')"
                rows="7"
                class="grey"
                title="Правила изучения курса"
                :disabled="false"
                :readonly="false"
                v-model="form.regulation[langName]"
                rounded
                fixed
              />
            </div>
          </div>
        </div>
      </d-loader-wrapper>
      <div class="create-program__footer">
        <div class="create-program-buttons columns">
          <div class="create-program-buttons__cancel column">
            <d-button :text="$t('studyDepartment.cancel')" class="grey" @click="$router.push({ name: 'cabinetLearningLearningProgram' })" rounded />
          </div>
          <div class="create-program-buttons__save column right">
            <d-button :text="$t('studyDepartment.save')" class="blue" @click="sendAction" rounded />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  components: {
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-badge-tabs": () => import("@/components/BadgeTabs"),
    "d-input": () => import("@/components/inputs/input"),
    "d-select": () => import("@/components/inputs/select"),
    "d-loader-wrapper": () => import("@/components/loaders/spinnerWrapper"),
    "d-textarea": () => import("@/components/inputs/textarea")
  },
  data: () => ({
    courseTypes: [],
    detail: {},
    langName: "",
    loading: false,
    form: {
      id: null,
      name: {
        uz: "",
        ru: ""
      },
      regulation: {
        uz: "",
        ru: ""
      },
      anons: {
        uz: "",
        ru: ""
      },
      duration: null,
      course_type: {}
    }
  }),
  watch: {
    $route: {
      handler: "fetchData",
      immediate: true
    }
  },
  computed: {
    computedTitle() {
      return (this.$route.query.id ? this.$t("studyDepartment.edit") : "Добавить") + " программу обучения"
    }
  },
  methods: {
    ...mapActions("learningLearningProgram", ["createOrUpdateCourse", "getDetailCourse", "getCourseTypeList"]),
    fetchData() {
      this.langName = this.$i18n.locale || "ru"

      if (this.$route.query.id) {
        this.loading = true

        this.getDetailCourse(this.$route.query.id)
          .then((res) => {
            this.detail = res
          })
          .then(() => {
            this.getCourseTypeList()
              .then((res) => {
                this.courseTypes = res

                const f = this.courseTypes.findIndex((item) => item.id == this.detail.course_type.id)

                if (f == -1) {
                  this.courseTypes = [
                    ...this.courseTypes,
                    {
                      id: this.detail.course_type.id,
                      name: this.detail.course_type.name
                    }
                  ]
                }
              })
              .then(() => {
                this.form.id = +this.$route.query.id || null

                this.form.name = this.detail.name
                this.form.regulation = this.detail.regulation
                this.form.anons = this.detail.anons
                this.form.course_type = this.detail.course_type
                this.form.duration = this.detail.duration

                const f = this.courseTypes.findIndex((item) => item.id == this.form.course_type.id)

                if (f == -1) {
                  this.courseTypes = [
                    ...this.courseTypes,
                    {
                      id: this.detail.course_type.id,
                      name: this.detail.course_type.name
                    }
                  ]
                }
              })
          })
          .then(() => {
            this.loading = false
          })
          .catch((err) => console.error(err))
      } else {
        this.getCourseTypeList().then((res) => {
          this.courseTypes = res
        })
      }
    },
    sendAction() {
      //Если бы не было св-ва course_type мы должны были использовать свойство set, чтобы он был реактивным
      // this.$set(this.form, "course_type", this.detail.course_type.id);
      this.form.course_type = this.form.course_type.id

      this.form.name = JSON.stringify(this.form.name)
      this.form.regulation = JSON.stringify(this.form.regulation)
      this.form.anons = JSON.stringify(this.form.anons)

      this.createOrUpdateCourse(this.form).then(() =>
        this.$router.push({ name: "cabinetLearningLearningProgram" }).catch((err) => console.error(err))
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.create-program {
  display: flex;
  flex: 1;
  flex-direction: column;
  &__header {
    color: $blue;
    font-size: 18px;
  }
  &__footer {
    margin-top: auto;
  }
}
</style>
