<template>
  <div class="page-section learning-prog">
    <d-modal title="Добавить программу" @closemodal="closemodal" v-show="modalSeen" size="small" class="grey-header">
      <d-input :title="$t('teacherOffice.title')" :placeholder="$t('teacherOffice.enterTheText')" rounded class="grey" />
      <br />
      <d-input :title="$t('studyDepartment.remoteControl')" :placeholder="$t('teacherOffice.enterTheText')" rounded class="grey" />
      <br />
      <d-input :title="$t('studyDepartment.leactures')" :placeholder="$t('teacherOffice.enterTheText')" rounded class="grey" />
      <br />
      <d-input :title="$t('studyDepartment.practice')" :placeholder="$t('teacherOffice.enterTheText')" rounded class="grey" />
      <br />
      <center>
        <d-button :text="$t('studyDepartment.save')" rounded class="blue" />
      </center>
    </d-modal>
    <div class="learning-prog__header">
      <div class="learning-prog__title">Программа обучения</div>
      <!-- <div class="list-popup" v-if="open">
        <div>
          <d-icon icon="student-dashbord" class="size-1 is-blue" />
          Анонсы
        </div>
        <div><d-icon icon="information" class="size-1 is-blue" /> Правила</div>
        <div><d-icon icon="" class="size-1 is-blue" /> Удалить</div>
        <div><d-icon icon="" class="size-1 is-blue" /> Редактировать</div>
      </div> -->
      <div class="learning-prog__search">
        <d-input
          icon="search"
          :placeholder="$t('studyDepartment.search')"
          size="small"
          type="text"
          alignIcon="right"
          @input="fetchList"
          v-model="researchInput"
        />
      </div>
    </div>
    <div class="learning-prog__body">
      <d-lists :loading="loading" :len="list && list.length" dashedHeader>
        <!-- Header types
          1) default grey header
          2) props "blue-header" -> blue header
         -->

        <template #header>
          <div class="columns">
            <div class="column is-5">
              <span>{{ $t("studyDepartment.courseName") }}</span>
            </div>
            <div class="column is-2">
              <span>{{ $t("studyDepartment.dateOfCreation") }}</span>
            </div>
            <div class="column is-2">
              <span>{{ $t("studyDepartment.typeOfActivity") }}</span>
            </div>
            <div class="column is-2"><span>Срок изучения</span></div>
            <div class="column right">
              <router-link tag="button" to="/cabinet/learning/learning-program/create" class="blue add-btn icon-btn" size="is-small">
                <template>
                  <d-icon icon="accordion_plus" />
                  <span> {{ $t("studyDepartment.add") }} </span>
                </template>
              </router-link>
            </div>
          </div>
        </template>

        <template #content>
          <router-link
            tag="div"
            v-for="item in list"
            :key="item.id"
            :to="{
              name: 'cabinetLearningLearningProgramId',
              params: { id: item.id }
            }"
            class="columns is-vcentered learning-prog__list"
          >
            <div class="column is-5">
              <div>{{ $nt(item.name) || "" }}</div>
              <div class="grey-text">{{ item.name[computedLocale] || "" }}</div>
            </div>
            <div class="column is-2">
              {{ $moment(item.created_at || "").format("DD.MM.YYYY") }}
            </div>
            <div class="column is-2">
              {{ $nt(item.course_type) || "" }}
            </div>
            <div class="column is-2">
              {{ item.duration + " недель" || "" }}
            </div>
            <div class="column right">
              <d-dropdown up>
                <!-- dropdown types
      1) default -> dropdown
      2) props "up" -> dropup
       -->
                <template #body>
                  <d-icon icon="more" style="width: 30px" class="custom-dropdown__trigger" @click="open = !open" />
                </template>
                <template #dropdown-menu>
                  <!-- <li>
                    <span><d-icon icon="student-dashbord" class="is-blue size-1" /> Анонсы</span>
                  </li> -->
                  <!-- <li>
                    <span>
                      <d-icon icon="information" class="is-blue size-1" />
                      Правила</span
                    >
                  </li> -->
                  <li @click="removeAction(item.id)">
                    <span><d-icon icon="bin" class="is-blue size-1" /> {{ $t("studyDepartment.delete") }} </span>
                  </li>
                  <router-link
                    tag="li"
                    :to="{
                      name: 'cabinetLearningLearningProgramCreate',
                      query: { id: item.id }
                    }"
                  >
                    <span><d-icon icon="teacher-pen" class="is-blue size-1" /> {{ $t("studyDepartment.edit") }}</span>
                  </router-link>
                </template>
              </d-dropdown>
            </div>
          </router-link>
        </template>
      </d-lists>
    </div>
    <div class="learning-prog__footer right">
      <d-pagination-input @change="fetchList" v-model="pagination.page" :total="count" :limit="pagination.limit" />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex"

export default {
  components: {
    "d-input": () => import("@/components/inputs/input"),
    "d-lists": () => import("@/components/Lists"),
    "d-pagination-input": () => import("@/components/PaginationInput"),
    "d-button": () => import("@/components/buttons/loaderButton"),
    "d-icon": () => import("@/components/icons/iconWrapper"),
    "d-dropdown": () => import("@/components/Dropdown"),
    "d-modal": () => import("@/components/Modal")
    // "d-loader-wrapper": () => import("@/components/loaders/spinnerWrapper"),
  },
  data() {
    return {
      open: false,
      modalSeen: false,
      list: [],
      loading: false,
      researchInput: "",
      pagination: {
        page: 1,
        limit: 10
      }
    }
  },
  computed: {
    ...mapState({
      count: (state) => state.learningLearningProgram.count
    }),
    offsetComputed() {
      return this.pagination.page < 2 ? 0 : this.pagination.page * this.pagination.limit - this.pagination.limit
    },
    computedLocale() {
      return this.$i18n.locale == "ru" ? "uz" : "ru"
    }
  },
  methods: {
    ...mapActions("learningLearningProgram", ["getCourseList", "removeCourse"]),
    closemodal() {
      this.modalSeen = false
    },
    fetchList() {
      this.loading = true

      this.getCourseList({
        search: this.researchInput,
        offset: this.offsetComputed,
        limit: this.pagination.limit
      })
        .then((res) => {
          this.list = res
          this.loading = false
        })
        .catch((err) => console.error(err))
    },
    removeAction(id) {
      this.removeCourse(id)
        .then(() => {
          this.fetchList()
        })
        .catch((err) => console.error(err))
    }
  },
  mounted() {
    this.fetchList()

    // console.log("$route", this.$router.mode);

    if (this.$router.mode == "hash") {
      if (/8080\/one-id-code/g.test(location.href)) {
        const codeStrfull = location.href.match(/code(=([^&#]*)|&|#|$)/)

        if (codeStrfull) {
          console.log("codeStrfull", codeStrfull)
          const code = codeStrfull[0].replace("code=", "")
          // console.log("codeStrfull", codeStrfull);
          console.log("code", code)

          location.href = "/#/one-id-code/?code=" + code
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.grey-text {
  color: $grey;
  display: block;
}

.custom-dropdown__trigger {
  transform: rotate(90deg);
  fill: #9aa6bb;
  width: 18px !important;
  position: relative;
  right: -10px;
}

svg.size-1 {
  margin: 2px;
}

.button.is-small {
  border-radius: 5px;
}

.column.right {
  button.button {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
}

.lists-wrapper-content {
  .right svg {
    margin-right: 20px;
    cursor: pointer;
  }
}

span.icon.is-right {
  svg {
    width: 12px !important;
    height: 12px !important;
  }
}

.plus-btn {
  position: relative;
  top: -5px;
  fill: #fff;
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;
  svg {
    width: 10px;
    height: 10px;
  }
}

.learning-prog {
  &__header {
    height: 50px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    .learning-prog__title {
      color: $blue;
      flex: 1;
      font-size: 18px;
    }
    .learning-prog__search {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
  &__body {
    .learning-prog__list {
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  &__footer {
    margin-top: auto;
  }
}
</style>
