<template>
  <div class="page-section page-section_pnone">
    <div class="register_subld">
      <div class="register__header">
        <d-breadcrumbs :menu-list="breadcrumbList" class="register__header__bcrumbs" />
      </div>
      <div class="register__teacher">
        <div class="register__teacher__info">
          <div class="register__teacher__img" v-if="teacher && teacher.image">
            <img :src="imageHolder" alt="Ava" />
          </div>
          <div v-else>Нет данные преподавателя</div>

          <div class="register__teacher__naming" v-if="teacher">
            <div class="register__teacher__name">
              {{ teacher.last_name || "" }} {{ teacher.first_name || "" }}
              {{ teacher.middle_name || "" }}
            </div>
            <div class="register__teacher__position">
              {{ teacher.access_level || "" }}
            </div>
          </div>

          <div class="register__teacher__naming" v-else>
            <div class="register__teacher__name"></div>
            <div class="register__teacher__position"></div>
          </div>
        </div>
        <div class="register__teacher__passed">
          <div class="register__teacher__status">
            <span>Лекция пройдена</span>
            <!-- <d-icon icon="check" class="register__teacher__statusicon" /> -->
          </div>
          <!-- <div class="register__teacher__date">
            <d-icon icon="time" class="register__teacher__dateicon" />
            <span>12.10.2020 8:30</span>
          </div> -->
        </div>
        <d-btn :text="$t('teacherOffice.comment')" rounded class="blue" />
      </div>
      <div class="register__table">
        <div class="register__theader">
          <router-link :to="{ name: 'cabinetLearningRegisterIdSubIdControl' }">
            <d-btn text="Контроль" rounded class="blue blue_control" />
          </router-link>
          <!-- <d-btn text="Посещаемость" rounded class="blue" /> -->
          <div class="register__theader__cal">
            <div class="register__theader__caltitle">Дата:</div>
            <d-date class="from-right no-left-margin" v-model="date" />
          </div>
          <div>
            <!-- <d-input placeholder="Не выбрано" title="Тема:" /> -->
          </div>
        </div>
        <div class="register__body is-full is-multiline">
          <d-list-wrapper v-if="dateDetail" :loading="loading" :len="data.students && data.students.length">
            <d-reg-table :list="data.students" />
          </d-list-wrapper>

          <d-list-wrapper v-else :loading="loading" :len="data.students && data.students.length">
            <d-attend-table :list="data.students" :events="data.events" register @keyModal="onExpelOrRetakeClick" />
          </d-list-wrapper>
        </div>
      </div>
    </div>

    <d-modal
      :seen="expelModal"
      size="small"
      :title="`Вы действительно хотите исключить?`"
      @closemodal=";(expelModal = false), (selectedStudent = null)"
    >
      <div class="is-flex">
        <d-btn class="directory__modal-delete" @click="expelItem" color="blue" :disabled="expelling" rounded text="Да" />
        <d-btn class="directory__modal-delete ml-3" @click="expelModal = false" color="grey" rounded text="Нет" />
      </div>
    </d-modal>

    <d-modal :seen="retakeModal" size="small" title="Пересдача" @closemodal=";(retakeModal = false), (selectedStudent = null)">
      <div class="add-group-modal">
        <d-textarea
          :placeholder="$t('teacherOffice.enterTheText')"
          rows="7"
          class="grey"
          :title="$t('teacherOffice.content')"
          :disabled="false"
          :readonly="false"
          v-model="retakeForm.description"
          rounded
          fixed
        />
        <div class="custom-title mt-0">День пересдачи</div>
        <d-date-selector v-model="retakeForm.date" grey class="modal-variant-1" />
        <div class="custom-title mt-0">Начало пересдачи</div>
        <d-input-time class="grey p-0 shadow with-btm-mrg" v-model="retakeForm.start_time" />
        <div class="custom-title mt-0">Конец пересдачи</div>
        <d-input-time class="grey p-0 shadow with-btm-mrg" v-model="retakeForm.end_time" />

        <d-btn
          class="directory__modal-btn"
          color="blue"
          :disabled="!fieldsFilled || retaking"
          @click="createRetake"
          rounded
          :text="$t('studyDepartment.save')"
        >
        </d-btn>
      </div>
    </d-modal>
  </div>
</template>
<script>
import RegTable from "@/components/tables/RegTable"
// import iconWrapper from "@/components/icons/iconWrapper";
import loaderButton from "@/components/buttons/loaderButton"
// import input from "@/components/inputs/input";
import calendar2 from "@/components/calendar/calendar4"

import AttendTable from "@/components/tables/AttendTable"

export default {
  components: {
    "d-breadcrumbs": () => import("@/components/Breadcrumbs"),
    "d-reg-table": RegTable,
    // "d-icon": iconWrapper,
    "d-btn": loaderButton,
    // "d-input": input,
    "d-date": calendar2,
    "d-attend-table": AttendTable,
    "d-list-wrapper": () => import("@/components/loaders/spinnerWrapper"),
    "d-modal": () => import("@/components/Modal"),

    "d-textarea": () => import("@/components/inputs/textarea"),
    "d-input-time": () => import("@/components/inputs/input-time"),
    "d-date-selector": () => import("@/components/inputs/date-selector")
  },
  watch: {
    date(newValue) {
      if (newValue) {
        this.params["date"] = newValue
        this.getList()
        this.dateDetail = true
      }
    },
    retakeModal(newValue) {
      if (!newValue) this.clearRetakeOrExpelForm()
    },
    expelModal(newValue) {
      if (!newValue) this.clearRetakeOrExpelForm()
    }
  },
  data() {
    return {
      expelling: false,
      retaking: false,
      loading: false,
      date: null,
      currLang: "ru",
      dateDetail: false,
      breadcrumbList: [],
      endDate: "",
      startDate: "",
      data: {},
      teacher: {},
      params: {},
      expelModal: false,
      retakeModal: false,
      selectedStudent: null,
      retakeForm: {
        retake_event: [],
        description: "",
        date: "",
        start_time: "",
        end_time: ""
      }
    }
  },
  computed: {
    fieldsFilled() {
      console.log("Alert")
      for (let key in this.retakeForm) {
        if (key == "retake_event" && this.retakeForm[key].length == 0) {
          console.log("Console 1", this.retakeForm[key].length)
          return false
        } else if (!this.retakeForm[key]) {
          console.log("Console 2")
          return false
        }
        console.log("123 lalalala kukukuku chichichi chachacha")
      }
      return true
    },
    imageHolder() {
      return this.teacher && this.teacher.image ? `https://edu.sudya.uz${this.teacher.image}` : require("@/assets/images/person.png")
    }
  },
  mounted() {
    this.getList()
  },
  methods: {
    clearRetakeOrExpelForm() {
      this.retakeForm = {
        retake_event: [],
        description: "",
        date: "",
        start_time: "",
        end_time: ""
      }

      this.selectedStudent = null
    },
    expelItem() {
      if (this.selectedStudent) {
        this.expelling = true
        this.$store
          .dispatch(`learningRegister/expelStudent`, {
            id: this.selectedStudent,
            payload: { is_student: false }
          })
          .then((res) => {
            if (res && res.status) {
              this.expelModal = false
              this.getList()
              this.clearRetakeOrExpelForm()
            }
            this.expelling = false
          })
          .catch((err) => {
            console.log("Req del err", err)
            this.expelling = false
          })
      }
    },
    createRetake() {
      this.retaking = true
      this.$store
        .dispatch(`learningRegister/retakeCreate`, this.retakeForm)
        .then((res) => {
          if (res && res.status) {
            this.retakeModal = false
            this.getList()
            this.clearRetakeOrExpelForm()
          }
          this.retaking = false
        })
        .catch((err) => {
          console.log("Req del err", err)
          this.retaking = false
        })
    },
    onExpelOrRetakeClick(key, studentIdOrJournalIds) {
      console.log("key", key)
      this[key] = true
      if (key == "retakeModal") {
        this.retakeForm.retake_event = studentIdOrJournalIds
        return
      }
      this.selectedStudent = studentIdOrJournalIds
    },
    getList() {
      this.loading = true
      this.$store
        .dispatch("learningRegister/getModuleDetail", {
          id: this.$route.params.subId,
          params: this.params
        })
        .then((data) => {
          if (data) {
            this.data = data
            this.teacher = data.teacher[0]
            if (data.events && data.events.length) {
              // this.startDate = data.events[0].date
              // this.endDate = data.events[data.events.length - 1].date
            }
          }

          if (this.data.group && this.breadcrumbList.length == 0) {
            this.breadcrumbList.push({
              title: this.data.group.name
              // link: "#",
            })
            this.breadcrumbList.push({
              title: this.data.module_course.name[this.currLang]
              // link: "#",
            })
          }
          this.loading = false
        })
        .catch((err) => {
          console.log("err", err)
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss">
@import "~@/assets/scss/base/_mixins.scss";
.with-btm-mrg {
  margin-bottom: 30px;
}
.page-section {
  &_pnone {
    background-color: transparent !important;
    box-shadow: 0 0 !important;
    flex-direction: row !important;
    padding: 0 !important;
    width: 100%;
  }
  .register {
    &_subld {
      flex: 1;
      background: transparent;
      box-shadow: none;
      padding: 0;
      width: 100%;

      display: flex;
      flex-direction: column;
      .blue,
      .grey {
        height: 34px;
        &_control {
          margin-right: 30px;
        }
      }
      .datetimepicker-dummy .datetimepicker-clear-button {
        display: none;
      }
      .datetimepicker-dummy {
        height: 32px;
      }
      .datetimepicker-dummy::before,
      .datetimepicker-dummy:before {
        background-color: #2e5998 !important;
        /* transform: scale(0.8) !important; */
        mask: url(~@/assets/icons/student-calendar.svg) !important;
        mask-repeat: no-repeat !important;
        mask-position: center !important;
        top: 50% !important;
        transform: translateY(-50%);
        // right: 16px !important;
        // left: unset !important;
      }
      .datetimepicker-dummy .datetimepicker-dummy-wrapper {
        background: transparent !important;
      }
      // .datetimepicker-dummy
      //   .datetimepicker-dummy-wrapper
      //   .datetimepicker-dummy-input:first-child {
      //   // text-indent: 14px !important;
      // }
      // .datetimepicker-dummy
      //   .datetimepicker-dummy-wrapper
      //   .datetimepicker-dummy-input {
      //max-width: 70% !important;
      // }

      .datetimepicker-dummy .datetimepicker-dummy-wrapper {
        border-color: #dae0e9 !important;
        border-radius: 4px;
        height: 32px !important;
      }
      .datetimepicker-dummy .datetimepicker-dummy-wrapper .datetimepicker-dummy-input {
        max-width: 163px !important;
        padding-bottom: 2px;
      }

      .datetimepicker .datepicker-body .datepicker-months .datepicker-month.is-active,
      .datetimepicker .datepicker-body .datepicker-months .datepicker-year.is-active,
      .datetimepicker .datepicker-body .datepicker-years .datepicker-month.is-active,
      .datetimepicker .datepicker-body .datepicker-years .datepicker-year.is-active {
        background-color: #114980 !important;
        color: #fff !important;
        border-color: transparent !important;
      }
      //.datetimepicker-wrapper {
      //  position: relative;
      //}
      //.datetimepicker {
      //  position: absolute;
      //  bottom: 10px;
      //}
      .datetimepicker .datepicker-body .datepicker-months .datepicker-month:hover,
      .datetimepicker .datepicker-body .datepicker-months .datepicker-year:hover,
      .datetimepicker .datepicker-body .datepicker-years .datepicker-month:hover,
      .datetimepicker .datepicker-body .datepicker-years .datepicker-year:hover {
        border-color: transparent !important;
      }
      .datetimepicker.is-datetimepicker-default .datetimepicker-container:before {
        border-bottom-color: #fff;
        z-index: 1000;

        top: 1px !important;
      }
      .datetimepicker.is-datetimepicker-default .datetimepicker-container:after,
      .datetimepicker.is-datetimepicker-default .datetimepicker-container:before {
        bottom: unset;
        top: -7px !important;
        left: 49.5%;

        z-index: 1000;
        border: 1px solid #eaedf3;
        border-right: none;
        border-bottom: none;
        background: #fff;
        width: 14px;
        height: 14px;
        transform: rotate(45deg);
      }
      .datepicker {
        width: 294px;
        border: 1px solid #eaedf3;
        background-color: #ffffff;
        &-nav {
          justify-content: center;
          .button {
            padding-left: 22px;
            padding-right: 22px;
          }
          .datepicker-nav-month {
            // color: $text-color;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: normal;
            line-height: normal;
          }
        }
      }
      .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
        background-color: #114980 !important;
        color: #fff !important;
        border-color: transparent !important;
      }

      .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today,
      .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
        color: #114980 !important;
        border-color: #114980 !important;
      }

      .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
        border-radius: 4px !important;
      }
    }
    &__teacher {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 19px 28px;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 8px;
      background-color: $white;
      margin-bottom: 26px;
      &__info {
        display: flex;
        align-items: center;
      }
      &__img {
        width: 41px;
        min-width: 41px;
        height: 41px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
        img {
          @include img;
        }
      }
      &__naming {
        display: flex;
        flex-direction: column;
      }
      &__name {
        color: #565a61;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: normal;
      }
      &__position {
        color: $grey;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: normal;
      }
      // &__passed {
      // }
      &__status {
        display: flex;
        align-items: center;
        span {
          margin-right: 8px;
          color: $text-color;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: normal;
          line-height: normal;
        }
      }
      &__statusicon {
        width: 15px;
        min-width: 15px;
        height: 15px;
      }
      &__date {
        display: flex;
        align-items: center;
      }
      &__dateicon {
        width: 12px;
        min-width: 12px;
        height: 12px;
        margin-right: 7px;
      }
    }
    &__blocks {
      display: flex;
      justify-content: space-between;
    }
    &__table {
      width: 100%;
      background: $white;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      flex: 1;
      border-radius: 8px;
      padding: 25px 35px;
      &__teacher {
        width: 100%;
        background: $white;
        box-shadow: 0px 3px 10px #f9f9f924;
        border-radius: 8px;
      }
    }
    &__header {
      padding-top: 5px;
      margin-bottom: 15px;
      &__bcrumbs {
        li {
          a {
            color: $text-color;
          }
        }
      }
    }
    &__theader {
      display: flex;
      //justify-content: space-between;

      &__cal {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
      &__caltitle {
        margin-right: 9px;
      }
      .field {
        display: flex;
        align-items: center;
        margin-left: 40px;
        .mb-2 {
          margin-bottom: 0 !important;
          margin-right: 9px;
        }
        .input {
          height: 32px;
          border-radius: 5px;
          border: 1px solid #bdc7d8;
          color: $grey;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: normal;
          line-height: normal;
          padding-bottom: 9px;
        }
      }
    }
    &__body {
      padding-top: 24px;
    }
  }
}
</style>
