<template>
  <span v-if="list">
    <div
      v-for="(category, index) in list"
      :key="index"
      class="teachlib__bfilter-accordion"
      :class="[category.open ? 'teachlib__bfilter-accordion_selected' : 'teachlib__bfilter-accordion', { bfilter_margin: !category.children }]"
    >
      <div class="teachlib__bfilter-accordion__header">
        <div class="checkbox__wrapper">
          <span
            @click.stop="toggleOpen(category)"
            class="teachlib__bfilter-accordion__checkbox"
            :class="{
              'teachlib__bfilter-accordion__checkbox_blue': category.checked
            }"
          >
            <img v-if="category.checked" src="@/assets/images/check_tasks.png" alt="" />
          </span>
          <span @click.stop="openAccordion(category)">
            {{ typeof category.name === "string" ? category.name : $nt(category.name) }}
          </span>
        </div>
        <div @click.stop="openAccordion(category)">
          <d-icon
            v-if="category.children && category.children.length"
            icon="arow-down"
            class="arow-down"
            :class="{ 'arow-down_active': category.open }"
          />
        </div>
      </div>
      <div class="teachlib__bfilter-accordion__body bfilter__padding">
        <asideChecks @change="childChangeHandler(category)" :list="category.children" />
      </div>
    </div>
  </span>
</template>
<script>
import iconWrapper from "@/components/icons/iconWrapper"
import { mapActions } from "vuex"

export default {
  name: "asideChecks",
  props: {
    list: {
      type: Array
    }
  },
  components: {
    "d-icon": iconWrapper
  },

  data() {
    return {}
  },

  methods: {
    ...mapActions("teacherLibrary", ["setFilter"]),
    childChangeHandler(category) {
      category.checked = category.children && category.children.some(item => item.checked)
    },
    toggleOpen(category) {
      category.checked = !category.checked
      this.$emit("setCat", category)
      let t = JSON.parse(JSON.stringify(category))
      this.setFilter(t)
      if (category.children && category.children.length) {
        category.children.forEach(item => {
          if (item.checked) item.checked = category.checked
        })
        return
      }

      this.$emit("change", category.checked)
    },
    openAccordion(category) {
      category.open = !category.open
    }
  }
}
</script>
<style lang="scss">
.teachlib__bfilter-accordion {
  display: block;
  width: 100%;
}
</style>
