<template>
  <badger-accordion :options="{ openMultiplePanels: accordionOptions.accordionMultiple }" :icons="false" class="accordion">
    <badger-accordion-item v-for="item in list" :key="item.id" class="active">
      <template slot="header">
        <div class="columns is-full is-gapless accordion__header" @click="activeAc = !activeAc">
          <h3 class="accordion__header__title column is-11">
            {{ item.name && $nt(item.name) }}
          </h3>
          <!-- <span class="icon-right w-100 d-inline-block">
            <d-icon icon="teacher-pen" class="is-blue size-1" />
          </span> -->
          <div class="accordion__header__icon column is-1">
            <iconWrapper class="icon" icon="arrow-accordion" :height="12" />
          </div>
        </div>
      </template>
      <template slot="content">
        <div class="accordion__content">
          <div class="columns is-gapless accordion__content__title">
            <div class="column is-1">
              <span>№</span>
            </div>
            <div class="column is-5">
              <span>{{ $t("studyDepartment.topic") }}</span>
            </div>
            <div class="column is-4">
              <span>{{ $t("studyDepartment.numberOfQuestions") }}</span>
            </div>
            <div class="column is-2">
              <router-link
                tag="button"
                :to="{
                  name: 'cabinetLearningLearningProgramIdSubIdAddtheme',
                  query: { id: item.id }
                }"
                class="accordion__content__btn"
              >
                {{ $t("studyDepartment.change") }}
              </router-link>
            </div>
          </div>
          <div class="columns is-gapless accordion__content__list" v-for="el in item.lesson" :key="el.id">
            <div class="column is-1">
              <span>{{ el.lesson.id }}</span>
            </div>
            <div class="column is-5">
              <span>{{ el.lesson.name && $nt(el.lesson.name) }}</span>
            </div>
            <div class="column is-4">
              <span>{{ el.question_count }}</span>
            </div>
            <div class="column is-2">
              <!-- <router-link
                tag="button"
                :to="{
                  name: 'cabinetLearningLearningProgramIdSubIdIntermediate',
                  query: {
                    id: item.id,
                    subId: el.lesson.id,
                    breadcrumb1: breadcrumbs[0].title,
                    breadcrumb2: breadcrumbs[1].title,
                  },
                }"
              >
                <iconWrapper
                  class="accordion__content__icon"
                  icon="accordion_plus"
                />
              </router-link> -->
            </div>
          </div>
          <div class="columns is-gapless accordion__content__list" v-for="el in item.int_control" :key="el.id">
            <div class="column is-1">
              <span>{{ el.intermediate_control && el.intermediate_control.id }}</span>
            </div>
            <div class="column is-7">
              <span>{{ $nt(el.intermediate_control.name) }} ({{ $t("administrator.intermediateControl") }})</span>
            </div>
            <div class="column is-2">
              <span>
                {{ el.total_question_count }}
              </span>
            </div>
            <div class="column is-2">
              <router-link
                tag="button"
                :to="{
                  name: 'cabinetLearningLearningProgramIdSubIdIntermediate',
                  query: {
                    id: item.id,
                    subId: el.intermediate_control.id,
                    breadcrumb1: breadcrumbs[0].title,
                    breadcrumb2: breadcrumbs[1].title,
                    title: 'int_control'
                  }
                }"
              >
                <iconWrapper class="accordion__content__icon" icon="accordion_plus" />
              </router-link>
            </div>
          </div>

          <div class="columns is-gapless accordion__content__list" v-for="el in item.fin_control" :key="el.id">
            <div class="column is-1">
              <span>{{ el.final_control && el.final_control.id }}</span>
            </div>
            <div class="column is-7">
              <span>{{ $nt(el.final_control.name) }} (Итоговый контроль)</span>
            </div>
            <div class="column is-2">
              <span>
                {{ el.total_question_count }}
              </span>
            </div>
            <div class="column is-2">
              <router-link
                tag="button"
                :to="{
                  name: 'cabinetLearningLearningProgramIdSubIdIntermediate',
                  query: {
                    id: item.id,
                    subId: el.final_control.id,
                    breadcrumb1: breadcrumbs[0].title,
                    breadcrumb2: breadcrumbs[1].title,
                    title: 'fin_control'
                  }
                }"
              >
                <iconWrapper class="accordion__content__icon" icon="accordion_plus" />
              </router-link>
            </div>
          </div>
        </div>
      </template>
    </badger-accordion-item>
    <!-- <iconWrapper></iconWrapper> -->

    <!--    <pre>{{ accordionOptions }}</pre>-->
  </badger-accordion>
</template>
<script>
import iconWrapper from "@/components/icons/iconWrapper"
import { BadgerAccordion, BadgerAccordionItem } from "vue-badger-accordion"
export default {
  props: {
    list: {
      type: Array || {}
    },
    breadcrumbs: Array,
    accordionOptions: Object || {},
    accordionMultiple: Boolean
  },
  components: {
    iconWrapper,
    BadgerAccordion,
    BadgerAccordionItem
    // DIcon: () => import("@/components/icons/iconWrapper"),
  },
  data() {
    return {
      activeAc: false
    }
  }
}
</script>

<style lang="scss">
.left {
  display: flex;
  justify-content: flex-start !important;
}

.w-100 {
  width: 100%;
}

.d-inline-block {
  display: inline-block;
}

.icon-right {
  svg {
    float: right;
  }
}

.borderDashed {
  .accordion__content {
    border-top: 2px dashed #e1e6ed;
  }
}

.badger-accordion-toggle {
  padding: 0;
}

.accordion__content__btn {
  cursor: pointer;
}

.accordion {
  button {
    svg {
      width: 10px;
      height: 10px;
    }
  }
}
</style>
