<template>
  <div class="page-section">
    <div class="incident">
      <div class="con">
        <div class="title-row">
          <div class="main-title">
            <span>Информация</span>
          </div>
          <d-btn :text="$t('studyDepartment.edit')" color="blue" />
        </div>
        <div class="columns">
          <div class="column is-7">
            <div class="columns mb-3">
              <div class="column is-3 text-bold">
                {{$t('teacherOffice.date')}}:
              </div>
              <div class="column is-9">
                21.06.2018
              </div>
            </div>
            <div class="columns mb-3">
              <div class="column is-3 text-bold">
                {{$t('teacherOffice.creator')}}:
              </div>
              <div class="column is-8">
                Эркин Туйгунович Ходжиевич
              </div>
            </div>
            <div class="columns mb-3">
              <div class="column is-3 text-bold">
                {{$t('teacherOffice.status')}}:
              </div>
              <div class="column is-9">
                {{$t('teacherOffice.new')}}
              </div>
            </div>
            <div class="columns mb-3 is-vcentered">
              <div class="column is-3 text-bold">
                {{$t('teacherOffice.difficulty')}}:
              </div>
              <div class="column is-9 is-flex ">
                <div class="status">
                  <span>{{$t('teacherOffice.difficult')}}</span>
                  <div class="red-round"></div>
                </div>
              </div>
            </div>
            <div class="columns mb-3 is-vcentered">
              <div class="column is-3 text-bold">
                {{$t('teacherOffice.validator')}}:
              </div>
              <div class="column is-9 ">
                <div class="tester-avatar">
                  Ибрагимов А.И.
                  <d-avatar :item="item" width="38" height="38" cover />
                </div>
              </div>
            </div>
            <div class="columns m-0 mb-4">
              <d-text-block :title="$t('teacherOffice.question')" type="no-style" bold-title>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ad quia necessitatibus porro aut reprehenderit delectus et id nam.
                Praesentium corrupti fugit ex eaque eveniet enim repellat recusandae delectus consequatur id aliquid autem facere veritatis, neque
                accusamus aliquam distinctio perspiciatis cumque explicabo.
              </d-text-block>
            </div>
            <div class="columns m-0 mb-4">
              <d-text-block title="Ответ:" type="no-style" bold-title>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ad quia necessitatibus porro aut reprehenderit delectus et id nam.
                Praesentium corrupti fugit ex eaque eveniet enim repellat recusandae delectus consequatur id aliquid autem facere veritatis, neque
                accusamus aliquam distinctio perspiciatis cumque explicabo.
              </d-text-block>
            </div>
            <div class="columns m-0 mb-4">
              <d-text-block title="Коментарий:" type="no-style" bold-title>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ad quia necessitatibus porro aut reprehenderit delectus et id nam.
                Praesentium corrupti fugit ex eaque eveniet enim repellat recusandae delectus consequatur id aliquid autem facere veritatis, neque
                accusamus aliquam distinctio perspiciatis cumque explicabo.
              </d-text-block>
            </div>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-text-block": () => import("@/components/questionAnswer/textBlock"),
    "d-avatar": () => import("@/components/Avatar"),
    // "d-answerList": () => import("@/components/questionAnswer/answerList"),
    // "d-textarea": () => import("@/components/inputs/textarea"),
    // "d-input": () => import("@/components/inputs/input"),
    // "d-checkbox": () => import("@/components/inputs/checkbox"),
    "d-btn": () => import("@/components/buttons/loaderButton")
  },
  data() {
    return {
      status: [
        { id: 1, level: "Одобренный", checked: false },
        { id: 2, level: "Не одобренный", checked: false }
      ],
      item: {
        src: require("@/assets/images/unnamed.jpg")
      },
      arr: [
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "bad" },
        { id: 1, checked: "" },
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "" },
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "" },
        { id: 1, checked: "nice" },
        { id: 1, checked: "middle" },
        { id: 1, checked: "bad" }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.incidentbox-block {
  div {
    display: inline-block;
    margin-right: 10px;
    & > span {
      color: $grey;
    }
  }
}

.red-round {
  background-color: #ff4d4d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.is-green {
  color: #8fdb86 !important;
}

.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: row !important;
  .incident {
    display: flex;
    width: 100%;
    flex-direction: row;
    .title-row {
      margin-bottom: 20px;
    }
    .status {
      display: flex;
      align-items: center;
      span {
        margin-right: 20px;
      }
    }
    .tester-avatar {
      display: flex;
      align-items: center;

      img {
        margin-left: 20px;
      }
    }
    &__title {
      color: #2e5898;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .con {
      flex: 5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px 20px 50px;
      display: flex;
      flex-direction: column;
      .incident__footer {
        margin-top: auto;
      }
    }
    .right-aside {
      flex: 1.5;
      background-color: #fff;
      box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
      border-radius: 4px;
      padding: 20px 30px;
      margin: 0 20px;
    }
  }
}
</style>
