<template>
  <div class="page-section check-task">
    <div class="title-row">
      <div class="main-title text-bold">
        <span>Право международных договоров</span>
      </div>
    </div>
    <d-analytics class="mb-4" />
    <div class="check-task__header columns mt-1 mx-0">
      <div class="column check-task__header--item is-3">
        <div>{{$t('teacherOffice.question')}}</div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.date')}}</div>
      </div>
      <div class="column check-task__header--item">
        <div>
          {{$t('teacherOffice.status')}}
          <d-icon icon="arrow-accordion" class="size-05 pt-1 ml-1 is-blue" />
        </div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.difficulty')}}<d-icon icon="arrow-accordion" class="size-05 pt-1 ml-2 is-blue" /></div>
      </div>

      <div class="column check-task__header--item">
        <div>
          Создатель
        </div>
      </div>
      <div class="column check-task__header--item">
        <div>{{$t('teacherOffice.validator')}}</div>
      </div>
      <div class="column check-task__header--item is-1">
        <router-link :to="{ name: 'cabinetTestsQuestionsIdCreate' }" tag="button" class="add-btn icon-btn">
          <d-icon icon="accordion_plus" class="m-0" />
        </router-link>
      </div>
    </div>
    <div class="check-task__body">
      <div class="check-task__list">
        <router-link
          tag="div"
          :to="{
            name: 'cabinetTestsQuestionsIdSubId',
            params: { id: $route.params.id, subId: item.id }
          }"
          class="check-task__item columns mx-0"
          v-for="item in list"
          :key="item.id"
        >
          <div class="column is-3 my-3">{{ item.name }}</div>
          <div class="column">{{ item.date }}</div>
          <div class="column">
            <d-icon
              :icon="
                item.status.name === 'Одобрен' ? 'check' : item.status.name === 'Отклонен' ? 'close2' : item.status.name === 'Новый' ? 'tick2' : null
              "
              class="status-icon size-1"
            />
            <span
              :class="[
                item.status.name === 'Одобрен' ? 'green' : item.status.name === 'Отклонен' ? 'red' : item.status.name === 'Новый' ? 'yellow' : null
              ]"
              >{{ item.status.name }}</span
            >
          </div>
          <div class="column">
            <div
              :class="[
                'badge',
                item.difficult === 'hard' ? 'red-bg' : item.difficult === 'middle' ? 'yellow-bg' : item.difficult === 'easy' ? 'green-bg' : null
              ]"
            ></div>
          </div>

          <div class="column">
            {{ item.creator }}
          </div>
          <div class="column">{{ item.tester }}</div>
          <div class="column is-1 last-item">
            <div>
              <d-icon icon="more" class="size-2 white icon-rotate-90" />
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper"),
    // "d-input": () => import("@/components/inputs/input"),
    "d-analytics": () => import("@/components/Analytics")
  },
  data() {
    return {
      id: 1,
      options: [
        {
          title: "Специалисты пов...",
          id: 1
        },
        {
          title: "Специалисты пов...",
          id: 2
        },
        {
          title: "Специалисты пов...",
          id: 3
        },
        {
          title: "Специалисты пов...",
          id: 4
        }
      ],
      list: [
        {
          id: 1,
          name: "Текст вопроса ...",
          difficult: "hard",
          date: "28.03.2019",
          status: {
            name: this.$t('teacherOffice.new'),
            id: 1
          },
          tester: "Ибрагимов А.И.",
          creator: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Текст вопроса ...",
          difficult: "middle",
          date: "28.03.2019",
          status: {
            name: "Одобрен",
            id: 1
          },
          tester: "Ибрагимов А.И.",
          creator: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Текст вопроса ...",
          difficult: "easy",
          date: "28.03.2019",
          status: {
            name: this.$t('teacherOffice.rejected'),
            id: 1
          },
          tester: "Ибрагимов А.И.",
          creator: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Текст вопроса ...",
          difficult: "easy",
          date: "28.03.2019",
          status: {
            name: this.$t('teacherOffice.rejected'),
            id: 1
          },
          tester: "Ибрагимов А.И.",
          creator: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Текст вопроса ...",
          difficult: "easy",
          date: "28.03.2019",
          status: {
            name: this.$t('teacherOffice.rejected'),
            id: 1
          },
          tester: "Ибрагимов А.И.",
          creator: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Текст вопроса ...",
          difficult: "easy",
          date: "28.03.2019",
          status: {
            name: this.$t('teacherOffice.rejected'),
            id: 1
          },
          tester: "Ибрагимов А.И.",
          creator: "Ибрагимов А.И."
        },
        {
          id: 1,
          name: "Текст вопроса ...",
          difficult: "easy",
          date: "28.03.2019",
          status: {
            name: this.$t('teacherOffice.rejected'),
            id: 1
          },
          tester: "Ибрагимов А.И.",
          creator: "Ибрагимов А.И."
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.columns:not(:last-child) {
  margin-bottom: 0 !important;
}

.status-icon {
  margin-right: 8px;
}

.badge {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #ffca83;
}

.red {
  color: #fc5f74;
}

.green-bg {
  background-color: #42b874;
}

.yellow-bg {
  background-color: #ffcb85;
}

.red-bg {
  background-color: #ff7285;
}

.page-section {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
}

.check-task {
  .title-row {
    margin-bottom: 20px;
  }

  &__title {
    color: $blue;
  }
  &__form {
    text-align: right;
    &--select {
      margin-top: -11px;
    }
  }
  &__header {
    padding: 6px 0;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
    border-radius: 4px;
    &--item {
      div {
        padding-left: 20px;
        color: $blue;
      }
    }
  }
  &__body {
    .check-task__list {
      .check-task__item {
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(161, 161, 161, 0.14);
        border-radius: 4px;
        margin-top: 14px;
        cursor: pointer;
        .column {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.last-item {
  padding: 0 !important;
  div {
    background-color: $blue;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.check {
  padding: 0 !important;
  div {
    background-color: #3d6ab7;
    width: 50%;
    margin-left: auto;
    border-radius: 0 4px 4px 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
