<template>
  <div class="feedback-detail-detail">
    <d-breadcrumbs :menu-list="breadcrumbList" not-link></d-breadcrumbs>
    <loading-progress v-if="loading" />
    <template v-if="!loading">
      <div class="feedback-detail-detail__person custom-card">
        <div class="feedback-detail-detail__person__avatar">
          <d-avatar :item="item" width="40" height="40" cover></d-avatar>
        </div>
        <div class="feedback-detail-detail__person__name">
          {{ profile }}
        </div>
      </div>

      <d-tabs :value="tab" :tab-list="tabList" @item="onTabChange" new-tabs>
        <template #tabs-right v-if="tab == 1">
          <div class="feedback-detail-detail__person__comments">
            <router-link :to="{ name: 'cabinetLearningConnectionIdSubIdComments' }">
              <d-btn :loading="false" text="Комментарии по курсу" color="blue2" />
            </router-link>
          </div>
        </template>

        <template #content>
          <div class="feedback-detail-detail__body custom-card" v-if="tab == 1">
            <div class="feedback-detail-detail__body__empty" v-if="questions.length == 0">{{ $t("studyDepartment.empty") }}</div>
            <d-multiple-choice :questions="questions" v-else />
          </div>

          <div class="feedback-detail-detail__body custom-card" v-if="tab == 2 && !$route.query.module">
            <div class="title-row">
              <div class="main-title text-bold">
                <span>{{ $t("studyDepartment.modules") }}</span>
              </div>
            </div>
            <div class="feedback-detail-detail__body__content">
              <d-lists :loading="loading" :len="listDiscipline && listDiscipline.length">
                <template #content>
                  <div v-for="item in listDiscipline" :key="item.id">
                    <div class="columns" @click="openModule(item.id)">
                      <div class="column">
                        {{ $nt(item.name) }}
                      </div>
                    </div>
                  </div>
                </template>
              </d-lists>
            </div>
          </div>

          <div class="feedback-detail-detail__body custom-card" v-if="$route.query.module">
            <loading-progress v-if="loadingModule" />
            <div class="feedback-detail-detail__body__empty" v-if="!loadingModule && empty">{{ $t("studyDepartment.empty") }}</div>
            <d-multiple-choice :questions="topicsQuestions" />
          </div>
        </template>
      </d-tabs>
    </template>
  </div>
</template>

<script>
import DBreadcrumbs from "@/components/Breadcrumbs"
import DTabs from "@/components/Tabs"
import DMultipleChoice from "@/components/MultipleChoiceQuestions"
import DBtn from "@/components/buttons/loaderButton"

import { mapActions } from "vuex"
export default {
  components: {
    DBreadcrumbs,
    DTabs,
    DMultipleChoice,
    DBtn,
    "d-avatar": () => import("@/components/Avatar"),
    "d-lists": () => import("@/components/Lists"),

    "loading-progress": () => import("@/components/Loading-progress")
  },
  data() {
    return {
      activeAc: false,
      module: false,
      profile: "",
      tab: 1,
      listDiscipline: [],
      item: {
        src: null
      },
      topicsQuestions: [],
      loading: true,
      loadingModule: true,
      empty: false,
      breadcrumbList: [
        {
          title: this.$t("studyDepartment.courseName"),
          link: { name: "cabinetLearningConnectionId" }
        },
        {
          title: "Имя пользователя",
          link: {
            name: "cabinetLearningConnectionIdSubId",
            query: { tab: 1 }
          }
        },
        {
          title: "Обратная связь по курсу",
          link: {
            name: "cabinetLearningConnectionIdSubId",
            query: { tab: 1 }
          }
        }
      ],
      options: [
        {
          title: "lyuboyasfasdgsdhgs",
          id: 1
        },
        {
          title: "big_master",
          id: 2
        },
        {
          title: "Zikoi5",
          id: 3
        },
        {
          title: "hhexio",
          id: 4
        }
      ],
      tabList: [
        {
          title: "Обратная связь по курсу",
          tab: 1
        },
        {
          title: "Обратная связь по дисциплинам",
          tab: 2
        }
      ],
      questions: []
    }
  },
  watch: {
    module: {
      handler() {
        if (this.module)
          this.breadcrumbList.push({
            title: this.topics[0].module && this.$nt(this.topics[0].module)
          })
        else this.breadcrumbList.splice(-1, 1)
      }
    },
    tab: {
      handler() {
        this.getQuestion({
          id: this.$route.params.id,
          subId: this.$route.params.subId
        }).then(response => {
          if (response && response.data) {
            // console.log("work")
            let res = response.data,
              profileData = res.student
            this.profile = profileData.first_name || profileData.second_name ? `${profileData.first_name} ${profileData.second_name}` : "Не заполнено"
            this.breadcrumbList[0].title = profileData ? this.$nt(profileData.course) : this.$t("studyDepartment.courseName")
            // ? (this.breadcrumbList[0].title = this.$nt(this.listDiscipline[0].course))
            // : (this.breadcrumbList[0].title =
            //     this.$nt(res[0].course[0].name));
            this.breadcrumbList[1].title = this.profile
            this.item.src = res.student.image
            this.questions = this.validTest(res.results)
            this.loading = false
          }
          this.getModules(this.$route.params.id).then(res => {
            if (res && res.data) {
              this.listDiscipline = res.data.results

              this.loading = false
            }
          })
          if (this.$route.query.tab) {
            this.onTabChange(this.$route.query, true)
          }
        })
      },
      immediate: true
    },
    $route: {
      handler() {
        if (this.$route.query.tab) {
          this.onTabChange(this.$route.query, true)
        }
        if (this.$route.query.module && this.$route.query.tab != 1) {
          this.openModule(this.$route.query.module)
        }
      },
      immediate: true
    }
  },
  methods: {
    ...mapActions("learningConnection", ["getQuestion", "getModules", "getModulesQuestion"]),
    onTabChange(item, concatQuery = false) {
      if (item.tab) {
        this.module = false
        this.tab = +item.tab
        const queryProps = concatQuery ? { ...this.$route.query, tab: item.tab } : { tab: item.tab }
        this.$router.push({ query: queryProps }, () => {})
      }
    },
    validTest(res) {
      res.forEach(item => {
        let variantItems = {}
        item.question.answers.forEach((subitem, index) => {
          variantItems[String.fromCharCode(65 + index)] = subitem.text
          if (subitem.id === item.answer.id) {
            item.right = String.fromCharCode(65 + index)
          }
        })
        item.variants = variantItems
        item.question = item.question.text
        delete item.answers
      })
      return res
    },
    openModule(id) {
      // this.getModules(this.$route.params.id).then(res => {
      //   if (res && res.data) {
      //     this.listDiscipline = res.data.results;
      //     this.loading = false;
      //   }
      // });
      this.getModulesQuestion({
        module_id: this.$route.query.module || id,
        student_id: this.$route.params.subId
      }).then(response => {
        if (response && response.data) {
          if (this.$route.query.module != id) {
            this.$router.push({
              query: { ...this.$route.query, module: id }
            })
          }
          let questions = response.data.results
          let countOfQuestion = 0
          this.topicsQuestions = this.validTest(questions)
          countOfQuestion += this.topicsQuestions.length
          if (!countOfQuestion) {
            this.empty = true
          }
          this.loadingModule = false
          // this.module = true;
        }
      })
    }
  }
}
</script>

<style lang="scss">
.feedback-detail-detail {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__person {
    margin-bottom: 25px;

    &.custom-card {
      display: flex;
      align-items: center;
      padding: 10px 30px;
    }

    &__avatar {
      display: flex;
      align-items: center;
      margin-right: 14px;
      // flex: none;
      // width: 60px;
    }

    // &__name {
    // }
  }

  .tabs-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .feedback-detail-detail__body {
      flex: 1;
      padding: 20px 30px;
      &__empty {
        font-size: 32px;
        text-align: center;
        margin-top: 20px;
      }
      &.module-content {
        padding: 0;

        .title-row {
          border-bottom: 1px dashed $dashedBorder;
        }

        .accordion__content {
          border-top: 1px dashed $dashedBorder;

          .feedback-date {
            flex: none;
            width: auto;
            margin-top: 10px;

            & > div {
              padding: 10px 20px;
              border-radius: 20px;
              border: 1px solid $dashedBorder;
              line-height: 1;
            }
          }
        }

        .accordion__header__icon {
          svg {
            width: 15px;
          }
        }
      }

      .title-row {
        padding-bottom: 15px;
      }

      &__content {
        .columns {
          color: $text-color;
          line-height: 2;
        }
      }
    }
  }

  .custom-tabs {
    margin-bottom: 25px;
    &-right {
      align-self: center;
    }
  }
}
</style>
