<template>
  <div class="videoconf">
    <div class="videoconf__block">
      <d-teacher-player v-if="role == 2" @changeModalSeen="modalSeen = $event" :stopTranslation="stopTranslation" :modalSeen="modalSeen" />
      <d-student-player v-else @changeModalSeen="modalSeen = $event" :stopTranslation="stopTranslation" :modalSeen="modalSeen" />
      <!--      <div class="videoconf__end">-->
      <!--        <div class="videoconf__end__lection">-->
      <!--          Хозяйственное процессуальное право лекция 1, введение-->
      <!--        </div>-->
      <!--        <d-modal-->
      <!--          @closemodal="modalSeen = false"-->
      <!--          v-show="modalSeen"-->
      <!--          size="small"-->
      <!--          class="videoconf__end__modal"-->
      <!--        >-->
      <!--          <div class="videoconf__end__mdbox">-->
      <!--            <div class="videoconf__end__mdtitle">-->
      <!--              Вы хотите закончить конференцию?-->
      <!--            </div>-->
      <!--            <div class="videoconf__end__btns">-->
      <!--              <d-btn text="Отмена" rounded color="grey" />-->
      <!--              <d-btn-->
      <!--                text="Завершить"-->
      <!--                rounded-->
      <!--                color="blue"-->
      <!--                @click="stopTranslation = !stopTranslation"-->
      <!--              />-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </d-modal>-->
      <!--        <button class="videoconf__end__btn">-->
      <!--          <span @click="modalSeen = !modalSeen">Завершить конференцию</span>-->
      <!--          <d-icon icon="video-exit" class="videoconf__end__icon" />-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
    <d-chat />
  </div>
</template>
<script>
// import iconWrapper from "@/components/icons/iconWrapper";
// import Modal from "@/components/Modal";
// import loaderButton from "@/components/buttons/loaderButton";
import Videoplayer from "@/components/videoconferation/Videoplayer"
import chat from "@/components/videoconferation/chat"
import StudentVideoconf from "@/components/videoconferation/StudentVideoconf"
import { mapState } from "vuex"

export default {
  components: {
    // "d-icon": iconWrapper,
    // "d-modal": Modal,
    // "d-btn": loaderButton,
    "d-teacher-player": Videoplayer,
    "d-student-player": StudentVideoconf,
    "d-chat": chat
  },
  data() {
    return {
      stopTranslation: false,
      modalSeen: false
    }
  },
  computed: {
    ...mapState({
      role: state => state.profile.fields.access_level
    }),
    name() {
      return function(participant) {
        if (participant && !participant.first_name && !participant.last_name && !participant.middle_name) {
          return "Не заполнено"
        }

        return `${participant.first_name} ${participant.last_name} ${participant.middle_name}`
      }
    }
  }
}
</script>
