<template>
  <div>
    <div class="columns" :class="{ child: isChild }" @click="showChildren">
      <div class="column">{{ $nt(item.name) }}</div>
      <div class="column is-2 directory__list--item__icons">
        <div>
          <d-icon icon="teacher-pen" @click.prevent="onEditClick(item)" />
        </div>
        <div>
          <d-icon icon="bin" @click.prevent="onDeleteClick(item)" />
        </div>
      </div>
    </div>
    <div v-if="showChild">
      <div v-for="child in children" :key="child.id">
        <recursive :item="child" isChild :onDeleteClick="onDeleteClick" :onEditClick="onEditClick" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Recursive",
  props: {
    item: {
      type: Object,
      default() {
        return {}
      }
    },
    onEditClick: {
      type: Function,
      defalut() {
        return null
      }
    },
    onDeleteClick: {
      type: Function,
      defalut() {
        return null
      }
    },
    isChild: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  components: {
    "d-icon": () => import("@/components/icons/iconWrapper")
  },
  data() {
    return {
      showChild: false,
      children: []
    }
  },

  mounted() {
    console.log(this.item)
  },
  methods: {
    showChildren() {
      this.$store.dispatch("catalog/getChildrenOfParentCategory", { id: this.item.id }).then(res => {
        console.log(res.data.children)
        this.children = res.data.children
      })
      // if (this.children) {
      this.showChild = !this.showChild
      // }
    }
  }
}
</script>

<style>
.child {
  padding-left: 20px;
}
</style>
